<div class="importCaption">Assembly</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.Assembly" placeholder="Assembly" aria-invalid="false">
</div>

<div class="importCaption">Class</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.Class" placeholder="Class" aria-invalid="false">
</div>

<div class="importCaption">Url</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.Url" placeholder="Url" aria-invalid="false">
</div>

<div class="importCaption">User</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.User" placeholder="User" aria-invalid="false">
</div>

<div class="importCaption">Password</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="password" ng-model="vm.Password" placeholder="Password" aria-invalid="false">
</div>

<div class="importCaption">API id</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.ApiId" placeholder="API id" aria-invalid="false">
</div>

<div class="importCaption">SMS from</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.SmsFrom" placeholder="SMS from" aria-invalid="false">
</div>

<div class="importCaption">Find success or error</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.FindSuccessOrError" placeholder="Find success or error" aria-invalid="false">
</div>

<div class="importCaption">Error code</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.ErrorCode" placeholder="Error code" aria-invalid="false">
</div>

<div class="importCaption">Success code</div>
<div>
	<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.SuccesCode" placeholder="Success code" aria-invalid="false">
</div>

<div class="importCaption">Skip search</div>
<div>
	<input class="ng-pristine ng-untouched ng-valid ng-empty" type="checkbox" ng-model="vm.SkipSearch" placeholder="Skip search" aria-invalid="false">
</div>

<div class="importCaption">Data</div>
<div>
	<textarea class="form-control" rows="9" ng-model="vm.Data">

	</textarea>
</div>

<div class="importCaption">
	<button class="btn btn-primary btn-default">Save</button>
</div>