<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
 <connectionStrings>
		<add name="ManagerConnectionString"
         connectionString="Data Source=.;Integrated Security=SSPI;Initial Catalog=StardustPerformanceTest;Application Name=StardustPerformance;Connection Timeout=300"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="TestDb" value="StardustPerformanceTest" />
		<add key="CreateScriptPath" value="..\..\..\Database\Create\" />
		<add key="ReleaseScriptPath" value="..\..\..\Database\ReleaseScript\" />
	</appSettings>
</configuration>