<div class="view-header">
	<div class="view-title" ng-if="!vm.isEditGroup">
		<h1><i class="mdi mdi-calendar"></i> <a href="#/resourceplanner">{{'Plans' | translate}}</a> / {{'CreatePlanningGroup' | translate}}
		</h1>
	</div>
	<div class="view-title" ng-if="vm.isEditGroup">
		<h1><i class="mdi mdi-calendar"></i> <a href="#/resourceplanner">{{'Plans' | translate}}</a> / <a href="#/resourceplanner/planninggroup/{{vm.planningGroupId}}/selectplanningperiod">{{vm.name}}</a> / {{'Edit' | translate}}</h1>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<form name="form" class="wfm-form">
			<div class="con-flex panel material-depth-1">
				<div class="con-row">
					<div class="con-flex">
						<label for="planningGroupNameId"><b translate>NameColon</b></label>
						<input type="text" maxlength="100" minlength="1" name="planningGroupName"
							   id="planningGroupNameId" autofocus autocomplete="off" ng-model="vm.name"
							   class="pg-setting-name" required=""/>
						<div ng-cloak class="animate-show"
							 ng-show="(form.$submitted || form.planningGroupName.$touched) && form.planningGroupName.$error.required">
							<div class="form-input-message formInvalidInput">{{'YouCannotHaveABlankName' | translate }}
							</div>
						</div>
					</div>
					<div class="con-flex">
						<label for="filtersId"><b translate>FiltersColon</b></label>
						<div id="filtersId" class="autosearch-input">
							<md-autocomplete md-input-name="filters" md-no-cache="true"
											 md-selected-item="selectedItem" md-search-text="vm.searchString"
											 placeholder="{{'SearchForSiteTeamSkillContract'|translate}}"
											 md-items="item in vm.inputFilterData()" md-item-text="item.Name"
											 md-selected-item-change="vm.selectResultItem(selectedItem)">
								<md-item-template>
									<div class="wfm-chip-wrap">
												<span class="wfm-chip">
													<span class="chip-handle">{{item.FilterType}}</span>
												<span class="chip-text">{{item.Name}}</span>
												</span>
									</div>
								</md-item-template>
								<md-not-found>
									<p translate>noSearchResults</p>
								</md-not-found>
							</md-autocomplete>
						</div>
						<div ng-cloak
							 ng-show="(form.$submitted || form.filters.$touched) && !vm.isValidFilters()">
							<span class="form-input-message formInvalidInput" translate>YouMustSelectAtLeastOneFilter</span>
						</div>
					</div>
				</div>
				<div class="con-row" ng-show="vm.selectedResults.length > 0">
					<div class="con-flex">
						<div translate>SelectedFiltersColon</div>
						<div class="wfm-chip-wrap" ng-repeat="selected in vm.selectedResults ">
						<span class="wfm-chip">
							<span class="chip-handle">{{selected.FilterType | translate}}</span>
							<span class="chip-text">{{selected.Name}}<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i></span>
						</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-flex panel material-depth-1">
				<label style="margin: 5px"><b>{{'PlanGroupScheduling' | translate}}:</b></label>
				<planning-group-settings-overview settings="vm.editPlanningGroup.Settings" preference-percent="vm.editPlanningGroup.PreferencePercent"></planning-group-settings-overview>
			</div>
			<div class="wfm-card-content" style="height: 62px;">
				<div style="float: left;">
					<button ng-if="vm.isEditGroup" class="wfm-btn wfm-btn-invis-default delete-plan-group"
							ng-click='vm.confirmDeleteModal=true;'>{{'Delete'|translate}}
					</button>
				</div>
				<div style="float: right;">
					<button class="wfm-btn wfm-btn-invis-default"
							ng-click="vm.cancel()">{{'Cancel'|translate}}</button>
					<button class="wfm-btn save-plan-group" ng-disabled="!vm.isValid || vm.requestSent"
							ng-class="{'wfm-btn-invis-primary':vm.isValid(),'wfm-btn-primary-disabled':!vm.isValid()}"
							ng-click="vm.persist()">
						{{'Save'|translate}}
					</button>
				</div>
				<div ng-cloak class="modal-box">
					<div ng-show="vm.confirmDeleteModal">
						<div class="modalbg">
							<div class="dialog-mini material-depth-1">
								<div class="modal-inner-content">
									<h3>{{'DeletePlanningGroup'| translate}}</h3>
									{{vm.deletePlanningGroupText}}
								</div>
								<div class="modal-actions">
									<aside>
										<button ng-click="vm.confirmDeleteModal=false"
												class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}
										</button>
										<button ng-click="vm.removePlanningGroup()" ng-disabled="vm.requestSent"
												class="wfm-btn wfm-btn-invis-primary confirm-delete-plan-group">
											{{'Delete'|translate}}
										</button>
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
