<div class="view-header" ng-hide="vm.editPlanGroup.Id">
	<div class="view-title">
		<h1><i class="mdi mdi-account-multiple"></i>{{'CreatePlanGroup' | translate}}</h1>
	</div>
</div>
<div class="view-header" ng-if="vm.editPlanGroup.Id">
	<div class="view-title">
		<h1><i class="mdi mdi-account-multiple"></i>{{'EditPlanGroup' | translate}}: {{vm.editPlanGroup.Name}}</h1>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<form name="form" class="wfm-form" novalidate>
						<div class="form-input-wrap">
							<label for="planningGroupName" translate>NameColon</label>
							<input type="text" name="planningGroupName" id="planningGroupName" autofocus autocomplete="off" ng-model="vm.name" ng-model-options="{ debounce: 500 }" />
							<p class="text-danger" ng-show="!vm.isValidName()" translate>
								NameRequired
							</p>
						</div>
					</form>
				</div>
				<div class="con-flex split-1-2">
					<div class="wfm-option form-input-wrap">
						<form name="autocomplete-form" class="autosearch-input">
							<md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-search-text="vm.searchString" placeholder="{{'SearchForPlanGroup'|translate}}"
											 md-items="item in vm.inputFilterData()" md-item-text="item.Name" md-selected-item-change="vm.selectResultItem(selectedItem)">
								<md-item-template>
									<div class="wfm-filter-selected">
										<div class="wfm-chip-wrap pp-filter-chip-wrap">
											<span class="wfm-chip">
												<span class="chip-handle">{{item.FilterType}}</span>
												<span class="chip-text">{{item.Name}}</span>
											</span>
										</div>
									</div>
								</md-item-template>
								<md-not-found>
									<p translate>noSearchResults</p>
								</md-not-found>
							</md-autocomplete>
						</form>
					</div>
					<p class="text-danger" ng-show="!vm.isValidFilters()">
						<span translate>ValidationforFilter</span>
					</p>
					<div ng-show="vm.selectedResults.length > 0">
						<p translate>SelectedFiltersColon</p>
						<div class="wfm-filter-selected">
							<div class="wfm-chip-wrap" ng-repeat="selected in vm.selectedResults ">
								<span class="wfm-chip">
									<span class="chip-handle">{{selected.FilterType | translate}}</span>
									<span class="chip-text">{{selected.Name}}<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="con-footer">
				<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancel()">{{'Cancel'|translate}}</button>
				<button ng-show="vm.editPlanGroup.Id" class="wfm-btn wfm-btn-invis-default delete-plan-group" ng-click='confirmModal1=true;'>{{'Delete'|translate}}</button>
				<button class="wfm-btn save-plan-group" ng-disabled="!vm.isValid" ng-class="{'wfm-btn-invis-primary':vm.isValid(),'wfm-btn-primary-disabled':!vm.isValid()}"
						ng-click="vm.persist()">
					{{'Save'|translate}}
	 			</button>
				<div ng-cloak class="modal-box">
					<div ng-cloak ng-show="confirmModal1">
						<div class="modalbg">
							<div class="dialog-mini material-depth-1">
								<div class="modal-inner-content">
									<h3>{{'DeletePlanGroup'| translate}}</h3>
									{{vm.deletePlanGroupText}}
								</div>
								<div class="modal-actions">
									<aside>
										<button ng-click="confirmModal1=false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
										<button ng-click="confirmModal1=false; vm.removePlanGroup(vm.editPlanGroup.Id)" class="wfm-btn wfm-btn-invis-primary confirm-delete-plan-group">{{'Delete'|translate}}</button>
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>