<div class="con-row">
	<div class="con-flex">
		<card-panel-list>
			<card-panel pre-open="true">
				<card-panel-header>
					<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
					<div class="header-flex">
						<b>{{'Basic Information' | translate}} </b>
					</div>
					<div class="header-flex">
						<span class="pp-validation-number">Total Agents: {{vm.planningGroup.AgentCount}}</span>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row demo-outline pg-setting-card-content">
						<div class="con-flex">
							<div class="con-row">
								<div class="con-flex" ng-if="vm.organizationFilters.length !== 0">
									<div class="pg-setting-mini-card-wrapper">
										<div class="pg-setting-mini-card-title line-center">
											<b>{{'Relative Organization' | translate}}</b>
										</div>
										<div class="con-row">
											<div class="con-flex" >
												<div class="wfm-chip-wrap" ng-repeat="filter in vm.organizationFilters">
													<span class="wfm-chip non-pointer">
														<span class="chip-handle">{{filter.FilterType | translate}}</span>
														<span class="chip-text">{{filter.Name}}</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="con-flex" ng-if="vm.skillFilters.length !== 0">
									<div class="pg-setting-mini-card-wrapper">
										<div class="pg-setting-mini-card-title line-center">
											<b>Relative Skill</b>
										</div>
										<div class="con-row">
											<div class="con-flex">
												<div class="wfm-chip-wrap" ng-repeat="filter in vm.skillFilters">
													<span class="wfm-chip non-pointer">
														<span class="chip-handle">{{filter.FilterType | translate}}</span>
														<span class="chip-text">{{filter.Name}}</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="con-flex" ng-if="vm.contractFilters.length !== 0"> 
									<div class="pg-setting-mini-card-wrapper">
										<div class="pg-setting-mini-card-title line-center">
											<b>Relative Contract</b>
										</div>
										<div class="con-row">
											<div class="con-flex">
												<div class="wfm-chip-wrap" ng-repeat="filter in vm.planningGroup.Filters | orderBy: '+FilterType' ">
													<span class="wfm-chip non-pointer" ng-if="filter.FilterType=='contract'">
														<span class="chip-handle">{{filter.FilterType | translate}}</span>
														<span class="chip-text">{{filter.Name}}</span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
		</card-panel-list>
	</div>
</div>