
body
{
	font-family:Segoe UI, Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
}

.Login 
{
	font-size: 14px;
	vertical-align: middle;
}

.LoginTextBox {
	width: 250px;
	height: 35px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding: 5px;
}

.btn {
	margin-right: 5px;
}

td {
	padding: 5px;
	background-color: white;
}
label {
	font-weight: normal;
}
.SignOut {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.TechnicalDetail
{
	font-size: small;
}
.TechnicalDetailHeader
{
	font-size: small;
	font-weight: bold;
	text-decoration:underline;
}
