IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[stage].[etl_stg_day_off_delete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [stage].[etl_stg_day_off_delete]
GO


CREATE PROCEDURE [stage].[etl_stg_day_off_delete]
AS
BEGIN
	SET NOCOUNT ON;

    TRUNCATE TABLE Stage.stg_day_off
END


