@using Teleopti.Ccc.UserTexts
@{
	 Layout = null;
}
<div class="ui-corner-all">
	<div>
		<p>
			xxNew password<br/>
			@Html.Password("password", string.Empty, new { placeholder = "xxNew password" })<br/>
			@Html.Password("passwordValidation", string.Empty, new { placeholder = "xxConfirm new password" })
			<label id="nonMatchingPassword" style="color: red; display:none">xxNew password don't match!</label>
		</p>
		<br/>
		<p>
			xxOld password<br/>
			@Html.Password("oldPassword", string.Empty, new { placeholder = "xxOld password" })			
		</p>
		<br/>
		<p>
			<input type="button" value="xxSpara" id="passwordButton" disabled="disabled"/>
		</p>
	</div>
</div>

<script>
	$("input#password, input#passwordValidation, input#oldPassword").keyup(function () {
		var incorrectLabel = $("label#nonMatchingPassword");
		var passwordButton = $("input#passwordButton");
		var pw = $("input#password").val();
		var pw2 = $("input#passwordValidation").val();
		if (pw != pw2) {
			incorrectLabel.show();
			passwordButton.attr("disabled", "disabled");
		} else {
			incorrectLabel.hide();
			passwordButton.removeAttr("disabled");
		}
	});

	$("input#passwordButton").click(function () {
		_updatePassword($("input#oldPassword").val(), $("input#password").val());
	});

	function _updatePassword(oldPassword, newPassword) {
		var data = { OldPassword: oldPassword, NewPassword : newPassword };
		$.ajax({
			url: "Settings/ChangePassword",
			dataType: "json",
			contentType: 'application/json; charset=utf-8',
			type: "PUT",
			cache: false,
			data: JSON.stringify(data),
			success: function (data, textStatus, jqXHR) {

			},
			error: function (jqXHR, textStatus, errorThrown) {
				Teleopti.MyTimeWeb.Common.AjaxFailed(jqXHR, null, textStatus);
			}
		});
	}
</script>