@using Teleopti.Ccc.UserTexts
@{
	 Layout = null;
}
<div class="ui-corner-all">
	<div>
		nytt pw: @Html.Password("password", string.Empty, new { placeholder = Resources.Password })<br/>
		repeat nytt pw: @Html.Password("passwordValidation", string.Empty, new { placeholder = Resources.Password })<br/>
		old pw: @Html.Password("oldPassword", string.Empty, new { placeholder = "xxOld password" })
		
		<br/><br/>
		<input type="button" value="xxSpara" id="passwordButton"/>
	</div>
</div>

<script>
	$("input#passwordButton").click(function () {
		_updatePassword($("input#oldPassword").val(), $("input#password").val());
	});

	function _updatePassword(oldPassword, newPassword) {
		var data = { OldPassword: oldPassword, NewPassword : newPassword };
		$.ajax({
			url: "Settings/ChangePassword",
			dataType: "json",
			contentType: 'application/json; charset=utf-8',
			type: "PUT",
			cache: false,
			data: JSON.stringify(data),
			success: function (data, textStatus, jqXHR) {
				alert('done');
			},
			error: function (jqXHR, textStatus, errorThrown) {
				Teleopti.MyTimeWeb.Common.AjaxFailed(jqXHR, null, textStatus);
			}
		});
	}
</script>