@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}
<div id="settings" class="well well-small">
	<div class="clearfix">
		<label for="cultureUiSelect">@Resources.Language</label>
		<input type="hidden" id="CultureUi-Picker"/>
	</div>
	<br/>
    <div class="clearfix">
        <label for="cultureSelect">@Resources.DateFormat</label>
        <input type="hidden" id="Culture-Picker"/>
    </div>
</div>