<?xml version="1.0" encoding="utf-8" ?> 
<!--
To run desktop client against multiple installations,
add [nameOfInstallation].override.config file(s) in desktops bin/[debug|release] folder.
Here you can/should set installation specific app settings, see example below.

"nameOfInstallation" will be shown as a name to the end user when (s)he chooses what installation to use
-->

<appSettings>
	<add key="FeatureToggle" value="http://TheServer/TeleoptiWFM/Web/"/>
	<add key="TenantServer" value="http://TheServer/TeleoptiWFM/Web/"/>
	<add key="ReportServer" value="http://TheServer/TeleoptiWFM/Web/"/>
	<add key="ConfigServer" value="http://TheServer/TeleoptiWFM/Web/"/>
	<add key="MatrixWebSiteUrl" value="http://TheServer/TeleoptiWFM/Analytics/"/>
</appSettings>