<?xml version="1.0" encoding="utf-8" ?> 
<!--
To run desktop client against multiple installations,
add one [nameOfInstallation].override.config file in desktops bin/[debug|release] folder.
Here you can/should set installation specific app settings, see example below.

"nameOfInstallation" will be shown as a name to the end user when (s)he chooses what installation to use
-->

<appSettings>
	<add key="FeatureToggle" value="http://something1"/>
	<add key="TenantServer" value="http://something2"/>
	<add key="ReportServer" value="http://something3"/>
	<add key="ConfigServer" value="http://something4"/>
	<add key="MatrixWebSiteUrl" value="http://something5"/>
</appSettings>