<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net40" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="MbCache" version="2.6" targetFramework="net40" />
  <package id="Microsoft.Practices.CompositeUI" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Practices.CompositeUI.W" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Practices.ObjectBuilder" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net40" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4001" targetFramework="net40" />
  <package id="Syncfusion.Core" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Grid.Win" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Shared.Base" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Shared.Win" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Tools.Win" version="12.1.0.48" targetFramework="net40" />
</packages>