@using Teleopti.Analytics.ReportTexts
@{
	Layout = null;
}
<head>
	<title>@Resources.ResPermissionDenied</title>
	<link href="~/Areas/Reporting/Content/Styles/Styles.css" rel="stylesheet" />

</head>
<h2 style="margin-top: 15px; color: red">@Resources.ResPermissionDenied</h2>