<!DOCTYPE html>
<html lang="en">

<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WFM</title>
	<link rel="stylesheet" href="vendor/MaterialDesignIcons/css/materialdesignicons.min.css" media="none" onload="if(media!=='all')media='all'">
	<link href="vendor/open-sans/font.css" rel="stylesheet">
	<meta name="theme-color" content="#0099FF" />
	<link rel="manifest" href="manifest.webmanifest.json">
	<script type="text/javascript" src="appInsights.js"></script>
	<style>
		[ng-cloak] {
			 display: none;
		}
  </style>
</head>

<body ng-app="wfm" ng-show="isAuthenticated" ng-controller="MainController as main">
	<div id="nav" ng-include="'html/nav.html'" class="material-depth-1 navbar navbar-default navbar-static-top" role="navigation"></div>
	<div class="layout-container">

		<div class="main-menu" ng-controller="AreasController as vm">
			<h2 class="main-menu-ctrls">
				<label for="nav-left" ng-click="vm.mainMenuState = !vm.mainMenuState" class="pointer" id="main-menu-trigger">
					<div tabindex=0 class="context-menu card-context even-icon">
						<i class="mdi main-menu-trigger-icon text-white" ng-class="{'mdi-menu':!vm.mainMenuState, 'mdi-backburger':vm.mainMenuState}"></i>
						<md-tooltip ng-cloak>
							{{'Navigate'|translate}}
						</md-tooltip>
					</div>
				</label>
			</h2>
			<div ng-show="vm.mainMenuState" class="main-menu-slide main-menu-link-wrapper material-depth-1">
				<div ng-repeat="a in vm.areas">
					<mainmenu data="a" open="vm.mainMenuState" ng-click="vm.toggleMobileMenu();"></mainmenu>
				</div>
			</div>
		</div>

		<div id="materialcontainer" class="container content">
			<div ui-view></div>
			<wfm-notice notices="$parent.wfmNotices"></wfm-notice>
		</div>

	</div>
	<script type="text/javascript" src="index_desktop_client_mods.js"></script>

	<link id="themeDependencies" rel="stylesheet" href="dist/dependencies.css">
	<link id="themeStyleguide" rel="stylesheet" href="">
	<link id="themeAnt" rel="stylesheet" href="">
	<script type="text/javascript" src="theme-switcher.js"></script>
	<ng2-bootstrap></ng2-bootstrap>
	<!-- build:template
	<% if (environment === 'dev') { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<script src="dist/ng2/styles.js"></script>
	<script src="dist/ng2/vendor.js"></script>
	<script src="dist/ng2/main.js"></script>
	<% } else { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<link rel="stylesheet" href="dist/ng2/styles.css">
	<script src="dist/ng2/main.js"></script>
	<% } %>
	/build -->

	<!--dummy links to disable IE default alt-key shortcuts-->
	<div class="shortcut-trick-ie">
		<a href="javascript:void(0);" accesskey="a"></a>
		<a href="javascript:void(0);" accesskey="c"></a>
		<a href="javascript:void(0);" accesskey="e"></a>
		<a href="javascript:void(0);" accesskey="f"></a>
		<a href="javascript:void(0);" accesskey="h"></a>
		<a href="javascript:void(0);" accesskey="t"></a>
		<a href="javascript:void(0);" accesskey="v"></a>
		<a href="javascript:void(0);" accesskey="x"></a>
	</div>
</body>

</html>