<!DOCTYPE html>
<html ng-app="wfm">
<head lang="en">
	<script type="text/javascript">
		function iAmCalledFromFatClient() {
			document.getElementById('nav').style.display = 'none';
			document.getElementById('leftsidenav').style.display = 'none';
			document.getElementById('rightsidenav').style.display = 'none';
			document.getElementById('notice').style.display = 'none';
			document.getElementById('lefttoogle').style.display = 'none';
			document.getElementById('righttoogle').style.display = 'none';
			document.getElementById('materialcontainer').style["margin-top"] = '0';
			document.getElementById('materialcontainer').style.height = '100vh';

		}
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WFM</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/angular-ui-tree/dist/angular-ui-tree.min.css">
	<link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.min.css">
	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="vendor/MaterialDesignIcons/css/materialdesignicons.css" media="all" type="text/css" />
	<link rel="stylesheet" href="vendor/c3/c3.min.css" />
	<link rel="stylesheet" href="vendor/ng-mfb/mfb.css">
	<link rel="stylesheet" href="node_modules/angular-gantt/assets/angular-gantt.css" />
	<link rel="stylesheet" href="node_modules/angular-gantt/assets/angular-gantt-plugins.css"/>
	<link rel="stylesheet" href="node_modules/angular-gantt/assets/angular-gantt-table-plugin.css" />
	<link rel="stylesheet" href="node_modules/angular-gantt/assets/angular-gantt-tooltips-plugin.css" />

	<link rel="stylesheet" href="node_modules/teleopti-styleguide/css/main.min.css" />
	<link rel="stylesheet" href="dist/style.min.css">

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
	<script src="node_modules/angular-translate/dist/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
	<script src="node_modules/moment/min/moment-with-locales.min.js"></script>
	<script src="node_modules/angular-moment/angular-moment.min.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script src="node_modules/angular-ui-grid/ui-grid.min.js"></script>
	<script src="node_modules/angular-ui-indeterminate/dist/indeterminate.min.js"></script>
	<script src="node_modules/ngstorage/ngStorage.min.js"></script>
	<script src="node_modules/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
	<script src="node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-gantt/assets/angular-gantt.js"></script>
	<script src="node_modules/angular-gantt/assets/angular-gantt-plugins.js"></script>
	<script src="node_modules/angular-gantt/assets/angular-gantt-table-plugin.js"></script>
	<script src="node_modules/angular-gantt/assets/angular-gantt-tooltips-plugin.js"></script>

	<script src="vendor/hammerjs/hammer.min.js"></script>
	<script src="node_modules/angular-material/angular-material.min.js"></script>
	<script src="vendor/csv-js/csv.js"></script>
	<script src="js/ABmetrics.min.js"></script>

	<script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="vendor/angular-growl.js"></script>
	<script src="vendor/fabricjs/fabric.min.js"></script>
	<script src="vendor/fabricjs/fabricjs_viewport.js"></script>
	<script src="vendor/ng-mfb/mfb.directive.js"></script>

	<script src="vendor/ng-image-input-with-preview/ng-image-input-with-preview.js"></script>
	<script src="vendor/d3/d3.min.js"></script>
	<script src="vendor/c3/c3.min.js"></script>
	<script src="vendor/c3/c3-angular.min.js"></script>

	<script src="dist/main.min.js"></script>

	<script src="vendor/ui-bootstrap-custom-build/datepicker.directive.ext.js"></script>
	<script src="vendor/ui-bootstrap-custom-build/timepicker.directive.ext.js"></script>

</head>
<body ng-show="isAuthenticated" ng-cloak>
	<div id="nav" ng-include="'html/nav.html'" class="material-depth-1 navbar navbar-default navbar-static-top " role="navigation"></div>
	<div class="layout-container">
		<div id="leftsidenav" class="sidenav material-depth-1 left" ng-class="{'is-hidden':toggleLeftSide}">
			<div ng-include="'html/left-sidenav.html'"></div>
		</div>


		<div id="lefttoogle" class="sidenav-toggle">
			<div class="sidenav-wrapper left">
				<input type="checkbox" id="nav-left" ng-model="toggleLeftSide" />
				<label for="nav-left">
					<i class="mdi" ng-class=" {'mdi-fast-forward':toggleLeftSide, 'mdi-rewind':!toggleLeftSide}"></i>
				</label>
			</div>
		</div>
		<div id="materialcontainer" class="container content material-depth-1 material-block" ui-view></div>
		<!--move this to a smart place -->
		<div id="notice" ng-controller="NoticeCtrl" class="growl-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div growl></div>
					</div>
				</div>
			</div>
		</div>

		<div id="righttoogle" class="sidenav-toggle">
			<div class="sidenav-wrapper right">
				<input type="checkbox" id="nav-right" ng-model="toggleRightSide" />
				<label for="nav-right">
					<i class="mdi " ng-class="{'mdi-rewind':toggleRightSide, 'mdi-fast-forward':!toggleRightSide}"></i>
				</label>
			</div>
		</div>
		<div id="rightsidenav" class="sidenav material-depth-1 right" layout="column" ng-class="{'is-hidden':toggleRightSide}" >
			<span ng-include="'html/right-sidenav.html'"></span>
		</div>
	</div>
</body>
</html>