<!DOCTYPE html>
<html ng-app="wfm">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WFM</title>
	<link rel="stylesheet" href="vendor/MaterialDesignIcons/css/materialdesignicons.min.css">
	<link id="themeModules" rel="stylesheet" href="">
	<link id="themeStyle" rel="stylesheet" href="">
	<style>
		.loader{width:75px;height:75px;margin:5% auto 0;border:6px solid transparent;border-top:6px solid #09f;animation-name:spin;animation-duration:1s;animation-iteration-count:infinite;border-radius:50%;transform:rotate(0);overflow:hidden}@keyframes spin{from{transform:rotate(0)}to{transform:rotate(360deg)}}.backdrop{position:fixed;z-index:999999;left:0;right:0;bottom:0;top:0;background:#fff}
	</style>
</head>
<body ng-show="isAuthenticated" ng-cloak ng-controller="MainController as main">
	<div class="backdrop" ng-if="!main.styleIsFullyLoaded">
		<div class="loader"></div>
	</div>
	<div id="nav" ng-include="'html/nav.html'" class="material-depth-1 navbar navbar-default navbar-static-top " role="navigation"></div>
	<div class="layout-container">

		<div class="main-menu" ng-controller="AreasController as vm">
			<h2 class="main-menu-ctrls">
				<label for="nav-left" ng-click="vm.mainMenuState = !vm.mainMenuState" class="pointer" id="main-menu-trigger">
					<div tabindex=0 class="context-menu card-context">
						<i class="mdi main-menu-trigger-icon" ng-class="{'mdi-menu':!vm.mainMenuState, 'mdi-backburger':vm.mainMenuState}"></i>
						<md-tooltip>
							{{'Navigate'|translate}}
						</md-tooltip>
					</div>
				</label>
				<b class="pointer" ui-sref="main">Teleopti WFM
					<md-tooltip>
						{{'MainScreen' | translate}}
					</md-tooltip>
				</b>
		</h2>
		<div ng-controller="BusinessUnitsController as businessunit" ng-cloak class="bu-align">
			<div tabindex="0" class="businessunit-menu" id="business-unit-select">
				<span class="pointer" tabindex="0" ng-click="businessunit.toggleBuMenu();">
					<span ng-if="vm.detectMobile();">{{businessunit.data.selectedBu.Name}} <i class="mdi mdi-menu-down"></i></span>
					<span ng-if="!vm.detectMobile();"><i class="mdi mdi-vector-square"></i></span>

					<md-tooltip>
						{{'BusinessUnit'|translate}}
					</md-tooltip>
				</span>
				<span class="context-menu-bottom" ng-if="businessunit.buMenu">
					<ul class="wfm-list material-depth-2">
						<li ng-repeat="bu in businessunit.data.businessUnits" ng-cloak ng-click="businessunit.changeBusinessUnit(bu)">
							<i class="mdi mdi-vector-square businessunit-menu-icon"></i>
							{{bu.Name}}
						</li>
					</ul>
				</span>
			</div>
	</div>
			<div ng-show="vm.mainMenuState" class="main-menu-slide main-menu-link-wrapper material-depth-1">
				<div ng-repeat="a in vm.areas">
					<mainmenu ng-if="a.InternalName !=='myTime'" data="a" open="vm.mainMenuState" ng-click="vm.toggleMobileMenu();"></mainmenu>
					<a ng-if="vm.myTimeLinkEnabled && a.InternalName ==='myTime'" href="/TeleoptiWFM/web/mytime" target="_blank" ui-sref-opts="{reload: true}" ui-sref-active="main-menu-link-active nav-item-active">
						<div class="con-row main-menu-link">
							<div class="con-flex">
								<i class="mdi mdi-calendar-clock"></i>
								<span class="main-menu-label">{{a.Name}}</span>
							</div>
						</div>
					</a>
				</div>
			</div>
	</div>


	<div id="materialcontainer" class="container content">
		<div ui-view></div>
		<wfm-notice notices="$parent.wfmNotices"></wfm-notice>
	</div>

</div>

<script type="text/javascript">
function iAmCalledFromFatClient() {
	removeElements();
	expandMaterialContainer();
	changeToClassicTheme();
};

var removeElements = function() {
	var elementsToRemove = [
		document.getElementById('nav'),
		document.getElementById('leftsidenav'),
		document.getElementById('notice'),
		document.getElementById('lefttoogle')
	];

	elementsToRemove.forEach(function(elmt) {
		if (elmt) elmt.style.display = 'none';
	});
};

var expandMaterialContainer = function() {
	var materialcontainer = document.getElementById('materialcontainer');
	if (materialcontainer) {
		materialcontainer.style["margin-top"] = '0';
		materialcontainer.style.height = '100vh';
	}
};

var changeToClassicTheme = function() {
	if (angular.element(document.getElementById('darkTheme')).scope() == null || angular.element(document.getElementById('overlay')).scope() == null) {
		return;
	} else {
		angular.element(document.getElementById('darkTheme')).scope().toggleTheme('classic');
		angular.element(document.getElementById('overlay')).scope().toggleOverlay(false);
	}
};

</script>
<!-- build:template
<% if (environment === 'dev') { %>
<script src="dist/modules.js"></script>
<script src="dist/templates.js"></script>
<script src="dist/main.js"></script>
<% } else { %>
<script src="dist/modules.min.js"></script>
<script src="dist/templates.min.js"></script>
<script src="dist/main.min.js"></script>
<% } %>
/build -->

<!--dummy links to disable IE default alt-key shortcuts-->
<div class="shortcut-trick-ie">
	<a href="" accesskey="a"></a>
	<a href="" accesskey="c"></a>
	<a href="" accesskey="e"></a>
	<a href="" accesskey="f"></a>
	<a href="" accesskey="h"></a>
	<a href="" accesskey="t"></a>
	<a href="" accesskey="v"></a>
	<a href="" accesskey="x"></a>
</div>
</body>

</html>
