<div ng-show="vm.showProgress">
	<md-progress-linear md-mode="determinate" ng-value="vm.tracking.progress"></md-progress-linear>
	<p> {{vm.tracking.progress | number:0}}%</p>
</div>
<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-calendar"></i> {{ vm.CopyScheduleOrImportSchedule | translate}}
		</h1>
		<p> {{ vm.CopyScheduleOrImportSchedule + 'Description' | translate}}</p>
	</div>
	<div class="fab-wrapper">
		<button id="manage-btn" class="wfm-fab material-depth-1" ng-click="vm.validateAndShowModal(vm.selection.fromScenario, vm.selection.toScenario, vm.selection.period, vm.selection.teams)"
		 ng-disabled="!vm.canRunManaging()">
			<i class="mdi mdi-file-document"></i>
			<md-tooltip>{{ vm.isImportSchedule?'RunImporting':'Copy' | translate}}</md-tooltip>
		</button>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1" style="height: 100%;">
			<div class="con-row">
				<div class="con-flex inline-flex manage-schedule-period-picker">
					<wfm-date-range-picker ng-model="vm.selection.period" template-type="vm.dateRangeTemplateType" popup-mode="true"></wfm-date-range-picker>
				</div>
				<div class="con-flex inline-flex manage-schedule-scenario-picker">
					<div class="con-flex inline-flex manage-schedule-scenario-picker">
						<div layout="row" layout-align="space-between center" class="pull-right full-padding" ng-if="!vm.isImportSchedule">
							<span>{{'FromScenarioColon' | translate}}</span>
							<md-select class="inline-select from-scenario-selector pull-right" ng-model="vm.selection.fromScenario" placeholder="{{'Scenario' | translate}}">
								<md-option ng-repeat="scenario in vm.scenarios" ng-value="scenario">{{scenario.Name}}</md-option>
							</md-select>
							<span>{{'ToScenarioColon' | translate}}</span>
							<md-select class="inline-select to-scenario-selector pull-right" ng-model="vm.selection.toScenario" placeholder="{{'Scenario' | translate}}">
								<md-option ng-repeat="scenario in vm.scenarios | defaultScenario:false | filter:{ Id: '!' + vm.selection.fromScenario.Id}" ng-value="scenario">{{scenario.Name}}</md-option>
							</md-select>
						</div>
						<div layout="row" layout-align="space-between center" class="pull-right full-padding" ng-if="vm.isImportSchedule">
							<span>{{'FromScenarioColon' | translate}}</span>
							<md-select class="inline-select from-scenario-selector pull-right" ng-model="vm.selection.fromScenario" placeholder="{{'Scenario' | translate}}">
								<md-option ng-repeat="scenario in vm.scenarios | defaultScenario:false" ng-value="scenario">{{scenario.Name}}</md-option>
							</md-select>
							<span style="margin-left: 20px">{{'ToScenarioColon' | translate}}
								<b>{{vm.selection.toScenario.Name}}</b>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<tree-data-two ng-model="vm.orgTree" ng-change="vm.fecthSelectedTeamsId()" option="vm.option"></tree-data-two>
				</div>
			</div>
		</div>
		<div ng-cloak class="modal-box">
			<div ng-cloak ng-show="vm.showConfirmModal">
				<div class="modalbg">
					<div class="dialog">
						<div class="modal-inner-content">
							<h3>{{'AreYouSure' | translate}}</h3>
							{{vm.confirmationText}}
						</div>
						<div class="modal-actions">
							<aside>
								<button id="cancel-managing" ng-click="vm.showConfirmModal=false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
								<button id="confirm-managing" ng-click="vm.runManaging(vm.selection.fromScenario, vm.selection.toScenario, vm.selection.period, vm.selection.teams)"
								 class="wfm-btn wfm-btn-invis-primary">{{'Run'|translate}}</button>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>