<ul class="wfm-list">
	<li ng-click="toggleOrganizationSelection(this)" ng-class="{dataHeader: node.ChildNodes.length > 0, 'non-selectable-list-item': !node.Choosable}">
		<span class="list-item-container">
			{{node.Name}}
		</span>
		<span ng-cloak ng-show="node.selected" class="list-dot"><b class="mdi mdi-check list-mark"></b></span>
	</li>
</ul>

<ol ui-tree-nodes="" ng-model="node.ChildNodes" class="padding-reset hierarchy-teams">
	<li ng-repeat="node in node.ChildNodes | filter: searchData.Name" ui-tree-node ng-include="'app/resourceplanner/manageschedule/organization-tree-node.html'"></li>
</ol>
