@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<div class="container BadgeLeaderBoardReport">
	<div class="navbar navbar-teleopti">
		<div class="leader-board-header">@Resources.BadgeLeaderBoardReport</div>
	</div>
	<div class="relative well">
		<table style="width: 100%;">
			<thead>
				<tr>
					<td class="agent-badge-header">@Resources.Rank</td>
					<td class="agent-badge-header">@Resources.AgentName</td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/gold.png" /></td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/silver.png" /></td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/bronze.png" /></td>
				</tr>
			</thead>

			<tbody class="badge-leader-board-report">
				<!-- ko foreach:agentBadges() -->
				<tr class="agent-badge">
					<td data-bind="text:rank"></td>
					<td data-bind="text:name"></td>
					<td class="agent-badge-num" data-bind="text: gold"></td>
					<td class="agent-badge-num" data-bind="text: silver"></td>
					<td class="agent-badge-num" data-bind="text: bronze"></td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>
</div>