		<div class="con-row">
			<div class="con-flex">
				<div class="con-row rta-filters-container">
					<span class="con-flex">
						<md-autocomplete id="skill-id"
										 ng-disabled="!vm.skillsLoaded"
										 ng-attr-skillsLoaded="{{vm.skillsLoaded}}"
										 class="autocomplete-skill "
										 md-input-id="skill-input"
										 md-selected-item="vm.selectedSkill"
										 md-search-text="searchSkillText"
										 md-selected-item-change="vm.selectedSkillChange(skill)"
										 md-items="skill in vm.querySearch(searchSkillText, vm.skills)"
										 md-item-text="skill.Name"
										 md-min-length="0"
										 placeholder="{{vm.skillsLoaded ? 'SelectSkill' : 'LoadingSkills' | translate}}">
							<md-item-template>
								<span class="rta-skill-item" md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skill.Name}}</span>
					</md-item-template>
					<md-not-found>
						{{'RepViewerNoMoreMatches'|translate}}
					</md-not-found>
					</md-autocomplete>
					<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkill" ng-click="vm.clearSelection()">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
					</span>
					<span class="con-flex">
						<md-autocomplete id="skill-area-id"
										ng-disabled="!vm.skillAreasLoaded"
										ng-attr-skillAreasLoaded="{{vm.skillAreasLoaded}}"
										class="autocomplete-skillarea"
										md-input-id="skill-area-input"
										md-selected-item="vm.selectedSkillArea"
										md-search-text="searchSkillAreaText"
										md-selected-item-change="vm.selectedSkillAreaChange(skillArea)"
										md-items="skillArea in vm.querySearch(searchSkillAreaText, vm.skillAreas)"
										md-item-text="skillArea.Name"
										md-min-length="0"
										placeholder="{{vm.skillAreasLoaded ? 'SelectSkillArea' : 'LoadingSkillAreas' | translate}}">
							<md-item-template>
								<span class="rta-skill-area-item" md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skillArea.Name}}</span>
					</md-item-template>
					<md-not-found>
						{{'RepViewerNoMoreMatches'|translate}}
					</md-not-found>
					</md-autocomplete>
					<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkillArea" ng-click="vm.clearSelection()">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
					</span>
					<span class="con-flex rta-multiple-selection-panel">
						<md-input-container class="rta-md-input-container" id="organization" md-no-float>
							<label class="for-searchTerm"></label>
							<md-select ng-model="vm.teamsSelected" class="rta-md-select" md-selected-text="vm.selectFieldText" ng-keydown="vm.stopOnKeyDown($event)" multiple md-on-close="vm.goToAgents()">
								<div class="rta-select-header">
									<md-select-header>
										<i class="mdi mdi-magnify"></i>
										<span ng-if="vm.searchTerm.length > 0" ng-click="vm.clearSearchTerm()" class="pull-right grow-out rta-clear-search cursor-pointer">
											<i class="mdi mdi-close"></i>
										</span>
					<input ng-model="vm.searchTerm" type="search" placeholder="{{'SearchASiteOrTeam' | translate}}" ng-keydown="vm.onSearchOrganization($event)" class="picker-searchbox md-text rta-options-search-input">
					</md-select-header>
				</div>
				<button class="wfm-btn wfm-btn-invis-primary" ng-class="vm.teamsSelected.length > 0 ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'" ng-disabled="vm.teamsSelected.length === 0" ng-click="vm.clearOrgSelection()">{{'ClearAll' | translate}}</button>
				<md-optgroup ng-repeat="site in vm.sites | filter:vm.searchTerm | orderBy:'Name':sortByLocaleLanguage" class="rta-option-group">
					<span ng-click="vm.expandSite(site)" class="rta-options-prepend"><i class="mdi" ng-class="site.isExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i></span>
					<md-checkbox ng-model="site.isChecked" ng-value="site.Id" ng-class="site.isMarked ? 'rta-marked-checkbox' : ''">{{site.Name}}</md-checkbox>
					<md-option ng-show="site.isExpanded" ng-selected="vm.teamChecked(site, team)" ng-value="team.Id" ng-repeat="team in site.Teams | orderBy:'Name':sortByLocaleLanguage">{{team.Name}}</md-option>
				</md-optgroup>
				</md-select>
				</md-input-container>
				</span>
			</div>
		</div>
	</div>