<div class="container realtimeadherenceteams">
	<ul class="breadcrumb">
		<li><a href="#realtimeadherencesites" data-bind="text: resources.RealTimeAdherence"></a></li>
		<li class="active" data-bind="text: siteName"></li>
	</ul>
	<!-- ko if: agentStatesForMultipleTeams()-->
	<div align="right">
		<button class="btn-xs" data-bind="click: openSelectedTeams">Open selected teams</button>
	</div>
	<br />
	<!-- /ko -->

	<div class="row" data-bind="foreach: teams">
		<div data-bind="if: NumberOfAgents > 0">
			<div class="col-md-4">
				<div class="well well-sm team drilldown">
					<!-- ko if: $root.agentStatesForMultipleTeams()-->
					<input type="checkbox" data-bind="checked: $root.teamsToOpen, attr:{value: Id}" />
					<!-- /ko -->
					<div data-bind="click: openTeam, css: { drilldown: canOpenTeam() }">
						<!-- ko if: !hasBeenUpdated() -->
						<div class="overlay">
							<h1 data-bind="text: $root.resources.WaitingThreeDots"></h1>
						</div>
						<!-- /ko -->
						<div class="gage" data-bind="
							justgage: {
								value: OutOfAdherence,
								max: NumberOfAgents,
								id: Id,
								title: Name,
								label:  $root.resources.OutOfAdherence
							},
							attr: {
								'data-value': OutOfAdherence,
								'data-max': NumberOfAgents
							}
							"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
