<div class="container realtimeadherenceteams">
	<ul class="breadcrumb">
		<li><a href="#realtimeadherencesites">Real Time Adherence</a></li>
		<li class="active" data-bind="text: siteName"></li>
	</ul>
	<div class="row" data-bind="foreach: teams">
		<div data-bind="if: NumberOfAgents > 0">
			<div class="col-md-4">
				<div class="well well-sm team">
					<div class="gage" data-bind="justgage: { value: OutOfAdherence, max: NumberOfAgents, id: Id, title: Name}"></div>
				</div>
			</div>
		</div>
	</div>
</div>
