<div class="sidenav-header">{{'AddAbsence'|translate}}</div>
<md-content layout-padding style="height: 88%">
	<select style="font-family: Calibri" ng-model="vm.selectedAbsenceId">
		<option value="" disabled selected="">{{'PickAnAbsence'|translate}}</option>
		<option value={{absence.Id}} ng-repeat="absence in vm.AvailableAbsenceTypes|orderBy: 'Name'">{{absence.Name}}</option>
	</select>
	<div>{{'From'|translate}}: </div>
	<div class="row">
		<span class="col-sm-7" style="padding-right: 0; height: 48px;">
			<team-schedule-datepicker selected-date="vm.selectedAbsenceStartDate" mini />
		</span>
		<span class="col-sm-5" style="padding-left: 0; margin-top: -4px">
			<uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.absencePermissions.IsAddIntradayAbsenceAvailable" ng-model="vm.selectedAbsenceStartDate"></uib-timepicker>
		</span>
	</div>

	<div>{{'To'|translate}}: </div>
	<div class="row">
		<span class="col-sm-7" style="padding-right: 0; height: 48px;">
			<team-schedule-datepicker selected-date="vm.selectedAbsenceEndDate" mini />
		</span>
		<span class="col-sm-5" style="padding-left: 0; margin-top:-4px">
			<uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.absencePermissions.IsAddIntradayAbsenceAvailable" ng-model="vm.selectedAbsenceEndDate"></uib-timepicker>
		</span>
	</div>

	<div class="wfm-checkbox" ng-if="vm.absencePermissions.IsAddFullDayAbsenceAvailable">
		<input type="checkbox" id="is-full-day" ng-model="vm.isFullDayAbsence" ng-disabled="vm.absencePermissions.IsAddFullDayAbsenceAvailable && !vm.absencePermissions.IsAddIntradayAbsenceAvailable" />
		<label for="is-full-day">
			<span class="wfm-checkbox-toggle"></span>
			<span class="wfm-checkbox-label">{{'FullDayAbsence'|translate}}</span>
		</label>
	</div>
	<p class="text-danger" ng-if="!vm.isAbsenceTimeValid() && !vm.isAbsenceDateValid()">{{'EndTimeMustBeGreaterOrEqualToStartTime'|translate}}</p>
</md-content>
<div style="position: relative;float: right;">
	<button class="wfm-btn" ng-class="{'wfm-btn-primary': vm.isDataChangeValid(), 'wfm-btn-primary-disabled': !vm.isDataChangeValid()}"
			  ng-disabled="!vm.isDataChangeValid()" ng-click="vm.applyAbsence()">
		{{'Apply' | translate}}
	</button>
</div>
