<div class="add-absence">
	<div class="sidenav-header">{{'AddAbsence'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newAbsenceForm">
			<h3>{{'Absence'|translate}}: </h3>
			<div class="con-row">
				<md-select class="absence-selector focus-default" ng-model="vm.selectedAbsenceId" required placeholder="{{'PickAnAbsence'|translate}}">
					<md-option ng-repeat="absence in vm.availableAbsenceTypes | orderBy: 'Name'" ng-value="absence.Id">{{absence.Name}}</md-option>
				</md-select>
			</div>

			<h3>{{'From'|translate}}: </h3>
			<div class="con-row">
				<span class="col-sm-7 teamschedule-datepicker">
					<team-schedule-datepicker selected-date="vm.timeRange.startTime" onDateChange="vm.isAbsenceDateValid()"/>
				</span>
				<span class="col-sm-5 uib-timepicker">
					<uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.isAddIntradayAbsenceAvailable()" ng-model="vm.timeRange.startTime"></uib-timepicker>
				</span>
			</div>

			<h3>{{'To'|translate}}: </h3>
			<div class="con-row">
				<span class="col-sm-7 teamschedule-datepicker">
					<team-schedule-datepicker selected-date="vm.timeRange.endTime" onDateChange="vm.isAbsenceDateValid()"/>
				</span>
				<span class="col-sm-5 uib-timepicker">
					<uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.isAddIntradayAbsenceAvailable()" ng-model="vm.timeRange.endTime"></uib-timepicker>
				</span>
			</div>

			<div class="wfm-checkbox" ng-if="vm.isAddFullDayAbsenceAvailable()">
				<input type="checkbox" id="is-full-day" ng-model="vm.isFullDayAbsence" ng-disabled="vm.isAddFullDayAbsenceAvailable() && !vm.isAddIntradayAbsenceAvailable()" />
				<label for="is-full-day">
					<span class="wfm-checkbox-toggle"></span>
					<span class="wfm-checkbox-label">{{'FullDayAbsence'|translate}}</span>
				</label>
			</div>
			<p class="text-danger" ng-if="!vm.isTimeRangeValid()">{{'EndTimeMustBeGreaterOrEqualToStartTime'|translate}}</p>

		</form>

		<button id="applyAbsence" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newAbsenceForm.$valid && vm.isTimeRangeValid(), 'wfm-btn-primary-disabled': !(newAbsenceForm.$valid && vm.isTimeRangeValid())}"
				ng-disabled="newAbsenceForm.$valid && vm.isTimeRangeValid() ?'':'disabled'"
				ng-click="vm.addAbsence()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
