<div class="add-activity">
	<div class="sidenav-header">{{'AddActivity'|translate}}</div>
	<md-content layout-padding>
		<form name="newActivityForm">
			<h3>{{'Activity'|translate}}: </h3>
			<div class="con-row">
				<select class="activity-selector" ng-model="vm.selectedActivityId" required>
					<option value="" disabled selected="">{{'PickAnActivity'|translate}}</option>
					<option value="{{activity.Id}}" ng-repeat="activity in vm.activities | orderBy: 'Name'">{{activity.Name}}</option>
				</select>
			</div>
			<tmp-time-range-picker ng-model="vm.timeRange" template-url="js/teamSchedule/html/addActivityTimeRangePicker.tpl.html"
								   disable-next-day="vm.disableNextDay"></tmp-time-range-picker>
		</form>

		<button class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newActivityForm.$valid, 'wfm-btn-primary-disabled': !newActivityForm.$valid}"
				ng-disabled="!newActivityForm.$valid"
				ng-click="vm.addActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>

