<div>
	<h3>{{'Time'|translate}}: </h3>
	<div class="con-row">
		<div>
			<tmp-timepicker-wrap ng-model="startTime"></tmp-timepicker-wrap>
		</div>
		<div>—</div>
		<div>
			<tmp-timepicker-wrap ng-model="endTime"></tmp-timepicker-wrap>
		</div>
	</div>

	<div class="con-row">
		<div class="wfm-switch">
			<input type="checkbox" id="switch1" ng-model="isNextDay" ng-disabled="disableNextDay" />
			<label for="switch1">
				<span class="wfm-switch-label">{{"NextDay" | translate}}</span>
				<span class="wfm-switch-toggle"></span>
			</label>
		</div>
	</div>
</div>
<div class="error-msg-container ng-invalid-parse alert-error notice-spacer">
	<i class="mdi mdi-alert-octagon"></i>
	<span translate>StartTimeAndEndTimeMustBeSet</span>
</div>