<div class="add-activity">
	<div class="sidenav-header">{{'AddActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newActivityForm">
			<h3>{{'Activity'|translate}}: </h3>
			<div class="con-row">
				<select class="activity-selector focus-default" ng-model="vm.selectedActivityId" tabindex="100" required>
					<option class="activity-option" value="" disabled selected="">{{'SelectAnActivity'|translate}}</option>
					<option class="activity-option-item" value="{{activity.Id}}" ng-repeat="activity in vm.availableActivities | orderBy: 'Name'">{{activity.Name}}</option>
				</select>
			</div>
			<activity-time-range-picker class="activity-time-range" custom-tabindex="100" ng-model="vm.timeRange" template-url="js/teamSchedule/html/addActivityTimeRangePicker.tpl.html" reference-day="vm.selectedDate" disable-next-day="vm.disableNextDay" is-next-day="vm.isNextDay">
			</activity-time-range-picker>
		</form>
		<div ng-if="vm.notAllowedNameListString.length > 0">
			<i class="mdi mdi-alert-octagon" style="vertical-align:middle;"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} {{vm.notAllowedNameListString}}.</span>
		</div>
		<button id="applyActivity" class="wfm-btn form-submit"
				tabindex="100"
				ng-class="{'wfm-btn-primary': newActivityForm.$valid && vm.isInputValid(), 'wfm-btn-primary-disabled': !(newActivityForm.$valid) || !vm.isInputValid()}"
				ng-disabled="newActivityForm.$valid && vm.isInputValid() ?'':'disabled'"
				ng-click="vm.addActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>