<div class="add-activity">
	<div class="sidenav-header">{{'AddPersonalActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newPersonalActivityForm">
			<h3>{{'PersonalActivity'|translate}}: </h3>
			<div class="con-row">
				<md-select class="activity-selector focus-default" ng-model="vm.selectedActivityId" required placeholder="{{'SelectAnActivity'|translate}}">
					<md-option ng-repeat="activity in vm.availableActivities | orderBy: 'Name'" ng-value="activity.Id">{{activity.Name}}</md-option>
				</md-select>
			</div>
			<activity-time-range-picker class="activity-time-range" ng-model="vm.timeRange" template-url="js/teamSchedule/html/addActivityTimeRangePicker.tpl.html" reference-day="vm.selectedDate" disable-next-day="vm.disableNextDay" is-next-day="vm.isNextDay">
			</activity-time-range-picker>
		</form>
		<div ng-if="vm.notAllowedNameListString.length > 0">
			<i class="mdi mdi-alert-octagon" style="vertical-align:middle;"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} {{vm.notAllowedNameListString}}.</span>
		</div>
		<button id="applyPersonalActivity" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newPersonalActivityForm.$valid && vm.isInputValid(), 'wfm-btn-primary-disabled': !(newPersonalActivityForm.$valid) || !vm.isInputValid()}"
				ng-disabled="newPersonalActivityForm.$valid && vm.isInputValid() ?'':'disabled'"
				ng-click="vm.addPersonalActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>