<div class="move-activity">
	<div class="sidenav-header">{{'MoveActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="moveActivityForm">
			<md-progress-linear ng-if="vm.checkingCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'StartTime' | translate}}:</h3>
			<uib-timepicker class="focus-default" ng-model="vm.moveToTime" required show-meridian="vm.showMeridian" meridians="vm.meridians"></uib-timepicker>
			<div class="wfm-switch">
				<input type="checkbox" id="mvActNextDay" ng-model="vm.nextDay"/>
				<label for="mvActNextDay">
					<span class="wfm-switch-label">{{"NextDay" | translate}}</span>
					<span class="wfm-switch-toggle"></span>
				</label>
			</div>
		</form>
		<div ng-if="!vm.isInputValid()">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} {{vm.invalidPeople()}}.</span>
		</div>
		<button id="applyMoveActivity" class="wfm-btn form-submit"
				ng-class="{ 'wfm-btn-primary': vm.isInputValid() && moveActivityForm.$valid && !vm.checkingCommand, 'wfm-btn-primary-disabled': !vm.isInputValid() || !moveActivityForm.$valid || vm.checkingCommand}"
				ng-disabled="vm.checkingCommand || !vm.isInputValid() || !moveActivityForm.$valid"
				ng-click="vm.moveActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
