<div class="move-activity">
	<div class="sidenav-header">{{'MoveActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="moveActivityForm">
			<h3>{{'StartTime' | translate}}:</h3>
			<div>
				<uib-timepicker show-meridian="vm.showMeridian" ng-model="vm.defaultStartTime"></uib-timepicker>
				<div class="wfm-switch">
					<input type="checkbox" id="mvActNextDay" ng-model="vm.isNextDay" ng-disabled="vm.disableNextDay" />
					<label for="mvActNextDay">
						<span class="wfm-switch-label">{{"NextDay" | translate}}</span>
						<span class="wfm-switch-toggle"></span>
					</label>
				</div>
			</div>
		</form>
		<button id="applyMoveActivity" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': moveActivityForm.$valid && vm.isInputValid(), 'wfm-btn-primary-disabled': !(moveActivityForm.$valid && vm.isInputValid())}"
				ng-disabled="!(moveActivityForm.$valid && vm.isInputValid())"
				ng-click="vm.applyMoveActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>