<tr class="person">
	<td class="person-name person-name-column">
		<div class="wfm-checkbox" ng-show="vm.isAbsenceReportingEnabled()">
			<label>
				<input type="checkbox" ng-model="vm.personSchedule.IsSelected" ng-change="vm.updateSelection(vm.personSchedule)">
				<span class=" wfm-checkbox-toggle"></span>
				<span class="wfm-checkbox-label person-name nowrap">{{vm.personSchedule.Name}}</span>
			</label>
		</div>
		<div class="person-name nowrap" ng-hide="vm.isAbsenceReportingEnabled()">{{vm.personSchedule.Name}}</div>
	</td>


	<td class="schedule schedule-column">
		<div class="relative time-line-for">

			<span class="dayoff absolute" ng-repeat="dayOff in vm.personSchedule.DayOffs" ng-if="vm.personSchedule.DayOffs.length > 0"
				  ng-style="{left: dayOff.StartPosition() + '%', width: dayOff.Length() + '%'}">
				<md-tooltip ng-if="dayOff.DayOffName !=''"> {{dayOff.DayOffName}} </md-tooltip>
			</span>

			<div class="shift" ng-repeat="shift in vm.personSchedule.Shifts">
				<div class="layer absolute floatleft" ng-repeat="projection in shift.Projections"
					 ng-style="{left: projection.StartPosition() + '%', width: projection.Length() + '%', backgroundColor: projection.Color}"
					 ng-class="{overtime:projection.IsOvertime}">
					<md-tooltip>{{projection.Description}}</md-tooltip>
				</div>
			</div>

		</div>
	</td>

	<td></td>
</tr>