<div class="view-header">
	<div class="view-title">
		<h1 translate>TeamSchedule</h1>
	</div>
</div>

<div class="team-schedule panel material-depth-1">
	<div class="con-row ng-scope">
		<div class="con-flex">
			<span class="people-search-container">
				<people-search-input search-options="vm.searchOptions" search-callback="vm.onKeyWordInSearchInputChanged" />
			</span>

			<span class="datepicker-container">
				<team-schedule-datepicker selected-date="vm.scheduleDate" on-date-change="vm.onScheduleDateChanged()" />
			</span>
		</div>
		<div class="con-flex">
			<div class="wfm-switch" style="padding-top: 8px;" ng-if="vm.toggleForRemoveAbsenceEnabled">
				<input type="checkbox" id="switchAbsence" ng-model="vm.isSwitchAbsence" ng-change="vm.loadSchedules()" />
				<label for="switchAbsence">
					<span class="wfm-switch-label" translate>ShowOnlyAbsence</span>
					<span class="wfm-switch-toggle"></span>
				</label>
			</div>

			<div tabindex=0 class="context-menu card-context pull-right" ng-if="vm.isMenuVisible()">
				<i class="mdi mdi-dots-vertical"></i>
				<span class="context-menu-left" style="z-index: 1000; text-transform: none;">
					<ul class="wfm-list">
						<li class="item" ng-if="cmd.active()" ng-repeat="cmd in vm.commands" ng-disabled="!(cmd.enabled())"
							ng-click="cmd.action()">
							<div>
								<span class="pull-left">{{cmd.label|translate}}</span>
								<span class="pull-right">{{cmd.shortcut}}</span>
							</div>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>

	<div class="con-row notice-spacer" ng-show="vm.selectAllVisible()" ng-click="vm.selectAllForAllPages()">
		<a href="javascript: void(0);"> {{'SelectAllMatchedPeople'|translate}}</a>
	</div>

	<div class="big-table-wrapper">
		<div class="alert-warning notice-spacer" ng-if="vm.total > 500" style="margin-bottom: 0">
			<i class='mdi mdi-alert'></i>{{'TooManyResultsForSearchKeywords'|translate}}
		</div>
		<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate"></md-progress-linear>
		<schedule-table schedule-vm="vm.groupScheduleVm" person-selection="vm.personIdSelectionDic"
						selected-person-absences="vm.selectedPersonAbsences" select-mode="vm.toggleForAbsenceReportingEnabled" />
	</div>

	<div class="con-footer" ng-if="vm.paginationOptions.totalPages > 0">
		<select class="page-size-selector" ng-if="vm.toggleForSelectAgentsPerPageEnabled"
				  ng-model="vm.paginationOptions.pageSize" ng-options="option for option in vm.agentsPerPageSelection" ng-change="vm.selectorChanged()"></select>
		<wfm-pagination pagination-options="vm.paginationOptions" get-data-for-page-callback="vm.loadSchedules"></wfm-pagination>
	</div>


	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="report-absence">
		<add-absence ng-if="vm.isOpen()" default-date-time="vm.earliestStartTime" permissions="vm.permissions"
						 agent-id-list="vm.getSelectedPersonIdList()" actions-after-absence-apply="vm.afterActionCallback(result,successMessageTemplate,failMessageTemplate)"></add-absence>
	</md-sidenav>

	<div class="modal-box" ng-if="vm.showErrorDetails">
		<div class="modalbg">
			<div class="dialog">
				<div class="modal-title text-danger">
					{{vm.errorTitle}}
				</div>
				<div class="modal-inner-content">
					<ul class="wfm-simple-list" style="max-height: 430px">
						<li ng-repeat="error in vm.errorDetails">
							{{error.PersonName}}
							<div class="subtext text-danger" ng-repeat="msg in error.Message">{{msg}}</div>
						</li>
					</ul>
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.toggleErrorDetails()" class="wfm-btn wfm-btn-invis-default">{{'Back'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
