<style>
	.input-group input[type=text] {
		height: 34px;
		border: 1px solid #ccc;
	}

	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 5px;
	}
</style>
<div class="team-schedule">
	Team schedule
	<div style="border: solid red 1px; height: 40px" ng-if="!vm.isSearchScheduleEnabled">
		<span class="col-sm-5 col-md-3 col-lg-3">
			<select ng-model="vm.selectedTeamId" ng-change="vm.selectedTeamIdChanged()">
				<option value="" disabled selected>Pick a team...</option>
				<option value={{team.Id}} ng-repeat="team in vm.Teams|orderBy: 'Name'">
					{{team.Name}}
				</option>
			</select>
		</span>
		<span class="col-sm-5 col-md-3 col-lg-3">
			<span class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.scheduleDate"
					   ng-change="vm.scheduleDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions"
					   show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</span>
		</span>
		<span style="color:red"> Only for test purpose, it will be removed later.</span>
	</div>
	<div class="row" ng-if="vm.isSearchScheduleEnabled">
		<div class="col-md-4">
			<people-search-input search-options="vm.searchOptions" search-callback="vm.searchSchedules"></people-search-input>
		</div>
		<div class="col-sm-5 col-md-3 col-lg-3">
			<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.scheduleDate" ng-change="vm.scheduleDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions" show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
	</div>
	
	<div class="alert-error notice-spacer" ng-if="vm.total > 500"><i class='mdi mdi-alert-octagon'></i>{{'ThisSearchWillReturnAnExcessiveNumberOfResultsDotPleaseRefineYourSearchDot'|translate}}</div>
	<table class="table table-hover" ng-if="!vm.isLoading" id="team-schedule">
		<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate"></md-progress-linear>
		<thead>
			<tr class="person">
				<th class="person-name person-name-column" style="width: 15%"></th>
				<th id="time-line-container" class="schedule schedule-column">
					<time-line ng-if="vm.groupScheduleVm.Schedules.length > 0" times="vm.groupScheduleVm.TimeLine.HourPoints" schedule-count="vm.scheduleCount"></time-line>
				</th>
				<th style="width: 1%">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr person-schedule ng-repeat="person in vm.groupScheduleVm.Schedules"></tr>
		</tbody>
	</table>

	<wfm-pagination pagination-options="vm.paginationOptions" get-data-for-page-callback="vm.loadSchedules"></wfm-pagination>
</div>
