<div class="teamschedule-command-container">
	<add-personal-activity ng-if="vm.activeCmd == 'AddPersonalActivity'" tabindex="195"></add-personal-activity>
	<add-activity ng-if="vm.activeCmd == 'AddActivity'" tabindex="196"></add-activity>
	<remove-activity ng-if="vm.activeCmd == 'RemoveActivity'"></remove-activity>
	<swap-shifts ng-if="vm.activeCmd == 'SwapShifts'"></swap-shifts>
	<add-absence ng-if="vm.activeCmd == 'AddAbsence'" tabindex="200"></add-absence>
	<remove-absence ng-if="vm.activeCmd == 'RemoveAbsence'"></remove-absence>
	<move-activity ng-if="vm.activeCmd == 'MoveActivity'" tabindex="201"></move-activity>
	<undo-schedule ng-if="vm.activeCmd == 'Undo'" tabindex="202"></undo-schedule>
</div>