<span style="min-width: 280px; max-width: 300px;">

	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" ng-click="vm.gotoPreviousDate()" ng-hide="vm.isMiniMode">
		<i class="mdi mdi-chevron-double-left"></i>
	</button>

	<input type="text" style="width: 120px" class="pointer" ng-class="{'datepicker-mini':vm.isMiniMode}" ng-model="vm.selectedDate" ng-change="vm.afterDateChange(vm.selectedDate)"
		   uib-datepicker-popup="{{vm.shortDateFormat}}" is-open="vm.isCalendarOpened" show-button-bar="false" ng-required="true" />

	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" ng-click="vm.toggleCalendar()">
		<i class="mdi mdi-calendar"></i>
	</button>

	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" ng-click="vm.gotoNextDate()" ng-hide="vm.isMiniMode">
		<i class="mdi mdi-chevron-double-right"></i>
	</button>
	
	<!--<div datepicker-options="vm.dateOptions"></div>-->

</span>