<div class="teamschedule-command-container">
	<add-personal-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddPersonalActivity'" tabindex="195"></add-personal-activity>
	<add-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddActivity'" tabindex="196"></add-activity>
	<remove-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveActivity'"></remove-activity>
	<swap-shifts ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'SwapShifts'"></swap-shifts>
	<add-absence ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddAbsence'" tabindex="200"></add-absence>
	<remove-absence ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveAbsence'"></remove-absence>
	<move-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'MoveActivity'" tabindex="201"></move-activity>
	<undo-schedule ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'Undo'" tabindex="202"></undo-schedule>
	<modify-shift-category ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'EditShiftCategory'" tabindex="203"></modify-shift-category>
	<command-check ng-if="vm.activeCommandCheck()" tabindex="204"></command-check>
</div>