.action-buttons {
	float: right;
}

.panel {
	height: 100%;
}

[nz-button] {
	margin-right: 5px;
	margin-bottom: 10px;
}

[nz-button].pull-right {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
