<tr class="person">
	<td class="person-name person-name-column">
		<div class="person-name nowrap" >{{person.Name}}</div>
	</td>
	<td class="schedule schedule-column">
		<div class="relative time-line-for" ng-if="person.Shifts.length > 0">
			<div class="shift" ng-repeat="shift in person.Shifts">
				<div class="layer absolute floatleft" ng-repeat="projection in shift.Projections"
					 ng-style="{left: projection.StartPosition() + '%', width: projection.Length() + '%', backgroundColor: projection.Color}">
					<md-tooltip>{{projection.Description}}</md-tooltip>
				</div>
			</div>
		</div>

		<div class="relative time-line-for" ng-if="person.DayOffs.length > 0">
			<span class="dayoff absolute"
				  ng-repeat="dayOff in person.DayOffs"
				  ng-style="{left: dayOff.StartPosition() + '%', width: dayOff.Length() + '%' }">
				<md-tooltip>{{dayOff.DayOffName}}</md-tooltip>
			</span>
		</div>		
	</td>
	<td class="contract-time contract-time-column"></td>
</tr>