<style>
	.input-group input[type=text] {
		height: 34px;
		border: 1px solid #ccc;
	}


</style>
<div class="team-schedule">
	Team schedule
	<div style="border: solid red 1px; height: 40px">
		<span class="col-sm-5 col-md-3 col-lg-3">
			<select ng-model="vm.selectedTeamId" ng-change="vm.selectedTeamIdChanged()">
				<option value="" disabled selected>Pick a team...</option>
				<option value={{team.Id}} ng-repeat="team in vm.Teams|orderBy: 'Name'">
					{{team.Name}}
				</option>
			</select>
		</span>
		<span class="col-sm-5 col-md-3 col-lg-3">
			<span class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.scheduleDate"
					   ng-change="vm.scheduleDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions"
					   show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</span>
		</span>
		<span style="color:red"> Only for test purpose, it will be removed later.</span>
	</div>
	<table class="table table-hover" id="team-schedule">
		<thead>
			<tr class="person">
				<th class="person-name person-name-column" style="width: 15%"></th>
				<th id="time-line-container" class="schedule schedule-column" >
					<time-line times="vm.groupScheduleVm.TimeLine.HourPoints" schedule-count="vm.scheduleCount"></time-line>
				</th>
				<th style="width: 1%">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr person-schedule ng-repeat="person in vm.groupScheduleVm.Schedules"></tr>
		</tbody>
	</table>

	<div class="pagination pull-right" ng-if="vm.totalPages > 0">
		<ul>
			<li class=" pagination-item" ng-class="{disabled: vm.currentPageIndex == 1 || vm.totalPages == 0}">
				<a href="" ng-click="vm.gotoPage(1)">
					<i class="mdi mdi-chevron-double-left"></i>
				</a>
			</li>

			<li class="pagination-item" ng-class="{disabled: vm.currentPageIndex == 1 || vm.totalPages == 0}">
				<a href="" ng-click="vm.gotoPage(vm.currentPageIndex - 1)">
					<i class="mdi mdi-chevron-left"></i>
				</a>
			</li>

			<li class="pagination-item" ng-repeat="n in vm.getVisiblePageNumbers()"
				ng-class="{active: n == vm.currentPageIndex}" ng-click="vm.gotoPage(n)">
				<a href="" ng-bind="n"></a>
			</li>

			<li class="pagination-item" ng-class="{disabled: vm.currentPageIndex == vm.totalPages || vm.totalPages == 0}">
				<a href="" ng-click="vm.gotoPage(vm.currentPageIndex + 1)">
					<i class="mdi mdi-chevron-right"></i>
				</a>
			</li>

			<li class="pagination-item" ng-class="{disabled: vm.currentPageIndex == vm.totalPages || vm.totalPages == 0}">
				<a href="" ng-click="vm.gotoPage(vm.totalPages)">
					<i class="mdi mdi-chevron-double-right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
