<style>
	.input-group input[type=text] {
		height: 34px;
		border: 1px solid #ccc;
	}

	.team-schedule .time-line {

		z-index: 10;
	}

.team-schedule .time-line .ruler {

		height: 100%;
		width: 1px;
		background-color: rgba(0,0,0,0.2);
		z-index: 100;
	}

	.team-schedule .time-line .label {
		font-size: xx-small;
		height: 12px;
		z-index: 111;
		margin-left: -13px;
	}

	.team-schedule .shift .layer {
		z-index: 10;
		height: 22px;
		text-align: center;
	}

	.team-schedule .shift .layer:first-of-type
	{
		-webkit-border-radius: 4px 0px 0px 4px;
		   -moz-border-radius: 4px 0px 0px 4px;
				border-radius: 4px 0px 0px 4px;
	}
	.team-schedule .shift .layer:last-of-type
	{
		-webkit-border-radius: 0px 4px 4px 0px;
		   -moz-border-radius: 0px 4px 4px 0px;
				border-radius: 0px 4px 4px 0px;
	}
	.team-schedule .shift .layer:only-child
	{
		-webkit-border-radius: 4px 4px 4px 4px;
		   -moz-border-radius: 4px 4px 4px 4px;
				border-radius: 4px 4px 4px 4px;
	}

	.team-schedule .dayoff {
		text-align: center;
		top: -8px;
		height: 36px;
		padding: 7px;
		background-size: 11px 11px;
		background-image: linear-gradient(135deg, transparent, transparent 7px, rgba(0,0,0,0.2) 8px, transparent 8px, transparent );
	}

	.absolute {
		position: absolute;
	}
</style>
<div class="team-schedule">
	Team schedule
	<div>
		<span class="col-sm-5 col-md-3 col-lg-3">
			<select ng-model="vm.selectedTeamId" ng-change="vm.loadSchedules()">
				<option value="" disabled selected>Pick a team...</option>
				<option value={{team.Id}} ng-repeat="team in vm.Teams|orderBy: 'Name'">
					{{team.Name}}
				</option>
			</select>
		</span>
		<span class="col-sm-5 col-md-3 col-lg-3">
			<span class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.scheduleDate"
					   ng-change="vm.scheduleDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions"
					   show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</span>
		</span>
	</div>
	<table class="table table-hover" id="team-schedule">
		<thead>
			<tr class="person">
				<th class="person-name person-name-column" style="width: 15%"></th>
				<th id="time-line-container" class="schedule schedule-column">
					<time-line times="vm.groupScheduleVm.TimeLine.HourPoints"></time-line>
				</th>
				<th class="contract-time contract-time-title" style="width: 15%">
					<span xdata-bind="text: Resources.ContractTime"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr person-schedule ng-repeat="person in vm.groupScheduleVm.Schedules"></tr>
		</tbody>
	</table>
</div>

