<div class="rta-view historical-overview">
	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<div class="pull-left">
				<h1>
					<i class="mdi mdi-alarm"></i> {{'Adherence'|translate}}
				</h1>
			</div>
			<div class="rta-top-buttons-wrapper pull-left">
				<span>
					<button class="wfm-btn wfm-btn-default" ng-click="vm.goToOverview()">{{'MonitorOrganization'|translate}}</button>
					<button class="wfm-btn wfm-btn-default"
							ng-click="vm.goToAgents()">{{'MonitorAgents'|translate}}</button>
					<button class="wfm-btn wfm-btn-primary non-pointer">{{'HistoricalAdherence'|translate}}</button>
				</span>
			</div>
		</div>
	</div>

	<md-progress-linear md-mode="indeterminate" ng-if="vm.loading"></md-progress-linear>
	<div class="panel material-depth-1 con-padding">
		<div class="con-row">
			<div class="con-flex wfm-form organization-picker" outside-click="vm.organizationPickerOpen ? vm.loadOrganizationSelection() : ''; ">
				<div class="form-input-wrap">
					<input type="text"
						   placeholder="{{'SelectSitesTeams'|translate}}"
						   ng-click="vm.organizationPickerOpen = !vm.organizationPickerOpen"
						   ng-value="vm.organizationPickerSelectionText"/>
				</div>

				<div style="position: relative">
					<div class="wfm-dropdown-panel panel material-depth-1 full-padding"
						 style="z-index: 999; position: absolute; width: 100%"
						 ng-show="vm.organizationPickerOpen">
						<div class="form-input-wrap filter">
							<input type="text"
								   placeholder="{{'DataFilterThreeDots'|translate}}"
								   ng-model="vm.organizationPickerSearchTerm"/>
						</div>

						<div>
							<button class="wfm-btn wfm-btn-invis-primary"
									ng-class="vm.clearEnabled ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'"
									ng-click="vm.clearOrganizationSelection()">{{'ClearAll'|translate}}
							</button>
							<button class="wfm-btn wfm-btn-invis-primary"
									ng-click="vm.loadOrganizationSelection()">{{'Close'|translate}}
							</button>
						</div>

						<div ng-repeat="site in vm.sites | filter:vm.organizationPickerSearchTerm">
							<div>
								<span ng-click="site.isExpanded = !site.isExpanded">
									<i class="mdi"
									   ng-class="site.isExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i>
								</span>
								<md-checkbox style="display: inline-block"
											 ng-checked="site.isChecked"
											 aria-label="Checkbox"
											 ng-class="site.isMarked ? 'marked' : ''"
											 ng-click="site.toggle()">
									<span>{{site.Name}}</span>
								</md-checkbox>
							</div>
							<div style="margin-left: 50px"
								 ng-show="site.isExpanded"
								 ng-repeat="team in site.Teams">
								<md-checkbox ng-checked="team.isChecked"
											 aria-label="Checkbox"
											 ng-click="team.toggle()">
									<span>{{team.Name}}</span>
								</md-checkbox>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="con-flex x3">
			</div>
		</div>
	</div>

	<div class="con-row" ng-if="vm.displayNoHistoricalOverviewResultMessage()">
		<div class="con-flex">
			<div class="panel material-depth-1 con-padding">
				<div class="con-row">
					<div class="con-flex">
						{{'NoHistoricalOverviewResultMessage'|translate}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel material-depth-1 card-panel" ng-repeat="card in vm.cards">
		<div class="card-panel-header-wrapper pointer left-border" ng-click="card.toggle()">
			{{card.Name}}
		</div>
		<div class="card-panel-content-wrapper" ng-show="card.isOpen">
			<table class="wfm-table">
				<thead>
				<tr>
					<th style="width: 25%; height: 32px">{{'Agent'|translate}}</th>
					<th style="width: 45px; text-align: center"
						ng-repeat="day in card.Agents[0].Days">
						{{day.DisplayDate}}
					</th>
					<th style="width: 20%">{{'Adherence'|translate}}</th>
					<th>{{'LateForWork'|translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="agent in card.Agents" style="background-color: transparent">
					<td style="max-width:200px; overflow: hidden; text-overflow: ellipsis">{{agent.Name}}</td>
					<td ng-repeat="day in agent.Days" class="cell">
						<a ng-href="{{day.HistoricalAdherenceUrl}}">
							<div ng-class="day.WasLateForWork ? 'late-for-work-flag': ''"></div>
							<div class="square" style="background-color: {{day.Color}}">
								{{day.Adherence}}
							</div>
						</a>
					</td>
					<td>
						<div class="adherence-bar-container">
							<div class="adherence-bar" style="width:{{agent.IntervalAdherence}}%"></div>
						</div>
						<div class="adherence-value">{{agent.IntervalAdherence}}%</div>
					</td>
					<td>
						<span class="label pad late-for-work">{{agent.LateForWork.Count}}</span>
						<span>{{agent.LateForWork.TotalMinutes}}&nbsp;{{'Minutes'|translate}}</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>