body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

.stepSuccess {
	color: green;
}

.stepFailure {
	color: red;
}

.stepItem {
	border: 1px solid;
	margin: 10px;
}

div {
	padding: 10px;
}

.stepsAreLoadedMarker{
	/* used for testing */
}