<div>
	<section ui-view>

		<div class="view-header with-fab">
			<div class="view-title">
				<h1><i class="mdi mdi-alarm"></i> Rta Tool - This is an internal testing tool, handle with caution</h1>
			</div>
			<div class="con-flex" ng-if="!vm.pause">
				<span>Random states</span>
			</div>
			<md-slider flex md-discrete min="1" max="60" step="5" ng-model="vm.sendInterval.time" ng-hide="!vm.pause" ng-disabled="!vm.pause"
			 aria-label="slider" style="width:200px; padding-top: 20px"></md-slider>
			<div class="fab-wrapper">
				<button class="wfm-fab material-depth-1" ng-click="vm.togglePause()">
							<i ng-class="{'mdi mdi-play': vm.pause, 'mdi mdi-pause': !vm.pause}"></i>
							<md-tooltip>Send random states</md-tooltip>
						</button>
			</div>
		</div>

		<div class="con-row">
			<div class="con-flex">
				<div class="panel">
					<div class="sub-header">
						<h2>Operations</h2>
						<div class="head-actions panel-menu">
							<div tabindex=0 class="context-menu card-context" ng-click="vm.snapshot = !vm.snapshot">
								<i class="mdi mdi-camera-off" ng-class="{'mdi-camera-party-mode':vm.snapshot}"></i>
								<md-tooltip>Snapshot</md-tooltip>
							</div>
						</div>
					</div>
					<div class="con-row">
						<div class="con-flex" ng-if="vm.stateCodes.length < 9">
							<span ng-repeat="state in vm.stateCodes"><button ng-click="state.sendBatch()" class="sendbatch wfm-btn wfm-btn-primary" style="margin-bottom: 20px; width: 120px;">{{state.Name}}</button> </span>
						</div>

						<div class="con-flex" ng-if="vm.stateCodes.length >= 9">
							<md-select ng-model="pickedStateCode" placeholder="Pick a state" ng-change="pickedStateCode.sendBatch()">
								<md-option ng-repeat="state in vm.stateCodes" ng-value="state"><span ng-bind="state.Name"></span></md-option>
							</md-select>
						</div>

						<div class="con-flex">
							<label for="filter" class="input-icon">
							<input style="margin-top: 10px;" type="text" id="filter" placeholder="Authentication key" ng-model="vm.authKey">
   						<md-tooltip>Authentication key</md-tooltip>
			</label>
						</div>

						<div class="con-flex">
							<div class="relative" style="padding-top:10px">
								<input type="text" placeholder="Select sites" ng-click="vm.toggleDropdown(1)" />
								<form ng-cloak name="form" class="wfm-form wfm-dropdown-panel panel material-depth-2 animate-show" novalidate ng-show="vm.openSitePicker">
									<div class="sub-header">
										<div>
											<label for="filter" class="input-icon">
									<i class="mdi mdi-filter-outline"></i>
									<input type="text" id="filter" placeholder="Filter sites" ng-model="vm.searchSite">
									<md-tooltip>Filter sites</md-tooltip>
								</label>
								<i class="mdi mdi-close pull-right" ng-click="vm.closeDropdown(1)" style="cursor: pointer"><md-tooltip>Close</md-tooltip></i>
										</div>
									</div>
									<div ng-repeat="site in vm.organization.Sites | filter:vm.searchSite">
										<div class="wfm-checkbox">
											<label>
											<input type="checkbox" name="checkbox" value="{{site.SiteId}}" ng-click="site.toggle()" ng-checked="site.isChecked">
											<span class="wfm-checkbox-toggle"></span>
											<span class="wfm-checkbox-label">{{site.SiteName}}</span>
										</label>
										</div>
									</div>
									<button class="wfm-btn wfm-btn-primary" ng-click="vm.selectItems(1)">Select sites</button>
									<button class="wfm-btn wfm-btn-primary" ng-click="vm.clearSelection(1)">Clear</button>
								</form>

							</div>
						</div>

						<div class="con-flex">
							<div class="relative" style="padding-top:10px">
								<input type="text" placeholder="Select teams" ng-click="vm.toggleDropdown(2)"/>
								<form ng-cloak name="form" class="wfm-form wfm-dropdown-panel panel material-depth-2 animate-show" novalidate ng-show="vm.openTeamPicker">
									<div class="sub-header">
										<div>
											<label for="filter" class="input-icon">
									<i class="mdi mdi-filter-outline"></i>
									<input type="text" id="filter" placeholder="Filter teams" ng-model="vm.searchTeam">
									<md-tooltip>Filter teams</md-tooltip>
								</label>
								<i class="mdi mdi-close pull-right" ng-click="vm.closeDropdown(2)" style="cursor: pointer"><md-tooltip>Close</md-tooltip></i>
										</div>
									</div>
									<div ng-repeat="team in vm.organization.Teams | filter:vm.searchTeam">
										<div class="wfm-checkbox">
											<label>
											<input type="checkbox" name="checkbox" value="{{team.TeamId}}" ng-click="team.toggle()" ng-checked="team.isChecked">
											<span class="wfm-checkbox-toggle"></span>
											<span class="wfm-checkbox-label">{{team.TeamName}}</span>
										</label>
										</div>
									</div>
									<button class="wfm-btn wfm-btn-primary" ng-click="vm.selectItems(2)">Select teams</button>
									<button class="wfm-btn wfm-btn-primary" ng-click="vm.clearSelection(2)">Clear</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="con-row">
			<div class="con-flex">
				<div class="panel">
					<div class="sub-header">
						<label for="filter" class="input-icon">
              <i class="mdi mdi-filter-outline">
              <input type="text" id="filter" placeholder="filter agents" ng-change="vm.filterAgents()" ng-model="vm.filterText">
              <md-tooltip>Filter</md-tooltip>
              </i>
            </label>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<table class="wfm-table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Site</th>
										<th>Team</th>
										<th>User Code</th>
										<th>State</th>
									</tr>
								</thead>

								<style>
									.selected-row {
										background: #bada55!important;
									}
								</style>

								<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.toggleAgents()">Toggle all agents</button>
								<button class="wfm-btn wfm-btn-invis-default">Fetch all agents</button>
								<tbody>
									<tr ng-repeat="agent in vm.filteredAgents | limitTo: vm.agentsShown" ng-click="agent.selectAgent()" style="cursor: pointer;"
									 class="for-test-agent">
										<td ng-class="{'selected-row':agent.isSelected}">{{agent.Name}}</td>
										<td ng-class="{'selected-row':agent.isSelected}">{{agent.SiteName}}</td>
										<td ng-class="{'selected-row':agent.isSelected}">{{agent.TeamName}}</td>
										<td ng-class="{'selected-row':agent.isSelected}">{{agent.DataSource}} _ {{agent.UserCode}} </td>
										<td ng-click="$event.stopPropagation();">
											<select ng-model="pickedStateCode" ng-change="agent.sendState(pickedStateCode)">
												<option value="" disabled selected>Pick a state</option>
												<option value={{state.Code}} ng-repeat="state in vm.stateCodes">
													{{state.Name}}
												</option>	
											</select>
										</td>
									</tr>
								</tbody>
							</table>
							<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="vm.loadMore()" ng-disabled="vm.noMoreLoading">{{vm.loadingText}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>