<div>
	<div class="row">
		<button class="wfm-btn wfm-btn-default" ng-click="back()">{{ 'Back' | translate }}</button>
	</div>
	<div class="row">
		<h3>
			{{workloadName}}
		</h3>
	</div>
	<div class="row">
		<div ng-if="loading" class="wfm-block">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		<div ng-if="!loading">
			<div class="alert-warning notice-spacer" ng-if="weekDays.length===0">
				<i class='mdi mdi-alert'></i> Warning: There is no historical data available.
			</div>
			<div ng-repeat="weekDay in weekDays" class="wfm-block">
				<h4>
					{{weekDay.DayOfWeekDisplayName}}
				</h4>
				<div class="wfm-block">
					<div id="{{weekDay.ChartId}}"></div>
				</div>
			</div>
		</div>
	</div>
</div>

