<div>
	<div class="row">
		<button class="wfm-btn wfm-btn-default" ng-click="back()">{{ 'Back' | translate }}</button>
	</div>
	<div class="row">
		<h3>
			{{workloadName}}
		</h3>
	</div>
	<div class="row">
		<div ng-if="loading" class="wfm-block">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		<div ng-if="!loading">
			<div class="alert-warning notice-spacer" ng-if="methods.length===0">
				<i class='mdi mdi-alert'></i> {{'WarningNoHistorícalData' | translate}}
			</div>
			<div ng-if="methods.length!==0" ng-repeat="method in methods" class="wfm-block">
				<div class="row">
					<h3>
						{{'ForecastMethodIDColon' | translate}} {{method.MethodId}} <i class="mdi mdi-star" ng-if="method.IsSelected"> <md-tooltip>{{'BestForecastMethod' | translate}}</md-tooltip></i>
					</h3>
					<h4>{{'Accuracy' | translate}}: {{method.AccuracyNumber}}%</h4>
				</div>
				<div class="row">
					<p>
						We use historical data from <b>{{method.PeriodUsedToEvaluateStart | date : shortDate}}</b> to <b>{{method.PeriodUsedToEvaluateEnd | date : shortDate}}</b>, and evaluate forecast methods on the period from <b>{{method.PeriodEvaluateOnStart | date : shortDate}}</b> to <b>{{method.PeriodEvaluateOnEnd | date : shortDate}}</b>.
					</p>
				</div>
				<div class="wfm-block">
					<c3chart bindto-id="{{method.ChartId}}" chart-data="method.Days" chart-columns="chartDataColumns" chart-x="dataX" show-subchart="true">
						<chart-axis>
							<chart-axis-x axis-id="date" axis-type="timeseries">
								<chart-axis-x-tick tick-format="%Y-%m-%d" />
							</chart-axis-x>
						</chart-axis>
						<chart-axis>
							<chart-axis-y axis-id="y" axis-position="outer-middle" axis-label="Number of Calls" />
						</chart-axis>
					</c3chart>
				</div>
			</div>
		</div>
	</div>
</div>
