<div>
	<form name="form" class="wfm-form" novalidate ng-submit="createSkill(form.$valid)">
		<h4 class="create-skill-header">Create Skill</h4>
		<h5 class="skill-section-header">General</h5>
		<div class="form-input-wrap">
			<label for="nameId">Name <input type="text" ng-maxlength="50" ng-model="model.name" name="Name" required="" id="nameId" /></label>
			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.Name.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}">The name is required</div>
				<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.maxlength}">The name must be less than 50 characters long</div>
			</div>
		</div>
		<div class="form-input-wrap">
			<label for="drop">Activity</label>
				<select style="width: 100%" id="drop" ng-model="model.selectedActivity" ng-options="activity.Name disable when activity.Disabled for activity in activities"></select>

			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || model.selectedActivity.$error.required.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:model.selectedActivity.$error.required}">Pick at least one</div>
			</div>
		</div>
		<div class="form-input-wrap">
			<label for="drop">Time zone</label>
			<select style="width: 100%" id="drop" ng-model="model.selectedTimezone" ng-options="timezone.Name disable when timezone.Disabled for timezone in timezones"></select>

			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || model.selectedTimezone.$error.required.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:model.selectedTimezone.$error.required}">Pick at least one</div>
			</div>
		</div>

		<h5 class="skill-section-header">Staffing levels</h5>
		<div class="form-input-wrap">
			<label for="serviceLevelPercentId">Service level (%) <input type="number" ng-model="model.serviceLevelPercent" name="skillServiceLevelPercent" required="" id="serviceLevelPercentId" min="1" max="100" /></label>
			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.skillServiceLevelPercent.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:form.skillServiceLevelPercent.$error.required}">Percentage is required</div>
				<div class="form-input-message" ng-class="{formInvalidInput:form.skillServiceLevelPercent.$error.min || form.skillServiceLevelPercent.$error.max}">Percentage should be 1-100</div>
			</div>
		</div>
		<div class="form-input-wrap">
			<label for="skillServiceLevelSecondsId">Service level (s) <input type="number" ng-model="model.serviceLevelSeconds" name="skillServiceLevelSeconds" required="" id="skillServiceLevelSecondsId" min="1" max="86400" /></label>
			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.skillServiceLevelSeconds.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:form.skillServiceLevelSeconds.$error.required}">Seconds are required</div>
				<div class="form-input-message" ng-class="{formInvalidInput:form.skillServiceLevelSeconds.$error.min || form.skillServiceLevelSeconds.$error.max}">Seconds should be 1-86400</div>
			</div>
		</div>
		<div class="form-input-wrap">
			<label for="shrinkageId">Shrinkage (%) <input type="number" ng-model="model.shrinkage" name="shrinkage" required="" id="shrinkageId" min="0" max="99" /></label>
			<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.shrinkage.$touched">
				<div class="form-input-message" ng-class="{formInvalidInput:form.shrinkage.$error.required}">Shrinkage is required</div>
				<div class="form-input-message" ng-class="{formInvalidInput:form.shrinkage.$error.min || form.shrinkage.$error.max}">Shrinkage should be 1-99</div>
			</div>
		</div>

		<h5 class="skill-section-header">Queues</h5>
		<div class="row skill-queues">
			<div class="col-lg-12">
				<div class="big-table-wrapper material-depth-1 queue-list">
					<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection class="grid"></div>
				</div>
				<div class="input-invalid-text" ng-class="{invalidForm: !queueSelected }">The queue is required</div>
			</div>
		</div>

		<h5 class="skill-section-header">Open hours</h5>
		<div class="row">
			<working-hours-picker working-hours="model.workingHours"></working-hours-picker>
		</div>
		<div class="row">
			<button type="submit" class="wfm-btn wfm-btn-primary pull-right skill-save">Save</button>
		</div>
	</form>
</div>