<div ng-controller="etlConfigController as vm">
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">Tenant config overview</div>
		<div class="panel-body text-container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col"><b>Tenant name</b></th>
						<th scope="col"><b>Base config</b></th>
						<th scope="col"><b>Log data config</b></th>
						<!-- <th scope="col"><b>Actions</b></th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tenant in vm.tenants">
						<td>{{tenant.TenantName}}</td>
						<td>
							<button type="button" class="btn btn-default" ng-class="{'btn-success':tenant.IsBaseConfigured}">
								{{tenant.IsBaseConfigured}}
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="vm.getLogDataForATenant(tenant)" >
								<svg class="spin" style="width:14px;height:14px" viewBox="0 0 24 24"  ng-if="tenant.loading">
									<path fill="#000000" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" />
								</svg>
								Configure

							</button>
						</td>
						<!-- <td>
							<a ng-href="/#/details/{{tenant.Url}}">
								<button type="button" class="btn btn-default">
									Details
								</button>
							</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<form class="custom-modal" ng-if="vm.showModal" ng-submit="vm.sendLogDataConfiguration()">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Datasource configuration</h5>
				<button type="button" class="close" ng-click="vm.showModal = false;" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<small style="color:tomato;" ng-cloak ng-if="vm.tenantLogData.Error">
					<svg style="width:16px;height:16px" viewBox="0 0 24 24">
						<path fill="tomato" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" />
					</svg>
					{{vm.tenantLogData.Error}}
				</small>
				<table class="table" ng-if="vm.tenantLogData.length > 0">
					<thead>
						<tr>
							<th scope="col">Status</th>
							<th scope="col">Name</th>
							<th scope="col">Time zone</th>
							<th scope="col">Interval length</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="logData in vm.tenantLogData">
							<th scope="row" ng-if="logData.TimeZoneCode">✓</th>
							<th scope="row" ng-if="!logData.TimeZoneCode">✗</th>
							<td>{{logData.Name}}</td>
							<td>
								<select ng-if="!logData.timezone" class="form-control" ng-options="timezone.Id as timezone.Text for timezone in vm.TimeZoneCodes" ng-model="logData.TimeZoneCode">
									<option ng-show="!logData.selectedTimezone" value="">- Select time zone</option>
								</select>
							</td>
							<td>15</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="vm.tenantLogData.length <= 0">
					No log data sources found
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" ng-if="vm.logDataSending" name="button">
					<svg class="spin" style="width:14px;height:14px" viewBox="0 0 24 24">
						<path fill="#000000" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" />
					</svg> Running... This might take several minutes
				</button>
				<button type="button" class="btn btn-secondary" ng-disabled="vm.logDataSending" ng-click="vm.showModal = false; vm.selectedTenant = null;">Close</button>
				<button type="submit" class="btn btn-primary" ng-disabled="vm.logDataSending">Ok</button>
			</div>
		</div>
	</form>

</div>
