<div class="container body-content">
	<h2>
		ETL
	</h2>
	<div class="row">
		<div class="col-md-12">
			<a type="button" class="btn btn-default" href="./#/ETL">Manual</a>
			<a type="button" class="btn btn-default" href="./#/ETL/schedule">Schedule</a>
			<a type="button" class="btn btn-default" href="./#/ETL/history">History</a>
			<a type="button" class="btn btn-default pull-right" href="./#/ETL/config">
				<svg style="width:16px; height: 16px; cursor: pointer;" viewBox="0 0 24 24">
					<path fill="#000" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
				</svg>
			</a>
		</div>
	</div>


	<div ng-controller="etlConfigController as vm">
		<br />
		<b>Tenant configuration</b>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="input-group ">
					<span class="input-group-addon" id="basic-addon1">
						<svg style="width:14px;height:14px" viewBox="0 0 24 24">
							<path fill="#000000" d="M3,2H21V2H21V4H20.92L15,9.92V22.91L9,16.91V9.91L3.09,4H3V2M11,16.08L13,18.08V9H13.09L18.09,4H5.92L10.92,9H11V16.08Z" />
						</svg>
					</span>
					<input type="text" class="form-control" ng-model="configFilter.TenantName" placeholder="Filter" aria-label="Username" aria-describedby="basic-addon1">
					<!-- <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal2">New</button> -->
				</div>
			</div>
			<div class="panel-body text-container">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" ng-click="sortType = 'TenantName'; sortReverse = !sortReverse">
								Tenant name
								<span ng-show="sortType == 'TenantName' && !sortReverse">▾</span>
								<span ng-show="sortType == 'TenantName' && sortReverse">▴</span>
							</th>
							<th scope="col" ng-click="sortType = 'IsBaseConfigured'; sortReverse = !sortReverse">
								Base configuration
								<span ng-show="sortType == 'IsBaseConfigured' && !sortReverse">▾</span>
								<span ng-show="sortType == 'IsBaseConfigured' && sortReverse">▴</span>
							</th>
							<th scope="col">
								Log data configuration
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tenant in vm.tenants | filter:configFilter  | orderBy:sortType:sortReverse">
							<td>{{tenant.TenantName}}</td>
							<td>
								<button type="button" class="btn btn-default" ng-class="{'btn-success':tenant.IsBaseConfigured}" ng-click="tenant.showTenantConfiguration = true">
									{{tenant.IsBaseConfigured == true ? 'Configured' : 'Configure'}}
								</button>
								<div class="custom-modal" ng-if="tenant.showTenantConfiguration">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Base configuration</h5>
											<button type="button" class="close" ng-click="tenant.showTenantConfiguration = false" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<etl-modal ng-cloak tenant="tenant" callback="vm.getTenants" output="tenant.IsBaseConfigured"></etl-modal>
										</div>
									</div>
								</div>

							</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="vm.getLogDataForATenant(tenant)">
									<svg class="spin" style="width:14px;height:14px" viewBox="0 0 24 24" ng-if="tenant.loading">
										<path fill="#000000" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" />
									</svg>
									Configure

								</button>
							</td>
							<!-- <td>
								<a ng-href="/#/details/{{tenant.Url}}">
									<button type="button" class="btn btn-default">
										Details
									</button>
								</a>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<form class="custom-modal" ng-if="vm.showModal" ng-submit="vm.sendLogDataConfiguration()">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Datasource configuration</h5>
					<button type="button" class="close" ng-click="vm.showModal = false;" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<small style="color:tomato;" ng-cloak ng-if="vm.tenantLogData.Error">
						<svg style="width:16px;height:16px" viewBox="0 0 24 24">
							<path fill="tomato" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" />
						</svg>
						{{vm.tenantLogData.Error}}
					</small>
					<table class="table" ng-if="vm.tenantLogData.length > 0">
						<thead>
							<tr>
								<th scope="col">Status</th>
								<th scope="col">Name</th>
								<th scope="col">Time zone</th>
								<th scope="col">Interval length</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="logData in vm.tenantLogData" ng-class="{'unmatched':!logData.IsIntervalLengthSameAsTenant}">
								<th scope="row" ng-if="logData.TimeZoneCode">✓ <span ng-if="!logData.IsIntervalLengthSameAsTenant">Interval length not matching with tenant interval length.</span></th>
								<th scope="row" ng-if="!logData.TimeZoneCode">✗ <span ng-if="!logData.IsIntervalLengthSameAsTenant">Interval length not matching with tenant interval length.</span></th>
								<td>{{logData.Name}}</td>
								<td>
									<select ng-if="!logData.timezone" ng-disabled="!logData.IsIntervalLengthSameAsTenant" class="form-control" ng-options="timezone.Id as timezone.Text for timezone in vm.TimeZoneCodes" ng-model="logData.TimeZoneCode">
										<option ng-show="!logData.selectedTimezone" value="">- Select time zone</option>
									</select>
								</td>
								<td>{{logData.IntervalLength}}</td>
							</tr>
						</tbody>
					</table>
					<div ng-cloak ng-if="vm.tenantLogData.length <= 0">
						No log data sources found
					</div>
				</div>
				<div class="modal-footer" style="text-align:right;">
					<button type="button" class="btn btn-default pull-left" ng-if="vm.logDataSending" name="button">
						<svg class="spin" style="width:14px;height:14px" viewBox="0 0 24 24">
							<path fill="#000000" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" />
						</svg> Running... This might take several minutes
					</button>
					<button type="button" class="btn btn-secondary" ng-disabled="vm.logDataSending" ng-click="vm.showModal = false; vm.selectedTenant = null;">Close</button>
					<button type="submit" class="btn btn-primary" ng-disabled="vm.logDataSending">Ok</button>
				</div>
			</div>
		</form>
	</div>
</div>

