<section class="container body-content">
	<h2>ETL</h2>
	<div class="row">
		<div class="col-md-12">
			<a type="button" class="btn btn-default" href="./#/ETL">Manual</a>
			<a type="button" class="btn btn-default" href="./#/ETL/schedule">Schedule</a>
			<a type="button" class="btn btn-default" href="./#/ETL/history">History</a>
		</div>
	</div>
	<div ng-controller="etlConfigController as vm">
		<h4>Tenant configuration</h4>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
					<input type="text" class="form-control" ng-model="configFilter.TenantName" placeholder="Filter" aria-label="Username">
				</div>
			</div>
			<div class="panel-body text-container">
				<table class="table">
					<thead>
					<tr>
						<th scope="col" ng-click="sortType = 'TenantName'; sortReverse = !sortReverse">Tenant name
							<span ng-show="sortType == 'TenantName' && !sortReverse"><i class="glyphicon glyphicon-arrow-down"></i></span>
							<span ng-show="sortType == 'TenantName' && sortReverse"><i class="glyphicon glyphicon-arrow-up"></i></span>
						</th>
						<th scope="col" ng-click="sortType = 'IsBaseConfigured'; sortReverse = !sortReverse">Base configuration
							<span ng-show="sortType == 'IsBaseConfigured' && !sortReverse"><i class="glyphicon glyphicon-arrow-down"></i></span>
							<span ng-show="sortType == 'IsBaseConfigured' && sortReverse"><i class="glyphicon glyphicon-arrow-up"></i></span>
						</th>
						<th scope="col">
							Log data configuration
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="tenant in vm.tenants | filter:configFilter  | orderBy:sortType:sortReverse">
						<td>{{tenant.TenantName}}</td>
						<td>
							<button type="button" class="btn btn-default" ng-class="{'btn-success':tenant.IsBaseConfigured}" ng-click="tenant.showTenantConfiguration = true">
									{{tenant.IsBaseConfigured == true ? 'Configured' : 'Configure'}}
							</button>
							<div class="custom-modal" ng-if="tenant.showTenantConfiguration">
								<div class="modal-content">
									<div class="modal-header">
										<h5>Base configuration</h5>
										<i class="glyphicon glyphicon-remove pull-right" ng-click="tenant.showTenantConfiguration = false"></i>
									</div>
									<div class="modal-body">
										<etl-modal ng-cloak tenant="tenant" callback="vm.getTenants" output="tenant.IsBaseConfigured"></etl-modal>
									</div>
								</div>
							</div>
						</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="vm.getLogDataForATenant(tenant)">
								<i ng-if="tenant.loading" class="glyphicon glyphicon-refresh"></i>Configure
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<form class="custom-modal" ng-if="vm.showModal" ng-submit="vm.sendLogDataConfiguration()">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Datasource configuration</h5>
					<button type="button" class="close" ng-click="vm.showModal = false;" aria-label="Close"><i class="glyphicon glyphicon-remove"></i></button>
				</div>
				<div class="modal-body">
					<small style="color:#ff6347;" ng-cloak ng-if="vm.tenantLogData.Error">
						<i class=".glyphicon-glyphicon-question-sign"></i>
						{{vm.tenantLogData.Error}}
					</small>
					<table class="table" ng-if="vm.tenantLogData.length > 0">
						<thead>
						<tr>
							<th scope="col">Status</th>
							<th scope="col">Name</th>
							<th scope="col">Time zone</th>
							<th scope="col">Interval length</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="logData in vm.tenantLogData" ng-class="{'unmatched':!logData.IsIntervalLengthSameAsTenant}">
							<th scope="row" ng-if="logData.TimeZoneCode">✓ <span ng-if="!logData.IsIntervalLengthSameAsTenant">Interval length not matching with tenant interval length.</span></th>
							<th scope="row" ng-if="!logData.TimeZoneCode">✗ <span ng-if="!logData.IsIntervalLengthSameAsTenant">Interval length not matching with tenant interval length.</span></th>
							<td>{{logData.Name}}</td>
							<td>
								<select ng-if="!logData.timezone" ng-disabled="!logData.IsIntervalLengthSameAsTenant" class="form-control" ng-options="timezone.Id as timezone.Text for timezone in vm.TimeZoneCodes" ng-model="logData.TimeZoneCode">
									<option ng-show="!logData.selectedTimezone" value="">- Select time zone</option>
								</select>
							</td>
							<td>{{logData.IntervalLength}}</td>
						</tr>
						</tbody>
					</table>
					<div ng-cloak ng-if="vm.tenantLogData.length <= 0">
						No log data sources found
					</div>
				</div>
				<div class="modal-footer pu" style="text-align:right;">
					<button type="button" class="btn btn-default pull-left" ng-if="vm.logDataSending">
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Running... This might take several minutes
					</button>
					<button type="button" class="btn btn-secondary" ng-disabled="vm.logDataSending" ng-click="vm.showModal = false; vm.selectedTenant = null;">Close</button>
					<button type="submit" class="btn btn-primary" ng-disabled="vm.logDataSending">Ok</button>
				</div>
			</div>
		</form>
	</div>
</section>