<div class="container-fluid body-content" ng-controller="etlController as vm">
	<etl-modal ng-cloak ng-if="vm.masterTenant.IsBaseConfigured === false" tenant="vm.masterTenant" callback="vm.getTenants" output="vm.masterTenant.IsBaseConfigured"></etl-modal>
	<div class="container ETLManualTopContainer" ng-cloak ng-if="vm.masterTenant.IsBaseConfigured">
		<h2 >ETL</h2>
		<div class="row">
			<div class="col-md-12">
				<a type="button" class="btn btn-default" href="./#/ETL">Manual</a>
				<a type="button" class="btn btn-default" href="./#/ETL/schedule">Schedule</a>
				<a type="button" class="btn btn-default" href="./#/ETL/history">History</a>
				<a type="button" class="btn btn-default pull-right glyphicon glyphicon-cog" href="./#/ETL/config"></a>
			</div>
		</div>
	</div>
	<div ng-include="'Etl/manual.html'"></div>
</div>
