<div class="container body-content">
	<h2>
		ETL
	</h2>
	<div class="row">
		<div class="col-md-12">
			<a type="button" class="btn btn-default" href="./#/ETL">Manual</a>
			<a type="button" class="btn btn-default" href="./#/ETL/schedule">Schedule</a>
			<a type="button" class="btn btn-default" href="./#/ETL/history">History</a>
			<a type="button" class="btn btn-default pull-right" href="./#/ETL/config">
				<svg style="width:16px; height: 16px; cursor: pointer;" viewBox="0 0 24 24">
					<path fill="#000" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
				</svg>
			</a>
		</div>
	</div>

	<div ng-controller="etlHistoryController as vm">
		<br />
		<b>History</b>
		<div class="panel panel-default">
			<div class="panel-heading">
				Parameters
				<span ng-click="vm.getStatusRightNow()">
					<span class="pull-right" ng-if="vm.status == null">No jobs running</span>
					<span class="pull-right" ng-if="vm.status !== null">{{vm.status.JobName}} job started running at {{vm.status.formatedTime}}</span>
				</span>
			</div>
			<div class="panel-body text-container">
				<div class="row">
					<div class="col-md-12">
						<div class="row toolbar">
							<div class="col-md-3">
								<h5>Date from:</h5>
								<md-datepicker ng-model="vm.historyWorkPeriod.StartDate" md-placeholder="N/A" md-open-on-focus></md-datepicker>
							</div>
							<div class="col-md-3">
								<h5>Date to:</h5>
								<md-datepicker ng-model="vm.historyWorkPeriod.EndDate" md-placeholder="N/A" md-open-on-focus></md-datepicker>
							</div>
							<div class="col-md-2">
								<h5>Tenant:</h5>
								<select class="form-control" id="exampleFormControlSelect2" ng-options="tenant.TenantName for tenant in vm.tenants" ng-model="vm.selectedTenant" ng-change="vm.selectedTenantChanged()"></select>
							</div>
							<div class="col-md-2">
								<h5>Business unit:</h5>
								<select class="form-control" ng-options="bu.Name for bu in vm.businessUnits" ng-model="vm.selectedBu"></select>
							</div>
							<div class="col-md-2">
								<h5>Only errors:</h5>
								<input class="switch" ng-model="vm.errorsOnly" type="checkbox">
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-12 ">
						<button ng-disabled="vm.loadingHistory" type="button" class="btn btn-primary pull-right" name="button" ng-click="vm.getHistoryForTenant()">Find history</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading follow-filter">
						<div class="input-group ">
							<span class="input-group-addon" id="basic-addon1">
								<svg style="width:14px;height:14px" viewBox="0 0 24 24">
									<path fill="#000000" d="M3,2H21V2H21V4H20.92L15,9.92V22.91L9,16.91V9.91L3.09,4H3V2M11,16.08L13,18.08V9H13.09L18.09,4H5.92L10.92,9H11V16.08Z" />
								</svg>
							</span>
							<input type="text" ng-model="historyFilter.Name" class="form-control" placeholder="Filter" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="panel-body" style="overflow: auto;">
						<table class="table" ng-class="vm.loadingHistory ? 'opacityOnLoad' : ''">
							<thead>
								<tr>
									<th scope="col" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
										Job name
										<span ng-show="sortType == 'Name' && !sortReverse">▾</span>
										<span ng-show="sortType == 'Name' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'BusinessUnitName'; sortReverse = !sortReverse">
										Business unit
										<span ng-show="sortType == 'BusinessUnitName' && !sortReverse">▾</span>
										<span ng-show="sortType == 'BusinessUnitName' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'StartTime'; sortReverse = !sortReverse">
										Start time
										<span ng-show="sortType == 'StartTime' && !sortReverse">▾</span>
										<span ng-show="sortType == 'StartTime' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'EndTime'; sortReverse = !sortReverse">
										End time
										<span ng-show="sortType == 'EndTime' && !sortReverse">▾</span>
										<span ng-show="sortType == 'EndTime' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'Duration'; sortReverse = !sortReverse">
										Duration
										<span ng-show="sortType == 'Duration' && !sortReverse">▾</span>
										<span ng-show="sortType == 'Duration' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'RowsAffected'; sortReverse = !sortReverse">
										Affected rows
										<span ng-show="sortType == 'RowsAffected' && !sortReverse">▾</span>
										<span ng-show="sortType == 'RowsAffected' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'ScheduleName'; sortReverse = !sortReverse">
										Schedule
										<span ng-show="sortType == 'ScheduleName' && !sortReverse">▾</span>
										<span ng-show="sortType == 'ScheduleName' && sortReverse">▴</span>
									</th>
									<th scope="col" ng-click="sortType = 'TenantName'; sortReverse = !sortReverse">
										Tenant Name
										<span ng-show="sortType == 'TenantName' && !sortReverse">▾</span>
										<span ng-show="sortType == 'TenantName' && sortReverse">▴</span>
									</th>
									<th scope="col"></th>
									<th scope="col" ng-click="sortType = 'ErrorMessage'; sortReverse = !sortReverse">
										Errors
										<span ng-show="sortType == 'ErrorMessage' && !sortReverse">▾</span>
										<span ng-show="sortType == 'ErrorMessage' && sortReverse">▴</span>
									</th>
								</tr>
							</thead>	
							
							<tr ng-if="vm.loadingHistory" style="width: 100%; height: 0px; position: relative; padding: 0; margin: 0;">
								<td colspan="9" style="height: 0; padding: 0; margin: 0;">
									<div style="width: 100%; position:absolute" class="vertically-horizontally-center">
										<svg class="spin ng-scope ng-animate ng-leave ng-leave-active" style="width: 35px; height: 35px; position: absolute;" viewBox="0 0 24 24" data-ng-animate="5">
											<path fill="#000000" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"></path>
										</svg>
									</div>
								</td>
							</tr>

							<tbody style="border-top:0" ng-repeat="job in vm.history | filter: historyFilter | orderBy:sortType:sortReverse ">
								<tr ng-click="job.Open = !job.Open">
									<td class="center-row">
										<span ng-click="job.Open = !job.Open; $event.stopPropagation()" style="outline: none;">
											<span ng-if="job.Open">
												<svg style="width: 18px; height: 18px; margin: 5px;" viewBox="0 0 24 24">
													<path fill="#000000" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M17,11V13H7V11H17Z" />
												</svg>
											</span>
											<span ng-if="!job.Open">
												<svg style="width: 18px; height: 18px; margin: 5px;" viewBox="0 0 24 24">
													<path fill="#000000" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M11,7H13V11H17V13H13V17H11V13H7V11H11V7Z" />
												</svg>
											</span>
										</span>
										{{job.Name}}
									</td>
									<td>
										{{job.BusinessUnitName}}
									</td>
									<td>
										{{job.StartTime | date:'HH:mm on EEEE, MMMM d, y'}}
									</td>
									<td>
										{{job.EndTime  | date:'HH:mm on EEEE, MMMM d, y'}}
									</td>
									<td>
										{{job.Duration}}
									</td>
									<td>
										{{job.RowsAffected}}
									</td>
									<td>
										{{job.ScheduleName}}
									</td>
									<td>
										{{job.TenantName}}
									</td>
									<td ng-click="$event.stopPropagation()">
										<div class="cop" ng-init="vm.buildError(job);" ngclipboard data-clipboard-text="{{job.ConstructedError}}" ng-if="job.ErrorMessage" ng-click="vm.copy(job);">
											<svg style="width: 24px; height: 24px" viewBox="0 0 24 24" ng-if="!job.Copied">
												<path fill="#000000" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7Z"/>
											</svg>
											<svg style="width: 24px; height: 24px" viewBox="0 0 24 24" ng-if="job.Copied">
												<path fill="green" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7M7.5,13.5L9,12L11,14L15.5,9.5L17,11L11,17L7.5,13.5Z"/>
											</svg>
											<span ng-if="job.Copied" style="color: green">Copied</span>
										</div>
									</td>
									<td style="color:tomato; display: table-cell; word-break: break-all" class="cop" ng-click="$event.stopPropagation()">
										{{job.ErrorMessage}}
									</td>
								</tr>
								<tr ng-if="job.Open" ng-repeat="step in job.JobStepsHistory track by $index">
									<td class="subrow">
										<span>&nbsp; &nbsp;{{step.Name}}</span>
										<span class="pull-right" style="color: tomato" ng-if="step.DependsOnTenant">(Depends on configuration of tenant)</span>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td>{{step.Duration}}</td>
									<td>{{step.RowsAffected}}</td>
									<td></td>
									<td></td>
									<td>
										<div class="cop" ng-init="vm.buildError(step);" ngclipboard data-clipboard-text="{{step.ConstructedError}}" ng-if="step.ErrorMessage" ng-click="vm.copy(step);">
											<svg style="width:24px;height:24px" viewBox="0 0 24 24" ng-if="!step.Copied">
												<path fill="#000000" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7Z" />
											</svg>
											<svg style="width:24px;height:24px" viewBox="0 0 24 24" ng-if="step.Copied">
												<path fill="green" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7M7.5,13.5L9,12L11,14L15.5,9.5L17,11L11,17L7.5,13.5Z" />
											</svg>
											<span ng-if="step.Copied" style="color:green">Copied</span>
										</div>
									</td>
									<td style="color:tomato; word-break: break-all" class="cop" ng-click="$event.stopPropagation()">
										{{step.ErrorMessage}}
									</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="vm.error && !vm.loadingHistory" class="alert alert-warning pointer" role="alert">	<!-- if unconfigured tenants  -->
							{{vm.error}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.vertically-horizontally-center{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.opacityOnLoad {
		opacity:0.5
	}
</style>