<br/>
<div class="panel panel-default">
	<div class="panel-heading">Settings</div>
	<div class="panel-body text-container">
		<div class="row">
			<div class="col-md-4">
				<fieldset>
					<legend>Work period</legend>
					<div class="row">
						<div class="col-md-6">
							date from
							<datepicker date-format="shortDate">
								<input ng-model="vm.historyWorkPeriod.StartDate" type="text" />
							</datepicker>
						</div>
						<div class="col-md-6">
							date to
							<datepicker date-format="shortDate">
								<input ng-model="vm.historyWorkPeriod.EndDate" type="text" />
							</datepicker>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-3">
				<fieldset>
					<legend>Business unit</legend>
					<form>
						<div class="form-group">
							<select class="form-control" id="exampleFormControlSelect1">
								<option>Teleopti WFM</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</form>
				</fieldset>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-4">
						<fieldset>
							<legend>Job result type</legend>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" value="" checked>
									Only errors
								</label>
							</div>
						</fieldset>
					</div>
					<div class="col-md-4">
						<fieldset>
							<legend>Refresh</legend>
							<button type="button" class="btn btn-light">
								<svg style="width:18px;height:18px" viewBox="0 0 24 24">
									<path fill="#000000" d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
								</svg>
							</button>
						</fieldset>
					</div>
					<div class="col-md-4">
						<fieldset>
							<legend>Running status</legend>
							No running jobs
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>



<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default ">
			<div class="panel-heading">
				<div class="input-group ">
					<span class="input-group-addon" id="basic-addon1">
						<svg style="width:14px;height:14px" viewBox="0 0 24 24">
							<path fill="#000000" d="M3,2H21V2H21V4H20.92L15,9.92V22.91L9,16.91V9.91L3.09,4H3V2M11,16.08L13,18.08V9H13.09L18.09,4H5.92L10.92,9H11V16.08Z" />
						</svg>
					</span>
					<input type="text" ng-model="historyFilter" class="form-control" placeholder="Filter" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<th>Job name</th>
						<th>Business unit name</th>
						<th>Start</th>
						<th>End</th>
						<th>Duration</th>
						<th>Affected rows</th>
						<th>Job schedule name</th>
						<th>Error message</th>
					</tr>
					</thead>
		

					<tbody ng-repeat="job in vm.jobs | filter: historyFilter">
					<tr ng-click="job.Open = !job.Open" >
						<td>
							{{job.Name}}
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>
</div>	