@media only screen and (min-width: 1741px) {

	.manualJobOuterDateContainer {
		position: fixed !important;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		height: 80%;
		width: 16.66666667%;
		float: left;
		padding: 0;
		margin: 0;
		left: 0;
		-ms-overflow-style: none;
		overflow: auto;
		top: 5em;
		margin-left: 1em;
	}

		.manualJobOuterDateContainer::-webkit-scrollbar {
			display: none;
		}

	.manualJobDateContainer {
		position: fixed;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 100px;
		padding: 0;
		margin: 0;
		left: 0;
	}
	
	.manualJobDateFrom h5 {
		margin: 0
	}

	.manualJobDateTo h5 {
		margin: 0
	}

	.manualJobInnerDateContainer {
		float: none;
		margin-top: 25px;
		font-size: 21px;
		text-align: center;
		animation: fadein 2s;
		-moz-animation: fadein 2s; /* Firefox */
		-webkit-animation: fadein 2s; /* Safari and Chrome */
		-o-animation: fadein 2s; /* Opera */
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@-moz-keyframes fadein { /* Firefox */
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@-webkit-keyframes fadein { /* Safari and Chrome */
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@-o-keyframes fadein { /* Opera */
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

@media only screen and (max-width: 1740px) {

	.manualJobDateContainer {
		width: 100%;
	}

	.manualJobInnerDateContainer {
		float: left;
		margin-right: 2em;
		margin-left: -1em;
		min-width: 18em;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1170px;
	}
}
