<form ng-submit="ctrl.sendBaseConfig();" Name="baseForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span ng-if="ctrl.tenant.TenantName">
				{{ctrl.tenant.TenantName}}
			</span>
			<span ng-if="!ctrl.tenant.TenantName">
				ETL initial configuration
			</span>
		</div>
		<div class="panel-body text-container">
			<b>Before it is possible to use the ETL manual tool or background service for processing reporting data a few important decisions must be made. Please select carefully as these, once set, cannot be undone easily without major maintenance work.</b>
			<br />
			<br />
			<p> - Interval length: Highest reporting resolution, typically 15 minutes. This absolutely must match the interval used in the aggregation database, which in it self will most often mirror the interval used in the ACD reports (If interval length is already in use in Analytics database this option is disabled).</p>
			<p> - Culture: The culture used for some report data, i.e, will decide day names and week numbering for all reporting users. Will not affect the date and numbering formats in reports.</p>
			<p> - Time Zone: Should normally reflect the time zone of the server where ETL is running. Used by ETL to know exactly which data periods jobs should be run with.</p>
			<br />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="baseInterval">Interval length:</label>
						<select class="form-control" id="baseInterval" ng-disabled="ctrl.tenant.IsBaseConfigured" ng-options="interval.Id as interval.Text for interval in ctrl.configData.IntervalLengthList" ng-model="ctrl.baseConfig.interval">
							<!--<option ng-show="!ctrl.baseConfig.interval" value="">- Select Interval length</option>-->
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="baseCulture">Culture:</label>
						<select class="form-control" id="baseCulture" ng-disabled="ctrl.tenant.IsBaseConfigured" ng-options="culture.Id as culture.Text for culture in ctrl.configData.CultureList" ng-model="ctrl.baseConfig.culture">
							<!--<option ng-show="!ctrl.baseConfig.culture" value="">- Select culture</option>-->
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="baseTimezone">Time zone:</label>
						<select class="form-control" id="baseTimezone" ng-disabled="ctrl.tenant.IsBaseConfigured" ng-options="timezone.Id as timezone.Text for timezone in ctrl.configData.TimeZoneList" ng-model="ctrl.baseConfig.timezone">
							<!--<option ng-show="!ctrl.baseConfig.timezone" value="">- Select time zone</option>-->
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer" style="text-align:right;">
			<button class="btn btn-primary" type="submit" ng-disabled="ctrl.tenant.IsBaseConfigured">
				<md-icon style="padding-right: 5px" md-svg-src="Content/images/ic_forward_black_24px.svg" aria-hidden="true">
					<svg fill="#000000" height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
						<path d="M12 8V4l8 8-8 8v-4H4V8z"></path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
				</md-icon>
				<span class="text-white">Apply configuration</span>
			</button>
		</div>
	</div>
</form>
