<div class="modal-content">
	<div class="modal-header">
		<!-- <h5 class="modal-title" id="exampleModalLabel">
		<span>
		<label class="form-check-label">
		<input type="checkbox" class="form-check-input" ng-model="vm.scheduleNameEnabled">
		<span ng-if="!vm.scheduleNameEnabled">Disabled</span>
		<span ng-if="vm.scheduleNameEnabled">Enabled</span>
	</label>
</span>
</h5> -->
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
</div>
<form>
	<div class="modal-body">

		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Edit schedule</legend>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="form-check-label" for="scheduleName">
									Name
								</label>
								<input type="text" class="form-control" ng-model="vm.editingSchedule.Name" aria-describedby="emailHelp" placeholder="New Name">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="form-check-label" for="scheduleDesc">
									Description
								</label>
								<input type="text" class="form-control" ng-model="vm.editingSchedule.Description" aria-describedby="emailHelp" placeholder="Name">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-group">
									<label>Job</label>
									<select class="form-control">
										<option>Teleopti WFM</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-group">
									<label>Tenant</label>
									<select class="form-control">
										<option>Teleopti WFM</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<br/>

		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Daily frequency</legend>
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<div class="center-flex">
									<input class="switch" ng-model="vm.frequencyType" ng-click="vm.toggleFrequencyType()" type="checkbox">
									&nbsp; Occurs &nbsp;
									<span ng-if="!vm.frequencyType">once</span>
									<span ng-if="vm.frequencyType">repeatedly</span>
								</div>
							</div>
							<div class="col-md-12" ng-show="!vm.frequencyType">
								<div class="form-group">
									<label class="form-check-label">Occur at:</label>
									<input type="time" ng-model="vm.editingSchedule.onceTime" class="form-control" aria-describedby="emailHelp" value="00:00">
								</div>
							</div>

							<div class="col-md-12" ng-show="vm.frequencyType">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-check-label">
												Occurs every:
											</label>
											<input type="number" ng-model="vm.editingSchedule.everyTime" class="form-control" placeholder="Minutes">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-check-label">
												Starting at:
											</label>
											<input type="time" ng-model="vm.editingSchedule.everyStartTime" class="form-control" placeholder="Start time">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="form-check-label">
												Ending at:
											</label>
											<input type="time" ng-model="vm.editingSchedule.everyEndTime" class="form-control" placeholder="End time">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Job parameters</legend>
					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
								<div class="form-group">
									<label for="jobs">Log data source</label>
									<select class="form-control">
										<option>Teleopti WFM</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<fieldset>
										<legend>Initial</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Today
													</label>
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Start/end
													</label>
													<input type="number" class="form-control" aria-describedby="emailHelp">
													<input type="number" class="form-control" aria-describedby="emailHelp">
												</div>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4">
									<fieldset>
										<legend>Queue statistics</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Today
													</label>
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Start/end
													</label>
													<input type="number" class="form-control" aria-describedby="emailHelp">
													<input type="number" class="form-control" aria-describedby="emailHelp">
												</div>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4">
									<fieldset>
										<legend>Queue statistics</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Today
													</label>
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Start/end
													</label>
													<input type="number" class="form-control" aria-describedby="emailHelp">
													<input type="number" class="form-control" aria-describedby="emailHelp">
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<fieldset>
										<legend>Agent statistics</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Today
													</label>
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Start/end
													</label>
													<input type="number" class="form-control" aria-describedby="emailHelp">
													<input type="number" class="form-control" aria-describedby="emailHelp">
												</div>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4">
									<fieldset>
										<legend>Schedule</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Today
													</label>
													<label class="form-check-label">
														<input class="form-check-input" type="radio" name="exampleRadios" value="option2">
														Start/end
													</label>
													<input type="number" class="form-control" aria-describedby="emailHelp">
													<input type="number" class="form-control" aria-describedby="emailHelp">
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>



	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Ok</button>
	</div>
</form>
</div>
