<div class="button-bar">
	<button type="button" class="wfm-btn wfm-btn-primary" ng-click="$ctrl.newImport()">{{ 'NewImport'|translate }}</button>
	<button type="button" class="wfm-btn wfm-btn-default" ng-click="$ctrl.refreshList()" ng-disabled="$ctrl.refreshing">{{ 'Refresh'|translate }}</button>
</div>

<div class="panel material-depth-1 job-list">
	<div ng-if="$ctrl.jobs.length === 0" class="none">{{ 'No Import Job'|translate }}</div>
	<div ng-if="$ctrl.jobs.length !== 0" class="list">
		<div class="header">
			<div class="filename">Import job</div>
			<div class="created">Time started</div>
			<div class="status">Status</div>
			<md-progress-linear class="refreshing" ng-if="$ctrl.refreshing" md-mode="indeterminate"></md-progress-linear>
		</div>
		<div ng-repeat="job in $ctrl.jobs" class="item">
			<div class="filename">{{ job.filename }}</div>
			<div class="created">{{ job.startedTime|date:'short' }}</div>
			<div class="status">
				<div>{{ (job.inProgress ? 'InProgress' : 'Done')|translate  }}</div>
				<div ng-if="job.error">
					<i class="mdi mdi-alert-octagon"></i>
					<span>{{ job.error }}</span>
				</div>
				<div ng-if="!job.inProgress && !job.error">
					<div>{{ job.summary() }}</div>
					<div>
						<span ng-if="job.failed > 0" class="errors"><a target="_blank" ng-href="../api/People/job/{{job.id}}/artifact/OutputError">{{ job.failed }}&nbsp;Error(s)</a></span>
						<span ng-if="job.warned > 0" class="warnings"><a target="_blank" ng-href="../api/People/job/{{job.id}}/artifact/OutputWarning">{{ job.warned }}&nbsp;Warning(s)</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
