
<div ng-controller="PeopleStart">

	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1>
				<i class="mdi mdi-account"></i> People</h1>
			<p>Search for one or many persons to manage their roles</p>
		</div>
	</div>

	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="sub-header">
					<div class="con-row">
						<div class="con-flex">
							<label for="filter" class="input-icon">
								<i class="mdi mdi-filter-outline">
									<input type="text" id="filter" placeholder="Search person" ng-model="filterInput">
									<md-tooltip>Filter</md-tooltip>
								</i>
							</label>
						</div>
					<!--
						<div class="con-flex">
								<md-select class"mdi" ng-model="model" placeholder="Choose action">
									<md-option ng-repeat="item in demos" ng-value="item.id"><span ng-bind="item.id"></span></md-option>
								</md-select>								
						</div>
					-->
						<div class="con-flex x3">
							<button class="wfm-btn wfm-btn-primary mdi mdi-check" ng-disabled="itemArr.length === 0" ng-class="{'wfm-btn-invis-disabled': itemArr.length === 0}" ng-click="modalShownGrant = !modalShownGrant">Grant Role</button>
							<button class="wfm-btn wfm-btn-primary mdi mdi-close" ng-disabled="itemArr.length === 0" ng-class="{'wfm-btn-invis-disabled': itemArr.length === 0}" ng-click="modalShownRevoke = !modalShownRevoke">Revoke Role</button>
						</div>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">

						<ul>
							<li ng-repeat="person in people | filter: filterInput" class="con-row align-row-baseline agent-row">
								<div class="con-flex">
									<div tabindex=0 class="context-menu card-context" ng-click="person.marked = !person.marked; assertMulti(person); $event.stopPropagation();"
									 ng-class="{'notice-success':person.marked, 'notice-info':!person.marked}">
										<i class="mdi mdi-account" ng-class="{'mdi-check':person.marked}"></i>
										<md-tooltip>Select person</md-tooltip>
									</div>
									{{person.firstName}} {{person.lastName}}
								</div>
								<div class="con-flex">
									{{person.phone}}
								</div>
								<div class="con-flex">
									{{person.role}}
								</div>

							</li>
						</ul>


						<modal-dialog show='modalShownGrant' ng-cloak>
							<div class="person-header relative">
								<div class="avatar">
									<i class="mdi mdi-account"></i>
								</div>
								<h1 ng-if="itemArr.length == 1">Grant role on {{itemArr[0].firstName}} {{itemArr[0].lastName}}</h1>									
								<h1 ng-if="itemArr.length > 1">Grant role on multiple persons</h1>									
								<h3>{{itemArr.length}} person(s) selected</h3>
							</div>
							<h2><strong>Current roles</strong></h2>
							<div class="con-fluid-row">
								<div class="con-fluid-flex" ng-repeat="existingRole in existingRoles">
									<div>
										<md-checkbox ng-model="existingRole.checked" ng-checked="true" ng-disabled="true" aria-label="Checkbox">{{existingRole.name}} <span ng-bind="item.id"></span></md-checkbox>
									</div>
								</div>
							</div>
							<hr/>
							<h2><strong>Available roles</strong></h2>
							<div class="con-fluid-row">
								<div class="con-fluid-flex" ng-repeat="role in roles">
									<div ng-if="checkExistingRoles(role) === false">
										<md-checkbox ng-model="role.checked" aria-label="Checkbox">{{role.name}} <span ng-bind="item.id"></span></md-checkbox>
									</div>
								</div>
							</div>
							<div class="modal-actions">
								<aside>
									<button class="wfm-btn wfm-btn-invis" ng-click="close()">Cancel</button>
									<button class="wfm-btn wfm-btn-invis-primary" ng-click="close()">Save</button>
								</aside>
							</div>
						</modal-dialog>


						<modal-dialog show='modalShownRevoke' ng-cloak>
							<div class="person-header relative">
								<div class="avatar">
									<i class="mdi mdi-account"></i>
								</div>
								<h1 ng-if="itemArr.length == 1">Revoke role on {{itemArr[0].firstName}} {{itemArr[0].lastName}}</h1>									
								<h1 ng-if="itemArr.length > 1">Revoke role on multiple persons</h1>									
								<h3>{{itemArr.length}} person(s) selected</h3>
							</div>
							<h2><strong>Current roles</strong></h2>
							<div class="con-fluid-row">
								<div class="con-fluid-flex" ng-repeat="existingRole in existingRoles">
									<div>
										<md-checkbox ng-model="existingRole.checked" ng-checked="true" aria-label="Checkbox">{{existingRole.name}} <span ng-bind="item.id"></span></md-checkbox>
									</div>
								</div>
							</div>
							<div class="modal-actions">
								<aside>
									<button class="wfm-btn wfm-btn-invis" ng-click="close()">Cancel</button>
									<button class="wfm-btn wfm-btn-invis-primary" ng-click="close()">Save</button>
								</aside>
							</div>
						</modal-dialog>
					</div>
				</div>
				<div class="con-footer">
					<wfm-pagination class="pull-pagination" pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>