<style>
	.agent-row {
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		border-left: 3px solid transparent;
	}

	.agent-row:hover {
		background: rgba(0, 0, 0, 0.12);
		border-left: 3px solid #888;
	}

	.person-header {
		background: dodgerblue;
		height: 50%;
		padding: 5px;
		text-align: center;
		color: white;
	}

	.avatar {
		height: 50px;
		width: 50px;
		background: dodgerblue;
		border: 4px solid white;
		color: white;
		line-height: 42px;
		border-radius: 50%;
		text-align: center;
		margin: 0 auto;
		margin-top: 15px;
	}

	.mm,
	.front {
		display: inline-grid;
	}

	.mm {
		z-index: 2;
		opacity: 0.6;
	}

	.front {
		position: relative;
		z-index: 3;
	}

	.x1 {
		transform: translateX(15px) scale(0.8);
		transform-origin: center;
	}

	.x2 {
		transform: translateX(-15px) scale(0.8);
		transform-origin: center;
	}

	.wfm-table td {
		border: none;
	}
</style>
<div ng-controller="PeopleStart">

	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1>
				<i class="mdi mdi-account-multiple"></i> People</h1>
			<p>Search for one or many persons to manage their roles</p>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="sub-header">
					<div class="con-row">
						<div class="con-flex">
							<label for="filter" class="input-icon">
								<i class="mdi mdi-filter-outline">
									<input type="text" id="filter" placeholder="Search person" ng-model="filterInput">
									<md-tooltip>Filter</md-tooltip>
								</i>
							</label>
						</div>
						<!--
						<div class="con-flex">
								<md-select class"mdi" ng-model="model" placeholder="Choose action">
									<md-option ng-repeat="item in demos" ng-value="item.id"><span ng-bind="item.id"></span></md-option>
								</md-select>								
						</div>
					-->
						<div class="con-flex x3">
							<button class="wfm-btn wfm-btn-primary mdi mdi-check" ng-disabled="itemArr.length === 0" ng-class="{'wfm-btn-invis-disabled': itemArr.length === 0}"
							 ng-click="modalShownGrant = !modalShownGrant;">Grant Role</button>
							<button class="wfm-btn wfm-btn-primary mdi mdi-close" ng-disabled="itemArr.length === 0" ng-class="{'wfm-btn-invis-disabled': itemArr.length === 0}"
							 ng-click="modalShownRevoke = !modalShownRevoke">Revoke Role</button>
						</div>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">
						<table class="wfm-table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Cell number</th>
									<th>Roles</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="person in people | filter: filterInput">
									<td>
										<div tabindex=0 class="context-menu card-context" ng-click="person.marked = !person.marked; assertMulti(person); $event.stopPropagation();"
										 ng-class="{'notice-success':person.marked, 'notice-info':!person.marked}">
											<i class="mdi mdi-account" ng-class="{'mdi-check':person.marked}"></i>
											<md-tooltip>Select person</md-tooltip>
										</div>
										{{person.firstName}} {{person.lastName}}
									</td>
									<td>{{person.phone}}</td>
									<td>
										<span ng-repeat="role in person.roles" ng-if="role.checked">
											{{role.name}}
											<span ng-if="$index < getNumberOfCheckedRoles(person.roles) - 1">,</span>
										</span>
									</td>
								</tr>
							</tbody>
						</table>


						<modal-dialog show='modalShownGrant' ng-cloak>
							<div class="person-header relative">
								<div class="avatar">
									<i class="mdi" ng-class="itemArr.length > 1 ? 'mdi-account-multiple' : 'mdi-account'"></i>
								</div>
								<h1 ng-if="itemArr.length == 1">Grant role on {{itemArr[0].firstName}} {{itemArr[0].lastName}}</h1>
								<h1 ng-if="itemArr.length > 1">Grant role on multiple persons</h1>
								<h3>{{itemArr.length}} person(s) selected</h3>
							</div>
							<div style="margin: 15px;">
								<div>
									<h2>
										<strong>Current roles for all</strong>
									</h2>
									<div class="con-fluid-row">
										<div class="con-fluid-flex" ng-repeat="role in currentRoles" ng-if="isChecked(role) === true">
											<div>
												<h2 class="mdi mdi-check">{{role.name}}
													<span ng-bind="item.id"></span>
												</h2>
											</div>
										</div>
									</div>
									<hr/>
								</div>
								<div ng-if="itemArr.length > 1">
									<h2>
										<strong>Current roles for some</strong>
									</h2>
									<div class="con-fluid-row">
										<div class="con-fluid-flex" ng-repeat="role in currentRoles" ng-if="isIndeterminate(role) === true">
											<div>
												<h2 class="mdi mdi-check">{{role.name}}
													<span ng-bind="item.id"></span>
												</h2>
											</div>
										</div>
									</div>
									<hr/>
								</div>
								<div>
									<h2>
										<strong>Available roles</strong>
									</h2>
									<div class="con-fluid-row">
										<div class="con-fluid-flex" ng-repeat="role in roles" ng-if="checkRolesNotOnAll(role) === false">
											<md-checkbox ng-model="role.checked" aria-label="Checkbox">{{role.name}}
												<span ng-bind="item.id"></span>
											</md-checkbox>
										</div>
									</div>
								</div>
								<div class="modal-actions">
									<aside>
										<button class="wfm-btn wfm-btn-invis" ng-click="close()">Cancel</button>
										<button class="wfm-btn wfm-btn-invis-primary" ng-click="save()">Save</button>
									</aside>
								</div>
							</div>
						</modal-dialog>


						<modal-dialog show='modalShownRevoke' ng-cloak>
							<div class="person-header relative">
								<div class="avatar">
									<i class="mdi" ng-class="itemArr.length > 1 ? 'mdi-account-multiple' : 'mdi-account'"></i>
								</div>
								<h1 ng-if="itemArr.length == 1">Revoke role on {{itemArr[0].firstName}} {{itemArr[0].lastName}}</h1>
								<h1 ng-if="itemArr.length > 1">Revoke role on multiple persons</h1>
								<h3>{{itemArr.length}} person(s) selected</h3>
							</div>
							<!--<div ng-controller="MyCtrl">
								{{state}}
								<input type="checkbox" ng-model='state' ng-change='onChange(state)' indeterminate/>
							</div>
							!-->
							<div style="margin: 15px;">
								<div>
									<h2>
										<strong>Current roles on all</strong>
									</h2>
									<div class="con-fluid-row">
										<div class="con-fluid-flex" ng-repeat="role in currentRoles" ng-if="isChecked(role) === true">
											<div>
												<md-checkbox ng-model="role.checked" ng-checked="isChecked(role)" aria-label="Checkbox">{{role.name}}
													<span ng-bind="item.id"></span>
												</md-checkbox>
											</div>
										</div>
									</div>
								</div>
								<div ng-if="itemArr.length > 1">
									<hr/>
									<h2>
										<strong>Current roles on some</strong>
									</h2>
									<div class="con-fluid-row">
										<div class="con-fluid-flex" ng-repeat="role in currentRoles" ng-if="isIndeterminate(role) === true">
											<div>
												<md-checkbox ng-model="role.checked" ng-checked="isIndeterminate(role)" aria-label="Checkbox">{{role.name}}
													<span ng-bind="item.id"></span>
												</md-checkbox>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-actions">
									<aside>
										<button class="wfm-btn wfm-btn-invis" ng-click="close()">Cancel</button>
										<button class="wfm-btn wfm-btn-invis-primary" ng-click="save()">Save</button>
									</aside>
								</div>
							</div>
						</modal-dialog>
					</div>
				</div>
				<div class="con-footer">
					<wfm-pagination class="pull-pagination" pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>