<style>

	.agent-row {
		border-bottom: 1px solid rgba(0,0,0,0.12);
		border-left: 3px solid transparent;
	}

		.agent-row:hover {
			background: rgba(0,0,0,0.12);
			border-left: 3px solid #888;
		}

	.person-header {
		background: dodgerblue;
		height: 50%;
		padding: 5px;
		text-align: center;
		color: white;
	}

	.avatar {
		height: 50px;
		width: 50px;
		background: dodgerblue;
		border: 4px solid white;
		color: white;
		line-height: 42px;
		border-radius: 50%;
		text-align: center;
		margin: 0 auto;
		margin-top: 15px;
	}

	.mm, .front {
		display: inline-grid;
	}

	.mm {
		z-index: 2;
		opacity: 0.6;
	}

	.front {
		position: relative;
		z-index: 3;
	}

	.x1 {
		transform: translateX(15px) scale(0.8);
		transform-origin: center;
	}

	.x2 {
		transform: translateX(-15px) scale(0.8);
		transform-origin: center;
	}
</style>

<div ng-controller="PeopleStart">

	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1><i class="mdi mdi-account"></i> People</h1>
			<p>Optional description of the view goes here.</p>
		</div>
		<div class="fab-wrapper">
			<button class="wfm-fab material-depth-1">
				<i class="mdi mdi-plus"></i>
				<md-tooltip>Add something</md-tooltip>
			</button>
		</div>
	</div>

	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="sub-header">
					<label for="filter" class="input-icon">
						<i class="mdi mdi-filter-outline">
							<input type="text" id="filter" placeholder="filter roles..." style="width:200px;" ng-model="filterInput">
							<md-tooltip>Filter</md-tooltip>
						</i>
					</label>
					<div class="head-actions panel-menu">
						<div tabindex=0 class="context-menu card-context">
							<i class="mdi mdi-dots-vertical"></i>
							<span class="context-menu-left">
								<ul class="wfm-list">
									<li>Menu item 1</li>
									<li>Menu item 2</li>
									<li>Menu item 3</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<div class="con-row animate-show" ng-show="multi">
					<div class="con-flex">
						<button type="button" class="wfm-btn wfm-btn-default" name="button" ng-click="multiModalShown = !multiModalShown">multi edit</button>
						<button type="button" class="wfm-btn wfm-btn-default" name="button" ng-click="resetMulti()">clear</button>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">

						<ul>
							<li ng-repeat="person in people | filter: filterInput" class="con-row align-row-baseline agent-row" ng-click="modalShown = !modalShown">
								<div class="con-flex">
									<div tabindex=0 class="context-menu card-context" ng-click="person.marked = !person.marked; assertMulti(person); $event.stopPropagation();" ng-class="{'notice-success':person.marked, 'notice-info':!person.marked}">
										<i class="mdi mdi-account" ng-class="{'mdi-check':person.marked}"></i>
										<md-tooltip>Select person</md-tooltip>
									</div>
									{{person.firstName}}   {{person.lastName}}
								</div>
								<div class="con-flex">
									{{person.phone}}
								</div>
								<div class="con-flex">
									{{person.role}}
								</div>

								<modal-dialog show='modalShown' ng-cloak>
									<div class="person-header relative">
										<div class="avatar">
											<i class="mdi mdi-account"></i>
										</div>
										<h1>{{person.firstName}}   {{person.lastName}}</h1>
									</div>
									<div class="con-row">
										<div class="con-flex">
											<table class="wfm-table">
												<tbody>
													<tr>
														<td>Phone:</td>
														<td>{{person.phone}}</td>
													</tr>
													<tr>
														<td>Role:</td>
														<td>{{person.role}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="modal-actions">
										<aside>
											<button class="wfm-btn wfm-btn-invis" ng-click="modalShown = !modalShown">Edit</button>
											<button class="wfm-btn wfm-btn-invis-primary" ng-click="modalShown = !modalShown">Close</button>
										</aside>
									</div>
								</modal-dialog>

							</li>
						</ul>

						<modal-dialog show='multiModalShown' ng-cloak>
							<div class="person-header relative">
								<div class="avatar mm x1">
									<i class="mdi mdi-account"></i>
								</div>
								<div class="avatar front">
									<i class="mdi mdi-account"></i>
								</div>
								<div class="avatar mm x2">
									<i class="mdi mdi-account"></i>
								</div>
								<h1>Editing {{itemArr.length}} people</h1>
							</div>
							<form name="form" class="wfm-form" novalidate>
								<div class="con-row">
									<div class="con-flex">
										<h3>Personal information</h3>
										<div class="form-input-wrap">
											<label for="nameId">Role:</label>
											<input type="text" ng-model="form.input0" placeholder="Leave blank to not change" name="Name" required="" id="nameId" autofocus />
											<div ng-cloak class="animate-show" ng-show="form.$submitted || form.Name.$touched">
												<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}">Requered</div>
											</div>
										</div>
										<div class="form-input-wrap">
											<label for="nameId">Something:</label>
											<input type="number" ng-model="form.input1" placeholder="Leave blank to not change" name="Age" required="" id="nameId" />
											<div ng-cloak class="animate-show" ng-show="form.$submitted || form.Age.$touched">
												<div class="form-input-message" ng-class="{formInvalidInput:form.Age.$error.required}">Leave blank to not change</div>
											</div>
										</div>
										<h3>Skills</h3>
										<div class="form-input-wrap">
											<label for="nameId">Something else:</label>
											<input type="password" ng-model="form.input2" placeholder="Leave blank to not change" name="Password" required="" id="nameId" />
											<div ng-cloak class="animate-show" ng-show="form.$submitted || form.Password.$touched">
												<div class="form-input-message" ng-class="{formInvalidInput:form.Password.$error.required}">Leave blank to not change</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="modal-actions">
								<aside>
									<button class="wfm-btn wfm-btn-invis" ng-click="multiModalShown = !multiModalShown">Edit</button>
									<button class="wfm-btn wfm-btn-invis-primary" ng-click="multiModalShown = !multiModalShown">Close</button>
								</aside>
							</div>
						</modal-dialog>

					</div>
				</div>
				<div class="con-footer">
					<wfm-pagination class="pull-pagination" pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
				</div>
			</div>
		</div>
	</div>

</div>