body {
	padding-bottom: 20px;
	font-family: "Segoe UI";
	padding: 1px!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.text-white{
	color:white;
}
.text-container{
	min-height: 110px
}


/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

thead {
	font-weight: bold;

}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table th {
    border-bottom: 2px solid rgba(0,0,0,.06);
    border-top: 0 none;
    color: #888;
    display: table-cell;
    font-weight: 400;
    text-align: left;
	  padding: 5px;
}

table td {
    color: #266d90;
    font-size: 80%;
	 padding: 5px;
}


.importCaption {
	margin-top: 10px;
	color: #888;
	font-weight: bold;
}

.detail {
	color: #888;
	font-size: 14px;
	font-weight:normal;
}

.dataIsOk {
	color: green;
}

.dataIsNotOk {
	color: red;
}

.ErrorLabel {
	color: Red;
	font-size: large;
	font-weight: bold;
}

.SuccessLabel
{
	color: Green;
	font-size: large;
	font-weight: bold;
}

.wait {
	cursor: wait !important;
}

@media (min-width: 1600px) {
	.container {
		width: 1570px;
	}
}

fieldset {
	border: 1px solid silver;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	padding-top: 0;
}

legend {
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	width: initial;
}
a.md-button.md-primary.md-raised {
	background-color: rgb(16,108,200);
}

.md-button.md-primary.md-raised.btn-danger {
	background-color: #d9534f;
}
.md-button.md-primary.md-raised.btn-danger:hover {
	background-color:firebrick;
}

table tr td a {
	color: #266d90;
    display:block;
    height:100%;
    width:100%;
}

table tr td a:hover {
	text-decoration: none;
	color:#266d99;
}
.ui-widget-content {

}
.ui-widget-overlay {
	background: rgb(153, 214, 255)!important;
	background: -webkit-linear-gradient(top, rgba(153,214,255,1) 0%,rgba(153,214,255,1) 45%,rgba(0,153,255,1) 100%)!important;
    background: -moz-linear-gradient(top, rgba(153,214,255,1) 0%, rgba(153,214,255,1) 45%, rgba(0,153,255,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(153,214,255,1) 0%,rgba(153,214,255,1) 45%,rgba(0,153,255,1) 100%)!important;
	opacity: 1!important;
}
.ui-corner-all {
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
}
.ui-dialog .ui-dialog-titlebar {
	display: none!important;
}
.signInBtn {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)!important;
	color: #fff!important;
	background-color: #09F!important;
	border-color: transparent!important;
}
.password{
	position: relative;
}

.password input[type="password"]{
	padding-right: 30px;
}

.password .glyphicon,#password .glyphicon {
	display:none;
	right: 5px;
	position: absolute;
	top: 12px;
	cursor:pointer;
}