body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Segoe UI";
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

table {
	font-size: 16px;
}
thead {
	font-weight: bold;
	
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table th {
    border-bottom: 2px solid rgba(0,0,0,.06);
    border-top: 0 none;
    color: #888;
    display: table-cell;
    font-weight: 400;
    text-align: left;
	  padding: 5px;
}

table td {
    color: #266d90;
    font-size: 80%;
	 padding: 5px;
}


.importCaption {
	margin-top: 10px;
	color: #888;
	font-weight: bold;
}

.detail {
	color: #888;
	font-size: 14px;
	font-weight:normal;
}

.dataIsOk {
	color: green;
}

.dataIsNotOk {
	color: red;
}

.ErrorLabel {
	color: Red;
	font-size: large;
	font-weight: bold;
}

.wait {
	cursor: wait !important;
}

@media (min-width: 1600px) {
	.container {
		width: 1570px;
	}
}


fieldset {
	border: 1px solid silver;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	padding-top: 0;
}

legend {
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	width: initial;
}
a.md-button.md-primary.md-raised {
	background-color: rgb(16,108,200);
}

.md-button.md-primary.md-raised.btn-danger {
	background-color: #d9534f;
}
.md-button.md-primary.md-raised.btn-danger:hover {
	background-color:firebrick;
}

table tr td a {
	color: #266d90;
    display:block;
    height:100%;
    width:100%;	 
}
table tr td a:hover {
	text-decoration: none;
	color:#266d99;
	
}