body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Segoe UI";
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

thead {
	font-weight: bold;
	font-size: 16px;
}

td {
	padding: 0 10px 0 10px;
}

.oddRow {
	background-color: oldlace;
}

.importCaption {
	margin-top: 20px;
	font-weight: bold;
}

.dataIsOk {
	color: green;
}

.dataIsNotOk {
	color: red;
}

.ErrorLabel {
	color: Red;
	font-size: large;
	font-weight: bold;
}

.wait {
	cursor: wait !important;
}

@media (min-width: 1600px) {
	.container {
		width: 1570px;
	}
}

.paddingTenantList {
	padding: 5px;
}

fieldset {
	border: 1px solid silver;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	padding-top: 0;
}

legend {
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: none;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	width: initial;
}
