.asm-sliding-schedules {
	border: 1px solid rgb(216, 216, 216);
	position: relative;
	top: 10px;
	height: 18px;
}
.asm-schedule-canvas {
	width: 400px;
	overflow: hidden;
	background: #f8f8f8;
	height: 34px;
	border: 1px solid rgb(216, 216, 216);
}

.asm-outer-canvas {
	width: 410px;
	background: white;
	padding: 4px;
	border: 1px solid rgb(216, 216, 216);
	height: 65px;
	display: none; /*hide when loaded, before moved to correct place*/
	margin: 1px 1px 1px 1px;
}
.mytime-chart .asm-outer-canvas {
	margin-top: 0;
}

.asm-layer {
	position: absolute;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
	height: 12px;
	top: 3px;
}

.asm-timeline-line {
	height: 40px;
	float: left;
	border-right: 1px solid rgb(216, 216, 216);
}

.asm-time-marker-inner {
	background-color: black;
	height: 40px;
	zoom: 1;
	filter: alpha(opacity=15);
	opacity: 0.15;
}

.asm-timeline-number {
	padding-left: 2px;
	padding-right: 3px;
	position: relative;
	top: -18px;
	left: -5px;
	font-family: verdana;
	font-size: 8px;
}

.asm-time-marker {
	height: 40px;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid black;
}

.asm-info-canvas {
	background: #f8f8f8;
	border: 1px solid rgb(216, 216, 216);
	width: 400px;
	overflow: hidden;
	height: 18px;
	margin-top: 3px;
}

.asm-info-canvas-column {
	font-family: verdana;
	font-size: 9px;
	white-space: nowrap;
	line-height: 9px;
	margin-top: 3px;
}

.asm-info-canvas-column-messages .glyphicon-envelope {
	animation-name: asm;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	margin-right: 8px !important;
	border: 8px solid transparent;
	margin-top: -15px !important;
}

@keyframes asm {
	from {
		background: #0099ff;
		outline: 8px solid #0099ff;
	}
	to {
		background: transparent;
		outline: 6px solid transparent;
	}
}

.asm-info-canvas-column-messages {
	background: #f8f8f8;
	left: 360px;
	width: 35px;
	padding-bottom: 2px;
	position: absolute;
	text-align: right;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.asm-info-canvas-column-current {
	width: 200px;
	position: absolute;
	text-align: left;
	opacity: 0.8;
	filter: alpha(opacity=80);
	overflow: hidden;
}

.asm-info-canvas-column-next {
	left: 200px;
	width: 150px;
	position: absolute;
	text-align: right;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.ui-state-default a.asm-new-message-indicator {
	font-weight: bold;
}
.ui-state-default a.asm-new-message-indicator {
	font-weight: bold;
}

span.tip {
	visibility: hidden;
	background: #333;
	color: white;
	padding: 0 5px;
	border-radius: 2px;
	position: fixed;
	top: 35px;
	font-size: 12px;
}

.asm-layer:focus > .tip {
	visibility: visible;
}
