.asm-sliding-schedules
{
	border: 1px solid rgb(216, 216, 216);	
	position: relative;
	top: 15px;
	height: 28px;
}
.asm-current-info
{
	float: left;
	width: 160px;
	margin-left: 5px;
}
.asm-schedule-canvas
{
	float: left;
	width: 400px;
	overflow: hidden;
	background: #F8F8F8;
	height: 50px;
	border: 1px solid rgb(216, 216, 216);	
}

.asm-outer-canvas
{
	width: 815px;
	background: white;
	padding: 4px;
	border: 1px solid rgb(216, 216, 216);	
	margin: 2px;
	height: 52px;
	display: none; /*hide when loaded, before moved to correct place*/
}

.asm-layer
{
	position: absolute;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.80;
	height: 20px;
	top: 4px;
}

.asm-timeline-line
{
	height: 70px;
	float: left;
	border-right: 1px solid rgb(216, 216, 216);	
}

.asm-time-marker-inner 
{	
	background-color: black;
	height: 70px;	
	zoom: 1;
	filter: alpha(opacity=15);
	opacity: 0.15;
}

.asm-timeline-number
{
	/*padding: 1px;*/
	padding-left: 2px;
	padding-right: 3px;
	position: relative;
	border: 1px solid rgb(216, 216, 216);
	background: white;
	top: -18px;
	left: -20px;
	font-family: verdana;
	font-size: 8px;
}

.asm-info-canvas
{
	overflow: hidden;
	background: #F8F8F8;
	height: 50px;
	border: 1px solid rgb(216, 216, 216);	
}

.asm-time-marker
{
	height: 72px;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid black;
}

.asm-info-canvas table {
	width: 100%; 
	table-layout: fixed;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-family: verdana;
	font-size: 10px;
}

.asm-info-canvas td.asm-info-time-column
{
	width: 34px;
}

.asm-info-canvas td.asm-info-next-day-column 
{
	width: 18px;
	text-align: left;	
}

.asm-info-canvas tr
{
	opacity: 0.4;
}

.asm-info-current-activity 
{
	opacity: 1 !important;
}


.asm-info-canvas div 
{
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	font-family: verdana;
	font-size: 10px;
}

.asm-info-canvas td 
{
	font-family: verdana;
	font-size: 9px;
}
