.asm-messages ol
{
	list-style: none;
	margin-left: 0em;
	margin-right: 0em;
}
.asmMessage-list 
{
	width: 483px;
}

.rtl .asmMessage-list
{
    margin-right: 483px;
}
.asm-messages .asmMessage-item
{
	padding-top: 0.5em;
	padding-bottom: 0.8em;
	padding-left: 1.8em;
	padding-right: 1.8em;
	border: 1px solid rgb(204, 204, 204);
	background: #f8f8f8;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
.asm-messages .friendly-message {
	width: 433px;
}
.asm-messages .loading
{
	height: 5em;
}
.asm-messages .arrow-down
{
	height: 5em;
}

.no-rgba .asm-messages li {
	 border: 1px solid #dfdfdf;
}
.asm-messages .asmMessage-subject 
{
	border-bottom: 1px solid rgb(228, 228, 228);
}
.asm-messages .asmMessage-details 
{
	font-size: smaller;
	border-bottom: 1px solid rgb(228, 228, 228);
}
.asmMessage-reply-details
{
	font-size: smaller;
	border-bottom: 1px solid rgb(228, 228, 228);
	padding-bottom: 10px;
}
.asm-messages .asmMessage-caption 
{
	color: #B0B0B0;
	font-style: italic;
	font-size: xx-small;
}
.asm-messages .asmMessage-data-type {
	padding-right: 20px;
	padding-left: 0px;
}
.asmMessage-data-updatedon {
	padding-right: 20px;
	padding-left: 0px;
}
.rtl .asm-messages .asmMessage-data-type {
	padding-right: 0px;
	padding-left: 20px;
}
.asm-messages .asmMessage-data-date {
	padding-right: 20px;
	padding-left: 0px;
}
.rtl .asm-messages .asmMessage-data-date {
	padding-right: 0px;
	padding-left: 20px;
}
.asm-messages .asmMessage-data-sender {
	padding-right: 20px;
	padding-left: 0px;
}
.rtl .asm-messages .asmMessage-data-sender {
	padding-right: 0px;
	padding-left: 20px;
}
.asm-messages .asmMessage-text 
{
	padding-top: 0.3em;
}
.asmMessage-edit-section .edit-module-element {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.asmMessage-edit-section .date-input
{
	width: 8em;
}
.asmMessage-data-subject {
	word-wrap: break-word;	
}
.asmMessage-data-text {
	word-wrap: break-word;	
}
.asmMessage-type-input-label 
{
	width: 8em;
	padding-top: 4px;
	padding-right: 2px;
	height: 16px;
}
.rtl .asmMessage-type-input-label 
{
	text-align: right;
}

.asmMessage-detail-title
{
	font-weight: bold;
	font-size: 115%;
}
.asmMessage-detail-sent 
{
	float: right;
	font-size: 85%;
	font-style: italic;
}
.asmMessage-detail-sender 
{
	font-size: 85%;
	font-style: italic;
}
.asm-messages .asmMessage-selected
{
    background: rgb(240, 240, 240);
}
.asmMessage-arrow-right
{
	position: relative;
	top:15px;
	left:20px;
    float: right;
}
.asmMessage-edit-section
{
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 4px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(240, 240, 240);
	width: 450px;
	top: 0px;
	right: 0px;
	float: right;
	position: absolute;
}

.title {
	margin: 0 0 5px 0;
}

.container hr {
    border-color: #ffffff;
}