.weekdays li,
.calendarview-week li {
	border-right: 1px solid #dfdfdf;
}
.weekdays {
	font-size: 0;
	margin: 0;
	line-height: normal;
}
.weekdays li {
	font-size: 11px;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	width: 130px;
	background-color: white;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
.ie7 .weekdays li {
	zoom: 1;
	display: inline;
} /* IE7 inline-block fix */

.calendarview-week {
	background: transparent;
	padding-left: 0;
	font-size: 0;
	white-space: nowrap;
	margin: 0;
	line-height: normal;
}
.calendarview-week li {
	font-size: 12px;
	display: inline-block;
	height: 93px;
	vertical-align: top;
	width: 130px;
	border-bottom: 1px solid #dfdfdf;
}
.ie7 .calendarview-week li {
	zoom: 1;
	display: inline;
} /* IE7 inline-block fix */
.day-header-month,
.day-header-day {
	font-size: 13px;
	height: 22px;
	width: 22px;
	text-align: center;
	line-height: 1;
	margin: 2px;
	padding: 3px 0;
	border-radius: 50%;
	border: 1px solid #00afff;
	background: #00afff;
	color: white;
	cursor: default;
}
.day-header-month {
	width: auto;
	text-align: center;
	padding: 2px;
	border-radius: 3px;
}
.bank-holiday-day-shape.day-header-day {
	border-color: red;
	background: red;
	cursor: pointer;
}
.calendarview-week li div.day-content {
	background-color: white;
}
.calendarview-week .today {
	background-position: 0 -1600px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.calendarview-week li.ui-selected {
	background-position: 0 -2019px;
	border-bottom: none;
	background: gray;
}
.calendarview-week li.ui-selected .day-header-day {
	opacity: 0.3;
}
.calendarview-week li .day-header {
	background-color: white;
	line-height: 26px;
	min-height: 26px;
	border-bottom: none;
}
.calendarview-week .today .day-header {
	background-color: gray;
}
.calendarview-week li.non-editable .day-header-month,
.calendarview-week li.non-editable .day-header-day {
	text-shadow: none;
	border-color: #555;
	background: #fff;
	opacity: 0.5;
	color: black;
}
.calendarview-week li.non-editable .bank-holiday-day-shape.day-header-day {
	background: red;
	border-color: red;
	color: white;
}
.calendarview-week li.non-editable .day-content-text {
	color: black;
	text-shadow: none;
}
.calendarview-week li.non-editable .preference-text {
	color: #eaeaea;
	text-shadow: none;
}
.calendarview-week li.non-editable .extended-indication {
	opacity: 0.3;
}
.calendarview-week li.non-editable .dayoff {
	opacity: 0.3;
}
.calendarview-week li.non-editable .meeting-icon {
	opacity: 0.1;
}
.calendarview-week li.non-editable .preference-must-have {
	opacity: 0.1;
}
.calendarview-week li.non-editable .day-content-text {
	opacity: 0.5;
}
.calendarview-week li.non-editable .absence {
	opacity: 0.5;
}

.calendarview-week li .day-content {
	text-align: center;
	min-height: 66px;
	border-bottom: none;
}
.calendarview-week li .day-content span {
	min-height: 15px;
}

.calendarview-week li.unvalidated {
	font-style: italic;
}
