.guide-container {
	font-size: 16px;
}

	.guide-container .row {
		line-height: 30px;
		margin: 0 0 30px 0;
	}

		.guide-container .row .img-row {
			margin-bottom: 30px;
		}
		.guide-container .row .mytime-url a {
			word-wrap: break-word;
		}
		.guide-container .row .img-row a {
			width: 200px;
			display: inline-block;
			vertical-align: top;
		}

				.guide-container .row .img-row a:first-child {
					margin-bottom: 15px;
					margin-right: 30px;
				}

		.guide-container .row b {
			font-size: 18px;
		}
