.weekview-mobile .mobile-weekview-nav ul.teleopti-toolbar {
	margin: 0;
	display: inline-block;
}
.weekview-mobile .mobile-weekview-nav {
	display: flex;
}
@media (max-width: 500px) {
	.weekview-mobile .mobile-weekview-nav {
		padding-left: 0;
		padding-right: 0;
	}
	.weekview-mobile .mobile-weekview-nav ul.teleopti-toolbar > li {
		padding-left: 0;
		padding-right: 0;
	}
}
.weekview-mobile .weekview-mobile-nav-input-group {
	max-width: 329px;
	flex-grow: 1;
}
.weekview-mobile .probability-toggle-container {
	margin: 5px;
}
.probability-option-container .well {
	margin-bottom: 0;
}
.weekview-mobile .header {
	padding: 2px;
}
.weekview-mobile .weekday {
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 85%;
}
.weekview-mobile .date {
	float: right;
	text-transform: uppercase;
	padding-right: 5px;
	font-size: 85%;
}
.weekview-mobile .overtime-panel-body {
	height: auto;
	padding: 0;
	text-align: center;
}
.weekview-mobile .day .panel-body {
	min-height: 25px;
	padding: 0;
	text-align: center;
}
.weekview-mobile > .container {
	padding-top: 15px;
}
.mobile-view-day {
	margin-bottom: 15px;
}
.mobile-bottom-bar {
	margin-top: 5px;
}
.weekview-mobile .dropdown-menu {
	overflow-y: auto;
}
.weekview-mobile .action-button,
.weekview-mobile .probability-icon,
.weekview-mobile .background-transparent {
	padding: 6.5px 10px;
	border-radius: 50%;
}
.weekview-mobile .probability-icon {
	background: transparent;
	border-color: transparent;
	color: #007fff;
}
.weekview-mobile .probability-icon > i {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.weekview-mobile a.background-transparent:hover,
.weekview-mobile a.background-transparent:focus {
	background: transparent;
}
.weekview-mobile a.background-transparent .absence-probability-label:hover,
.weekview-mobile a.background-transparent .overtime-probability-label:hover {
	box-shadow: 0 0 1px 4px #eee;
}
.date-input-style {
	padding: 10px 1px;
}
.shift-category-content,
.overtime-availability-content {
	padding: 5px;
	display: inline-block;
	font-size: 1em;
	text-align: center;
}
.overtime-availability-content {
	background-color: #f0f8ff;
	color: #333333;
}
.shift-category-content,
.overtime-availability-content p {
	margin: 0;
}
.mobileWeek-day-view-body {
	display: inline-block;
	width: 100%;
}
.mobileWeek-day-view-body.has-overtime-availability .shift-category-content,
.mobileWeek-day-view-body.has-overtime-availability .overtime-availability-content {
	height: 70px;
	text-overflow: ellipsis;
}
.mobile-view-day .well {
	margin-bottom: 0;
}
.mobileWeek-day-view-layer-container {
	width: 100%;
}
.weekview-mobile .action-menus {
	right: 0;
	left: auto;
}
.mobileWeek-day-view-layer {
	width: 100%;
	height: 100%;
	position: relative;
	height: 45px;
	background: #fafafa;
}
.probability-horizontal-bar {
	position: relative;
	width: 100%;
	height: 20px;
	margin-bottom: 5px;
}
.probability-horizontal-bar .probability-cell {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
}
.weekview-mobile .probability-horizontal-bar > .probability-cell {
	height: 20px;
	float: left;
}
.weekview-day-schedule-layer {
	height: 100%;
}
.weekview-mobile .overtime-availability-add,
.weekview-mobile .absence-report-add {
	cursor: default;
}
@media (max-width: 768px) {
	.mobileWeek-day-view-layer .weekview-day-schedule-layer div {
		display: none;
	}
	.weekview-mobile .nav > li > a.overtime-availability-add,
	.weekview-mobile .nav > li > a.absence-report-add {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.weekview-mobile .display-none {
	display: none;
}
.weekview-mobile .display-block {
	display: block;
}
.weekview-mobile .pointer {
	cursor: pointer;
}
