.mobile-start-day {
	height: 100%;
	cursor: pointer;
}
.mobile-start-day .mobile-start-day-nav {
	padding: 0;
}
.mobile-start-day .mobile-start-day-nav .teleopti-toolbar {
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile-start-day .request-menu-list {
	padding: 0;
}
.mobile-start-day .mobile-start-day-nav span.input-group-btn .btn.btn-default {
	padding: 9px 10px;
}
@media (max-width: 500px) {
	.mobile-start-day .mobile-start-day-nav .input-group {
		max-width: 220px;
	}
	.mobile-start-day .mobile-start-day-nav span.input-group-btn .btn {
		padding: 10px;
	}
}
@media (max-width: 350px) {
	.mobile-start-day .mobile-start-day-nav input.form-control {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-start-day .mobile-start-day-nav span.input-group-btn .btn {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.mobile-start-day .mobile-start-day-nav .submenu li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
	min-width: 35px;
}
.mobile-start-day .mobile-start-day-nav .submenu li.mobile-datepicker {
	padding: 0 5px;
	max-width: 329px;
}
.mobile-start-day .mobile-start-day-nav .submenu li a {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	min-width: 35px;
	height: 40px;
}
.mobile-start-day .mobile-start-day-nav .submenu li a > i {
	transform: scale(1.3);
}
.mobile-start-day .mobile-start-day-nav .submenu li.mobile-message a {
	position: relative;
}
.mobile-start-day .mobile-start-day-nav .submenu li.mobile-message a > span.badge {
	position: absolute;
	top: 5px;
	left: 50%;
	font-size: 12px;
	padding: 3px 5px;
}

.mobile-month-datepicker {
	flex-direction: row !important;
	height: 40px;
	padding: 0 !important;
}

.formatted-date-text {
	font-weight: bold;
	color: white;
	display: inline-block;
	font-size: 1.1em;
	width: 120px;
	padding: 10px 5px !important;
}

.mobile-month-calendar-icon {
	padding-left: 10px;
	padding-right: 10px;
}

.mobile-month-calendar-icon i {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

.mobile-start-day-body {
	-webkit-overflow-scrolling: touch;
	height: calc(100% - 50px);
	padding-bottom: 50px;
	overflow-y: auto;
	cursor: pointer;
}
.mobile-start-day .mobile-summary-container {
	min-height: 65px;
	width: 100%;
	margin: 10px 0;
	border-radius: 3px;
	border: 1px solid #efefef;
}
.mobile-start-day .mobile-summary-content {
	border-radius: 3px;
	padding: 5px 0;
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
}

.mobile-start-day .mobile-summary-content span {
	display: inline-block;
}

.mobile-start-day .mobile-summary-content-text {
	letter-spacing: -1px;
	display: inline-block;
}
.mobile-start-day .mobile-summary-content-text > span {
	margin: 0 5px;
}
.mobile-start-day .mobile-summary-content-text > div {
	text-transform: uppercase;
	font-size: 150%;
}
.mobile-start-day .holiday-agents {
	position: absolute;
	right: 38px;
	bottom: 5px;
}
.mobile-start-day .holiday-agents.traffic-light-progress {
	position: absolute;
	right: 38px;
	bottom: 10px;
	height: 16px;
	width: 28px;
	margin: 0;
}
.mobile-start-day .holiday-agents .small-circle {
	width: 22px;
	height: 22px;
	margin: 0;
	border: 1px solid white;
}
.probability-toggle-container {
	display: inline-block;
}
.probability-toggle-container > a.btn {
	background: transparent;
	border-color: transparent;
	border-radius: 4px;
	color: black;
	margin: 0;
	padding: 0;
	display: flex;
}
.probability-toggle-container > a > span {
	height: 22px;
	width: 22px;
}
.probability-toggle-container i {
	font-size: 22px;
}
.mobile-start-day .probability-toggle-container {
	position: absolute;
	right: 6px;
	bottom: 6px;
}
.probability-toggle-container .absence-probability-label,
.probability-toggle-container .overtime-probability-label {
	box-shadow: 0 0 1px 2px #888;
	color: black;
}
.probability-radios-group .radio {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}
.probability-radios-group .radio input[type='radio'] {
	transform: scale(1.8);
	margin-left: -15px;
}
.probability-radios-group .radio > span {
	font-size: 1em;
	margin-left: 10px;
}
.absence-probability-label {
	padding: 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	background: #00ffff;
	text-align: center;
	box-shadow: 0 0 1px 2px #eee;
	border-radius: 3px;
}
.absence-probability-label:before {
	font-size: 22px;
	content: 'A';
	line-height: 1;
}
.overtime-probability-label {
	padding: 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	background: #ffff00;
	text-align: center;
	box-shadow: 0 0 1px 2px #eee;
	border-radius: 3px;
}
.overtime-probability-label:before {
	font-size: 22px;
	content: 'O';
	line-height: 1;
}
.mobile-start-day .mobile-timeline {
	width: 32px;
	background: transparent;
	border-right: 1px solid #dfdfdf;
	position: relative;
	margin-right: 4px;
}
.mobile-start-day .mobile-timeline-label {
	font-size: 7pt;
	width: 30px;
	height: 10px;
	text-align: center;
	white-space: pre-wrap;
}
.mobile-start-day .mobile-schedule-container {
	display: inline-block;
	width: calc(100% - 36px);
}
.mobile-schedule-container .data-loading-gif {
	margin: 100px auto;
	display: block;
}
.mobile-schedule-layer-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.mobile-start-day .mobile-schedule-layer {
	text-align: center;
	overflow: hidden;
	border-left: 0;
}
.mobile-start-day .mobile-schedule-layer:first-of-type {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.mobile-start-day .mobile-schedule-layer.last-layer {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.mobile-start-day .probability-vertical-bar {
	position: absolute;
	height: 100%;
	right: 0;
	width: 28px;
}
.mobile-start-day .probability-vertical-bar .probability-cell:first-of-type {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top: 1px solid #dfdfdf;
}
.mobile-start-day .probability-vertical-bar .probability-cell:last-of-type {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom: 1px solid #dfdfdf;
}

@media (max-width: 768px) {
	.mobile-start-day #Request-add-section {
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
}

.mobile-start-day #Request-add-section {
	box-shadow: 0 -8px 17px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	cursor: pointer;
	z-index: 198;
	max-height: 100%;
	min-height: 200px;
	padding-top: 60px;
}

.mobile-add-request-form .overtime-add-container .overtime-request-duration .dropdown-menu {
	max-height: 80px;
}

.mobile-start-day .request-add-container {
	cursor: pointer;
}

.mobile-start-day .form-control[disabled] {
	background-color: #f1f1f1;
}
