.mobile-teamschedule-view-nav {
	padding: 0;
}

.mobile-teamschedule-view-nav .navbar-teleopti {
	margin: 5px;
	display: flex;
	justify-content: space-between;
}

.mobile-teamschedule-view-nav input.form-control {
	background: transparent !important;
	border-color: white;
	box-shadow: none;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

.mobile-teamschedule-view-nav span.input-group-btn .btn.btn-default {
	padding: 9px 10px;
}

.mobile-teamschedule-view-nav .input-group {
	width: 192px;
}
@media (max-width: 500px) {
	.mobile-teamschedule-view-nav span.input-group-btn .btn {
		padding: 10px;
	}
}
@media (max-width: 350px) {
	.mobile-teamschedule-view-nav input.form-control {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-teamschedule-view-nav span.input-group-btn .btn {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.mobile-teamschedule-view i {
	transform: scale(1.3);
}

.mobile-teamschedule-view-nav .submenu li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
	min-width: 35px;
}

.mobile-teamschedule-view-nav .submenu li.mobile-datepicker {
	padding: 0 5px 0 0;
	max-width: 329px;
	width: 192px;
}

.mobile-teamschedule-view-nav .submenu li.mobile-datepicker .moment-datepicker {
	border: none;
	text-decoration: none !important;
	color: white !important;
}

.mobile-teamschedule-view-nav .submenu li.mobile-datepicker > .input-group {
	padding: 0;
}

.mobile-teamschedule-view-nav .submenu li.mobile-datepicker .date-input-style {
	min-width: 80px;
}

.mobile-teamschedule-view-nav .teamschedule-filter .select2-container {
	margin: 0 !important;
	border-radius: 0;
	border: none;
	box-shadow: none !important;
	width: 100% !important;
}

.formatted-date-text {
	font-weight: bold;
	color: white;
	display: inline-block;
	font-size: 1.1em;
	width: 120px;
	padding: 10px 5px !important;
}

.mobile-teamschedule-view-body {
	-webkit-overflow-scrolling: touch;
	height: calc(100% - 56px);
	display: flex;
	justify-content: flex-start;
	overflow: auto;
	cursor: pointer;
	max-width: 100vw;
	padding: 0;
}

.mobile-teamschedule-view .mobile-timeline {
	width: 30px;
	min-width: 30px;
	background: white;
	border-right: 1px solid #dfdfdf;
	position: relative;
	z-index: 10;
}

.mobile-teamschedule-view .mobile-timeline-label {
	font-size: 7pt;
	width: 30px;
	height: 10px;
	text-align: center;
	white-space: pre-wrap;
}

.my-schedule-column {
	width: 70px;
	min-width: 70px;
	padding: 0 2px;
	border-right: 2px solid rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.my-schedule-column .agent-name,
.teammates-schedules-column .agent-name {
	height: 50px;
	width: 50px;
	padding: 0 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 103px;
	left: 0;
	right: 0;
	white-space: normal;
	text-overflow: ellipsis;
	text-align: left;
	z-index: 1;
	background: white;
	transform: translate3d(0, 0, 0);
}

.my-schedule-column .agent-name .text-name,
.teammates-schedules-column .agent-name .text-name {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
}

.my-schedule-column .agent-name {
	width: 70px;
	font-weight: bold;
	border-left: none;
	border-right: 2px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.my-schedule-column .team-schedule-arrow-up,
.my-schedule-column .team-schedule-arrow-down,
.teammates-schedules-column .team-schedule-arrow-up,
.teammates-schedules-column .team-schedule-arrow-down {
	display: none;
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	width: 20px;
	color: gray;
	transform: translateX(-50%);
	text-align: center;
}

.my-schedule-column .team-schedule-arrow-down,
.teammates-schedules-column .team-schedule-arrow-down {
	top: calc(100vh - 50px - 53px);
	transform: translateX(-50%) translateY(calc(-100% - 10px));
}

.teammates-schedules-container {
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	font-size: 0;
	flex-grow: 1;
}

.teammates-schedules-column {
	height: 100%;
	width: 50px;
	min-width: 50px;
	padding: 0 7px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 15px;
	display: inline-block;
}

div.teammates-schedules-column:last-of-type {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

div.teammates-schedules-column:last-of-type .agent-name {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-teamschedule-view .mobile-schedule-container {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.mobile-teamschedule-view .mobile-schedule-container strong {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
}

.mobile-teamschedule-view .mobile-schedule-layer {
	text-align: center;
	border-left: 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	width: 100%;
}

.mobile-teamschedule-view .mobile-schedule-layer:first-of-type {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.mobile-teamschedule-view .mobile-schedule-layer.last-layer {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.mobile-teamschedule-view .form-control[disabled] {
	background-color: #f1f1f1;
}

.mobile-teamschedule-view .pagination {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: 0.8;
}

.mobile-teamschedule-view .pagination > li > span {
	padding: 5px;
	border-left: none;
	border-right: none;
	pointer-events: none;
}

.mobile-teamschedule-view .pagination > li > span:first-child {
	border-left: 1px solid #dddddd;
}

.mobile-teamschedule-view .pagination > li > a.paging-disabled {
	color: gray;
}

.mobile-teamschedule-view .pagination > li > a:hover {
	background: transparent;
}

.mobile-teamschedule-panel {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: white;
	min-height: 300px;
	padding: 10px;
	box-shadow: 0 -2px 2px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-teamschedule-panel > * {
	margin: 10px 0;
	width: 100%;
}

.mobile-teamschedule-submit-buttons {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	margin-bottom: 0;
}

.mobile-teamschedule-submit-buttons button {
	width: 45%;
}

.mobile-teamschedule-submit-buttons button.btn-default {
	border-color: #ccc;
	background: #ccc;
}

.teamschedule-filter-component,
.teamschedule-filter-component .select2-container {
	width: 100% !important;
}

.teamschedule-filter-component .select2-arrow b {
	transform: scale(1.5);
}

.mobile-teamschedule-view .empty-search-result {
	width: 100%;
	min-height: 1.5em;
	margin: 0;
}

.mobile-teamschedule-view .empty-search-result p {
	margin: 0;
}

.mobile-teamschedule-view .glyphicon-warning-sign {
	transform: scale(5);
}
