.dayview-mobile .mobile-dayview-nav ul.navbar-teleopti {
	margin: 0;
	display: inline-block;
}

.dayview-mobile .mobile-dayview-nav {
	display: flex;
}

.dayview-mobile .dayview-mobile-nav-input-group {
	max-width: 329px;
	flex-grow: 1;
}

.dayview-view-body {
	display: inline-block;
	width: 100%;
}

.dayview-summary-content {
    margin-top: 3px;
    width: 100%;
	text-align: center
}

.dayview-timeline {
	width: 31px;
	height: 792px;
	background: transparent;
	border-right: 1px solid #dfdfdf;
	position: relative;
}

.dayview-timeline-label {
	font-size: 7pt;
	width: 30px;
	height: 10px;
	text-align: center;
	white-space: pre-wrap;
}

.dayview-schedule {
	display: inline-block;
	height: 668px;
    width: 200px;
}

.dayview-schedule-layer {
	border-radius: 2px;
	border-left: 0;
	overflow: hidden;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}