[class*='cal-cell'] {
	float: left;
	margin-left: 0;
	min-height: 1px;
}

.cal-row-fluid {
	background-color: #f9f9f9;
	width: 100%;
	*zoom: 1;
}

.cal-row-fluid:before,
.cal-row-fluid:after {
	display: table;
	content: '';
	line-height: 0;
}

.cal-row-fluid:after {
	clear: both;
}

.cal-row-fluid [class*='cal-cell'] {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 0%;
	*margin-left: -0.05213764337851929%;
}

.cal-row-fluid [class*='cal-cell']:first-child {
	margin-left: 0;
}

.cal-row-fluid .cal-cell {
	width: 14.285714285714285%;
	*width: 14.232409381663112%;
}

.cal-row-head [class*='cal-cell']:first-child,
.cal-row-head [class*='cal-cell'] {
	text-transform: uppercase;
	min-height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	border: 0px solid;
	padding: 5px 0;
}

.cal-month-day {
	position: relative;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 130px;
	text-align: center;
}

.cal-month-day .day-header-day {
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: 0 0 1px 1px #dfdfdf;
	cursor: pointer;
}

.cal-month-box [class*='cal-cell'] {
	min-height: 100px;
	border-right: 1px solid #e1e1e1;
}

.cal-month-box .cal-row-fluid [class*='cal-cell']:last-child {
	border-right: 0px;
}

.cal-month-box .cal-row-fluid {
	border-bottom: 1px solid #e1e1e1;
	margin-left: 0px;
	margin-right: 0px;
}

.cal-month-box .cal-row-fluid:last-child {
	border-bottom: 0px;
}

.cal-month-box {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-radius: 2px;
}

.cal-day-outmonth .day-header-day,
.cal-day-outmonth .dayoff,
.cal-day-outmonth .absence,
.cal-day-outmonth .shift {
	opacity: 0.3;
}

.cal-month-day .absence {
	background-image: url(../Images/stripe.png);
	height: 100%;
	padding-top: 24px;
}

.cal-month-day .dayoff {
	height: 100%;
	padding-top: 24px;
}

.cal-month-day .overtime {
	padding-top: 24px;
}
.cal-month-day .absence .overtime {
	padding: 0;
}

@media print {
	.cal-month-day .visible-lg {
		display: block !important;
	}

	.cal-month-day .hidden-xs {
		display: block !important;
	}

	.cal-month-day .hidden-sm {
		display: block !important;
	}

	.cal-month-day .hidden-md {
		display: none !important;
	}

	.cal-month-day .label-default {
		background-color: transparent !important;
		border: none;
	}

	.cal-month-day .label {
		color: black !important;
	}

	.cal-month-day span {
		opacity: 1 !important;
	}

	* {
		transition: none !important;
	}

	.cal-month-day .day-header-day {
		color: #fff !important;
	}

	.label-default {
		background-color: transparent !important;
	}
}

.cal-weekday-header {
	border-left: 1px solid #dfdfdf !important;
	border-right: 1px solid #dfdfdf !important;
	border-top: 1px solid #dfdfdf !important;
	border-bottom: 1px solid #dfdfdf !important;
}

.shift {
	height: 100%;
	padding-top: 24px;
	font-size: 14px;
}

.shift.part-time {
	height: calc(100% - 30px);
	padding-top: 0;
	padding-bottom: 5px;
	font-size: 13px;
}

.absence.part-time {
	height: 30px;
}

.absence .hidden-md,
.shift .hidden-md {
	padding-top: 20px;
}

.seat-booking-table {
	margin-right: auto;
	margin-left: auto;
}

.seat-booking-row .seatbooking-symbol {
	margin-right: 3px;
}

.seat-booking-table div[class='tooltip-inner'] {
	max-width: none;
	white-space: nowrap;
}
