.fixed-non-responsive.container {
	width: 99%;
}

table th.right-align-cell,
table td.right-align-cell
{
	text-align: right;
}

.myreport-daily-metrics .container {
	width: 100%;
}

/*.span6 {
	width: 49%;
	-moz-min-width: 350px;
	-ms-min-width: 350px;
	-o-min-width: 350px;
	-webkit-min-width: 350px;
	min-width: 350px;
	margin-left: 0;
}*/

.alert-myreport{
	max-width: 100% !important;
}

.dashboard {
	background-image: none;
	color: white;
	min-height: 159px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.dashboard-clickable {
	cursor: pointer;
}
.dashboard-blue {
	background-color: darkblue;
}
.dashboard-purple {
	background-color: #7250aa;
}
.dashboard-avgHandlingTime {
	background-color: #428bca
}
.dashboard-avgTalkTime {
	background-color: #EC7E2F;
}
.dashboard-avgAfterCallWork {
	background-color: gray;
}
.dashboard-answeredCalls {
	background-color: black;
}
.dashboard .glyphicon {
	font-size: 40px;
	margin-top: 20px;
	margin-left: 20px;
}

@media (min-width: 768px)
		{
			.schedule-interval
			{
				width: 15px;
				height: 20px;
				position: absolute;
			}

			.bar-chart {
				margin-top: 84px;
			}
		}
		@media (max-width: 767px)
		{
			.schedule-margin {
			}

			.bar-chart {
				margin-left: 20px;
			}
			.schedule-interval
			{
				width: 20px;
				height: 15px;
			}

		}


		.schedule-adherence
		{
			width: 12px;
			height: 80px;
			float: left;
			margin-left: 2px;
			margin-right: 2px;
			margin-bottom: 4px;
			background-color: steelblue;
		}
		.vertical-progress
		{
			overflow: hidden;
			height: 80px;
			width: 11px;
			background-color: #f5f5f5;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			float: left;
			margin-left: 2px;
			margin-right: 2px;
			margin-bottom: 4px;
		}
		.vertical-progress-bar
		{
			float: left;
			width: 100%;
			height: 0%;
			font-size: 12px;
			line-height: 20px;
			color: #ffffff;
			text-align: center;
			background-color: darkblue;
			-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			-webkit-transition: width 0.6s ease;
			transition: width 0.6s ease;
		}

		.time-line-margin {
			margin-top: 5px;
			margin-bottom: 50px;
		}

		.time-line .label,
		.vertical-time-line .label {
		font-size: xx-small;
		height: 12px;
		z-index: 111;
	 }

	.time-line,
	.time-line div
	{
		height: 100%;
		z-index: -10;
		margin-top:5px;
	}
	.no-padding {
		padding: 0;
	}
	.time-line .ruler {
		height: 30px;
		width: 1px;
		background-color: rgba(0,0,0,0.2);
		z-index: 100;
		margin-top:-25px;
	}

	.time-line-vertical,
	.time-line-vertical div
	{
		z-index: -10;
		margin-top:0px;
	}

	.time-line-vertical .ruler {
		width: 30px;
		height: 1px;
		background-color: rgba(0,0,0,0.2);
		z-index: -100;
		margin-left:25px;
	}

	.progress{
		width: 80px;
		margin-bottom: 0px;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-left:4px;
		height: 11px;
	}
/*queue metrics*/
    .queue-header-row {
        display: table;
        background-color: #e6f5fa;
        color: white;
        min-height: 80px;
        padding: 0px;
    }

    .queue-row {
        color: white;
        min-height: 80px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid darkblue;
    }
    .queue-name {
        color: black;
        font-weight: bold;
        min-height: 80px;
        padding: 0;
	    text-align: center;
    }
    .queue-handling-time {
        background-color: #428bca;
        min-height: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 14px;
        border: 1px white solid;
    }
    .queue-talk-time {
        background-color: #EC7E2F;
        min-height: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 14px;
        float: left;
        border: 1px white solid;
    }
    .queue-afterwork-time {
        background-color: gray;
        min-height: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 14px;
        float: left;
        border: 1px white solid;
    }
    .queue-answered {
        background-color: black;
        min-height: 80px;
        padding: 0;
        padding-top: 30px;
        font-size: 20px;
	    overflow: hidden;
        border: 1px white solid;
    }
   .queue-answered-header {
       font-size: 14px;
   }