.fixed-non-responsive.container {
	width: 99%;
}

table th.right-align-cell,
table td.right-align-cell
{
	text-align: right;
}

.myreport-daily-metrics .container {
	width: 100%;
}

/*.span6 {
	width: 49%;
	-moz-min-width: 350px;
	-ms-min-width: 350px;
	-o-min-width: 350px;
	-webkit-min-width: 350px;
	min-width: 350px;
	margin-left: 0;
}*/

.alert-myreport{
	max-width: 100% !important;
}

.dashboard {
	background-image: none;
	color: white;
	min-height: 159px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.dashboard-blue {
	background-color: #428bca;
}
.dashboard-green {
	background-color: #00a300;
}
.dashboard-yellow {
	background-color: #ffc40d;
}
.dashboard-purple {
	background-color: #603cba;
}
.dashboard-red {
	background-color: #eb3c00;
}
.dashboard-black {
	background-color: #222222;
}
.dashboard .glyphicon {
	font-size: 40px;
	margin-top: 20px;
	margin-left: 20px;
}