
.alert-preference {
	max-width: 1024px;
	margin: 20px auto;
}

.form-preference {
	max-width: 954px;
	margin: auto;
}


.preference 
{
    height: 20px;
}
.preference-text 
{
    float: left;
    font-weight: bold;
    max-width: 77px;
	min-width: 35px;
    overflow: hidden;
	text-shadow: none;
}
.preference-must-have {
	margin-bottom: 3px;
}
.preference-indicator 
{
	float: left;
	width: 14px;
	height: 14px;
}
.extended-indication
{
    position: relative;
    top: -2px;
    margin-left: 1px;
    border-radius: 4px;
    border: 1px solid lightgray;
	cursor: pointer;

}
.extended-panel {
	line-height: 14px;
	background-color: lightgray;
	border: none;
}
.extended-part {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 3px;
    margin-left: 8px;
	width: 120px;
	border: 1px solid lightgray;
}
.extended-part-title {
	font-weight: bold;
	height: 14px;
	margin-bottom: 10px;
	width: 120px;
}
.extended-part-no-title {
	height: 14px;
	margin-bottom: 10px;
}

.calendarview-week li.modified div.day-content
{
	border-left-color: white;
	border-right-color: white;
}

.calendarview-week li .loading-small-gray-blue
{
	position: absolute;
	top: 20px;
	right: 0;
	height: 20px;
	width: 20px;
}

.day-header-text {
	font-size: 11px;
	height: 12px;
	width: auto;
	padding-top: 1px;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 3px;
}

.day-header-left {
	margin-top: 2px;
	margin-left: 2px;
}

.day-header-right {
	margin-top: 2px;
	margin-right: 2px;
}

.day-content-text {
	font-size: 11px;
	height: 14px;
	width: auto;
	border-radius: 3px;
}

.feedback-error {
	font-size: 12px;
	height: 20px;
	padding-bottom: 1px;
}

.time-limitation 
{
	display: block; /* required because chrome will display a different height without content otherwise */
	height: 13px;
	font-size: 11px;
	height: 13px;
	font-variant: small-caps;
	white-space: nowrap;
}

.feedback-detail 
{
	color: black;
	font-size: 1.15em;
}
.preference-next-day-checkbox {
    width: 17px;
    padding: 0 0 0 0;
    vertical-align: baseline;
}
#Preference-must-have-numbers {
	float: left;
	font-size: medium;
}

.grey-out {
	opacity : 0.4;
    filter: alpha(opacity=40); 
}

.meeting-small {
	margin-top: 2px;
	margin-left: 1px;
}

.preference-tooltip-subject {
	max-width: 200px; 
	word-wrap: break-word; 
}

.collapse-sign{
	text-decoration: none;
	min-width: 8px;
	color: black;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.musthave-current {
    
}

.musthave-max {
    
}

.add-musthave {
	
}

#Template-name-section {
	padding-bottom: 0;
}
#Template-name-section input 
{
	vertical-align: baseline;
}
#Preference-add-extended-form {
	min-width: 268px;
	padding-bottom: 0px;
}

.ie9 .preference-ui-tooltip {
    box-shadow: none;
}

div.qtip-content {
    overflow: visible;
}

#qtip-add-extended {
	min-width: 420px;
	max-width: 420px;
}

.select2-result-label hr {
	clear: both;
	margin: 0 0 0 0;
}

.select2-item-height li hr {
	height: 5px;
}

.width131 {
	width: 131px;
}

.width10 {
	width: 10px;
}

.preference-template-name {
	width: 280px;
}

.preference-template-list {
	width: 295px;
}

#Preference-Picker {
	width: 100%;
}

#Preference-extended-activity-Picker {
	width: 100%;
}

.td-vertical-divider {
	border-right: 1px solid #E0D9D9; 
	border-left: 1px solid #ffffff; 
	padding: 0px !important;
}

.hr-thin {
	margin: 5px 0;
}

.preference-input-container {
	width: 100%;
}

.preference-input-icon-cell {
    width: 16px;
}

.musthave-textcolor {
	color: #777777;
}

.musthave-textcolor>li>a:hover {
color: #333333;
}

.day-content .weekly-work-time-alert {
	color: red;
	font-weight: bold;
}

.preference-body-width {
	width: 1024px !important;
}

.min-hours-per-week {
	padding-top: 12px;
	font-size: 11px;
}

.max-hours-per-week {
	font-size: 11px;
}
