
.preference 
{
	font-weight: bold;
	overflow: hidden;
	height: 16px;
}

.calendarview-week li.modified div.day-content
{
	border-left-color: white;
	border-right-color: white;
}

.calendarview-week li .loading-small-gray-blue
{
	position: absolute;
	top: 20px;
	right: 0;
	height: 20px;
	width: 20px;
}

.feedback-error {
	font-size: 12px;
	height: 13px;
	padding-bottom: 2px;
}

.possible-start-times {
	font-size: 12px;
	height: 13px;
	padding-bottom: 1px;
	font-variant: small-caps;
}

.possible-end-times {
	font-size: 12px;
	height: 13px;
	padding-bottom: 1px;
	font-variant: small-caps;
}

.possible-contract-times {
	font-size: 12px;
	height: 13px;
	font-variant: small-caps;
}