
.preference 
{
    height: 20px;
}
.preference-text 
{
    float: left;
    font-weight: bold;
    height: 15px;
    max-width: 97px;
    overflow: hidden;
}
.extended-indication 
{
    float: left;
    position: relative;
    top: -2px;
    margin-left: 4px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 3px;
    border-radius: 4px;
    border: 1px solid lightgray;
	cursor: pointer;

}
.extended-panel {
	line-height: 14px;
}
.extended-part {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 3px;
}
.extended-part-title {
	font-weight: bold;
	padding-bottom: 10px;
}



.calendarview-week li.modified div.day-content
{
	border-left-color: white;
	border-right-color: white;
}

.calendarview-week li .loading-small-gray-blue
{
	position: absolute;
	top: 20px;
	right: 0;
	height: 20px;
	width: 20px;
}

.feedback-error {
	font-size: 12px;
	height: 13px;
	padding-bottom: 2px;
}

.time-limitation {
	font-size: 12px;
	height: 13px;
	padding-bottom: 1px;
	font-variant: small-caps;
}

.feedback-detail 
{
	color: black;
	font-size: 1.15em;
}

#Preference-period-feedback-view 
{
	color: gray;
	margin-bottom: 0.6em;
	padding-bottom: 0.6em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#Preference-period 
{
	line-height: 1em;
	font-size: 0.8em;
}

.icon.preference-warning 
{
	background: transparent url(../Images/icon_sprite.png) -159px -54px no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}