
.preference 
{
    height: 30px;
}
.preference-text 
{
    float: left;
    font-weight: bold;
    height: 15px;
    max-width: 97px;
    overflow: hidden;
}
.preference-must-have {
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.preference-indicator 
{
	float: left;
	width: 14px;
	height: 14px;
}
.extended-indication
{
    position: relative;
    top: -2px;
    margin-left: 1px;
    padding-top: 0px;
    padding-bottom: 3px;
    border-radius: 4px;
    border: 1px solid lightgray;
	cursor: pointer;

}
.extended-panel {
	line-height: 14px;
}
.extended-part {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 3px;
	width: 120px;
}
.extended-part-title {
	font-weight: bold;
	height: 14px;
	margin-bottom: 10px;
}
.extended-part-no-title {
	height: 14px;
	margin-bottom: 10px;
}

.calendarview-week li.modified div.day-content
{
	border-left-color: white;
	border-right-color: white;
}

.calendarview-week li .loading-small-gray-blue
{
	position: absolute;
	top: 20px;
	right: 0;
	height: 20px;
	width: 20px;
}

.feedback-error {
	font-size: 12px;
	height: 13px;
	padding-bottom: 1px;
}

.time-limitation 
{
	font-size: 11px;
	height: 13px;
	padding-bottom: 1px;
	font-variant: small-caps;
}
.time-limitation.icon.leftarrow,
.time-limitation.icon.rightarrow,
.time-limitation.icon.doublearrow-blue
{
	display: block; /* required because chrome will display a different height without content otherwise */
	width: 120px;
	height: 13px;
	padding-left: 6px;
}


.time-limitation-label.icon.leftarrow,
.time-limitation-label.icon.rightarrow,
.time-limitation-label.icon.doublearrow-blue
{
	/*display: block; /* required because chrome will display a different height without content otherwise */
	width: 10px;
	height: 14px;
}

 #Preference-period-feedback-view 
{
	color: gray;
	margin-bottom: 0.6em;
	padding-bottom: 0.6em;
	border-bottom: 1px solid #dfdfdf;
}
.rgba #Preference-period-feedback-view 
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.feedback-detail 
{
	color: black;
	font-size: 1.15em;
}
#Preference-period 
{
	line-height: 1em;
	font-size: 0.8em;
}
.preference-next-day-checkbox {
    width: 17px;
    padding: 0 0 0 0;
    vertical-align: baseline;
}
#Preference-must-have-numbers {
	float: left;
	font-size: medium;
}

.grey-out {
	opacity : 0.4;
    filter: alpha(opacity=40); 
}

.preference-not-fulfilled {
	color: red;
}

.meeting-small {
	margin-top: 2px;
	margin-left: 1px;
}

.preference-tooltip-subject {
	max-width: 200px; 
	word-wrap: break-word; 
}

.preference-tooltip-font {
	font-family: Arial;
}

.ie9 .preference-ui-tooltip {
    box-shadow: none;
}