
.request-body-inner ol
{
	list-style: none;
	margin-left: 0em;
	margin-right: 0em;
}
.request-selected {
	background: rgb(240, 240, 240);
}
.request-not-selected {
	background: #f8f8f8;
}
.request-list 
{
	width: 483px;
}
.rtl .request-list
{
    margin-right: 483px;
}
.request-body-inner .request-item
{
	padding-top: 0.5em;
	padding-bottom: 0.8em;
	padding-left: 1.8em;
	padding-right: 1.8em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
.request-body-inner .friendly-message {
	width: 433px;
}
.request-body-inner .loading
{
	height: 5em;
}
.request-body-inner .arrow-down
{
	height: 5em;
}

.request-arrow-right
{
	position: relative;
	top:23px;
	left:20px;
	float: right;
}

.no-rgba .request-body-inner li {
	 border: 1px solid #dfdfdf;
}
.request-body-inner .request-subject 
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.request-body-inner .request-details 
{
	font-size: smaller;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.request-body-inner .request-caption 
{
	color: #B0B0B0;
	font-style: italic;
	font-size: xx-small;
}

.request-body-inner .request-data-type {
	padding-right: 20px;
	padding-left: 0px;
}
.rtl .request-body-inner .request-data-type {
	padding-right: 0px;
	padding-left: 20px;
}
.request-body-inner .request-data-date {
	padding-right: 20px;
	padding-left: 0px;
}
.rtl .request-body-inner .request-data-date {
	padding-right: 0px;
	padding-left: 20px;
}
.request-body-inner .request-text 
{
	padding-top: 0.3em;
	max-width: 440px;
}
.request-edit-section .edit-module-element {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.request-edit-section .date-input
{
	width: 8em;
}
.request-data-subject {
	word-wrap: break-word;	
}
.request-data-text {
	word-wrap: break-word;	
}
.absence-type-input-label 
{
	width: 8em;
	padding-top: 4px;
	padding-right: 2px;
	height: 16px;
}
.rtl .absence-type-input-label 
{
	text-align: right;
}
.shift-trade-layer
{
	position: absolute;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.80;
	height: 20px;
	top: 3px;
	z-index: 10;
}
.shift-trade-my-schedule
{
	border: 1px solid rgb(216, 216, 216);	
	position: relative;
	height: 30px;
	background: #f8f8f8;
	display: block;
	z-index: 9;
}
#shift-trade-timeline .shift-trade-timeline-line:last-child
{
	border-right: 0px;		
}
.shift-trade-timeline-line 
{
	height: 40px;
	float: left;
	border-right: 1px solid rgb(216, 216, 216);
}

.shift-trade-timeline-number
{
	padding-left: 2px;
	padding-right: 3px;
	position: relative;
	top: -16px;
	left: -12px;
	font-family: verdana;
	font-size: 8px;
}