.hoverBorder {
	outline: solid 1px rgba(90, 205, 249, 1);
}

.disabled {
	opacity: 0.5;
}

.request-body-inner ol {
	list-style: none;
	margin-left: 0em;
	margin-right: 0em;
}

.request-selected {
	background: rgb(240, 240, 240);
}

.request-not-selected {
	background: #f8f8f8;
}

.request-body-inner .request-item {
	padding-top: 0.5em;
	padding-bottom: 0.8em;
	padding-left: 1.8em;
	padding-right: 1.8em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.request-body-inner .friendly-message {
	width: 433px;
}

.request-body-inner .loading {
	height: 5em;
}

.request-body-inner .arrow-down {
	height: 5em;
}

.request-arrow-right {
	position: relative;
	top: 23px;
	left: 20px;
	float: right;
}

.no-rgba .request-body-inner li {
	border: 1px solid #dfdfdf;
}

.request-body-inner .request-subject {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.request-body-inner .request-details {
	font-size: smaller;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.request-body-inner .request-caption {
	color: #b0b0b0;
	font-style: italic;
	font-size: xx-small;
}

.request-edit-subject {
	max-width: 440px;
}

.request-edit-message {
	max-width: 440px;
}

.request-body-inner .request-data-type {
	padding-right: 20px;
	padding-left: 0px;
}

.rtl .request-body-inner .request-data-type {
	padding-right: 0px;
	padding-left: 20px;
}

.request-body-inner .request-data-date {
	padding-right: 20px;
	padding-left: 0px;
}

.rtl .request-body-inner .request-data-date {
	padding-right: 0px;
	padding-left: 20px;
}

.request-body-inner .request-text {
	padding-top: 0.3em;
	max-width: 440px;
	word-break: break-word;
}

.request-body-inner .edit-module-element {
	position: relative;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.request-edit-section .date-input {
	width: 8em;
}

.request-data-subject {
	word-wrap: break-word;
	margin: 0 0 5px 0;
}

.request-data-text {
	word-wrap: break-word;
}

.absence-type-input-label {
	width: 8em;
	padding-top: 4px;
	padding-right: 2px;
	height: 16px;
}

.rtl .absence-type-input-label {
	text-align: right;
}

.fix-margin {
	margin: 4px 0;
}

#absence-personal-account > div {
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}

.request-subject-input {
	width: 100%;
}

.request-message-input {
	width: 100%;
	height: 5em;
}

.request-label {
	max-width: 420px;
	display: inline-block;
	white-space: normal;
	text-align: left;
}

.trade-day-detail {
	height: 86px;
}

.trade-day-detail > div {
	position: relative;
}

.trade-date {
	font-size: smaller;
	font-weight: bold;
	margin-bottom: 14px;
}

.request-absence {
	max-width: 250px;
}

@media (max-width: 768px) {
	.p-r-0 {
		padding-right: 0;
	}
}

.request-list-filter {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	width: auto;
}

.choose-history-divider {
	border: 0;
	height: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#choose-history-list .trade-date {
	font-size: small;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 10px;
}

#choose-history-list .shift-trade-timeline {
	height: 80px;
}

.page-selected {
	background-color: #b0b0b0;
}

.pagination {
	cursor: pointer;
}

.filter-time-dropdown-form {
	padding: 5px 10px 0;
	max-height: 300px;
	overflow-y: scroll;
	z-index: 150;
}

.filter-time-dropdown-button {
	margin-bottom: 9px;
	background-color: white;
}

.filter-time-text {
	font-size: 14px;
}

.request-body .alert-link {
	padding-left: 5px;
}

.request-body .alert-warning {
	margin-top: 10px;
}

.request-body .alert-danger {
	margin-top: 10px;
}

.row > .input-group {
	margin-left: 15px;
}

.input-right-inner-addon {
	position: relative;
}

.input-right-inner-addon input {
	padding-right: 30px;
}

.input-right-inner-addon span {
	position: absolute;
	right: 0px;
	padding: 13px 12px;
	pointer-events: none;
}

.glyphicon-refresh-animate {
	animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}

	to {
		transform: scale(1) rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

.filteractived {
	border: 1px solid #007fff;
}

.request-body-inner .btn-group .glyphicon-arrow-up,
.request-body-inner .glyphicon-arrow-down {
	color: silver;
	padding-left: 25px;
}

.btn-group .sortingbuttonselected {
	color: #007fff;
}

.schedule-filter-component {
	margin: 8px 0;
	/*z-index: 150; */
}

.btn.dropdown-toggle {
	width: 100%;
	align-content: center;
}

.btn.dropdown-toggle > b {
	margin-left: 15%;
}

.select2-container#s2id_Team-Picker {
	width: 100% !important;
}

.select2-container#s2id_Site-Picker {
	width: 100% !important;
}

input[type='search']::-ms-clear {
	display: none;
}

@media (max-width: 767px) {
	.request-edit .col-xs-8 {
		width: 100%;
	}
}

.filter-row {
	margin: 0 !important;
}

.request-add-container {
	position: relative;
}

.posting-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: grey;
	opacity: 0.8;
	z-index: 100;
}

.posting-mask img {
	position: absolute;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
}

/*Mobile tweaks*/
.hide-fab-on-phone {
	display: none !important;
}

.overtime-add-body .row label {
	max-width: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.overtime-request-duration span.input-sm {
	padding-left: 12px;
	padding-right: 12px;
}

.overtime-request-duration .caret {
	transform: scale(1.5);
}

.overtime-request-duration .dropdown-menu {
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
	left: auto;
	right: 0;
}

.overtime-request-duration span.input-group-addon {
	padding: 0;
}

.overtime-request-duration span.input-group-addon button.btn {
	border: none;
}

@media (max-width: 500px) {
	.overtime-request-type,
	.overtime-request-date,
	.overtime-request-starttime,
	.overtime-request-duration {
		width: 100%;
		margin-top: 5px;
	}

	.overtime-request-duration .dropdown-menu {
		max-height: 80px;
	}

	#request-filter-row .form-control {
		width: auto;
	}
}

/*Full/Next Day Checkbox in requests form*/
#Request-add-section label.checkbox {
	padding-left: 23px;
}

.full-day-label input,
input.overtime-availability-next-day,
input.shift-exchange-offer-next-day,
input.use-default-startTime {
	cursor: pointer;
	transform: scale(1.3);
	margin: 5px 10px;
}

.error-message-header {
	display: flex;
	font-weight: bold;
}

.shift-to-trade-row-deskop {
	height: 100px;
	align-items: center;
}

.dayoff-text {
	line-height: 60px;
	display: inline-block;
}

.btn-remove {
	background-color: white;
	border: none;
}

.hiden {
	display: none;
}

.not-visible {
	visibility: hidden;
}

.cart-text {
	margin-bottom: 3px;
}

.cart-menu {
	position: fixed;
	bottom: 3%;
	right: 5%;
	z-index: 115;
	background: #5acdf9;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	outline: none;
	border: none;
	cursor: pointer;
	line-height: 100%;
	font-size: 240%;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}

.text-indicator {
	margin-left: 10px;
}
.text-indicator-mobile {
	width: 100%;
	margin-bottom: 0px;
}

.with-fab .teleopti-toolbar {
	padding: 0;
}
