.hoverBorder {
	outline: solid 1px rgba(0, 0, 0, 0.15);
}

.disabled {
	opacity: 0.5;
}

.request-body-inner ol {
	list-style: none;
	margin-left: 0em;
	margin-right: 0em;
}

.request-selected {
	background: rgb(240, 240, 240);
}

.request-not-selected {
	background: #f8f8f8;
}

.request-body-inner .request-item {
	padding-top: 0.5em;
	padding-bottom: 0.8em;
	padding-left: 1.8em;
	padding-right: 1.8em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.request-body-inner .friendly-message {
	width: 433px;
}

.request-body-inner .loading {
	height: 5em;
}

.request-body-inner .arrow-down {
	height: 5em;
}

.request-arrow-right {
	position: relative;
	top: 23px;
	left: 20px;
	float: right;
}

.no-rgba .request-body-inner li {
	border: 1px solid #dfdfdf;
}

.request-body-inner .request-subject {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.request-body-inner .request-details {
	font-size: smaller;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.request-body-inner .request-caption {
	color: #B0B0B0;
	font-style: italic;
	font-size: xx-small;
}

.request-edit-subject {
	max-width: 440px;
}

.request-edit-message {
	max-width: 440px;
}

.request-body-inner .request-data-type {
	padding-right: 20px;
	padding-left: 0px;
}

.rtl .request-body-inner .request-data-type {
	padding-right: 0px;
	padding-left: 20px;
}

.request-body-inner .request-data-date {
	padding-right: 20px;
	padding-left: 0px;
}

.rtl .request-body-inner .request-data-date {
	padding-right: 0px;
	padding-left: 20px;
}

.request-body-inner .request-text {
	padding-top: 0.3em;
	max-width: 440px;
	word-break: break-all;
}

.request-body-inner .edit-module-element {
	position: relative;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.request-edit-section .date-input {
	width: 8em;
}

.request-data-subject {
	word-wrap: break-word;
	margin: 0 0 5px 0;
}

.request-data-text {
	word-wrap: break-word;
}

.shift-exchange-out-of-open-period {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

.shift-exchange-offer-footer {
	overflow: auto;
	margin-top: 5px;
}

.absence-type-input-label {
	width: 8em;
	padding-top: 4px;
	padding-right: 2px;
	height: 16px;
}

.rtl .absence-type-input-label {
	text-align: right;
}

.request-shift-trade-add-section {
	background-color: #f8f8f8;
	border: 1px solid rgb(216, 216, 216);
	height: 100%;
	padding: 10px;
}

#absence-personal-account > div {
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}

.fix-margin {
	margin: 4px 0;
}

@media(max-width: 768px) {
	.bootstrap-timepicker.request-time {
		margin-top: 5px;
	}

	.right-align.bootstrap-timepicker-widget.dropdown-menu {
		left: auto;
		right: 0 !important;
	}

	.left-align.bootstrap-timepicker-widget.dropdown-menu {
		right: auto;
		left: 0 !important;
	}

	.shift-trade-timeline {
		height: 100%;
		position: absolute;
		/* Value for left should keep samve as width of .shift-trade-agent-name*/
		left: 114px;
	}

	.shift-trade-agent-name {
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		white-space: normal;
		width: 114px;
	}
}

.shift-trade-layer-container {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	height: 22px;
}

	.shift-trade-layer-container.shift-trade-empty {
		width: 100%;
	}

	.shift-trade-layer-container .empty {
		height: 100%;
		width: 100%;
	}

	.shift-trade-layer-container:first-child {
		height: 30px;
	}

.shift-trade-layer.add {
	height: 20px;
	top: 5px;
	position: absolute;
	z-index: 2;
}

.shift-trade-layer.edit {
	position: absolute;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.80;
	height: 18px;
	z-index: 10;
}

	.shift-trade-layer.edit.my {
		top: 3px;
	}

.shift-trade-add-schedule {
	position: relative;
	white-space: nowrap;
	/*margin-top: 18px;*/
}

.shift-trade-schedule-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media only screen and (min-width: 769px) {
	.shift-trade-timeline {
		height: 100%;
		position: absolute;
		/* Value for left should keep samve as width of .shift-trade-agent-name*/
		left: 195px;
	}

	.shift-trade-agent-name {
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		white-space: normal;
		width: 195px;
	}

	#Requests-body-inner .shift-trade-person-schedule-row:nth-child(odd) .shift-trade-agent-name{
		color: #9E9E9E;
	}
}

.rtl .shift-trade-timeline {
	left: 0;
	right: 220px;
}

.shift-trade-timeline-line {
	height: 100%;
	float: left;
	border-right: 1px solid rgb(216, 216, 216);
}

.shift-trade-timeline-number {
	width: 27px;
	float: left;
	line-height: 10px;
	text-align: center;
	/*margin-top: 5px;*/
	padding-left: 2px;
	padding-right: 3px;
	position: relative;
	top: -14px;
	font-family: verdana;
	font-size: 8px;
	white-space: nowrap;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
}

.rtl .shift-trade-timeline-number {
	float: right;
	padding-left: 3px;
	padding-right: 2px;
}

.shift-trade-add-datepicker {
	position: absolute;
	width: 100px;
	text-align: center;
	left: 30px;
}

.shift-trade-add-previous-date {
	background-position: 0 -30px;
	height: 20px;
	width: 22px !important;
	vertical-align: middle;
	float: left;
}

.shift-trade-add-next-date {
	background-position: right -90px;
	margin: 0 -4px;
	height: 20px;
	width: 22px !important;
	vertical-align: middle;
	left: 102px;
}

.shift-trade-dayoff-name {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}

.add-shift-trade-detail-section {
	margin: 0;
}

	.add-shift-trade-detail-section .col-md-6 {
		margin-bottom: 0;
	}

	.add-shift-trade-detail-section textarea {
		max-width: 100%;
	}

.shift-trade-no-possible-trades {
	margin-top: 10px;
}


.shift-trade-contract-time {
	width: 50px;
	text-align: center;
}

.shift-trade-contract-time-mobile {
	text-align: left;
}

.shift-trade-button-cell {
	width: 30px;
	text-align: right;
}

.shift-trade-agent-name-hover {
	padding-right: 10px;
	box-shadow: 7px 0px 10px -1px rgba(0, 0, 0, 0.35);
	border-right: 1px solid rgba(0, 0, 0, 0.20);
	width: auto;
	z-index: 11;
}

.shift-trade-swap-detail-schedule {
	position: absolute;
	left: 0px;
	display: inline;
}

.shift-trade-swap-detail-schedule-to {
	position: absolute;
	left: 0px;
	display: inline;
	margin-top: 24px;
}

.shift-trade-swap-detail-schedule-row {
	height: 22px;
	position: absolute;
}

.shift-trade-swap-detail-timeline {
	height: 46px;
	position: absolute;
	/*hack to make LTR work - remove when were using "true" LTR in requests"". See bug 22898*/
	width: 450px;
}

.shift-trade-swap-detail-agent-name {
	width: 150px;
	height: 30px;
	/*hack to make LTR work - remove when were using "true" LTR in requests"". See bug 22898*/
	padding-left: 0;
}

.request-subject-input {
	width: 100%;
}

.request-message-input {
	width: 100%;
	height: 5em;
}

.shift-trade-swap-detail-timeline-line {
	height: 100%;
	float: left;
	border-left: 1px solid rgb(216, 216, 216);
}

.shift-trade-swap-detail-timeline-line-no-border {
	height: 100%;
	float: left;
}

.rtl .shift-trade-swap-detail-timeline-line {
	float: right;
	border-left: none;
	border-right: 1px solid rgb(216, 216, 216);
}

.shift-trade-add-schedule .shift-trade-timeline,
.shift-trade-add-schedule .shift-trade-timeline div {
	height: 100%;
}

.shift-trade-ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
}

.shift-trade-add-schedule .responsive {
	width: 100%;
}

.shift-trade-label {
	font-size: xx-small;
	height: 12px !important;
	z-index: 111;
	text-align: center;
}

.shift-trade-swap-detail-send-again {
	position: absolute;
	bottom: 25px;
	right: 22px;
}

.request-label {
	max-width: 420px;
	display: inline-block;
	white-space: normal;
	text-align: left;
}

.trade-day-detail {
	height: 86px;
}

	.trade-day-detail > div {
		position: relative;
	}

.trade-date {
	font-size: smaller;
	font-weight: bold;
	margin-bottom: 14px;
}

.request-absence {
	max-width: 250px;
}

@media (max-width: 768px) {
	.p-r-0 {
		padding-right: 0;
	}
}

.request-list-filter {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	width: auto;
}

.shift-trade-dayoff {
	padding-top: 5px;
	text-align: center;
	width: 100%;
	height: 100%;
}

	.shift-trade-dayoff .dayoff {
		height: 20px;
		z-index: 1;
	}

.choose-history-divider {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#choose-history-list .trade-date {
	font-size: small;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 10px;
}

#choose-history-list .shift-trade-timeline {
	height: 80px;
}

.page-selected {
	background-color: #b0b0b0;
}

.pagination {
	cursor: pointer;
}

.filter-time-dropdown-form {
	padding: 5px 10px 0;
	max-height: 300px;
	overflow-y: scroll;
}

.filter-time-dropdown-button {
	margin-bottom: 9px;
	background-color: white;
}

.filter-time-text {
	font-size: 14px;
}

.request-body .alert-link {
	padding-left: 5px;
}

.request-body .alert-warning {
	margin-top: 10px;
}

.request-body .alert-danger {
	margin-top: 10px;
}

.btn-datepicker {
	border: 0;
	outline: none;
}

.row > .input-group {
	margin-left: 15px;
}

.input-right-inner-addon {
	position: relative;
}

	.input-right-inner-addon input {
		padding-right: 30px;
	}

	.input-right-inner-addon span {
		position: absolute;
		right: 0px;
		padding: 13px 12px;
		pointer-events: none;
	}

.glyphicon-refresh-animate {
	-animation: spin 2s infinite linear;
	-webkit-animation: spin2 2s infinite linear;
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}

	to {
		transform: scale(1) rotate(360deg);
	}
}

.filteractived {
	Border: 1px solid #007fff;
}

.btn-group .glyphicon-arrow-up, .glyphicon-arrow-down {
	color: silver;
	padding-left: 25px;
}

.btn-group .sortingbuttonselected {
	color: #007fff;
}

.schedule-filter-component {
	margin: 8px 0;
	/*z-index: 150; */
}

.btn.dropdown-toggle {
	width: 100%;
	align-content: center;
}

	.btn.dropdown-toggle > b {
		margin-left: 15%;
	}

.select2-container#s2id_Team-Picker {
	width: 100% !important;
}

.select2-container#s2id_Site-Picker {
	width: 100% !important;
}

input[type=search]::-ms-clear {
	display: none;
}

.shift-trade-agent-name + .tooltip {
	white-space: pre-wrap;
}

.full-day-label {
	max-width: 70px;
}

.shift-trade-request-my-schedule {
	width: 100px;
	display: inline-block;
	margin-top: 22px;
}

@media (max-width: 767px) {
	.request-edit .col-xs-8 {
		width: 100%;
	}

	.full-day-label {
		max-width: 100px;
	}
}

/*Mobile tweaks*/
    @media only screen and (max-width : 736px) {
		.requests-wrapper .navbar-teleopti{
			background: transparent;
			border: none;
		}
		.hide-requests-on-phone{
			display: none!important;
		}
		.hide-fab-on-phone{
			display: none!important;
		}
		.requests-wrapper .fab {
			position: fixed;
			bottom: 3%;
			right: 5%;
			z-index: 115;
			background: #9ccc33;
			transition: 0.2s all ease;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
			padding-top: 50px;
			outline: none !important;
		}

		.requests-wrapper .fab:before {
			content: '+';
			position: absolute;
			top: 1px;
			left: 19px;
			color: white;
			font-size: 240%;
			font-weight: bold;
			z-index: 115;
		}

		.requests-wrapper .fab:focus {
			width: 100%;
			height: 60%;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 0;
			padding: 1rem;
			padding-bottom: 2rem;
			border: none;
		}

		.requests-wrapper .fab:focus:before {
			display: none;
		}

		.purest-green{
			background-color: #9ccc33!important;
    		border-color: #8cbc23!;
		}
		.new-filter{
		    padding-left: 2vw!important;
    		padding-right: 2vw!important;
		}
		/*.shift-trade-add-schedule > div > div > div > div:nth-child(even){
			background: red !important;
		}*/
    }

	    @media only screen and (max-width : 414px) {
			.requests-wrapper .fab:focus {
				height: 45%;
			}
		}