.schedule-request-form {
	position: relative;
	z-index: 1;
}

.schedule-table-container > .container {
	padding: 0;
}

.small-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 2px;
}

.request-body-inner .dayoff {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.date-input-style {
	padding: 10px 1px;
}

.seatbooking-tooltip .tooltip-header {
	font-size: medium;
}

.seatbooking-tooltip td {
	padding: 5px;
	border: 1px;
}

.seatbooking-symbol {
	width: 14px;
	height: 14px;
	background: url(../Images/seat.svg);
}
