#settings.edit-module
{
	margin: 0px;
}

.rtl #settings.edit-module {
	text-align: right;
}

#settings .ui-selectbox
{
	width: 320px;
}

.rtl #settings .ui-selectbox
{
	direction: ltr;
	text-align: right;
}

#settings .ui-selectbox-menu a
{
	width: 263px;
}

.rtl #settings .ui-selectbox-menu a
{
	direction: ltr;
	text-align: right;
}

.culture-setting {
    min-width: 250px;
}

.setting-padding {
    padding-top: 20px;
}
