#Request-add-shift-trade {
	padding: 0;
}
.shift-trade-filter-container {
	width: 100%;
	margin: 0;
}
.shift-trade-schedule-container {
	padding: 0 2px;
}
.shift-trade-add-schedule {
	position: relative;
	white-space: nowrap;
}
.shift-trade-error {
	display: flex;
	flex-direction: column;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
}
/*Old Shift Trade*/
.shift-trade-my-schedule-row,
.shift-trade-person-schedule-row {
	height: 31px;
	border-bottom: 1px #ddd solid;
}
.shift-trade-person-schedule-row:nth-child(odd) {
	background: #eee;
}
@media (min-width: 993px) {
	.shift-to-trade-row-disable .schedule-layer-text-container {
		color: #c9c4c4;
	}
}
@media (max-width: 993px) {
	.shift-trade-timeline {
		height: 100%;
		position: absolute;
		/* Value for left should keep samve as width of .shift-trade-agent-name*/
		left: 114px;
	}
	.shift-trade-agent-name {
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		white-space: normal;
		width: 114px;
	}
}
.shift-trade-layer-container {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	height: 22px;
}
.shift-trade-layer-container-new {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	height: 22px;
	width: 200px;
}
.shift-trade-layer-container.shift-trade-empty {
	width: 100%;
}
.shift-trade-layer-container .empty {
	height: 100%;
	width: 100%;
}
.shift-trade-layer-container:first-child {
	height: 30px;
}
.shift-trade-layer {
	display: inline-block;
}
.shift-trade-layer.add {
	height: 20px;
	top: 5px;
	position: absolute;
	z-index: 2;
}
.shift-trade-layer.add-new {
	height: 20px;
	top: 5px;
	z-index: 2;
}
.shift-trade-layer.edit {
	position: absolute;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
	height: 18px;
	z-index: 10;
}
.shift-trade-layer.edit.my {
	top: 3px;
}
@media only screen and (min-width: 769px) {
	.shift-trade-timeline {
		height: 100%;
		position: absolute;
		/* Value for left should keep samve as width of .shift-trade-agent-name*/
		left: 195px;
	}
	.shift-trade-agent-name {
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		white-space: normal;
		width: 195px;
	}
}
.rtl .shift-trade-timeline {
	left: 0;
	right: 220px;
}
.shift-trade-timeline-line {
	height: 100%;
	float: left;
	border-right: 1px solid rgb(216, 216, 216);
}
.shift-trade-timeline-number {
	width: 27px;
	float: left;
	line-height: 10px;
	text-align: center;
	padding-left: 2px;
	padding-right: 3px;
	position: relative;
	top: -14px;
	font-family: verdana;
	font-size: 8px;
	white-space: nowrap;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
}
.rtl .shift-trade-timeline-number {
	float: right;
	padding-left: 3px;
	padding-right: 2px;
}
.shift-trade-dayoff-name {
	position: absolute;
	left: 0;
	width: 150px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}
.add-shift-trade-detail-section {
	margin: 5px 0 0 0;
}
.add-shift-trade-detail-section .col-md-6 {
	margin-bottom: 0;
}
.add-shift-trade-detail-section textarea {
	max-width: 100%;
}
.shift-trade-contract-time {
	font-size: 0.8em;
}
.shift-trade-contract-time {
	width: 50px;
	text-align: center;
	white-space: normal;
}
.shift-trade-contract-time-mobile {
	text-align: left;
}
.shift-trade-button-cell {
	width: 30px;
	text-align: right;
}
.shift-trade-agent-name-hover {
	padding-right: 10px;
	box-shadow: 7px 0px 10px -1px rgba(0, 0, 0, 0.35);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	width: auto;
	z-index: 11;
}
.shift-trade-swap-detail-schedule {
	position: absolute;
	left: 0px;
	display: inline-block;
	width: 100%;
}
.shift-trade-swap-detail-schedule-to {
	position: absolute;
	top: 24px;
	left: 0px;
	display: inline-block;
	width: 100%;
}
.shift-trade-swap-detail-schedule-row {
	width: 100%;
	height: 22px;
	position: absolute;
}
.shift-trade-swap-detail-timeline {
	height: 46px;
	position: absolute;
	/*hack to make LTR work - remove when were using "true" LTR in requests"". See bug 22898*/
	width: 100%;
}
.shift-trade-swap-detail-agent-name {
	width: 150px;
	height: 30px;
	/*hack to make LTR work - remove when were using "true" LTR in requests"". See bug 22898*/
	padding-left: 0;
}
.shift-trade-swap-detail-timeline-line {
	height: 100%;
	float: left;
	border-left: 1px solid rgb(216, 216, 216);
}
.shift-trade-swap-detail-timeline-line-no-border {
	height: 100%;
	float: left;
}
.rtl .shift-trade-swap-detail-timeline-line {
	float: right;
	border-left: none;
	border-right: 1px solid rgb(216, 216, 216);
}
.shift-trade-add-schedule .shift-trade-timeline,
.shift-trade-add-schedule .shift-trade-timeline div {
	height: 100%;
}
.shift-trade-ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;
}
.shift-trade-add-schedule .responsive {
	width: 100%;
}
.shift-trade-label {
	font-size: xx-small;
	height: 12px !important;
	z-index: 111;
	text-align: center;
}
.shift-trade-swap-detail-send-again {
	position: absolute;
	bottom: 25px;
	right: 22px;
}
.shift-trade-dayoff {
	text-align: center;
	width: 100%;
	height: 30px;
}
.shift-trade-dayoff .dayoff {
	height: 20px;
	z-index: 1;
	position: relative;
	top: 5px;
	width: 100%;
}
.shift-trade-agent-name + .tooltip {
	white-space: pre-wrap;
}
.shift-trade-request-my-schedule {
	width: auto;
	margin-top: 45px;
	float: right;
}
.shift-exchange-out-of-open-period {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}
.shift-exchange-offer-footer {
	overflow: auto;
	margin-top: 5px;
}
.request-add-shift-trade-subject-input,
.request-add-shift-trade-message-input {
	resize: none;
	padding: 10px;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #333333;
}
.request-add-shift-trade-message-input:focus {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*New multiple shift trade*/
.shift-trade-no-possible-trades {
	margin-top: 10px;
}
.shift-trade-request-container {
	display: flex;
	flex-direction: column;
}
.multi-shift-trade-panel {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	height: 600px;
}
.multi-shift-trade-schedules-list {
	flex: 1 1 70%;
	overflow: hidden;
	background-color: white;
	max-height: 100%;
}
.multi-shift-trade-schedules-list-header {
	height: 25px;
	display: flex;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.multi-shift-trade-schedules-list-panel {
	position: relative;
	height: calc(100% - 25px);
	overflow-x: hidden;
	overflow-y: scroll;
}
.multi-shift-trade-schedules-list-panel::-webkit-scrollbar,
.multi-shift-trade-cart-container::-webkit-scrollbar {
	width: 8px;
}
.multi-shift-trade-schedules-list-panel::-webkit-scrollbar-thumb,
.multi-shift-trade-cart-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.multi-shift-trade-row {
	display: flex;
	border-top: 0.8px solid #e3e3e3;
	height: 100px;
	min-height: 100px;
	border-left: 2px solid #5acdf9;
	margin: 0 0 1px 0;
}
.multi-shift-trade-row.multi-shift-trade-row-mobile {
	height: 80px;
	min-height: 80px;
}
.multi-shift-trade-row.multi-shift-trade-row-disabled {
	border-left: 2px solid #ffa500;
}
.multi-shift-trade-row-disabled .multi-shift-trade-date-cell,
.multi-shift-trade-row-mobile .multi-shift-trade-row-disabled .shift-detail-info {
	opacity: 0.6;
}
.multi-shift-trade-row-disabled .multi-shift-trade-visual-layer {
	opacity: 0.6;
}
.multi-shift-trade-row-disabled .tooltip * {
	color: #fff;
}
.multi-shift-trade-date-cell,
.multi-shift-trade-selection {
	width: 80px;
	padding: 3px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 15%;
}
.multi-shift-trade-shift-detail {
	flex: 2 2 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.multi-shift-trade-shift-detail > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.multi-shift-trade-row-mobile .multi-shift-trade-shift-detail > div {
	padding: 0;
}
.multi-shift-trade-shift-detail.target-schedule-detail {
	margin-left: 1px;
}
.multi-shift-trade-shift-detail.target-schedule-detail > div {
	border: none;
}
.multi-shift-trade-row-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 5px;
	flex: 1 1 70%;
}
.multi-shift-trade-row-text-container p {
	padding: 0;
	margin: 0;
}
.multi-shift-trade-schedule-container {
	width: 100%;
	padding: 0 5px;
	flex: 1 1 30%;
}
.multi-shift-trade-layer-container {
	position: relative;
	width: 100%;
	height: 18px;
}
.multi-shift-trade-layer-container .multi-shift-trade-visual-layer {
	height: 100%;
	position: absolute;
	display: inline-block;
}
.multi-shift-trade-layer-container .multi-shift-trade-visual-layer:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.multi-shift-trade-layer-container .multi-shift-trade-visual-layer:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.multi-shift-trade-visual-layer.dayoff {
	width: 100%;
	border-radius: 3px;
}
.multi-shift-trade-row-mobile .multi-shift-trade-layer-container .shift-start-end-time {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.multi-shift-trade-row-mobile .multi-shift-trade-layer-container .spliter {
	line-height: 2px;
}
.multi-shift-trade-row-disabled .multi-shift-trade-visual-layer {
	opacity: 0.5;
}
.multi-shift-trade-row-disabled .text-indicator-mobile {
	opacity: 0.5;
}
.multi-shift-trade-selection {
	min-width: 30px;
	flex: 1 1 5%;
}
.multi-shift-trade-selection input,
.multi-shift-trade-selection .glyphicon-ban-circle,
.multi-shift-trade-selection .shift-trade-select-checkbox-disabled label {
	display: none;
}
.multi-shift-trade-selection label {
	margin: 0;
}
.multi-shift-trade-selection input[type='checkbox'] + label::before {
	content: '\a0';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: silver;
	text-align: center;
	vertical-align: middle;
}
.multi-shift-trade-selection input[type='checkbox']:checked + label::before {
	content: '\2713';
	background-color: rgb(98, 225, 98);
	color: white;
}
.multi-shift-trade-selection .shift-trade-select-checkbox-disabled .glyphicon-ban-circle {
	display: inline-block;
	transform: scale(1.3);
	color: silver;
}
.multi-shift-trade-cart {
	flex: 1 1 30%;
	background: white;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
}
.multi-shift-trade-cart-container {
	overflow: auto;
	height: 420px;
	padding-bottom: 5px;
}
.multi-shift-trade-cart-wrapper {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
}
.multi-shift-trade-cart-row {
	height: 94px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #c0c0c0;
}
.multi-shift-trade-cart-detail {
	flex: 1 0 90%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.multi-shift-trade-cart-date {
	display: flex;
	flex: 1 0 20%;
	justify-content: center;
	height: 30px;
}
.multi-shift-trade-cart-detail-info {
	flex: 1 0 80%;
	display: flex;
}
.multi-shift-trade-cart-schedule {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 4px;
}
.multi-shift-trade-cart-schedule + .multi-shift-trade-cart-schedule {
	margin-left: 4px;
}
.multi-shift-trade-cart-schedule-category,
.multi-shift-trade-cart-schedule-category.dayoff {
	width: 80%;
	text-align: center;
	display: inline-block;
}
.multi-shift-trade-cart-selection {
	display: flex;
	min-width: 20px;
	flex: 1 0 10%;
	justify-content: center;
	align-items: flex-end;
}
.multi-shift-trade-cart-selection .btn-remove i {
	transform: scale(1.2);
}
