/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
	 yui.yahooapis.com/2.8.1/build/base/base.css
	 camendesign.com/design/
	 praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

/* 
 * Helper classes 
 */

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
/* for image replacement */

.floatleft {
	display: block;
	float: left;
}

.floatright {
	display: block;
	float: right;
}

.fullwidth {
	width: 100% !important;
}

.halfwidth {
	width: 50%;
}

.clearleftfloat {
	clear: left;
}

.clearrightfloat {
	clear: right;
}

.clearboth {
	clear: both;
}

.displaynone {
	display: none;
}

.displayblock {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.ie7 .inline-block {
	zoom: 1;
	display: inline;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}
/* Hide visually and from screenreaders, but maintain layout */

.cursorpointer {
	cursor: pointer;
}

.truncate {
	overflow: hidden;
	white-space: nowrap;
}

/*Standard padding measurements*/
.mrg0 {
	margin: 0;
}

.mrg5 {
	margin: 5px;
}

.mrg10 {
	margin: 10px;
}

.mrg15 {
	margin: 15px;
}

.mrg20 {
	margin: 20px;
}

.mrg25 {
	margin: 25px;
}

.mrg30 {
	margin: 30px;
}

.mrg35 {
	margin: 35px;
}

.mrg40 {
	margin: 40px;
}

.mt-2 {
	margin-top: -2px;
}

.mt0 {
	margin-top: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt40 {
	margin-top: 40px;
}

.mr0 {
	margin-right: 0px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}

.mr35 {
	margin-right: 35px;
}

.mr40 {
	margin-right: 40px;
}

.mr45 {
	margin-right: 45px;
}

.mr50 {
	margin-right: 50px;
}

.mr60 {
	margin-right: 60px;
}

.mr65 {
	margin-right: 65px;
}

.mr70 {
	margin-right: 70px;
}

.mb0 {
	margin-bottom: 0px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb35 {
	margin-bottom: 35px;
}

.mb40 {
	margin-bottom: 40px;
}

.ml0 {
	margin-left: 0px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}

.ml35 {
	margin-left: 35px;
}

.ml40 {
	margin-left: 40px;
}

/*Standard padding measurements*/
.pd0 {
	padding: 0;
}

.pd5 {
	padding: 5px;
}

.pd7 {
	padding: 7px;
}

.pd10 {
	padding: 10px;
}

.pd15 {
	padding: 15px;
}

.pd20 {
	padding: 20px;
}

.pd25 {
	padding: 25px;
}

.pd30 {
	padding: 30px;
}

.pd35 {
	padding: 35px;
}

.pd40 {
	padding: 40px;
}

.pdt0 {
	padding-top: 0px;
}

.pdt5 {
	padding-top: 5px;
}

.pdt10 {
	padding-top: 10px;
}

.pdt15 {
	padding-top: 15px;
}

.pdt20 {
	padding-top: 20px;
}

.pdt25 {
	padding-top: 25px;
}

.pdt30 {
	padding-top: 30px;
}

.pdt35 {
	padding-top: 35px;
}

.pdt40 {
	padding-top: 40px;
}

.pdr0 {
	padding-right: 0px;
}

.pdr5 {
	padding-right: 5px;
}

.pdr10 {
	padding-right: 10px;
}

.pdr15 {
	padding-right: 15px;
}

.pdr20 {
	padding-right: 20px;
}

.pdr25 {
	padding-right: 25px;
}

.pdr30 {
	padding-right: 30px;
}

.pdr35 {
	padding-right: 35px;
}

.pdr40 {
	padding-right: 40px;
}

.pdb0 {
	padding-bottom: 0px;
}

.pdb5 {
	padding-bottom: 5px;
}

.pdb10 {
	padding-bottom: 10px;
}

.pdb15 {
	padding-bottom: 15px;
}

.pdb20 {
	padding-bottom: 20px;
}

.pdb25 {
	padding-bottom: 25px;
}

.pdb30 {
	padding-bottom: 30px;
}

.pdb35 {
	padding-bottom: 35px;
}

.pdb40 {
	padding-bottom: 40px;
}

.pdl0 {
	padding-left: 0px;
}

.pdl5 {
	padding-left: 5px;
}

.pdl10 {
	padding-left: 10px;
}

.pdl15 {
	padding-left: 15px;
}

.pdl20 {
	padding-left: 20px;
}

.pdl25 {
	padding-left: 25px;
}

.pdl30 {
	padding-left: 30px;
}

.pdl35 {
	padding-left: 35px;
}

.pdl40 {
	padding-left: 40px;
}

/* 
 * Page Layout classes
 */

.col-main {
	display: table-cell;
	width: auto;
}

.ie7 .col-main {
	display: block;
	zoom: 1;
}

.col-1 {
	width: 975px;
}

.col-2 {
	width: 480px;
}

.col-3 {
	width: 320px;
}

.col-2-3 {
	width: 708px;
}

.col-4 {
	width: 240px;
}

.col-5 {
	width: 192px;
}

.col-6 {
	width: 160px;
}

.col-770 {
	width: 770px;
}

html.full-height,
html.full-height body,
html.full-height form.aspnetform {
	height: 100%;
}

/*#page{padding-top: 17px;}*/
html.full-height #page,
html.full-height #page-signin {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	margin-bottom: -45px; /* set this neg. margin to the same value of the footer height  */
}

header,
#body,
#body-signin {
	margin: 0 auto;
}

body {
	padding-top: 50px;
	overflow: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

footer {
	margin: 0 auto;
}

html.full-height footer {
	height: 45px;
	width: 100%;
}

html.full-height #push {
	clear: both;
	height: 45px; /* set this height to the same height as the footer */
}

/* Primary Styles
	 Author: Mattias Brage, Centercom AB
 */

/* Loading */
#loading {
	background: rgba(255, 255, 255, 0.7);
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	top: 78px;
	z-index: 1000;
}

.ie7 #loading {
	left: 50%;
	margin-left: -483px;
}

.no-rgba #loading {
	background: transparent url(../Images/semi_transp_white.png) top left repeat;
}

#loading img {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
}

.ie7 #loading img {
	left: 50%;
	margin-left: -23px;
}

/* Errormessages */
.field-validation-error,
.validation-summary-errors,
.error {
	font-size: 11px;
	color: #cc0000;
}

#tab-windows .error h1 {
	color: #cc0000;
	width: auto;
}

.validation-summary-errors ul,
.error ul {
	list-style: none;
}

/* Seperators */
.seperator {
	border-right: 1px solid #d2d2d2;
	border-left: 1px solid #fff;
	float: left;
	height: 95%;
	margin: 0 12px;
}

/* Icons */
.icon {
	background-image: url(../Images/icon_sprite.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	display: inline-block;
	height: 28px;
	width: 21px;
}

.icon.comment {
	background-position: 0px 0px;
}

.icon.logout {
	background-position: 0px -26px;
}

.icon.mail {
	background-position: 0px -53px;
}

.icon.mail-state-active {
	background-position: 0px -79px;
}

.icon.employee {
	background-position: 0px -103px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 166px;
	font-weight: bold;
}

.icon.print {
	background-position: 0px -137px;
}

.icon.meeting {
	background-position: -309px 1px;
	width: 18px;
}

.icon.info {
	background-position: -46px 1px;
}

.icon.copy {
	background-position: 0px -168px;
}

.icon.paste {
	background-position: 0px -197px;
}

.icon.doublearrow-white {
	background-position: 13px -227px;
	height: 13px;
	width: 39px;
}
/* Only ment to be used in left-column in calendar-view */
.icon.leftarrow {
	background-position: 0 -246px;
	width: 9px;
}

.icon.rightarrow {
	background-position: 0 -266px;
	width: 9px;
}

.icon.doublearrow-blue {
	background-position: 0 -286px;
	width: 9px;
}

.icon.edit {
	background-position: 0 -308px;
	height: 15px;
	margin-top: -3px;
	margin-bottom: 3px;
}

.icon.toolbar-add-extended {
	background-position: 0 -363px;
	width: 21px;
}

.icon.toolbar-add-extended[disabled] {
	background-position: 0 -425px;
}

.icon.toolbar-edit {
	background-position: 0 -363px;
	width: 21px;
}

.icon.toolbar-edit[disabled] {
	background-position: 0 -425px;
}

.icon.toolbar-delete {
	background-position: 0 -394px;
	width: 26px;
}

.icon.toolbar-delete[disabled] {
	background-position: 0 -456px;
}

.icon.text-request {
	background-position: 0px -487px;
	height: 16px;
	width: 16px;
}

.icon.close {
	background-position: 0 -333px;
}

.icon.validation-req {
	background-position: -432px 0;
}

.icon.validation-error {
	background-position: -575px 0;
}

.icon.toolbar-addRequest {
	background-position: 0px -511px;
	width: 24px;
}

.icon.toolbar-today {
	background-position: -155px -26px;
	width: 24px;
	margin-left: 19px;
}

.icon.preference-warning {
	background-position: -159px -54px;
	width: 16px;
	height: 16px;
}

.icon.mail-small {
	background-position: -159px -80px;
	width: 20px;
	height: 12px;
}

.icon.heart {
	background-position: -307px -43px;
	width: 21px;
	height: 21px;
}

.icon.heart-small {
	background-position: -313px -29px;
	width: 8px;
	height: 8px;
}

.icon.heart-delete {
	background-position: -307px -68px;
	width: 22px;
	height: 22px;
}

.icon.meeting-small {
	background-position: -310px -5px;
	width: 14px;
	height: 12px;
}

.text-request {
	right: 0px;
	cursor: pointer;
}

.icon-left {
	padding-left: 25px;
	border: 0px;
	background-color: transparent;
}

button.icon-left {
	padding-left: 35px;
}

/* wrapper divs */
.custom-checkbox,
.custom-radio {
	position: relative;
}

/* input, label positioning */
.custom-checkbox input,
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label,
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 11px;
	padding-right: 1em;
	padding: 0.5em 0 0.5em 25px;
	margin: 0 0 0.3em;
	cursor: pointer;
}

.custom-checkbox label {
	background: url(../Images/checkbox_sprite.png) no-repeat;
}

.custom-radio label {
	background: url(../Images/radio_sprite.png) no-repeat;
}

.custom-checkbox label,
.custom-radio label {
	background-position: 0px -6px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
	background-position: 0px -36px;
}

.custom-checkbox label.checked,
.custom-radio label.checked {
	background-position: 0px -66px;
}

.custom-checkbox label.checkedHover,
.custom-radio label.checkedFocus {
	background-position: 0px -96px;
}

.custom-checkbox label.focus,
.custom-radio label.focus {
	outline: 1px dotted #ccc;
}

/* Page elements */
#modal-disable {
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 599;
}

.no-rgba #modal-disable {
	background: transparent url(../Images/semi_transp_white.png) 0 0 repeat;
}

/* Sign in */
#logo {
	display: block;
	height: 179px;
	margin: 0 auto;
	width: 499px;
}

#body-signin {
	background-position: 0 0;
	font-size: 11px;
	height: 210px;
	width: 500px;
}

#tab-windows,
#tab-application,
#tab-error {
	background-position: 0px -220px;
	height: 173px;
}

#tab-windows h1,
#tab-application h1 {
	color: #464646;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #fff;
	width: 165px;
}

.select-list {
	background-position: 0px -403px;
	height: 117px;
	width: 298px;
}

.select-list ul {
	height: 113px;
	width: 292px;
	margin: 3px 0 0 3px;
	overflow-y: scroll;
}

.select-list ul li {
	background-position: 0px 30px;
	list-style: none;
	cursor: pointer;
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	width: 264px;
}

.select-list ul li:hover {
	background-position: 0px -566px;
}

.select-list ul li.active {
	background-position: 0px -530px;
	color: #fff;
	-moz-box-shadow: 0 2px 2px #cecece;
	-webkit-box-shadow: 0 2px 2px #cecece;
	box-shadow: 0 2px 2px #cecece;
}

#body-signin .text-box {
	border: 0px;
	background-position: 0px -602px;
	color: #656565;
	height: 25px;
	width: 175px;
	padding-left: 5px;
	padding-right: 5px;
}

.boxshadow #body-signin .text-box {
	background-image: none;
	background-color: #fff;
	border: 1px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #adadad inset;
	-webkit-box-shadow: 0 0 5px #adadad inset;
	box-shadow: 0 0 5px #adadad inset;
}

.ie7 #body-signin .text-box,
.ie8 #body-signin .text-box {
	height: 28px;
	line-height: 28px;
}

.ie9 .field-validation-error span {
	display: block;
	margin-bottom: -15px;
}
/* Fix for IE9 */

#BusinessUnitOkButton {
	margin-top: -5px;
}

.ie9 #BusinessUnitOkButton {
	margin-top: -4px;
	height: 29px;
}

.ie8 #BusinessUnitOkButton {
	margin-top: -5px;
	height: 29px;
}

.ie7 #BusinessUnitOkButton {
	margin-top: -3px;
}

.app-error {
	background: transparent url(../Images/error_icon.png) 0px 16px no-repeat;
	float: left;
	padding: 25px 0 0 120px;
	margin: 25px 20px 0 30px;
	overflow: auto;
	height: 75px;
}
/****** Portal *****/
/* Top navigation */
.ui-tabs .ui-widget-content.toolbar-left,
#toolbar-right,
.toolbar-inner {
	background-color: transparent;
	background-image: url(../Images/toolbar_bg.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 35px;
	padding-left: 3px;
}

#toolbar-right {
	width: 253px;
}

.toolbar-inner {
	background-position: right -35px;
	font-size: 9px;
	height: 21px;
	padding: 7px;
}

/*Edit section*/
.edit-section {
	background: transparent url(../Images/edit_section_bg_bottom.png) bottom left repeat-x;
	min-height: 66px;
	position: fixed;
	top: 67px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 9999;
}

.ie7 .edit-section {
	left: 50%;
	margin-left: -487px;
}

.edit-section-content {
	background: transparent url(../Images/edit_section_bg_top.png) top left no-repeat;
	padding-top: 10px;
}

.edit-module {
	background: #f1f1f1 url(../Images/edit_module_bg.png) repeat-x 0 0px;
	border: 1px solid #ccd0d3;
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
}

.edit-module-inner {
	border: 3px solid #fff;
	padding-top: 10px;
	padding-right: 10px;
}

.ui-autocomplete {
	max-height: 180px;
	overflow-y: auto;
	overflow-x: hidden;
}

.date-input {
	width: 6.5em;
}

select.time-input {
	width: 8em;
}

#Schedule-addTextRequest-subject-input {
	width: 680px;
}

#Schedule-addTextRequest-message-input {
	width: 680px;
	height: 50px;
}

#AsmMessage-detail-reply {
	width: 100%;
	height: 3em;
}

#Schedule-addTextRequest-section .edit-module:nth-child(2) > div > div {
	width: 228px;
	height: 99px;
}

.request-edit-section {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: #f8f8f8;
	width: 450px;
	top: 0px;
	right: 0px;
	float: right;
	position: absolute;
}

.no-rgba .request-edit-section {
	border: 1px solid #dfdfdf;
}

.request-edit-section button.ui-button-icon-only {
	height: 20px;
	width: 1.7em;
	margin-left: -20px;
	float: left;
	background-position: -12px -90px;
	border: 0;
}

.request-delete-button:hover {
	background-image: url(../Images/icon_sprite.png);
	background-position: 0 -542px;
}

.request-delete-button {
	background-image: url(../Images/icon_sprite.png);
	background-position: 0 -560px;
	width: 16px;
	height: 16px;
	z-index: 100;
	position: absolute;
	left: 462px;
}

.ie9 .request-edit-section button.ui-button-icon-only {
	height: 19px;
}

.request-edit-section .ui-autocomplete-input {
	height: 16px;
	float: left;
}

.rtl .request-edit-section .ui-autocomplete-input {
	float: right;
}

.ie9 #Schedule-addTextRequest-section .edit-module:nth-child(2) > div > div {
	height: 94px;
}

.ie8 #Schedule-addTextRequest-section .edit-module:nth-child(2) > div > div {
	height: 94px;
}

/*
 * CSS alterations in order to get RTL-direction to work properly
 */

/*** Header ***/
.ie7 header {
	right: 50%;
	margin-right: -487px;
}

/*** Sign in ***/
.rtl .select-list {
	background-position: 21px -403px;
}

.rtl .floatleft {
	float: right;
}

.rtl .floatright {
	float: left;
}

.rtl header .floatleft {
	float: left;
}

.rtl header .floatright {
	float: right;
}

/*** Views ***/
.rtl .weekdays {
	padding-left: 0;
}

.rtl .body-calendarview {
	background: url('../Images/view_repeater_wide_bg.png') repeat-y scroll -966px bottom #f8f8f8;
}

.rtl .body-calendarview-inner {
	background: url('../Images/view_top_wide_bg.png') no-repeat scroll -966px 0px transparent;
}

.rtl .calendarview-week {
	background: url('../Images/calendarview_week_wide_bg.png') no-repeat scroll 874px top transparent;
	padding-left: 0px;
}

.rtl .body-weekview-inner ul:first-child {
	margin-left: 0px;
	margin-right: 20px;
}

.rtl .weekview-day .comment-day {
	background: url('../../Images/icon_sprite.png') no-repeat scroll -36px 9px transparent;
}

.rtl .weekview-day li div.meeting {
	margin-right: 25px;
	margin-left: 0px;
}

.ie7 .rtl .weekview-day li div.meeting {
	margin: 0;
}

.rtl .icon-left {
	padding-right: 25px;
	padding-left: 0px;
	width: auto;
}

.rtl header .icon-left {
	padding-right: 0;
	padding-left: 25px;
}

.rtl .icon.meeting {
	background-position: -309px 1px;
}

.rtl .tooltip-container dl dd,
.rtl .tooltip-container dl dt {
	float: right;
}

.tooltip-inner {
	/* max-width: 100vw; */
}

.ie7 .rtl .weekview-day {
	float: right;
}

/*Edit toolbar*/
.rtl .clearleftfloat {
	clear: right;
}

.rtl .row {
	margin-right: 0 !important;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation: portrait) {
	/* Style adjustments for portrait mode goes here */
}

@media all and (orientation: landscape) {
	/* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
	Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
	  j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

.friendly-message {
	padding-top: 0.5em;
	padding-bottom: 4em;
	padding-left: 1.8em;
	padding-right: 1.8em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: #f8f8f8;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.no-rgba .friendly-message {
	border: 1px solid #dfdfdf;
}

.loading {
	background-image: url(../Images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.loading-gradient {
	/*background-image: url(../Images/alpha-gradient.png);*/
	background-repeat: no-repeat;
	background-position: center;
}

.loading-small {
	background-image: url(../Images/ajax-loader-small.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.arrow-down {
	background-image: url(../Images/arrow-down.png);
	background-repeat: no-repeat;
	background-position: center 1em;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 599;
}

.template {
	display: none;
}

.rtl .ui-corner-left {
	-moz-border-radius-topright: 4px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
	-khtml-border-top-right-radius: 4px /*{cornerRadius}*/;
	border-top-right-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
	-khtml-border-bottom-right-radius: 4px /*{cornerRadius}*/;
	border-bottom-right-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-bottomleft: 0px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 0px /*{cornerRadius}*/;
	-khtml-border-bottom-left-radius: 0px /*{cornerRadius}*/;
	border-bottom-left-radius: 0px /*{cornerRadius}*/;
	-moz-border-radius-topleft: 0px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 0px /*{cornerRadius}*/;
	-khtml-border-top-left-radius: 0px /*{cornerRadius}*/;
	border-top-left-radius: 0px /*{cornerRadius}*/;
}

.rtl .ui-corner-right {
	-moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
	-khtml-border-bottom-left-radius: 4px /*{cornerRadius}*/;
	border-bottom-left-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-topleft: 4px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
	-khtml-border-top-left-radius: 4px /*{cornerRadius}*/;
	border-top-left-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-topright: 0px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 0px /*{cornerRadius}*/;
	-khtml-border-top-right-radius: 0px /*{cornerRadius}*/;
	border-top-right-radius: 0px /*{cornerRadius}*/;
	-moz-border-radius-bottomright: 0px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 0px /*{cornerRadius}*/;
	-khtml-border-bottom-right-radius: 0px /*{cornerRadius}*/;
	border-bottom-right-radius: 0px /*{cornerRadius}*/;
}

.ie9 .rtl .ui-corner-right {
	border-bottom-left-radius: 0px /*{cornerRadius}*/;
	border-top-left-radius: 0px /*{cornerRadius}*/;
	border-top-right-radius: 4px /*{cornerRadius}*/;
	border-bottom-right-radius: 4px /*{cornerRadius}*/;
}

#ui-datepicker-div {
	z-index: 99000 !important;
}

.responsive-header.container {
	max-width: 965px;
}

.visibility {
	overflow: visible !important;
}

/*Select2 styles*/
.select2-container .select2-choice .select2-arrow {
	border: none;
	width: 35px;
	text-align: center;
}
.select2-container .select2-choice .select2-arrow b {
	background: none !important;
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	transform: scale(1);
}
.select2-container .select2-choice .select2-arrow b:focus {
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
	outline-width: 5px;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.select2-container .select2-choice .select2-arrow b::before {
	content: '\e114';
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 35px;
}
.select2-search {
	padding: 4px;
}
.select2-search input {
	border-color: rgba(0, 0, 0, 0.1);
	background-position-y: -24px;
	min-height: 24px;
	height: 24px !important;
}
ul.select2-results {
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
	max-height: 250px;
}
ul.select2-results
	li.select2-result.select2-result-unselectable.select2-result-with-children
	> div.select2-result-label {
	background: rgba(200, 200, 200, 0.2);
}
ul.select2-results li.select2-result {
	background: none;
}
ul.select2-results li.select2-no-results {
	padding: 5px;
}
ul.select2-results li.select2-result-selectable {
	border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}
.select2-results ul.select2-result-sub > li .select2-result-label {
	padding: 8px 5px;
	padding-left: 20px;
	line-height: 1;
}
ul.select2-results li.select2-result.select2-highlighted,
ul.select2-results li ul li.select2-result.select2-highlighted {
	background: #5acdf9;
}
.select2-container .select2-choice,
.select2-container .select2-choice:focus,
.select2-drop-active,
.select2-drop-active:focus {
	margin: 0;
	outline: none;
	box-shadow: none;
}
.select2-container-active .select2-choice {
	box-shadow: none;
}
.select2-dropdown-open.select2-drop-above .select2-choice {
	background-image: none;
}
.select2-container .select2-choice {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.select2-drop {
	z-index: 9999999999999 !important;
}

.select2-container {
	padding-left: 0;
	padding-right: 0;
}

.ie8 .select2-container {
	min-width: 250px;
}

/* for fix ie11 bug: http://challenger:8080/tfs/web/UI/Pages/WorkItems/WorkItemEdit.aspx?id=27041 */
.transition-fix {
	-webkit-transition: height 0.001s;
	-moz-transition: height 0.001s;
	-ms-transition: height 0.001s;
	-o-transition: height 0.001s;
	transition: height 0.001s;
}
.pagebody {
	padding-top: 10px;
	height: calc(100vh - 51px - 53px);
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.m-b-10 {
	margin-bottom: 10px;
}
@media print {
	.cal-month-day .visible-lg {
		display: block !important;
	}

	.cal-month-day .hidden-xs {
		display: block !important;
	}

	.cal-month-day .hidden-sm {
		display: block !important;
	}

	.cal-month-day .hidden-md {
		display: none !important;
	}

	.cal-month-day .label-default {
		background-color: transparent !important;
		border: none;
	}

	.cal-month-day .label {
		color: black !important;
	}

	.cal-month-day span {
		opacity: 1 !important;
	}

	* {
		transition: none !important;
	}

	.cal-month-day .date-number {
		color: #000 !important;
	}

	.label-default {
		background-color: transparent !important;
	}
}

.fab {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 115;
	background: #5acdf9;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	outline: none;
	border: none;
	cursor: pointer;
	line-height: 100%;
	font-size: 240%;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
.fab:before {
	content: '+';
}
.menu-focusing {
	padding: 0 15px 1px 15px;
	position: fixed;
	height: auto;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 0;
	border: none;
	box-shadow: 0 -8px 17px 0 rgba(0, 0, 0, 0.2);
	z-index: 1001;
}

.menu-focusing .navbar-nav {
	margin: 0;
}

.menu-focusing li {
	padding: 0;
	border-bottom: 1px solid #dfdfdf;
}

.close-fab-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 197;
	width: 100%;
	background: transparent;
	border: none;
	cursor: pointer;
}

/*Request add form style on mobile*/
button.btn.request-new-cancel,
button.btn.absence-report-cancel {
	border: 1px solid #cccccc;
}
@media (max-width: 768px) {
	#Request-add-section {
		cursor: pointer;
	}
	#Request-add-section.well {
		margin: 0;
	}
	#Request-add-section div.pull-right {
		margin-top: 20px;
	}
	#Request-add-section label.checkbox {
		display: inline-block;
		padding-left: 25px;
	}
	#Request-add-section i.glyphicon,
	#Request-add-section input[type='checkbox'],
	#Request-add-section input.overtime-availability-next-day {
		transform: scale(1.5);
	}
	#Request-add-section span.input-group-btn {
		font-size: 15px;
		font-weight: normal;
		line-height: 1;
		color: #333333;
		text-align: center;
		background-color: #e6e6e6;
		border: 1px solid #cccccc;
		border-radius: 0;
	}
	#Request-add-section span.input-group-btn button.btn {
		border: none;
	}
}

/*override bootstrap modal header */
.modal .modal-header {
	background: rgba(0, 127, 255, 0.9);
}

.modal .modal-header .close {
	color: #ffffff;
}

/*Bootstrap timepicker*/
.bootstrap-timepicker-widget.dropdown-menu {
	padding: 0;
	margin-top: 5px;
}
.bootstrap-timepicker-widget table td a {
	padding: 5px 0;
}
.bootstrap-timepicker.request-time {
	margin-top: 5px;
}
.right-align.bootstrap-timepicker-widget.dropdown-menu {
	left: auto;
	right: 0 !important;
}
.left-align.bootstrap-timepicker-widget.dropdown-menu {
	right: auto;
	left: 0 !important;
}
@media (max-width: 768px) {
	.bootstrap-timepicker-widget.dropdown-menu {
		min-width: 130px;
	}
	.bootstrap-timepicker .dropdown-menu {
		width: initial;
	}
}

/*Day off style*/
.dayoff,
.striped,
.absence-.dayoff,
.cal-month-day .dayoff,
.calendarview-week li.striped .day-content,
.calendarview-week li.dayoff .day-content,
.weekview-day li.dayoff div,
.weekview-day-summary.striped {
	background-color: beige !important;
	background-image: url(../Images/stripe.png) !important;
}

.probability-loading-gif {
	display: inline-block;
	width: 20px;
	height: 20px;
}

/* Styles for chatbot */
.chatbot {
	position: fixed;
	left: 0;
	margin: 10px;
	bottom: 0;
	background-color: #f6f6f6;
	opacity: 1;
}

/*Traffic Light New Icon Style*/
.traffic-light-progress {
	width: 21px;
	transform: rotate(-90deg);
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #fff;
	background: #f1f1f1;
	height: 13px;
	cursor: pointer;
}
.traffic-light-progress .progress-bar {
	box-shadow: none;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.traffic-light-progress-poor .progress-bar {
	width: 25%;
	background: red;
}
.traffic-light-progress-fair .progress-bar {
	width: 50%;
	background: orange;
}
.traffic-light-progress-good .progress-bar {
	width: 80%;
	background: green;
}
