#Student-availability-edit-form {
	max-width: 965px;
	margin: auto;
}

#StudentAvailability-body-inner .calendarview-week li:first-child {
	width: 27px;
}

#StudentAvailability-body-inner .weekdays {
	padding-left: 27px;
}

#StudentAvailability-body-inner .calendarview-week:last-child {
	margin-bottom: 5px;
}

.student-availability-time-input > div {
	margin: 5px;
	max-width: 276px;
}

.student-availability-time-input > div:nth-child(2) {
	display: inline-block;
	vertical-align: bottom;
}

.student-availability-time-input > span {
	margin: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.student-availability-time-input > input {
	margin: 5px;
}

#StudentAvailability-body {
	width: 965px;
	margin: auto;
}

.student-availability-next-day-checkbox {
	width: 17px;
	padding: 0 0 0 0;
	vertical-align: baseline;
}

.alert-student-availability {
	width: 965px;
	margin: auto;
}

.form-student-availability {
	max-width: 954px;
	margin: auto;
}

.canAddAvailibility {
	font-size: 14px;
	color: #8cbc23;
}

.date-input-style {
	padding: 10px 1px;
}

.overtime-input-container > div > div {
	margin: 5px 0;
	padding: 0;
}

.overtime-input-container > div > .col-md-3 {
	padding-left: 5px;
}
.overtime-input-container .overtime-availability-next-day-container{
	padding: 10px 0;
}
.overtime-input-container input.overtime-availability-next-day, .shift-exchange-offer-next-day{
	cursor: pointer;
	transform: scale(1.3);
	margin: 5px 10px;
}

@media(max-width: 768px) {
	.phone-form-availability .form-student-availability {
		position: fixed;
		top: 20%;
		left: 0;
		right: 0;
		z-index: 100;
		margin-left: 5px;
		margin-right: 5px;
		max-height: 70%;
	}

	.phone-form-availability .phone-background {
		height: 200%;
		width: 100%;
		z-index: 99;
		background-color: #636363;
		position: fixed;
		top: 0;
		left: 0;
	}

	.phone-warning-indicator + .student-availability-body-container {
		overflow-x: auto;
	}
	.overtime-availability-start-time, .overtime-availability-end-time {
		padding-left: 5px;
		padding-right: 5px;
	}

	.overtime-availability-next-day-container .input-group{
		float: right;
	}
	.bootstrap-timepicker-widget.dropdown-menu{
		min-width: initial;
	}
}
.bootstrap-timepicker-widget.dropdown-menu{
	padding: 0;
}
.bootstrap-timepicker-widget table td a{
	padding: 5px 0;
}