#Student-availability-edit-form {
	max-width: 965px;
	margin: auto;
}

.student-availability-time-input > div {
	margin: 5px;
	max-width: 276px;
}

	.student-availability-time-input > div:nth-child(2) {
		display: inline-block;
		vertical-align: bottom;
	}

.student-availability-time-input > span {
	margin: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.student-availability-time-input > input {
	margin: 5px;
}


#StudentAvailability-period {
	max-width: 965px;
	margin: 10px auto;
}

.student-availability-body-container {
	overflow: auto;
}

#StudentAvailability-body {
	width: 965px;
	margin: auto;
}

.student-availability-next-day-checkbox {
	width: 17px;
	padding: 0 0 0 0;
	vertical-align: baseline;
}

.alert-student-availability {
	max-width: 954px;
	/*margin: 20px auto;*/
}

.form-student-availability {
	max-width: 954px;
	margin: auto;
}

.canAddAvailibility {
	font-size: 14px;
	color: #8cbc23;
}

.date-input-style {
	padding: 10px 1px;
}

.overtime-input-container > div > div {
	margin: 5px 0;
	padding: 0;
}

.overtime-input-container > div > .col-md-3 {
	padding-left: 5px;
}

.overtime-input-container .overtime-availability-next-day {
	margin: 35px 0 0 10px;
}

@media(max-width: 768px) {
	.overtime-availability-start-time, .overtime-availability-end-time {
		padding-left: 5px;
		padding-right: 5px;
	}

	.overtime-input-container .nextday-checkbox {
		margin: 10px;
		float: right;
	}
}
