#Student-availability-edit-form {
	max-width: 965px;
	margin: auto;
}

#StudentAvailability-body-inner .calendarview-week li:first-child {
	width: 27px;
}

#StudentAvailability-body-inner .weekdays {
	padding-left: 27px;
}

#StudentAvailability-body-inner .calendarview-week:last-child {
	margin-bottom: 5px;
}

#StudentAvailability-body-inner .calendarview-week li.date-is-selected .day-header,
#StudentAvailability-body-inner .calendarview-week li.date-is-selected .day-content {
	background: rgba(90, 205, 249, 0.3);
}

.student-availability-time-input > div {
	margin: 5px;
	max-width: 276px;
}

.student-availability-time-input > div:nth-child(2) {
	display: inline-block;
	vertical-align: bottom;
}

.student-availability-time-input > span {
	margin: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.student-availability-time-input > input {
	margin: 5px;
}

#StudentAvailability-period {
	margin: 0 auto 10px auto;
	width: 965px; /*same with #StudentAvailability-body*/
}

#StudentAvailability-body {
	width: 965px;
	margin: auto;
}

.student-availability-next-day-checkbox {
	width: 17px;
	padding: 0 0 0 0;
	vertical-align: baseline;
}

.alert-student-availability {
	margin: auto;
}

.form-student-availability {
	max-width: 954px;
	margin: auto;
}

.canAddAvailibility {
	font-size: 14px;
	color: #8cbc23;
}

.date-input-style {
	padding: 10px 1px;
}

.overtime-input-container > div > div {
	margin: 5px 0;
	padding: 0;
}

.overtime-input-container > div > .col-md-3 {
	padding-left: 5px;
}

.overtime-availability-next-day-container {
	padding: 10px 0;
}

@media (max-width: 768px) {
	.phone-form-availability .form-student-availability {
		position: fixed;
		top: 20%;
		left: 0;
		right: 0;
		z-index: 100;
		margin-left: 5px;
		margin-right: 5px;
		max-height: 70%;
	}

	.phone-form-availability .phone-background {
		height: 200%;
		width: 100%;
		z-index: 99;
		background-color: #636363;
		position: fixed;
		top: 0;
		left: 0;
	}

	.overtime-availability-start-time,
	.overtime-availability-end-time {
		padding-left: 5px;
		padding-right: 5px;
	}

	.overtime-availability-next-day-container .checkbox {
		float: right;
	}
}

.availability-add-container {
	position: relative;
}
