
.teamschedule-body-inner {
	white-space: nowrap;
}

.teamschedule ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.teamschedule {
	border: 1px solid #dfdfdf;
	background: #f8f8f8;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 15px;
}

.rgba .teamschedule {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.teamschedule-timeline {
	left: 0px;
	top: 5px;
	bottom: 0px;
}

.rtl .teamschedule-timeline {
	left: auto;
	right: 0px;
}

.teamschedule-timeline-spacer {
	width: 220px; /* space between the left hand side and the timeline*/
}

.teamschedule-timeline-times {
	height: 100%;
}

.teamschedule-timeline-time {
	height: 100%;
	font-size: 8px;
	border-left: 1px solid #dfdfdf;
}

.rgba .teamschedule-timeline-time {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.rtl .teamschedule-timeline-time {
	border-left: none;
	border-right: 1px solid #dfdfdf;
}

.rgba .rtl .teamschedule-timeline-time {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.teamschedule-timeline-label {
	padding: 1px;
	padding-left: 4px;
	padding-right: 5px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
	left: -12px;
	position: relative;
	font-size: xx-small;
	color: #556b2f;
	height: 12px !important;
	width: 26px;
	text-align: center;
	white-space: nowrap;
}

.rgba .teamschedule-timeline-label {
	border: 1px solid #dfdfdf;
}

.rtl .teamschedule-timeline-label {
	left: auto;
	right: -10px;
}

.teamschedule-timeline-time.minute .teamschedule-timeline-label {
	display: none;
}

.teamschedule-agents {
	width: 100%;
	position: relative;
}

.teamschedule-agent-without-badge {
	vertical-align: bottom;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 36px;
	width: 100%;
	vertical-align: bottom;
	z-index: 99;
}

.rgba .teamschedule-agent {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.teamschedule-agent-name-without-badge {
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 220px;
	height: 20px;
	margin-right: 5px;
	padding-left: 5px;
	background-color: #f8f8f8;
}

.rt .teamschedule-agent-name-without-badge {
	margin-right: auto;
	padding-left: 0;
	margin-left: 5px;
	padding-right: 5px;
	text-overflow: clip;
}

.teamschedule-agent-name-hover {
	padding-right: 10px;
	box-shadow: 7px 0px 10px -1px rgba(0, 0, 0, 0.35);
	border-right: 1px solid rgba(0, 0, 0, 0.20);
	width: auto;
	z-index: 10;
}

.teamschedule-agent-schedule {
	position: absolute;
	left: 220px;
}

.rtl .teamschedule-agent-schedule {
	left: auto;
	right: 220px;
}

.teamschedule .layer {
	vertical-align: bottom;
	height: 22px;
	border-radius: 2px;
}

.teamschedule .gradient {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .6) 100%);
}

.teamschedule .dayoff {
	margin-left: 7px;
	left: 250px;
	vertical-align: bottom;
	border: 1px solid #dfdfdf;
	text-align: center;
	height: 21px;
	border-radius: 2px;
}

.rgba .teamschedule .dayoff {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.rtl .teamschedule .dayoff {
	margin-left: auto;
	margin-right: 5px;
	right: 220px;
	left: auto;
	margin-right: 7px;
	margin-left: auto;
}

.teamschedule-agent-schedule .tooltip-container {
	top: -55px;
	height: 57px;
}

.teamschedule-agent-schedule .tooltip-bottom {
	height: 30px;
}

#s2id_Team-Picker {
	min-width: 100%;
	max-width: 100%;
}

#s2id_Team-Picker_Padding {
	padding-top: 8px;
}

.team-select2-container {
	text-align: left;
	float: left;
}

.team-select2-container-hidden {
	display: none;
}

.team-select2-dropdown {
	text-align: left;
}

.nav .ie8style {
	padding-top: 4px;
}

.teamschedule-agent .agent-badge {
	height: 10px;
	padding-left: 5px;
}

.announce-shift-matching-date {
	padding-bottom: 5px;
}

.announce-shift-next-date {
	padding-top: 10px;
	padding-bottom: 10px;
}

.date-input-style {
	padding: 10px 1px;
}

.dropdown-menu {
	overflow-y: scroll;
}

	.dropdown-menu.right-zero {
		left: initial;
		right: 0;
	}

.shift-trade-agent-name + .tooltip {
	white-space: pre-wrap;
}

.input-group-addon-narrow {
	padding-left: 7px;
	padding-right: 7px;
}

.clickable {
	cursor: pointer;
}

#team-schedule-table > tbody > tr:nth-child(2n + 1) > td.shift-trade-agent-name {
	color: #9E9E9E;
}

/*Mobile tweaks*/
    @media only screen and (max-width : 736px) {
		.team-schedule-wrapper .navbar-teleopti{
			background: transparent;
			border: none;
		}

		.team-schedule-wrapper .fab {
			position: fixed;
			bottom: 3%;
			right: 5%;
			z-index: 115;
			background: #9ccc33;
			transition: 0.2s all ease;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
			padding-top: 50px;
			outline: none !important;
		}

		.team-schedule-wrapper .fab:before {
			content: '+';
			position: absolute;
			top: 1px;
			left: 19px;
			color: white;
			font-size: 240%;
			font-weight: bold;
			z-index: 115;
		}

		.team-schedule-wrapper .fab-focus {
			width: 100%;
			height: 42%;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 0;
			padding: 1rem;
			border: none;
		}
	.purest-green{
			background-color: #9ccc33!important;
    		border-color: #8cbc23!;
		}
		.team-schedule-wrapper .fab-focus:before {
			display: none;
		}
		
		.shift-trade-add-schedule > div > div > div > div:nth-child(4n+0){
			opacity: 0;
		}
    }

		    @media only screen and (max-width : 414px) {
			.team-schedule-wrapper .fab-focus {
				height: 22%!important;
			}
		}