
.body-teamschedule {
	
}
.body-teamschedule-inner {
	
}

.teamschedule ul 
{
	margin: 0; 
	padding: 0;
	list-style: none;
}
.teamschedule 
{
	border: 1px solid #dfdfdf;
	background: #f8f8f8;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 15px;
}

.rgba .teamschedule 
{
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.teamschedule-timeline 
{
	left: 0px;
	top: 5px;
	bottom: 0px;
}
.rtl .teamschedule-timeline {
	left: auto;
	right: 0px;
}
.teamschedule-timeline-spacer {
	width: 125px;
}
.teamschedule-timeline-times 
{
	height: 100%;
}
.teamschedule-timeline-time {
	height: 100%;
	font-size: 8px;
	border-left: 1px solid #dfdfdf;
}
.rgba .teamschedule-timeline-time {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.rtl .teamschedule-timeline-time {
	border-left: none;
	border-right: 1px solid #dfdfdf;
}
.rgba .rtl .teamschedule-timeline-time {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.teamschedule-timeline-label 
{
	padding: 1px;
	padding-left: 4px;
	padding-right: 5px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: white;
	left: -12px;
	position: relative;
	font-size: xx-small;
    color: #556b2f;
	height: 12px !important;
	width: 26px;
	text-align: center;
	white-space: nowrap;
}
.rgba .teamschedule-timeline-label 
{
	border: 1px solid #dfdfdf;
}
.rtl .teamschedule-timeline-label {
	left: auto;
	right: -10px;
}
.teamschedule-timeline-time.minute .teamschedule-timeline-label
{
	display: none;
}

.teamschedule-agents {
	width: 100%;
	position: relative;
}
.teamschedule-agent-with-badge 
{
	vertical-align: bottom;
	padding-top: 5px;
	padding-bottom: 8px;
	height: 46px;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	vertical-align: bottom;
	z-index: 99;
}
.teamschedule-agent-without-badge 
{
	vertical-align: bottom;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 36px;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	vertical-align: bottom;
	z-index: 99;
}
.rgba .teamschedule-agent 
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.teamschedule-agent-name-with-badge 
{
	top: 25px;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 119px;
	height: 20px;
	margin-right: 5px;
	padding-left: 5px;
	background-color: #f8f8f8;
}
.teamschedule-agent-name-without-badge 
{
	top: 5px;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 119px;
	height: 20px;
	margin-right: 5px;
	padding-left: 5px;
	background-color: #f8f8f8;
}
.teamschedule-agent-name-hover
{
	padding-right: 10px;
	box-shadow: 7px 0px 10px -1px rgba(0, 0, 0, 0.35);
	border-right: 1px solid rgba(0, 0, 0, 0.20);
	width: auto;
	z-index: 10;
}

.teamschedule-agent-schedule 
{
	position: absolute;
	left: 125px;
}
.rtl .teamschedule-agent-schedule
{
	left: auto;
	right: 125px;
}

.teamschedule .layer 
{
	vertical-align: bottom;
	height: 22px;
	border-radius: 2px;
}

.teamschedule .gradient {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .6) 100%);
} 

.teamschedule .dayoff 
{
	margin-left: 5px;
	width: 792px;
	vertical-align: bottom;
	border: 1px solid #dfdfdf;
	text-align: center;
	height: 21px;
	border-radius: 2px;
}
.rgba .teamschedule .dayoff 
{
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.rtl .teamschedule .dayoff
{
	margin-left: auto;
	margin-right: 5px;
}

.teamschedule-agent-schedule .tooltip-container {
	top: -55px;
	height: 57px;
}

.teamschedule-agent-schedule .tooltip-bottom {
	height: 30px;	
}

#s2id_Team-Picker {
	min-width: 255px;
	max-width: 350px;
}

#s2id_Team-Picker_Padding {
    padding-top: 8px;
}
.team-select2-container {
	text-align: left;
	float: left;
}
.team-select2-container-hidden {
	display: none;
}
.team-select2-dropdown {
	text-align: left;
}

.nav .ie8style {
	padding-top: 4px;
}

.teamschedule-agent .agent-badge {
	height: 10px;
	padding-left: 5px
}