
.ui-tooltip-custom 
{
	border-color: rgb(200, 200, 200);
	background-color: rgb(255,255,255);
}

.ui-tooltip-custom .ui-tooltip-content
{
	padding: 5px;
	font-size: 12px;
	line-height: 18px;
}
