.teleopti-mytime-top-menu {
	border: none;
	margin: 0;
	background: #0099ff;
}
.navbar-toggle-button {
	float: left;
	margin: 10px;
}
.navbar-default .navbar-toggle.navbar-toggle-button:hover,
.navbar-default .navbar-toggle.navbar-toggle-button:focus {
	background: #0079ef;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas {
	display: none !important;
	width: 33.3%;
	min-width: 250px;
	height: auto;
	border: none;
	position: fixed;
	top: 50px;
	right: initial;
	bottom: 0;
	left: 0;
	z-index: 1030;
	overflow-y: auto;
	background: #0099ff;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in {
	display: block !important;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in ul.navbar-nav,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in li {
	width: 100%;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in li {
	display: block;
	float: none;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list {
	width: 100%;
	background: #0099ff;
	box-shadow: none;
	border: none;
}
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list a {
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.teleopti-mytime-top-menu .navbar-nav > li > a:hover,
.teleopti-mytime-top-menu .navbar-nav > li > a:focus,
.teleopti-mytime-top-menu .navbar-nav > .active > a,
.teleopti-mytime-top-menu .navbar-nav > .active > a:hover,
.teleopti-mytime-top-menu .navbar-nav > .active > a:focus,
.teleopti-mytime-top-menu .navbar-nav > .open > a,
.teleopti-mytime-top-menu .navbar-nav > .open > a:hover,
.teleopti-mytime-top-menu .navbar-nav > .open > a:focus,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list .active > a,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list .active > a:hover,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list .active > a:focus,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list a:hover,
.teleopti-mytime-top-menu.custom-collapsed .navbar-offcanvas.in #report-list a:focus {
	background: #0079ef;
}
.navbar-nav.navbar-user-setting {
	margin-right: 10px;
	margin-left: 10px;
}

/*User settings drop down menu*/
.dropdown dd {
	position: relative;
}
.dropdown dt span {
	cursor: pointer;
}
.dropdown dd ul {
	background: #f8f8f8 none repeat scroll 0 0;
	display: none;
	position: absolute;
	top: 2px;
	width: 232px;
	list-style: none;
}
.dropdown dd ul li a {
	display: block;
	text-align: left;
}

/*End User settings drop down menu*/
.user-name-link {
	white-space: nowrap;
	margin: 0;
	max-width: 200px;
}
.user-name {
	max-width: 100px;
	text-overflow: ellipsis;
	vertical-align: bottom;
	overflow: hidden;
	float: none;
	display: inline-block;
}
.placeholder {
	color: #aaa !important;
}

/*teleopti-toolbar: customize Bootstrap navbar using Teleopti blue*/
.teleopti-toolbar {
	margin-bottom: 0;
	margin-bottom: 0;
	background-color: #5acdf9;
	border: none;
}
.teleopti-toolbar .btn-default {
	background-color: #5acdf9;
	border-color: #5acdf9;
}
.teleopti-toolbar a,
.teleopti-toolbar .dropdown-menu > li > a {
	color: #fff;
}
.teleopti-toolbar .navbar-nav > li > a:hover,
.teleopti-toolbar .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #3aade9;
}
.teleopti-toolbar .navbar-nav > .active > a,
.teleopti-toolbar .navbar-nav > .active > a:hover,
.teleopti-toolbar .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #3aade9;
}
.teleopti-toolbar .btn-default:hover,
.teleopti-toolbar .btn-default:focus,
.teleopti-toolbar .btn-default:active,
.teleopti-toolbar .btn-default.visited,
.teleopti-toolbar .open > .dropdown-toggle.btn-default {
	background-color: #3aade9;
	border-color: #3aade9;
}
.teleopti-toolbar > li > .input-group {
	position: relative;
	padding: 4px 0px;
}

/*Override dropdown-menu style on mobile*/
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-left: 12px;
		padding-right: 12px;
	}

	.submenu li {
		width: auto;
		padding: 1px;
	}

	.custom-collapsed .navbar-header {
		float: none;
	}

	.custom-collapsed .navbar-toggle-button {
		display: block;
		margin: 8px 10px;
	}
}

@media (max-width: 768px) {
	.navbar-nav .open .dropdown-menu.show-outside-toolbar {
		position: absolute;
		top: 50px;
		right: 0;
		left: auto;
		background: white;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}

	.navbar-nav .open .dropdown-menu.show-outside-toolbar li a {
		color: black;
	}

	/*Hide user name on small screens*/
	.navbar-brand {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-nav.navbar-user-setting {
		margin: 4px 0;
		padding-right: 10px;
	}
	.navbar-nav.navbar-user-setting a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.teleopti-mytime-top-menu span.user-name {
		display: none;
	}
	.custom-collapsed .navbar-toggle-button {
		display: block;
		margin: 8px 10px;
	}
	.submenu .select2-container {
		margin-left: 14px;
	}
}

@media (max-width: 350px) {
	.teleopti-mytime-top-menu .navbar-toggle-button {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-brand {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav.navbar-user-setting {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 300px) {
	#BadgePanel {
		display: none;
	}
}

#badge-period-navigator {
	white-space: nowrap;
	font-size: 12px;
	text-align: center;
	padding: 0 4px;
}
#badge-period-navigator .period-arrow {
	background-color: transparent;
	border: none;
	padding: 0.8em;
}
#badge-period-navigator button[disabled],
#badge-period-navigator .working {
	color: darkgrey;
}
#badge-period-navigator .period-text {
	min-width: 130px;
	display: inline-block;
}
.badge-detail {
	text-align: center;
}
.badge-type {
	font-size: 12px;
	font-weight: bold;
}
