
.ui-tooltip-custom 
{
	border-color: rgb(200, 200, 200);
	background-color: rgb(255,255,255);
}

.ui-tooltip-custom .ui-tooltip-content
{
	text-align: left;
	padding: 5px;
	font-size: 12px;
	line-height: 18px;
	overflow: visible;
}

.rtl .ui-tooltip-custom .ui-tooltip-content {
	text-align: right;
}

.ui-tooltip-custom .ui-tooltip-titlebar
{
	
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	border-bottom: 1px solid #dfdfdf;
	background-color: #f8f8f8;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.ui-tooltip-custom .ui-tooltip-title 
{
	text-align: left;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 12px;
}
.rtl .ui-tooltip-custom .ui-tooltip-title {
	text-align: right;
}
.ui-tooltip-custom .ui-tooltip-icon 
{
	margin-top: -7px;
}

.qtip-titlebar {
	font-size: 12px;
}