.webchat-wrapper {
	position: fixed;
	left: 0;
	margin: 10px;
	bottom: 0;
	background-color: #f6f6f6;
	opacity: 1;
	width: 430px;
	height: 400px;
	z-index: 10000;
}

.webchat-header {
	background-color: #0078d7;
	box-shadow: 0 1px rgba(0, 0, 0, 0.2);
	box-sizing: content-box;
	color: #ffffff;
	font-weight: 500;
	height: 30px;
	left: 0;
	letter-spacing: 0.5px;
	padding: 8px 8px 0 8px;
	position: absolute;
	right: 0;
	top: -38px;
	z-index: 1;
}

.webchat-container,
.webchat-container > * {
	height: 100%;
	width: 100%;
}

/* To fix margin of chatbot message*/
	.webchat-container .row {
		margin-left: 0;
		margin-right: 0;
	}
