.overtime-availability-symbol {
	cursor: pointer;
}
.overtime-availability-bar {
	cursor: pointer;
	opacity: 0.6;
}
.body-weekview-inner {
	border: 1px solid #dfdfdf;
	white-space: nowrap;
	font-size: 0;
	display: none;
	position: relative;
    width: 100%
}

.weekview-day
{
	margin: 0;
	padding: 0; 
	display: inline-block;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	width: 129px;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid  #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}
.weekview-day-header {
	text-transform: uppercase;
	border-bottom: 1px solid #dfdfdf;
	font-size: 11px;
	height: 19px;
}
.weekview-day-date {
	min-height: 19px;
}
.weekview-day-month {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 2px;
}
.weekview-day-dayofmonth {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-right: 2px;
}
.weekview-day-summary {
	height: 60px;
	overflow: hidden;
}
.dayoff
{
	background-color: beige;
	background-image: url(../Images/stripe.png);
}
.weekview-day-summary.striped
{
	background-image: url(../Images/stripe.png);
}
.weekview-day-show-request {
	cursor: pointer;
}
.weekview-day-symbol {
	height: 18px;
	border-bottom: 1px solid #dfdfdf;
}
.weekview-day-symbol div[class="tooltip-inner"] {
    max-width: none;
}
.weekview-day-schedule {
	width: 129px;
	height: 668px;
}
.weekview-day-schedule .tooltip {
	position: absolute;
}
.weekview-timeline {
	width: 31px;
	height: 792px;
	background: transparent;
	border-right: 1px solid #dfdfdf;
    position: relative;
}
.weekview-timeline-label {
	font-size: 7pt;
	width: 29px;
	height: 14px;
	text-align: center;
	overflow: hidden;
	white-space: pre-wrap;
}
.weekview-day-time-indicator
{
	width: 129px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}
.weekview-day-time-indicator-small
{
	width: 31px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}

.weekview-day-schedule-layer {
	border-radius: 2px;
	border-left: 0;
	overflow: hidden;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.week-schedule-ASM-permission-granted, .week-schedule-current-week
{
	display: none;
}
