.weekview-day li:first-child, .weekdays li{
	/*color: #fff; */
	line-height: 18px; 
	text-transform: uppercase; 
	/*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);*/
}
.weekview-day li:first-child, .weekview-day li.second, .weekdays li, .calendarview-week li .day-header{
	 background-color: transparent;
	 font-size: 11px;
	 min-height: 19px;
	 padding: 0; 
}
.weekview-day li.second, .calendarview-week li .day-header {
	border-top: 1px solid  #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}

.holiday-agents {

}
.overtime-availability-symbol {
	cursor: pointer;
}

.body-weekview-inner ul.today, .body-weekview-inner ul.ui-selected, .calendarview-week li.today, .calendarview-week li.ui-selected{
	 background-image: url(../Images/view_ul_states_sprite.png);
	 background-color: #f8f8f8;
	 background-repeat: repeat-x;
}

.body-weekview-inner {
	border: 1px solid #dfdfdf;
	background: #f8f8f8;
	white-space: nowrap;
	font-size: 0;
	display: none;
	position: relative;
}
.rgba .body-weekview-inner {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.body-weekview-inner ul.today{background-position: 0 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);}
.body-weekview-inner ul.ui-selected{background-position: 0 -2000px;}

.weekview-day
{
	display: inline-block;
	font-size: 12px;
	list-style: none;
	line-height: 18px;
	margin: 0; 
	padding: 0; 
	text-align: center;
	vertical-align: top;
	width: 131px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.rtl .weekview-day
	{
		float: right;
	}
}
.ie7 .weekview-day /* IE7 inline-block fix */
{
	display: block; 
	float: left;
}

.weekview-day
{
	margin: 0;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #dfdfdf;
}
.rgba .weekview-day
{
	border-left: 1px solid rgba(255, 255, 255, 0.7);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* rgba on many elements makes scrolling very slow in chrome so lets use static */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.rgba .weekview-day
	{
		margin: 0;
		border-left: 1px solid #f9f9f9;
		border-right: 1px solid #dfdfdf;
	}
}
.weekview-day li
{
	border-bottom: 1px solid #dfdfdf;
}
.rgba .weekview-day li
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* rgba on many elements makes scrolling very slow in chrome so lets use static */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.rgba .weekview-day li
	{
		border-bottom: 1px solid #dfdfdf;
	}
}

.weekview-day .icon.comment-day 
{
	background: transparent url(../Images/icon_sprite.png) -158px -4px no-repeat;
	left: 5px;
	height: 16px;
}

.weekview-day li:first-child, .weekview-day li.second 
{
	border-top: 1px solid  #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}

.weekview-day li:first-child div, .weekview-day li.second div{padding: 0; border-left-width: 0; border-right-width: 0;}

.weekview-day.second{background: transparent url(../Images/date_field_bg.gif) top left repeat-x;}
.weekview-day li.third 
{
	height: 60px;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
}
.rgba .weekview-day li.third 
{
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.weekview-day li.dayoff 
{
	height: 60px;
	background-color: beige;
	background-image: url(../Images/stripe.png);
	border-left-width: 8px;
}
.weekview-day li.empty{border-top-color: transparent; border-bottom-color: transparent;}

.weekview-day li div.meeting {
	bottom: 1px;
	height: 18px;
	right: 0px;
	margin-left: 5px;
}
.ie7 .weekview-day li div.meeting{margin-left: 0px;}

.selectable-tab {
	cursor: pointer;
	font-weight: normal;
}
.selected-tab {
	font-weight: bold;
	font-size: 115%;
}

.request-detail-title {
	font-weight: bold;
	font-size: 115%;
}

select.absence-input 
{
	width: 8em;
}
.week-schedule-layer {
	width: 131px;
	border-radius: 2px;
	border-left: 0;
	overflow: hidden;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.weekview-day-schedule {
	width: 131px;
	height: 668px;
}
.weekview-day-schedule .tooltip {
	position: absolute;
}
.weekview-timeline {
	width: 31px;
	height: 792px;
	background: transparent;
	border-right: 1px solid #dfdfdf;
}
.weekview-timeline-label {
	font-size: 6pt;
	width: 29px;
	height: 20px;
	text-align: center;
	overflow: hidden;
	white-space: pre-wrap;
}
.fourth {
	height: 15px;
}
.fourth .add-request-space {
	height: 100%; 
	width: 100%;
}

.absence-input-label {
	min-width: 70px;
	padding-right: 10px;
}
.rtl .absence-input-label {
	min-width: 70px;
	padding-right: 0px;
	padding-left: 10px;
}
#Schedule-addRequest-subject-input {
	width: 249px;
}
#Schedule-addRequest-message-input {
	width: 245px;
}

.week-schedule-time-indicator
{
	width: 131px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}

.week-schedule-time-indicator-small
{
	width: 31px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}

.week-schedule-ASM-permission-granted, .week-schedule-current-week
{
	display: none;
}

.show-request
{
    cursor: pointer;
}

#Schedule-addRequest-section .edit-module-element 
{
	position: relative;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;	
}