.overtime-availability-symbol {
	cursor: pointer;
}
.overtime-availability-bar {
	cursor: pointer;
	opacity: 0.6;
}
.body-weekview-inner {
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
	white-space: nowrap;
	font-size: 0;
	display: none;
	position: relative;
    width: 100%
}

.weekview-day
{
	margin: 0;
	padding: 0; 
	display: inline-block;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	width: 129px;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid  #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}
.weekview-day-header {
	text-transform: uppercase;
	border-bottom: 1px solid #dfdfdf;
	font-size: 11px;
	height: 19px;
}
.weekview-day-date {
	min-height: 19px;
}
.weekview-day-month {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 2px;
}
.weekview-day-dayofmonth {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-right: 2px;
}
.weekview-day-summary {
	height: 66px;
	overflow: hidden;
}
.overtime {
	padding-top: 30px;
}
.dayoff
{
	background-color: beige;
	background-image: url(../Images/stripe.png);
}
.weekview-day-summary.striped
{
	background-image: url(../Images/stripe.png);
}
.weekview-day-show-request {
	cursor: pointer;
}
.weekview-day-symbol {
	height: 18px;
	border-bottom: 1px solid #dfdfdf;
}
.weekview-day-symbol div[class="tooltip-inner"] {
    max-width: none;
}
.weekview-day-schedule {
	width: 129px;
	height: 668px;
}
.weekview-day-schedule .tooltip {
	position: absolute;
}
.weekview-timeline {
	width: 31px;
	height: 792px;
	background: transparent;
	border-right: 1px solid #dfdfdf;
    position: relative;
}
.weekview-timeline-label {
	font-size: 7pt;
	width: 30px;
	height: 14px;
	text-align: center;
	white-space: pre-wrap;
}
.weekview-day-time-indicator
{
	width: 129px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}
.weekview-day-time-indicator-small
{
	width: 31px;
	float: left;
	z-index: 2;
	border-bottom: 2px dashed black;
	display: none;
}

.weekview-day-schedule-layer {
	border-radius: 2px;
	border-left: 0;
	overflow: hidden;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.week-schedule-ASM-permission-granted, .week-schedule-current-week
{
	display: none;
}
#wish-list span {
	margin-right: 10px;
}
#wish-list + .dropdown-backdrop + .dropdown-menu {
	margin: 0 15px 0;
}

.tooltip-wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   min-width: 184px;
}
.cover-me:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
}
.cover-me img {
	position: absolute;
	top: 40%;
	left: 45%;
}
.night-rest-violation {
	position:absolute;
	height:3px;
	width:100%;
	top:0;
	left:0;
	background-color:red;
}