.overtime-availability-symbol {
	cursor: pointer;
}

.overtime-availability-bar {
	cursor: pointer;
	opacity: 0.6;
}

.body-weekview-inner {
	border: 1px solid #dfdfdf;
	white-space: nowrap;
	font-size: 0;
	display: none;
	position: relative;
	width: 955px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.weekview-day {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	width: 129px;
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.weekview-timeline + .weekview-day {
	border-left: 1px solid #dfdfdf;
}

.weekview-day-header {
	text-transform: uppercase;
	border-bottom: 1px solid #dfdfdf;
	font-size: 11px;
	height: 19px;
}

.weekview-day-date {
	min-height: 19px;
}

.weekview-day-month {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 2px;
}

.weekview-day-dayofmonth {
	margin-top: 2px;
	margin-bottom: -2px;
	margin-right: 2px;
}

.weekview-day-summary {
	height: 66px;
	overflow: hidden;
	cursor: pointer;
}

.weekview-probability-toggle {
	margin-left: 20px;
}

.weekview-probability-toggle li > a {
	color: #333333 !important;
}

.overtime {
	padding-top: 30px;
}

.overtime-background-image-light {
	background-size: 11px 11px;
	background-image: linear-gradient(
		45deg,
		transparent,
		transparent 7px,
		rgba(255, 255, 255, 0.5) 6px,
		transparent 10px,
		transparent
	);
}

.overtime-background-image-dark {
	background-size: 11px 11px;
	background-image: linear-gradient(
		45deg,
		transparent,
		transparent 7px,
		rgba(0, 0, 0, 0.5) 6px,
		transparent 10px,
		transparent
	);
}

.weekview-day-symbol {
	height: 25px;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	line-height: 1;
}

.weekview-day-symbol > div {
	margin: 2px;
	line-height: 1;
}
.weekview-day-symbol > div > * {
	display: inline-block;
}

.weekview-day-symbol i {
	font-size: 16px;
}

.weekview-day-symbol .seatbooking-symbol {
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}

.holiday-agents .small-circle {
	width: 16px;
	height: 16px;
}

.weekview-day-symbol .traffic-light-progress {
	margin: 0;
}
.weekview-day-symbol div[class='tooltip-inner'] {
	max-width: none;
}

.weekview-day-schedule {
	display: inline-block;
	height: 668px;
}

.weekview-day-schedule .tooltip {
	position: absolute;
}

.probability-vertical-bar {
	position: relative;
	right: 3px;
	display: inline-block;
	width: 11px;
	height: 668px;
}

.probability-vertical-bar .probability-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 11;
	background: #eee;
	opacity: 0.5;
}

.probability-vertical-bar .probability-cell {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.probability-vertical-bar .tooltip {
	text-align: center;
}

.probability-vertical-bar .tooltip-wordwrap {
	font-weight: 600;
	overflow: hidden;
}

.probability-none {
	background-color: #f9f9f9;
}

.probability-high {
	background-color: green;
}

.probability-low {
	background-color: yellow;
}

.probability-expired {
	opacity: 0.2;
}

.weekview-timeline {
	width: 31px;
	background: transparent;
	position: relative;
	margin-top: 129px;
}

.weekview-timeline-label {
	font-size: 7pt;
	width: 30px;
	text-align: center;
	white-space: pre-wrap;
	transform: translateY(calc(-7pt / 2));
}

.weekview-day-time-indicator {
	float: left;
	z-index: 2;
	border-top: 1px dashed white;
	border-bottom: 1px dashed black;
	display: none;
}

.weekview-day-time-indicator-small {
	width: 31px;
	float: left;
	z-index: 2;
	border-top: 1px dashed white;
	border-bottom: 1px dashed black;
	display: none;
}

.weekview-day-schedule-layer {
	border-radius: 2px;
	border-left: 0;
	overflow: hidden;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	width: 98%;
}

.weekview-day-schedule-layer-activity {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.weekview-day-schedule-layer .meeting {
	min-height: 14px;
	padding: 2px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1;
}

.weekview-day-schedule-layer .meeting .weekview-day-schedule-layer-activity {
	max-width: calc(100% - 15px);
}

.week-schedule-ASM-permission-granted,
.week-schedule-current-week {
	display: none;
}

#wish-list span {
	margin-right: 10px;
}

#wish-list + .dropdown-backdrop + .dropdown-menu {
	margin: 0 15px 0;
}

.tooltip-wordwrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
	min-width: 184px;
}

.cover-me:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
}

.cover-me img {
	position: absolute;
	top: 40%;
	left: 45%;
}

.night-rest-violation {
	position: absolute;
	height: 3px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: red;
}

.staffing-info-dropdown-form {
	z-index: 150;
}
