<div class="outbound wfm-block material-block" >
	<div class="material-block-header">
		<div layout="row">
			<div class="text-left navigate-to active" ng-click="backToList()" flex>
				<div class="pull-left">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)" />
					</svg>
				</div>
				<span translate>Go back</span>
			</div>
			<div class="text-center" flex>
				<span translate>Create Campaign</span>
			</div>
			<div flex></div>			
		</div>	
	</div>
	<div class="material-block-content campaign-details">
		<div class=" wfm-accordion">
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle0 = !acToggle0">
					<span translate>Campaign General</span>
					<strong>{{newCampaign.Name}}</strong>
				</div>
				<div ng-show="acToggle0">
					<form name="campaignGeneralForm" class="form-horizontal wfm-block input-group" form-locator>
						<div layout="row">
							<div class="w-150"><span translate>Name</span></div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="name" type="text" ng-model="newCampaign.Name" placeholder="new campaign name"  ng-minlength="1" ng-maxlength="50" required />
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>Activity</span></div>
							<div flex class="icon-set-fix m-r-10p">
								<activity-picker ng-model="newCampaign.activity" sync-name="{{newCampaign.Name}}"></activity-picker>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle1 = !acToggle1">
					<span translate>Workload</span>								
				</div>
				<div ng-show="acToggle1">
					<form name="campaignWorkloadForm" class="form-horizontal wfm-block input-group" form-locator>
						<div layout="row">
							<div class="w-150"><span translate>CallListLength</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="callList" type="text" ng-model="newCampaign.CallListLen" placeholder="call list length" range-validate range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150">
								<span translate>TargetRate</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="callList" type="text" ng-model="newCampaign.TargetRate" placeholder="target rate" range-validate range-min="0" required />
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>ConnectRate</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="cr" type="text" ng-model="newCampaign.ConnectRate" placeholder="connect rate" range-validate range-max="100" range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>RPCR</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="target" type="text" ng-model="newCampaign.RightPartyConnectRate" placeholder="right party connect rate" range-validate range-max="100" range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>ConnectAHT</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="cAHT" type="text" ng-model="newCampaign.ConnectAverageHandlingTime" placeholder="connect average handle time" range-validate range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>RPCAHT</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="rpcAHT" type="text" ng-model="newCampaign.RightPartyAverageHandlingTime" placeholder="right party average handle time" range-validate range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<div layout="row">
							<div class="w-150"><span translate>UnproductiveTime</span>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<input class="w-100p" id="unproductive" type="text" ng-model="newCampaign.UnproductiveTime" placeholder="unproductive time" range-validate range-min="0" required/>
								<div class="icon-set  input-validation-sign" expandable>
									<i class="mdi mdi-check success right-sign"></i>
									<i class="mdi mdi-close danger wrong-sign"></i>
								</div>
							</div>
						</div>
						<br/>
						<div layout="row">
							<div class="w-150">
								<strong translate>Needed Hours</strong>
							</div>
							<div flex class="icon-set-fix m-r-10p">
								<strong>{{estimatedWorkload | showTimespan }}</strong>
							</div>

						</div>

					</form>
				</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle2 = !acToggle2">
					<span translate>Duration</span>
					<span ng-show="!acToggle2"> <span translate>DateFrom </span><strong>{{newCampaign.StartDate.Date | date: format }}</strong> <span translate>DateTo</span> <strong>{{newCampaign.EndDate.Date | date: format }}</strong></span>
				</div>
				<div ng-show="acToggle2">
					<div class="wfm-block clearfix">
						<div class="pull-left">
							<div class="wfm-datepicker-wrap campaign-startdate no-boxshadow">
								<div class="sub-header relative">
									<span translate>StartTimeColon</span> <strong ng-class="isDateValid(true)?'ng-valid':'ng-invalid'">{{newCampaign.StartDate.Date | date: format }}</strong>
									<div class="icon-set  input-validation-sign datepickerfix" expandable>
										<i class="mdi mdi-check success right-sign "></i>
										<i class="mdi mdi-close danger wrong-sign"></i>
									</div>
								</div>
								<datepicker ng-model="newCampaign.StartDate.Date" show-weeks="true" class="well well-sm" custom-class="setRangeClass(date, mode)"></datepicker>
							</div>
						</div>
						<div class="pull-left">
							<div class="wfm-datepicker-wrap campaign-enddate no-boxshadow">
								<div class="sub-header relative">
									<span translate>EndTimeColon</span> <strong ng-class="isDateValid(false)?'ng-valid':'ng-invalid'" class="end-date">{{newCampaign.EndDate.Date | date: format }}</strong>
									<div class="icon-set  input-validation-sign datepickerfix" expandable>
										<i class="mdi mdi-check success right-sign "></i>
										<i class="mdi mdi-close danger wrong-sign"></i>
									</div>
								</div>
								<datepicker ng-model="newCampaign.EndDate.Date" show-weeks="true" class="well well-sm" custom-class="setRangeClass(date, mode)"></datepicker>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wfm-block" ng-if="true">
				<div class="sub-header accordion-head" ng-click="acToggle3 = !acToggle3">
					<span translate>WorkingHours</span>
				</div>
				<div ng-show="acToggle3">
					<div class="in-place-container">
						<div class="in-place-element">
							<input type="text" ng-class="validWorkingHours()?'custom-valid':'custom-invalid'" ng-show="false" />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check success right-sign"></i>
								<i class="mdi mdi-close danger wrong-sign"></i>
							</div>
						</div>
					</div>
					<working-hours-picker working-hours="newCampaign.WorkingHours"></working-hours-picker>
				</div>
			</div>
			<div layout="row" layout-align="center">
				<button class="wfm-btn wfm-btn-primary material-depth-1" ng-click="addCampaign()" ng-class="{'wfm-btn-primary-disabled': !isInputValid()}">Create</button>						
			</div>
		</div>
	</div>
</div>
