<div class="outbound wfm-block material-block">
	<div class="material-block-header relative">
		<h3 class="border-bottom">Outbound Campaigns</h3>
		<button ng-click="gotoCreateCampaign()" class="wfm-fab success create-campaignfix material-depth-1"><i class="mdi mdi-plus"></i></button>
	</div>
	<div class="material-block-content">
		<div class="opration-area">
			<ul class="campaign-phase clearfix">
				<li><span class="m-r-5">10</span>Planned<span class="campaign-warning-icon m-l-10 pull-right">5</span></li>
				<li><span class="m-r-5">100</span>Scheduled<span class="campaign-warning-icon m-l-10 pull-right">50</span></li>
				<li class="phase-active"><span class="m-r-5">1000</span>Ongoing<span class="campaign-warning-icon m-l-10 pull-right">900</span></li>
				<li><span class="m-r-5">1000</span>Done</li>
			</ul>
		</div>
		<h4 class="border-bottom">Campaigns requiring action</h4>
		<teleopti-card-list>
			<teleopti-card ng-repeat="campaign in campaigns" ng-click="generateChart()">
				<card-header>
					<div class="text-center relative">
						<span class="pull-left">{{campaign.Name}}</span>
						<span>{{campaign.StartDate.Date}}</span>
						<span>-</span>
						<span>{{campaign.EndDate.Date}}</span>
						<span class="campaign-warning-icon campaign-warning-iconfix">!</span>
						<span class="campaign-phase-label">Ongoing</span>

					</div>


				</card-header>
				<card-body>
					<div class="relative">
						<p class="campaign-message"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span>This campaign is overplanned</p><br/>
						<p class="campaign-message"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span>This campaign is going down</p>
						<div class="chart text-center">
							<campaign></campaign>
							<div id="chart"></div>
						</div>
						<button class="wfm-btn wfm-btn-invis-primary pull-right">edit</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right">schedule</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right">add backlog</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right">production plan</button>
					</div>
				</card-body>
			</teleopti-card>
		</teleopti-card-list>

		<h4 class="border-bottom">Campaigns in good shape</h4>

	</div>
</div>
