<div class="wfm-block material-block material-depth-1" ng-if="showDetail">
	<div class="material-block-header">
		<div class="row">
			<div class="navigate-to inactive pull-left">
				<div class="pull-left">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)" />
					</svg>
				</div>
				<span>Goto configuration</span>
			</div>
			<div class="col-xs-offset-3 col-xs-2">Configuration</div>
			
			<div class="navigate-to active pull-right" ng-click="navigateToSchedule()">
				<div class="pull-right">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z"/>
					</svg>
				</div>
				<span>Goto schedule</span>
			</div>			
		</div>				
	</div>	
	<div class="material-block-content">
		<div class=" wfm-accordion">
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle1 = !acToggle1">
					Campaign
					<strong>{{campaign.name}}</strong>
				</div>
				<div ng-show="acToggle1">
				<form name="formParams" class="form-horizontal wfm-block">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="name" id="name"
								   ng-model="campaign.name"
								   disabled />
						</div>
					</div>
					<div class="form-group">
						<label for="skill" class="col-sm-2 control-label">Skill</label>
						<div class="col-sm-4">
							<select name="skill" id="skill" class="form-control"
									ng-model="params.skill"
									ng-options="skill as skill.label for skill in skills"
									ng-required></select>
						</div>
					</div>
					<div class="form-group">
						<label for="callList" class="col-sm-2 control-label">Call List Length</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="callList" id="callList" placeholder="100"
								   ng-model="params.callList"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="sla" class="col-sm-2 control-label">SLA</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="sla" id="sla"
								   ng-model="params.sla"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="target" class="col-sm-2 control-label">Target</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="target" id="target"
								   ng-model="params.target"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="cr" class="col-sm-2 control-label">CR</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="cr" id="cr"
								   ng-model="params.cr"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="rpcr" class="col-sm-2 control-label">RPCR</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="rpcr" id="rpcr"
								   ng-model="params.rpcr"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="cAHT" class="col-sm-2 control-label">Connect AHT</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="cAHT" id="cAHT"
								   ng-model="params.cAHT"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="rpcAHT" class="col-sm-2 control-label">RPC AHT</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="rpcAHT" id="rpcAHT"
								   ng-model="params.rpcAHT"
								   ng-required />
						</div>
					</div>
					<div class="form-group">
						<label for="unproductive" class="col-sm-2 control-label">Unproductive</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" name="unproductive" id="unproductive"
								   ng-model="params.unproductive"
								   ng-required />
						</div>
					</div>
				</form>
			</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle2 = !acToggle2">
					Duration
					<span ng-show="!acToggle2"> from {{period.startDate | date: format }} to {{period.endDate | date: format }}</span>
				</div>
				<div ng-show="acToggle2">
					<div class="row wfm-block">
						<div class="col-lg-6">
							<div class="input-prepend">
								<label>Start time: <span class="start-date">{{period.startDate | date: format }}</span></label>
								<datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="input-prepend">
								<label>End time: <span class="end-date">{{period.endDate | date: format }}</span></label>
								<datepicker ng-model="period.endDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle3 = !acToggle3">
					Working Hours
				</div>
				<div ng-show="acToggle3">
					<div class="row toolbar">
						<div class="col-lg-10">
							<table class="wfm-table wfm-table-center" align="center">
								<thead>
									<tr>
										<th></th>
										<th ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div ng-click="toggleWorkinghoursInWeekday(weekday)">
												{{weekday | showWeekdays}}
											</div>											
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="hoursPick in [0,1, 2, 3, 4, 5,6,7,8,9,10]">
										<td>{{hoursPick | showWorkinghours }}</td>
										<td ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div class="wfm-checkbox wfm-checkbox-inline">
												<input type="checkbox" id="check_weekday_{{weekday}}_workinghour_{{hoursPick}}" ng-model="$parent.$parent.workinghours[weekday][hoursPick]" />
												<label for="check_weekday_{{weekday}}_workinghour_{{hoursPick}}">
													<span class="wfm-checkbox-toggle"></span>
													<span class="wfm-checkbox-label"></span>
												</label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
