<div class="outbound wfm-block material-block">
    <div class="loading-whole-page" ng-show="!isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>

    <div class="material-block-header relative">
        <h3 class="border-bottom" translate>OutboundCampaigns</h3>
        <button ng-click="gotoCreateCampaign()" class="wfm-fab success create-campaignfix material-depth-1"><i class="mdi mdi-plus"></i></button>
    </div>
    <div class="material-block-content">
        <div class="opration-area">
            <phase-picker active-phase-code="activePhaseCode" phase-statistics="phaseStatistics" disable-action="!listCampaignFinished"></phase-picker>
        </div>

        <h4 class="border-bottom"><span translate>CampaignsWithWarning</span><span ng-bind="WarningCampaigns.length" style="margin-left:5px;"></span></h4>
        <div class="loading-whole-section" ng-show="!listCampaignFinished && isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <teleopti-card-list multi-select>
            <teleopti-card ng-repeat="campaign in WarningCampaigns">
				<card-header ng-click="getGraphData(campaign)">
					<div class="text-center relative">
						<span class="campaign-namefix" ng-bind="campaign.Name"></span>
						<span ng-bind="campaign.StartDate.Date | amDateFormat: 'LL'"></span>
						<span>-</span>
						<span ng-bind="campaign.EndDate.Date | amDateFormat: 'LL'"></span>
						<span class="campaign-warning-icon campaign-warning-iconfix" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-if="campaign.WarningInfo.length > 0" ng-hide="hideWhenDone(campaign.Status)">!</span>
						<span class="campaign-warning-icon campaign-green-iconfix" ng-if="campaign.WarningInfo.length == 0" ng-hide="hideWhenDone(campaign.Status)"><i class="mdi mdi-check"></i></span>
						<span class="campaign-phase-label" translate>{{campaign.Status | showPhase}}</span>
					</div>
				</card-header>
                <card-body>
	                <div class="relative" ng-show="listCampaignFinished && !displayLoading(campaign)">
		                <div class="clearfix m-b-10">
			                <p class="campaign-message m-r-5" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-repeat="info in campaign.WarningInfo"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span><span translate>{{info.TypeOfRule}}</span></p>
			                <p class="campaign-message campaign-message-healthyfix  m-r-5" ng-if="campaign.WarningInfo.length == 0"><span class="campaign-warning-icon campaign-green-icon-messagefix"><i class="mdi mdi-check"></i></span><span translate>Healthy</span></p>
		                </div>
		                <div class="chart text-center relative chartfix">
							<div class="loading-whole-section loading-card-bodyfix" ng-show="listCampaignFinished && displayLoading(campaign)">
								<md-progress-circular md-mode="indeterminate" style="z-index: 100;"></md-progress-circular>
							</div>
							<div ng-if="!displayLoading(campaign)">
								<campaign-chart campaign="campaign" graph-data="campaign.graphData" dictionary="campaign.translations" selecteddates="campaign.dates"></campaign-chart>
							</div>
						</div>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="show(campaign)" translate>Edit</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" translate>Schedule</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" translate>AddBacklog</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="goToProductionPlan(campaign)" translate>ProductionPlan</button>
	                </div>
                </card-body>
            </teleopti-card>
        </teleopti-card-list>

        <h4 class="border-bottom"><span translate>CampaignsWithoutWarning</span><span ng-bind="Campaigns.length" style="margin-left:5px;"></span></h4>
        <teleopti-card-list multi-select>
            <teleopti-card ng-repeat="campaign in Campaigns">
				<card-header ng-click="getGraphData(campaign)">
					<div class="text-center relative">
						<span class="campaign-namefix" ng-bind="campaign.Name"></span>
						<span ng-bind="campaign.StartDate.Date | amDateFormat: 'LL'"></span>
						<span>-</span>
						<span ng-bind="campaign.EndDate.Date | amDateFormat: 'LL'"></span>
						<span class="campaign-warning-icon campaign-warning-iconfix" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-if="campaign.WarningInfo.length > 0" ng-hide="hideWhenDone(campaign.Status)">!</span>
						<span class="campaign-warning-icon campaign-green-iconfix" ng-if="campaign.WarningInfo.length == 0" ng-hide="hideWhenDone(campaign.Status)"><i class="mdi mdi-check"></i></span>
						<span class="campaign-phase-label" translate>{{campaign.Status | showPhase}}</span>
					</div>
				</card-header>
                <card-body>
	                <div class="relative" ng-show="listCampaignFinished && !displayLoading(campaign)">
		                <div class="clearfix m-b-10">
			                <p class="campaign-message m-r-5" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-repeat="info in campaign.WarningInfo"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span><span translate>{{info.TypeOfRule}}</span></p>
			                <p class="campaign-message campaign-message-healthyfix  m-r-5" ng-if="campaign.WarningInfo.length == 0"><span class="campaign-warning-icon campaign-green-icon-messagefix"><i class="mdi mdi-check"></i></span><span translate>Healthy</span></p>
		                </div>
		                <div class="chart text-center relative chartfix">
			                <div class="loading-whole-section loading-card-bodyfix" ng-show="listCampaignFinished && displayLoading(campaign)">
				                <md-progress-circular md-mode="indeterminate" style="z-index: 100;"></md-progress-circular>
			                </div>
			                <div ng-if="!displayLoading(campaign)">
				                <campaign-chart campaign="campaign" graph-data="campaign.graphData" dictionary="campaign.translations"></campaign-chart>
			                </div>
			                <!--<div class="chip-container" ng-show="campaign.manualPlanswitch||campaign.backlogSwitch">
				                <div class="selected-plan-dates clearfix"><span ng-repeat="date in campaign.selectedDates" class="date-label">{{date | amDateFormat: 'MM-DD'}}<i class="mdi mdi-close date-label-close-fix" ng-click="delThisDate(campaign,date)"></i></span></div>
			                </div>-->
			                <div class="edit-container">
				                <div class="input-container" ng-show="campaign.manualPlanswitch">
					                <input type="text" placeholder="plan..." ng-model="campaign.manualPlan.input"/>
					                <button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3;" ng-click="addManualPlan(campaign)" translate>Save</button>
				                </div>
				                <div class="input-container multi-inputfix" ng-show="campaign.backlogSwitch">
					                <div class="backlog-input-unit">
						                <input type="text" placeholder="parameter1..."/>
						                <input type="text" placeholder="parameter2..."/>
					                </div>
					                <div class="backlog-input-unit">
						                <input type="text" placeholder="parameter3..."/>
						                <input type="text" placeholder="parameter4..."/>
					                </div>
					                <div class="backlog-input-unit">
						                <input type="text" placeholder="parameter5..."/>
						                <input type="text" placeholder="parameter6..."/>
					                </div>
					                <button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3;" ng-click="addBacklog(campaign)" translate>Save</button>
				                </div>
			                </div>
		                </div>
		                <button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="show(campaign)" translate>Edit</button>
		                <button class="wfm-btn wfm-btn-invis-primary pull-right" translate>Schedule</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="switchBacklog(campaign);" ng-class="{'selected-ope-btn': campaign.backlogSwitch}" translate>AddBacklog</button>
						<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="switchManualPlan(campaign);" ng-class="{'selected-ope-btn': campaign.manualPlanswitch}" translate>ProductionPlan</button>
	                </div>
                </card-body>
            </teleopti-card>
        </teleopti-card-list>
    </div>
</div>
