<div class="wfm-block material-block material-depth-1" ng-if="showDetail">
	<div class="material-block-header">
		<div class="row">
			<div class="navigate-to inactive pull-left">
				<div class="pull-left">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)" />
					</svg>
				</div>
				<span>Goto configuration</span>
			</div>
			<div class="col-xs-offset-3 col-xs-2">Configuration</div>
			
			<div class="navigate-to active pull-right" ng-click="navigateToSchedule()">
				<div class="pull-right">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z"/>
					</svg>
				</div>
				<span>Goto schedule</span>
			</div>			
		</div>				
	</div>	
	<div class="material-block-content">
		<div class=" wfm-accordion">
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle1 = !acToggle1">
					Campaign
					<strong>{{campaign.name}}</strong>
				</div>
				<div ng-show="acToggle1">
				<form name="formParams" class="form-horizontal wfm-block">
					<div class="input-prepend">
						<span><strong>Name</strong></span>
						<input id="name" type="text" ng-model="campaign.name" />
					</div>
					<div class="input-prepend">
						<span><strong>Skill</strong></span>
						<select name="skill" id="skill" 
								ng-model="params.skill"
								ng-options="skill as skill.label for skill in skills"
								ng-required></select>
					</div>
					<div class="input-prepend">
						<span ><strong>Call-list Len.</strong></span>
						<input id="callList" type="text" ng-model="params.callList" placeholder="call list length"/>
					</div>
					<div class="input-prepend">
						<span><strong>SLA</strong></span>
						<input id="sla" type="text" ng-model="params.sla" placeholder="sla" />
					</div>
					<div class="input-prepend">
						<span><strong>Target</strong></span>
						<input id="target" type="text" ng-model="params.target" placeholder="target number of calls"/>
					</div>
					<div class="input-prepend">
						<span><strong>CR</strong></span>
						<input id="cr" type="text" ng-model="params.cr" placeholder="connect rate" />
					</div>
					<div class="input-prepend">
						<span><strong>RPCR</strong></span>
						<input id="target" type="text" ng-model="params.rpcr" placeholder="right party connect rate"/>
					</div>
					<div class="input-prepend">
						<span><strong>Connect AHT</strong></span>
						<input id="cAHT" type="text" ng-model="params.cAHT" placeholder="connect average handle time"/>
					</div>
					<div class="input-prepend">
						<span><strong>RPC AHT</strong></span>
						<input id="rpcAHT" type="text" ng-model="params.rpcAHT" placeholder="right party average handle time"/>
					</div>
					<div class="input-prepend">
						<span><strong>Unproductive</strong></span>
						<input id="unproductive" type="text" ng-model="params.unproductive" placeholder="unproductive time"  />
					</div>																													
				</form>
			</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle2 = !acToggle2">
					Duration
					<span ng-show="!acToggle2"> from {{period.startDate | date: format }} to {{period.endDate | date: format }}</span>
				</div>
				<div ng-show="acToggle2">
					<div class="row wfm-block">
						<div class="col-lg-6">
							<div class="input-prepend">
								<label>Start time: <span class="start-date">{{period.startDate | date: format }}</span></label>
								<datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="input-prepend">
								<label>End time: <span class="end-date">{{period.endDate | date: format }}</span></label>
								<datepicker ng-model="period.endDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle3 = !acToggle3">
					Working Hours
				</div>
				<div ng-show="acToggle3">
					<div class="row toolbar">
						<div class="col-lg-10">
							<table class="wfm-table wfm-table-center" align="center">
								<thead>
									<tr>
										<th></th>
										<th ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div ng-click="toggleWorkinghoursInWeekday(weekday)">
												{{weekday | showWeekdays}}
											</div>											
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="hoursPick in [0,1, 2, 3, 4, 5,6,7,8,9,10]">
										<td>{{hoursPick | showWorkinghours }}</td>
										<td ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div class="wfm-checkbox wfm-checkbox-inline">
												<input type="checkbox" id="check_weekday_{{weekday}}_workinghour_{{hoursPick}}" ng-model="$parent.$parent.workinghours[weekday][hoursPick]" />
												<label for="check_weekday_{{weekday}}_workinghour_{{hoursPick}}">
													<span class="wfm-checkbox-toggle"></span>
													<span class="wfm-checkbox-label"></span>
												</label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
