<div class="wfm-block material-block material-depth-1" ng-if="showDetail">
	<div class="material-block-header">
		<div class="row">
			<div class="navigate-to inactive pull-left">
				<div class="pull-left">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)" />
					</svg>
				</div>
				<span>Goto configuration</span>
			</div>
			<div class="col-xs-offset-3 col-xs-2">Configuration</div>
			
			<div class="navigate-to active pull-right" ng-click="navigateToForecasting()">
				<div class="pull-right">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z"/>
					</svg>
				</div>
				<span>Goto forecasting</span>
			</div>			
		</div>				
	</div>	
	<div class="material-block-content">
		<div class=" wfm-accordion">
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle1 = !acToggle1">
					Campaign
					<strong>{{campaign.name}}</strong>
				</div>
				<div ng-show="acToggle1">
					<form name="formParams" class="form-horizontal wfm-block" ng-submit="update()">
						<input type="submit" style="position: absolute; left: -9999px" />
						<div class="input-prepend">
							<span><strong>Name</strong></span>
							<input id="name" type="text" ng-model="campaign.name" ng-required/>
						</div>
						<div class="input-prepend">
							<span><strong>Skill</strong></span>
							<select name="skill" id="skill"
									ng-model="params.skill"
									ng-options="skill as skill.label for skill in skills"
									ng-required></select>
						</div>
						<div class="input-prepend">
							<span><strong>Call-list Len.</strong></span>
							<input id="callList" type="text" ng-model="campaign.params.callList" placeholder="call list length" />
						</div>
						<div class="input-prepend">
							<span><strong>SLA</strong></span>
							<input id="sla" type="text" ng-model="campaign.params.sla" placeholder="sla" />
						</div>
						<div class="input-prepend">
							<span><strong>Target</strong></span>
							<input id="target" type="text" ng-model="campaign.params.target" placeholder="target number of calls" />
						</div>
						<div class="input-prepend">
							<span><strong>CR</strong></span>
							<input id="cr" type="text" ng-model="campaign.params.cr" placeholder="connect rate" />
						</div>
						<div class="input-prepend">
							<span><strong>RPCR</strong></span>
							<input id="target" type="text" ng-model="campaign.params.rpcr" placeholder="right party connect rate" />
						</div>
						<div class="input-prepend">
							<span><strong>Connect AHT</strong></span>
							<input id="cAHT" type="text" ng-model="campaign.params.cAHT" placeholder="connect average handle time" />
						</div>
						<div class="input-prepend">
							<span><strong>RPC AHT</strong></span>
							<input id="rpcAHT" type="text" ng-model="campaign.params.rpcAHT" placeholder="right party average handle time" />
						</div>
						<div class="input-prepend">
							<span><strong>Unproductive</strong></span>
							<input id="unproductive" type="text" ng-model="campaign.params.unproductive" placeholder="unproductive time" />
						</div>
					</form>
				</div>
			</div>
			<div class="wfm-block">
				<div class="sub-header accordion-head" ng-click="acToggle2 = !acToggle2">
					Duration
					<span ng-show="!acToggle2"> from <strong>{{period.startDate | date: format }}</strong> to <strong>{{period.endDate | date: format }}</strong></span>
				</div>
				<div ng-show="acToggle2">
					<div class="row wfm-block">
						<div class="col-lg-6">
							<div>
								<p>Start time: <strong class="start-date">{{period.startDate | date: format }}</strong></p>
								<datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<p>End time: <strong class="end-date">{{period.endDate | date: format }}</strong></p>
								<datepicker ng-model="period.endDate" show-weeks="true" class="well well-sm"></datepicker>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wfm-block" ng-if="false">
				<div class="sub-header accordion-head" ng-click="acToggle3 = !acToggle3">
					Working Hours
				</div>
				<div ng-show="acToggle3">
					<div class="row toolbar">
						<div class="col-lg-10">
							<table class="wfm-table wfm-table-center wfm-dense" align="center">
								<thead>
									<tr>
										<th></th>
										<th ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div ng-click="toggleWorkinghoursInWeekday(weekday)">
												{{weekday | showWeekdays}}
											</div>											
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="hoursPick in [0,1, 2, 3, 4, 5,6,7,8,9,10]">
										<td>{{hoursPick | showWorkinghours }}</td>
										<td ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
											<div class="wfm-checkbox wfm-checkbox-inline">
												<input type="checkbox" id="check_weekday_{{weekday}}_workinghour_{{hoursPick}}" ng-model="$parent.$parent.workinghours[weekday][hoursPick]" />
												<label for="check_weekday_{{weekday}}_workinghour_{{hoursPick}}">
													<span class="wfm-checkbox-toggle"></span>
													<span class="wfm-checkbox-label"></span>
												</label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="wfm-block" ng-if="true">
				<div class="sub-header accordion-head" ng-click="acToggle5 = !acToggle5">
					Working Hours
				</div>
				<div ng-show="acToggle5">
					<div class="row toolbar">
						<div class="col-lg-10">
							<table class="wfm-table wfm-table-center wfm-dense" align="center">
								<thead>
									<tr>
										<th class="col-lg-4">Weekday</th>
										<th>
											From
										</th>
										<th>
											<div>To</div>
										</th>
										<th>

										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end>
										<td>
											{{weekday | showWeekdays}}
										</td>
										<td>
											<div class="input-prepend">
												<input id="MondayFrom1" type="time" />
											</div>
										</td>
										<td>
											<div class="input-prepend">
												<input id="MondayTo1" type="time" />
											</div>
										</td>
										<td>
											<div class="wfm-checkbox">
												<input type="checkbox" id="Monday1" checked="false" />
												<label for="Monday1">
													<span class="wfm-checkbox-toggle"></span>
													<span class="wfm-checkbox-label">Close </span>
												</label>
											</div>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="wfm-block" ng-if="true">
				<div class="sub-header accordion-head" ng-click="acToggle4 = !acToggle4">
					Working Hours Prototype 2
				</div>
				<div ng-show="acToggle4">
					<div class="row toolbar">
						<div class="wfm-block">
							<div class="wfm-block">
								<div class="row">
									<div class="col-lg-3 column-label">
										<span></span>
									</div>
									<div ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end class="col-lg-1 column-label">
										<span>{{weekday | showWeekdays}}</span>
									</div>
								</div>
							</div>
							<div class="wfm-block">
								<ul class="wfm-list">
									<li ng-repeat="timeRange in timeRanges"
										ng-class="{'wfm-list-item-selected': timeRange.selected}"
										ng-click="$parent.toggleTimeRangeSelect(timeRange)"
										class="role-btn wfm-block wfm-dense wfm-list-item role">
										<div class="wfm-leave-behind wfm-leave-behind-1">
											<span>												
												<i ng-click="$parent.deleteFromTimeRanges(timeRange, $index)">
													<svg style="width: 18px; height: 18px" viewBox="0 0 24 24">
														<path fill="#555555" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
													</svg>
													<md-tooltip>
														Delete
													</md-tooltip>
												</i>
											</span>
										</div>
										<div class="row">
											<div class="col-lg-3">
												<span>{{timeRange.startTime | date:'hh:mm a'}}</span>
												<span> - </span>
												<span>{{timeRange.endTime | date:'hh:mm a'}}</span>
											</div>
											<div ng-repeat-start="weekday in [0,1,2,3,4,5,6]" ng-repeat-end class="col-lg-1">
												<div class="wfm-checkbox wfm-checkbox-inline">
													<input type="checkbox" id="check_weekday_{{weekday}}_workinghour_{{timeRange.id}}" ng-model="$parent.workinghours[weekday][timeRange.id]" />
													<label for="check_weekday_{{weekday}}_workinghour_{{timeRange.id}}">
														<span class="wfm-checkbox-toggle"></span>
														<span class="wfm-checkbox-label"></span>
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="wfm-block">
								<form name="newTimeRangeForm" ng-submit="">
									<div class="input-prepend">
										<i class="mdi mdi-plus" ng-click="addToTimeRanges()"></i>		
										<input type="time" name="inputNewTimeRangeStart" ng-model="newTimeRange.startTime"
											   placeholder="HH:mm:ss"  />																		
										-
										<input type="time" name="inputNewTimeRangeEnd" ng-model="newTimeRange.endTime"
											   placeholder="HH:mm:ss" />
									</div>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
