<div class="outbound wfm-block material-block">
    <div class="material-block-header">
        <div layout="row">
            <div class="text-left navigate-to active" ng-click="backToList()" flex>
                <div class="pull-left">
                    <svg width="20" height="20" viewBox="0 0 24 24">
                        <path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)"/>
                    </svg>
                </div>
                <span translate>Back</span>
            </div>
            <div class="text-center" flex>
                <span translate>Production plan</span>
            </div>
            <div flex></div>
        </div>
    </div>

    <div class="material-block-content">
        <div ng-if="isReady">
            <selectable-data-grid record-items="recordItems" items-per-row="{{weekDays.length}}" starting-offset="{{gridOffset}}" grid-headers="weekDays">
                <selectable-data-grid-cell unselectable=" $item.plans == 0">
                    <div class="sub-header">{{$item.dates}}</div>
                    <div>{{$item.plans}}</div>
                </selectable-data-grid-cell>
            </selectable-data-grid>
        </div>
    </div>

    <md-chips ng-model="selectedRecordItems" class="disable-default-select">
        <md-chip-template>
            <em>{{$chip.dates}}</em>
        </md-chip-template>
    </md-chips>

</div>

