<div class="wfm-block material-block material-depth-1" ng-if="showDetail">
	<div class="material-block-header">
		<div class="row">
			<div class="navigate-to active pull-left" ng-click="navigateToConfiguration()">
				<div class="pull-left">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z" transform="rotate(180, 12, 12)"/>
					</svg>
				</div>
				<span>Goto configuration</span>
			</div>
			<div class="col-xs-offset-3 col-xs-2">Configuration</div>

			<div class="navigate-to inactive pull-right">
				<div class="pull-right">
					<svg width="20" height="20" viewBox="0 0 24 24">
						<path d="M2,12C2,6.48 6.48,2 12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12M17,12L12,7V10H8V14H12V17L17,12Z"/>
					</svg>
				</div>
				<span>Goto schedule</span>
			</div>
		</div>
	</div>
	<div class="material-block-content">
		<div class="wfm-block">
			There are no shedule found for campaign <strong>{{campaign.name}}</strong>.
		</div>
	</div>
</div>