<div class="outbound wfm-block material-block">
    <div class="loading-whole-page" ng-show="!isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>

    <div class="material-block-header relative">
        <h3 class="border-bottom" translate>OutboundCampaigns</h3>
        <button ng-click="gotoCreateCampaign()" class="wfm-fab success create-campaignfix material-depth-1"><i class="mdi mdi-plus"></i></button>
    </div>
    <div class="material-block-content campaign-summary">
        <div class="opration-area">
            <phase-picker active-phase-code="activePhaseCode" phase-statistics="phaseStatistics" disable-action="!listCampaignFinished"></phase-picker>
        </div>

        <div class="loading-whole-section" ng-show="!listCampaignFinished && isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>

        <teleopti-card-list multi-select>
            <teleopti-card ng-repeat="campaign in Campaigns">
				<card-header ng-click="getGraphData(campaign)">
					<div class="text-center relative">
						<span class="campaign-namefix" ng-bind="campaign.Name"></span>
						<span ng-bind="campaign.StartDate.Date | amDateFormat: 'LL'"></span>
						<span>-</span>
						<span ng-bind="campaign.EndDate.Date | amDateFormat: 'LL'"></span>
						<span class="campaign-warning-icon campaign-warning-iconfix" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-if="campaign.WarningInfo.length > 0" ng-hide="hideWhenDone(campaign.Status)">!</span>
						<span class="campaign-warning-icon campaign-green-iconfix" ng-if="campaign.WarningInfo.length == 0" ng-hide="hideWhenDone(campaign.Status)"><i class="mdi mdi-check"></i></span>
						<span class="campaign-phase-label" translate>{{campaign.Status | showPhase}}</span>
					</div>
				</card-header>
                <card-body>
	                <div class="relative" ng-show="listCampaignFinished && !displayLoading(campaign)">
		                <div class="clearfix m-b-10 text-center" style="height: 38px;">
			                <p class="campaign-message m-r-5" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-repeat="info in campaign.WarningInfo"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span><span translate>{{info.TypeOfRule}}</span></p>
			                <p class="campaign-message campaign-message-healthyfix  m-r-5" ng-if="campaign.WarningInfo.length == 0"><span class="campaign-warning-icon campaign-green-icon-messagefix"><i class="mdi mdi-check"></i></span><span translate>Healthy</span></p>
							
		                </div>
		                <div class="chart text-center relative chartfix">
			                <div class="loading-whole-section loading-card-bodyfix" ng-show="listCampaignFinished && displayLoading(campaign)">
				                <md-progress-circular md-mode="indeterminate" style="z-index: 100;"></md-progress-circular>
			                </div>
			                <div ng-if="!displayLoading(campaign)">
				                <campaign-chart campaign="campaign" graph-data="campaign.graphData" dictionary="campaign.translations"></campaign-chart>
			                </div>
		                </div>
		                <div class="relative clearfix">
							<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="show(campaign)" translate>Edit</button>
							<!--<button class="wfm-btn wfm-btn-invis-primary pull-right" translate>Schedule</button>
							<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="switchBacklog(campaign);" ng-class="{'selected-ope-btn': campaign.backlogSwitch}" translate>AddBacklog</button>-->
			                <button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="switchManualPlan(campaign);" ng-class="{'selected-ope-btn': campaign.manualPlanswitch}" translate>ManualPlan</button>
			                
							<div class="edit-container pull-right" style="margin: 6px 10px 0 65px;">
								<div class="input-container relative" ng-show="campaign.manualPlanswitch">
									<input type="text" placeholder="plan..." ng-model="campaign.manualPlanInput" range-validate range-min="0" />
									<i class="mdi mdi-information-outline" style="position: absolute; left: 195px; top: 9px; color: #EC38A3;" ng-show="isManualProductionPlanInvalid(campaign)"></i>
									<button class="wfm-btn btn-sm wfm-btn-invis-primary pink" style="padding: 5px 10px; margin-right: 0;" ng-click="addManualPlan(campaign)" ng-disabled="isManualProductionPlanInvalid(campaign)" ng-class="{'wfm-btn-invis-disabled': isManualProductionPlanInvalid(campaign)}" translate>Save</button>
									<button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3; margin-left: 0; margin-right: 0;" ng-click="clearManualPlan(campaign)" translate>Clear</button>
									<button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3; margin-left: 0;" ng-click="removeManualPlan(campaign)" translate>Remove</button>
								</div>
								<div class="input-container multi-inputfix" ng-show="campaign.backlogSwitch">
									<input type="text" placeholder="parameter1..." />
									<input type="text" placeholder="parameter2..." />
									<input type="text" placeholder="parameter3..." />
									<input type="text" placeholder="parameter4..." />
									<input type="text" placeholder="parameter5..." />
									<input type="text" placeholder="parameter6..." />
									<button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3; margin-right: 0;" ng-click="addBacklog(campaign)" translate>Save</button>
									<button class="wfm-btn btn-sm wfm-btn-invis-primary" style="padding: 5px 10px; color: #EC38A3; margin-left: 0;" ng-click="clear(campaign)" translate>Clear</button>
								</div>
							</div>
		                </div>
	                </div>
                </card-body>
            </teleopti-card>
        </teleopti-card-list>
    </div>
</div>
