<div class="row outbound ">
	<h4 class="col-lg-12" translate>OutboundCampaigns</h4>
	<div class="col-lg-4 campaign-list">
		<div class="wfm-block material-block">
			<div class="material-block-header">
				<div layout="row">
					<div flex>
						<span translate>OutboundIntroduction</span>
					</div>
				</div>
			</div>
			<div class="material-block-content">
				<div class="wfm-block role-nav material-depth-1 container-block">
					<div class="wfm-block sub-header">
						<div ng-show="!showMoreHeaderFields" translate>Campaigns</div>
						<div class="row" ng-show="showMoreHeaderFields">
							<div class="col-lg-4 column-label">
								<span translate>CampaignName</span>
							</div>
							<div class="col-lg-2 column-label">
								<span translate>Start</span>
							</div>
							<div class="col-lg-2 column-label">
								<span translate>End</span>
							</div>
							<div class="col-lg-2">
								<span translate>Progress</span>
							</div>
						</div>
					</div>
					<div class="relative w-100p">
						<button class="md-fab md-mini md-button md-default-theme flow-btn" aria-label="Eat cake" ng-click="gotoCreateCampaign()">
							<i class="mdi mdi-plus m-t-10"></i>
						</button>
					</div>
					<div class="campaign-list role-container">
						<ul class="wfm-list">
							<li ng-repeat="campaign in campaigns" ng-click="show(campaign)" ng-dblclick="editing = true" ng-class="{'active': currentCampaignId && campaign.Id == currentCampaignId}" class="role-btn wfm-block wfm-list-item role">
								<div class="wfm-leave-behind wfm-leave-behind-1">
									<span>
										<i ng-click="modalLaunch1 = !modalLaunch1" class="delete-campaign-toggle">
											<svg style="width: 18px; height: 18px" viewBox="0 0 24 24">
												<path fill="#555555" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
											</svg>
											<md-tooltip>
												<span translate>Delete</span>
											</md-tooltip>
										</i>
									</span>
								</div>
								<div ng-cloak class="modal-box">
									<div ng-cloak ng-show="modalLaunch1">
										<div class="modalbg">
											<div class="dialog">
												<div class="modal-header" translate>
													DeleteCampaign
												</div>
												<div class="modal-inner-content">
													<div class="wfm-block" translate>AreYouSureYouWantToDeleteThisCampaign</div>
												</div>
												<div class="modal-footer">
													<aside>
														<a ng-click="modalLaunch1 = !modalLaunch1" class="wfm-btn wfm-btn-invis-primary" translate>DISMISS</a>
														<a ng-click="$parent.delete(campaign, $index)" class=" wfm-btn wfm-btn-invis-primary" translate>AGREE</a>
													</aside>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<span ng-class="outbound-campaign-name" ng-hide="editing">{{campaign.Name}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-lg-8 campaign-edit">
		<div ui-view></div>
	</div>	
</div>