<div style="position: relative" ng-if="!isGanttEnabled">
	<div ng-class="{'loading-whole-page': !isGanttEnabled, 'loading-list-with-gantt': isGanttEnabled}" ng-show="!isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>

	<div class="opration-area">
		<phase-picker active-phase-code="activePhaseCode" phase-statistics="phaseStatistics" disable-action="!listCampaignFinished"></phase-picker>
	</div>

	<div class="loading-whole-section" ng-show="!listCampaignFinished && isLoadFinished">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<wfm-card-list multi-select>
		<wfm-card ng-repeat="campaign in Campaigns">
			<card-header ng-click="getGraphData(campaign)">
				<div class="text-center relative">
					<span class="campaign-namefix" ng-bind="campaign.Name"></span>
					<span ng-bind="campaign.StartDate.Date | amDateFormat: 'LL'"></span>
					<span>-</span>
					<span ng-bind="campaign.EndDate.Date | amDateFormat: 'LL'"></span>
					<span class="campaign-warning-icon campaign-warning-iconfix" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-if="campaign.WarningInfo.length > 0" ng-hide="hideWhenDone(campaign.Status)">!</span>
					<span class="campaign-warning-icon campaign-green-iconfix" ng-if="campaign.WarningInfo.length == 0" ng-hide="hideWhenDone(campaign.Status)"><i class="mdi mdi-check"></i></span>
					<span class="campaign-phase-label" translate>{{campaign.Status | showPhase}}</span>
				</div>
			</card-header>
			<card-body>
				<div class="relative" ng-show="listCampaignFinished && !displayLoading(campaign)">
					<div class="replan-loader-container" ng-show="campaign.isLoadingData">
						<md-progress-circular md-mode="indeterminate" class="replan-loader"></md-progress-circular>
					</div>
					<div class="clearfix m-b-10 text-center" style="height: 38px;">
						<p class="campaign-message m-r-5" ng-class="{orangefix: isOverStaffing(campaign.WarningInfo)}" ng-repeat="info in campaign.WarningInfo"><span class="campaign-warning-icon campaign-warning-icon-messagefix">!</span><span translate>{{info.TypeOfRule}}</span></p>
						<p class="campaign-message campaign-message-healthyfix  m-r-5" ng-if="campaign.WarningInfo.length == 0"><span class="campaign-warning-icon campaign-green-icon-messagefix"><i class="mdi mdi-check"></i></span><span translate>Healthy</span></p>
					</div>
					<div class="chart text-center relative chartfix">
						<div class="loading-whole-section loading-card-bodyfix" ng-show="listCampaignFinished && displayLoading(campaign)">
							<md-progress-circular md-mode="indeterminate" style="z-index: 100;"></md-progress-circular>
						</div>
						<div ng-if="!displayLoading(campaign)">
							<campaign-chart campaign="campaign" dictionary="campaign.translations" exclude-closed="campaign.manualPlanswitch"></campaign-chart>
						</div>
					</div>
					<div class="relative clearfix nowrap text-right">
						<div class="manual-input-container" ng-show="campaign.manualPlanswitch">
							<label for="ManualPlanInput" translate>ManualPlan</label>
							<input id="ManualPlanInput" type="text" ng-model="campaign.manualPlanInput" range-validate range-min="0" integer-only="false" />
							<div class="manual-input-btns">
								<button class="wfm-btn btn-sm wfm-btn-invis-primary pink p-5-10 m-l-0 m-r-0" ng-click="addManualPlan(campaign)" ng-disabled="isManualProductionPlanInvalid(campaign)" ng-class="{'wfm-btn-invis-disabled': isManualProductionPlanInvalid(campaign)}" translate>Save</button>
								<button class="wfm-btn btn-sm wfm-btn-invis-primary pink p-5-10 m-l-0" ng-click="removeManualPlan(campaign)" translate>Reset</button>
							</div>

						</div>
						<div class="manual-input-container" ng-show="campaign.backlogSwitch">
							<label for="ActualBacklogInput" translate>AddBacklog</label>
							<input id="ActualBacklogInput" type="text" ng-model="campaign.backlogInput" range-validate range-min="0" integer-only="false" />
							<div class="manual-input-btns">
								<button class="wfm-btn btn-sm wfm-btn-invis-primary pink p-5-10 m-l-0 m-r-0" ng-click="addBacklog(campaign)" ng-disabled="isManualBacklogInvalid(campaign)" ng-class="{'wfm-btn-invis-disabled': isManualBacklogInvalid(campaign)}" translate>Save</button>
								<button class="wfm-btn btn-sm wfm-btn-invis-primary pink p-5-10 m-l-0" ng-click="removeBacklog(campaign)" translate>Reset</button>
							</div>
						</div>
						<button class="wfm-btn wfm-btn-invis-primary inline-block m-l-0 m-r-0" ng-click="switchManualPlan(campaign);" ng-class="{'selected-ope-btn': campaign.manualPlanswitch}" translate>ManualPlan</button>
						<button class="wfm-btn wfm-btn-invis-primary inline-block m-l-0 m-r-0" ng-click="replan(campaign)" translate>Replan</button>
						<button class="wfm-btn wfm-btn-invis-primary inline-block m-l-0 m-r-0" ng-click="switchBacklog(campaign);" ng-class="{'selected-ope-btn': campaign.backlogSwitch}" translate>AddBacklog</button>
						<button class="wfm-btn wfm-btn-invis-primary inline-block m-l-0 m-r-0" ng-click="show(campaign)" translate>Edit</button>
					</div>
					<div class="error-msg-container  alert-warning notice-spacer m-t-10" ng-show="showDateSelectionHint(campaign)"><i class='mdi mdi-alert'></i> <span translate>SelectDateInChart</span></div>
				</div>
			</card-body>
		</wfm-card>
	</wfm-card-list>
</div>