*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
*.orig
*.ldf
*.mdf
*.ndf

# teleopti things
*.[Cc]onfig
*.feature.cs
dbo.OlaHallengren*.sql
dbo.IndexMaintenance*.sql
.com.teleopti.wfm.developer.tools

# front end build
npm-debug*
npm-shrinkwrap.json
**/.node/NodeHash.txt
**/.node/PackageJsonHash.txt
**/.node/WfmFileHash.txt
**/dist/
**/css/main.css
**/css/main.min.css
**/css/style.css
**/css/style.css.map
**/css/style.min.css
**/css/style_classic.css
**/css/style_dark.css
**/WFM/index.html
**/WFM/index_desktop_client.html

# ide and tools
.vs/
.idea/
!.idea/.idea.CruiseControl/.idea/runConfigurations/
*resharper*
_ReSharper*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.orig
*.tmp_proj
*.rej
Logs/
*.DotSettings

# packages
node_modules/
packages/

# bin
[Bb]in
obj/
[Db]ebug/
[Rr]elease/


Teleopti\.Messaging/TeleOpti\.Messaging\.Bin/
