<div class="edit-bank-holiday-calendar" *ngIf="edittingCalendar">
	<div class="con-row">
		<div class="con-flex">
			<div class="full-padding">
				<span class="inline-block">{{ 'Name' | translate }} :</span>
				<input
					nz-input
					[placeholder]="'Name' | translate"
					[(ngModel)]="edittingCalendarName"
					(blur)="checkNewCalendarName()"
				/>
				<nz-alert
					*ngIf="nameAlreadyExisting"
					nzType="error"
					[nzMessage]="'NameAlreadyExisting' | translate"
				></nz-alert>
			</div>

			<div class="full-padding">
				<span class="inline-block">{{ 'Years' | translate }} :</span>
				<nz-year-picker
					nzAllowClear="false"
					[(ngModel)]="selectedYear"
					(ngModelChange)="newYearTab($event)"
					[nzPlaceHolder]="'AddYear' | translate"
				></nz-year-picker>
			</div>
		</div>
	</div>

	<nz-tabset [nzSelectedIndex]="newCalendarTabIndex" *ngIf="edittingCalendarYears.length > 0" nzAnimated="false">
		<nz-tab
			*ngFor="let year of edittingCalendarYears"
			[nzTitle]="year.Year"
			(nzSelect)="selectTab(year)"
			(nzDeselect)="deselectTab(year)"
		>
			<nz-layout>
				<nz-layout>
					<nz-header>
						<div class="con-row">
							<button nz-tooltip nz-button nzType="danger" (click)="deleteYearTab(year)">
								{{ 'DeleteThisYear' | translate }}
							</button>
						</div>
					</nz-header>
				</nz-layout>
				<nz-layout>
					<nz-sider nzWidth="300">
						<nz-date-picker
							*ngIf="year.Active"
							nzOpen="true"
							nzShowToday="true"
							nzAllowClear="false"
							[nzDisabledDate]="year.DisabledDate"
							[(ngModel)]="year.YearDate"
							(ngModelChange)="addNewDateForYear($event, year)"
							[nzDateRender]="dateRender"
						></nz-date-picker>

						<ng-template #dateRender let-currentDate>
							<div
								class="ant-calendar-date"
								[class.border]="year.SelectedDates.indexOf(currentDate.getTime()) > -1"
							>
								{{ currentDate.getDate() }}
							</div>
						</ng-template>
					</nz-sider>

					<nz-content>
						<nz-list [nzDataSource]="year.Dates" [nzRenderItem]="date">
							<ng-template #date let-date>
								<nz-list-item class="bank-holiday-calendar-list-date relative">
									<span class="date-indicator absolute" [hidden]="!date.IsLastAdded"></span>
									<span class="inline-block">
										{{ 'Date' | translate }} :

										<span>{{ date.Date }}</span>
									</span>
									<span class="inline-block">
										{{ 'Description' | translate }} :

										<input
											nz-input
											[placeholder]="'Description' | translate"
											[(ngModel)]="date.Description"
											(ngModelChange)="updateDateDescription(date, year)"
										/>
									</span>
									<button
										nz-tooltip
										nz-button
										nzSize="small"
										nzType="danger"
										nzShape="circle"
										(click)="removeDateOfYear(date, year)"
										class="remove-date-icon"
									>
										<i nz-icon type="close" theme="outline"></i>
									</button>
								</nz-list-item>
							</ng-template>
						</nz-list>
					</nz-content>
				</nz-layout>
			</nz-layout>
		</nz-tab>
	</nz-tabset>

	<div class="con-row operation-buttons">
		<button nz-button nzType="danger" (click)="confirmDeleteHolidayCanlendar(edittingCalendar)">
			{{ 'Delete' | translate }}
		</button>
		<button nz-button nzType="default" (click)="exitEdittingBankCalendar()">{{ 'Cancel' | translate }}</button>
		<button
			nz-button
			nzType="primary"
			[disabled]="edittingCalendarYears.length == 0 || nameAlreadyExisting || edittingCalendar.length == 0"
			(click)="saveEditingBankCalendar()"
		>
			{{ 'Save' | translate }}
		</button>
	</div>
</div>
