<div class="con-row">
	<div class="con-flex">
		<div class="con-row">
			<h2 class="con-flex">{{'RevokeRoles' | translate}}</h2>
		</div>
		<div class="role-content">
			<h3>{{'CurrentRoles' | translate}}</h3>
			<div class="con-fluid-row" data-test-revoke-current>
				<div class="con-fluid-flex" *ngFor="let role of revokePageService.rolesOfPeople$ | async">
					<label nz-checkbox [ngModel]="role.selected" (ngModelChange)="toggleSelectedRole(role)" data-test-chip>
						{{role.Name}}
					</label>
				</div>
			</div>

			<aside class="action-buttons">
				<button nz-button nzType="default" (click)="close()">{{'Cancel' | translate}}</button>
				<button #saveBtn nz-button nzType="primary" (click)="save()" [disabled]="!isAnyRoleSelected()" data-test-save>{{'Save'
					| translate}}</button>
			</aside>
		</div>
	</div>
	<people-workspace class="con-flex"></people-workspace>
</div>