<?xml version="1.0" encoding="utf-8" ?>
<!--<log4net>
	<appender name="EventAppender" type="log4net.Appender.EventLogAppender" >
		<applicationName value="Teleopti Service Bus" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{BusName}] - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ERROR" />
		<appender-ref ref="EventAppender" />
	</root>
</log4net>-->

<!--
	<appender name="EventAppender" type="log4net.Appender.EventLogAppender" >
		<threshold value="ERROR" />
		<applicationName value="Teleopti Service Bus" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{BusName}] - %message%newline" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="NHibernate" />
			<acceptOnMatch value="false" />
		</filter>
		<threshold value="DEBUG" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{BusName}] - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="All" />
		<appender-ref ref="EventAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
-->

<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
	  <file value="..\..\..\..\Logs\TeleoptiServiceBus.log" />
	  <rollingStyle value="Size" />
	  <maxSizeRollBackups value="10" />
	  <maximumFileSize value="200KB" />
	  <staticLogFileName value="true" />
	  <appendToFile value="true" />
	  <layout type="log4net.Layout.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
	  </layout>
	</appender>
	<root>
	  <level value="WARN" />
	  <appender-ref ref="RollingLogFileAppender" />
	</root>
</log4net>

