@using Teleopti.Ccc.Web.Areas.MyTime.Core
<style>
	.relative {
		position: relative;
	}

	.inline-block {
		display: inline-block;
	}
	.teleopti-container {
		height: 70px;
		white-space: nowrap;
	}
	.logo-container {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -74px;
		margin-top: -30px;
	}

	.img-container {
		height: 60px;
		width: 148px;
	}

	.img-container img {
		height: 100%;
		width: auto;
	}

	.mytime-chart-container {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -34px;
		margin-left: -206px;
	}
	.report-ciscofix .navbar-teleopti{
		display: none;
	}
	.report-ciscofix p {
		margin-bottom: 0;
		font-size: 10px;
	}
	.report-ciscofix .dashboard {
		min-height: 40px;
		margin-bottom: 5px;
		white-space: nowrap;
	}
	.report-ciscofix h1 {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.report-ciscofix .container {
		margin-top: 0;
	}
	.m-t-10 {
		margin-top: 10px;
	}
</style>

<script>
	$(function() {
		Teleopti.MyTimeWeb.MyReport.MyReportPartialInit();
	});
</script>
<div class="teleopti-container m-t-10">
	<div class="relative pull-left m-t-10" style="width: 200px; height: 68px;">
		<div class="logo-container">
			<div class="img-container" id="CiscoFinesse-teleopti-logo">
				<img src="@Url.Content("~/Areas/MyTime/Content/Images/logo.png")" alt="logo"/>
			</div>
		</div>
	</div>
	<div class="relative pull-left m-t-10" style="height: 68px; width: 412px;">
		<div class="mytime-chart-container">
			<div class="mytime-chart" id="CiscoFinesse-asm-module">
				@Html.Partial("../Asm/Index")
			</div>
		</div>
	</div>
	<div class="teleopti-dashboard report-ciscofix pull-left" style="height: 68px; width: 412px;" id="CiscoFinesse-myReport-module">
		@Html.Partial("../MyReport/MyReportPartial")
	</div>
</div>