
<script>
	$(function() {
		Teleopti.MyTimeWeb.MyReport.MyReportPartialInit();
	});
</script>

<div class="cisco-widget">
	<div class="relative pull-left" style="width: 200px; height: 68px;">
		<div class="logo-container">
			<div class="img-container" id="CiscoFinesse-teleopti-logo">
				<img src="@Url.Content("~/Areas/MyTime/Content/Images/logo.png")" alt="logo" />
			</div>
		</div>
	</div>
	@if (ViewBag.HasAsmPermission)
	{
		<div class="relative pull-left" style="height: 68px; width: 412px; margin-right: 10px;">
			<div class="mytime-chart-container">
				<div class="mytime-chart" id="CiscoFinesse-asm-module">
					@Html.Partial("../Asm/Index")
				</div>
			</div>
		</div>
	}
	@if (ViewBag.HasMyReportPermission)
	{
		<div class="teleopti-dashboard report-ciscofix pull-left" style="height: 68px; width: 500px;" id="CiscoFinesse-myReport-module">
			@Html.Partial("../MyReport/MyReportPartial")
		</div>
	}

</div>