<div class="realtimeadherenceagents container">
	<ul class="breadcrumb">
		<li><a href="#realtimeadherencesites" data-bind="text: resources.RealTimeAdherence"></a></li>
		<li><a  data-bind="text: siteName, attr:{href: siteURI}"></a></li>
		<li class="active" data-bind="text: teamName">Red</li>
	</ul>
	<div align="right">
		<form class="form-control">
			Filter: <input type="text" data-bind="value: filter, valueUpdate: 'input'"/>
		</form>
	</div>
	<div class="panel panel-default">
		<table class="table table-stripped table-condensed rta-agents-details">
			<thead>
				<tr>
					<th data-bind="text: resources.AgentName"></th>
					<th data-bind="text: resources.Team"></th>
					<th data-bind="text: resources.State"></th>
					<th data-bind="text: resources.Activity"></th>
					<th data-bind="text: resources.NextActivity"></th>
					<th data-bind="text: resources.NextActivityStartTime"></th>
					<th data-bind="text: resources.Alarm"></th>
					<th data-bind="text: resources.TimeInAlarm"></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: filteredAgents">
				<tr data-bind="style:  { backgroundColor: AlarmColor, 'transition': 'background-color 2000ms linear', fontWeight: TextWeight, fontColor: TextColor}">
					<td class="agent-name" data-bind="text: Name"></td>
					<td data-bind="text: TeamName"></td>
					<td data-bind="text: State"></td>
					<td data-bind="text: Activity"></td>
					<td data-bind="text: NextActivity"></td>
					<td data-bind="text: NextActivityStartTime"></td>
					<td data-bind="text: Alarm"></td>
					<td data-bind="text: AlarmTime"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>