<div class="realtimeadherenceagents container">
	<ul class="breadcrumb">
		<li><a data-bind="text: resources.RealTimeAdherence, attr:{href: rootURI}"></a></li>
		<!-- ko if: $root.siteName -->
		<li><a data-bind="text: siteName, attr:{href: siteURI}"></a></li>
		<!-- /ko -->
		<li class="active" data-bind="text: teamName"></li>
	</ul>
	<div class="nav navbar">
		<div class="row">
			<div class="col-xs-8 col-sm-6">
				<!-- ko if: $root.notifyViaSMSEnabled -->
				<button type="button" class="btn btn-primary navbar-btn send-message" data-bind="click: SendMessage, enable: SendMessageEnabled">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true">
					</span>
				</button>
				<!-- /ko -->
			</div>
			<div class="col-xs-4 col-sm-6">
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<span data-bind="text: $root.Resources.FilterColon"></span>
						<input type="text" class="form-control" data-bind="value: filter, valueUpdate: 'input'" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<table class="table table-stripped table-condensed rta-agents-details">
			<thead>
				<tr>
					<th class="selectable-agent" data-bind="if: notifyViaSMSEnabled"><input type="checkbox" data-bind="checked: AllChecked"></th>
					<th data-bind="text: resources.AgentName"></th>
					<th data-bind="text: resources.Team"></th>
					<th data-bind="text: resources.State"></th>
					<th data-bind="text: resources.Activity"></th>
					<th data-bind="text: resources.NextActivity"></th>
					<th data-bind="text: resources.NextActivityStartTime"></th>
					<th data-bind="text: resources.Alarm"></th>
					<th data-bind="text: resources.TimeInAlarm"></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: Agents">
				<tr class="agent-state" data-bind="style:  { backgroundColor: Color, 'transition': 'background-color 2000ms linear', fontWeight: TextWeight, fontColor: TextColor}, click: $root.SelectAgent">
					<td class="selectable-agent" data-bind="if: $parent.notifyViaSMSEnabled"><input type="checkbox" data-bind="checked: SelectedToSendMessage, stopBubble: true"></td>
					<td class="agent-name" data-bind="text: Name"></td>
					<td data-bind="text: TeamName"></td>
					<td data-bind="text: State"></td>
					<td data-bind="text: Activity"></td>
					<td data-bind="text: NextActivity"></td>
					<td data-bind="text: NextActivityStartTime"></td>
					<td data-bind="text: Alarm"></td>
					<td data-bind="text: AlarmTime"></td>
				</tr>
				<!-- ko if: Selected -->
				<tr class="person-menu">
					<td class="schedule-column" colspan="9">
						<div class="agent-menu">
							<div class="btn-group">
								<!-- ko if: $root.permissionAddActivity -->
								<a class="btn btn-sm change-schedule" data-bind="attr: { href: ScheduleChangeUrl }">
									<i class="glyphicon glyphicon-pencil"></i> 
									<span data-bind="text: $root.Resources.ModifySchedule"></span>
								</a>
								<!-- /ko -->
							</div>
							<!-- ko if: DisplayAdherencePercentage -->
							<div class="adherence btn-group">
								<!-- ko if: $root.agentAdherenceDetailsEnabled -->
								<a class="btn" data-bind="attr: { href: AdherenceDetailsUrl }">
									<span data-bind="text: $root.resources.Adherence"></span>
									<span class="historical-adherence" data-bind="text: HistoricalAdherence"></span>
								</a>
								<!-- /ko -->
								<!-- ko ifnot: $root.agentAdherenceDetailsEnabled -->
								<span data-bind="text: $root.resources.Adherence"></span>
								<span class="historical-adherence" data-bind="text: HistoricalAdherence"></span>
								<!-- /ko -->
								<div class="last-updated">
									<span data-bind="text: $root.resources.LastUpdated"></span>
									<span data-bind="text: LastAdherenceUpdate"></span>
								</div>
							</div>
							<!-- /ko -->
						</div>
					</td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>
</div>