<div class="workspace">
	<h1>
		<i class="mdi mdi-elevation-rise"></i>
		Insights
	</h1>

	<nz-layout>
		<nz-header>
			<div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" class="container">
				<div nz-col nzSpan="8">
					<nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
						<input type="text" nz-input placeholder="Search by report name..." [(ngModel)]="reportNameCriteria">
					</nz-input-group>
					<ng-template #prefixTemplate><i nz-icon type="search"></i></ng-template>
					<ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="reportNameCriteria=null" *ngIf="reportNameCriteria"></i>
					</ng-template>
				</div>
				<div nz-col nz-left nzSpan="16">
					<button nz-button nzType="primary"><i nz-icon type="plus-circle" theme="outline"></i> New Report</button>
				</div>
			</div>
		</nz-header>
		<nz-content>
			<div style="text-align: center;"><nz-spin *ngIf="isLoading"></nz-spin></div>
			<nz-list *ngIf="initialized" [nzDataSource]="this.reports" [nzRenderItem]="item" class="report-list">
				<ng-template #item let-item>
					<nz-list-item [nzContent]="reportName" [nzActions]="[editAction,cloneAction,deleteAction]"></nz-list-item>
					<ng-template #reportName>
						<a (click)="nav.viewReport(item)"><strong>{{item.Name}}</strong></a>
					</ng-template>
					<ng-template #editAction>
						<a (click)="nav.editReport(item)" *ngIf="permission.CanEditReport"><i nz-icon type="edit" theme="outline"></i> Edit</a>
						<span class="disabledLink" *ngIf="!permission.CanEditReport"><i nz-icon type="edit" theme="outline"></i> Edit</span>
					</ng-template>
					<ng-template #cloneAction>
						<a (click)="confirmCloneReport(item)" *ngIf="permission.CanEditReport"><i nz-icon type="copy" theme="outline"></i> Save as new...</a>
						<span class="disabledLink" *ngIf="!permission.CanEditReport"><i nz-icon type="copy" theme="outline"></i> Save as new...</span>
					</ng-template>
					<ng-template #deleteAction>
						<a nz-popconfirm nzTitle="Are you sure to delete this report?" nzOkText="ok" nzCancelText="cancel" (nzOnConfirm)="deleteReport(item)" *ngIf="permission.CanDeleteReport">
							<i nz-icon type="delete" theme="outline"></i> Delete
						</a>
						<span class="disabledLink" *ngIf="!permission.CanDeleteReport"><i nz-icon type="delete" theme="outline"></i> Delete</span>
					</ng-template>
				</ng-template>
			</nz-list>
			<nz-alert
				[hidden]="!initialized || permission.CanViewReport" 
				nzType="error"
				nzMessage="Error"
				nzDescription="You have no permission to view Insights report."
				nzShowIcon>
			</nz-alert>
		</nz-content>
	</nz-layout>
	<ng-template #newReportNameTemplate>
	  <p>{{messageForNewReportName}}</p>
	  <input type="text" nz-input placeholder="New report name..." [(ngModel)]="newReportName">
	</ng-template>
</div>
