<div class="job">
	<span>{{$ctrl.name}}</span>
</div>
<div class="owner">
	<span>{{$ctrl.owner}}</span>
</div>
<div class="started">
	<span>{{$ctrl.startingTime | date: $ctrl.dateTimeFormat}}</span>
</div>
<div class="status">
	<div ng-if="$ctrl.status=='inprogress'">
		<span>{{'InProgress'|translate}}</span>
	</div>
	<div ng-if="$ctrl.status=='failed'">
		<span>{{'Failed'|translate}}</span>
	</div>
	<div ng-if="$ctrl.status=='finished'">
		<span>{{'Finished'|translate}}</span>
		<br /><a ng-if="$ctrl.hasError"  href="../api/Gamification/job/{{$ctrl.jobId}}/artifact/2">{{'Errors'|translate}}</a>
	</div>
</div>