<div class="con-fluid-row setting-list">
    <div class="con-fluid-flex">
        <md-select aria-label="Settings" ng-model="$ctrl.currentSettingId" ng-change="$ctrl.settingSelectionChanged()" placeholder="{{'Select'|translate}}">
            <md-option ng-repeat="setting in $ctrl.settingDescriptors" value="{{setting.GamificationSettingId}}">
                <span ng-bind="setting.Value.Name"></span>
            </md-option>
        </md-select>
    </div>

    <div class="con-fluid-flex">
        <button class="wfm-btn wfm-btn-invis-default" ng-click="$ctrl.confirmResetBadges()">{{'ResetBadges'|translate}}</button>
    </div>

    <div class="con-fluid-flex">
        <button class="wfm-fab material-depth-1" aria-label="Add setting" ng-click="$ctrl.addNewSetting()">
            <i class="mdi mdi-plus"></i>
            <md-tooltip>{{'New'|translate}}</md-tooltip>
        </button>
        <button class="wfm-fab wfm-fab-danger material-depth-1" ng-if="$ctrl.settingDescriptors.length > 1" aria-label="Delete setting" ng-click="$ctrl.confirmDeleteSetting()">
            <i class="mdi mdi-delete"></i>
            <md-tooltip>{{'Delete'|translate}}</md-tooltip>
        </button>
    </div>
</div>

<g-setting-form ng-if="$ctrl.settingData" setting="$ctrl.settingData" on-name-update="$ctrl.updateCurrentSettingNameInList(name)">
</g-setting-form>