<div class="selection">
	<md-checkbox ng-model="$ctrl.selected" ng-change="$ctrl.rowSelected()"></md-checkbox>
</div>
<div tabindex="-1" class="team" ng-click="$ctrl.rowSelected()">
	<span>{{$ctrl.name}}</span>
</div>
<div tabindex="-1" class="setting" ng-click="$ctrl.rowSelected()">
	<div tabindex="-1" ng-click="$ctrl.selected && $event.stopPropagation()">
		<md-select ng-model="$ctrl.appliedSettingId" ng-change="$ctrl.appliedSettingChanged()" class="" placeholder="SelectGamificationSetting">
			<md-option value="{{$ctrl.EMPTY_GUID}}">{{'None'|translate}}</md-option>
			<md-option ng-repeat="option in $ctrl.settingOptions" value="{{option.id}}">{{option.name}}</md-option>
		</md-select>
		<div tabindex="-1" class="mask" ng-class="{'selected': $ctrl.selected}"></div>
	</div>
</div>