<div>
    <div class="run-calculation">
        <div>{{'PickADateRangeToStartBadgeCalculation'|translate}}</div>
        <div class="con-fluid-row">
            <div class="con-fluid-flex align-self-center">
                <date-range-picker ng-model="$ctrl.dateRange" template-type="$ctrl.templateType" custom-validators="$ctrl.dateRangeCustomValidators"></date-range-picker>
            </div>
            <div class="con-fluid-flex align-self-center">
                <button ng-disabled="!$ctrl.allowCalcalution()" class="wfm-btn wfm-btn-primary" ng-click="$ctrl.calculate()">{{'Start'|translate}}</button>
            </div>
        </div>
    </div>
    <div class="calculation-job-table">
        <header>
            <div class="period">{{'Period'|translate}}</div>
            <div class="owner">{{'Owner'|translate}}</div>
            <div class="started">{{'TimeStarted'|translate}}</div>
            <div class="status">{{'Status'|translate}}</div>
        </header>
        <div ng-repeat="job in $ctrl.jobs" class="calculation-job">
            <div class="job">
                <span>{{job.startDate}}--{{job.endDate}}</span>
            </div>
            <div class="owner">
                <span>{{job.owner}}</span>
            </div>
            <div class="started">
                <span>{{job.startingTime}}</span>
            </div>
            <div class="status">
                <span>{{job.status}}</span>
            </div>
        </div>
    </div>

</div>