<div class="filter">
	<md-select multiple="true" ng-model="$ctrl.selectedSites" md-selected-text="$ctrl.sitePickerSelectedText()" md-on-close="$ctrl.selectClosed()" class="md-no-underline">
		<md-option ng-repeat="site in $ctrl.sites" ng-value="site">
			{{ site.name }}
		</md-option>
	</md-select>
	<div>
		<input ng-model="$ctrl.filter" ng-model-options="{debounce: 200}" type="text" placeholder="{{'FilterTeams'|translate}}" />
	</div>
</div>
<div class="table-wrapper">
	<gamification-targets-table teams="$ctrl.teamsResult.current" available-settings="" on-setting-change="$ctrl.onAppliedSettingChange(teamIds, newValue)"></gamification-targets-table>
	<div ng-if="$ctrl.isBusy" class="mask">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</div>