<div>

	<div class="droparea-wrapper">
		<div class="droparea" ngf-drop ngf-select ngf-multiple="false" ngf-keep="false" ngf-allow-dir="false" ngf-accept="'.csv'" ng-model="$ctrl.file" ng-model-rejected="$ctrl.rejFiles">
			<div>
				<span class="prompt pointer">{{ 'DragAndDropYourCsvFileOrClickToSelect' | translate }}</span>
				<div ng-show="$ctrl.file" class="fileinfo">
					<span class="filename pointer">{{$ctrl.file.name}} - {{ $ctrl.file.size|filesize:2 }}</span>
					<div ng-if="$ctrl.file.size > $ctrl.fileSizeLimit" class="text-warning pointer">
						<i class="mdi mdi mdi-alert"></i>
						{{ 'ExceedsMaximumUploadFileSize'|translate }} ({{ $ctrl.fileSizeLimit|filesize:2 }})
					</div>
					<div class="text-danger pointer" ng-if="$ctrl.file.uploadingError">
						<i class="mdi mdi-alert-octagon"></i>
						{{'AnErrorOccurredWhenUploadingTheFile'|translate}}
					</div>
				</div>
			</div>
			<div>
				<button class="wfm-btn wfm-btn-primary" ng-disabled="$ctrl.fileIsInvalid()" ng-click="$ctrl.upload();$event.stopPropagation()">{{'UploadAndStart'|translate}}</button>
			</div>
			<div ng-click="$event.stopPropagation()">
				<a class="detail_link" target="_blank" ng-href="{{$ctrl.fileFormatWikiLink}}">{{'GamificationViewImportFileFormat'|translate}}</a>
			</div>
		</div>
		<div ng-if="$ctrl.uploading" class="loading-mask">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
	</div>

	<div class="import-job-table">
		<header>
			<div class="job">{{'Job'|translate}}</div>
			<div class="owner">{{'Owner'|translate}}</div>
			<div class="started">{{'TimeStarted'|translate}}</div>
			<div class="status">{{'Status'|translate}}</div>
		</header>
		<import-job ng-repeat="job in $ctrl.jobs" job-id="job.id" owner="job.owner" starting-time="job.startingTime" status="job.status"
		 name="job.name" category="job.category" date-time-format="::$ctrl.dateTimeFormat" has-error="job.hasError"></import-job>
	</div>

</div>