<div>
    <div>
        <div class="inline-block">
            <span>{{::$ctrl.title}}:</span>
        </div>
        <div class="inline-block setting-name">
            <md-select ng-model='$ctrl.selectedSettingIndex' ng-change="$ctrl.settingSelectionChanged()">
                <md-option ng-repeat="setting in $ctrl.allSettings" value="{{$ctrl.allSettings.indexOf(setting)}}">{{setting.name}}</md-option>
            </md-select>
        </div>

        <div class="icon-button">
            <i class="mdi mdi-plus-circle" ng-click="$ctrl.addSetting()"></i>
        </div>

        <div class="icon-button">
            <i class="mdi mdi-close-circle" ng-click="$ctrl.deleteSetting()"></i>
        </div>
        <div class="inline-block">
            <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="$ctrl.resetBadges()">Reset Badges</md-button>
        </div>
    </div>

    <md-divider></md-divider>
    <!-- Setting panel -->
    <div class="setting-container">
        <div class="input-container">
            <div class="inline-block">
                <label>Description:</label>
            </div>
            <div class="inline-block">
                <input type="text" value="{{$ctrl.currentSetting.name}}">
            </div>
        </div>
        <div class="input-container">
            <div class="inline-block">
                <label>Change Info:</label>
            </div>
            <div class="inline-block">
                <label>{{$ctrl.currentSetting.info}}</label>
            </div>
        </div>

        <div class="input-container">
            <div class="inline-block">
                <label>Rule:</label>
            </div>
            <div class="inline-block">
                <md-select id="gamificationSettingType" ng-change="$ctrl.ruleSelectionChanged()" ng-model='$ctrl.currentRuleIndex'>
                    <md-option ng-repeat="rule in $ctrl.rules" value="{{$ctrl.rules.indexOf(rule)}}">{{rule.name}}</md-option>
                </md-select>
            </div>
        </div>

        <div>
            <div class="inline-block" ng-repeat="settingInfo in $ctrl.viewedSetting">
                <gamification-setting-info setting-info="settingInfo" select-item-callback="$ctrl.itemSelected"></gamification-setting-info>
            </div>
        </div>
    </div>
</div>