<div class="job">
	<span>{{$ctrl.name}}</span>
</div>
<div class="owner">
	<span>{{$ctrl.owner}}</span>
</div>
<div class="started">
	<span>{{$ctrl.startingTime}}</span>
</div>
<div class="status">
	<div ng-if="$ctrl.status=='inprogress'">
		<span>In Progress</span>
	</div>
	<div ng-if="$ctrl.status=='errored'">
		<a target="_blank" href="../api/Gamification/job/{{$ctrl.jobId}}/artifact/2">Errors</a>
	</div>
	<div ng-if="$ctrl.status=='finished'">
		<a target="_blank" href="">Finished</a>
	</div>
</div>