<div>
    <div class="run-calculation">
        <div>{{'PickADateRangeToStartBadgeCalculation'|translate}}</div>
        <div class="con-fluid-row">
            <div class="con-fluid-flex align-self-center">
                <date-range-picker ng-model="$ctrl.dateRange" template-type="$ctrl.templateType" custom-validators="$ctrl.dateRangeCustomValidators"></date-range-picker>
            </div>
            <div class="con-fluid-flex align-self-center">
                <button ng-disabled="!$ctrl.allowCalcalution()" class="wfm-btn wfm-btn-primary" ng-click="$ctrl.calculate()">{{'Start'|translate}}</button>
                <div class="period-error-box">
                    <span class="text-danger" ng-show="$ctrl.intersected">
                        {{'Selected period has intersection with the running jobs'|translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="calculation-job-table">
        <header>
            <div class="period">{{'Period'|translate}}</div>
            <div class="owner">{{'Owner'|translate}}</div>
            <div class="started">{{'TimeStarted'|translate}}</div>
            <div class="status">{{'Status'|translate}}</div>
        </header>
        <div ng-repeat="job in $ctrl.jobs" class="calculation-job">
            <div class="job">
                <span>{{job.startDate|date:'yyyyMMdd'}}--{{job.endDate|date:'yyyyMMdd'}}</span>
            </div>
            <div class="owner">
                <span>{{job.owner}}</span>
            </div>
            <div class="started">
                <span>{{job.startingTime | date: $ctrl.dateTimeFormat}}</span>
            </div>
            <div class="status">
                <div ng-if="job.status=='inprogress'">
                    <span>{{'InProgress'|translate}}</span>
                </div>
                <div ng-if="job.status=='failed'">
                    <i class="mdi mdi-alert-octagon"></i>
                    <span ng-if="job.errorMsg.length">&nbsp;{{job.errorMessage}}</span>
                    <span ng-if="!job.errorMsg.length">{{'Failed'|translate}}</span>
                </div>
                <div ng-if="job.status=='finished'">
                    <span>{{'Finished'|translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>