
<md-virtual-repeat-container ng-class="{'show': $ctrl.tableIsReady}">
	<header ng-if="$ctrl.tableHasData()" class="header">
		<div class="selection">
			<md-checkbox ng-checked="$ctrl.allRowsSelected()" md-indeterminate="$ctrl.isIndeterminate()" ng-click="$ctrl.toggleAllRows()"></md-checkbox>
		</div>
		<div class="team">{{'Team'|translate}}</div>
		<div class="setting">{{'AppliedSetting'|translate}}</div>
	</header>
	<gamification-target-row md-virtual-repeat="team in $ctrl.teams" id="team.id" name="team.name" setting-options="$ctrl.availableSettings" applied-setting-id="team.appliedSettingId" selected="$ctrl.selectedTeamIds[team.id]" on-select="$ctrl.selectRow(teamId)" on-setting-change="$ctrl.changeAppliedSetting(teamId, newSettingValue)" ng-class="{'selected': $ctrl.selectedTeamIds[team.id]}" class="table-row"></gamification-target-row>
</md-virtual-repeat-container>
