<div class="wfm-form">
	<form name="form">
		<div class="form-input-wrap">
			<label>{{'Description'|translate}}</label>
			<input type="text" name="settingname" required ng-model="$ctrl.name" ng-blur="$ctrl.onNameChange(form.settingname.$invalid)"
			 ng-keyup="$ctrl.keyUp($event)" ng-maxlength="50" autocomplete="off" />
			<div class="text-danger validation">
				<div ng-if="form.settingname.$error.required">{{'Required'|translate}}</div>
				<div ng-if="form.settingname.$error.maxlength">{{'TextIsTooLong'|translate}}</div>
			</div>
		</div>
		<div class="form-input-wrap">
			<label>{{'GamingPeriod'|translate}}</label>
			<md-select ng-model="$ctrl.RollingPeriod" aria-label="Campaign Period" ng-change="$ctrl.updateRollingPeriodSet()">
				<md-option value="0">{{"Ongoing"|translate}}</md-option>
				<md-option value="1">{{"Weekly"|translate}}</md-option>
				<md-option value="2">{{"Monthly"|translate}}</md-option>
			</md-select>
		</div>
		<div class="form-input-wrap">
			<label>{{'Rule'|translate}}</label>
			<md-select ng-model="$ctrl.ruleSet" aria-label="Select Rule Set" ng-change="$ctrl.updateRuleSet()">
				<md-option value="0">{{'RuleWithRatioConvertor'|translate}}</md-option>
				<md-option value="1">{{'RuleWithDifferentThreshold'|translate}}</md-option>
			</md-select>
		</div>

		<div ng-if="$ctrl.ruleSet == 0" class="form-input-wrap">
			<div>
				<label for="silverRate">{{'OneSilverBadgeEqualsBronzeBadgeCount'|translate}}</label>
				<input type="number" name="silverRate" pattern="^\d+$" max="100" min="2" ng-model="$ctrl.silverRate" ng-model-options="{allowInvalid: false}"
				 ng-change="$ctrl.updateSilverRate()" />
				<div class="text-danger validation">
					<span ng-if="form.silverRate.$invalid">{{'Invalid'|translate}}</span>
				</div>
			</div>
			<div>
				<label for="goldRate">{{'OneGoldBadgeEqualsSilverBadgeCount'|translate}}</label>
				<input type="number" name="goldRate" pattern="^\d+$" max="100" min="2" ng-model="$ctrl.goldRate" ng-model-options="{allowInvalid: false}"
				 ng-change="$ctrl.updateGoldRate()" />
				<div class="text-danger validation">
					<span ng-if="form.goldRate.$invalid">{{'Invalid'|translate}}</span>
				</div>
			</div>
		</div>
	</form>

	<div>
		<div>{{'Measures'|translate}}</div>
		<div class="text-danger validation">
			<div ng-if="$ctrl.errors.hasReachedLimitOfEnabledMeasures">{{'YouCanEnable3MeasuresAtMaximum'|translate}}</div>
		</div>
		<wfm-card-list multi-select>
			<wfm-card ng-repeat="config in $ctrl.builtinMeasureConfigs">
				<card-header tabindex="-1">
					<div tabindex="0">
						<measure-config-header name="config.translatedName" name-check="$ctrl.checkDuplicateName(name)" allow-rename="!config.builtin"
						 checked="config.enabled" on-enable="$ctrl.enableConfig(config, enable)" value-data-type="config.dataType">
						</measure-config-header>
					</div>
				</card-header>
				<card-body>
					<measure-config-form1 ng-if="$ctrl.ruleSet == 0" read-only="!config.enabled" badge-threshold="config.badgeThreshold" on-update="config.setBadgeThreshold(badgeThreshold)"
					 value-format="config.valueFormat" max="config.max" value-data-type="config.dataType">
					</measure-config-form1>

					<measure-config-form2 ng-if="$ctrl.ruleSet == 1" read-only="!config.enabled" bronze-badge-threshold="config.bronzeBadgeThreshold"
					 update-bronze="config.setBronzeBadgeThreshold(bronzeBadgeThreshold)" update-silver="config.setSilverBadgeThreshold(silverBadgeThreshold)"
					 update-gold="config.setGoldBadgeThreshold(goldBadgeThreshold)" silver-badge-threshold="config.silverBadgeThreshold"
					 gold-badge-threshold="config.goldBadgeThreshold" value-order="config.valueOrder" value-format="config.valueFormat" max="config.max"
					 value-data-type="config.dataType">
					</measure-config-form2>
				</card-body>
			</wfm-card>
			<wfm-card ng-repeat="config in $ctrl.externalMeasureConfigs">
				<card-header tabindex="-1">
					<div tabindex="0">
						<measure-config-header name="config.name" name-check="$ctrl.checkDuplicateName(name)" allow-rename="!config.builtin" checked="config.enabled"
						 on-name-update="config.setName(name)" measure-id="config.externalId" on-enable="$ctrl.enableConfig(config, enable)"
						 max="config.max" value-data-type="config.dataType">
						</measure-config-header>
					</div>
				</card-header>
				<card-body>
					<measure-config-form1 ng-if="$ctrl.ruleSet == 0" read-only="!config.enabled" badge-threshold="config.badgeThreshold" value-data-type="config.dataType"
					 value-format="config.valueFormat" max="config.max" on-update="config.setBadgeThreshold(badgeThreshold)">
					</measure-config-form1>

					<measure-config-form2 ng-if="$ctrl.ruleSet == 1" read-only="!config.enabled" bronze-badge-threshold="config.bronzeBadgeThreshold"
					 update-bronze="config.setBronzeBadgeThreshold(bronzeBadgeThreshold)" silver-badge-threshold="config.silverBadgeThreshold"
					 update-silver="config.setSilverBadgeThreshold(silverBadgeThreshold)" gold-badge-threshold="config.goldBadgeThreshold"
					 update-gold="config.setGoldBadgeThreshold(goldBadgeThreshold)" value-order="config.valueOrder" value-format="config.valueFormat"
					 max="config.max" value-data-type="config.dataType">
					</measure-config-form2>
				</card-body>
			</wfm-card>
		</wfm-card-list>
	</div>
</div>