<form name="form" class="wfm-form">
	<div class="form-input-wrap">
		<label>{{'Description'|translate}}</label>
		<input type="text" name="settingname" required ng-model="$ctrl.name" ng-change="$ctrl.onNameChange()" ng-model-options="{updateOn: 'default blur change', debounce: {default: 1000, blur: 0, change: 0}}"
		/>
		<div class="text-danger validation">
			<span ng-if="form.settingname.$error.required">{{'Required'|translate}}</span>
		</div>
	</div>

	<!-- <div class="form-input-wrap">
		<label>{{'ChangeInfoColon'|translate}}</label>
		<div>{{$ctrl.changeInfo}}</div>
	</div> -->

	<div class="form-input-wrap">
		<label>{{'Rule'|translate}}</label>
		<md-select ng-model="$ctrl.ruleSet" aria-label="Select Rule Set" ng-change="$ctrl.updateRuleSet()">
			<md-option value="0">Ratio conversion</md-option>
			<md-option value="1">Different thresholds</md-option>
		</md-select>
	</div>

	<div ng-if="$ctrl.ruleSet == 0" class="form-input-wrap">
		<label>
			{{'OneSilverBadgeEqualsBronzeBadgeCount'|translate}}
			<input type="number" pattern="^\d+$" ng-model="$ctrl.silverRate" ng-model-options="{allowInvalid: false}" ng-change="$ctrl.updateSilverRate()"
			/>
		</label>
		<label>
			{{'OneGoldBadgeEqualsSilverBadgeCount'|translate}}
			<input type="number" pattern="^\d+$" ng-model="$ctrl.goldRate" ng-model-options="{allowInvalid: false}" ng-change="$ctrl.updateGoldRate()"
			/>
		</label>
	</div>
</form>

<div>
	<div>{{'Measures'|translate}}</div>
	<div class="text-danger validation">
		<div ng-if="$ctrl.errors.hasReachedLimitOfEnabledMeasures">{{'YouCanEnable3MeasuresAtMaximum'|translate}}</div>
	</div>
	<wfm-card-list multi-select>
		<wfm-card ng-repeat="config in $ctrl.builtinMeasureConfigs">
			<card-header tabindex="-1">
				<div tabindex="0">
					<measure-config-header name="config.name" allow-rename="!config.builtin" checked="config.enabled" on-name-update="config.setName(name)"
					 on-enable="$ctrl.enableConfig(config, enable)">
					</measure-config-header>
				</div>
			</card-header>
			<card-body>
				<measure-config-form1 ng-if="$ctrl.ruleSet == 0" read-only="!config.enabled" badge-threshold="config.badgeThreshold" on-update="config.setBadgeThreshold(badgeThreshold)"
				 value-format="config.valueFormat" max="config.max" value-data-type="config.dataType">
				</measure-config-form1>

				<measure-config-form2 ng-if="$ctrl.ruleSet == 1" read-only="!config.enabled" bronze-badge-threshold="config.bronzeBadgeThreshold"
				 update-bronze="config.setBronzeBadgeThreshold(bronzeBadgeThreshold)" update-silver="config.setSilverBadgeThreshold(silverBadgeThreshold)"
				 update-gold="config.setGoldBadgeThreshold(goldBadgeThreshold)" silver-badge-threshold="config.silverBadgeThreshold" gold-badge-threshold="config.goldBadgeThreshold"
				 value-order="config.valueOrder" value-format="config.valueFormat" max="config.max" value-data-type="config.dataType">
				</measure-config-form2>
			</card-body>
		</wfm-card>
		<wfm-card ng-repeat="config in $ctrl.externalMeasureConfigs">
			<card-header tabindex="-1">
				<div tabindex="0">
					<measure-config-header name="config.name" allow-rename="!config.builtin" checked="config.enabled" on-name-update="config.setName(name)"
					 on-enable="$ctrl.enableConfig(config, enable)">
					</measure-config-header>
				</div>
			</card-header>
			<card-body>
				<measure-config-form1 ng-if="$ctrl.ruleSet == 0" read-only="!config.enabled" badge-threshold="config.badgeThreshold" value-data-type="config.dataType"
				 value-format="config.valueFormat" on-update="config.setBadgeThreshold(threshold)">
				</measure-config-form1>

				<measure-config-form2 ng-if="$ctrl.ruleSet == 1" read-only="!config.enabled" bronze-badge-threshold="config.bronzeBadgeThreshold"
				 update-bronze="config.setBronzeBadgeThreshold(bronzeBadgeThreshold)" silver-badge-threshold="config.silverBadgeThreshold"
				 update-silver="config.setSilverBadgeThreshold(silverBadgeThreshold)" gold-badge-threshold="config.goldBadgeThreshold"
				 update-gold="config.setGoldBadgeThreshold(goldBadgeThreshold)" value-format="config.valueFormat" value-data-type="config.dataType">
				</measure-config-form2>
			</card-body>
		</wfm-card>
	</wfm-card-list>
</div>