<form class="wfm-form">
	<div class="con-row">
		<div class="con-flex">
			<label>
				Gold badge threshold
				<input type="text" ng-disabled="$ctrl.disabled"
					ng-model="$ctrl.goldBadgeThreshold"
					ng-model-options="{updateOn: 'default blur change', debounce: {default: 2000, change: 0, blur: 0}}"
					ng-change="$ctrl.updateGoldThreshold()"
					autofocus
				/>
			</label>
		</div>
		<div class="con-flex">

			<label>
				Silver badge threshold
				<input type="text" ng-disabled="$ctrl.disabled"
					ng-model="$ctrl.silverBadgeThreshold"
					ng-model-options="{updateOn: 'default blur change', debounce: {default: 2000, change: 0, blur: 0}}"
					ng-change="$ctrl.updateSilverThreshold()"
				/>
			</label>
		</div>
		<div class="con-flex">
			<label>
				Bronze badge threshold
				<input type="text" ng-disabled="$ctrl.disabled"
					ng-model="$ctrl.bronzeBadgeThreshold"
					ng-model-options="{updateOn: 'default blur change', debounce: {default: 2000, change: 0, blur: 0}}"
					ng-change="$ctrl.updateBronzeThreshold()"
				/>
			</label>
		</div>
		<div class="con-flex"></div>
	</div>
</form>