<span class="chevron">
	<i class="mdi mdi-chevron-right"></i>
</span>

<div ng-if="::$ctrl.allowRename" ng-show="!$ctrl.renameMode" ng-click="$ctrl.rename();$event.stopPropagation()" tabindex="0" class="context-menu card-context rename">
	<i class="mdi mdi-lead-pencil edit-icon"></i>
	<md-tooltip>{{'Rename'|translate}}</md-tooltip>
</div>

<div class="enable" ng-click="$event.stopPropagation()">
	<md-checkbox aria-label="Enable measure" ng-checked="$ctrl.checked" ng-click="$ctrl.onCheckboxClick()">
		<b ng-show="!$ctrl.renameMode">{{$ctrl.name}}</b>
	</md-checkbox>
</div>

<div ng-if="$ctrl.allowRename && $ctrl.renameMode" class="name-textbox" ng-click="$event.stopPropagation()">
	<input type="text" ng-model="$ctrl._name" ng-model-options="{ updateOn: 'change blur', allowInvalid: false }" ng-change="$ctrl.onNameChange()" ng-blur="$ctrl.finishRename()" autofocus
		ng-minlength="1" ng-maxlength="50" />
</div>