<form name="form2" class="wfm-form">
	<div class="con-row">
		<div class="con-flex">
			<label>
				Gold badge threshold
				<input name="goldBadgeThreshold" ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl._goldBadgeThreshold" ng-blur="$ctrl.updateGoldThreshold(form2.goldBadgeThreshold.$invalid)"
				 ng-keyup="$ctrl.keyUp($event, form2.goldBadgeThreshold.$invalid)" threshold-validator="{{::$ctrl.valueFormat}};{{$ctrl.max}};{{$ctrl.valueDataType}}"
					autofocus
				/>
			</label>
			<div class="text-danger" style="height: 1em;">
				<span ng-show="form2.goldBadgeThreshold.$invalid">{{'Invalid'|translate}}</span>
			</div>
		</div>
		<div class="con-flex">

			<label>
				Silver badge threshold
				<input name="silverBadgeThreshold" ng-disabled="$ctrl.disabled" type="text" ng-model="$ctrl._silverBadgeThreshold" ng-blur="$ctrl.updateSilverThreshold(form2.silverBadgeThreshold.$invalid)"
				 ng-keyup="$ctrl.keyUp($event, form2.silverBadgeThreshold.$invalid)" threshold-validator="{{::$ctrl.valueFormat}};{{$ctrl.max}};{{$ctrl.valueDataType}}"
				/>
			</label>
			<div class="text-danger" style="height: 1em;">
				<span ng-show="form2.silverBadgeThreshold.$invalid">{{'Invalid'|translate}}</span>
			</div>
		</div>
		<div class="con-flex">
			<label>
				Bronze badge threshold
				<input type="text" name="bronzeBadgeThreshold" ng-disabled="$ctrl.disabled" ng-model="$ctrl._bronzeBadgeThreshold" ng-blur="$ctrl.updateBronzeThreshold(form2.bronzeBadgeThreshold.$invalid)"
				 ng-keyup="$ctrl.keyUp($event, form2.bronzeBadgeThreshold.$invalid)" threshold-validator="{{::$ctrl.valueFormat}};{{$ctrl.max}};{{$ctrl.valueDataType}}"
				/>
			</label>
			<div class="text-danger" style="height: 1em;">
				<span ng-show="form2.bronzeBadgeThreshold.$invalid">{{'Invalid'|translate}}</span>
			</div>
		</div>
		<div class="con-flex"></div>
	</div>
</form>