<div class="view-header with-fab with-desc">
    <div class="view-title">
        <div class="pull-left">
            <h1>
                <i class="mdi mdi-alarm"></i> <b>{{vm.agentName}}</b>
            </h1>
        </div>
    </div>
    <div class="fab-wrapper pull-right"></div>
</div>

<div class="panel material-depth-1">
    <div class="sub-header">
        <h2>{{'AdherenceFor' | translate}} {{vm.date | amDateFormat: "YYYY-MM-DD"}}</h2>
    </div>
    <div class="con-row">
        <div class="con-flex">
            <div class="rta-historical-adherence-row-wrapper">
                <div ng-repeat="row in vm.fullTimeline" class="label label-info" ng-attr-style="position: absolute; left: {{row.Offset}}; top: 10%; width: 36px; margin-left: -18px;">{{row.Time | amDateFormat: 'HH.mm'}}</div>
            </div>

            <div class="rta-out-of-adherences-wrapper">
                <span ng-repeat="outOfAdherence in vm.outOfAdherences" class="rta-alarmline out-of-adherence" ng-attr-style="left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 46%;"
                    data-starttime="{{outOfAdherence.StartTime}}" data-endtime="{{outOfAdherence.EndTime}}">
					<md-tooltip md-direction="top">
						{{outOfAdherence.StartTime}} - {{outOfAdherence.EndTime}}
					</md-tooltip>
				</span>

                <span class="rta-current-time" ng-attr-style="left: {{vm.currentTimeOffset}}; height: 70%; margin-top: 6px;">
					<md-tooltip md-direction="top">
						{{vm.date | amDateFormat: "HH:mm:ss"}}
					</md-tooltip>
				</span>

                <div class="rta-shift rta-full-shift-wrapper">
                    <div ng-repeat="activity in vm.agentsFullSchedule" class="rta-layer absolute floatleft activity" tabindex="0" ng-attr-style="width: {{activity.Width}}; left: {{activity.Offset}}; background-color: {{activity.Color}}; top: 12%;"
                        data-starttime="{{activity.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}" data-endtime="{{activity.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
                    </div>
                </div>
                
            </div>
              <div class="hidden-md" style="height: 30px; position: relative;">
            <div ng-repeat="diamond in vm.diamonds" ng-class="{'diamond': true, 'highlight': diamond.highlight}" ng-click="diamond.click()"
                ng-attr-style="left: {{diamond.Offset}}; border-color: {{diamond.RuleColor}};">
                <div class="inner" ng-attr-style="background-color: {{diamond.RuleColor}};"></div>
            </div>
            </div>
        </div>
    </div>
</div>


<rta-card ng-repeat="card in vm.cards" ng-open="card.isOpen">
    <rta-card-header ng-attr-styles="border-left-color: {{card.Color}}">{{card.Header}}</rta-card-header>
    <rta-card-body>
        <div class="con-row">
            <div class="con-flex">
                <ul class="wfm-simple-list rta-list">
                    <li>
                        <div class="con-row rta-change-row hidden-sm">
                            <div class="con-flex"><b>{{'Time' | translate}}</b></div>
                            <div class="con-flex"><b>{{'Activity' | translate}}</b></div>
                            <div class="con-flex"><b>{{'State' | translate}}</b></div>
                            <div class="con-flex"><b>{{'Rule' | translate}}</b></div>
                            <div class="con-flex"><b>{{'Adherence' | translate}}</b></div>
                        </div>
                    </li>
                    <li ng-repeat="item in card.Items" class="change" ng-class="{'highlight': item.highlight}" data-time="{{item.Time | amDateFormat: 'HH:mm:ss'}}"
                        ng-click="item.click()">
                        <div class="con-row rta-change-row">
                            <div class="con-flex time">{{item.Time | amDateFormat: 'HH:mm:ss' }}</div>
                            <div class="con-flex"><span class="historical-label" ng-attr-style="border: 1px solid {{item.ActivityColor}}; border-left: 10px solid {{item.ActivityColor}};">{{item.Activity}}</span></div>
                            <div class="con-flex">{{item.State}}</div>
                            <div class="con-flex"><span class="historical-label" ng-attr-style="border: 1px solid {{item.RuleColor}}; border-left: 10px solid {{item.RuleColor}};">{{item.Rule}}</span></div>
                            <div class="con-flex"><span class="historical-label" ng-attr-style="border: 1px solid {{item.AdherenceColor}}; border-left: 10px solid {{item.AdherenceColor}};">{{item.Adherence}}</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </rta-card-body>
</rta-card>