<div class="view-header with-fab with-desc">
	<div class="view-title">
		<div class="pull-left">
			<h1>
				<i class="mdi mdi-alarm"></i> <b>{{vm.agentName}}</b>
			</h1>
		</div>
		<div class="rta-top-buttons-wrapper pull-left"></div>
	</div>
	<div class="fab-wrapper pull-right"></div>
</div>
<div class="con-row">
	<div class="con-flex"></div>
</div>
<div class="panel material-depth-1">
	<div class="sub-header">
		<div>
			Adherence for {{vm.date | amDateFormat: "YYYY-MM-DD"}}
		</div>
	</div>
	<div class="con-row" style="padding-top: 10px">
		<div class="con-flex">
			<div style="position: relative; padding: 4px 0; height: 20px;">
				<div ng-repeat="row in vm.fullTimeline" class="label label-info" ng-attr-style="position: absolute; left: {{row.Offset}}; top: 10%; width: 36px; margin-left: -18px;">{{row.Time | amDateFormat: 'HH.mm'}}</div>
			</div>

			<div style="position: relative;">
				<span
					ng-repeat="outOfAdherence in vm.outOfAdherences"
					class="rta-alarmline out-of-adherence"
					ng-attr-style="left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 46%;"
					data-starttime="{{outOfAdherence.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}"
					data-endtime="{{outOfAdherence.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
					<md-tooltip md-direction="top">
						{{vm.ooaTooltipTime(outOfAdherence.StartTime)}} - {{vm.ooaTooltipTime(outOfAdherence.EndTime)}}
					</md-tooltip>
				</span>

				<span class="rta-current-time" ng-attr-style="left: {{vm.currentTimeOffset}}; height: 70%; margin-top: 6px;">
					<md-tooltip md-direction="top">
						{{vm.date | amDateFormat: "HH:mm:ss"}}
					</md-tooltip>
				</span>

				<div class="rta-shift" style="height: 50px;">
					<div
						ng-repeat="activity in vm.agentsFullSchedule"
						class="rta-layer absolute floatleft activity"
						tabindex="0"
						ng-attr-style="width: {{activity.Width}}; left: {{activity.Offset}}; background-color: {{activity.Color}}; top: 12%;"
						data-starttime="{{activity.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}"
						data-endtime="{{activity.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
