<div ng-click="grid.appScope.selectAgent(row.entity.PersonId)" class="agent-state">
	<div ng-class="{testclass:grid.appScope.isSelected(row.entity.PersonId)}" style="background-color: {{grid.appScope.hexToRgb(row.entity.AlarmColor)}} !important;" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
		 class="ui-grid-cell agent-row" ng-attr-agentid="{{row.entity.PersonId}}" ng-click="grid.appScope.getAdherenceForAgent(row.entity.PersonId)" ng-class="{ \'ui-grid-row-header-cell\': col.isRowHeader }" ui-grid-cell=""></div>
</div>
<div ng-show="grid.appScope.isSelected(row.entity.PersonId)">
	<div class="agent-menu historical-adherence" layout="row">
		<div flex>
			<a href="{{grid.appScope.changeScheduleUrl(row.entity.TeamId,row.entity.PersonId)}}" class="change-schedule">
				<span class="mdi mdi-pencil"></span>Change schedule
			</a>
		</div>
		<div flex>Adherence: {{grid.appScope.adherencePercent}}% </div>
		<div flex><span ng-show="grid.appScope.showLastUpdate(grid.appScope.timestamp)" style="color:#333333;">Latest updated: {{grid.appScope.timestamp}}</span></div>
	</div>
</div>
