<div class="panel material-depth-1">
				<div class="sub-header">
								<h4>{{'Agents'|translate}}</h4>
								<div ng-if="siteName && teamName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<a class="rta-nav-link" href="{{goBackToTeamsWithUrl}}">{{siteName}}</a>
												/
												<span>{{teamName}}</span>
								</div>
								<div ng-if="multipleSitesName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleSitesName}}</span>
								</div>
								<div ng-if="multipleTeamsName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleTeamsName}}</span>
								</div>
								<div class="rta-agents-input">
												<div class="input-prepend rta-search">
																<i class="mdi mdi-magnify"></i>
																<input ng-change="filterData()" ng-model="filterText" placeholder="{{'Search'|translate}}..." type="text">
												</div>
								</div>
				</div>
				<div class="con-row demo-outline">
								<div class="con-flex">
												<div class="grid" ng-if="allGrid" ui-grid-auto-resize ui-grid="allGrid"></div>
								</div>
				</div>
</div>
