<div class="row">
				<div class="col-lg-12">
								<h4>Agent Details</h4>
								<button class="wfm-btn wfm-btn-primary" ng-click="goBackToAgents()" ng-show="!isEmptyHistory()">Go back</button>
								<div class="row rta-agent-details-header">
												<div class="rta-agent-details-name" flex>
																<span class="agent-name">{{name}}</span>
												</div>
												<div class="rta-agent-details-total" flex>
																<span class="daily-percent">Daily Total:	{{dailyTotal}}%</span>
												</div>
								</div>
				</div>
				<div class="col-lg-6">
								<h4 flex>Planned</h4>
								<table class="wfm-table">
												<thead>
																<tr>
																				<th>
																								Activity
																				</th>
																				<th>
																								Start
																				</th>
																</tr>
												</thead>
												<tbody>
																<tr ng-repeat="detail in adherence">
																				<td class="activity-name">
																								{{detail.Name}}
																				</td>
																				<td>
																								{{detail.StartTime}}
																				</td>
																</tr>
												</tbody>
								</table>
				</div>
				<div class="col-lg-6">
								<h4 flex>Real</h4>
								<table class="wfm-table">
												<thead>
																<tr>
																				<th>
																								Start
																				</th>
																				<th>
																								Adherence
																				</th>
																</tr>
												</thead>
												<tbody>
																<tr ng-repeat="detail in adherence">
																				<td>
																								{{detail.ActualStartTime}}
																				</td>
																				<td ng-if="detail.AdherencePercent === null" class="adherence-percent">
																					-
																				</td>
																				<td ng-if="detail.AdherencePercent !== null" class="adherence-percent">
																								{{detail.AdherencePercent}}%
																				</td>
																</tr>
												</tbody>
								</table>
				</div>
</div>
