<div class="row">
        <div class="rta-header">
            <h3>Teams</h3>
            <button class="wfm-btn wfm-btn-primary" ng-click="openSelectedTeams(selectedTeams)">Open selected</button>
            <span ng-click="goBack()"><a class="rta-nav-link">Real Time Adherence</a></span> / <span>{{siteName}}</span>
        </div>
        <div class="wfm-block material-depth-1 rta-list-item rta-list" ng-repeat="team in teams" ng-class="{rtaGrid: teams.length > 3}">
            <div class="rta-stats">
                <div class="wfm-checkbox">
                    <label>
                        <input type="checkbox" name="checkbox" value="value" ng-checked="selectedTeams.indexOf(team.Id) > -1" ng-click="toggleSelection(team.Id)">
                        <span class="wfm-checkbox-toggle"></span>
                    </label>

                </div>
                <div class="rta-trigger-area" ng-click="onTeamSelect(team)">

                <b class="site-name">{{team.Name}}</b>
                <div class="site-data">
                    <div>
                        <p>Out of adherence: <b>{{team.OutOfAdherence}}</b></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>
