<div class="view-header">
				<div class="view-title">
								<h1>	<i class="mdi mdi-alarm"></i>	{{'Agents'|translate}}</h1>
				</div>
</div>
<div class="panel material-depth-1">
				<div class="sub-header">
								<div ng-if="siteName && teamName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<a class="rta-nav-link" href="{{goBackToTeamsWithUrl}}">{{siteName}}</a>
												/
												<span>{{teamName}}</span>
								</div>
								<div ng-if="multipleSitesName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleSitesName}}</span>
								</div>
								<div ng-if="multipleTeamsName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleTeamsName}}</span>
								</div>
				</div>
				<div class="con-row">
								<div class="con-flex">
												<label class="input-prepend" for="filter-agents">
																<i class="mdi mdi-filter-outline"></i>
																<input id="filter-agents" ng-change="filterData()" ng-model="filterText" placeholder="{{'Search'|translate}}..." type="text">
												</label>
								</div>
								<div class="con-flex">
												<div class="wfm-switch line-right">
																<input id="switch1" ng-model="agentsInAlarm" type="checkbox"/>
																<label for="switch1">
																				<span class="wfm-switch-label">In Alarm</span>
																				<span class="wfm-switch-toggle"></span>
																</label>
												</div>
								</div>
				</div>
				<div class="con-row demo-outline">
								<div class="con-flex">
												<div class="grid agent-grid-height" ng-if="allGrid && !agentsInAlarm" ui-grid-auto-resize ui-grid="allGrid"></div>
												<div class="grid agent-grid-height" ng-if="inAlarmGrid && agentsInAlarm" ui-grid-auto-resize ui-grid="inAlarmGrid"></div>
								</div>
				</div>
</div>
