<div class="row">
  <div class="rta-header">
    <h3>Sites</h3>
    <button class="wfm-btn wfm-btn-primary" ng-click="openSelectedSites(selectedSites)">Open selected</button>
	</div>
  <div class="wfm-block material-depth-1 rta-list-item rta-list" ng-repeat="site in sites" ng-class="{rtaGrid: sites.length > 5}">
    <div class="rta-stats">
      <div class="wfm-checkbox">
        <label>
        <input type="checkbox" name="checkbox" value="value" ng-checked="selectedSites.indexOf(site.Id) > -1" ng-click="toggleSelection(site.Id)">
        <span class="wfm-checkbox-toggle"></span>
        </label>
      </div>
      <div class="rta-trigger-area" ng-click="onSiteSelect(site)">
        <b class="site-name">{{site.Name}}</b>
          <div class="site-data">
            <p>Out of adherence: <b>{{site.OutOfAdherence}}</b></p>
          </div>
      </div>
      </div>
    </div>
</div>
