<div class="panel material-depth-1">
				<div class="sub-header">
								<h4>Agent Details</h4>
								<div class="row rta-agent-details-header">
												<div class="rta-agent-details-name" flex>
																<span class="agent-name">{{name}}</span>
												</div>
												<div class="rta-agent-details-total" flex>
																<span class="daily-percent">{{'DailyTotal'|translate}}
																				{{dailyTotal}}%</span>
												</div>
								</div>
				</div>
				<div class="con-row demo-outline">
								<div class="con-flex">
												<div class="col-lg-6">
																<h4 flex>{{'Planned'|translate}}</h4>
																<table class="wfm-table">
																				<thead>
																								<tr>
																												<th>
																																{{'Activity'|translate}}
																												</th>
																												<th>
																																{{'Start'|translate}}
																												</th>
																								</tr>
																				</thead>
																				<tbody>
																								<tr ng-repeat="detail in adherence">
																												<td class="activity-name">
																																{{detail.Name}}
																												</td>
																												<td>
																																{{detail.StartTime}}
																												</td>
																								</tr>
																				</tbody>
																</table>
												</div>
												<div class="col-lg-6">
																<h4 flex>{{'Actual'|translate}}</h4>
																<table class="wfm-table">
																				<thead>
																								<tr>
																												<th>
																																{{'Start'|translate}}
																												</th>
																												<th>
																																{{'Adherence'|translate}}
																												</th>
																								</tr>
																				</thead>
																				<tbody>
																								<tr ng-repeat="detail in adherence">
																												<td>
																																{{detail.ActualStartTime}}
																												</td>
																												<td class="adherence-percent" ng-if="detail.AdherencePercent === null">
																																-
																												</td>
																												<td class="adherence-percent" ng-if="detail.AdherencePercent !== null">
																																{{detail.AdherencePercent}}%
																												</td>
																								</tr>
																				</tbody>
																</table>
												</div>
								</div>
				</div>
</div>
