<div class="row">
				<div class="col-lg-12">
								<h3>Agents</h3>
								<div ng-if="siteName && teamName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<a class="rta-nav-link" href="{{goBackToTeamsWithUrl}}">{{siteName}}</a>
												/
												<span>{{teamName}}</span>
								</div>
								<div ng-if="multipleSitesName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleSitesName}}</span>
								</div>
								<div ng-if="multipleTeamsName">
												<a class="rta-nav-link" href="{{goBackToRootWithUrl()}}">{{'RealTimeAdherence'|translate}}</a>
												/
												<span>{{multipleTeamsName}}</span>
								</div>
								<div class="rta-agents-input">
												<div class="input-prepend rta-search">
																<i class="mdi mdi-magnify"></i>
																<input ng-change="filterData()" ng-model="filterText" placeholder="{{'Search'|translate}}..." type="text">
												</div>
												<div class="wfm-switch">
																<input id="switch1" ng-model="agentsInAlarm" type="checkbox"/>
																<label for="switch1">
																				<span class="wfm-switch-label">In Alarm</span>
																				<span class="wfm-switch-toggle"></span>
																</label>
												</div>
								</div>
								<div class="grid" ng-if="allGrid && !agentsInAlarm" ui-grid-auto-resize ui-grid="allGrid"></div>
								<div class="grid" ng-if="inAlarmGrid && agentsInAlarm" ui-grid-auto-resize ui-grid="inAlarmGrid"></div>
				</div>
</div>
