<div class="row">
  <div class="rta-header">
    <h4>{{'Sites'|translate}}</h4>
    <button class="wfm-btn wfm-btn-primary open" ng-click="openSelectedSites(selectedSites)">{{'Open'|translate}}</button>
	</div>
  <div class="wfm-block material-depth-1 rta-list-item rta-list" ng-repeat="site in sites" ng-class="{'rta-grid': sites.length > 5, 'no-agents': site.NumberOfAgents < 1, good: getAdherencePercent(site.OutOfAdherence, site.NumberOfAgents) <= 33, warning: getAdherencePercent(site.OutOfAdherence, site.NumberOfAgents) >= 34 && getAdherencePercent(site.OutOfAdherence, site.NumberOfAgents) <= 66, danger: getAdherencePercent(site.OutOfAdherence, site.NumberOfAgents) >= 67}">
    <div class="rta-stats site">
      <div class="wfm-checkbox">
        <label style="width: 20px; height: 20px; display:block !important;" ng-attr-name="{{site.Name}}">
        <input type="checkbox" value="value" ng-checked="selectedSites.indexOf(site.Id) > -1" ng-model="selected" ng-click="toggleSelection(site.Id)">
        <span class="wfm-checkbox-toggle"></span>
        </label>
      </div>
      <div class="rta-trigger-area" ng-click="onSiteSelect(site)">
        <b class="site-name" ng-attr-data-value="{{site.OutOfAdherence}}" ng-attr-data-max="{{site.NumberOfAgents}}">{{site.Name}}</b>
          <div class="site-data">
            <p>{{'OutOfAdherence'|translate}}: <b>{{site.OutOfAdherence}}</b></p>
          </div>
      </div>
      </div>
    </div>
</div>
