<div class="view-header">
	<div class="con-flex">
		<div class="view-title pull-left" style="width: 70%">
			<h1>
				<i class="mdi mdi-compass-outline"></i>{{'ManageSkillGroups'|translate}}
			</h1>
		</div>
		<button class="wfm-fab material-depth-1 grow-out pull-right" id="save_all" ng-show="vm.canSave" ng-click="vm.saveAll()">
			<i class="mdi mdi-content-save"></i>
			<md-tooltip>{{'Save'|translate}}</md-tooltip>
		</button>
		<button class="wfm-fab material-depth-1 grow-out pull-right" id="exit_sgm" ng-click="vm.canSave ? vm.closeConfirmation=true : vm.exitConfigMode();">
			<i class="mdi mdi-close"></i>
			<md-tooltip>{{'Close'|translate}}</md-tooltip>
		</button>
	</div>
</div>
<div class="con-row">
</div>
<form name="form" class="wfm-form" novalidate ng-submit="vm.saveSkillGroup(form)">
	<md-content class="md-padding">
		<div class="con-row">
			<div class="con-flex panel form-panel material-depth-1" style="margin-right: 20px;">
				<div class="con-row">
					<div class="con-flex">
						<h2>{{'AllSkillGroups'|translate}}</h2>
					</div>
					<div class="con-flex">
						<button type="button" tabindex=0 class="context-menu card-context notice-info pull-right notice-success" id="create-skill-group-button"
						 ng-click="vm.createSkillGroup($event);">
							<i class="mdi mdi-plus"></i>
							<md-tooltip>{{'CreateNewSkillGroup'|translate}}</md-tooltip>
						</button>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">
						<ul class="wfm-list" id="available_skill_groups_list">
							<li ng-repeat="skillGroup in vm.skillGroups track by skillGroup.Id" ng-click="vm.selectSkillGroup($index)">
								<span class="list-item-container">
									{{skillGroup.Name}}
								</span>
								<span ng-cloak ng-show="vm.selectedSkillGroup.Id === skillGroup.Id" class="list-dot grow-out">
									<b class="mdi mdi-check list-mark"></b>
								</span>
								<div class="wfm-leave-behind wfm-leave-behind-3">
									<span>
										<i class="mdi mdi-content-copy" aria-label="Copy" id="copySkillGroupButton" ng-click="vm.copyGroupClicked(skillGroup, $event)">
											<md-tooltip>
												{{'Copy' | translate}}
											</md-tooltip>
										</i>
										<i class="mdi mdi-pencil" aria-label="Edit" id="renameSkillGroupButton" ng-click="vm.editNameClicked(skillGroup, $event)">
											<md-tooltip>
												{{'Edit' | translate}}
											</md-tooltip>
										</i>
										<i class="mdi mdi-delete" aria-label="Delete" id="deleteSkillGroupButton" ng-click="vm.selectedSkillGroup = skillGroup; vm.deleteConfirmation=true; $event.stopPropagation();">
											<md-tooltip ng-hide="role.IsMyRole">
												{{'Delete' | translate}}
											</md-tooltip>
										</i>
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="con-flex x3 panel form-panel material-depth-1" style="height: 70%; padding: 0;">
				<div class="con-row">
					<div ng-cloak class="animate-show" style="height: 100%" ng-if="vm.selectedSkillGroup.Name.length > 0">
						<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}">
							{{'NameRequired'|translate}}
						</div>
						<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.maxlength}" translate>
							TextTooLong
						</div>
					</div>
				</div>
				<div class="con-row" ng-show="vm.selectedSkillGroup">
					<div class="con-flex panel form-panel material-depth-1" style="margin: 5px">
						<div class="con-row">
							<div class="con-flex">
								<h2>{{'AvailableSkills'|translate}}</h2>
							</div>
						</div>
						<div class="con-row">
							<i class="mdi mdi-filter"></i>
							<input type="text" ng-model="skillFilter" />
						</div>
						<div class="con-row">
							<ul class="wfm-list" id="available_skills_list">
								<li ng-repeat="skill in vm.skills | filter:skillFilter" ng-click="vm.selectSkill(skill)">
									<i ng-class="vm.getSkillIcon(skill)"></i>
									<span class="list-item-container">
										{{skill.Name}}
									</span>
									<span ng-cloak ng-show="vm.skillIsSelected(skill)" class="list-dot grow-out">
										<b class="mdi mdi-check list-mark"></b>
									</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="con-flex x3 panel form-panel material-depth-1" style="margin: 5px">
						<div class="con-row">
							<h1>{{vm.selectedSkillGroup.Name}}</h1>
						</div>
						<div class="con-row">
							<div class="con-flex">
								<div class="wfm-chip-wrap" ng-repeat="skill in vm.selectedSkillGroup.Skills | filter:areaFilter as filtered" ng-click="vm.selectGroupSkill(skill)"
								 ng-hide="(selectedFilter==true && !!vm.groupSkillIsSelected(skill)) || (supportedFilter==false && !skill.DoDisplayData)">
									<span class="wfm-chip">
										<span class="chip-handle chip-warning" ng-if="!skill.DoDisplayData && !vm.groupSkillIsSelected(skill)">
											<i ng-class="vm.getSkillIcon(skill)"></i>
										</span>
										<span class="chip-handle" ng-if="skill.DoDisplayData && !vm.groupSkillIsSelected(skill)">
											<i ng-class="vm.getSkillIcon(skill)"></i>
										</span>
										<span class="chip-handle chip-success" ng-if="vm.groupSkillIsSelected(skill)">
											<i class="mdi mdi-check"></i>
										</span>
										<span class="chip-text skill-area-list">
											{{skill.Name}}
										</span>
										<md-tooltip>
											<span ng-if="skill.DoDisplayData && skill.IsMultisiteSkill">{{skill.SkillType | translate}} - {{'MultisiteSkill' | translate}}</span>
											<span ng-if="skill.DoDisplayData && !skill.IsMultisiteSkill">{{skill.SkillType | translate}}</span>
											<span ng-if="!skill.DoDisplayData">{{'UnsupportedSkill' | translate}}</span>
										</md-tooltip>
									</span>
								</div>
								<p ng-if="filtered.length < 1">{{'RepViewerNoMoreMatches'|translate}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-cloak class="modal-box">
			<div ng-cloak ng-show="vm.deleteConfirmation">
				<div class="modalbg">
					<div class="dialog-mini material-depth-1" style="width: 30%">
						<div class="modal-inner-content">
							<h3>{{'DoYouWantToDeleteSkillGroup'|translate}}</h3>
							{{'AreYouSureYouWantToDeleteTheSkillGroup'|translate}} {{vm.selectedSkillGroup.Name}}
						</div>
						<div class="modal-actions">
							<aside>
								<button type="button" id="cancelDeleteButton" ng-click="vm.deleteConfirmation=false; $event.stopPropagation();" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
								<button type="button" id="confirmDeleteButton" ng-click="vm.deleteConfirmation=false; vm.deleteSkillGroup(); $event.stopPropagation();"
								 class="wfm-btn wfm-btn-invis-primary">{{'OK'|translate}}</button>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-cloak class="modal-box">
			<div ng-cloak ng-show="vm.closeConfirmation">
				<div class="modalbg">
					<div class="dialog-mini material-depth-1" style="width: 30%">
						<div class="modal-inner-content">
							<h3>{{'Exit'|translate}}</h3>
							{{'AreYouSureYouWantToExitSGM'|translate}}
						</div>
						<div class="modal-actions">
							<aside>
								<button type="button" id="cancelExitButton" ng-click="vm.closeConfirmation=false; $event.stopPropagation();" class="wfm-btn wfm-btn-invis-default">{{'No'|translate}}</button>
								<button type="button" id="confirmExitButton" ng-click="vm.closeConfirmation=false; vm.exitConfigMode(); $event.stopPropagation();"
								 class="wfm-btn wfm-btn-invis-primary">{{'Yes'|translate}}</button>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-cloak class="modal-box">
			<div ng-cloak ng-show="vm.editGroupNameBox">
				<div class="modalbg">
					<div class="dialog-mini material-depth-1" style="width: 30%">
						<div class="modal-inner-content">
							<div class="con-row">
								<h3>{{'Name'|translate}}</h3>
							</div>
							<div class="con-row">
								<div class="con-flex">
									<input type="text" autofocus="true" placeholder="{{'Name'|translate}}" ng-model="vm.selectedSkillGroup.Name" maxlength="50"
									 ng-maxlength="50" id="skillGroupNameBox" ng-keypress="vm.nameBoxKeyPress($event)" />
								</div>
							</div>
						</div>
						<div class="modal-actions">
							<aside>
								<button type="button" id="confirmEditNameButton" ng-click="vm.saveNameEdit($event)" class="wfm-btn wfm-btn-invis-primary">{{'OK'|translate}}</button>
								<button type="button" id="cancelEditNameButton" ng-click="vm.editGroupNameBox=false; vm.selectedSkillGroup.Name = vm.oldName; $event.stopPropagation();"
								 class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</form>