<configuration>
<system.webServer>
<security>
<authentication>
<anonymousAuthentication enabled="true"/>
<basicAuthentication enabled="false"/>
<windowsAuthentication enabled="true"/>
<digestAuthentication enabled="false"/></authentication></security>
<directoryBrowse enabled="false"/>
<httpLogging dontLog="false"/>
<defaultDocument enabled="false"/>
<handlers accessPolicy="Read, Script"/>
<staticContent enableDocFooter="false" isDocFooterFileName="true">
<clientCache cacheControlMode="NoControl"/></staticContent>
<asp enableParentPaths="false" scriptLanguage="VBScript" bufferingOn="true">
<limits scriptTimeout="00:01:30"/>
<session allowSessionState="true" timeout="00:20:00"/></asp></system.webServer>
</configuration>
