$teleopti-classic-palette: (
	50 : #edf8ff,
	100 : #d1edff,
	200 : #b3e1ff,
	300 : #94d4ff,
	400 : #7dcbff,
	500 : #66c2ff,
	600 : #5ebcff,
	700 : #53b4ff,
	800 : #49acff,
	900 : #389fff,
	A100 : #ffffff,
	A200 : #ffffff,
	A400 : #e1f0ff,
	A700 : #c8e3ff,
	contrast:
		(
			50 : #000000,
			100 : #000000,
			200 : #000000,
			300 : #000000,
			400 : #000000,
			500 : #000000,
			600 : #000000,
			700 : #000000,
			800 : #000000,
			900 : #000000,
			A100 : #000000,
			A200 : #000000,
			A400 : #000000,
			A700 : #000000
		)
);
