$teleopti-classic-palette: (
	50: #e2f0fa,
	100: #b6daf3,
	200: #85c2eb,
	300: #54a9e2,
	400: #2f96dc,
	500: #0a84d6,
	600: #097cd1,
	700: #0771cc,
	800: #0567c6,
	900: #0354bc,
	A100: #e5efff,
	A200: #b2cfff,
	A400: #7fafff,
	A700: #65a0ff,
	contrast:
		(
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #ffffff,
			500: #ffffff,
			600: #ffffff,
			700: #ffffff,
			800: #ffffff,
			900: #ffffff,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000
		)
);
