/**
	This file is ONLY for overriding non-themable global ant styles.
**/
html {
	font-size: 13px;
}

h1 {
	font-size: 1.5rem;
	font-weight: 500;
}
h2 {
	font-size: 1.138rem;
	font-weight: 700;
}
h3 {
	font-size: 1.067rem;
	font-weight: 700;
}
h4 {
	font-size: 1rem;
	font-weight: 700;
}
h5 {
	font-size: 0.937rem;
	font-weight: 700;
	text-transform: uppercase;
}
h6 {
	font-size: 0.937rem;
	font-weight: 400;
	text-transform: uppercase;
}

a:focus {
	text-decoration: none;
}

/** This is to remove the extraneous 8px horizontal padding on ant table headers **/
.ant-table > .ant-table-content > .ant-table-body {
	margin: 0;
}

// Make all normal inputs look like ant inputs
input[type='text'],
input[type='number'],
input[type='password'],
input[type='time'],
select {
	&:not([class*='ant']) {
		.input();
	}
}

.angular-theme-dark {
	.general-audit-trail {
		.table-data-row {
			background: #424242;
		}

		tr:nth-child(4n + 1) {
			background: #333333;
		}

		tr:nth-child(4n + 2) {
			background: #333333;
		}
	}
}

.angular-theme-classic {
	.general-audit-trail {
		.table-data-row {
			background: #ffffff;
		}

		tr:nth-child(4n + 1) {
			background: #fbfbfb;
		}

		tr:nth-child(4n + 2) {
			background: #fbfbfb;
		}
	}
}

//Remove the selected day cell style in nz-datepicker under bank holiday calendar setting module because we have a customized style for the selected date cells
.bank-holiday-calendar-datepicker .ant-calendar-selected-day .ant-calendar-date {
	background: inherit;
}

.bank-holiday-calendar-datepicker .ant-calendar-selected-day.ant-calendar-disabled-cell .ant-calendar-date {
	background: #f5f5f5;
}

.bank-holiday-delete-year-tab-modal .ant-modal-header {
	border: none;
}
.bank-holiday-delete-year-tab-modal .ant-modal-body {
	height: 0;
	padding: 0;
	border: none;
}

//Hide input close icon when value is empty
//Link https://github.com/NG-ZORRO/ng-zorro-antd/issues/2823
//Remove this when updated to new ng-zorro-antd release which will fix this problem.
nz-select.select-input-is-empty .ant-select-selection:hover .ant-select-selection__clear {
	display: none;
	opacity: 0;
}
