/**
	This file is for configuring ant styles that are common to both themes.
**/

@import './ant_custom';

@font-family-no-number : "Open Sans", sans-serif;
@font-family : @font-family-no-number;
@code-family : Consolas, Menlo, Courier, monospace;
@font-size-base : 13px;
@font-size-lg : @font-size-base + 2px;
@font-size-sm : 12px;

// Pagination
@pagination-font-family: @font-family-no-number;

// Don't show ":" after every form label
@form-item-trailing-colon: false;
