@import './ant_custom';

@font-family-no-number : "Open Sans", sans-serif;
@font-family : @font-family-no-number;
@code-family : Consolas, Menlo, Courier, monospace;
@font-size-base : 13px;
@font-size-lg : @font-size-base + 2px;
@font-size-sm : 10px;

// Pagination
@pagination-font-family: @font-family-no-number;
