/**
	This file is only for configuring ant classic theme. Only global styles.
**/
@import '../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less';
@import './ant_common';
@import './colors';

@telop-text-secondary: #666666;

@primary-color: @telop-blue;
@info-color: @telop-blue;
@success-color: @telop-success;
@processing-color: @telop-blue;
@error-color: #e72e2e;
@highlight-color: @red-6;
@normal-color: #d9d9d9;

@body-background: @telop-white;
@component-background: #fff; // Base background color for most components

@heading-color: @telop-dark-blue;

@text-color: @telop-black;
@text-color-secondary: @telop-text-secondary;
