/**
	This file is for defining colors.
**/
@telop-blue: #0099ff;
@telop-pink: #fe96bb;
@telop-yellow: #fdc64d;
@telop-light-blue: #e3faff;
@telop-dark-blue: #294766;

@telop-dimmed-blue: #0a84d6;
@telop-dimmed-pink: #d689a5;
@telop-dimmed-yellow: #d4a94a;
@telop-dimmed-light-blue: #c9d4d6;
@telop-dimmed-dark-blue: #1c2c3d;

@telop-black: #333333;
@telop-white: #fcfcfc;

@telop-success: #02ce7c;
