<div class="view-header">
	<div class="view-title">
		<h1><i class="mdi mdi-source-fork"></i> {{ 'BpoExchange' | translate }}</h1>
	</div>
</div>
<div ng-cloak class="con-row" ng-if="vm.data">
	<div class="con-flex">
		<div class="gant-wrap">
			<div class="panel">
				<div class="sub-header">
					<h2>{{ 'ImportBpoImportInformationHeader' | translate }} {{ vm.localSkillName }}</h2>
				</div>
				<div class="con-flex">
					<the-skill-picker
						skills="vm.skills"
						skill-groups="vm.allSkillAreas"
						on-skill-selected="vm.selectedSkillChange(skill)"
						on-skill-group-selected="vm.selectedAreaChange(skillGroup)"
						preselected-skill="vm.selectedSkill"
						on-clear-skill-group-selection="vm.clearSelectedSkillGroup()"
						on-clear-skill-selection="vm.clearSelectedSkill()"
						preselected-skill-group="vm.selectedSkillArea"
					>
					</the-skill-picker>
				</div>
				<div style="text-align: center">{{ 'ImportBpoFileImportDateInformation' | translate }}</div>
				<div class="con-row">
					<div class="con-flex">
						<div
							style="max-width: 1660px; overflow: hidden; margin: 0 auto;"
							gantt
							data="vm.data"
							from-date="vm.gantData.FromDate"
							to-date="vm.gantData.ToDate"
						>
							<gantt-tooltips
								enabled="true"
								content="'<b>{{task.model.firstname}} {{task.model.lastname}}</b> {{task.model.tooltipimported}}</br> <i>{{task.model.name}}</i></br>{{task.model.tooltipat}} <b>{{task.model.tooltipimporttime}}</b>'"
							></gantt-tooltips>
							<gantt-table enabled="true"> </gantt-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div></div>
<wfm-card-list>
	<wfm-card staffing-test-bpo-import>
		<card-header tabindex="-1">
			<div tabindex="0">
				<span> <i class="mdi" ng-class="item.title"></i> </span> <b> {{ 'ImportStaffing' | translate }}</b>
				<span class="chevron"> <i class="mdi mdi-chevron-right"></i> </span>
			</div>
		</card-header>
		<card-body class="panel">
			<div class="con-row">
				<div class="con-flex">
					<div class="import-people">
						<div class="dialog">
							<!-- <staffing-import-data></staffing-import-data> -->
							<div class="wfm-block">
								<div
									ngf-drop
									ngf-select
									class="drop-box"
									ngf-allow-dir="false"
									ngf-pattern="'.csv'"
									ngf-accept="text/csv"
									ngf-change="vm.checkValid($files)"
									ngf-model-options="{allowInvalid: true}"
								>
									{{ 'DragAndDropCSVFilesHereOrClickToUpload' | translate }}
								</div>
								<div class="import-file-template">
									{{ 'ReferToFileTemplate' | translate }}
									<a href="" ng-click="vm.getFileTemplate()">{{ 'Here' | translate }}</a>
								</div>
								<div>{{ vm.Message }}</div>
								<md-progress-linear
									ng-show="vm.isProcessing"
									md-mode="indeterminate"
								></md-progress-linear>
								<div ng-show="vm.isSuccessful">
									<div class="alert-success notice-spacer">
										<i class="mdi mdi-thumb-up"
											>{{ vm.fileName }} - {{ 'SuccessfullyImported' | translate }}</i
										>
									</div>
								</div>
								<div ng-show="vm.isFailed" class="alert-error notice-spacer">
									<h3><i class="mdi mdi-alert-octagon"></i> {{ 'TheImportFailed' | translate }}</h3>
									<div class="alert-warning notice-spacer">
										<ul ng-repeat="error in vm.errors">
											<li><i class="mdi mdi-information"></i> {{ error }}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</card-body>
	</wfm-card>
	<wfm-card staffing-test-bpo-export>
		<card-header tabindex="-1">
			<div tabindex="0">
				<b>{{ 'ExportGap' | translate }}</b>
				<span class="chevron"> <i class="mdi mdi-chevron-right"></i> </span>
			</div>
		</card-header>
		<card-body class="panel">
			<div class="con-row ">
				<div class="con-flex">
					<the-skill-picker
						skills="vm.skills"
						skill-groups="vm.allSkillAreas"
						on-skill-selected="vm.selectedSkillChange(skill)"
						on-skill-group-selected="vm.selectedAreaChange(skillGroup)"
						preselected-skill="vm.selectedSkill"
						preselected-skill-group="vm.selectedSkillArea"
						on-clear-skill-selection="vm.selectedSkillChange(null)"
						on-clear-skill-group-selection="vm.selectedAreaChange(null)"
					>
					</the-skill-picker>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">{{ vm.ExportBpoPeriodMessage }}</div>
			</div>
			<div class="con-row">
				<div class="con-flex"><wfm-date-range-picker ng-model="vm.exportPeriod"></wfm-date-range-picker></div>
				<div class="con-flex">
					<div class="text-warning">{{ vm.ErrorMessage }}</div>
				</div>
				<div class="con-footer">
					<button
						class="wfm-btn wfm-btn-invis-primary"
						ng-click="vm.exportFile()"
						ng-disabled="vm.disableNewSkillSelectorWithToggle()"
					>
						{{ 'ExportToFile' | translate }}
					</button>
				</div>
			</div>
		</card-body>
	</wfm-card>
	<wfm-card staffing-test-bpo-remove>
		<card-header tabindex="-1">
			<div tabindex="0">
				<b>{{ 'ClearBPOHeader' | translate }}</b>
				<span class="chevron"> <i class="mdi mdi-chevron-right"></i> </span>
			</div>
		</card-header>
		<card-body class="panel">
			<div class="con-row ">
				<div class="con-flex">
					<md-select
						ng-model="vm.selectedBpo"
						placeholder="{{ 'ImportBpoSelectBpo'|translate}}"
						ng-change="vm.GetRangeMessage()"
					>
						<md-option ng-repeat="bpo in vm.activeBpos" ng-value="bpo.Id">
							<span ng-bind="bpo.Source"></span>
						</md-option>
					</md-select>
				</div>
			</div>
			<div class="con-row ">
				<div class="con-flex">{{ vm.RangeMessage }}</div>
			</div>
			<div class="con-row ">
				<div class="con-flex ">
					<wfm-date-range-picker ng-model="vm.bpoClearPeriod "></wfm-date-range-picker>
				</div>
				<div class="con-flex ">
					<md-progress-linear ng-show="vm.isProcessing" md-mode="indeterminate "></md-progress-linear>
					<div ng-show="vm.isSuccessfulRemove && vm.selectedBpo === null">
						<div class="alert-success notice-spacer ">
							<i class="mdi mdi-thumb-up">{{ vm.ClearSuccessMessage }}</i>
						</div>
					</div>
					<div ng-show="vm.noSuccessfulRemove" class="alert-error notice-spacer ">
						<h3><i class="mdi mdi-alert-octagon"></i> {{ 'ImportBpoTheClearBPOFailed' | translate }}</h3>
						<div class="alert-warning notice-spacer">{{ vm.ClearErrorMessage }}</div>
					</div>
				</div>
				<div class="con-footer ">
					<button
						class="wfm-btn wfm-btn-invis-primary"
						ng-click="confirmRemoveBpo=true"
						ng-disabled="vm.selectedBpo === null || vm.bpoClearPeriod.startDate === null || vm.bpoClearPeriod.endDate === null"
					>
						{{ 'Remove' | translate }}
					</button>
					<div ng-cloak class="modal-box">
						<div ng-cloak ng-show="confirmRemoveBpo">
							<div class="modalbg">
								<div class="dialog-mini material-depth-1">
									<div class="modal-inner-content">
										<div>{{ vm.RangeMessage }}</div>
										<div>{{ 'ImportBpoClearConfirmation' | translate }}</div>
									</div>
									<div class="modal-actions">
										<aside>
											<button
												ng-click="vm.clearBpoPeriod(); confirmRemoveBpo=false"
												class="wfm-btn wfm-btn-invis-default"
											>
												Yes
											</button>
											<button
												ng-click="confirmRemoveBpo=false"
												class="wfm-btn wfm-btn-invis-primary"
											>
												No
											</button>
										</aside>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</card-body>
	</wfm-card>
</wfm-card-list>
