<div class="container person-schedule">
    <div class="row">
        <div class="span12 page-header">
            <h1>
                <span data-bind="text: Name"></span>
                <small>
                    <span data-bind="text: Site"></span>
                    \ 
                    <span data-bind="text: Team"></span>
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <form action="#">
                <div class="btn-group">
                    <a class="btn btn-large add-full-day-absence" href="#" data-bind="click: AddFullDayAbsence"><i class="icon-plus"></i> <span data-bind="text: Resources.AddFullDayAbsence"></span></a>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="span12">
			
            <div class="relative">
				
                <!-- ko with: TimeLine -->
                <div class="time-line absolute">
                    <div class="relative">
                        <!-- ko foreach: Times -->
                        <div class="ruler absolute" data-bind="style: { left: Pixel() + 'px' }"></div>
                        <div class="label label-info absolute" data-bind="style: { left: (Pixel() - 13) + 'px' }, text: Time"></div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->

                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="schedule-row">
                            <td class="relative shift">
                                <!-- ko foreach: Layers -->
                                <div class="layer absolute" data-bind="
								style: { 
									left: StartPixels() + 'px', 
									width: LengthPixels() + 'px', 
									backgroundColor: Color()
								},
								attr: { 
									'data-start-time': StartTime,
									'data-length-minutes': LengthMinutes,
								}
								"></div>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
				
            </div>

        </div>
    </div>
    
     <!-- ko if: AddingFullDayAbsence -->
    <div class="row">
        <div class="span12 ">
            <div class="well well-large">
                <div class="row-fluid">
                    <div class="span12">
                        <form action="#" class="full-day-absence-form"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>