<div class="campaign-cammands clearfix text-right">
	<div class="manual-input-container material-depth-1" ng-show="vm.manualPlanSwitch">
		<div class="error-msg-container  alert-warning notice-spacer gantt-alert-message"
			  ng-show="vm.showDateSelectionHint() && vm.isPlanTryingDoAction()">
			<i class='mdi mdi-alert'></i>
			<span translate>SelectDateInChart</span>
		</div>
		<label for="ManualPlanInput" translate>ManualPlan</label><span> ({{ vm.selectedDates.length }})</span>
		<input id="ManualPlanInput"
			   type="text"
			   ng-model="vm.manualPlanInput"
			   numeric-value  min="0" float-number />
		<div class="manual-input-btns" ng-init="vm.showFirstAlertMessage=false">
			<button class="wfm-btn btn-sm wfm-btn-invis-primary btn-save-plan"
					ng-click="vm.addManualPlan()"
					ng-disabled="!vm.validManualProductionPlan()"
					ng-class="{'wfm-btn-invis-disabled': !vm.validManualProductionPlan()}"
					translate>
				Save
			</button>
			<button class="wfm-btn btn-sm wfm-btn-invis-primary"
					ng-click="vm.removeManualPlan()"
					translate>
				Reset
			</button>
		</div>
	</div>
	<div class="manual-input-container material-depth-1" ng-show="vm.manualBacklogSwitch">
		<div class="error-msg-container  alert-warning notice-spacer gantt-alert-message"
			  ng-show="vm.showDateSelectionHint() && vm.isBacklogTryingDoAction()">
			<i class='mdi mdi-alert'></i>
			<span translate>SelectDateInChart</span>
		</div>
		<label for="ActualBacklogInput" translate>AddBacklog</label><span> ({{ vm.selectedDates.length }})</span>
		<input id="ActualBacklogInput"
			   type="text"
			   ng-model="vm.manualBacklogInput"
			   numeric-value min="0" float-number />
		<div class="manual-input-btns" ng-init="vm.showSecondAlertMessage = false">
			<button class="wfm-btn btn-sm wfm-btn-invis-primary btn-save-backlog"
					ng-click="vm.addManualBacklog()"
					ng-disabled="!vm.validManualBacklog()"
					ng-class="{'wfm-btn-invis-disabled': !vm.validManualBacklog()}"
					translate>
				Save
			</button>
			<button class="wfm-btn btn-sm wfm-btn-invis-primary"
					ng-click="vm.removeManualBacklog()"
					translate>
				Reset
			</button>
		</div>
	</div>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-ignore-schedules"
			ng-if="vm.isToggleScheduleDatesEnabled() && vm.showIgnoreSchedulesButton()"
			ng-disabled="!vm.enableIgnoreSchedule()"
			ng-click="vm.ignoreSchedules()">
		<span translate>IgnoreSchedules</span>
	</button>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-show-all-schedules"
			ng-if="vm.isToggleScheduleDatesEnabled() && !vm.showIgnoreSchedulesButton()"
			ng-click="vm.showAllSchedules()">
		<span translate>ShowAllSchedules</span>
	</button>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-toggle-manual-plan"
			ng-click="vm.toggleManualPlan()">
		<span translate ng-show="!vm.manualPlanSwitch">ManualPlan</span>
		<span translate ng-show="vm.manualPlanSwitch">Cancel</span>
	</button>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-toggle-manual-backlog"
			ng-click="vm.toggleManualBacklog()">
		<span translate ng-show="!vm.manualBacklogSwitch">AddBacklog</span>
		<span translate ng-show="vm.manualBacklogSwitch">Cancel</span>
	</button>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-replan"
			ng-click="vm.replan()"
			translate>
		Replan
	</button>
	<button class="wfm-btn wfm-btn-invis-primary inline-block btn-goto-edit-campaign"
			ng-click="vm.gotoEditCampaign()"
			translate>
		Edit
	</button>
</div>