<div class="view-header">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-phone-forward"></i>
			<span translate>EditCampaign</span>
		</h1>
	</div>
</div>

<div class="test-campaign-edit" ng-show="isCampaignLoaded()">

	<div class="panel material-depth-1">
		<button class="wfm-btn wfm-btn-invis-default back-to-overview" ng-click="backToList()" ng-disabled="isCreating">
			<i class="mdi mdi-reply"></i>
			<md-tooltip md-direction="right">{{'BackToList' | translate}}</md-tooltip>
		</button>

		<form name="form" class="wfm-form">
			<div class="con-row">
				<div class="con-flex">
					<dl>
						<dd>
							<h2 translate>Campaign</h2>
							<div class="form-input-wrap">
								<label for="name">
									<span translate>Name</span>:
									<input type="text" ng-model="campaign.Name" name="Name" required="" id="name" ng-minlength="1" ng-maxlength="50" ng-disabled="isEditing"
									/>
								</label>
								<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.Name.$touched">
									<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}">{{ 'YouCannotHaveABlankName' | translate }}</div>
									<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.maxlength}">{{'NameCantBeMoreThan'|translate}}</div>
								</div>
							</div>
							<div class="form-input-wrap">
								<label>
									<span translate>Activity</span>:
								</label>
								<activity-picker ng-model="campaign.Activity" name="Activity" sync-name="{{campaign.Name}}" class="custom-input"></activity-picker>
							</div>
							<h2 translate>Workload</h2>
							<div class="row">
								<div class="row-6">
									<div class="form-input-wrap">
										<label for="callList">
											<span translate>CallListLength</span>:
											<input type="text" ng-model="campaign.CallListLen" placeholder="{{ 'LargeValueRange' | translate }}" name="CallListLen" required=""
											 id="callList" numeric-value min="0" max="1000000" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.CallListLen.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.CallListLen.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.CallListLen.$error.range}">{{'LargeValueRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.CallListLen.$error.required&&form.CallListLen.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label for="targetRate">
											<span translate>TargetRate</span>:
											<input type="text" ng-model="campaign.TargetRate" placeholder="{{ 'RateRange' | translate }}" name="TargetRate" required=""
											 id="targetRate" numeric-value min="1" max="100" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.TargetRate.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.TargetRate.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.TargetRate.$error.range}">{{'RateRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.TargetRate.$error.required&&form.TargetRate.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label for="connectRate">
											<span translate>ConnectRate</span>:
											<input type="text" ng-model="campaign.ConnectRate" placeholder="{{ 'RateRange' | translate }}" name="ConnectRate" required=""
											 id="connectRate" numeric-value min="1" max="100" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.ConnectRate.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.ConnectRate.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.ConnectRate.$error.range}">{{'RateRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.ConnectRate.$error.required&&form.ConnectRate.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label for="RPCR">
											<span translate>RPCR</span>:
											<input type="text" ng-model="campaign.RightPartyConnectRate" placeholder="{{ 'RateRange' | translate }}" name="RightPartyConnectRate"
											 required="" id="RPCR" numeric-value min="1" max="100" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.RightPartyConnectRate.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.RightPartyConnectRate.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.RightPartyConnectRate.$error.range}">{{'RateRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.RightPartyConnectRate.$error.required&&form.RightPartyConnectRate.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
								</div>
								<div class="row-6">
									<div class="form-input-wrap">
										<label for="cAHT">
											<span translate>ConnectAHT</span>:
											<input type="text" ng-model="campaign.ConnectAverageHandlingTime" placeholder="{{ 'ValueRange' | translate }}" name="ConnectAverageHandlingTime"
											 required="" id="cAHT" numeric-value min="0" max="9999" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.ConnectAverageHandlingTime.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.ConnectAverageHandlingTime.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.ConnectAverageHandlingTime.$error.range}">{{'ValueRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.ConnectAverageHandlingTime.$error.required&&form.ConnectAverageHandlingTime.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label for="rpcAHT">
											<span translate>RPCAHT</span>:
											<input type="text" ng-model="campaign.RightPartyAverageHandlingTime" placeholder="{{ 'ValueRange' | translate }}" name="RightPartyAverageHandlingTime"
											 required="" id="rpcAHT" numeric-value min="0" max="9999" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.RightPartyAverageHandlingTime.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.RightPartyAverageHandlingTime.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.RightPartyAverageHandlingTime.$error.range}">{{'ValueRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.RightPartyAverageHandlingTime.$error.required&&form.RightPartyAverageHandlingTime.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label for="unproductive">
											<span translate>UnproductiveTime</span>:
											<input type="text" ng-model="campaign.UnproductiveTime" placeholder="{{ 'ValueRange' | translate }}" name="UnproductiveTime"
											 required="" id="unproductive" numeric-value min="0" max="9999" ng-disabled="isEditing" />
										</label>
										<div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.UnproductiveTime.$touched">
											<div class="form-input-message" ng-class="{formInvalidInput:form.UnproductiveTime.$error.required}">{{ 'Required' | translate }}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:form.UnproductiveTime.$error.range}">{{'ValueRange'|translate}}</div>
											<div class="form-input-message" ng-class="{formInvalidInput:!form.UnproductiveTime.$error.required&&form.UnproductiveTime.$error.number}">{{'InvalidNumber'|translate}}</div>
										</div>
									</div>
									<div class="form-input-wrap">
										<label>
											<strong translate>NeededPersonHours</strong>:
										</label>
										<p><strong>{{estimatedWorkload | showTimespan }}</strong></p>
									</div>
								</div>
							</div>
						</dd>
					</dl>
				</div>
				<div class="con-flex split-3-1">
					<dl>
						<dd>
							<h2 translate>OpenHours</h2>
							<div class="form-input-wrap">
								<working-hours-picker max-hours-range="24" working-hours="campaign.WorkingHours" ng-disabled="isEditing" ng-click="checkIsWorkingHoursValid()"></working-hours-picker>
								<div class="animate-input-message" ng-show="isFormValidForPage&&!isWorkingHoursValidForPage">
									<div class="form-input-message invalidWorkingHours" ng-class="{formInvalidInput:!validWorkingHours()}">{{ 'Required' | translate }}</div>
								</div>
							</div>
							<h2 translate>Duration</h2>
							<div class="form-input-wrap">
								<date-range-picker ng-model="campaign.SpanningPeriod"></date-range-picker>
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<div class="con-footer">
				<button class="wfm-btn test-campaign-edit-submit" ng-click="editCampaign()" ng-class="{'wfm-btn-invis-disabled': !isInputValid(), 'wfm-btn-invis-primary': isInputValid()}">
					<span translate>Save</span>
				</button>
				<button class="wfm-btn wfm-btn-invis-primary" ng-click="reset()">
					<span translate>Reset</span>
				</button>
				<button class="wfm-btn wfm-btn-invis-primary test-delete-campaign" ng-click="removeCampaign()">
					<span translate>Delete</span>
				</button>
			</div>
		</form>
	</div>

	<div ng-cloak class="modal-box">
		<div ng-cloak ng-show="showRemoveCampaignConfirmDialog">
			<div class="modalbg">
				<div class="dialog">
					<h1 class="modal-title" translate>
						DeleteCampaign
					</h1>
					<div class="modal-inner-content">
						<div class="wfm-block">
							<span translate>ConfirmDeleteCampaign</span>
						</div>
					</div>
					<div class="modal-actions">
						<aside>
							<button ng-click="cancelRemoveCampaign()" class="wfm-btn wfm-btn-invis-default" translate>Cancel</button>
							<button ng-click="remove()" class="wfm-btn wfm-btn-invis-primary test-confirm-delete" translate>Delete</button>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>