<div class="container body-content" ng-controller="statusController as vm">
	<h2>Manage Custom Status Steps</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Custom Status Steps</strong></div>
	
				<div class="panel-body text-container">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Limit (s)</th>
								<th>Ping url</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="step in vm.statusSteps">
								<td>{{step.name}}</td>
								<td>{{step.description}}</td>
								<td>{{step.limit}}</td>
								<td>{{step.pingUrl}}</td>
								<td><input type="button" value="Delete" ng-if="step.canBeDeleted"/></td>
							</tr>
							<tr>
								<td><input type="text" ng-model="vm.newStatusStep.name" /></td>
								<td><input type="text" ng-model="vm.newStatusStep.description"/></td>
								<td><input type="text" ng-model="vm.newStatusStep.limit"/></td>
								<td></td>
								<td><input type="button" value="Add" ng-click="vm.storeNew()" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>