.ui-page {-webkit-backface-visibility: hidden;}
 
body.ui-mobile-viewport {
    background: #f7fbfc url(../images/body_bg.jpg) top center no-repeat !important;
}

div.ui-page{ background-image: none;background-color: transparent;}

h1{ font-size: 1em;}
.custom-image{ max-width: 100%; }
.center-wrapper{ text-align: center;}   /* Center align children (applies to all children) */
.center-wrapper *{ margin: 0 auto;}     /* Center aligns all children */
.right-wrapper{ text-align: right;}     /* Right-adjust elements inside. Children must be inline/inline-block. */
.error{ color: #d74040;}

.ui-field-contain{ padding: 0.3em 0;}
.ui-field-contain p{ margin: 0;} /* p-tags inside li-list*/
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li{ padding: 0.5em 15px;}
.ui-li:last-child, .ui-li.ui-field-contain:last-child{ border-bottom: 0px;}

.mt0{ margin-top: 0 !important;}
.pd0{ padding: 0 !important;}
.pdr0{ padding-right: 0 !important;}
.pdl0{ padding-left: 0 !important;}

/* Overall look */
.ui-content{ padding: 8px;}
ul.ui-listview .ui-body-c{ background-image: none;background-color: transparent;} /*Transparent behind legend*/
ul.ui-listview-inset .ui-body-c, .ui-dialog .ui-content{ background-color: #fdfdfe;} /* white behind formcontrols*/
.ui-li-desc{ margin-top: 0;}

/* Forms */
.ui-btn-icon-left.icon-only .ui-btn-inner{ padding-left: 10px;}
.ui-btn-icon-right.icon-only .ui-btn-inner{ padding-right: 10px;}

/* Special login styles */
#application-signin .ui-li .ui-btn-inner a.ui-link-inherit, #application-signin .ui-li-static.ui-li{ padding: 0 15px; }
#application-signin .ui-field-contain{ padding-top: 0.4em;padding-bottom: 0.4em;}


/* Tables */
table { width:100%; border-spacing: 0; }
table tr{ background-color: #fafafa;}
table tr td:first-child, table tr th:first-child{ padding-left: 15px;}
table tr:nth-child(2n){ background-color: #fff;}

table thead th {
    border-top: 1px solid #fbfbfb;
    text-align:left;
    background-color: #F0F0F0;
    border-bottom-width:1px; 
    border-top-width:1px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: bold;
}
table th, td { text-align:left; padding:5px;font-size: 12px;font-weight: normal;} 

/* Hide labels */
@media all and (max-width: 450px){
	.ui-field-contain label.ui-input-text, 
	.ui-field-contain label.ui-select, 
	.ui-field-contain div.ui-controlgroup-label { display: none; }
}