<div class="permissions">
	<div class="row">
		<div class="col-lg-12">
			<h4 translate>ManagePermissions</h4>
			<p translate>ManagePermissionsIntro</p>
		</div>
	</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="role-nav material-depth-2 container-block">
					<div class="wfm-block sub-header" translate>Roles</div>
					<div class="wfm-block">
						<form ng-submit="createRole(); reset()">
							<div class="input-prepend">
								<i class="mdi mdi-plus"></i>
								<input type="text" ng-model="roleName" placeholder="{{'CreateNewRole' | translate}}" class="role-input role" />
							</div>
						</form>
					</div>
					<div class="wfm-block">
						<div class="input-prepend">
							<i class="mdi mdi-filter-outline"></i>
							<input type="text" name="filterRole" ng-model="searchRoles.DescriptionText" placeholder="{{'RoleFilterThreeDots' | translate}}" />
						</div>
					</div>

					<div id="searchRoleResults">
						<ul class="wfm-list roles-list">
							<li ng-repeat="role in roles | filter:searchRoles" ng-click="showRole(role.Id)" ng-dblclick="editing = true" ng-class="{'active': role.Id==selectedRole}" class="role-btn wfm-block wfm-list-item role">
								<div class="wfm-leave-behind">
									<span>
										<i ng-click="copyRole(role.Id)" class="mdi mdi-content-copy">
											<md-tooltip>
												{{'Copy' | translate}}
											</md-tooltip>
										</i>
										<i ng-click="editing = true" class="mdi mdi-pencil">
											<md-tooltip>
												{{'Edit' | translate}}
											</md-tooltip>
										</i>
										<i ng-click="removeRole(role, $index)" class="mdi mdi-delete">
											<md-tooltip>
												{{'Delete' | translate}}
											</md-tooltip>
										</i>
									</span>
								</div>
								<span ng-hide="editing">{{role.DescriptionText}}</span>
								<form ng-show="editing" ng-submit="editing = false; updateRole(role)">
									<input type="text" class="inline-role-name" ng-model="role.DescriptionText" placeholder="{{'Name' | translate}}" ng-required />
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<div class="col-lg-8">
				<article class="tab-group material-depth-2">
					<input type="radio" name="perms-tabs" ng-model="roleDetails" ng-value="'functionsAvailable'" id="tab-1" />
					<label class="label" for="tab-1" translate>
						Functions
					</label>

					<section>
						<div class="tab-container functions-container animate-show" ng-show="roleDetails=='functionsAvailable'" >
								<div class="row toolbar">
									<div class="col-md-8">
										<div class="input-prepend">
											<i class="mdi mdi-filter-outline"></i>
											<input type="text" name="filterDetails" ng-model="searchPermissions" placeholder="{{'PermissionsFilterThreeDots' | translate}}" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="wfm-switch permissions-tree-switch">
											<input type="checkbox" id="switch1" ng-model="checked" ng-click="node.show = true" />
											<label for="switch1">
												<span class="wfm-switch-label" translate>SelectedItems</span>
												<span class="wfm-switch-toggle"></span>
											</label>
										</div>

										<div class="wfm-switch permissions-tree-switch">
											<input type="checkbox" id="switch2" />
											<label for="switch2">
												<span class="wfm-switch-label" translate>NotSelectedItems</span>
												<span class="wfm-switch-toggle"></span>
											</label>
										</div>
									</div>
								</div>

								<div class="tree permissions-tree">
									<div ui-tree data-drag-enabled="false">
										<ol ui-tree-nodes="" ng-model="functionsDisplayed" id="tree-root" class="tree-line" toggle-focus>
											<li ng-repeat="node in functionsDisplayed | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'"></li>
										</ol>
									</div>
								</div>
						</div>
					</section>
					<input type="radio" name="perms-tabs" ng-model="roleDetails" ng-value="'dataAvailable'" id="tab-2" />
					<label class="label" for="tab-2" translate>
						Data
					</label>
					<section>
						<div class="tab-container data-container animate-show" ng-show="roleDetails=='dataAvailable'">
							<div class="toolbar">
								<div class="row">
									<div class="col-md-8">
										<div class="input-prepend">
											<i class="mdi mdi-filter-outline"></i>
											<input type="text" name="filterDetails" ng-model="searchData" placeholder="{{'DataFilterThreeDots' | translate}}" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="wfm-switch permissions-tree-switch">
											<input type="checkbox" id="switch3" />
											<label for="switch3">
												<span class="wfm-switch-label" translate>SelectedItems</span>
												<span class="wfm-switch-toggle"></span>
											</label>
										</div>
										<div class="wfm-switch permissions-tree-switch">
											<input type="checkbox" id="switch4" />
											<label for="switch4">
												<span class="wfm-switch-label" translate>NotSelectedItems</span>
												<span class="wfm-switch-toggle"></span>
											</label>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<label translate>AddGlobalAuthorizationLabel</label>
										<md-select placeholder="Pick" ng-model="dynamicOptionSelected" ng-change="changeOption(dynamicOptionSelected)">
											<md-option ng-repeat="dynamic in organization.DynamicOptions" ng-value="dynamic.RangeOption">{{dynamic.Name}}</md-option>
										</md-select>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<label translate>AddSpecificAuthorizationLabel</label>
									</div>
								</div>
							</div>
							<div class="tree permissions-tree">

								<div ui-tree data-drag-enabled="false">
									<ol ui-tree-nodes="" ng-model="organization.BusinessUnit" id="tree-root" class="tree-line">
										<li ng-repeat="node in organization.BusinessUnit | filter:searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'"></li>
									</ol>
								</div>
							</div>
						</div>
					</section>
				</article>
			</div>
		</div>
	</div>




<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div class="tree-toggle-group">
		<div class="toggle-handle" ng-class="{open: node.show}" ng-click="node.show = !node.show"><i ng-show="node.ChildFunctions.length > 0" class="mdi mdi-chevron-right"></i></div>
		<div ui-tree-handle class="ui-tree-handle" ng-class="{selected: node.selected}" ng-click="toggleFunctionForRole(node)" ng-hide="checked">
			{{node.LocalizedFunctionDescription}}
			<span><i class="mdi mdi-check"></i></span>
		</div>
	</div>

	<ol ui-tree-nodes="" ng-model="node.ChildFunctions" ng-show="node.show">
		<li ng-repeat="node in node.ChildFunctions | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_bu_renderer.html">
	<div class="tree-toggle-group">
		<div class="toggle-handle" ng-class="{open: node.show}" ng-click="node.show = !node.show"><i ng-show="node.ChildNodes.length > 0" class="mdi mdi-chevron-right"></i></div>
		<div ui-tree-handle class="ui-tree-handle" ng-class="{selected: node.selected}" ng-click="toggleOrganizationSelection(node)" ng-hide="checked">
			{{node.Name}}
			<span><i class="mdi mdi-check"></i></span>
		</div>
	</div>

	<ol ui-tree-nodes="" ng-model="node.ChildNodes" ng-show="node.show">
		<li ng-repeat="node in node.ChildNodes | filter:searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'">
		</li>
	</ol>
</script>
