<div >
	<h4>Permissions</h4>
	<p>Here you can decide who is allowed to access specific parts of the application</p>

	<div class="role-nav col-md-4 material-depth-1 container-block">
		<div class="wfm-block sub-header">Roles</div>
		<div class="wfm-block">
			<form ng-submit="createRole(); reset()">
				<div class="input-prepend">
					<i class="mdi mdi-magnify"></i>
					<input type="text" ng-model="roleName" placeholder="Create new role" class="role-input role" />
				</div>
			</form>
			
			<div class="input-prepend">
				<i class="mdi mdi-magnify"></i>
				<input type="text" name="filterRole" ng-model="searchRoles.DescriptionText" placeholder="Role filter ..." />
			</div>
		</div>
		<div id="searchRoleResults" class="role-container">
			<ul class="wfm-list">
				<li ng-repeat="role in roles | filter:searchRoles" ng-click="showRole(role.Id)" ng-dblclick="editing = true" ng-class="{'wfm-list-item-selected': role.Id==selectedRole}" class="role-btn wfm-block wfm-list-item material-depth-1 role">
					<div class="wfm-leave-behind">
						<span>
							<i ng-click="copyRole(role.Id)">
								<svg style="width:18px;height:18px" viewBox="0 0 24 24">
									<path fill="#555555" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
								</svg>
								<md-tooltip>
									Duplicate
								</md-tooltip>
							</i>
							<i ng-click="editing = true">
								<svg style="width:18px;height:18px" viewBox="0 0 24 24">
									<path fill="#555555" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
								</svg>
								<md-tooltip>
									Edit
								</md-tooltip>
							</i>
							<i ng-click="removeRole(role, $index)">
								<svg style="width:18px;height:18px" viewBox="0 0 24 24">
									<path fill="#555555" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
								</svg>
								<md-tooltip>
									Delete
								</md-tooltip>
							</i>
						</span>
					</div>
					<span ng-hide="editing">{{role.DescriptionText}}</span>
					<form ng-show="editing" ng-submit="editing = false; updateRole(role)">
						<input type="text" class="inline-role-name" ng-model="role.DescriptionText" placeholder="Name" ng-required />
					</form>
				</li>
			</ul>
		</div>
	</div>

	

	<div class="roles-details-wrapper col-md-8 material-depth-1 container-block">
		
		<article class="tab-group wfm-toggle-group">
			<input type="radio" name="perms-tabs" ng-model="roleDetails" ng-value="'functionsAvailable'" id="tab-1" />
			<label class="label" for="tab-1">
				FUNCTIONS
			</label>

			<section>
				<div class="tab-container">
					<div ng-show="roleDetails=='functionsAvailable'">
						<div class="wfm-block">
							<div class="input-prepend">
								<i class="mdi mdi-magnify"></i>
								<input type="text" name="filterDetails" ng-model="searchPermissions" placeholder="Permissions filter ..." />
							</div>
							<div class="wfm-slider">
								<input type="checkbox" id="slide1" checked="true"/>
								<label for="slide1">
									<span>selected</span>
								</label>
							</div>
							<div class="wfm-slider">
								<input type="checkbox" id="slide2" checked="true" />
								<label for="slide2">
									<span>unselected</span>
								</label>
							</div>
						</div>

						<div class="tree">
							<div ui-tree data-drag-enabled="false">
								<ol ui-tree-nodes="" ng-model="functionsDisplayed" id="tree-root" class="tree-line">
									<li ng-repeat="node in functionsDisplayed | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'"></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section>
			<input type="radio" name="perms-tabs" ng-model="roleDetails" ng-value="'dataAvailable'" id="tab-2" />
			<label class="label" for="tab-2">
				DATA
			</label>
			<section>
				<div class="tab-container">
					<div ng-show="roleDetails=='dataAvailable'">
						<div class="wfm-block">
							<div class="input-prepend">
								<i class="mdi mdi-magnify"></i>
								<input type="text" name="filterDetails" ng-model="searchData" placeholder="Data filter ..." />
							</div>
							<div class="wfm-slider">
								<input type="checkbox" id="slide3" checked="true" />
								<label for="slide3">
									<span>selected</span>
								</label>
							</div>
							<div class="wfm-slider">
								<input type="checkbox" id="slide4" checked="true" />
								<label for="slide4">
									<span>unselected</span>
								</label>
							</div>
						</div>
						
						<div class="tree">
							<div ui-tree data-drag-enabled="false">
								<ol ui-tree-nodes="" ng-model="organization.DynamicOptions" class="tree-line">
									<li ng-repeat="dynamic in organization.DynamicOptions | filter:searchData" ui-tree-node>
										<div ui-tree-handle ng-click="changeRangeOption(dynamic)" ng-class="{selected: dynamic.selected}">
											{{dynamic.Name}}
										</div>
									</li>
								</ol>
							</div>

							<div ui-tree data-drag-enabled="false">
								<ol ui-tree-nodes="" ng-model="organization.BusinessUnit" id="tree-root" class="tree-line">
									<li ng-repeat="node in organization.BusinessUnit | filter:searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'"></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section>

		</article>
		


		

		
	</div>
</div>




<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}" ng-click="toggleFunctionForRole(node)">
		{{node.LocalizedFunctionDescription}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildFunctions">
		<li ng-repeat="node in node.ChildFunctions | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_bu_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}" ng-click="toggleOrganizationSelection(node)">
		{{node.Name}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildNodes">
		<li ng-repeat="node in node.ChildNodes | filter:searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'">
		</li>
	</ol>
</script>
