<div class="container team-schedule">
    <div class="row">
        <div class="span12 nowrap">
            <select class="team-selector" data-bind="options: TeamSchedule.Teams, optionsText: 'SiteAndTeam', optionsValue: 'Id', value: TeamSchedule.SelectedTeam"></select>
            <div class="input-append date input-prepend pull-right" id="dp3" data-bind="datepicker: TeamSchedule.SelectedDate, datepickerOptions: { pullRight: true, format: Resources.MomentShortDatePattern, weekStart: Resources.FirstDayOfWeek, autoclose: true }">
                <button class="btn" data-bind="attr: {title: Resources.Previous}, click: TeamSchedule.PreviousDay"><i class="icon-chevron-left"></i></button>
                <input class="input-small" size="16" type="text" readonly="readonly"/>
                <span class="add-on"><i class="icon-calendar"></i></span>
                <button class="btn" data-bind="attr: {title: Resources.Next}, click: TeamSchedule.NextDay"><i class="icon-chevron-right"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div data-bind="visible: TeamSchedule.isLoading"><span data-bind="text: Resources.LoadingThreeDots"></span></div>
            <div class="relative" data-bind="visible: !TeamSchedule.isLoading()">
    			
                <div class="time-line absolute">
                    <div class="relative">
                        <div data-bind="foreach: Timeline.Times">
                            <div class="ruler absolute" data-bind="style: { left: Pixel() + 'px' }"></div>
                            <div class="label label-info absolute" data-bind="style: { left: (Pixel() - 13) + 'px' }, text: Time"></div>
                        </div>
                    </div>
                </div>
						
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="contract-time"><span data-bind="text: Resources.ContractTime"></span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Agents.Agents">
                        <tr class="agent" data-bind="attr: { 'data-agent-id': Id }, click: Select">
                            <td class="agent-name">
                                <!-- Must do it this way to get correct overflow: hidden in IE -->
                                <div class="agent-name nowrap" data-bind="text: Name"></div>
                            </td>
                            <td class="shift">
                                <ul class="relative unstyled" data-bind="template: { name: 'layerTemplate', foreach: Layers }"></ul>
                            </td>
                            <td class="contract-time" data-bind="text: ContractTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="layerTemplate" type="text/html">
    <li class="layer absolute floatleft" data-bind="if: IsVisible, style: { left: StartPixels() + 'px', width: LengthPixels() + 'px', backgroundColor: Color}" ></li>
</script>