<div class="container team-schedule">
	<table class="table table-condensed well well-small" data-bind="visible: DisplayStaffingMetrics">
		<thead>
			<tr>
				<th>
					<span id="skill-selector" class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span data-bind="text: SelectedSkillName"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" data-bind="foreach: { data: Skills, as: 'skill' }">
							<li>
								<a data-bind="text: skill.Name, value: skill.Id, click: $parent.SelectSkill"></a>
							</li>
						</ul>
					</span>
				</th>
				<th data-bind="visible: LoadingStaffingMetrics"><span class="" data-bind="text: Resources.LoadingThreeDots"></span></th>
				<th><span id="forecasted-hours" data-bind="visible: !LoadingStaffingMetrics(), text: ForecastedHoursDisplay"></span></th>
				<th><span id="scheduled-hours" data-bind="visible: !LoadingStaffingMetrics(), text: ScheduledHoursDisplay"></span></th>
				<th><span id="difference-forecasted-scheduled" class="text-error" data-bind="visible: !LoadingStaffingMetrics(), text: DifferenceDisplay"></span></th>
				<th><span id="estimated-service-level" class="text-warning" data-bind="visible: !LoadingStaffingMetrics(), text: ESLDisplay"></span></th>
			</tr>
		</thead>
	</table>
	
	<div class="row">
		<div class="span12">
			<form class="form-inline">
				<div class="control-group">
					<select id="group-picker" class="span4" data-bind="enable: !Loading(), foreach: GroupPages, select2: { value: SelectedGroup } ">
						<optgroup data-bind="attr: { label: Name }, foreach: Groups">
							<option data-bind="text: Name, value: Id"></option>
						</optgroup>
					</select>
					<div class="pull-right">
						<div class="input-append date input-prepend" id="date-picker" data-bind="datepicker: SelectedDate, datepickerOptions: { pullRight: true, format: Resources.MomentShortDatePattern, weekStart: Resources.FirstDayOfWeek, autoclose: true }">
			
							<button class="btn" data-bind="attr: {title: Resources.Previous}, click: PreviousDay"><i class="icon-chevron-left"></i></button>
							<input class="add-on date-input" size="16" type="text" readonly="readonly"/>
							<span class="add-on"><i class="icon-calendar"></i></span>
							<button class="btn" data-bind="attr: {title: Resources.Next}, click: NextDay"><i class="icon-chevron-right"></i></button>
						</div>
						<button class="btn toggle-descriptions" data-toggle="button" disabled data-bind="enable: !Loading(), click: ToggleDisplayDescriptions"><i class="icon-question-sign"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<!-- ko if: Loading -->
			<div><span data-bind="text: Resources.LoadingThreeDots"></span></div>
			<!-- /ko -->
			<!-- ko if: !Loading() -->
			<div class="relative">
				<!-- ko with: TimeLine -->
				<div class="time-line absolute" data-bind="attr: { 'data-start-time': StartTime, 'data-end-time': EndTime }">
					<div class="relative">
						<div data-bind="foreach: Times">
							<div class="ruler absolute" data-bind="style: { left: Pixel() + 'px' }"></div>
							<div class="label label-info absolute" data-bind="style: { left: (Pixel() - 13) + 'px' }, text: Time"></div>
						</div>
					</div>
				</div>
				<!-- /ko -->
						
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th class="contract-time"><span data-bind="text: Resources.ContractTime"></span></th>
						</tr>
					</thead>
					<tbody data-bind="foreach: Persons">
						<tr class="person" data-bind="attr: { 'data-person-id': Id }, click: Select">
							<td class="person-name">
								<!-- Must do it this way to get correct overflow: hidden in IE -->
								<div class="person-name nowrap" data-bind="text: Name"></div>
							</td>
							<td class="schedule">
								<div class="relative time-line-for">
									<!-- ko if: IsShift -->
									<div class="shift" data-bind="template: { name: 'layerTemplate', foreach: Layers }"></div>
									<!-- /ko -->
									
									<!-- ko foreach: DayOffs -->
									<!-- ko if: OverlapsTimeLine -->
									<div 
										class="dayoff absolute" 
										data-bind="style: { left: StartPixels() + 'px', width: LengthPixels() + 'px' }">
									</div>
									<!-- /ko -->
									<!-- /ko -->
								</div>
							</td>
							<td class="contract-time" data-bind="text: ContractTime"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>

<script id="layerTemplate" type="text/html">
	<!-- ko if: OverlapsTimeLine -->
	<div class="layer absolute floatleft" data-bind="
	style: {
		left: StartPixels() + 'px',
		width: LengthPixels() + 'px',
		backgroundColor: Color
	},
	attr: {
		'data-start-time': StartTime,
		'data-length-minutes': LengthMinutes(),
	}
	">
	<!-- ko if: IsFullDayAbsence -->
		<!-- ko if: $root.DisplayDescriptions -->
			<span class="label layer-description" data-bind="text: Description"></span>
		<!-- /ko -->
	<!-- /ko -->
	</div>
	<!-- /ko -->
</script>