<div class="tree">
    <ol ng-model="vm.data">
        <li node-id="$index" ng-repeat="node in vm.data[vm.nodeChildrenName]" ng-include="'tree_child_renderer.html'"></li>
    </ol>
</div>

<script type="text/ng-template" id="tree_child_renderer.html">
    <div class="tree-toggle-group" tree-animate>
        <div class="toggle-handle">
            <i ng-hide="!node[vm.nodeChildrenName] || node[vm.nodeChildrenName].length==0 " class="mdi mdi-chevron-right"></i>
        </div>
        <div class="tree-handle-wrapper" ng-click="vm.selectNode(this)">
            <div ng-class="{'selected-true': node[vm.nodeSelectedMark]}" ng-bind="node[vm.nodeDisplayName]"></div>
        </div>
    </div>
    <ol ng-model="node">
        <li node-id="$index" ng-repeat="node in node[vm.nodeChildrenName]" ng-include="'tree_child_renderer.html'" class="close"></li>
    </ol>
</script>

<style>
    .selected-true {
        background: pink;
    }

    .close {
        display: none;
    }
</style>
