<div class="workspace" data-test-workspace>
  <button class="action" nz-button nzType="default" nzShape="circle" [nzSize]="'small'" (click)="workspaceService.clear()"
    [nzTitle]="'ClearAll' | translate" nzPlacement="top" nz-tooltip data-test-clear-button>
    <i class="mdi mdi-notification-clear-all"></i>
  </button>
  <nz-table #workspaceTable [nzSize]="'small'" [nzShowPagination]="false" [nzFrontPagination]="false" [nzData]="workspaceService.people$.getValue()"
    [nzNoResult]="'NothingSelected' | translate">
    <thead>
      <tr>
        <th>{{'ActiveSelection' | translate}}
          <span *ngIf="(workspaceService.people$ | async).length as peopleCount">({{peopleCount}})</span>
        </th>
        <th nzWidth="20px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of workspaceTable.data" data-test-person>
        <td>{{person.FirstName}} {{person.LastName}}</td>
        <td>
          <i nz-icon type="close" class="b-person-remove" (click)="workspaceService.deselectPerson(person)" data-test-person-remove></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>