@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" style="display: none;z-index: 10; background-color: lightcyan; position: absolute">
	<input id="Request-add-selected-date" type="hidden"/>
	<div style="background-color: lightblue;z-index: 10;display: block" class="friendly-message ui-corner-all floatleft" data-bind="visible : hasWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>
</div>
