@using Teleopti.Ccc.UserTexts

<input id="Request-all-permitted-teams" type="hidden" value="@Resources.AllPermittedTeamsToMakeShiftTradeWith" />
<input id="Request-all-permitted-sites" type="hidden" value="@Resources.AllPermittedSitesToMakeShiftTradeWith" />

<script type="text/html" id="new-shift-trade-request-panel-74947">
	@Html.Partial("NewMultipleShiftTradeRequest")
</script>

<div id="Request-add-shift-trade" class="displaynone" data-bind="css: {'request-add-shift-trade-mobile': isMobile}">
	<span class="ready-loading-flag displaynone" data-bind="css: { 'is-ready-loaded': isReadyLoaded }"></span>
	<div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>

	<div id="loadingRequestIndicator" class="loading-gradient" data-bind="if: !isReadyLoaded()">
		<div class="loading"></div>
	</div>

	<div data-bind="template: { name: displayView }"></div>
</div>