@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" class="shift-trade-add-canvas ui-corner-all">
	<div class="friendly-message ui-corner-all" data-bind="visible : missingWorkflowControlSet() || noPossibleShiftTrades()">
		<span data-bind="visible : missingWorkflowControlSet">
			@Resources.MissingWorkflowControlSet
		</span>
		<span data-bind="visible : noPossibleShiftTrades">
			@Resources.NoAgentsAvailableForShiftTrade
		</span>
	</div>
	<div data-bind="visible : !missingWorkflowControlSet()">
		<button class="shift-trade-add-previous-date" data-bind="click : previousDate"></button>
		<input class="shift-trade-add-datepicker ui-corner-all" type="text" data-bind="datepicker: selectedDate" />
		<button class="shift-trade-add-next-date" data-bind="click : nextDate"></button>
	</div>
	<div class="shift-trade-add-schedule ui-corner-bottom">
		<div class="shift-trade-timeline" data-bind="foreach: hours">
			<span class="shift-trade-timeline-line" data-bind="style: { width : width }">
				<span class="shift-trade-timeline-number ui-corner-all" data-bind="text: hourText"></span>
			</span>
		</div>
		<div class="shift-trade-my-schedule-row">
			<span style="width: 150px; float: left" data-bind="text: mySchedule().agentName"></span>
			<div class="shift-trade-my-schedule" data-bind="foreach: mySchedule().layers">
				<span class="shift-trade-layer ui-corner-all" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}"></span>
			</div>
		</div>
		<div data-bind="foreach: possibleTradeSchedules">
			<div class="shift-trade-person-schedule-row">
				<span data-bind="text: agentName" style="width: 150px; float: left"></span>
				<div class="shift-trade-possible-trade-schedule" data-bind="foreach: $data.layers">
					<span class="shift-trade-layer ui-corner-all" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}"></span>					
				</div>
			</div>
		</div>
	</div>
</div>