@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" style="display: none; background-color: Red">
	<div style="background-color: Green" class="friendly-message ui-corner-all floatleft" data-bind="visible : hasWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>

	bravo
</div>
