@using Teleopti.Ccc.UserTexts


<div id="Request-shift-trade-bulletin-board" class="well well-sm displaynone fixed-non-responsive">
	<div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>
	<div data-bind="if: !missingWorkflowControlSet()">
		<table class="table-condensed">
			<tr>
				<td>
					<div style="margin-bottom: 10px" class="input-group">
						<span class="input-group-btn">
							<button class="previous-date btn" data-bind="click: previousDate, clickable: previousDateValid, enable: previousDateValid">
								<i class="glyphicon glyphicon-chevron-left" data-bind="enable: !IsLoading()"></i>
							</button>
						</span>
						<input type="text" class="col-xs-2 form-control add-shifttrade-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />

						<span class="input-group-btn">
							<button class="btn" xdata-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button class="next-date btn" xdata-bind="click: nextDate, clickable: nextDateValid, enable: nextDateValid">
								<i class="glyphicon glyphicon-chevron-right" xdata-bind="enable: !IsLoading()"></i>
							</button>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
