@using Teleopti.Ccc.UserTexts


<div id="Request-shift-trade-bulletin-board" class="well well-sm displaynone fixed-non-responsive">
	<div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>
	<div data-bind="if: !missingWorkflowControlSet()">
		<table class="table-condensed">
			<tr>
				<td>
					<div style="margin-bottom: 10px" class="input-group">
						<span class="input-group-btn">
							<button class="bulletin-previous-date btn" data-bind="click: previousDate, clickable: previousDateValid, enable: previousDateValid">
								<i class="glyphicon glyphicon-chevron-left" data-bind="enable: !IsLoading()"></i>
							</button>
						</span>
						<input type="text" class="col-xs-2 form-control add-shifttrade-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />

						<span class="input-group-btn">
							<button class="btn" xdata-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button class="next-date btn" xdata-bind="click: nextDate, clickable: nextDateValid, enable: nextDateValid">
								<i class="glyphicon glyphicon-chevron-right" xdata-bind="enable: !IsLoading()"></i>
							</button>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div data-bind="fadeInIf: !IsLoading(), fadeInDuration: 150, fadeOutDuration: 50">
		<div class="shift-trade-add-schedule" data-bind="visible: !missingWorkflowControlSet()">
			<div class="shift-trade-timeline">
				<div class="relative">
					<div data-bind="foreach: hours">
						<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
						<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText, visible: isVisible"></div>
					</div>
				</div>
			</div>
			<table style="width: 100%">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr class="shift-trade-my-schedule-row">
						<td class="shift-trade-agent-name">@Resources.MySchedule</td>
						<td class="shift-trade-my-schedule" data-bind="foreach: mySchedule().layers">
							<div class="shift-trade-layer-container floatleft">
								<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody data-bind="foreach: possibleTradeSchedules">
					<tr class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible">
						<td class="shift-trade-agent-name floatleft" data-bind="text: $data.agentName"></td>
						<td class="shift-trade-possible-trade-schedule">
							<div data-bind="foreach: $data.layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="shift-trade-no-possible-trades alert alert-info" data-bind="visible: noPossibleShiftTrades()">
			@Resources.NoAgentsAvailableForShiftTrade
		</div>
	</div>
</div>
