@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

	<div class="request-denyreason alert" data-bind="html: DenyReason, visible: DenyReason() != ''" />
    <div>
        <input type="text" class="input-block-level request-edit-subject" placeholder="@Resources.Subject" data-bind="value: Subject, visible: IsEditable" maxlength="80"/>
    </div>
    <div>
        <!-- ko if: IsEditable -->
            <textarea class="input-block-level request-edit-message" placeholder="@Resources.Message" data-bind="value: Message, valueUpdate: 'afterkeydown', limitCharacters: 2000" />
        <!-- /ko -->
    </div>
    <div>
        <span class="input-append">
            <![if (!IE)|(gt IE 8)]>
			<input class="request-edit-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable" type="text" />
			<![endif]>
			<!--[if lte IE 8]>
			<input class="request-edit-datefrom" data-bind="value: DateFrom().format(DateFormat())" readonly="readonly" type="text" />
			<![endif]-->
	        <span class="btn-group">
		        <button class="btn" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, weekStart: weekStart() }">
			        <i class="icon-th"></i>
		        </button>
	        </span>
        </span>
        <div class="request-edit-timefrom input-append bootstrap-timepicker">
            <input type="text" class="input-small request-edit time-from" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
	        <span class="btn-group">
		        <button class="btn" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled, 'disabled': IsTimeInputEnabled ? null : 'disabled'">
			        <i class="icon-time"></i>
		        </button>
	        </span>
        </div>
    </div>
    <div>
        <span class="request-edit-dateto input-append">
			<![if (!IE)|(gt IE 8)]>
			<input class="request-edit-date-to" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart(), format: DateFormat() }, enable: IsEditable" type="text" />
			<![endif]>
			<!--[if lte IE 8]>
			<input class="request-edit-date-to" data-bind="value: DateTo().format(DateFormat())" readonly="readonly" type="text" />
			<![endif]-->
	        <span class="btn-group">
		        <button class="btn" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
			        <i class="icon-th"></i>
		        </button>
	        </span>
        </span>
        <div class="request-edit-timeto input-append bootstrap-timepicker">
            <input type="text" class="input-small" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
	        <span class="btn-group">
		        <button class="btn" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled, 'disabled': IsTimeInputEnabled ? null : 'disabled'">
			        <i class="icon-time"></i>
		        </button>
	        </span>
        </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" class="request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
    </label>
    <div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
    <div class="clearfix" data-bind="if: IsEditable">
	    <button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest">@Resources.Save</button>
    </div>
