@using Teleopti.Ccc.Web.Models.Shared
@model ErrorViewModel
@{ Layout = "~/Views/Shared/MobileLayoutBase.cshtml"; }
@section csshead {
	<link rel="stylesheet" href="@Url.Content("~/Areas/MobileReports/Content/Css/mobile.custom.css")" />

}
<div data-role="page" id="error-view">
	<div data-role="header">
		<h1>
			Anywhere Error
		</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-theme="b">
			<li data-role="list-divider">@Model.Message</li>
		</ul>
	</div>
</div>