@mixin darken-bg {
	background: rgba(0, 0, 0, 0.16);
}

.clickable {
	cursor: pointer;
	height: 100%;
	width: 100%;
	color: white;

	&[ng-reflect-nz-visible='true'] {
		background: rgba(0, 0, 0, 0.16);
	}
}

.cower-area {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&:focus {
		outline: none;
		@include darken-bg;
	}
}

.profile-info.ant-dropdown-menu-item {
	cursor: default;
	font-weight: 500;
	&:hover {
		background-color: inherit;
	}
}

:host-context(.angular-theme-classic) {
	.cower-area {
		i {
			color: #fff;
		}
	}
}

:host-context(.angular-theme-dark) {
	.cower-area {
		i {
			color: #eee;
		}
	}
}
