.clickable {
	cursor: pointer;
	height: 100%;
	width: 100%;
	color: white;

	&[ng-reflect-nz-visible='true'] {
		background: rgba(0, 0, 0, 0.16);
	}
}

.cower-area {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
