<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-account-key"></i>{{'ManagePermissions'|translate}}</h1>
		<p translate>ManagePermissionsIntro</p>
	</div>
	<div class="fab-wrapper">
		<button class="wfm-fab material-depth-1" ng-click="vm.showCreateModal = true"><i class="mdi mdi-plus"></i>
			<md-tooltip>{{'AddRole'|translate}}</md-tooltip>
		</button>
	</div>
</div>

<modal-dialog show='vm.showCreateModal' ng-cloak>

	<form ng-submit="vm.createRole(vm.roleName)">
		<h1 class="modal-title">{{'AddRole'|translate}}</h1>
		<div class="modal-inner-content">
			<div class="con-row">
				<div class="con-flex">
					<label for="createRole" class="input-icon">
						<i class="mdi mdi-account-key">
							<input type="text" id="createRole" autocomplete="off" minlength="1" maxlength="50" required ng-model="vm.roleName" placeholder="{{'Role'|translate}}" autofocus="true">
							<md-tooltip>{{'Name'|translate}}</md-tooltip>
						</i>
					</label>
				</div>
			</div>
		</div>

		<div class="modal-actions">
			<aside>
				<input type="submit" ng-disabled="vm.sendingNewRole" class="wfm-btn wfm-btn-invis-primary" id="submit" value="{{'Add'|translate}}" />
			</aside>
		</div>

	</form>
</modal-dialog>

<div class="con-row">
	<div class="con-flex">
		<div class="panel">
			<div class="sub-header">
				<h2 translate>Roles</h2>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<label for="filter" class="input-icon">
						<i class="mdi mdi-filter-outline">
							<input type="text" id="filter" ng-model="roleFilter.DescriptionText" placeholder="{{'FilterRoles'|translate}}">
							<md-tooltip>{{'FilterRoles'|translate}}</md-tooltip>
						</i>
					</label>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<ul class="wfm-list perm-list">
						<li ng-click="vm.selectRole(role, false)" ng-repeat="role in vm.roles | filter:roleFilter">
							<span class="list-item-container">
								{{role.DescriptionText}}
							</span>
							<span ng-cloak ng-show="role.IsSelected" class="list-dot"><b class="mdi mdi-check list-mark"></b></span>
							<div class="wfm-leave-behind" ng-show="vm.checkMyRole(role)" ng-class="{'open-leave-behind-for-testing':vm.roleOptionsOpen}">
								<span>
									<i class="mdi mdi-content-copy" ng-click="vm.copyRole(role); $event.stopPropagation();">
										<md-tooltip>
											{{'Copy' | translate}}
										</md-tooltip>
									</i>
									<i class="mdi mdi-pencil" id="edit-role-trigger" ng-click="editRoleModal = !editRoleModal; $event.stopPropagation();">
										<md-tooltip>
											{{'Edit' | translate}}
										</md-tooltip>
									</i>
									<i class="mdi mdi-delete" ng-click="confirmDeleteRole = true; $event.stopPropagation();" ng-touch="confirmDeleteRole = true; $event.stopPropagation();">
										<md-tooltip ng-hide="role.IsMyRole">
											{{'Delete' | translate}}
										</md-tooltip>
									</i>
								</span>
							</div>

							<modal-dialog show='editRoleModal' ng-cloak>
								<form ng-submit="vm.editRole(newRoleName, role)">
									<h1 class="modal-title">{{'Edit' | translate}}</h1>
									<div class="modal-inner-content">
										<div class="con-row">
											<div class="con-flex">
												<label for="editRole" class="input-icon">
													<i class="mdi mdi-pencil">
														<input type="text" ng-model="newRoleName" required placeholder="{{'Name'|translate}}">
														<md-tooltip>{{'Name' | translate}}</md-tooltip>
													</i>
												</label>
											</div>
										</div>
									</div>
									<div class="modal-actions">
										<aside>
											<button class="wfm-btn wfm-btn-invis-primary" type="submit" ng-click="editRoleModal=!editRoleModal" name="button">{{'Edit'|translate}}</button>
										</aside>
									</div>
								</form>
							</modal-dialog>

							<div ng-cloak class="modal-box">
								<div ng-show="confirmDeleteRole">
									<div class="modalbg">
										<div class="dialog-mini material-depth-1">
											<div class="modal-inner-content">
												<h3>{{role.DescriptionText}}</h3>
												{{'AreYouSureYouWantToDelete' | translate}}
											</div>
											<div class="modal-actions">
												<aside>
													<button ng-click="confirmDeleteRole = false; vm.deleteRole(role)" ng-touch="confirmDeleteRole = false; vm.deleteRole(role)" id="delete-role" class="wfm-btn wfm-btn-invis-default">{{'Yes' | translate}}</button>
													<button ng-click="confirmDeleteRole = false;" class="wfm-btn wfm-btn-invis-primary">{{'No' | translate}}</button>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="con-flex split-3-1 permissions-tabs">
		<div class="wfm-slide-tabs tabbed-panel">
			<md-content class="md-padding" ng-cloak>
				<md-tabs md-dynamic-height md-border-bottom md-no-pagination="true" md-swipe-content="true" md-stretch-tabs="never">
					<md-tab label="{{'FunctionsCap' | translate}}">
						<md-content class="md-padding perm-functions ng-cloak">
							<div class="con-row">
								<div class="con-flex">
									<label class="input-icon">
										<i class="mdi mdi-filter-outline">
											<input type="text" ng-model="vm.searchString" placeholder="{{'Filter' | translate}}" ng-change="vm.functionsDescriptionFilter(vm.searchString)">
											<md-tooltip>{{'Filter'|translate}}</md-tooltip>
										</i>
									</label>
								</div>
								<div class="con-flex split-1-2"></div>
								<div class="con-flex line-right">

									<div ng-click="toggleDangerModal = true" class="inline-flex" ng-class="{'non-pointer text-muted': !vm.selectedRole.Id || vm.selectedRole.BuiltIn || vm.selectedRole.IsMyRole}">
										<md-checkbox ng-model="vm.isAllFunctionSelected" class="non-pointer" >
											{{'ToggleAll'|translate}}
										</md-checkbox>
									</div>

								</div>
							</div>
							<div class="con-row">
								<div class="con-flex">
									<form class="permission-radio-buttons inline-flex" ng-class="{'non-pointer text-muted': vm.selectedRole.BuiltIn}">

										<md-radio-group class="inline-flex" ng-model="vm.functionGroup" tabindex="-1">
											<label>{{'Show'|translate}}:</label>
											<md-radio-button value="All" ng-click="vm.allFunctionsFilter()">{{'All' | translate}}</md-radio-button>
											<md-radio-button value="Selected" ng-click="vm.selectedFunctionsFilter()">{{'SelectedItems' | translate}}</md-radio-button>
											<md-radio-button value="Unselected" ng-click="vm.unSelectedFunctionsFilter()">{{'UnselectedItems' | translate}}</md-radio-button>
										</md-radio-group>

									</form>
								</div>
							</div>
							<div class="con-row">
								<div class="con-flex">
									<permissions-tree filter-func="vm.functionsFilterObj" selected-role="vm.selectedRole" functions="vm.componentFunctions" is-selected="vm.isFunctionSelected" select="vm.selectFunction" on-click="vm.onFunctionClick"></permissions-tree>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab id="data-tab" label="{{'Data' | translate}}">
						<md-content class="md-padding">
							<div class="con-row">
								<div class="con-flex">
									<label class="input-icon">
										<i class="mdi mdi-filter-outline">
											<input type="text" ng-model="searchString1" placeholder="{{'Filter' | translate}}" ng-change="vm.orgDataDescriptionFilter(searchString1)">
											<md-tooltip>{{'Filter'|translate}}</md-tooltip>
										</i>
									</label>
								</div>
								<div class="con-flex split-1-2"></div>
								<div class="con-flex">
									<md-select ng-model="model" placeholder="{{'AddGlobalAuthorizationLabel'| translate}}" ng-class="{'non-pointer text-muted': !vm.selectedRole.Id || vm.selectedRole.BuiltIn || vm.selectedRole.IsMyRole}">
										<h2>{{'AddGlobalAuthorizationLabel'| translate}}</h2>
										<md-option ng-selected="option.RangeOption == vm.selectedRole.AvailableDataRange" ng-value="option.RangeOption"  ng-repeat="option in vm.organizationSelection.DynamicOptions" ng-click="vm.selectDynamicOption(option)">{{option.Name | translate}}</md-option>
									</md-select>
								</div>
							</div>
							<div class="con-row">
								<div class="con-flex">
									<form class="permission-radio-buttons inline-flex" ng-class="{'non-pointer text-muted': vm.selectedRole.BuiltIn}">

										<md-radio-group class="inline-flex" ng-model="vm.orgGroup" tabindex="-1">
											<label>{{'Show'|translate}}:</label>
											<md-radio-button value="All" ng-click="vm.allDataFilter()">{{'All' | translate}}</md-radio-button>
											<md-radio-button value="Selected" ng-click="vm.selectedDataFilter()">{{'SelectedItems' | translate}}</md-radio-button>
											<md-radio-button value="Unselected" ng-click="vm.unselectedDataFilter()">{{'UnselectedItems' | translate}}</md-radio-button>
										</md-radio-group>

									</form>
								</div>
							</div>
							<div class="con-row">
								<div class="con-flex">
									<permissions-list is-selected="vm.isOrgDataSelected" select="vm.selectOrgData" datafilter="vm.dataFilterObj" selected-role="vm.selectedRole" on-click="vm.nodeClick" original-org="vm.organizationSelection" org="vm.filteredOrganizationSelection"></permissions-list>
								</div>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</div>
</div>

<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="toggleDangerModal">
		<div class="modalbg">
			<div class="dialog-mini material-depth-1">
				<div class="modal-inner-content">
					{{'ConfirmToggleAllPermissions'|translate}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="toggleDangerModal = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
						<button ng-click="toggleDangerModal = false; vm.toggleAllFunction();" class="wfm-btn wfm-btn-invis-primary">{{'ToggleAll'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
