<div class="modal-box">
	<div class="modalbg import-people">
		<div class="dialog">
			<h1 class="modal-title">
				{{ vm.importOptions.title |translate}}
			</h1>
			<div class="modal-inner-content">
				<div class="wfm-block">
					<div ngf-drop ngf-select ng-model="vm.files" ng-model-rejected="vm.rejFiles" class="drop-box"
						 ngf-change="vm.upload($files)" ngf-multiple="false" ngf-allow-dir="false"
						 ngf-accept="'.xls,.xlsx'" ngf-drop-available="dropAvailable">
						{{'DragAndDropExcelFilesHereOrClickToUpload'|translate}}
					</div>
					<div class="import-file-template">
						{{'ReferToFileTemplate'|translate}}
						<a href="" ng-click="vm.getFileTemplate()">&nbsp;{{'here'|translate}}</a>
					</div>
					<div ng-show="vm.files.length > 0">
						{{'ImportFileNameColon'|translate}}
						<ul>
							<li ng-repeat="f in vm.files">{{f.name}}</li>
						</ul>
					</div>
					<div ng-show="vm.rejFiles.length > 0" class="alert-error notice-spacer"><i class='mdi mdi-alert-octagon'></i> 
						{{'TheSelectedFileCanNotBeAcceptedPleaseCheckTheFileType'|translate}}
						<div>
							{{'RejectedFiles'|translate}}
							<ul>
								<li ng-repeat="f in vm.rejFiles">
									{{f.name}} - size: {{f.size}}B
								</li>
							</ul>
						</div>
						
					</div>
					
					<md-progress-linear ng-show="vm.isProcessing" md-mode="indeterminate"></md-progress-linear>
					<div ng-show="vm.isSuccessful">
						<div ng-show="!vm.hasInvalidData" class="alert-success notice-spacer"><i class='mdi mdi-thumb-up'></i>{{'SuccessfullyImportedCountColon'|translate}} {{vm.successCount}}.</div>
						<div ng-show="vm.hasInvalidData" >
							<div ng-show="vm.successCount > 0" class="alert-success notice-spacer">
								<i class='mdi mdi-thumb-up'></i>{{ vm.getSuccessMessage(vm.successCount) }}.
							</div>
							<div class="alert-warning notice-spacer">
								<i class='mdi mdi-information'></i>{{ vm.getWarningMessage(vm.warningCount) }}. {{ vm.getFailureMessage(vm.failedCount) }}. {{'PleaseFindTheDownloadedExcelSheetToCheckTheError'|translate}}
							</div>							
							
						</div>
					</div>

					<div ng-show="vm.isFailed" class="alert-error notice-spacer"><i class='mdi mdi-alert-octagon'></i>{{'ImportError'|translate}}! {{vm.errorMsg}}</div>
				</div>
			</div>
			<div class="modal-actions">
				<aside>
					<button ng-click="vm.closeImportPeople()" class="wfm-btn wfm-btn-invis-default">{{'Back'|translate}}</button>
				</aside>
			</div>
		</div>
	</div>
</div>