<div class="view-header">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-account-check"></i>
			{{'SelectedPeople' | translate}}
		</h1>
	</div>
</div>

<div class="people-cart panel material-depth-1">
	<div class="con-row" style="position: relative">
		<div class="con-flex">
			<span class="pull-left" style="">
				<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.back()">
					<i class="mdi mdi-reply" style="color: #9C27B0"></i>
				</button>
				<md-tooltip>{{ 'Back' | translate }}</md-tooltip>
			</span>
			<div class="input-prepend" style="padding: 10px;">
				<input type="text" style="text-align: center;" datepicker-popup="{{vm.dateFormat}}" ng-model="vm.selectedDate"
						ng-change="vm.selectedDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions"
						show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<i class=" mdi mdi-calendar" ng-click="vm.toggleCalendar()"></i>
			</div>
		</div>
		<div class="con-flex split-3-1">
			<div class="pull-right">
				<div tabindex=0 class="context-menu card-context">
					<i class="mdi mdi-dots-vertical" style="color: #000000"></i>
					<span class="context-menu-left" style="z-index: 1000; text-transform: none;">
						<ul class="wfm-list">
							<li class="item" ng-click="vm.clearCart()">
								<div>
									<span class="pull-left">{{'ResetSelection' | translate}}</span>
								</div>
							</li>
							<li class="item" ng-if="cmd.active()" ng-repeat="cmd in vm.commands" ng-click="cmd.action()">
								<div>
									<span class="pull-left">{{cmd.label|translate}}</span>
								</div>
							</li>
						</ul>
					</span>
					<span ng-show="vm.selectedPeopleIds.length > 0" class="wfm-panel selection-cart-indicator">
						{{vm.selectedPeopleIds.length}}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div ui-i18n="{{lang}}" ng-if="vm.dataInitialized" class="big-table-wrapper" style="position: relative">
		<div ui-grid="vm.gridOptions" ui-grid-auto-resize ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-disable-animation class="grid people-list"></div>
		<md-sidenav class="md-sidenav-right md-sidenav-skill-panel md-whiteframe-z2" md-component-id="right-skill">
			<div class="sidenav-header">{{'Skill'|translate}}</div>
			<md-content layout-padding style="height: 68vh">
				<label for="skill-filter" class="input-prepend">
					<i class="mdi mdi-filter-outline"></i>
					<input id="skill-filter" class="text-filter" type="text" name="filterSkill" ng-model="searchSkills.SkillName" placeholder="{{'FilterSkills' | translate}}" />
					<md-tooltip>{{'FilterSkills' | translate}}</md-tooltip>	
				</label>
				<div class="wfm-checkbox" ng-repeat="skill in vm.availableSkills|filter:searchSkills|orderBy:'SkillName'">
					<input type="checkbox" id="{{skill.SkillId}}" ng-model="skill.Selected" ng-change="vm.skillSelectedStatusChanged(skill)" people-indeterminate="skill.Status =='partial'" />
					<label for="{{skill.SkillId}}">
						<span class="wfm-checkbox-toggle"></span>
						<span class="wfm-checkbox-label">{{skill.SkillName}}</span>
					</label>
				</div>
			</md-content>
			<div style="position: relative;float: right;">
				<button ng-show="vm.dataInitialized && !vm.processing && vm.updateResult.Success && vm.updateResult.SuccessCount > 0" class="wfm-btn wfm-btn-primary" ng-click="vm.setCurrentCommand('ChangeShiftBag')()">{{'PersonFinderFieldShiftBag' | translate}}</button>
				<button class="wfm-btn" ng-class="{'wfm-btn-primary': vm.dataChanged, 'wfm-btn-primary-disabled': !vm.dataChanged}" ng-disabled="!vm.dataChanged" ng-click="vm.updatePeopleWithSkills()">{{'Apply' | translate}}</button>
			</div>
		</md-sidenav>
		<md-sidenav class="md-sidenav-right md-sidenav-skill-panel md-whiteframe-z2" md-component-id="right-shiftbag">
			<div class="sidenav-header">{{'ChangeShiftBag'|translate}}</div>
			<md-content layout-padding style="height: 68vh">
				<md-select ng-model="vm.selectedShiftBag" placeholder="{{'PickAShiftBag'|translate}}" ng-change="vm.selectedShiftBagChanged(vm.selectedShiftBag)">
					<md-option ng-repeat="shiftBag in vm.availableShiftBags|orderBy: 'ShiftBagName'" ng-value="shiftBag.ShiftBagId"><span ng-bind="shiftBag.ShiftBagName"></span></md-option>
				</md-select>
			</md-content>
			<div style="position: relative;float: right;">
				<button class="wfm-btn" ng-class="{'wfm-btn-primary': vm.dataChanged, 'wfm-btn-primary-disabled': !vm.dataChanged}" ng-disabled="!vm.dataChanged" ng-click="vm.updatePeopleWithShiftBag()">{{'Apply' | translate}}</button>
			</div>
		</md-sidenav>
		<md-progress-linear ng-show="vm.processing" md-mode="indeterminate"></md-progress-linear>
		<div ng-if="vm.dataInitialized && !vm.processing && vm.updateResult.Success" ng-show="vm.isConfirmCloseNoticeBar" class="alert-success notice-spacer">
			<i class='mdi mdi-thumb-up'></i>
			{{'SuccessfullyUpdatedPeopleCountColon'|translate}}{{vm.updateResult.SuccessCount}}
		</div>
		<div ng-if="vm.currentCommand().label=='AdjustSkill' && vm.dataInitialized && !vm.processing && vm.updateResult.Success" ng-show="vm.isConfirmCloseNoticeBar" class="alert-info notice-spacer">
			{{'YouMightNeedToChangeTheShiftBagAccordingly'|translate}}
		</div>
		<div ng-if="vm.dataInitialized && !vm.processing && !vm.updateResult.Success && vm.updateResult.ErrorMsg.length > 0" ng-show="vm.isConfirmCloseNoticeBar" class="alert-error notice-spacer">
			<i class='mdi mdi-alert-octagon'></i>
			{{'ProcessFailedErrorColon'|translate}}{{vm.updateResult.ErrorMsg}}
		</div>
	</div>
	<div ng-if="vm.dataInitialized" class="con-footer" style="height: 50px">
		<wfm-pagination pagination-options="vm.paginationOptions" get-data-for-page-callback="vm.gridApi.pagination.seek"></wfm-pagination>
	</div>
</div>
