<div class="view-header">
	<div class="view-title">
		<h1 ng-hide="isSelectionMode">
			<i class="mdi mdi-account-multiple"></i>
			{{'ManagePeople' | translate}}
		</h1>
	</div>
</div>

<div class="panel material-depth-1 people-panel">
	<div class="con-row people-header">
		<span class="people-search-container">
			<wfm-multiple-search-input search-title="searchPlaceholder" search-options="searchOptions" search-callback="searchKeyword"></wfm-multiple-search-input>
		</span>

		<div class="con-flex split-3-1">
			<div ng-if="dataInitialized && !isSelectionMode">
				<div tabindex=0 class="context-menu card-context pull-right">
					<i class="mdi mdi-dots-vertical"></i>
					<span class="context-menu-left">
						<ul class="wfm-list">
							<li class="item" ng-if="selectedCount() > 0" ng-click="clearCart()">
								<div>
									<span class="pull-left">{{'ResetSelection' | translate}}</span>
								</div>
							</li>
							<li class="item" ng-if="cmd.active()" ng-repeat="cmd in commands" ng-click="cmd.action()">
								<div>
									<span class="pull-left">{{cmd.label|translate}}</span>
								</div>
							</li>
						</ul>
					</span>
					<span ng-show="selectedCount() > 0" class="wfm-panel selection-cart-indicator">
						{{selectedCount()}}
					</span>
				</div>
			</div>
		</div>
	</div>


	<div ui-i18n="{{lang}}" ng-if="dataInitialized" class="big-table-wrapper">
		<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-disable-animation 
			 class="grid people-list" style="height: 70vh;"></div>
	</div>
	<div ng-if="dataInitialized" class="con-footer">
		<span class="notice-spacer pull-left" ng-show="selectAllVisible" ng-click="selectAllMatch()">
			<a href="javascript: void(0);"> {{'SelectAllMatchedPeople'|translate}}</a>
		</span>


		<wfm-pagination pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
	</div>

	<import-people ng-if="importOptions && importOptions.showImportModal" import-options="importOptions" ng-cloak></import-people>
</div>

