<div class="modal-box">
	<div ng-cloak ng-show="vm.showFileDialog">
		<div class="modalbg">
			<div class="dialog">
				<div class="modal-header">
					Load Image
				</div>
				<div class="modal-inner-content">
					<form name="myForm" style="max-height:600px; padding:10px;">
						<input type="file" name="myImage" image-with-preview
							   ng-model="image"
							   accept="image/*"
							   dimensions="height < 2000 && width < 4000">

						<span class="error" ng-show="myForm.myImage.$error.image">
							Not a JPEG, SVG or a PNG!
						</span>
						<span class="error" ng-show="myForm.myImage.$error.dimensions">
							Invalid dimensions! Expecting a image smaller than 2000x4000.
						</span>
						<img class="material-depth-1" style="max-width: 100%; max-height: 540px; padding:10px; margin-top: 10px; margin-bottom:10px; display: block; margin-left: auto;margin-right: auto;" ng-show="image.src" ng-src="{{image.src}}" />

					</form>
				</div>
				<div class="modal-footer">
					<aside>
						<a ng-click="vm.showFileDialog = false" class="wfm-btn wfm-btn-invis-primary">DISMISS</a>
						<a class="wfm-btn wfm-btn-invis-primary" ng-click="vm.fileCallbackFunction(image)">CHOOSE</a>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>

