<style type="text/css">
	.wfm-checkbox input[type=checkbox]:indeterminate ~ label .wfm-checkbox-toggle:after {
		background-color: #66c2ff;
		text-align: center;
		color: #fff;
	}
</style>

<md-content layout-padding>
	<div class="seat-roles">
		<label for="inputId" class="input-prepend">
			<i class="mdi mdi-filter-outline">
				<md-tooltip>{{"FilterRoles" | translate}}</md-tooltip>
			</i>
			<input type="text" id="inputId" placeholder="{{'FilterRoles' | translate}}" name="roleFilter" ng-model="roleFilter.Name" />
		</label>
		<div class="wfm-checkbox" ng-repeat="role in vm.roles | filter: roleFilter.Name | orderBy:'Name'">
			<input type="checkbox" id="{{role.Id}}" ng-model="role.Selected" ng-change="vm.selectedStatusChanged(role)" seat-role-indeterminate="vm.rolesStatus(role)" />
			<label for="{{role.Id}}">
				<span class="wfm-checkbox-toggle"></span>
				<span class="wfm-checkbox-label">{{role.DescriptionText}}</span>
			</label>
		</div>
	</div>
</md-content>