<style type="text/css">
	#materialcontainer > div[ui-view] {
		height: 100%;
	}

	.container.content {
		overflow: hidden;
	}
</style>

<div class="row seatplan-report">
	<div class="seatplan-report-header material-depth-1">

		<button class="wfm-btn pull-left" ng-click="vm.toggle()">
			<i class="mdi mdi-reply"></i>
		</button>

		<button class="wfm-btn wfm-btn-invis-primary pull-left" ng-class="{'button-active':vm.isFilterOpened}" ng-click="vm.toggleFilterVisibility()">
			<i class="mdi mdi-filter"></i>
			{{'Filter' | translate}}
		</button>
		<button class="wfm-fab info seatplan-report-print-button" ng-show="!vm.isFilterOpened" seat-plan-report-print>
			<i class="mdi mdi-printer"></i>
			<md-tooltip>{{'Print' | translate}}</md-tooltip>
		</button>

		<span class="turn-off-filter-blank" ng-click="vm.isFilterOpened = false"></span>

		<div class="seatplan-report-filter wfm-slide-tabs material-depth-2" ng-show="vm.isFilterOpened">
			<div class=" header-bar">
				<button class="wfm-btn wfm-btn-invis-default" ng-class="{'button-active':vm.isDatePickerOpened}" ng-click="vm.toggleFilter('date')">{{'Date' | translate}}</button>
				<button class="wfm-btn wfm-btn-invis-default" ng-class="{'button-active':vm.isTeamPickerOpened}" ng-click="vm.toggleFilter('team')">{{'Team' | translate}}</button>
				<button class="wfm-btn wfm-btn-invis-default" ng-class="{'button-active':vm.isLocationPickerOpened}" ng-click="vm.toggleFilter('location')">{{'Location' | translate}}</button>
			</div>

			<div class="filter-content">
				<div class="date-picker" ng-show="vm.isDatePickerOpened">
					<date-range-picker start-date="vm.selectedPeriod.StartDate" end-date="vm.selectedPeriod.EndDate" errors="vm.selectedPeriod.errors"></date-range-picker>
				</div>

				<div class="team-picker" ng-show="vm.isTeamPickerOpened">
					<team-picker selected-teams="vm.selectedTeams"></team-picker>
				</div>

				<div class="location-picker" ng-show="vm.isLocationPickerOpened">
					<location-picker selected-locations="vm.selectedLocations"></location-picker>
				</div>

			</div>

			<div class="bottom-bar">
				<button class="wfm-btn pull-right" ng-class="vm.dateFilterIsValid() ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'" ng-click="vm.applyFilter()">{{'Apply' | translate}}</button>
				<button class="wfm-btn wfm-btn-invis-default pull-right" ng-click="vm.cancelFilter()">{{'Cancel' | translate}}</button>
			</div>
		</div>
	</div>

	<div class="seatplan-report-content" id="seatplan-report-to-view" ng-init="vm.init()" ng-click="vm.isFilterOpened = false">
		<div ng-if="vm.isLoadingReport" class="report-spinner">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
		<h2>{{'SeatPlanReport' | translate }}</h2>
		<h5 ng-if="vm.seatBookings.length == 0 ">{{'NoDataAvailable' | translate}}</h5>
		<seat-plan-report-table seat-bookings="vm.seatBookings" ng-if="!vm.isLoadingReport"></seat-plan-report-table>

		<div class="seatplan-paging-container pull-right" ng-if="!vm.isLoadingReport">
			<ul class="wfm-pagination">
				<li ng-class="{disabled: currentPage === 1 || vm.pageCount === 0}">
					<a ng-click="vm.firstPage()">
						<i class="mdi mdi-skip-previous"></i>
					</a>
				</li>
				<li ng-class="{disabled: currentPage === 1 || vm.pageCount === 0}">
					<a ng-click="vm.previousPage()">
						<i class="mdi mdi-chevron-left"></i>
					</a>
				</li>
				<li ng-repeat="page in vm.getVisiblePages(1,vm.totalPages)"
					ng-class="{active: page === vm.currentPage}"
					ng-click="vm.seekPage(page)">
					<a ng-bind="page"></a>
				</li>
				<li ng-class="{disabled: vm.currentPage === vm.pageCount || vm.pageCount === 0}">
					<a ng-click="vm.nextPage()">
						<i class="mdi mdi-chevron-right"></i>
					</a>
				</li>
				<li ng-class="{disabled: vm.currentPage === vm.pageCount || vm.pageCount === 0}">
					<a ng-click="vm.lastPage()">
						<i class="mdi mdi-skip-next"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="seatplan-report-content" id="seatplan-report-to-print">
		<h2>{{'SeatPlanReport' | translate}}</h2>
		<h5 ng-if="vm.seatBookings.length == 0 ">{{'NoDataAvailable' | translate}}</h5>
		<seat-plan-report-table seat-bookings="vm.seatBookingsAll"></seat-plan-report-table>
	</div>


</div>
