<div class="seatmap-occupancy-detail" ng-show="vm.occupancyDetails">

	<div class="seatbooking-operations-add" ng-click="vm.showPeopleSelection = true;" ng-if="!vm.showPeopleSelection">
		<button class="wfm-btn wfm-btn-invis-primary add-agents">Add</button>
	</div>

	<div class="seatbooking-operations-cancel" ng-click="vm.showPeopleSelection = false;" ng-if="vm.showPeopleSelection">
		<button class="wfm-btn wfm-btn-invis-primary cancel-operation">Cancel</button>
		<button class="wfm-btn wfm-btn-invis-primary asign-agents" ng-click="vm.asignAgentsToSeats()">Asign</button>
	</div>

	<people-selection-list ng-show="vm.showPeopleSelection" selected-people="vm.selectedPeople"></people-selection-list>

	<div class="seat-booking-list" ng-show="!vm.showPeopleSelection">
		<div class="seat-booking-item" ng-repeat="detail in vm.occupancyDetails">
			<div class="booking-list-header">
				Seat: {{detail.SeatName}}
			</div>

			<ul class="wfm-list">
				<li class="active" ng-repeat="booking in detail.Occupancies">

					<span class="list-item-container" ng-if="!booking.IsEmpty" ng-class="vm.getSeatBookingDetailClass(booking)">
						{{vm.getDisplayTime(booking)}}
						&nbsp;&nbsp;{{booking.FirstName}}
						&nbsp;{{booking.LastName}}
					</span>

					<span class="list-item-container" ng-if="booking.IsEmpty">{{'SeatHasNoBookings'|translate}}</span>

					<div class="wfm-leave-behind wfm-leave-behind-1" ng-if="!booking.IsEmpty">
						<span ng-click="vm.deleteSeatBooking(booking)"><i class="mdi mdi-delete"></i></span>
					</div>

				</li>
			</ul>
		</div>
	</div>

</div>