<div class="view-header seatplan-header">
	<div class="view-title">
		<h1>{{"SeatPlan" | translate}}</h1>
	</div>
</div>


<div id="seatplan" class="material-depth-1" ui-view>

	<seat-plan-report ng-if="seatplan.isReportOpened" toggle="seatplan.isReportOpened = !seatplan.isReportOpened"
					  selected-period="seatplan.reportPeriod" selected-teams="seatplan.reportSelectedTeams" selected-locations="seatplan.reportSelectedLocations"></seat-plan-report>

	<seatmap-canvas occupancy date="seatplan.selectedDate" toggle="seatplan.showSeatmap()" ng-if="seatplan.isSeatMapBookingViewOpened"></seatmap-canvas>

	<div class="row" ng-show="!seatplan.isReportOpened && !seatplan.isSeatMapBookingViewOpened">

		<div class="col-sm-12 seatplan-calendar">

			<datepicker ng-model="seatplan.selectedDate"
						on-change-of-month="seatplan.onChangeOfMonth(date)"
						ng-change="seatplan.onChangeOfDate()" class="wfm-datepicker"
						custom-class="seatplan.getDayClass(date,mode)">
			</datepicker>
		</div>

		<div class="planning-day-detail" ng-if="seatplan.selectedDate!=null">
			<button class="wfm-fab info  material-depth-1 pull-right"
					ng-click="seatplan.showReport({StartDate:seatplan.selectedDate,EndDate:seatplan.selectedDate},[],[])">
				<i class="mdi mdi-file-document"></i>
				<md-tooltip>{{'GenerateReport' | translate}}</md-tooltip>
			</button>

			<h3>{{seatplan.selectedDate | date : "fullDate"}}</h3>
			<md-divider md-insert></md-divider>
			<p>{{ seatplan.getToDayInfo() | translate}}</p>

			<button class="wfm-btn wfm-btn-invis-primary"
					ng-click="seatplan.showSeatmap()"
					ng-if="seatplan.showOccupancyView">
				{{'ViewSeatBookings' | translate}}
			</button>

		</div>

		<div class="col-sm-12">

			<h3 class="planning-period-title">{{ 'PlanningPeriodsFor' | translate }} {{seatplan.selectedDate | date : "MMMM" }}</h3>

			<md-divider md-insert></md-divider>

			<div class="planning-period-progress-bar" ng-show="seatplan.isLoadingStuff()">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>

			<wfm-card-list ng-hide="seatplan.isLoadingStuff()">
				<wfm-card ng-repeat="period in seatplan.planningPeriods">
					<card-header>

						<span class="planning-period-header" data-start-date="{{period.StartDate | amDateFormat:'YYYY-MM-DD'}}">{{period.StartDate |  amDateFormat:"L"}} - {{period.EndDate | amDateFormat:"L"}}</span>

						<span class="pull-right"><i class="mdi mdi-chevron-down"></i></span>

					</card-header>
					<card-body>
						<seat-plan-init start={{period.StartDate}} end="{{period.EndDate}}" on-seat-plan-complete="seatplan.onSeatPlanComplete()"
										on-seat-plan-start="seatplan.onSeatPlanStart()" show-report="seatplan.showReport"></seat-plan-init>
					</card-body>
				</wfm-card>
			</wfm-card-list>
		</div>

	</div>
</div>

<div class="clearfix"></div>

