<div class="seatmap-occupancy-detail">
	<div class="seatbooking-operations-add" ng-if="!vm.showPeopleSelection && vm.occupancyDetails">
		<button class="wfm-btn wfm-btn-invis-primary add-agents pull-right" ng-click="vm.showPersonSelectionPanel()">Add</button>
	</div>

	<div class="seatbooking-operations-cancel" ng-if="vm.showPeopleSelection">
		<button class="wfm-btn wfm-btn-invis-primary assign-agents pull-right" ng-click="vm.asignAgentsToSeats();vm.showPeopleSelection = false;">Assign</button>
		<button class="wfm-btn wfm-btn-invis-primary cancel-operation pull-right" ng-click="vm.showPeopleSelection = false;">Cancel</button>
	</div>

	<h3 ng-show="!vm.occupancyDetails">{{'NoSeatSelected' | translate}}</h3>

	<people-selection-list ng-show="vm.showPeopleSelection" selected-people="vm.selectedPeople" clear-selected-people="vm.resetPersonSearch"></people-selection-list>

	<div class="seat-booking-list" ng-show="!vm.showPeopleSelection">
		<ul class="wfm-list" ng-repeat="detail in vm.occupancyDetails">
			<li class="active" ng-repeat="booking in detail.Occupancies" ng-class="{'default-cursor':booking.IsEmpty}">
				<span class="list-item-container seat-booking-seatname pull-left" ng-if="$index == 0">Seat {{detail.SeatName}}:</span>

				<span ng-if="!booking.IsEmpty" class="list-item-container seat-booking-item" ng-class="{'first-seat-booking':$index==0}">
					{{vm.getDisplayTime(booking)}}
					&nbsp;&nbsp;{{booking.FirstName}}
					&nbsp;{{booking.LastName}}
				</span>

				<span ng-if="booking.IsEmpty" class="list-item-container seat-booking-item" ng-class="{'first-seat-booking':$index==0}">{{'SeatHasNoBookings'|translate}}</span>

				<div class="wfm-leave-behind wfm-leave-behind-1" ng-if="!booking.IsEmpty">
					<span ng-click="vm.deleteSeatBooking(booking)"><i class="mdi mdi-delete"></i></span>
				</div>
			</li>
		</ul>
	</div>
</div>