<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="Autofac.SignalR.TeleoptiKey" version="3.0.1" targetFramework="net40" />
  <package id="Contrib.SignalR.SignalRMessageBus.TeleoptiKey" version="1.2.1" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Client" version="1.2.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core.TeleoptiKey" version="1.2.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin.TeleoptiKey" version="1.2.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.TeleoptiKey" version="1.2.0" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
</packages>