<div class="bank-holiday-settings panel material-depth-1 full-padding border">
	<h2>
		<i nz-icon type="calendar" theme="outline"></i> {{ 'BankHolidayCalendars' | translate }}
		<button
			nz-button
			nz-tooltip
			*ngIf="!isAddingNewCalendar && !isEdittingCalendar"
			nzType="primary"
			nzShape="circle"
			nzSize="large"
			[nzTitle]="'NewCalendar' | translate"
			(click)="startAddNewBankCalender()"
			class="add-bank-holiday-calendar-icon pull-right"
		>
			<i nz-icon type="plus" theme="outline"></i>
		</button>
	</h2>

	<nz-divider></nz-divider>

	<bank-holiday-calendar-add
		*ngIf="isAddingNewCalendar"
		[bankHolidayCalendarsList]="bankHolidayCalendarsList"
		[exitAddNewBankCalendar]="exitAddNewBankCalendar"
	></bank-holiday-calendar-add>

	<bank-holiday-calendar-edit
		*ngIf="isEdittingCalendar"
		[edittingCalendar]="edittingCalendar"
		[bankHolidayCalendarsList]="bankHolidayCalendarsList"
		[exitEdittingBankCalendar]="exitEdittingBankCalendar"
	>
	</bank-holiday-calendar-edit>

	<div *ngIf="!isAddingNewCalendar && !isEdittingCalendar" class="bank-holiday-calendar-list">
		<nz-collapse *ngIf="bankHolidayCalendarsList.length > 0">
			<nz-collapse-panel *ngFor="let calendar of bankHolidayCalendarsList" [nzHeader]="calendar.Name">
				<nz-tabset>
					<nz-tab [nzTitle]="year.Year" *ngFor="let year of calendar.Years">
						<nz-list [nzDataSource]="year.Dates" [nzRenderItem]="date">
							<ng-template #date let-date>
								<nz-list-item class="bank-holiday-calendar-list-date">
									<span class="inline-block">
										{{ 'Date' | translate }} : <span class="inline-block"> {{ date.Date }} </span>
									</span>
									<span class="inline-block">
										{{ 'Description' | translate }} :
										<span class="inline-block">{{ date.Description }} </span>
									</span>
								</nz-list-item>
							</ng-template>
						</nz-list>
					</nz-tab>
				</nz-tabset>

				<div class="con-row operation-buttons">
					<button nz-button nzType="danger" (click)="confirmDeleteHolidayCanlendar(calendar)">
						{{ 'Delete' | translate }}
					</button>
					<button nz-button nzType="primary" (click)="startEditBankCalendar(calendar)">
						{{ 'Edit' | translate }}
					</button>
				</div>
			</nz-collapse-panel>
		</nz-collapse>
	</div>
</div>
