@model Teleopti.Ccc.Web.Areas.Start.Controllers.ReturnModel
@{
	Layout = null;
}
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript">

		var globalApplicationAreas = ['MyTime', 'Anywhere', 'Messages', 'Reporting', 'WFM', 'HealthCheck', 'MyTime/ASM', 'MyTime/ASMWidget', 'MyTime/CiscoWidget'];//any descendent area is not here? please add if missing.

		tryToSaveReturnHash(findTheDeepestArea());

		function findTheDeepestArea() {
		    var theDeepestArea = undefined; 
		    var areas = globalApplicationAreas.filter(isAnyAreaInTheUrl);
		    if (areas.length === 1)
		        theDeepestArea = areas[0];
		    else if(areas.length > 1) {
		        areas.sort();
		        theDeepestArea = areas[areas.length - 1];
		    }
		    return theDeepestArea;
		}

		function tryToSaveReturnHash(areaToGo) {
			try {
				localStorage.setItem('isPrivateMode', '1');
				localStorage.removeItem('isPrivateMode');
				window.isPrivateMode = false;
			} catch(e) {
				window.isPrivateMode = true;
			}
			if (!window.isPrivateMode && window.localStorage) { 
				if (areaToGo !== undefined) {
					saveAreaToGoInCookie(areaToGo);
				} else {
					deleteCookie('returnHash');
				}
				redirect();
			}
			else{
				alert('Your web browser does not support store settings locally. Please trun off the private browsing mode of your brower or swtich to another browser to access to our web.');
				redirectToWFM();
			}		
		}

		function saveAreaToGoInCookie(areaToGo) {
			var expiresTime = new Date((new Date()).getTime() + (5 * 60 * 1000));
			var expires = 'expires=' + expiresTime.toUTCString() + '; path=/';
			var cookie = 'returnHash=' + areaToGo + window.location.hash + '; ';
			document.cookie = cookie + expires;
		}

		function isAnyAreaInTheUrl(area) {
			var applicationArea='@Model.ApplicationArea'.toUpperCase();
			if (area.indexOf('/') > 0) {
				var arr = area.split("/");
				var j = 0;
				for (var i = 0; i < arr.length; i++) {
					if (applicationArea.indexOf(arr[i].toUpperCase()) > -1) j++;
				}
				return j == arr.length ? true : false;
			} else {
				return applicationArea.indexOf(area.toUpperCase()) !== -1;
			}

		}

		function deleteCookie(name) {
			document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		};

		function redirect() {
			var redirectUrl = getParameterByName('redirectUrl');
			var isUseRelativeMode = @Json.Encode(Model.UseRelative);
			if (isUseRelativeMode) {
				var pat = /^https?:\/\//i;
				if (pat.test(redirectUrl)) {
					window.location.replace(redirectUrl.replace(/^(?:\/\/|[^\/]+)*\//, ""));
					return;
				}
			}
			if (redirectUrl) {
				window.location.replace(redirectUrl);
			}
		}

		function redirectToWFM() {
			var redirectUrl = getParameterByName('redirectUrl');
			var redirectLink = (/(.*?TeleoptiWFM\/)/).exec(redirectUrl);
			window.location.replace(redirectLink[0]);
		}

		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, ""));
		}

	</script>
</head>
<body>
	If you are not redirected automatically, follow the <a href="javascript:void(0)" onclick="redirect();">link</a>
</body>
</html>