@{
	Layout = null;
}
<head>
	<meta charset="UTF-8">
	<script type="text/javascript">
		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		if (window.location.hash) {
			var d = new Date();
			d.setTime(d.getTime() + (5 * 60 * 1000));
			var expires = 'expires=' + d.toUTCString();
			document.cookie = 'returnHash' + '=' + window.location.hash + '; ' + expires + '; path=/';
		}

		function redirect() {
			window.location.replace(getParameterByName('redirectUrl'));
		}

		redirect();
	</script>
</head>
<body>
	If you are not redirected automatically, follow the <a href="javascript:void(0)" onclick="redirect();">link</a>
</body>
