@model Teleopti.Ccc.Web.Areas.Start.Controllers.ReturnModel
@{
	Layout = null;
}
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript">
		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		if (window.location.hash) {

			var d = new Date();
			d.setTime(d.getTime() + (5 * 60 * 1000));
			var expires = 'expires=' + d.toUTCString();
			document.cookie = 'returnHash' + '=' + window.location.hash + '; ' + expires + '; path=/';
			document.cookie = 'areaToGo' + '=' + getAreaToGoInReturnUrl() + '; ' + expires + '; path=/';
		}

		function getAreaToGoInReturnUrl() {
			var areas = ['MyTime', 'Anywhere', 'SeatPlanner', 'Messages', 'Reporting', 'WFM'];
			var areaToGo;
			areas.some(function (area) {
				areaToGo = area ;
				return window.location.href.toUpperCase().indexOf(area.toUpperCase()) !== -1;
			});
			return areaToGo;
		}

		function redirect() {
			var redirectUrl = getParameterByName('redirectUrl');
			if (@Json.Encode(Model.UseRelative)) {
				var pat = /^https?:\/\//i;
				if (pat.test(redirectUrl))
				{
					window.location.replace(redirectUrl.replace(/^(?:\/\/|[^\/]+)*\//, ""));
					return;
				}
			} 
			window.location.replace(redirectUrl);
		}

		redirect();
	</script>
</head>
<body>
	If you are not redirected automatically, follow the <a href="javascript:void(0)" onclick="redirect();">link</a>
</body>
</html>