@model Teleopti.Ccc.Web.Areas.Start.Controllers.ReturnModel
@{
	Layout = null;
}
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript">

		var globalApplicationAreas = ['MyTime', 'Anywhere', 'Messages', 'Reporting', 'WFM', 'HealthCheck','MyTime/CiscoWidget','MyTime/Asm'];//any descendent area is not here? please add if missing.

		tryToSaveReturnHash(findTheDeepestArea());
		redirect();

		function findTheDeepestArea() {
			var theDeepestArea = globalApplicationAreas.filter(isAnyAreaInTheUrl);
			if (theDeepestArea.length > 1) {
				theDeepestArea.sort();
				theDeepestArea = theDeepestArea[theDeepestArea.length - 1];
			}
			return theDeepestArea;
		}

		function tryToSaveReturnHash(areaToGo) {
			
			if (areaToGo === 'WFM') { // wfm project is handled in app.js
				return;
			} else if (areaToGo !== undefined) {
				saveAreaToGoInCookie(areaToGo);
			} else {
				deleteCookie('returnHash');
			}
		}

		function saveAreaToGoInCookie(areaToGo) {
			var expiresTime = new Date((new Date()).getTime() + (5 * 60 * 1000));
			var expires = 'expires=' + expiresTime.toUTCString() + '; path=/';
			var cookie = 'returnHash=' + areaToGo + window.location.hash + '; ';
			document.cookie = cookie + expires;
		}

		function isAnyAreaInTheUrl(area) {
			var applicationArea='@Model.ApplicationArea'.toUpperCase();
			if (area.indexOf('/') > 0) {
				var arr = area.split("/");
				var j = 0;
				for (var i = 0; i < arr.length; i++) {
					if (applicationArea.indexOf(arr[i].toUpperCase()) > -1) j++;
				}
				return j == arr.length ? true : false;
			} else {
				return applicationArea.indexOf(area.toUpperCase()) !== -1;
			}

		}

		function deleteCookie(name) {
			document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		};

		function redirect() {
			var redirectUrl = getParameterByName('redirectUrl');
			var isUseRelativeMode = @Json.Encode(Model.UseRelative);
			if (isUseRelativeMode) {
				var pat = /^https?:\/\//i;
				if (pat.test(redirectUrl)) {
					window.location.replace(redirectUrl.replace(/^(?:\/\/|[^\/]+)*\//, ""));
					return;
				}
			}
			window.location.replace(redirectUrl);
		}

		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}
	</script>
</head>
<body>
	If you are not redirected automatically, follow the <a href="javascript:void(0)" onclick="redirect();">link</a>
</body>
</html>