<div class="rta-view">
	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<div class="pull-left">
				<h1>
					<i class="mdi mdi-alarm"></i>
					<b>{{vm.agentName}}</b> {{vm.date}}
				</h1>
			</div>
		</div>
	</div>

	<div class="panel material-depth-1">
		<div class="con-row" ng-if="vm.showAdherencePercentage">
			<div class="con-flex adherence-percent" style="padding-top:10px">
				{{'Adherence' | translate}} {{vm.adherencePercentage}}%
			</div>
			<div class="con-flex" style="padding-top:10px; margin-bottom:16px">
				<div class="pull-right">
					<table>
						<tr style="text-align: center;" height="20px">
							<td><span>-6</span></td>
							<td style="padding-left: 6px"><span>-5</span></td>
							<td style="padding-left: 6px"><span>-4</span></td>
							<td style="padding-left: 6px;"><span>-3</span></td>
							<td style="padding-left: 6px"><span>-2</span></td>
							<td style="padding-left: 6px"><span class="selected-day">-1</span></td>
							<td style="padding-left: 6px"><span>0</span></td>
						</tr>
						<tr>
							<td>
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171213">
									<md-tooltip>2017-12-13</md-tooltip>
									<span class="context-menu card-context even-icon">
										<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="happy" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
										 xmlns="http://www.w3.org/2000/svg">
											<g id="Happy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0, 0)">
												<circle id="Body" fill="#8BC34A" cx="22" cy="22" r="22"></circle>
												<g class="scaleFace">
													<g class="face">
														<ellipse id="Eye-right" fill="#2C0E0F" cx="29.0875" cy="21.75" rx="1.89926471" ry="1.75"></ellipse>
														<ellipse id="Eye-left" fill="#2C0E0F" cx="14.8992647" cy="21.75" rx="1.89926471" ry="1.75"></ellipse>
														<path d="M21.8941176,27.8819633 C24.8588235,27.8819632 25.4941176,25.5404999 25.4941176,24.5648901 C25.4941176,23.5892803 24.4352941,23.9795242 22.1058824,23.9795242 C19.7764706,23.9795242 18.2941176,23.5892803 18.2941176,24.5648901 C18.2941176,25.5404999 18.9294118,27.8819633 21.8941176,27.8819633 Z"
														 id="Mouth" fill="#2C0E0F"></path>
														<ellipse id="Tung" fill="#2C0E0F" cx="21.8941176" cy="26.4390244" rx="1.69411765" ry="0.780487805"></ellipse>
													</g>
												</g>
											</g>
										</svg>
									</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171214"><md-tooltip>2017-12-14</md-tooltip>
									<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="sad" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
										 xmlns="http://www.w3.org/2000/svg">
										<g id="sad" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0, 0)">
											<circle id="body" fill="#E23D18" cx="22" cy="22" r="22"></circle>
											<g id="face" transform="translate(13.000000, 20.000000)">
												<g class="face">
													<path d="M7,4 C7,5.1045695 7.8954305,6 9,6 C10.1045695,6 11,5.1045695 11,4" class="mouth" stroke="#2C0E0F" stroke-width="1.5"
														  stroke-linecap="round" stroke-linejoin="round" transform="translate(9.000000, 5.000000) rotate(-180.000000) translate(-9.000000, -5.000000) "></path>
													<ellipse class="right-eye" fill="#2C0E0F" cx="16.0941176" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
													<ellipse class="left-eye" fill="#2C0E0F" cx="1.90588235" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171215"><md-tooltip>2017-12-15</md-tooltip>
								<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="fine" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
									 xmlns="http://www.w3.org/2000/svg">
										<g id="fine-emotion" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="fine">
												<circle id="body" fill="#c2e085" cx="22" cy="22" r="22"></circle>
												<g class="matrix" transform="translate(22.000000, 32.000000)">
													<g class="face-container">
														<g class="face" transform="translate(-9, -12)">
															<g class="face-upAndDown">
																<g class="eyes">
																	<ellipse class="right-eye" fill="#2C0E0F" cx="16.0941176" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
																	<ellipse class="left-eye" fill="#2C0E0F" cx="1.90588235" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
																</g>
																<path d="M6.18823529,4.90499997 C6.18823529,5.95249999 7.48721095,7 9.08957864,7 C10.6919463,7 11.990922,5.95249999 11.990922,4.90499997"
																 id="mouth" stroke="#2C0E0F" stroke-linecap="round" stroke-linejoin="round"></path>
															</g>
														</g>
													</g>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171216"><md-tooltip>2017-12-16</md-tooltip>
									<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="day-off" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
										 xmlns="http://www.w3.org/2000/svg">
										<g>
											<circle id="body" fill="#E0E0E0" cx="22" cy="22" r="22"></circle>
											<g class="face">
												<g transform="translate(13.000000, 20.000000)" fill="#2C0E0F">
													<g class="mouth">
														<g transform="translate(9, 5)">
															<rect x="-2" y="0" width="4" height="2" rx="2"></rect>
														</g>
													</g>
													<ellipse class="right-eye" cx="16.0941176" cy="1.75" rx="1.90588235" ry="1.75"></ellipse>
													<ellipse class="left-eye" cx="1.90588235" cy="1.75" rx="1.90588235" ry="1.75"></ellipse>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171217"><md-tooltip>2017-12-17</md-tooltip>
								<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="fine" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
									 xmlns="http://www.w3.org/2000/svg">
										<g id="fine-emotion" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="fine">
												<circle id="body" fill="#c2e085" cx="22" cy="22" r="22"></circle>
												<g class="matrix" transform="translate(22.000000, 32.000000)">
													<g class="face-container">
														<g class="face" transform="translate(-9, -12)">
															<g class="face-upAndDown">
																<g class="eyes">
																	<ellipse class="right-eye" fill="#2C0E0F" cx="16.0941176" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
																	<ellipse class="left-eye" fill="#2C0E0F" cx="1.90588235" cy="1.75609756" rx="1.90588235" ry="1.75609756"></ellipse>
																</g>
																<path d="M6.18823529,4.90499997 C6.18823529,5.95249999 7.48721095,7 9.08957864,7 C10.6919463,7 11.990922,5.95249999 11.990922,4.90499997"
																 id="mouth" stroke="#2C0E0F" stroke-linecap="round" stroke-linejoin="round"></path>
															</g>
														</g>
													</g>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171218"><md-tooltip>2017-12-18</md-tooltip>
								<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="neutral" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
									 xmlns="http://www.w3.org/2000/svg">
										<g>
											<circle id="body" fill="#F9AC1B" cx="22" cy="22" r="22"></circle>
											<g class="face">
												<g transform="translate(13.000000, 20.000000)" fill="#2C0E0F">
													<g class="mouth">
														<g transform="translate(9, 5)">
															<rect x="-2" y="0" width="4" height="2" rx="2"></rect>
														</g>
													</g>
													<ellipse class="right-eye" cx="16.0941176" cy="1.75" rx="1.90588235" ry="1.75"></ellipse>
													<ellipse class="left-eye" cx="1.90588235" cy="1.75" rx="1.90588235" ry="1.75"></ellipse>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
							<td style="padding-left: 6px">
								<a href="#/rta/agent-historical/b46a2588-8861-42e3-ab03-9b5e015b257c/20171219"><md-tooltip>2017-12-19</md-tooltip>
								<span class="context-menu card-context even-icon">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" class="happy" width="44px" height="44px" viewBox="0 0 44 44" version="1.1"
									 xmlns="http://www.w3.org/2000/svg">
										<g id="Happy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0, 0)">
											<circle id="Body" fill="#8BC34A" cx="22" cy="22" r="22"></circle>
											<g class="scaleFace">
												<g class="face">
													<ellipse id="Eye-right" fill="#2C0E0F" cx="29.0875" cy="21.75" rx="1.89926471" ry="1.75"></ellipse>
													<ellipse id="Eye-left" fill="#2C0E0F" cx="14.8992647" cy="21.75" rx="1.89926471" ry="1.75"></ellipse>
													<path d="M21.8941176,27.8819633 C24.8588235,27.8819632 25.4941176,25.5404999 25.4941176,24.5648901 C25.4941176,23.5892803 24.4352941,23.9795242 22.1058824,23.9795242 C19.7764706,23.9795242 18.2941176,23.5892803 18.2941176,24.5648901 C18.2941176,25.5404999 18.9294118,27.8819633 21.8941176,27.8819633 Z"
													 id="Mouth" fill="#2C0E0F"></path>
													<ellipse id="Tung" fill="#2C0E0F" cx="21.8941176" cy="26.4390244" rx="1.69411765" ry="0.780487805"></ellipse>
												</g>
											</g>
										</g>
									</svg>
								</span>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<div class="rta-historical-adherence-row-wrapper">
					<div ng-repeat="row in vm.fullTimeline" class="label label-info" ng-attr-style="position: absolute; left: {{row.Offset}}; top: 10%; width: 36px; margin-left: -18px;">
						{{row.Time | amDateFormat: 'HH.mm'}}
					</div>
				</div>

				<div class="rta-out-of-adherences-wrapper">
					<span ng-repeat="outOfAdherence in vm.outOfAdherences" class="rta-alarmline out-of-adherence" ng-attr-style="left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 46%;"
					 data-starttime="{{outOfAdherence.StartTime}}" data-endtime="{{outOfAdherence.EndTime}}">
						<md-tooltip md-direction="top">
							{{outOfAdherence.StartTime}} - {{outOfAdherence.EndTime}}
						</md-tooltip>
					</span>

					<span class="rta-current-time" ng-if="vm.currentTimeOffset" ng-attr-style="left: {{vm.currentTimeOffset}};" style="height: 70%; margin-top: 6px;">
						<md-tooltip md-direction="top">
							{{vm.date | amDateFormat: "HH:mm:ss"}}
						</md-tooltip>
					</span>

					<div class="rta-shift rta-full-shift-wrapper">
						<div ng-repeat="activity in vm.agentsFullSchedule" class="rta-layer absolute floatleft activity" tabindex="0" ng-attr-style="width: {{activity.Width}}; left: {{activity.Offset}}; background-color: {{activity.Color}}; top: 12%;"
						 data-starttime="{{activity.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}" data-endtime="{{activity.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
						</div>
					</div>

				</div>
				<div class="hidden-md" style="height: 30px; position: relative;">
					<div ng-repeat="diamond in vm.diamonds" ng-class="{'diamond': true, 'highlight': diamond.highlight}" ng-click="diamond.click()"
					 ng-attr-style="left: {{diamond.Offset}}; border-color: {{diamond.RuleColor}};">
						<div class="inner" ng-attr-style="background-color: {{diamond.RuleColor}};"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<rta-card ng-repeat="card in vm.cards" ng-open="card.isOpen">
		<rta-card-header ng-attr-styles="border-left-color: {{card.Color}}">{{card.Header}}</rta-card-header>
		<rta-card-body>
			<div class="con-row">
				<div class="con-flex">
					<ul class="wfm-simple-list rta-list">
						<li>
							<div class="con-row rta-change-row hidden-sm">
								<div class="con-flex">
									<b>{{'Time' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Activity' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'State' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Rule' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Adherence' | translate}}</b>
								</div>
							</div>
						</li>
						<li ng-repeat="item in card.Items" class="change" ng-class="{'highlight': item.highlight}" data-time="{{item.Time | amDateFormat: 'HH:mm:ss'}}"
						 ng-click="item.click()">
							<div class="con-row rta-change-row">
								<div class="con-flex time">{{item.Time | amDateFormat: 'HH:mm:ss' }}</div>
								<div class="con-flex">
									<span ng-if="item.Activity" class="historical-label" ng-attr-style="border: 1px solid {{item.ActivityColor}}; border-left: 10px solid {{item.ActivityColor}};">
										{{item.Activity}}
									</span>
								</div>
								<div class="con-flex">{{item.State}}</div>
								<div class="con-flex">
									<span ng-if="item.Rule" class="historical-label" ng-attr-style="border: 1px solid {{item.RuleColor}}; border-left: 10px solid {{item.RuleColor}};">
										{{item.Rule}}
									</span>
								</div>
								<div class="con-flex">
									<span ng-if="item.Adherence" class="historical-label" ng-attr-style="border: 1px solid {{item.AdherenceColor}}; border-left: 10px solid {{item.AdherenceColor}};">
										{{item.Adherence}}
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</rta-card-body>
	</rta-card>
</div>