<div class="rta-view">
<div class="view-header with-fab with-desc">
	<div class="view-title">
		<div class="pull-left">
			<h1>
				<i class="mdi mdi-alarm"></i> <b>{{vm.agentName}}</b> {{vm.date}}
			</h1>
		</div>
	</div>
</div>

<div class="panel material-depth-1">
	<div class="con-row" ng-if="vm.showAdherencePercentage">
		<div class="con-flex adherence-percent" style="padding-top:10px">
			{{'Adherence' | translate}} {{vm.adherencePercentage}}%
		</div>
		<div class="con-flex" style="padding-top:10px;">
			<!--<div class="pull-right">-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171209"><img src="https://image.flaticon.com/icons/png/32/187/187134.png"><md-tooltip>2017-12-09</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171210" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187143.png"><md-tooltip>2017-12-10</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171211" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187142.png"><md-tooltip>2017-12-11</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171212" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187134.png"><md-tooltip>2017-12-12</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171213" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187136.png"><md-tooltip>2017-12-13</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171214" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187134.png"><md-tooltip>2017-12-14</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171215" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187142.png"><md-tooltip>2017-12-15</md-tooltip></a>-->
				<!--<a href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171216" style="padding-left:6px"><img src="https://image.flaticon.com/icons/png/32/187/187142.png"><md-tooltip>2017-12-16</md-tooltip></a>-->
			<!--</div>-->
			<span class="pull-right">
				<a class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171214" style="margin-right:20px; text-decoration:none;"><i class="mdi mdi-chevron-left" style="font-size: 14px !important;"></i> <md-tooltip>2017-12-14</md-tooltip>Previous</a>
				<a class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" href="#/rta/agent-historical/625295cf-9b4c-4915-ba66-9b5e015b257c/20171215" style="text-decoration: none;">Next <i class="mdi mdi-chevron-right" style="font-size: 14px !important;"></i><md-tooltip>2017-12-15</md-tooltip></a>
			</span>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex">
			<div class="rta-historical-adherence-row-wrapper">
				<div ng-repeat="row in vm.fullTimeline" class="label label-info"
					 ng-attr-style="position: absolute; left: {{row.Offset}}; top: 10%; width: 36px; margin-left: -18px;">
					{{row.Time | amDateFormat: 'HH.mm'}}
				</div>
			</div>

			<div class="rta-out-of-adherences-wrapper">
                <span ng-repeat="outOfAdherence in vm.outOfAdherences" class="rta-alarmline out-of-adherence"
					  ng-attr-style="left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 46%;"
					  data-starttime="{{outOfAdherence.StartTime}}" data-endtime="{{outOfAdherence.EndTime}}">
					<md-tooltip md-direction="top">
						{{outOfAdherence.StartTime}} - {{outOfAdherence.EndTime}}
					</md-tooltip>
				</span>

				<span class="rta-current-time" ng-if="vm.currentTimeOffset"
					  ng-attr-style="left: {{vm.currentTimeOffset}};" style="height: 70%; margin-top: 6px;">
					<md-tooltip md-direction="top">
						{{vm.date | amDateFormat: "HH:mm:ss"}}
					</md-tooltip>
				</span>

				<div class="rta-shift rta-full-shift-wrapper">
					<div ng-repeat="activity in vm.agentsFullSchedule" class="rta-layer absolute floatleft activity"
						 tabindex="0"
						 ng-attr-style="width: {{activity.Width}}; left: {{activity.Offset}}; background-color: {{activity.Color}}; top: 12%;"
						 data-starttime="{{activity.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}"
						 data-endtime="{{activity.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
					</div>
				</div>

			</div>
			<div class="hidden-md" style="height: 30px; position: relative;">
				<div ng-repeat="diamond in vm.diamonds" ng-class="{'diamond': true, 'highlight': diamond.highlight}"
					 ng-click="diamond.click()"
					 ng-attr-style="left: {{diamond.Offset}}; border-color: {{diamond.RuleColor}};">
					<div class="inner" ng-attr-style="background-color: {{diamond.RuleColor}};"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<rta-card ng-repeat="card in vm.cards" ng-open="card.isOpen">
	<rta-card-header ng-attr-styles="border-left-color: {{card.Color}}">{{card.Header}}</rta-card-header>
	<rta-card-body>
		<div class="con-row">
			<div class="con-flex">
				<ul class="wfm-simple-list rta-list">
					<li>
						<div class="con-row rta-change-row hidden-sm">
							<div class="con-flex"><b>{{'Time' | translate}}</b></div>
							<div class="con-flex"><b>{{'Activity' | translate}}</b></div>
							<div class="con-flex"><b>{{'State' | translate}}</b></div>
							<div class="con-flex"><b>{{'Rule' | translate}}</b></div>
							<div class="con-flex"><b>{{'Adherence' | translate}}</b></div>
						</div>
					</li>
					<li ng-repeat="item in card.Items" class="change" ng-class="{'highlight': item.highlight}"
						data-time="{{item.Time | amDateFormat: 'HH:mm:ss'}}"
						ng-click="item.click()">
						<div class="con-row rta-change-row">
							<div class="con-flex time">{{item.Time | amDateFormat: 'HH:mm:ss' }}</div>
							<div class="con-flex">
								<span ng-if="item.Activity" class="historical-label"
									  ng-attr-style="border: 1px solid {{item.ActivityColor}}; border-left: 10px solid {{item.ActivityColor}};">
									{{item.Activity}}
								</span>
							</div>
							<div class="con-flex">{{item.State}}</div>
							<div class="con-flex">
								<span ng-if="item.Rule" class="historical-label"
									  ng-attr-style="border: 1px solid {{item.RuleColor}}; border-left: 10px solid {{item.RuleColor}};">
									{{item.Rule}}
								</span>
							</div>
							<div class="con-flex">
								<span ng-if="item.Adherence" class="historical-label"
									  ng-attr-style="border: 1px solid {{item.AdherenceColor}}; border-left: 10px solid {{item.AdherenceColor}};">
									{{item.Adherence}}
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</rta-card-body>
</rta-card>
</div>