<div class="rta-view historical prototype">
	
	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1>
				<i class="mdi mdi-alarm"></i>
				<b>{{vm.agentName}}</b> {{vm.date}}
			</h1>
		</div>
		<div class="fab-wrapper" style="width: 30%">
			<div class="pull-right">
				<a ng-href="{{vm.previousHref}}" style="display: inline-block"
				   class="wfm-btn wfm-btn-default" ng-disabled="!vm.previousHref">
					<md-tooltip ng-if="vm.previousTooltip">{{vm.previousTooltip}}</md-tooltip>
					<i class="mdi mdi-chevron-left" style="font-size: 14px !important;"></i>
					{{'Previous' | translate}}
				</a>
				<a ng-href="{{vm.nextHref}}" style="display: inline-block"
				   class="wfm-btn wfm-btn-default" ng-disabled="!vm.nextHref">
					<md-tooltip ng-if="vm.nextTooltip">{{vm.nextTooltip}}</md-tooltip>
					{{'Next' | translate}}
					<i class="mdi mdi-chevron-right" style="font-size: 14px !important;"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="panel material-depth-1">
		<div class="con-row">
			<div class="con-flex con-padding">
				{{'Adherence' | translate}} 60%
			</div>
			<div class="con-flex con-padding" style="flex-basis: 80%!important">
				<div class="rta-historical-adherence-row-wrapper">
					<div ng-repeat="row in vm.fullTimeline" class="label label-info"
						 ng-attr-style="position: absolute; left: {{row.Offset}}; top: 10%; width: 36px; margin-left: -18px;">
						{{row.Time | amDateFormat: 'HH.mm'}}
					</div>
				</div>

				<div class="rta-out-of-adherences-wrapper">
						<span ng-repeat="outOfAdherence in vm.outOfAdherences"
							  class="rta-alarmline out-of-adherence"
							  ng-attr-style="left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 46%;"
							  data-starttime="{{outOfAdherence.StartTime}}" data-endtime="{{outOfAdherence.EndTime}}">
							<md-tooltip md-direction="top">
								{{outOfAdherence.StartTime}} - {{outOfAdherence.EndTime}}
							</md-tooltip>
						</span>

					<span class="rta-current-time" ng-if="vm.currentTimeOffset"
						  ng-attr-style="left: {{vm.currentTimeOffset}};" style="height: 70%; margin-top: 6px;">
							<md-tooltip md-direction="top">
								{{vm.date | amDateFormat: "HH:mm:ss"}}
							</md-tooltip>
						</span>

					<div class="rta-shift rta-full-shift-wrapper">
						<div ng-repeat="activity in vm.agentsFullSchedule"
							 class="rta-layer absolute floatleft activity" tabindex="0"
							 ng-attr-style="width: {{activity.Width}}; left: {{activity.Offset}}; background-color: {{activity.Color}}; top: 12%;"
							 data-starttime="{{activity.StartTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}"
							 data-endtime="{{activity.EndTime | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="panel material-depth-1">

		<div class="con-row">
			<div class="con-flex con-padding">
				Changes
			</div>
			<div class="con-flex" style="flex-basis: 80%!important">
				<div class="hidden-md" style="height: 15px; position: relative;">
					<div ng-repeat="diamond in vm.diamonds"
						 ng-class="{'diamond': true, 'highlight': diamond.highlight}" ng-click="diamond.click()"
						 ng-attr-style="top: 4px; margin-top: 0; left: {{diamond.Offset}}; border-color: {{diamond.RuleColor}};">
						<div class="inner" ng-attr-style="background-color: {{diamond.RuleColor}};"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="con-row">
			<div class="con-flex con-padding">
				Out of Adherence
			</div>
			<div class="con-flex" style="flex-basis: 80%!important">
				<div style="height: 20px; position: relative">
					<span ng-click="outOfAdherence.highlight = !outOfAdherence.highlight; openCard = !openCard"
						  ng-repeat="outOfAdherence in vm.outOfAdherences2"
						  ng-class="{'highlight': outOfAdherence.highlight}"
						  class="rta-alarmline"
						  ng-attr-style="height: 20px; background-color: #B22222; opacity: 1; left: {{outOfAdherence.Offset}}; width: {{outOfAdherence.Width}}; bottom: 0;"
						  data-starttime="{{outOfAdherence.StartTime}}" data-endtime="{{outOfAdherence.EndTime}}"
						  role="button">
							<md-tooltip md-direction="top">
								{{outOfAdherence.StartTime}} - {{outOfAdherence.EndTime}}
							</md-tooltip>
					</span>
				</div>
			</div>
		</div>

		<div class="con-row">
			<div class="con-flex con-padding">
				Approved as In Adherence
			</div>
			<div class="con-flex" style="flex-basis: 80%!important">
				<div style="height: 20px; position: relative">
						<span ng-repeat="foo in vm.foos"
							  ng-click="foo.highlight = !foo.highlight"
							  class="rta-approvedline"
							  ng-class="{'highlight': foo.highlight}"
							  ng-attr-style="height: 20px; background-color: #556B2F; opacity: 1; left: {{foo.Offset}}; width: {{foo.Width}}; bottom: 0;"
							  data-starttime="{{foo.StartTime}}" data-endtime="{{foo.EndTime}}" role="button">
						</span>
				</div>
			</div>
		</div>
	</div>


	<div class="con-row">
		<div class="con-flex" style="margin-right: 5px">

			<rta-card-panel open="openRecordedCard" left-border-color="'#66c2ff'">
				<rta-card-panel-header>
					Out of Adherence
				</rta-card-panel-header>
				<rta-card-panel-content>
					<div class="panel" style="max-height: 300px; overflow-y: scroll">
						<table class="wfm-table">
							<th style="width: 20%">Start</th>
							<th style="width: 20%">End</th>
							<tr ng-repeat="outOfAdherence in vm.recordedOutOfAdherences"
								ng-class="{'highlight': outOfAdherence.highlight}"
								ng-click="outOfAdherence.highlight = !outOfAdherence.highlight; vm.showApprovePanel(outOfAdherence);">
								<td>
									{{outOfAdherence.StartTime}}
								</td>
								<td>
									{{outOfAdherence.EndTime}}
								</td>
							</tr>
						</table>
					</div>
				</rta-card-panel-content>
			</rta-card-panel>

		</div>
		<div class="con-flex x3">
			<div class="con-row" ng-show="vm.showApprovePanel()" style="margin-bottom: 8px;">
				<div class="con-flex panel material-depth-1" style="padding: 10px">
					<label style="margin-left: 12px">
						Start:
						<input type="time" value="{{vm.approveStartTime}}"
							   style="margin-left: 10px; margin-right: 30px; width: 90px; border:none; border-bottom: 1px solid lightgrey; line-height: 20px"
							   step="2"/>
					</label>
					<label>
						End:
						<input type="time" value="{{vm.approveEndTime}}"
							   style="margin-left: 10px; width: 90px; border:none; border-bottom: 1px solid lightgrey; line-height: 20px"
							   step="2"/>
					</label>
					<button type="button" class="wfm-btn wfm-btn-invis-default">
						Cancel
					</button>
					<button type="submit" class="wfm-btn wfm-btn-invis-primary">
						Approve as in adherence
					</button>
				</div>
			</div>
			
			<div class="con-row">
				<div class="con-flex">

					<rta-card-panel open="openApprovedCard" left-border-color="'#66c2ff'">
						<rta-card-panel-header>
							Approved as In Adherence
						</rta-card-panel-header>
						<rta-card-panel-content>
							<div class="panel">
								<table class="wfm-table">
									<th style="width: 20%">Start</th>
									<th style="width: 20%">End</th>
									<th></th>
									<tr ng-repeat="approved in vm.approvedAdherences" ng-class="{'highlight': approved.highlight}"
										ng-click="approved.highlight = !approved.highlight">
										<td>
											{{approved.StartTime}}
										</td>
										<td>
											{{approved.EndTime}}
										</td>
										<td>In Adherence</td>
									</tr>
								</table>
							</div>
						</rta-card-panel-content>
					</rta-card-panel>

				</div>
			</div>


		</div>
	</div>
	
	<rta-card-panel ng-repeat="card in vm.cards" open="card.isOpen" left-border-color="card.Color">
		<rta-card-panel-header>{{card.Header}}</rta-card-panel-header>
		<rta-card-panel-content>
			<div class="con-row">
				<div class="con-flex">
					<ul class="wfm-simple-list rta-list">
						<li>
							<div class="con-row rta-change-row hidden-sm">
								<div class="con-flex">
									<b>{{'Time' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Activity' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'State' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Rule' | translate}}</b>
								</div>
								<div class="con-flex">
									<b>{{'Adherence' | translate}}</b>
								</div>
							</div>
						</li>
						<li ng-repeat="item in card.Items" class="change" ng-class="{'highlight': item.highlight}"
							data-time="{{item.Time | amDateFormat: 'HH:mm:ss'}}"
							ng-click="item.click()">
							<div class="con-row rta-change-row">
								<div class="con-flex time">{{item.Time | amDateFormat: 'HH:mm:ss' }}</div>
								<div class="con-flex">
									<span ng-if="item.Activity" class="historical-label"
										  ng-attr-style="border: 1px solid {{item.ActivityColor}}; border-left: 10px solid {{item.ActivityColor}};">
										{{item.Activity}}
									</span>
								</div>
								<div class="con-flex">{{item.State}}</div>
								<div class="con-flex">
									<span ng-if="item.Rule" class="historical-label"
										  ng-attr-style="border: 1px solid {{item.RuleColor}}; border-left: 10px solid {{item.RuleColor}};">
										{{item.Rule}}
									</span>
								</div>
								<div class="con-flex">
									<span ng-if="item.Adherence" class="historical-label"
										  ng-attr-style="border: 1px solid {{item.AdherenceColor}}; border-left: 10px solid {{item.AdherenceColor}};">
										{{item.Adherence}}
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</rta-card-panel-content>
	</rta-card-panel>

</div>
