<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authenticationMessage" type="Teleopti.Ccc.Sdk.Common.WcfExtensions.AuthenticationMessageBehaviorExtension, Teleopti.Ccc.Sdk.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9e7932cdbb39c45f" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession" openTimeout="00:02:00" sendTimeout="00:02:00" maxReceivedMessageSize="200000000" receiveTimeout="00:30:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableAuthentication">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
          <authenticationMessage />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal" name="ITeleoptiCccSdkInternal" />
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccLogOnService" name="ITeleoptiCccLogOnService" />
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiOrganizationService" name="ITeleoptiOrganizationService" />
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiSchedulingService" name="ITeleoptiSchedulingService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Queues" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.ServiceBus" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.1" newVersion="2.3.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>