<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
	</configSections>
	<rhino.esb>
		<assemblies>
			<add assembly="Rhino.ServiceBus.SqlQueues" />
		</assemblies>
		<bus threadCount="5"
		   numberOfRetries="5"
		   endpoint="sql.queues://xyz:2204/denormalize"
		   name="denormalize"
		   queueIsolationLevel="ReadCommitted"/>
		<messages>
			<add name="Teleopti.Interfaces.Messages.Rta" endpoint="sql.queues://xyz:2206/rta"/>
			<add name="Teleopti.Interfaces.Messages.Denormalize" endpoint="sql.queues://xyz:2204/denormalize"/>
			<add name="Teleopti.Ccc.Domain.ApplicationLayer.Rta" endpoint="sql.queues://xyz:2206/rta"/>
			<add name="Teleopti.Ccc.Domain.ApplicationLayer.Commands" endpoint="sql.queues://xyz:2204/denormalize"/>
			<add name="Teleopti.Ccc.Domain.ApplicationLayer.Events" endpoint="sql.queues://xyz:2204/denormalize"/>
			<add name="Teleopti.Ccc.Infrastructure.UnitOfWork" endpoint="sql.queues://xyz:2204/denormalize"/>
			<add name="Teleopti.Interfaces.Messages.Requests" endpoint="sql.queues://xyz:2202/request"/>
			<add name="Teleopti.Interfaces.Messages.General" endpoint="sql.queues://xyz:2203/general"/>
			<add name="Teleopti.Interfaces.Messages.Payroll" endpoint="sql.queues://xyz:2205/payroll"/>
		</messages>
		<security>
			<key>f/gdDWbDqHRvpqdRbTs3mxhGdZh9qCaDrasxJGXl+5s=</key>
		</security>
	</rhino.esb>
</configuration>
