<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Teleopti.Ccc.Sdk.LoadTest.ThreadLocalSoapHeaderExtension, Teleopti.Ccc.Sdk.LoadTest"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
