<people-page-container data-test-application-logon>
  <div class="con-row">
    <div class="blue-box con-flex">
      <h2>Application logon</h2>
    </div>
  </div>
  <form [formGroup]="form">
    <form formArrayName="people">
      <ng-container *ngFor="let personGroup of people.controls; let i=index" [formGroupName]="i">
        <div class="con-row" data-test-person>
          <div class="con-flex">
            <mat-form-field class="full-width">
              <input matInput formControlName="FullName" placeholder="Full name" data-test-person-name>
            </mat-form-field>
          </div>
          <div class="con-flex">
            <mat-form-field class="full-width">
              <input matInput formControlName="Logon" maxlength="50" placeholder="Application logon" data-test-person-logon>
              <mat-error *ngIf="personGroup.get('Logon').hasError('duplicateNameValidator')">
                {{'PeopleUsernameIsAlreadyInUse' | translate}}
              </mat-error>
              <mat-error *ngIf="personGroup.get('Logon').hasError('duplicateFormNameValidator')">
                {{'PeopleDuplicateUsernameInForm' | translate}}
              </mat-error>
              <mat-error *ngIf="personGroup.get('Logon').hasError('maxLength')">
                <ng-container translate [translateParams]="{'0':50}">PeopleUsernameHasALimitOfXCharacters</ng-container>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </form>
  </form>
  <div class="con-row">
    <div class="con-flex">
      <aside class="action-buttons">
        <button mat-button (click)="nav.navToSearch()">{{'Cancel' | translate}}</button>
        <button mat-button color="primary" [disabled]="!isValid()" (click)="save()" data-test-save>{{'Save' | translate}}</button>
      </aside>
    </div>
  </div>
</people-page-container>