<people-page-container data-test-application-logon>
  <div class="con-row">
    <div class="blue-box con-flex">
      <h2>Application logon</h2>
    </div>
  </div>
  <div class="con-row">
    <div class="con-flex">
      <form [formGroup]="logonForm">
        <form formArrayName="logons">
          <mat-grid-list cols="2" rowHeight="10:1" class="form-group" *ngFor="let logonControl of logons.controls; let i=index" [formGroupName]="i">
            <mat-grid-tile>
              Name
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="center-block">Application logon:
                <input matInput formControlName="ApplicationLogon">
                <mat-error *ngIf="logonControl.get('ApplicationLogon').hasError('duplicateNameValidator')">
                  Username is already in use
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </form>
      <div *ngIf="duplicationError">You have duplicate values</div>
    </div>
  </div>
  <div class="con-row">
    <div class="con-flex">
      <aside class="action-buttons">
        <button mat-button (click)="nav.navToSearch()">Cancel</button>
        <button mat-button color="primary" [disabled]="!isValid()" data-test-save>Save</button>
      </aside>
    </div>
  </div>
</people-page-container>