<div ui-view>
	<div ng-show="scheduleClicked && !schedulingPerformed" class="test-schedule-is-running">
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		<p>{{status}}</p>
		<p ng-if="errorMessage">{{errorMessage}}</p>
	</div>
	<!--dont remove test-errorMessage - used to assert in test -->
	<div ng-if="errorMessage" class="test-errorMessage">
		<p>{{errorMessage}}</p>
	</div>
	<div class="view-header">
		<div class="view-title">
			<!--TRANSLATE ME-->
			<h1><i class="mdi mdi-calendar"></i> {{planningPeriod.StartDate | amDateFormat:"L"}} {{'ToText' | translate}} {{planningPeriod.EndDate | amDateFormat:"L"}} 				<i ng-show="initialized" ng-click="changeDateToggle = !changeDateToggle;suggestions(planningPeriod.Id)" class="mdi mdi-pencil pointer update-planning-peroid"><md-tooltip>{{'ChangePlanningPeriod' | translate }}</md-tooltip></i></h1>

			<div ng-if="planningPeriod.State != 'New'" class="text-info">
				{{'PlanningPeriodIsScheduled' | translate }}
			</div>
		</div>
	</div>
	<div class="next-planning-peroid">
		<!--dont remove update-planning-peroid - used to assert in test -->
		<div ng-show="!initialized">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			<p>{{'CheckingForecastingRequirements' | translate}}</p>
		</div>
		<div ng-show="initialized">
			<div class="wfm-test-inputContainer" ng-show="changeDateToggle && isEnabled && !planningPeriod.HasNextPlanningPeriod" ng-disabled="rangeDisabled">
				{{'ChangePlanningPeriodTo' | translate}}
				<div ng-repeat="op in suggestedPlanningPeriods">
					<!--dont remove new-planning-period - used to assert in test -->
					<div class="wfm-radio new-planning-period">
						<input type="radio" name="changeRangeGroup" id="{{op.PeriodType}}-{{op.Number}}-{{$index}}" ng-click="rangeUpdated(planningPeriod.Id, op)" />
						<label for="{{op.PeriodType}}-{{op.Number}}-{{$index}}">
							<span class="wfm-radio-toggle"></span>
							<span class="wfm-radio-label new-planning-period"> {{op.StartDate | amDateFormat:"L"}}
								 {{'ToText' | translate}}
								 {{op.EndDate | amDateFormat:"L"}} {{'HavingRangeOf' | translate}}
								  {{op.Number}} {{op.PeriodType}}</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex">
			<div ng-show="shouldShowValidationErrors(planningPeriod)">
				{{'PlanningPeriodMissingMessage' | translate}}
				<button class="wfm-btn wfm-btn-default" ng-click="showErrors=!showErrors">{{'Show'|translate}}
					<md-tooltip>{{'ShowErrors'|translate}}</md-tooltip>
				</button>
			</div>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex">
			<button class="wfm-btn material-depth-1 wfm-btn-primary test-schedule-button" ng-class="{'shrink-in': disableSchedule()}" ng-disabled="disableSchedule()" ng-click="launchSchedule(planningPeriod)">
				{{'ScheduleVerb' | translate }}
			</button>
			<button class="wfm-btn material-depth-1 wfm-btn-primary" ng-class="{'shrink-in': disableReport()}" ng-disabled="disableReport()" ng-click="goToReport(planningPeriod)">
				{{'LatestScheduleResult' | translate }}
			</button>
		</div>
	</div>
	<div ng-show="showErrors">
		<div class="con-row panel">
			<div class="con-flex">
				<ul class="wfm-accordion material-depth-1">
					<li ng-repeat="resource in planningPeriod.ValidationResult.InvalidResources">
						<div class="wfm-accordion-head" ng-click="resource.toggle = !resource.toggle">
							{{resource.ResourceName}}
							<i ng-class="{'toggle-icon-open':resource.toggle}" class="mdi mdi-chevron-right"></i>
							<span class="pull-right" class="text-muted">{{resource.ValidationErrors.length}} {{'IssuesText' | translate }}</span>
						</div>
						<div class="wfm-accordion-content" ng-cloak ng-show="resource.toggle">
							<div ng-repeat="error in resource.ValidationErrors">{{error}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
