:host ::ng-deep .ant-layout-header,
:host ::ng-deep .ant-layout-footer {
  background: #fcfcfc;
  color: #fff;
}

.report-action-panel {
  text-align: right;
}

.report-ction {
  margin-left: 10px;
  margin-right: 10px;
}