<div class="container body-content" ng-controller="jobDetailsController as vm">
	<a style="float: left; padding-top: 25px; padding-right: 50px"><img alt="back" src="Content/images/left_round.png" ng-click="vm.back()" /></a>
	<h2>Job Details</h2>
	<div>
		<div class="row">
			<h4 ng-class="vm.Job.Result=='Success' ? 'green' : (vm.Job.Result==null ? 'hide' : 'red')">Job {{vm.Job.Result}}!</h4>
			<div style="font-size: 14px; font-weight: bold; color: tomato">{{vm.JobError}}</div>
			<h4>{{vm.Job.Name}}</h4>
		</div>
			<div class="row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Created</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.CreatedBy}} {{vm.Job.Created | date : 'yyyy-MM-dd HH:mm:ss'}} (UTC)
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Duration</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.TotalDuration | date : 'yyyy-MM-dd HH:mm:ss'}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Payload</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.Serialized}}
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Started</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.Started | date : 'yyyy-MM-dd HH:mm:ss'}} (UTC)
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Ended</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.Ended | date : 'yyyy-MM-dd HH:mm:ss'}} (UTC)
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p class="titleBlue">Node</p>
						</div>
						<div class="col-md-10">
							{{vm.Job.SentToWorkerNodeUri}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<h3>Additional Job details</h3>
				<div>
					<table>
						<thead>
						<tr>
							<th>Detail Created (UTC)</th>
							<th>Detail</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="detail in vm.JobDetails | limitTo:vm.quantity">
							<td>{{detail.Created | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{detail.Detail}}</td>
						</tr>
						</tbody>
					</table>


				</div>
				<div ng-if="vm.JobDetails.length > vm.quantity">
					<button class="btn-primary col-md-12" ng-click="vm.quantity = vm.quantity +5">More data exists, click to display</button>
				</div>
			</div>

		</div>
</div>