<ul class="nav nav-tabs" ng-controller="menuController as vm">
	<li role="presentation" id="nodes" ng-class="{'active': vm.nodesisActive}" ng-click="vm.changeCurrentTab('nodes')"><a href>Nodes</a></li>
	<li role="presentation" id="queue" ng-class="{'active': vm.queueisActive}" ng-click="vm.changeCurrentTab('queue')"><a href>Queue</a></li>
	<li role="presentation" id="jobs" ng-class="{'active': vm.jobsisActive}" ng-click="vm.changeCurrentTab('jobs')"><a href>History</a></li>
	<li role="presentation" id="failedjobs" ng-class="{'active': vm.failedJobsisActive}" ng-click="vm.changeCurrentTab('failedJobs')"><a href>Failed Jobs</a></li>
</ul>
