<ul class="nav nav-tabs" ng-controller="menuController as vm">
	<li role="presentation" id="nodes" ng-class="{'active': vm.nodesisActive}" ng-click="vm.changeCurrentTab('Nodes')"><a href>Nodes</a></li>
	<li role="presentation" id="queue" ng-class="{'active': vm.queueisActive}" ng-click="vm.changeCurrentTab('Queue')"><a href>Queue</a></li>
	<li role="presentation" id="jobs" ng-class="{'active': vm.jobs_isActive}" ng-click="vm.changeCurrentTab('Jobs')"><a href>Jobs</a></li>
	<li role="presentation" id="jobs" ng-class="{'active': vm.jobs_isActive}" ng-click="vm.changeCurrentTab('failedJobs')"><a href>Failed Jobs</a></li>
</ul>
