<div class="container body-content" ng-controller="nodeDetailsController as vm">
	<a style="float: left; padding-top: 25px; padding-right: 50px"><img alt="back" src="Content/images/left_round.png" ng-click="vm.back()" /></a>
	<h2>Node details</h2>
	<div>
		<div class="row">
			<h4 ng-class="vm.Node.Alive === false ? 'red' : 'hide' ">The node is dead!</h4>
			<h4>{{vm.Node.Url}}</h4>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-2">
						<p class="titleBlue">Latest Heartbeat</p>
					</div>
					<div class="col-md-10">
						{{vm.Node.Heartbeat | date : 'yyyy-MM-dd HH:mm:ss'}} (UTC)
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p class="titleBlue">Running</p>
					</div>
					<div class="col-md-10">
						{{vm.Node.Running}}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<h3>Latest Jobs</h3>
			<h5>Click the Type of a job to see details.</h5>
			<div>
				<table>
					<thead>
					<tr>
						<th>Type</th>
						<th>Finished (UTC)</th>
						<th>Total Duration</th>
						<th>Sent to</th>
						<th>Result</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="job in vm.Jobs">
						<td><a href="#StardustDashboard/jobs/{{job.JobId}}">{{job.Name}}</a></td>
						<td>{{job.Ended | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{job.TotalDuration}}</td>
						<td>{{job.SentToWorkerNodeUri}}</td>
						<td ng-class="job.Result=='Success' ? 'green' : (job.Result==null ? 'hide' : 'red')">{{job.Result}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<button ng-disabled="vm.noMoreJobs" ng-click="vm.getNewFreshData()" class="btn-primary col-md-2"> load {{vm.limit}} more</button>
		</div>
	</div>
</div>
