<div class="container body-content" ng-controller="jobQueueController as vm">
	<div class="nav" ng-include="'./StardustDashboard/menu.html'" role="navigation"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>Job Queue</h3>
			<div style="margin-bottom: 10px">
				<button ng-disabled="vm.selected.length === 0" ng-click="vm.deleteQueuedJobs()" class="btn-warning">Delete</button>
			</div>
			<div>
				<table>
					<thead>
					<tr>
						<th>
							<md-checkbox style="margin-bottom: 0" aria-label="check all" ng-checked="vm.isChecked()"
											 md-indeterminate="vm.isIndeterminate()"
											 ng-click="vm.toggleAll()">
							</md-checkbox>
						</th>
						<th>Type</th>
						<th>Created (UTC)</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="job in vm.Jobs">
						<td><md-checkbox aria-label="check to delete" style="margin-bottom: 0" type="checkbox" ng-checked="vm.exists(job.JobId, vm.selected)" ng-click="vm.toggle(job.JobId, vm.selected)"/></td>
						<td><a href="#StardustDashboard/queue/{{job.JobId}}">{{job.Name}}</a></td>
						<td>{{job.CreatedBy}} {{job.Created | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div style="margin-top: 10px">
				<button ng-disabled="vm.noMoreJobs" ng-click="vm.getNewFreshData()" class="btn-primary col-md-2"> load {{vm.limit}} more</button>
			</div>
			</div>
		
	</div>
</div>

