<div class="container body-content" ng-controller="summaryController as vm">
	<h2>Stardust Dashboard</h2>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default ">
				<div class="panel-heading">Trigger Resource Calculation</div>
				<div class="panel-body">
					<p>Don't trigger this Stardust job in a customer environment unless you know what you are doing! These jobs will take a lot of Stardust resources.</p>
					<div class="dropdown" style="padding-bottom: 10px">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span ng-show="!vm.selectedTenantName">Select Tenant...</span>
							<span ng-show="vm.selectedTenantName">{{vm.selectedTenantName}}</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-repeat="tenant in vm.Tenants" ng-click="vm.selectTenant(tenant.Name)"><a>{{tenant.Name}}</a></li>
						</ul>
					</div>
					<div class="row" style="padding: 10px">
						<button class="btn btn-primary" ng-disabled="!vm.selectedTenantName" ng-click="vm.triggerResourceCalculation()">
							<span class="text-white">Trigger Resource Calculation &raquo;</span>
						</button>
					</div>
				</div>
			</div>
			<div ng-show="vm.showRefreshPayrollFormats" class="panel panel-default ">
				<div class="panel-heading">Trigger payroll format load</div>
				<div class="panel-body">
					<p>Copies the Payroll dlls from the source. Either the default path Payroll.DeployNew\[TENANTNAME] or the path configured on the startpage of the Aministration site. Use the 'PayrollSourcePath' Key to define a shared directory with one directory for each tenant (\\SERVER\Dlls\[TENANTNAME]) where all Service Buses can fetch the dlls from.</p>
					<div class="dropdown" style="padding-bottom: 10px">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span ng-show="!vm.selectedTenantName">Select Tenant...</span>
							<span ng-show="vm.selectedTenantName">{{vm.selectedTenantName}}</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-repeat="tenant in vm.Tenants" ng-click="vm.selectTenant(tenant.Name)"><a>{{tenant.Name}}</a></li>
						</ul>
					</div>
					<div class="row" style="padding: 10px">
						<button class="btn btn-primary" ng-disabled="!vm.selectedTenantName" ng-click="vm.refreshPayrollFormats()">
							<span class="text-white">Trigger payroll format load &raquo;</span>
						</button>
					</div>
				</div>
			</div>

			<div ng-show="vm.showIntradayTool" class="panel panel-default ">
				<div class="panel-heading">IntradayTool</div>
				<div class="panel-body">
					<p>If you see this in production please contact the support team. Do not use this in production!</p>
					<div class="row" style="padding: 10px">
						<button class="btn btn-primary" ng-click="vm.intradayToolGoWithTheFlow()">
							<span class="text-white">Go with the flow</span>
						</button>
					</div>
				</div>
			</div>


			<div class="panel panel-default ">
				<div class="panel-heading">Run Health Check</div>
				<div class="panel-body">
					<p>
						Do you suspect something is wrong with Stardust? Run the Healthcheck and see if there is any communication issues!
						<br />
						<br />
						<button class="btn btn-primary" ng-click="vm.healthCheck()">
							<span class="text-white">Health Check &raquo;</span>
						</button>
						<br />
						<br />
						<md-icon md-svg-src="Content/images/error_alert_24px.svg" ng-show="vm.showHealthAlert"></md-icon> {{vm.result}}
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default ">
				<div class="panel-heading">
					Failures  <md-icon md-svg-src="Content/images/error_alert_24px.svg" ng-show="vm.showFailureAlert"></md-icon>
				</div>
				<div class="panel-body">
					<table ng-show="vm.anyFailedJobs">
						<thead>
							<tr>
								<th>Tenant</th>
								<th>Event</th>
								<th>Started (UTC)</th>
								<th>Sent to</th>
								<th>Result</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in vm.FailedJobs">
								<td>{{job.DataSource}}</td>
								<td><a target="_blank" href="#StardustDashboard/jobs/{{job.JobId}}">{{job.Type}}</a></td>
								<td>{{job.Started | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
								<td>{{job.SentToWorkerNodeUri}}</td>
								<td ng-class="job.Result=='Success' ? 'green' : (job.Result==null ? 'hide' : 'red')">{{job.Result}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-show="!vm.anyFailedJobs">No job failures to show!</p>
					<a class="button" href="#StardustDashboard/failedJobs" ng-show="vm.anyFailedJobs">See more results &raquo;</a>
				</div>
			</div>
			<div class="panel panel-default ">
				<div class="panel-heading">
					Queue ({{vm.queueCount}})
				</div>
				<div class="panel-body">
					<table ng-show="vm.anyQueuedJobs">
						<thead>
							<tr>
								<th>Tenant</th>
								<th>Event</th>
								<th>Created (UTC)</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in vm.QueuedJobs">
								<td>{{job.DataSource}}</td>
								<td><a href="#StardustDashboard/queue/{{job.JobId}}">{{job.Type}}</a></td>
								<td>{{job.CreatedBy}} {{job.Created | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-show="!vm.anyQueuedJobs">Job queue is empty!</p>
					<a class="button" href="#StardustDashboard/queue" ng-show="vm.anyQueuedJobs">See more results &raquo;</a>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">History</div>
				<div class="panel-body ">
					<table ng-show="vm.anyHistory">
						<thead>
							<tr>
								<th>Tenant</th>
								<th>Event</th>
								<th>Started (UTC)</th>
								<th>Sent to</th>
								<th>Result</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in vm.RunningJobs">
								<td>{{job.DataSource}}</td>
								<td><a target="_blank" href="#StardustDashboard/jobs/{{job.JobId}}">{{job.Type}}</a></td>
								<td>{{job.Started | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
								<td>{{job.SentToWorkerNodeUri}}</td>
								<td ng-class="job.Result=='Success' ? 'green' : (job.Result==null ? 'hide' : 'red')">{{job.Result}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-show="!vm.anyHistory"><md-icon md-svg-src="Content/images/error_alert_24px.svg" ng-show="vm.showHistoryAlert"></md-icon>   No job has been processed during the last 30 days!</p>
					<a class="button" href="#StardustDashboard/jobs" ng-show="vm.anyHistory">See more results &raquo;</a>
				</div>
			</div>
			<div class="panel panel-default ">
				<div class="panel-heading">Nodes </div>
				<div class="panel-body">
					<table ng-show="vm.anyNodes">
						<thead>
							<tr>
								<th>Url</th>
								<th>Latest Heartbeat (UTC)</th>
								<th>Working</th>
								<th>Alive</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class="{'greenNode': node.Alive === true, 'redNode': node.Alive === false}" ng-repeat="node in vm.WorkerNodes">
								<td><a href="#StardustDashboard/nodes/{{node.Id}}">{{node.Url}}</a></td>
								<td>{{node.Heartbeat | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
								<td>{{node.Running}}</td>
								<td ng-class="node.Alive === true ? 'green' : 'red'">{{node.Alive}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-show="!vm.anyNodes"><md-icon md-svg-src="Content/images/error_alert_24px.svg" style="display:{{vm.showNodesAlert}}"></md-icon>   No nodes are running. Run the health check to figure out why.</p>
				</div>
			</div>
		</div>
	</div>
</div>

