<div ng-controller="stardustController as vm" style="margin-left: 50px;margin-right: 50px">
    <h2>Stardust</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Nodes</h3>
        <p>
            Shows your nodes.
        </p>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Url</th>
                    <th>Latest Heartbeat</th>
                    <th>Running</th>
                    <th>Alive</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'greenNode': node.Alive === 'true', 'redNode':node.Alive === 'false'}" ng-repeat="node in vm.WorkerNodes">

                    <td><a href="#nodedetails\{{node.Id}}">{{node.Url}}</a></td>
                    <td>{{node.Heartbeat}}</td>
                    <td>{{node.Running}}</td>
                    <td>{{node.Alive}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Jobs</h3>
            <p>
                Shows History of jobs.
            </p>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created By</th>
                            <th>Created</th>
                            <th>Started</th>
                            <th>Ended</th>
                            <th>Sent to</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in vm.Jobs">
                            <td><a href="#jobdetails\{{job.Id}}">{{job.Name}}</a></td>
                            <td>{{job.CreatedBy}}</td>
                            <td>{{job.Created}}</td>
                            <td>{{job.Started}}</td>
                            <td>{{job.Ended}}</td>
                            <td>{{job.SentTo}}</td>
                            <td>{{job.Result}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>

