body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Segoe UI";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
	font-size: 16px;
}

th {
	border-bottom: 2px;
	border-bottom-color: darkblue;
	border-bottom-style: solid
}
td {
	padding: 10px;
	border-bottom: 1px;
	border-bottom-color: black;
	border-bottom-style: solid
}
