table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
	font-size: 16px;
}

th {
	padding: 10px;
	border-bottom: 2px;
	border-bottom-color:  #266d90;
	border-bottom-style: solid
}
td {
	padding: 10px;
	/*border-bottom: 1px;
	border-bottom-color: black;
	border-bottom-style: solid*/
}
.greenNode {
    color: palegreen;
}
.redNode {
    background-color: tomato;
    color: whitesmoke;
}

.titleBlue {
	color: #266d90;
	font-size: 14px;

}

.successResult {
	background-color: palegreen;
	font-weight: bold;

}
.failureResult {
	background-color: tomato;
	font-weight: bold;
}
.processingResult {
	
}
