<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="databaseTimeout" value="1200"/>
		<add key="concurrentThreads" value="2"/>
		<add key="chunkTimeSpan" value="2"/>
		<add key="isolationLevel" value="ReadCommitted"/>
		<add key="pmInstallation" value="$(PM_INSTALL)"/>
		<add key="datamartConnectionString" value="$(SQL_AUTH_STRING);Initial Catalog=$(DB_ANALYTICS);Application Name=Teleopti.Analytics.Etl.Tool"/>
		<add key="MessageBroker" value="$(WEB_BROKER)"/>
		<add key="Cube" value="Provider=MSOLAP.3;Integrated Security=SSPI;Persist Security Info=True;Data Source=$(AS_SERVER_NAME);Initial Catalog=$(AS_DATABASE);Client Cache Size=25;Auto Synch Period=10000"/>
		<add key="nhibConfPath" value="$(ETL_TOOL_nhibConfPath)" />
	</appSettings>

	<log4net>
		<appender name="EventAppender" type="log4net.Appender.EventLogAppender" >
			<applicationName value="TeleoptiETLTool" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\..\Logs\ETL.Tool.log" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="200KB" />
			<staticLogFileName value="true" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ERROR" />
			<appender-ref ref="EventAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<logger name="Teleopti.Analytics.Etl.Transformer.Job.JobStepBase">
			<level value="WARN" />
		</logger>
	</log4net>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="Etl_Pm_Https_Binding" sendTimeout="00:15:00">
					<security mode="Transport">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
				<binding name="Etl_Pm_Http_Binding" sendTimeout="00:15:00">
				</binding>				
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="behave">
					<clientCredentials>
						<windows allowedImpersonationLevel="Impersonation"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="$(PM_SERVICE)"
					  binding="wsHttpBinding"
					  contract="Teleopti.Analytics.Etl.Interfaces.PerformanceManager.IPMService"
					  bindingConfiguration="$(ETLPM_BINDING_NAME)"
					  behaviorConfiguration="behave" />
		</client>
	</system.serviceModel>
</configuration>
