<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="trace" />
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession"
        allowCookies="true"
        maxReceivedMessageSize="655360" />
      </basicHttpBinding>
        <customBinding>
            <binding name="SingleSignOnServiceSoap12">
                <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                    messageVersion="Soap12" writeEncoding="utf-8">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </textMessageEncoding>
                <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                    realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                    useDefaultWebProxy="true" />
            </binding>
        </customBinding>
    </bindings>
    <client>
      <!--WISEMETA: address="[AGENT_SERVICE]"-->
      <endpoint address="http://DummyHostname/TeleoptiCCC/SDK/TeleoptiCccSdkService.svc"
      binding="basicHttpBinding"
      contract="Teleopti.Ccc.Sdk.WcfContract.ITeleoptiCccSdkService"
      bindingConfiguration="BasicHttpBinding_WithSession"
		>
      </endpoint>
      <endpoint address="http://customer.teleopti.com/ws/singlesignonservice.asmx"
            binding="customBinding" bindingConfiguration="SingleSignOnServiceSoap12"
            contract="SingleSignOn.SingleSignOnServiceSoap" name="SingleSignOnServiceSoap12" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="GetConfigFromWebService" value="false"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--WISEMETA: value="[MATRIX_WEB_SITE_URL]"-->
    <add key="MatrixWebSiteUrl" value="http://DummyHostname/TeleoptiCCC/Analytics/"/>
    <!--WISEMETA: value="[CONTEXT_HELP_URL]"-->
	<add key="HelpUrl" value="http://DummyHostname/TeleoptiCCC/ContextHelp/"/>
    <!--WISEMETA: value="f01_"-->
    <add key="HelpPrefix" value="f01:"/>
    <!--WISEMETA: value="_"-->
    <add key="HelpDivider" value="+"/>
    <!--WISEMETA: value=".html"-->
    <add key="HelpSuffix" value=""/>

    <add key="HelpUrlOnline" value="http://onlinehelp.teleopti.com/forecasts/"/>
    <add key="HelpPrefixOnline" value="f01_"/>
    <add key="HelpDividerOnline" value="_"/>
    <add key="HelpSuffixOnline" value=".html"/>
    <add key="CustomerWebSSOUrl" value="http://customer.teleopti.com/elogin.aspx"/>
  </appSettings>
</configuration>