<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authenticationMessage" type="Teleopti.Ccc.Sdk.Common.WcfExtensions.AuthenticationMessageBehaviorExtension, Teleopti.Ccc.Sdk.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9e7932cdbb39c45f" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession" openTimeout="00:02:00"
          sendTimeout="00:02:00" maxReceivedMessageSize="500000000" receiveTimeout="05:30:00">
		  <!--WISEMETA: mode="[SDK_SSL_SECURITY_MODE]"-->
          <security mode="$(SDK_SSL_SECURITY_MODE)">
		    <!--WISEMETA: clientCredentialType="[SDK_CRED_PROT]"-->
            <transport clientCredentialType="$(SDK_CRED_PROT)" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableAuthentication">
          <authenticationMessage />
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
	  <!--WISEMETA: address="[AGENT_SERVICE]"-->
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal" name="ITeleoptiCccSdkInternal" />
	  <!--WISEMETA: address="[AGENT_SERVICE]"-->
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccLogOnService" name="ITeleoptiCccLogOnService" />
	  <!--WISEMETA: address="[AGENT_SERVICE]"-->		
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiOrganizationService" name="ITeleoptiOrganizationService" />
	  <!--WISEMETA: address="[AGENT_SERVICE]"-->		
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiSchedulingService" name="ITeleoptiSchedulingService" />

    </client>
  </system.serviceModel>
</configuration>

