<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Teleopti.Ccc.AgentPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Teleopti.Ccc.AgentPortal.Properties.Settings>
      <setting name="Teleopti_Ccc_AgentPortal_SdkServiceReference_TeleoptiCccSdkService"
       serializeAs="String">
        <value>
          <!--WISEMETA: default="[AGENT_SERVICE]"-->
			http://DummyHostname/TeleoptiCCC/SDK/TeleoptiCccSdkService.svc
		</value>
      </setting>
    </Teleopti.Ccc.AgentPortal.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="GetConfigFromWebService" value="true"/>
  </appSettings>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Teleopti.Ccc.Sdk.Client.AuthenticationSoapHeaderExtension, Teleopti.Ccc.Sdk.Client"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>