<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net"
		   type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0.30319"/>
	</startup>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="RtaLogClient.log" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="200KB" />
			<staticLogFileName value="true" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
	<appSettings>
		<!--Next section is Semi-hardcoded. State code and queue ids are only valid for Demo installations.-->
		<add key ="ServiceUrl" value="$(RTA_SERVICE)"/>
		<add key="SendCount" value="50"/>
		<add key="MinDistributionMilliseconds" value="1000"/>
		<add key="MaxDistributionMilliseconds" value="5000"/>
		<add key="PlatformTypeId" value="00000000-0000-0000-0000-000000000000" />
		<add key="AuthenticationKey" value="!#¤atAbgT%"/>
		<add key="LogOn" value="$(RTA_QUEUE_ID)"/>
		<add key="StateCode" value="$(RTA_STATE_CODE)"/>
		<!-- New set of states codes used by 3rd party desktop integration. Goes with Teleopti demo databases -->
		<!-- <add key="StateCode" value="AUX1,AUX2,AUX3,AUX4,AUX5,ALLOWED,ADMIN,WEB,EMAIL,IDLE,LOGGED ON"/> -->
		<add key="SourceId" value="1"/>
		<!--Remember to configure this SourceId on correct datasource in Analytics db-->
		<!--In snapshot mode, one or two log ons will be excluded for every snapshot. The min/max distribution is time between the snapshots.-->
		<add key="SnapshotMode" value="false"/>
		<add key="LogOffCode" value="OFF"/>
		<!--Only used in snapshot mode! Final snapshot sent is LogOffCode for everyone included.-->
		<add key="RemoveOneByOne" value="false"/>
		<!--Only used in snapshot mode! One agent is removed for every snapshot sent.-->
		<add key="RandomPersonsInSnapshot" value="true"/>
		<!-- Only used in snapshot mode! Use random order in batch and random number of agents in batch -->
		<!-- New values that is mostly used for preformance testing. -->
		<add key="IntervalForScheduleUpdate" value="50"/>

		<!-- Paris/Team 1 -->
		<add key="PersonIdsForScheduleUpdate" value="4FD900AD-2B33-469C-87AC-9B5E015B2564,D56E32CC-2E46-4BA2-9FC1-9B5E015B2572,826F2A46-93BB-4B04-8D5E-9B5E015B2577,2856C6CF-5C6A-4379-8C52-9B5E015B2580,3833E4A7-DBF4-4130-9027-9B5E015B2580,637AB62A-A0C1-49F3-A475-9B5E015B2580,71D27B06-30C0-49FD-AE16-9B5E015B2580,1A714F36-EE87-4A06-88D6-9B5E015B2585,D1A6CF64-ECCE-4B8A-AB03-9B5E015B2585,E60BABBE-29F1-4B61-BBA2-9B5E015B2585"/>
		<!-- London/Preferences
		<add key="PersonIdsForScheduleUpdate" value="47A3D4AA-3CD8-4235-A7EB-9B5E015B2560,B0E35119-4661-4A1B-8772-9B5E015B2564,9D42C9BF-F766-473F-970C-9B5E015B2564,11610FE4-0130-4568-97DE-9B5E015B2564,FDB75A4E-5765-4857-B213-9B5E015B2564,94329A0E-B3C5-4B1F-BEB9-9B5E015B2564,88BE31B0-9C70-4076-9743-9B5E015B2577,B46A2588-8861-42E3-AB03-9B5E015B257C,625295CF-9B4C-4915-BA66-9B5E015B257C,164ABE5D-CE1A-48EE-BA3A-9B5E015B2585"/>
		-->

		<add key="BusinessUnitId" value="928DD0BC-BF40-412E-B970-9B5E015AADEA"/>
		<!-- Values for using multithreaded sending -->
		<add key="UseMultiThread" value="false"/>
		<add key="NumberOfThreads" value="10"/>
	</appSettings>
</configuration>