<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
 <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
	  <add name="Queue" connectionString="$(SQL_AUTH_STRING);Initial Catalog=$(DB_ANALYTICS);Application Name=Teleopti.Ccc.ServiceBusHost.SqlQueue"/>
  </connectionStrings>
	<appSettings>
		<add key="EnableNewResourceCalculation" value="false"/>
		<!--$(ConfigPathAppSetting)-->
		<!--$(MessageBrokerAppSetting)-->
		<!--$(MessagesOnBootAppSetting)-->
		<!--WISEMETA: value="[URL]"-->
	  <add key="FeatureToggle" value="http://localhost:52858/"/>
	</appSettings>
	<system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authenticationMessage" type="Teleopti.Ccc.Sdk.Common.WcfExtensions.AuthenticationMessageBehaviorExtension, Teleopti.Ccc.Sdk.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9e7932cdbb39c45f" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession" openTimeout="00:02:00"
          sendTimeout="00:02:00" maxReceivedMessageSize="500000000" receiveTimeout="05:30:00">
          <security mode="$(SDK_SSL_SECURITY_MODE)">
            <transport clientCredentialType="$(SDK_CRED_PROT)" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableAuthentication">
          <authenticationMessage />
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="$(RTA_SERVICE)"
	    behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
		bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Rta.WebService.ITeleoptiRtaService" name="ITeleoptiRtaService" />
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal" name="ITeleoptiCccSdkInternal" />
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccLogOnService" name="ITeleoptiCccLogOnService" />
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiOrganizationService" name="ITeleoptiOrganizationService" />
      <endpoint address="$(AGENT_SERVICE)"
        behaviorConfiguration="EnableAuthentication" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_WithSession" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiSchedulingService" name="ITeleoptiSchedulingService" />

    </client>
  </system.serviceModel>
  <runtime>
<legacyCorruptedStateExceptionsPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1000" newVersion="4.0.0.1000" />
      </dependentAssembly>
	 <!--Remove me when there is a nuget package for Common.Logging.Log4net1213 available and install that instead!-->
	 <dependentAssembly>
		 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
		 <bindingRedirect oldVersion="1.2.0.0-1.3.0.0" newVersion="1.2.13.0" />
	 </dependentAssembly>
    </assemblyBinding>
  </runtime>
<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>