<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="TeleoptiErrorLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="INSERT INTO dbo.AdvancedLoggingService ([LogDate],[BU],[DataSource],[WindowsIdentity],[Message],[HostIP],[SkillDays],[Agents],[TeamOptions],[BlockOptions],[GeneralOptions],[ExecutionTime],[BUId]) 
                   VALUES (@log_date, @bu, @datasource, @windowsindentity, @message, @hostip, @SkillDays, @Agents, @TeamOptions, @BlockOptions, @GeneralOptions,@ExecutionTime,@BUId)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@bu" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{BU}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@datasource" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{DataSource}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@windowsindentity" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{WindowsIdentity}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostip" />
        <dbType value="String" />
        <size value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{HostIP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@SkillDays" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{SkillDays}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Agents" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Agents}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TeamOptions" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{TeamOptions}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@BlockOptions" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{BlockOptions}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@GeneralOptions" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{GeneralOptions}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ExecutionTime" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ExecutionTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@BUId" />
        <dbType value="String" />
        <size value="36" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{BUId}" />
        </layout>
      </parameter>
    </appender>
    
		<root>
			<level value="ERROR" />
			<appender-ref ref="file" />
		</root>

    <logger name="Teleopti.AdvanceLoggingService">
      <level value="INFO" />
      <appender-ref ref="AdoNetAppender" />
    </logger>

    <!--<logger name="Teleopti">
			<level value="INFO" />
		</logger>-->
	</log4net>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authenticationMessage" type="Teleopti.Ccc.Sdk.Common.WcfExtensions.AuthenticationMessageBehaviorExtension, Teleopti.Ccc.Sdk.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9e7932cdbb39c45f" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession"
                 allowCookies="true"
                 maxReceivedMessageSize="1000000" openTimeout="00:02:00"
	         sendTimeout="00:02:00">
		  <!--WISEMETA: mode="[SDK_SSL_SECURITY_MODE]"-->
          <security mode="TransportCredentialOnly">
            <!--WISEMETA: clientCredentialType="[SDK_CRED_PROT]"-->
			<transport clientCredentialType="Ntlm" />
          </security>
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </basicHttpBinding>
        <customBinding>
            <binding name="SingleSignOnServiceSoap12">
                <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                    messageVersion="Soap12" writeEncoding="utf-8">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </textMessageEncoding>
                <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                    realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                    useDefaultWebProxy="true" />
            </binding>
        </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableAuthentication">
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
          <authenticationMessage />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>	<!-- 
	To add more than one SDK, you must enter them here and give them different name, e. g.
      <endpoint address="http://SomeServer/TeleoptiCCC/SDK/TeleoptiCCCSdkService.svc"
      binding="basicHttpBinding"
                  contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal"
                  bindingConfiguration="BasicHttpBinding_WithSession"
				  behaviorConfiguration="EnableAuthentication"
				  name="Some Custom Name">
      </endpoint>
	  
      <endpoint address="http://AnotherServer/TeleoptiCCC/SDK/TeleoptiCCCSdkService.svc"
      binding="basicHttpBinding"
                  contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal"
                  bindingConfiguration="BasicHttpBinding_WithSession"
				  behaviorConfiguration="EnableAuthentication"
				  name="Another Custom Name">
      </endpoint>
	-->
	  <!--WISEMETA: address="[AGENT_SERVICE]"-->
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc"
      binding="basicHttpBinding"
                  contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal"
                  bindingConfiguration="BasicHttpBinding_WithSession"
				  behaviorConfiguration="EnableAuthentication"
				  name="Default Installation">
      </endpoint>
      <endpoint address="http://customer.teleopti.com/ws/singlesignonservice.asmx"
            binding="customBinding" bindingConfiguration="SingleSignOnServiceSoap12"
            contract="SingleSignOn.SingleSignOnServiceSoap" name="SingleSignOnServiceSoap12" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="GetConfigFromWebService" value="false"/>
    <add key="ShowMem" value="false"/>
    <add key="nhibconfpath" value="$(nhibconfpath)"/>
	<add key="FeatureToggle" value="$(FeatureToggle)"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <!-- Redirecting to version 4.3.0.0 of the assembly. -->
        <bindingRedirect oldVersion="2.3.0.0"
                         newVersion="4.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
