<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <connectionStrings>
    <add name="AnalyticsContext" connectionString=""
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="configSanityCheck" value="Yes, configuration is loaded!" />
	<add key="SitePath" value="..\..\..\Teleopti.Ccc.Web"/>	
	<add key="SQL_AUTH_STRING" value="$(SQL_AUTH_STRING)"/>
	<add key="DB_CCC7" value="$(DB_CCC7)"/>
	<add key="DB_ANALYTICS" value="$(DB_ANALYTICS)"/>
	<add key="servicebus" value="false"/>
	<add key ="sqloutput" value="false"/>
	<add key="SQL_SERVER_NAME" value="$(SQL_SERVER_NAME)"/>
	<add key="WEB_BROKER_BACKPLANE" value="$(WEB_BROKER_BACKPLANE)"/>
	<add key="WEB_BROKER" value="$(WEB_BROKER)"/>
	<add key="WEB_URL" value="http://localhost:52858/"/>	
	<add key="nhibConfPath" value="$(ETL_SERVICE_nhibConfPath)" />
	<add key="AGENTPORTALWEB_nhibConfPath" value="$(AGENTPORTALWEB_nhibConfPath)"/>
  </appSettings>
</configuration>
