<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Teleopti.Analytics.Portal.AnalyzerProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Teleopti.Analytics.Portal.AnalyzerProxy.Properties.Settings>
			<setting name="Teleopti_Analytics_Portal_AnalyzerProxy_AnalyzerRef_Analyzer2005" serializeAs="String">
				<value>$(PM_ASMX)</value>
			</setting>
			<setting name="PM_Authentication_Mode" serializeAs="String">
				<value>$(PM_AUTH_MODE)</value>
			</setting>
			<setting name="PM_Anonymous_User_Name" serializeAs="String">
				<value>$(PM_ANONYMOUS_DOMAINUSER)</value>
			</setting>
			<setting name="PM_Anonymous_User_Password" serializeAs="String">
				<value><![CDATA[$(PM_ANONYMOUS_PWD)]]></value>
			</setting>
		</Teleopti.Analytics.Portal.AnalyzerProxy.Properties.Settings>
	</applicationSettings>
</configuration>