<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--WISEMETA: value="[SQL_AUTH_STRING];Initial Catalog=[DB_MESSAGING];Application Name=Teleopti.Messaging.Svc.exe"-->
		<add key="MessageBroker" value="Data Source=.;Integrated Security=True;Persist Security Info=False;Initial Catalog=TeleoptiAnalytics;Application Name=Teleopti.Messaging.Svc;Connection Timeout=5"/>
	</appSettings>
</configuration>
