<?xml version="1.0"?>

<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear />
				<remove name="Server" />
				<remove name="X-Powered-By" />
				<add name="Content-Security-Policy" value="script-src 'self'; frame-ancestors 'self' $(CSP_PARENT_URL);" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				$(HSTS_HEADER)
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
