<div class="container">
	
	<!-- ko if: Loading -->
	<div><span data-bind="text: Resources.LoadingThreeDots"></span></div>
	<!-- /ko -->
	<!-- ko ifnot: Loading -->
	<!--<div class="alert alert-success" role="alert">
		Welcome to Seat Planner, take a chair and relax!
	</div>-->

	<div class="alert alert-danger" data-bind="visible:HasErrors" role="alert">
		<div data-bind="foreach:ErrorMessages">
			<div data-bind="text:error"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div>Start Date:</div>
			<div class="input-group date" id="date-picker">
				<input type="text" class="start-date form-control" readonly="readonly" data-bind="value: StartDateFormatted" />
				<div class="date input-group-btn">
					<button class="btn" data-bind="datepicker: StartDate">
						<i class=" glyphicon glyphicon-calendar"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div>End Date:</div>
			<div class="input-group date" id="date-picker">
				<input type="text" class="end-date form-control" readonly="readonly" data-bind="value: EndDateFormatted" />
				<div class="date input-group-btn">
					<button class="btn" data-bind="datepicker: EndDate">
						<i class=" glyphicon glyphicon-calendar"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/html" id="tree-node">
		
		<li>
			<div>
				<span class="node-toggle glyphicon glyphicon-minus" data-bind="visible: expanded() && !isLeaf(), click: toggle"></span>
				<span class="node-toggle glyphicon glyphicon-plus" data-bind="visible: collapsed() && !isLeaf(), click: toggle"></span>
				<span class="node-toggle glyphicon glyphicon-file" aria-hidden="true" data-bind="visible: isLeaf"></span>
				<input type="checkbox" data-bind="checked: selected, click: select, prop: { indeterminate: isInIndeterminateState }" />
				<span class="node-label" data-bind="text: name"></span>
				<div data-bind="if: expanded">
					<ul data-bind="template: {name: 'tree-node', foreach: children}"></ul>
				</div>
			</div>
		</li>
		
	</script>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default treelist">
				<div class="panel-heading">Choose Locations to Allocate Seating:</div>
				<div class="panel-body">
					<ul class="treeViewList" data-bind="template: {name: 'tree-node', data: GetTreeNodesForLocations}"></ul>

				</div>

			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default treelist">
				<div class="panel-heading">Choose Teams to Seat:</div>
				<div class="panel-body">
					<ul class="treeViewList" data-bind="template: {name: 'tree-node', if: GetTreeNodesForBusinessHierarchy,  data: GetTreeNodesForBusinessHierarchy}"></ul>

				</div>

			</div>

		</div>
	</div>
	
	<div>
		<button class="btn btn-primary pull-right" data-bind="click : PerformSeatPlanning">Begin</button>
	</div>
	<!-- /ko -->
</div>