<div ng-if="vm.toggledOptimization">

	<div class="view-header with-desc">
		<div class="view-title">
			<h1><i class="mdi mdi-account"></i>Skill Priority</h1>
			<p>Manage the way your skills are handled</p>
			<div class="wfm-chip-wrap" ng-if="vm.ismodified">
				<span class="wfm-chip">
			<span class="chip-handle">
			<i class="mdi mdi-alert-circle"></i>
			</span>
				<span class="chip-text">You have unsave changes</span>
				</span>
			</div>
		</div>

		<div class="fab-wrapper">
			<button ng-click="vm.save()" class="wfm-fab grow-out material-depth-1">
      <i class="mdi mdi-content-save"></i>
      <md-tooltip>Save Changes</md-tooltip>
    </button>
		</div>
	</div>

	<div class="con-row selectActivityInput">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="con-row">
					<div class="con-flex">
						<md-autocomplete id="activity" class="autocomplete-skill" md-no-cache="true" md-selected-item="selectedActivity" md-select-on-match="true"
							md-search-text="searchActivityText" md-selected-item-change="vm.selectActivity(selectedActivity)" md-items="activity in vm.queryActivities(searchActivityText)" 
							md-item-text="activity.ActivityName" md-min-length="0" placeholder="Select Activity">
							<md-item-template>
								<span md-highlight-text="searchActivityText" md-highlight-flags="^i">{{activity.ActivityName}}</span>
							</md-item-template>
							<md-not-found>
								{{'RepViewerNoMoreMatches'|translate}}
							</md-not-found>
						</md-autocomplete>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="con-row" ng-if="vm.selectedActivity">


		<div class="con-flex split-3-1">
			<div class="panel material-depth-1">
				<div class="sub-header con-flex">
					<h2>Sorted Skills</h2>
				</div>
				<div class="con-flex">
					<label for="filter" class="input-icon">
            <i class="mdi mdi-filter-outline">
              <input type="text" id="filter" ng-model="activityFilter" placeholder="filter sorted skills...">
              <md-tooltip>Filter Sorted skills</md-tooltip>
            </i>
          </label>
				</div>

				<!-- No skill message  -->
				<div ng-cloak class="con-row animate-show" ng-show="vm.noPrioritiedSkills()">
					<div class="con-flex">
						<p>Looks like you have no skills prioritised yet, pick one in this dropdown here</p>
					</div>
				</div>

				<!-- All skills assigned message -->
				<div ng-cloak class="con-row animate-show" ng-if="vm.skills.length === 0">
					<div class="con-flex">
						<p>All skills in activity {{vm.selectedActivity.ActivityName}} are proitised, remove prio to re-asign them</p>
					</div>
				</div>

				<!-- First autocomplete -->
				<div class="con-row" ng-show="vm.noPrioritiedSkills()">
					<div class="con-flex">

						<md-autocomplete md-input-id="autoCompleteOnceId" class="autocomplete-skill" md-no-cache="true" md-selected-item="selectedSkill"
							md-autoselect="false" md-select-on-match="true" md-search-text="searchSkillText" md-selected-item-change="vm.prioritizeSkill(selectedSkill, 1000); searchSkillText = null"
							md-items="skill in vm.querySkills(searchSkillText)" md-item-text="skill.SkillName" md-min-length="0 " placeholder="{{'SelectSkill'|translate}}">
							<md-item-template>
								<span md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skill.SkillName}}</span>
							</md-item-template>
							<md-not-found>
								No skills matching "{{skill.SkillName}}" were found.
							</md-not-found>
						</md-autocomplete>
					</div>
				</div>

				<section ng-repeat="item in vm.prioritizedSkills | orderBy:'-priority'| filter:activityFilter">
					<!--Add above -->
					<div class="skill-devider" ng-if="item.showAutoCompleteTop">
						<div class="sub-header">
							<h2>Add skill</h2>
						</div>
						<div class="con-row">
							<div class="con-flex">
								<md-autocomplete md-input-id="showAutoCompleteTop" class="autocomplete-skill" md-no-cache="true" md-selected-item="selectedSkill"
									md-autoselect="false" md-select-on-match="true" md-search-text="searchText" md-selected-item-change="vm.addPrioritizeSkillAbove(skilltoBeSelected, item.priority); item.showAutoCompleteTop = false; searchText = null"
									md-items="skilltoBeSelected in vm.querySkills(searchText)" md-item-text="skilltoBeSelected.SkillName" md-min-length="0"
									placeholder="{{'SelectSkill'|translate}}">
									<md-item-template>
										<span md-highlight-text="searchText" md-highlight-flags="^i">{{skilltoBeSelected.SkillName}}</span>
									</md-item-template>
									<md-not-found>
										No skills matching "{{skilltoBeSelected.SkillName}}" were found.
									</md-not-found>
								</md-autocomplete>
							</div>
						</div>
					</div>

					<!-- Skill container (class="skill-devider") -->
					<div class="skill-devider">
						<div class="sub-header" ng-hide="vm.skills.length === 0">
							<div tabindex=0 class="context-menu card-context" ng-click="vm.displayAutoComplete(item, 'Top')">
								<i class="mdi mdi-chevron-up"></i>
								<md-tooltip>Add skill above</md-tooltip>
							</div>
							<div tabindex=0 class="context-menu card-context" ng-click="vm.displayAutoComplete(item, 'Middle')">
								<i class="mdi mdi-plus"></i>
								<md-tooltip>
									Add skill inside
								</md-tooltip>
							</div>
							<div tabindex=0 class="context-menu card-context" ng-click="vm.displayAutoComplete(item, 'Bottom')">
								<i class="mdi mdi-chevron-down"></i>
								<md-tooltip>
									Add skill below
								</md-tooltip>
							</div>
						</div>

						<!-- Add inside -->
						<div class="con-row" ng-if="item.showAutoCompleteMiddle" ng-blur="item.showAutoCompleteMiddle = false;">
							<div class="con-flex">
								<md-autocomplete md-input-id="showAutoCompleteMiddle" class="autocomplete-skill" md-no-cache="true" md-selected-item="selectedSkill"
									md-autoselect="false" md-select-on-match="true" md-search-text="searchText" md-selected-item-change="vm.prioritizeSkill(skilltoBeSelected, item.priority); item.showAutoCompleteMiddle = false; searchText = null"
									md-items="skilltoBeSelected in vm.querySkills(searchText)" md-item-text="skilltoBeSelected.SkillName" md-min-length="0"
									placeholder="{{'SelectSkill'|translate}}">
									<md-item-template>
										<span md-highlight-text="searchText" md-highlight-flags="^i">{{skilltoBeSelected.SkillName}}</span>
									</md-item-template>
									<md-not-found>
										No skills matching "{{skilltoBeSelected.SkillName}}" were found.
									</md-not-found>
								</md-autocomplete>
							</div>
						</div>

						<!-- Loop out elected skills -->
						<div class="con-row">
							<div class="con-flex">
								<div class="wfm-grid">
									<div class="grid-card" ng-repeat="skill in item.skills | filter:activityFilter">
										<div class="list-content">
											<h2>{{skill.SkillName}}
												<i class="mdi mdi-close pull-right" ng-click="vm.removeFromPrioritized(skill)">
                        <md-tooltip>
                          Remove prio for {{skill.SkillName}}
                        </md-tooltip>
                      </i>
											</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Add bellow-->
					<div class="skill-devider" ng-if="item.showAutoCompleteBottom">
						<div class="sub-header">
							<h2>Add skill</h2>
						</div>
						<div class="con-row">
							<div class="con-flex">
								<md-autocomplete md-input-id="showAutoCompleteBottom" class="autocomplete-skill" md-no-cache="true" md-selected-item="selectedSkill"
									md-autoselect="false" md-select-on-match="true" md-search-text="searchText" md-selected-item-change="item.showAutoCompleteBottom = false; vm.addPrioritizeSkillBelow(skilltoBeSelected, item.priority);  searchText = null"
									md-items="skilltoBeSelected in vm.querySkills(searchText)" md-item-text="skilltoBeSelected.SkillName" md-min-length="0"
									placeholder="{{'SelectSkill'|translate}}">
									<md-item-template>
										<span md-highlight-text="searchText" md-highlight-flags="^i">{{skilltoBeSelected.SkillName}}</span>
									</md-item-template>
									<md-not-found>
										No skills matching "{{skilltoBeSelected.SkillName}}" were found.
									</md-not-found>
								</md-autocomplete>
							</div>
						</div>
					</div>

				</section>

			</div>
		</div>

				<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="sub-header">
					<h2>Unsorted Skills</h2>
				</div>
				<div class="con-row" ng-hide="vm.skills.length === 0">
					<div class="con-flex">
						<label for="filter" class="input-icon">
            <i class="mdi mdi-filter-outline">
              <input type="text" id="filter" ng-model="skillFilter.SkillName" placeholder="filter unsorted skills...">
              <md-tooltip>Filter unsorted skills</md-tooltip>
            </i>
          </label>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">
						<ul class="wfm-simple-list">
							<li ng-repeat="skill in vm.activitySkills | filter:skillFilter">
								{{skill.SkillName}}
							</li>
							<li ng-show="vm.activitySkills.length === 0">
								No unsorted skills left for this activity
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
