<div ng-if="vm.toggledOptimization">
	<div class="view-header with-desc">
		<div class="view-title">
			<h1><i class="mdi mdi-account"></i>Skill Priority</h1>
			<p>Manage the way your skills are handled</p>
			<div class="wfm-chip-wrap" ng-if="vm.ismodified">
				<span class="wfm-chip">
			<span class="chip-handle chip-warning">
			<i class="mdi mdi-alert"></i>
			</span>
				<span class="chip-text">You have unsaved changes</span>
				</span>
			</div>
		</div>
		<div class="fab-wrapper">
			<button ng-click="vm.save()" class="wfm-fab grow-out material-depth-1">
      <i class="mdi mdi-content-save"></i>
      <md-tooltip>Save Changes</md-tooltip>
    </button>
		</div>
	</div>
	<div class="con-row selectActivityInput">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="con-row">
					<div class="con-flex">
						<md-autocomplete ng-disabled="vm.ismodified" id="activity" class="autocomplete-skill" md-no-cache="true" md-selected-item="vm.selectedActivity" md-select-on-match="true" md-search-text="searchActivityText" md-selected-item-change="vm.selectActivity(vm.selectedActivity)"
										md-items="activity in vm.queryActivities(searchActivityText)" md-item-text="activity.ActivityName" md-min-length="0" placeholder="Select Activity">
							<md-item-template>
								<span md-highlight-text="searchActivityText" md-highlight-flags="^i">{{activity.ActivityName}}</span>
							</md-item-template>
							<md-not-found>
								{{'RepViewerNoMoreMatches'|translate}}
							</md-not-found>
						</md-autocomplete>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="sub-header con-flex">
					<h2>Skills</h2>
				</div>
				<div class="con-flex">
					<label for="filter" class="input-icon">
            <i class="mdi mdi-filter-outline">
              <input type="text" id="filter" ng-model="skillFilter.SkillName" placeholder="filter skills...">
              <md-tooltip>Filter skills</md-tooltip>
            </i>
          </label>
				</div>
				<div class="con-row" ng-show="true">
					<div class="con-flex" ng-hide="vm.unsortedList.length === 0">
						<h2>Unsorted Skills</h2>
						<div ui-tree="vm.options" data-drag-enabled="true" data-max-depth="1">
							<ol ui-tree-nodes ng-model="vm.unsortedList" class="horizontal-list" data-horizontal>
								<li ui-tree-node ng-repeat="Skill in vm.unsortedList | filter:skillFilter" ui-tree-node class="drag-handle horizontal-list drop-card material-depth-1">
									<span id="card">
											{{Skill.SkillName}}
										</span>
								</li>
							</ol>
							<md-tooltip>Drag and drop skill to cascade list</md-tooltip>
						</div>
					</div>
					<div class="con-flex" ng-hide="vm.cascadeList.length === 0" ng-class="{'skill-group-devider':vm.unsortedList.length > 0}">
						<h2>Cascade Skills</h2>
						<div ng-repeat="sortedRow in vm.cascadeList" class="skill-devider">
							<div ui-tree="vm.options" data-drag-enabled="true" data-max-depth="1">
								<ol ui-tree-nodes ng-model="sortedRow.Skills" class="horizontal-list" data-horizontal>
									{{sortedRow.Priority}}
									<li ui-tree-node ng-repeat="Skill in sortedRow.Skills | filter:skillFilter" ui-tree-node class="drag-handle horizontal-list drop-card material-depth-1">
										<span id="card">
												{{Skill.SkillName}}
												<a data-nodrag ng-click="vm.moveBackToUnsort(sortedRow.Skills, Skill)" class="drag-handle-delete" style="padding:10px;">
													<i class="mdi" ng-class="{'mdi-close':true}">
														<md-tooltip>Move skill to unsorted list</md-tooltip>
													</i>
												</a>
										</span>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
