<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--<add key="BaseUrl" value="http://qawfmfarmhost/TeleoptiWFM/Web/"/>-->
		<!--<add key="BusinessUnitName" value="TeleoptiCCCDemo"/>-->
		<add key="BaseUrl" value="http://localhost:52858/"/>
		<add key="BusinessUnitName" value="Teleopti WFM Demo"/>
	</appSettings>
</configuration>