@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
}

<div style="position:absolute">​
	@foreach (var layer in Model.Layers)
 {
	<div style="position:absolute;
									left:@(layer.RelativeStartInMinutes)px;
									width:@(layer.LengthInMinutes)px;
									height:50px;
									background-color: @(layer.Color)"></div>
 }
</div>
