@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
	const double pixelsPerMinute = 0.8;
	const int timeLineHourBorderSize = 1;
	var timeLineHourWidth = (int) (60*pixelsPerMinute)-timeLineHourBorderSize;
	var milliSecondsSince1970 = Model.StartDate.Subtract(new DateTime(1970, 1, 1)).TotalMilliseconds;
}
<style>
	.asm-timeline-border
	{
		border: solid green;
		top: 100px;
		position: relative;
		height: 50px; 
		/*overflow: hidden;*/
	}
	
	.asm-timeline
	{
		border: solid red;
		position: relative;
		height: 40px;
		left: 100px;
	}
	
	.asm-timeline-numbers {
		float: left;
	}
	
	.asm-layer
	{
		position: absolute;
		height: 50px;
	}
	
	.asm-layer-extender
	{
		padding-left: 100px;
	}
	
	.asm-now-marker
	{
		background-color: black;
		opacity: 0.5;
		width: 120px;
		position: absolute;
		height: 100%;
	}
</style>

<script>
	$(function () {
		_moveTimeLineToNow();
	})
	
	function _moveTimeLineToNow() {
		var pixelsPerMinute = 0.8
		alert(pixelsPerMinute);
		var clientMsSince1970 = new Date().getTime();
		var serverMsSince1970 = @milliSecondsSince1970;
		var msSinceStart = clientMsSince1970 - serverMsSince1970;
		var minutesSinceStart = msSinceStart / 1000 / 60;
		alert('minutessincestart' + minutesSinceStart);
		var pixelPosition = pixelsPerMinute * minutesSinceStart;
		alert('pixel' + pixelPosition);
		var startPixel = -(pixelsPerMinute * minutesSinceStart);
		alert(startPixel);
		$('.asm-timeline').css('left', startPixel + 'px');
		alert(minutesSinceStart);
	}
</script>

Antal lager: @(Model.Layers.Count)<br/>
Datum att visa: @(Model.StartDate)
<div class="asm-timeline-border">
	<div class="asm-now-marker">
	</div>
	<div class="asm-timeline" style="width:@(3*24*60*pixelsPerMinute)px">
		@foreach (var layer in Model.Layers)
  {
			<span class="asm-layer" style="
			left:@(layer.RelativeStartInMinutes * pixelsPerMinute)px;
			padding-left:@(layer.LengthInMinutes * pixelsPerMinute)px;
			background-color: @(layer.Color)"></span>
  }
		@for (var day = 0; day <= 2; day++)
  {
	  for (var hour = 1; hour <= 24; hour++)
	  {
	  	<span class="asm-timeline-numbers" style="width:@(timeLineHourWidth)px;
															border-right:@(timeLineHourBorderSize)px solid black;">@(hour)</span>
	  }
  }
	</div>
</div>
​ 