@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
	//ViewBag.Title = "title";
	Layout = null;
}

<div style="position:absolute">
	@foreach (var layer in Model.Layers)
 {
	<div style="position:absolute;
									left:@layer.RelativeStartInMinutes px;
									width:@layer.LengthInMinutes;
									height:50px;
									background-color: @layer.Color"></div>
 }
</div>
​