.skill-devider{
	border-top: 1px dashed $gray-500;
}

.angular-ui-tree-nodes {
	width: 100% !important;
	display: inline-table;
}

.angular-ui-tree-placeholder {
	background: $gray012;
	width: 100%!important;
	display: inline-table!important;
	float: right;
	position: relative;
	top: 10px !important;
	border-style: dotted;
	border-color: $gray087;
	border-width: thin;
}

.angular-ui-tree-empty {
	background-image: none;
	background: none;
	border: none;
	min-height: 50px;
}

.angular-ui-tree-placeholder:after {
	content: "Move and Drop skill here";
	color: $gray087;
}

.horizontal-list {
	width: 100%;
	display: inline-table;
	padding: 10px;
}

.drag-handle {
	cursor: move;
}

.drag-handle-delete {
	cursor: pointer;
}

.drop-card {
	margin: 5px;
	padding: 5px;
	width: auto;
}

.skill-group-devider {
	border-left: 1px solid gray;
}
