.wfm-date-range-picker-wrap {
  .inline-datepicker-wrap {
    display: inline-block;
    position: relative;
    .dropdown-menu {
      position:absolute;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      background-color: $gray-100;
      z-index:100;
      margin-top: 0px;
    }
    .start-date-input + .dropdown-menu {
      margin-left:-60px;
    }
    .end-date-input + .dropdown-menu {
      margin-right: -60px;      
    }             
  }
    
  .pin-down {
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: $gray-300;
  }  

  .popup-control {
    height:22px;
    width:22px;
    display:inline-block;
    text-align:center;
    padding-top:1px;
    cursor:pointer;
  }

  .inline-vertical-fix {
    position: relative;
    top: 4px;
  }
    
  &.ng-invalid .popup-control .mdi-calendar{
    color: $red-800;
  }    
  
  input {
    text-align:center;
    width:200px;
  }
  input.ng-invalid {
    border-bottom: 2px solid $red-800;     
  }    
  .in-date-range button {
    background-color: $green-100;
  }
  .hor-m-5{
    margin-left:5px;
    margin-right:5px;
  }  
}

.error-msg-container {
  display: none;
  margin-top: 5px;
  z-index: 2000;
}

.error-msg-container.error-msg-popup-container {
  position: absolute;
  width: 490px;
}


date-range-picker.ng-invalid.ng-invalid-empty .error-msg-container.ng-invalid-empty {
  display: block !important;
}  

date-range-picker.ng-invalid.ng-invalid-order .error-msg-container.ng-invalid-order {
  display: block !important;
}
