.forecast-period{
	text-align:center;
}

.forecast-campaign{
	display: flex;

	select{
		margin-left: $full-padding;
	}
}

.forecast-campaign-input{
	height: 25px!important;
	width: 54px;
	margin-right: 20px;
}

.campaign-position{
	width: 80%;
	margin: auto;
}

.forecast-create-button{
	position:relative;
}

.chart-no-scroll{
	overflow: initial!important;
}

.workload {
	position: relative
}

.forecast-actions{
	display: inline-flex;
}

.workload-spinner{
	position: absolute;
	right: 9%;
	transform: scale(0.7);
	margin-top: -43px;
}

.workload-indicator{
	position: absolute;
	right: 10.2%;
}

.wfm-form .skill-service-level-seconds label {
	display: inline-block!important;
}

.wfm-dense .wfm-checkbox {
	padding: 0 !important;
}
.wfm-table.wfm-dense td{
	height: 22px;
}

.forecasting-skill-form{
	width:100%;
	overflow:hidden;
}

.skill-create-form-picker .wfm-block {
	padding-left: 0!important;
}

.skill-queues{
	max-width: 98%;
}

.form-warning-input{
	opacity: 1 !important;
	height: auto !important;
	color: $orange-400;
}

.c3-legend-item-vcombo,
.c3-legend-item-vcampaign,
.c3-legend-item-voverride{
	display:none;
	visibility:hidden;
}

.c3-lines-vcampaign,
.c3-lines-vcombo,
.c3-lines-voverride{
	opacity: 0;
}

.c3-tooltip-name--vcombo > td.value,
.c3-tooltip-name--voverride > td.value,
.c3-tooltip-name--vcampaign > td.value{
	color:transparent!important;
	background:$gray-300;
	border-left:0 solid transparent;
}

.c3-tooltip-name--vcombo > td.name,
.c3-tooltip-name--voverride > td.name,
.c3-tooltip-name--vcampaign > td.name{
	background:$gray-300 ;
}

.c3-circles-vcampaign > .c3-circle{
	stroke:#EF5350!important;
	fill:$white!important;
}

.c3-circles-voverride > .c3-circle{
	stroke:#9C27B0!important;
	fill:$white!important;
}

.c3-circles-vcombo > .c3-circle{
	stroke:$gray-300!important;
	fill:$white!important;
}

.c3-circles-vcombo > .c3-circle,
.c3-circles-voverride > .c3-circle,
.c3-circles-vcampaign > .c3-circle{
	stroke-width: 5!important;
	z-index: 99;
}

.wfm-chart .c3-selected-circle{
	fill:rgba(255, 255, 255, 0.4);
}

forecast-result-chart >.c3 > svg{
	max-width: 100%;
}

.modify-modal-footer{
	padding-top: $full-padding*2;
}

.queue-list{
	.ui-grid-viewport{
		height: 317px!important;
	}
}
