.forecast-period{
	text-align:center;
}

.forecast-campaign{
	display: flex;
	line-height:2;
}

.scenario-label{
	display:inline-flex;
}

.forecast-campaign-input{
	height: 25px!important;
  width: 54px;
  margin-right: 20px;
}

.campaign-position{
	width: 80%;
	margin: auto;
}

.forecast-create-button{
	position:relative;
}

.chart-no-scroll{
	overflow: initial!important;
}

.workload {
	position: relative
}

.workload-spinner{
	position: absolute;
	right: 9%;
	margin-top: -68px;
}

.workload-indicator{
  position: absolute;
  right: 10.2%;
}

.wfm-form .skill-service-level-seconds label {
  display: inline-block!important;
}

.wfm-dense .wfm-checkbox {
	padding: 0 !important;
}
.wfm-table.wfm-dense td{
	height: 22px;
}

.forecasting-skill-form{
	width:100%;
	overflow:hidden;
}

.skill-create-form-picker .wfm-block {
	padding-left: 0!important;
}

.formWarningInput{
	opacity: 1 !important;
	height: auto !important;
	color: $orange-400;
}

.forecast-result-chart-wrapper{
	position: relative;
}

.clear-button{
	position: absolute;
	right: 1%;
	top: -25px;
}

.c3-legend-item-vcombo,
.c3-legend-item-vcampaign,
.c3-legend-item-voverride{
	display:none;
	visibility:hidden;
}

.c3-lines-vcampaign,
.c3-lines-vcombo,
.c3-lines-voverride{
 opacity: 0;
}

.c3-tooltip-name-vcombo > td.value,
.c3-tooltip-name-voverride > td.value,
.c3-tooltip-name-vcampaign > td.value{
	color:transparent!important;
	background:$gray-300;
	border-left:0 solid transparent;
}

.c3-tooltip-name-vcombo > td.name,
.c3-tooltip-name-voverride > td.name,
.c3-tooltip-name-vcampaign > td.name{
	background:$gray-300 ;
}

.c3-circles-vcampaign > .c3-circle{
 stroke:$red-700!important;
 fill:$white!important;
}

.c3-circles-voverride > .c3-circle{
 stroke:$purple-500!important;
 fill:$white!important;
}

.c3-circles-vcombo > .c3-circle{
 stroke:$gray-300!important;
 fill:$white!important;
}

.c3-circles-vcombo > .c3-circle,
.c3-circles-voverride > .c3-circle,
.c3-circles-vcampaign > .c3-circle{
	transition: .1s all ease-in-out;
  stroke-width: 5!important;
}
