.workload {
	position: relative
}

.forecasting-chart-bar {
	position:absolute;
	right: 40px;
}

.forecasting-chart-bar:hover {
	color: white;
}

.forecasting-chart-bar-alert{
	color:#ee8f7d;
}

.forecast-method{
	height: 30px;
}