.gamification-wrapper {
	$SEPARATOR_COLOR: 1px solid rgba(0, 0, 0, .06);

	gamification,
	gamification-settings,
	gamification-targets,
	gamification-targets-table,
	gamification-target-row, {
		display: block;
	}

	gamification {
		.panel.material-depth-1 {
			height: 100%;
		}
	}

	gamification-targets-table {
		margin: 0 -5px;

		.header, gamification-target-row {
			display: flex;
			padding: .8em;
		}

		.header {
			background-color: $blue-100;
			line-height: 18px;
		}

		md-virtual-repeat-container {
			display: block;
			overflow: auto;
		}

		md-virtual-repeat-container {
			gamification-target-row {
				box-sizing: border-box;
				height: 44px;
			}

			gamification-target-row + gamification-target-row {
				border-top: $SEPARATOR_COLOR;
			}
		}

		.footer {
			border-top: $SEPARATOR_COLOR;
			height: 100px;
		}

		.selection {
			flex: 0 0 50px;
			.wfm-checkbox {
				padding: 0;
			}
			md-checkbox {
				margin-bottom: 0;
			}
		}

		.team { flex: 1 1 300px; }

		.setting { flex: 2 1 300px; }
	}
}

//Stars
//use with <i tabindex="0" class="mdi mdi-star agent-star bronze"></i>
.agent-star{
	position: relative;
	outline: none!important;
	top: 7px;
	z-index: 2;
}
.agent-star:before{
	transform-origin: top;
	font-size: 200%!important;
}
.agent-star:after{
	content:'';
	height: 20px;
	background: $blue-500;
	left: 5px;
	right: 5px;
	top: -25px;
	position: absolute;
	z-index: -1;
	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	border-left: 5px solid $green-300;
	border-right: 5px solid $green-300;
}
.agent-star:focus:before{
	animation-name: swing;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.5,0,.5,1);
}

@keyframes swing {
		0%   {transform: rotate(0deg);}
		20%  {transform: rotate(-10deg);}
		40%  {transform: rotate(10deg);}
		60%  {transform: rotate(-3deg);}
		80%  {transform: rotate(3deg);}
		100% {transform: rotate(0deg);}
}

.gold{
	color: #ffda00;
}
.silver{
	color: #cccccc;
}
.bronze{
	color: #b56f00;
}
