@keyframes justCreated {
	0% { background-color: transparent; }
	50% { background-color: $green-100; }
	100% { background-color: transparent; }
}

.gamification-wrapper {
	$SEPARATOR: 1px solid $gray-300;
	$PADDING: 24px;

	measure-config-header,
	measure-config-form2,
	measure-config-form1,
	g-setting-form,
	gamification,
	gamification-settings,
	gamification-targets,
	gamification-targets-table,
	gamification-target-row {
		display: block;
	}

	gamification {
		.panel.material-depth-1 {
			height: 100%;
		}

		.loading-mask {
			background-color: $white;
			opacity: .7;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0 -5px;
			display: flex;
			align-items: center;
			justify-content: center;

			md-progress-circular {
				transform: scale(1) !important;
			}
		}
	}

	.validation { height: 1em; }

	g-setting-form {
		max-width: 900px;
		padding: 12px 24px;
	}

	measure-config-header {
		.chevron, .rename { float: right; }

		.enable, .name-textbox { display: inline-block; }

		.enable {
			md-checkbox {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.rename {
			line-height: 18px !important;
		}
	}

	gamification-settings {
		margin: -5px;

		.setting-list {
			border-bottom: $SEPARATOR;
			padding: 12px 24px;

			.wfm-fab { display: inline-block; }

			.con-fluid-flex {
				display: flex;
				align-items: center;
			}
		}
	}

	gamification-targets {
		.filter {
			padding: 0 $PADDING;
			display: flex;
			height: 64px + 1px;
			margin: 0 -5px;
			border-bottom: $SEPARATOR;
			align-items: center;

			& > * + * {
				margin: 0 56px;
			}

			md-select .md-select-value.md-select-placeholder {
				color: $gray054;
			}
		}

		.table-wrapper {
			position: relative;

			& > .mask {
				background-color: $white;
				opacity: .7;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin: 0 -5px;
				display: flex;
				align-items: center;
				justify-content: center;

				md-progress-circular {
					transform: scale(1) !important;
				}
			}
		}
	}

	gamification-targets-table {
		$HEADER_HEIGHT: 54px;
		margin: 0 -5px;

		.header, gamification-target-row {
			box-sizing: border-box;
			display: flex;
			padding: 0 $PADDING;

			& > * {
				padding: $PADDING 0;
			}
		}

		.header {
			height: $HEADER_HEIGHT + 1px;
			line-height: 18px;
			border-bottom: $SEPARATOR;
			font-weight: bold;
			color: $text-color-standard;
			background-color: $blue-300;
		}

		md-virtual-repeat-container {
			display: block;
			overflow: auto;
			height: 100%;
			opacity: 0;

			&.show {
				opacity: 1;
			}
		}

		md-virtual-repeat-container {
			gamification-target-row {
				height: 48px + 1px;

				&:hover {
					background-color: $gray026;
				}

				&.selected {
					background-color: $gray012;

					&:hover {
						background-color: $gray026;
					}
				}
			}

			gamification-target-row + gamification-target-row {
				border-top: $SEPARATOR;
			}

			gamification-target-row:last-child {
				border-bottom: $SEPARATOR;
			}
		}

		.footer {
			border-top: $SEPARATOR;
			height: 100px;
		}

		.selection, .team, .setting {
			display: flex;
			align-items: center;
		}

		.selection {
			flex: 0 0 50px;
			// display: flex;
			.wfm-checkbox {
				padding: 0;
			}
			md-checkbox {
				transform: scale(.9);
			}
		}

		.team {
			flex: 1 1 300px;
			// display: flex;
			// align-items: center;
		}

		.setting {
			flex: 2 1 300px;
			position: relative;
			display: flex;
			align-items: center;

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;

				&.selected {
					display: none;
				}
			}
		}
	}

	gamification-import {
		.droparea-wrapper {
			padding: $PADDING;
			position: relative;

			.droparea {
				cursor: pointer;
				min-height: 65px;
				margin: 0 5px;
				padding: $PADDING;
				background: rgba(0, 0, 0, .06);
				border: 1px solid #ddd;
				text-align: center;

				.prompt, .fileinfo {
					font-size: 1.4em;
					padding: 8px 0;
				}

				.filename {
					font-weight: bold;
				}

				.pointer {
					cursor: pointer;
				}
			}
		}

		.import-job-table {
			$HEADER_HEIGHT: 54px;
			border-top: $SEPARATOR;
			margin: 0 -5px;
			padding-bottom: $PADDING;

			header {
				box-sizing: border-box;
				display: flex;
				padding: 0 $PADDING;
				height: $HEADER_HEIGHT + 1px;
				line-height: 18px;
				border-bottom: $SEPARATOR;
				font-weight: bold;
				color: $text-color-standard;
				background-color: $blue-300;

				& > * {
					padding: $PADDING 0;
				}

			}

			.job, .owner, .started, .status {
				display: flex;
				align-items: center;
				flex: 1 1 300px;
			}

			import-job + import-job {
				border-top: $SEPARATOR;
			}

			import-job:last-child {
				border-bottom: $SEPARATOR;
			}
		}

		import-job {
			box-sizing: border-box;
			padding: 0 $PADDING;
			display: flex;
			height: 48px + 1px;

			&:hover {
				background-color: $gray026;
			}

			&.selected {
				background-color: $gray012;

				&:hover {
					background-color: $gray026;
				}
			}

			&.ng-enter {
				animation: 1s ease-in-out .3s justCreated;
			}
		}
	}
}

//Stars
//use with <i tabindex="0" class="mdi mdi-star agent-star bronze"></i>
.agent-star{
	position: relative;
	outline: none!important;
	top: 7px;
	z-index: 2;
}
.agent-star:before{
	transform-origin: top;
	font-size: 200%!important;
}
.agent-star:after{
	content:'';
	height: 20px;
	background: $blue-500;
	left: 5px;
	right: 5px;
	top: -25px;
	position: absolute;
	z-index: -1;
	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	border-left: 5px solid $green-300;
	border-right: 5px solid $green-300;
}
.agent-star:focus:before{
	animation-name: swing;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.5,0,.5,1);
}

@keyframes swing {
		0%   {transform: rotate(0deg);}
		20%  {transform: rotate(-10deg);}
		40%  {transform: rotate(10deg);}
		60%  {transform: rotate(-3deg);}
		80%  {transform: rotate(3deg);}
		100% {transform: rotate(0deg);}
}

.gold{
	color: #ffda00;
}
.silver{
	color: #cccccc;
}
.bronze{
	color: #b56f00;
}
