/* Styles for Group Page Picker*/
group-page-picker {
	md-select-value {
		color: $text-color-standard;

		&.md-select-placeholder {
			color: $text-color-muted;
		}
	}

	&:focus {
		outline: none;

		md-select-value {
			border-color: $primary;
		}
	}

	.group-picker-wrapper {
		$NG-MATERIAL-DEFAULT: rgba(0, 0, 0, 0.12);
		$DEFAULT-WIDTH: 14em;
		cursor: pointer;

		.md-select-value {
			width: $DEFAULT-WIDTH;
			box-sizing: border-box;
			border: 1px solid $hover;
			color: $text-color-standard;
			-webkit-appearance: none;
			-moz-appearance: none;
			background: $input-white;
			min-height: 32px;
			padding: 4px 11px;
			border-radius: 4px;

			&:not([disabled]):focus {
				outline: none;
				border: 1px solid $primary;
				box-shadow: 0 0 0 2px rgba($primary, 0.2);
				padding: 4px 11px;
			}

			.selected-text {
				white-space: nowrap;
			}
		}

		.none-selected > .selected-text {
			color: $text-color-muted;
		}

		.invalid {
			color: $text-color-muted;
			border-color: rgb(255, 109, 0) !important;
		}
	}
}

.group-page-picker-menu {
	$HEADER-HEIGHT: 50px;
	$REPEATED-ITEM-HEIGHT: 40px;
	$NUM-OF-VISIBLE-ITEMS: 7;
	$VIRTUAL-REPEAT-HEIGHT: $NUM-OF-VISIBLE-ITEMS * $REPEATED-ITEM-HEIGHT + 0.6 * $REPEATED-ITEM-HEIGHT;
	$PD: 5px;
	$CHECKBOX-WIDTH: 30px;
	$EXPAND-ICON-WIDTH: 30px;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: $white;

	._zero-height {
		height: 0;
		overflow: hidden;
	}

	.longest-name {
		padding-left: 6em;
		padding-right: 2em;
		@extend ._zero-height;
	}

	.mdi {
		line-height: 35px;
	}

	.virtual-repeat {
		height: $VIRTUAL-REPEAT-HEIGHT;
		width: 100%;

		.repeated-item {
			height: $REPEATED-ITEM-HEIGHT;

			md-checkbox {
				padding: 0px;
				width: $CHECKBOX-WIDTH;
				margin: 0;
				outline: none !important;

				.vertically-centered {
					line-height: normal;
					top: 0;
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
				}

				&:after {
					@extend .vertically-centered;
				}

				&.md-checked .md-icon {
					background-color: $primary;
					border-color: $primary;
				}

				&.indeterminate {
					.md-container .md-icon {
						background-color: $white;

						&:after {
							display: table;
							position: absolute;
							content: ' ';
							transform: translate(-50%, -50%) scale(1);
							border: 0;
							left: 50%;
							top: 50%;
							width: 8px;
							height: 8px;
							background-color: $primary;
							opacity: 1;
						}
					}
				}
			}

			.md-checkbox-label {
				flex-grow: 1;
				line-height: $REPEATED-ITEM-HEIGHT;
				margin: 0;
				max-width: calc(100% - #{$CHECKBOX-WIDTH} - #{$EXPAND-ICON-WIDTH});
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.md-button {
				align-items: inherit;
				border-radius: 0;
				cursor: pointer;
				display: block;
				margin: 0;
				text-align: left;
				text-transform: none;
				white-space: normal;
				width: 100%;
				height: 100%;
				-webkit-transition: none;
				transition: none;
				color: $text-color-standard;
				font-size: inherit;

				&:focus {
					background-color: rgba(158, 158, 158, 0.2);
				}
			}

			.group-toggle {
				cursor: pointer;
				outline: none !important;
				width: $EXPAND-ICON-WIDTH;
				margin: 0;

				&:active,
				&:hover,
				&:focus {
					background-color: rgba(158, 158, 158, 0.26);
				}

				label {
					cursor: pointer;
				}
			}

			.match {
				background-color: $orange-400;
				border-radius: 2px;
			}

			label.clickable-area {
				cursor: pointer;
				display: block !important;
				padding: 0 10px;
				margin: 0;
			}

			.child {
				padding: 0;
				font-weight: 400;

				label.clickable-area {
					padding: 0 10px 0 20px;
				}
			}
		}

		.focused {
			background-color: rgba(158, 158, 158, 0.2);
		}

		.md-button-toggle {
			padding: 0;
		}
	}

	.header {
		padding: 0 $PD;
		height: $HEADER-HEIGHT;
		display: flex;
		align-items: center;

		& > i.mdi {
			flex: 0 0 auto;
			margin: 0 4px;
		}

		.search {
			flex: 1 1 auto;
		}
	}

	.footer {
		display: flex;
		justify-content: space-around;
		padding: 0;

		button.wfm-btn {
			flex: 1 1 100%;
			margin: $PD;
			transition: none;
		}
	}

	.md-toggle-icon {
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	md-tab-item {
		padding: 6px 24px;
	}
}
.group-page-picker-menu.single-mode {
	.contains-selected-team {
		background-color: $green-100;
	}

	.selected {
		background-color: $green-300;
	}
}
/* End of Group Page Picker*/
