.skill-area-form{
	max-width: 500px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.hide-on-ie{
		display: none!important;
	}

	#skill-area-id > md-autocomplete-wrap > button,
	#skill-id > md-autocomplete-wrap > button{
		display: none!important;
	}

	.ie-cross {
		display: inline!important;
    float: right;
    margin-top: -20px;
	}
}

.ie-cross{
	display: none;
}

.last-time{
	margin-top: 10px;
	margin-right: 15px;
}

.skill-list-header{
	padding-bottom: 10px;
}

.c3-shapes-Current > path{
	fill:$gray026!important;
}

.c3-tooltip-name--Current,.c3-legend-item-Current{
	display:none!important;
}

.intraday-chart>svg{
	max-width: 100%;
}

#staffingChart > svg > g > .c3-axis-y2{
		opacity: 0!important;
}
