.skill-area-form{
	max-width: 500px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.hide-on-ie{
		display: none!important;
	}
}

.last-time{
	margin-top: 10px;
}

.skill-list-header{
	padding-bottom: $full-padding*2;
}

.selectedCard{
	background: #99d6ff;
}

.slide-panel md-tabs-wrapper{
	opacity: 0;
	max-height: 0px !important;
	overflow: hidden;
}
