.col-md-4, .col-md-8, .col-md-12 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}

html, body{
	background:#f3f3f3!important;
}

ul {
	margin-bottom:0!important;
}

a:focus {
   outline: none!important; 
   outline: 0px auto -webkit-focus-ring-color!important; 
   outline-offset: 0px; 
}

.current-nav{
	background-color:#003466;
	color:white;
}

.navbar{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}
 
/*override bootstrap*/
.row {
	margin-right: 0;
	margin-left: 0;
}

.select-toggle {
	opacity: 0;
}

.toggle-handle {
	cursor: pointer;
}

.wfm-list li i {
  color: #555555;
  padding-bottom: 5px;
}

.wfm-list li{
	min-height:38px;
}

label {
	display: inline !important;
}

.container.content{
	height: 92vh;
	overflow: auto;
}

/*
 * growl-item styles
 */
.growl-wrapper {
	position: fixed;
	bottom: 5px;
	z-index: 99999;
	right: 16%;
	left: 16%;
}

.growl-container > .growl-item {
	padding: 10px;
	padding-right: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.growl-item .close {
	text-shadow: none;
	opacity: 1; 
	margin: 0 5px;
	font-size: 16px!important;
}

.growl-container > button {
	border: none;
	outline:none;
}
.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	transition:0.5s all ease-in-out;
}

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave.ng-leave-active {
	opacity:0;
}
.growl-container > .growl-item.ng-leave,
.growl-container > .growl-item.ng-enter.ng-enter-active {
	opacity:1;
}

.growl-container > div.growl-item {
	background-repeat: no-repeat;
}

.nav-item{
	-webkit-transition:0.2s all ease-in-out;
	-moz-transition:0.2s all ease-in-out;
	-o-transition:0.2s all ease-in-out;
	transition:0.2s all ease-in-out;
}

.nav-item-active > div{
	background-color:#c2e085!important;
	box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.26);
	//#036
}

.navbar i{
	  vertical-align: middle;
} 

.result-icon i{
	color:white!important;
	padding:0px!important;
	margin:0px!important;
}

md-tooltip {
    z-index:999999;
}

/*start (main)*/
	.start-wrapper {
		width: 75%;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		margin-top:-20px;
		max-height: 50%;
		z-index:2;
	}

	.start-content {
		background: white;
	}

	.start-panel {
		margin:0 5px;
		display: inline-block;
		background: white;
	}

	.start-intro {
		color: white;
		width:75%;
		margin:0 12%;
		position:absolute;
		z-index:1;
	}
	.tutorial-btn{
		position:relative!important; 
		float:right;
	}

	.social-footer {
		padding: 5px 0;
	} 
	
	.bubble-wrap {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		Height: 20vh;
		background: white;
		overflow: hidden;
	}

	.start-spacer-down {
		margin-bottom: 15px;
	}

	.start-blog-btn {
		margin-top: 3rem;
	}

	.bubble {
		height: 60px;
		width: 60px;
		background-color: #0099FF;
		top: 15vh;
		right: 50%;
		position: absolute;
		border-radius: 50%;
		-moz-transform: scale(80);
		-webkit-transform: scale(80);
		-moz-transform: bg-in 3s cubic-bezier(0.2, 0.3, 0, 1);
		-webkit-animation: bg-in 3s cubic-bezier(0.2, 0.3, 0, 1);
		animation: bg-in 3s cubic-bezier(0.2, 0.3, 0, 1);
	}

	@-webkit-keyframes bg-in {
		from {
			-moz-transform: scale(0);
			-webkit-transform: scale(0);
			transform: scale(0);
		}
	}