
.layout-fill {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.select-toggle {
	opacity: 0;
}

.wfm-table td, .wfm-table th {
  color: $text-color-standard;
  //this will be removed
}

.layout-container{
	max-height: 100%;
	overflow: hidden;
}

#materialcontainer{
	position:relative;
	overflow: auto;
}

.container.content{
	min-height: 92vh;
	padding: 0;
}

.fab-wrapper .wfm-fab {
    margin-top: 0;
}

/*@media screen and (max-width:768px)*/
.con-flex.split-3-1 {
    flex-basis: auto !important;
}


/*nav-context-menu*/
.nav-row{
	padding-top:5px;

	.nav-inline{
		display:inline-flex;
	}
}

.navbar{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	transition:$transition-timing;

	.nav-tools{
		position: fixed;
		right: 0;
		top: 0;
	}

	.navbar-right .card-context{
		margin:0;
	}
}

/*Project specific*/
.fab-wrapper .wfm-fab{
	float:right;
}

#lefttoogle > div{
	position: fixed;
	top: -69px;
  z-index: 9999;
  left: 10px;
  background: transparent;
  box-shadow: none;
  color:$white;
  font-size:250%;
}

.list-mark{
	padding:3px;
	background:$green-100;
	border-radius:50%;
	text-align:center;
	font-size:15px!important;
}

md-progress-circular .md-inner .md-half-circle {
	border-top-color: $pink-500!important;
}

.wfm-card-unselected{
	background: $white;
}

.sidenav.is-hidden{
	flex-basis: 40px!important;
}

.col-md-4, .col-md-8, .col-md-12 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}
.click-modal .dialog {
    margin: 10%;
}


//Temp move us to styleguide
wfm-notice{
	position: fixed;
	bottom:1%;
	right:1%;
	left:75%;
}

@media screen and (max-width: 960px) {
	wfm-notice{
		left:1%;
	}
}
