.col-md-4, .col-md-8 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}

html, body{
	background:#f3f3f3!important;
}

ul {
	margin-bottom:0!important;
}

.navbar {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navbar-right{
	margin-right: 0;
}

a:focus {
   outline: none!important; 
   outline: 0px auto -webkit-focus-ring-color!important; 
   outline-offset: 0px; 
}

.current-nav{
	background-color:#003466;
	color:white;
}

/*override bootstrap*/
.row {
	margin-right: 0;
	margin-left: 0;
}

.select-toggle {
	opacity: 0;
}

.toggle-handle {
	cursor: pointer;
}

.wfm-list li i {
  color: #555555;
  padding-bottom: 5px;
}

label {
	display: inline !important;
}

.container.content{
	height: 92vh;
	overflow: auto;
}

/*
 * growl-item styles
 */
.growl-wrapper {
	position: fixed;
	bottom: 5px;
	z-index: 99999;
	right: 16%;
	left: 16%;
}

.growl-container > .growl-item {
	padding: 10px;
	padding-right: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.growl-item .close {
	text-shadow: none;
	opacity: 1; 
	margin: 0 5px;
	font-size: 16px!important;
}

.growl-container > button {
	border: none;
	outline:none;
}
.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	transition:0.5s all ease-in-out;
}

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave.ng-leave-active {
	opacity:0;
}
.growl-container > .growl-item.ng-leave,
.growl-container > .growl-item.ng-enter.ng-enter-active {
	opacity:1;
}

.growl-container > div.growl-item {
	background-repeat: no-repeat;
}



