a{
	color: $text-color-standard;
	text-decoration: underline;
}
.layout-fill {
	width: 100%;
	min-height: 100%;
	height: 100%;
}
.select-toggle {
	opacity: 0;
}
.layout-container {
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
}
#materialcontainer{
	position:relative;
	overflow: auto;
}
.container.content{
	min-height: 92vh;
	padding: 0;
}
.notice-item{
	display: flex;
}
.notice-close{
	margin-left: auto;
}
md-pagination-wrapper{
	width:500px !important;
}


/*Project specific*/
.fab-wrapper .wfm-fab{
	float:right;
	margin-top: 0;
}
.wfm-card-unselected{
	background: $white;
}
.col-md-4, .col-md-8, .col-md-12 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.click-modal .dialog {
	left:25%;
}
wfm-notice{
	position: fixed;
	bottom:1%;
	right:1%;
	left:75%;
}
md-progress-circular{
	transform: scale(0.4)!important;
}

/*Mobile view Query*/
@media screen and (max-width:768px){
	.con-flex.split-3-1 {
		flex-basis: auto !important;
	}
	.c3 svg { font: .6em sans-serif; }
}

/*Sidenav is hidden Query*/
@media screen and (max-width: 960px) {
	wfm-notice{
		left:1%;
	}
}

/*Firefox Query*/
@-moz-document url-prefix(){
	.navbar .navbar-search{
		padding: 1px;
	}
}

/*Internet explorer Query*/
/*Internet explorer Query*/
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.navbar .navbar-search{
		padding-left: 1px;
	}
	.permission-radio-buttons > .wfm-radio {
		    width: auto!important;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
}

@supports (-ms-accelerator: true) {
	.navbar .navbar-search{
		padding: 1px;
	}
}

//Temp move us to styleguide
.wfm-form input, .wfm-form select{
	margin:0!important;
}

md-tooltip{
	z-index: 1010;
}
.md-tooltip {
  height: auto  !important;
}

.align-bottom-flex {
	align-self: flex-end;
}

.non-pointer{
	pointer-events: none;

	&:focus{
		display: none;
	}
}

.locked {
	color: $text-color-muted!important;
	cursor: not-allowed;
	pointer-events:none;
}

.tree-handle-wrapper{
	width:100%;
}

.margin-center{
	margin: 0 auto;
}

.list-dot {
    float: none!important;
		width: 25px;
		text-align: center;
		box-shadow: 0 0 0 0 transparent!important;
}
