html, body{
	background:#f3f3f3!important;
}

.line-right{
	text-align:right;
}

.padding-reset{
	padding:0!important;
}

.pointer{
	    cursor:pointer; // extract in styleguide helpers ?
}

/*override bootstrap*/
.col-md-4, .col-md-8, .col-md-12 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.select-toggle {
	opacity: 0;
}

#materialcontainer{
	position:relative;
}

.container.content{
	height: 92vh;
	min-height: calc(-56vh);
	overflow: auto;
}

input::-ms-clear {
	display: none;
}

/*Buissiness unit change*/
.bu-change{
	width:auto!important;
	background:transparent;
	border-bottom: 0 solid transparent!important;
	color:$white!important;
	background: transparent;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;
	font-weight:normal!important;

	option{
		cursor: pointer!important;
		color:black!important;
		background: $white!important;
	}
}

.ui-select{
	width: 100%;
	position: relative;

	.bu-caret{
			position: absolute;
			right: -8px;
	    top: 4px;
			pointer-events: none;
	}

	/* This is to remove the arrow of select element in IE */
	select::-ms-expand {	display: none; }
	select{
    -webkit-appearance: none;
    appearance: none;
	}
	@-moz-document url-prefix(){
		.ui-select{
			border: 1px solid #CCC;
			border-radius: 4px;
			box-sizing: border-box;
			position: relative;
			overflow: hidden;
		}
  	.ui-select select {
			width: 110%;
			background-position: right 30px center !important;
			border: none !important;
		}
	}
}

/*start (main)*/
	.start-wrapper {
		width: 75%;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		max-height: 50%;
		z-index:2;
	}

	.start-links{
		display: flex;
		justify-content: space-around;
		width:100%;

		a{
			width: 130px;
			text-align: center;
		}
	}

	.start-panel {
		margin:0 5px;
		display: inline-block;
		background: $white;
		margin-bottom: 15px;
	}

	.start-tutorial{
		position:relative!important;
		display: inline-flex;
		width:100%;
	}

	.tour-btn{
		position: absolute;
		right:0;
		top:-5px;
	}

	.social-footer {
		padding: 5px 0;
	}

	.start-blog-btn {
		margin-top: 3rem;
	}

/*nav-context-menu*/
.searchbaricon{
	cursor:pointer;
}

/*left sidenav */
.nav-item-active{
	.sidenav-header{
		background:$green-100;
	}
}

/*Growl*/
.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	transition:0.5s all ease-in-out;
}

/*Project specific*/
.fab-wrapper .wfm-fab{
	float:right;
}

.navbar{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

#lefttoogle > div{
	position: fixed;
	top: -69px;
  z-index: 9999;
  left: 10px;
  background: transparent;
  box-shadow: none;
  color:white;
  font-size:250%;
}

.growl-wrapper {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	z-index: 99999;
	right: 10px;
	left: 10px;
}

.list-mark{
	padding:3px;
	background:$green-100;
	border-radius:50%;
	text-align:center;
	font-size:15px!important;
}

md-progress-circular .md-inner .md-half-circle {
	border-top-color: $pink-500!important;
}

/*temp fixes*/
.wfm-card-unselected{
	background: $white;
}

input, label, .form-input-message{
	font-size: 14px!important;
}

.wfm-form input, .wfm-form select{
	width:400px;
}

label{font-weight: normal;}

/*panel switch*/
.panel-switch label{
	padding-right: 58px;
}

@media only screen and (max-width: 1100px) {
	.panel-switch{
		text-align: left!important;
	}
}
