a{
	color: $text-color-standard;
	text-decoration: underline;
}
.layout-fill {
	width: 100%;
	min-height: 100%;
	height: 100%;
}
.select-toggle {
	opacity: 0;
}
.layout-container {
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
}
#materialcontainer{
	position:relative;
	overflow: auto;
}
.container.content{
	min-height: 92vh;
	padding: 0;
}
.notice-item{
	display: flex;
}
.notice-close{
	margin-left: auto;
}

/*Project specific*/
.fab-wrapper .wfm-fab{
	float:right;
	margin-top: 0;
}
.wfm-card-unselected{
	background: $white;
}
.col-md-4, .col-md-8, .col-md-12 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.click-modal .dialog {
	left:25%;
}
wfm-notice{
	position: fixed;
	bottom:1%;
	right:1%;
	left:75%;
}
md-progress-circular{
	transform: scale(0.4)!important;
}

/*Mobile view Query*/
@media screen and (max-width:768px){
	.con-flex.split-3-1 {
		flex-basis: auto !important;
	}
	.c3 svg { font: .6em sans-serif; }
}

/*Sidenav is hidden Query*/
@media screen and (max-width: 960px) {
	wfm-notice{
		left:1%;
	}
}

/*Firefox Query*/
@-moz-document url-prefix(){
	.navbar .navbar-search{
		padding: 1px;
	}
}

/*Internet explorer Query*/
/*Internet explorer Query*/
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.navbar .navbar-search{
		padding-left: 1px;
	}
	.permission-radio-buttons > .wfm-radio {
		    width: auto!important;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
}

@supports (-ms-accelerator:true) {
	.navbar .navbar-search{
		padding: 1px;
	}
}

// semi list check
.list-mark{
	padding:3px;
	background:$green-100;
	border-radius:50%;
	text-align:center;
	font-size:15px!important;
}
.list-check{
    height: 25px;
    width: 25px;
    line-height:25px;
    display: inline-block;
    position: absolute;
    left: 5px;
    background:$green-100;
	border-radius:50%;
	text-align:center;
}
.list-check .mdi{
    vertical-align: middle;
}
.list-check .mdi-semicheck{
    height:10px;
    width:10px;
    display:inline-block;
    background-color:#000;
    margin-bottom:3px;
}

//Temp move us to styleguide - remove after next release

.wfm-form input, .wfm-form select{
	margin:0!important;
}

md-tooltip{
	z-index: 1010;
}

.align-bottom-flex {
	align-self: flex-end;
}

//expander grid - move to styleguide

.block{
	display: block!important;
}

.relative{
	position: relative;
}

.expandable{
	.card-spacer{
		$card-size: 160px;
		margin-bottom: 1rem;

		&.sm{
			height: $card-size;
			.open-card-panel {
				height: $card-size;
			}
		}

		&.md{
			height: $card-size*2;
			.open-card-panel {
				height: $card-size*2;
				overflow: auto;
			}
		}

		&.lg{
			height: $card-size*3;
			.open-card-panel {
				height: $card-size*3;
			}
		}

		.open-card-panel{
			overflow: auto;
			border-top:3px solid $blue-300;
		}

		.con-footer{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.grid-card{
		.unselected-card {
			opacity:0.5;
			pointer-events: none;
		}

		.list-content:after{
			content: "_";
			opacity: 1;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			position: absolute;
			z-index: 0;
			bottom: -22px;
			left: 45%;
			right:0;
			transform: rotate(180deg);
			transform-origin:top;
			transition: transform 0.6s cubic-bezier(.25,.8,.25,1);
			color:transparent;
		}

		.selected-card:after {
			transform: rotate(0deg);
			background: $blue-300;
		}
	}

	.card-expander{
		position: absolute;
		margin:5px;
		left: 0;
		right: 0;
	}
}

// whp
.working-hour-picker{
	.mini{
		min-width: 32px;
		color:$text-color-standard;
		background: rgba(0,0,0,0.1);
	}
	.mini-active{
		background: $blue-300;
		color:$white;
		box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	}
	.mini-success{
		background: $green-100;
		color:$text-color-standard;
		box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	}
	.work-day{
		opacity: 1;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	}
	.inactive-work-day{
		opacity: 0;
		transform: translate(-50px, 0px);
	}
	.working-hour-dropdown{
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 20;
		background: $white;
	}
	.day-row{
		flex-direction:row;
	}

.uib-timepicker{
	width: 100%;
}

	.uib-time{
		.md-button{
			margin:0px!important;
			&:hover{
				background-color: #ececec!important;
			}
		}
	}

	@media screen and (max-width:768px){
		.day-row > .con-flex{
			padding:0!important;
		}
	}
}
