@import 'layout';
@import 'outbound';
@import 'people';
@import 'forecasting';
@import 'permissions';
@import 'seatmap';
@import 'seatplan';
@import 'resourceplanner';
@import 'rta';
@import 'intraday';
@import 'teamschedule';
@import 'wfmrightpanel';
@import 'requests';
@import 'start';
@import 'navbar';
@import 'reports';
@import 'wfmmultiplesearchinput';
@import "cascade";
@import "staffing";
@import "grouppage";
@import "organizationpicker";
