//main menu
.main-menu{
	.main-menu-ctrls{
		position: fixed;
		z-index: 1000;
		top:-10px;
		left: -3px;

		.main-menu-trigger-icon{
			position: relative;
			top:2px;
		}
	}

	a{
		text-decoration: none;
		color: $text-color-standard!important;
	}

	.main-menu-link-wrapper{
		background: $white;
		margin-top: 5rem;
		padding-bottom: 5rem;
		max-height: 100vh;
		height: 100%;
		min-width: 200px;
		overflow-y: auto;

		.my-time-link {
			.main-menu-link > .con-row {
				justify-content: space-between;
			}

			.open-in-new {
				color: $gray054;
				display: none;
			}

			&:hover {
				.open-in-new {
					display: block;
				}
			}
		}
	}

	.main-menu-link{
		padding: $full-padding;
		border-bottom: 1px solid $gray012;
	}

	.main-menu-link:hover{
		background: $gray012;
		color:$gray087!important;
	}

	.main-menu-link-active > .main-menu-link{
		background: $green-100!important;
	}
}

// active state
.main-menu-slide.ng-hide-add.ng-hide-add-active,
.main-menu-slide.ng-hide-remove {
	transform: translate(-100%);
	transform-origin: left;
	transition: $transition-timing;
}
// hidden state
.main-menu-slide.ng-hide-remove.ng-hide-remove-active,
.main-menu-slide.ng-hide-add {
	transform: translate(0);
}


/*nav-context-menu*/
.bu-align{
	position: fixed;
	top: 8px;
	z-index: 1000;
	left: 150px;
}

.businessunit-menu > .context-menu-bottom{
	color: $text-color-standard!important;
}

.businessunit-menu-icon{
	vertical-align: middle!important;
}

// mobile media query
@media screen and (max-width:768px){
	.main-menu-link-wrapper{
		position: fixed;
		top: 5rem;
		left:0;
		width: 100%!important;
		bottom:0!important;
		z-index: 1010!important;
		background: $white;
		margin-top: 0!important;
	}
}

// top bar
.nav-row{
	padding-top:5px;
}

.navbar{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	transition:$transition-timing;

	.nav-tools{
		position: fixed;
		right: 0;
		top: 0;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.container.content{
		height: 92vh;
	}
}

.navbar i {
	color: $text-color-standard;
}

.nav-tools .wfm-popup-wrap {
	right: 0;
	top: 50px;
	min-width: 250px;
}

.nav-link-wrap{
	cursor: pointer;
	color: $text-color-standard;
	width: 100%;
}

.nav-link-wrap:hover{
	background: $gray012;
}

.nav-item-inactive{
	color: $white!important;
	background: transparent;
}

.nav-item-active{
	color: $white!important;
	background: $gray012!important;
}

.navbar .card-context {
	margin: 5px;
}

.feedback{
	width: 64px;
	height: 64px;
	margin-top: -22px;
	margin-left: -22px;
	background: $blue-300;
	transform-origin: center;
	transform: scale(0.8) rotateY(0deg) rotate(-5deg) translateY(0);
	animation-name: nod;
	animation-duration: 4s;
}

@keyframes nod {
	0%  {transform: scale(0.8) rotateY(0deg) rotate(-5deg) translateY(0);}
	1%  {transform: scale(0.8) rotateY(-5deg) rotate(0deg) translateY(-5px);}
	20% {transform: scale(0.8) rotateY(5deg) rotate(0deg) translateY(5px);}
	40% {transform: scale(0.8) rotateY(-3deg) rotate(0deg) translateY(-3px);}
	60% {transform: scale(0.8) rotateY(3deg) rotate(0deg) translateY(3px);}
	80% {transform: scale(0.8) rotateY(-1deg) rotate(-3deg) translateY(-1px);}
	100%{transform: scale(0.8) rotateY(0deg) rotate(-5deg) translateY(0);}
}

.eye{
	transform-origin: center;
	transform: rotateY(0deg);
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: 2;
}
@keyframes blink {
	0%  {transform: rotateX(0deg);}
	50% {transform: rotateX(180deg);}
	100%{transform: rotateX(0deg);}
}

.feedback-wrap{
	transform-origin: center;
	transform: scale(0.6);
	animation-name: resizeA;
	animation-duration: 4s;
	transition: 0.5s transform ease;
}

.feedback-wrap:hover{
	transform: scale(0.8);
}

@keyframes resizeA {
	0%  {transform: scale(1);}
	80% {transform: scale(1);}
	100%{transform: scale(0.6);}
}

.even-icon{
	width: 34px;
	height: 34px;
	overflow: hidden;
}
