//main menu
.main-menu{
	.main-menu-ctrls{
		position: fixed;
		z-index: 1000;
		top:-10px;
		left: -3px;
		color:$white;

		input{
			display: none;
		}

		.main-menu-trigger-icon{
			position: relative;
			top:2px;


		}
		.card-context:focus, .card-context:hover{
			.main-menu-trigger-icon{
				color:$text-color-standard;
			}
		}

	}

	a{
		text-decoration: none;
		color: $text-color-standard!important;
	}

	.main-menu-link-wrapper{
		background: $white;
		margin-top: 5rem;
		padding-bottom: 5rem;
		max-height: 100vh;
		height: 100%;
		min-width: 200px;
		overflow-y: auto;

		.my-time-link {
			.main-menu-link > .con-row {
				justify-content: space-between;
			}

			.open-in-new {
				color: $gray054;
				display: none;
			}

			&:hover {
				.open-in-new {
					display: block;
				}
			}
		}
	}

	.main-menu-link{
		padding: $full-padding;
		border-bottom: 1px solid $gray012;
	}

	.main-menu-link:hover{
		background: $gray012;
		color:$gray087!important;
	}

	.main-menu-link-active > .main-menu-link{
		background: $green-100!important;
	}
}

// active state
.main-menu-slide.ng-hide-add.ng-hide-add-active,
.main-menu-slide.ng-hide-remove {
	transform: translate(-100%);
	transform-origin: left;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
// hidden state
.main-menu-slide.ng-hide-remove.ng-hide-remove-active,
.main-menu-slide.ng-hide-add {
	transform: translate(0);
}


/*nav-context-menu*/
.bu-align{
	position: fixed;
	top: 8px;
	z-index: 1000;
	left: 150px;
	color: white;
}

.businessunit-menu > .context-menu-bottom{
	color: $text-color-standard!important;
}

.businessunit-menu-icon{
	vertical-align: middle!important;
}

// mobile media query
@media screen and (max-width:768px){
	.main-menu-link-wrapper{
		position: fixed;
		top: 5rem;
		left:0;
		width: 100%!important;
		bottom:0!important;
		z-index: 1010!important;
		background: $white;
		margin-top: 0!important;
	}
}

// top bar
.nav-row{
	padding-top:5px;
	.nav-inline{
		display:inline-flex; //replace this with inline-flex class on element
	}
}

.navbar{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	transition:$transition-timing;

	.nav-tools{
		position: fixed;
		right: 0;
		top: 0;
	}

	.nav-tools{
		a:hover i {
			color:$text-color-standard;
		}
		.context-menu:focus i {
			color:$text-color-standard;
		}
	}

	.navbar-right .card-context{
		margin:0;
	}

	.nav-context-menu .arrow-up{
		border-bottom: 15px solid $white;
	}
	.context-menu:focus [class*="context-menu-"]{
		visibility: visible !important;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.container.content{
		height: 92vh;
	}

	.nav-context-menu .nav-context-menu-left{
		text-transform:inherit!important;
	}
}
