@charset "UTF-8";

.outbound {
	.input-prepend {
		width: 100%;
	}
	.input-prepend span {
		display: inline-block;
		min-width: 140px;
		white-space:nowrap;
	}
	.input-prepend span + input {
		display: inline-block;
		width: 65% !important;
		margin-bottom: 1px;
	}
	.input-prepend span + select {
		display: inline-block;
		width: 65% !important;
	}
	.wfm-checkbox.wfm-checkbox-inline {
		width: auto;
	}
	.wfm-table.wfm-table-center td {
		text-align:center; 
		vertical-align:middle;
	}
	.wfm-dense .wfm-checkbox {
		padding: 0px !important;
	}
	.wfm-table.wfm-dense td{
		height: 22px;
	}
	.navigate-to.active {
		cursor: pointer;
	}
	.navigate-to.active path {	
		fill: #0099FF;
	}
	.navigate-to.active span {
		color: #0099FF;	
	}
	.navigate-to.inactive path {
		fill: #E0E0E0;
	}
	.navigate-to.inactive span {
		color: #E0E0E0;
	}
	.sub-header div.column-label {
		border-color: white;
		border-width: 1px;
		border-right-style: solid;
	}
	.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-1 {
	  width: 40px; 
	}
	.wfm-list li:hover .wfm-checkbox-toggle:after {
		background-color: white;
	}

	.m-t-10{
		margin-top: 10px;
	}
	.move-down-5{
		position:relative;
		bottom:-5px;
	}
}
.wfm-timepicker-wrapper {
  width: 120px;
  display: inline-block;

  select {	
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-left: 3px;
	border-radius: 0px !important;
	background-color: white;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
  }
  input {
	padding-left: 5px;
	height:24px;

	&.ng-dirty.ng-invalid {
	  border: 2px solid red;
	}
	&.ng-pristine.ng-invalid {
	  border-color: #E0E0E0;
	}
  }

  select::-ms-expand {
	display: none;
  }
}

.displayinline-block{
	display:inline-block;
}
.m-l-40{
	margin-left:40px;
}
.m-l-10{
	margin-left:10px;
}

.wrong-sign, .right-sign {
	display: none;
}
.right-sign {
	color: #c2e085 ;
}
.wrong-sign {
	color: #ee8f7d ;
}

.error-msg-container {
	display: none;
}

.ng-invalid-order  .error-msg-container.invalid-order {
	display: block !important;
}

.ng-invalid-empty  .error-msg-container.invalid-empty {
	display: block !important;
}

.campaign-create {
	.ng-valid + .input-validation-sign .right-sign, 
	.custom-valid + .input-validation-sign .right-sign,
	form.ng-valid .form-validation-sign .right-sign {
		display: block !important;
	}

	.ng-invalid + .input-validation-sign, 
	.custom-invalid + .input-validation-sign,
	form.ng-invalid .form-validation-sign   {
		.wrong-sign {
			display: block !important; 
		}

		&, &.expand {
			transition: transform 0.3s linear;

			.wrong-sign {
				transition: color 0.3s linear;
			}
		}
		&.expand {
		   transform: scale(1.5); 
		   .wrong-sign {
				color: red !important;
		   }
		}
	}
}

.campaign-edit {
	.ng-dirty.ng-valid + .input-validation-sign .right-sign, 
	.ng-dirty.custom-valid + .input-validation-sign .right-sign,
	form.ng-dirty.ng-valid .form-validation-sign .right-sign {
		display: block !important;
	}

	.ng-dirty.ng-invalid + .input-validation-sign, 
	.ng-dirty.custom-invalid + .input-validation-sign,
	form.ng-dirty.ng-invalid .form-validation-sign  {
		.wrong-sign {
			display: block !important; 
		}

		&, &.expand {
			transition: transform 0.3s linear;

			.wrong-sign {
				transition: color 0.3s linear;
			}
		}
		&.expand {
		   transform: scale(1.5); 
		   .wrong-sign {
				color: red !important;
		   }
		}
	}
}


.campaign-create, .campaign-edit {

	input[type="text"] {
		height: 23px;
	}
}
.nowrap{
	white-space:nowrap;
}
.icon-set-fix{
	position:relative;
	min-width:46px;
	.icon-set{
		position:absolute;
		top:2px;
		right:-20px;
	}
}
.w-150{
	width:150px;
}
.w-100p{
	width:100%;
}
.no-boxshadow{
	box-shadow:none;
}
.m-r-10p{
	margin-right:10%;
}

.w-160{
	width:160px;
}
.labelfix label{
	display:inline-block !important;
	height:20px;
	min-width:20px;
	max-width:20px;
}
.flow-btn{
	position:absolute;
	top:-30px;
	right:30px;
	transform:scale(0.8);
}
.datepickerfix{
	position:absolute;
	top:8px;
	right:10px;
	height:18px;
	width:18px;
}
.relative{
	position:relative;
}
activity-picker {
	display: flex;
	flex-direction: row; 

	.polymorphic-input-body {
		width: 40%;
		input, md-select, md-select-label {
			width: 100% !important;
		} 
		input[readonly] {
			background-color: #E0E0E0;
			border-radius: 8px;
			border-bottom: none !important;
		}
	}
	.divider {
		width: 10%;
	}
	.morph-switch {
		width: 20%;
		label {
			font-style: italic;
			font-weight: 300;
		}
		&.wfm-checkbox {
			padding: 3px;
		}
	}
	md-select {				
		padding: 0 10px !important;
	}	

}
.sub-header span.pull-right.sub-header-message {
	margin-right: 20%;
}
.in-place-container {
	position: relative;
	width: 100%;
	height: 0;

	.in-place-element {
		position: absolute;
		right: 10%;
		top: 12px;
	}
}
.wfm-datepicker-wrap td.in-date-range button {
	background-color: #31b0d5;
}
.outbound {
	input {
		padding-left: 10px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}
