@charset "UTF-8";

.outbound {
	.ng-valid-required {
		.invalidWorkingHours {
			display: block;
		}
	}
	.ng-invalid-required {
		.invalidWorkingHours {
			display: none;
		}
	}
	//Move this to styleguide and refactor
	campaign-commands-pane input.ng-invalid.ng-dirty {
		border: 1px solid $red-700;
	}
	.enhanced-gantt-header {
		cursor: pointer;
		transition: $transition-timing;
	}
	.enhanced-gantt-header:hover {
		background-color: $gray-300;
	}
	.anti-enhanced-gantt-header {
		cursor: default !important;
	}
	.anti-enhanced-gantt-header:hover {
		background-color: $white !important;
	}
	.scrollfix {
		.gantt-scrollable-header {
			position: fixed;
			top: 52px;
			z-index: 900;
			display: inline-block;
			background-color: $white;
		}
		.gantt-table-header {
			position: fixed;
			top: 52px;
			z-index: 900;
			display: inline-block;
			width: 96px;
		}
		.gantt-side-background-header {
			position: fixed;
			top: 52px;
			z-index: 900;
			display: inline-block;
			background-color: $white;
			width: 30%;
			height: 60px;
		}
	}
	.gantt-datepicker {
		padding: 5px;
		z-index: 1000;
		position: relative;
		input {
			min-width: 100px;
		}
		div[uib-datepicker] {
			position: absolute;
			top: 2rem;
			border-radius: 5px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
			background: $white;
		}

		//For fixing flicker issue of uib-datepicker
		.uib-monthpicker {
			table tbody tr td:nth-child(n + 4) {
				display: none;
			}
		}
	}
	.outbound-gantt-chart {
		position: relative;

		.gantt-alert-message {
			position: absolute;
			bottom: -30px;
			z-index: 100;
			width: 100%;
			left: 0;
			height: 25px;
			line-height: 25px;
			padding: 0;
			text-align: center;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
		.gantt-task-truncated-left,
		.gantt-task-truncated-right {
			top: -2px;
		}
		.gantt-task-info {
			background-color: $white;
		}
		.gantt-body-rows {
			overflow: hidden;
		}
		.gantt-scrollable {
			overflow: hidden;
			-ms-overflow-style: none;
		}
		.campaign-late {
			background-color: $red-700;
			color: $white;
			border-radius: 16px;
		}
		.campaign-early {
			background-color: $blue-300;
			color: $white;
			border-radius: 16px;
		}
		.gantt-task-background {
			height: 60%;
			top: 20%;
		}
		.gantt-body {
			.gantt-row-expansion {
				background-color: $white;
				z-index: 100;
				height: 100%;
				pointer-events: auto;
				border: solid 1px;
				border-top: none;
				overflow: hidden;
			}
			.gantt-row-background.gantt-row-expanded {
				border: solid 1px;
				border-left: none;
				border-bottom: none;
			}
		}
		.gantt-side {
			.gantt-row-background.gnatt-row-expanded {
				border: solid 1px;
				border-right: none;
			}
			.gantt-row-background {
				//compact
				&.gantt-row-expansion {
					border-right: none;
				}
			}
		}
		.gantt-side-content-table .gantt-table-column {
			min-width: 60px;
		}
		.gantt-resizer {
			opacity: 0;
		}
		.gantt-side-background,
		.gantt-body-background,
		.gantt-row {
			pointer-events: none;

			.gantt-task-content {
				pointer-events: auto;
				cursor: pointer;
			}
		}
		.gantt-row-even > .gantt-row-background {
			background-color: $white;
		}
		.gantt-timespan-today {
			background-color: $blue-100;
			opacity: 0.4;
		}
		.gantt-header-row {
			border-top: solid 5px $blue-500;
		}
		.gantt-header-row.gantt-header-row-first {
			border-top: none;
			border-bottom: none;
		}
		.gantt-body-columns {
			pointer-events: auto;
		}
		.gantt-header-row .gantt-column-header {
			padding-top: 0;
		}
	}
	.week-days-header {
		display: flex;
		justify-content: space-between;
	}
	.chart {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.chart-extra-info {
		position: absolute;
		color: $blue-300;
		top: 0;
		right: 8%;
		text-align: left;

		p {
			margin-bottom: 0;
		}
	}
	.c3-chart-texts .c3-text {
		fill: rgb(102, 194, 255) !important;
	}
	.c3-chart-texts .c3-chart-text:first-child .c3-text {
		fill: rgb(31, 119, 180) !important;
	}
	::-ms-clear {
		display: none;
	}
	.manual-input-container {
		overflow: hidden;
		text-align: left;
		display: inline-block;
		padding-left: 10px;
		height: 40px;
		width: 40%;
		position: relative;
		float: left;
		min-width: 290px;
		max-width: 400px;
		white-space: nowrap;

		input {
			margin-top: 10px;
			width: 190px;
		}
		.manual-input-btns {
			display: inline-block;
			background-color: $white;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;

			button {
				line-height: 1;
			}
		}
	}
	.disable-default-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.c3-line {
		stroke-width: 3px !important;
	}
	.c3-tooltip-container {
		max-width: 170px;
	}
	.campaign-warning-icon {
		margin-top: 7px;
		height: 20px;
		line-height: 18px;
		min-width: 20px;
		border: 1px solid rgba(0, 0, 0, 0.12);
		background-color: $red-700;
		border-radius: 50%;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
		box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		color: $white;
		display: inline-block;
		padding-right: 3px;
		padding-left: 3px;
		position: relative;
		transition: box-shadow 0.4s;
	}
	.overstaffed-color {
		background-color: $blue-300;
	}
	.overstaffed-color .campaign-warning-icon-messagefix {
		color: $blue-300;
	}
	.campaign-message {
		background-color: $red-700;
		padding: 5px 10px;
		display: inline-block;
		color: $white;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		float: left;
		margin: 5px;
	}
	.campaign-warning-icon-messagefix {
		color: $red-700;
		background-color: $white;
		margin-right: 10px;
		margin-top: 0;
		padding-right: 4px;
	}
	// mix campaign-edit and campaign-create ?
	//compact
	.campaign-cammands {
		position: relative;
		white-space: nowrap;
	}

	.wfm-form label {
		width: 100%;
	}

	activity-picker {
		display: block;

		.polymorphic-input-body {
			width: 100%;

			md-select-value span .md-text {
				max-width: 200px;
				overflow-wrap: break-word;
				display: block;
			}
		}
	}
	.loading {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.5);
	}
	md-progress-circular {
		position: absolute;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
	}
	.gantt-schedule-loader {
		position: absolute;
		top: 28px;
		left: 0;
		width: 100%;
	}
	campaign-chart > .clear-button {
		bottom: 15px;
		position: absolute;
		left: 1rem;
		z-index: 10;
	}
}
