@charset "UTF-8";
.input-prepend {
	width: 100%;
}
.input-prepend span {
	display: inline-block;
	min-width: 140px;
	white-space:nowrap;
}
.input-prepend span + input {
	display: inline-block;
	width: 65% !important;
	margin-bottom: 1px;
}
.input-prepend span + select {
	display: inline-block;
	width: 65% !important;
}
.wfm-checkbox.wfm-checkbox-inline {
	width: auto;
}
.wfm-table.wfm-table-center td {
	text-align:center; 
	vertical-align:middle;
}
.wfm-dense .wfm-checkbox {
	padding: 0px !important;
}
.wfm-table.wfm-dense td{
	height: 22px;
}
.navigate-to.active {
	cursor: pointer;
}
.navigate-to.active path {	
	fill: #0099FF;
}
.navigate-to.active span {
	color: #0099FF;	
}
.navigate-to.inactive path {
	fill: #E0E0E0;
}
.navigate-to.inactive span {
	color: #E0E0E0;
}
.sub-header div.column-label {
	border-color: white;
	border-width: 1px;
	border-right-style: solid;
}
.wfm-list li:hover > .wfm-leave-behind.wfm-leave-behind-1 {
  width: 40px; 
}
.wfm-list li:hover .wfm-checkbox-toggle:after {
	background-color: white;
}

.m-t-10{
	margin-top: 10px;
}
.move-down-5{
	position:relative;
	bottom:-5px;
}

.wfm-timepicker-wrapper {
  width: 120px;
  display: inline-block;

  select {	
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-left: 3px;
	border-radius: 0px !important;
	background-color: white;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
  }
  input {
	padding-left: 5px;
	height:24px;

	&.ng-dirty.ng-invalid {
	  border: 2px solid red;
	}
	&.ng-pristine.ng-invalid {
	  border-color: #E0E0E0;
	}
  }

  select::-ms-expand {
	display: none;
  }
}

.displayinline-block{
	display:inline-block;
}
.m-l-40{
	margin-left:40px;
}
.m-l-10{
	margin-left:10px;
}

.wrong-sign, .right-sign {
	display: none !important;
}

input.ng-valid + .input-validation-sign .right-sign {
	display: block !important;
}

input.ng-invalid + .input-validation-sign .wrong-sign {
	display: block !important;
}

.right-sign {
	color: #c2e085 !important;
}
.wrong-sign {
	color: #ee8f7d !important;
}

.campaign-details {

	input[type="text"] {
		height: 24px;
	}
}
.nowrap{
	white-space:nowrap;
}
.icon-set-fix{
	position:relative;
	min-width:46px;
	.icon-set{
		position:absolute;
		top:2px;
		right:-20px;
	}
}
.w-150{
	width:150px;
}
.w-100p{
	width:100%;
}
.wfm-datepicker-wrap{
	box-shadow:none;
}
.m-r-10p{
	margin-right:10%;
}
.p-r-40{
	padding-right:40px;
}
.w-160{
	width:160px
}