.people-search {
	padding: 10px 0px;
}

.pagination-item {
	display: inline-block;
}

.pagination li.disabled a {
	color: rgba(0,0,0,0.26);
	pointer-events: none;
}

.pagination li.disabled {
	cursor: not-allowed;
}

.pagination li.active {
	background-color: rgba(0,0,0,0.06);
}

.pagination li {
	padding: 10px;
	cursor: pointer;
	background-color: white;
}

.wfm-list, .ui-grid-menu-items {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;
}

.wfm-list label {
	background-color: #99d6ff;
}

.dropdown{
    position:absolute;
	z-index: 1;
    top: 5rem;
    left: 0rem;
}

.dropdown ul {
	width: 500px;
	position: absolute;
	background: #ffffff;
}

.input-prepend span {
	display: inline-block;
	width: 0;
}

.advaned-container {
	position: absolute;
	margin-top: -15px;
	margin-left: 20px;
	padding: 5px 10px;
	background-color: #fff;
}

.people-form-input {
	position: relative;
	float: left;
	margin-top: 20px;
}

.people-form-input input[type=text]{
	height:auto;
}

.advanced-input {
	font-size: 15px;
	position: relative;
	overflow: hidden;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 8px;
}

.advanced-label {
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: -22px;
	left: 5px;
	transition: .2s ease all;
	pointer-events: none;
	color: #999;
}

.advanced-input:focus ~ label,
.advanced-input:valid ~ label {
	font-size: 14px;
	top: -25px;
	color: #ec38a3;
}

.people-list .ui-grid-menu-button,
.import-people-form .ui-grid-menu-button
 {
	height: 31px;
	top: 0;
}

.people-list.grid {
	height: 650px;
}

.people-list .ui-grid-cell-contents {
	width: 84%;
	white-space: normal;
}
