//temp fix for bug #40330
//related issue links: https://github.com/angular-ui/ui-grid/issues/4938
//                     https://github.com/angular-ui/ui-grid/issues/4548
//delete this once updated on StyleGuide
.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
	pointer-events: initial;
}

.people-module {
	.people-panel > con-row {
		position: relative;
	}

	.people-header{
		padding: 10px 10px 0 10px;
	}
	.people-search-container{
		display: inline-block;
	}
	.people-search {
		padding: 10px 0;

		#simple-people-search {
			width: 220px;
		}
	}
	.context-menu .context-menu-left {
		z-index: 1000;
		text-transform: none;
		white-space: nowrap;
	}

	.pagination-item {
		display: inline-block;
	}

	.pagination li {
		&.disabled {
			a {
				pointer-events: none;
				color: rgba(0, 0, 0, 0.26);
			}

			cursor: not-allowed;
		}

		&.active {
			background-color: rgba(0, 0, 0, 0.06);
		}

		padding: 10px;
		cursor: pointer;
		background-color: $white;
	}

	.wfm-list, .ui-grid-menu-items {
		overflow-y: auto;
		max-height: 800px;
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	.wfm-list label {
		background-color: $blue-100;
	}

	.dropdown {
		position: absolute;
		z-index: 115;
		top: 4rem;
		left: 0rem;

		ul {
			position: absolute;
			width: 500px;
			background: #fff;
		}
	}

	.input-prepend span {
		display: inline-block;
		width: 0;
	}

	.advanced-input {
		font-size: 15px;
		position: relative;
		overflow: hidden;
		margin-top: 8px;
		margin-right: 10px;
		margin-bottom: 8px;
	}

	.advanced-label {
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		top: -22px;
		left: 5px;
		transition: .2s ease all;
		pointer-events: none;
		color: #999;
	}

	.advanced-input {
		&:focus ~ label, &:valid ~ label {
			font-size: 14px;
			top: -25px;
			color: $pink-500;
		}
	}

	.md-sidenav-right md-content select{
		padding:0;
	}
	
	.people-list .ui-grid-menu-button, .import-people-form .ui-grid-menu-button {
		top: 0;
		height: 31px;
	}

	.people-list .ui-grid-header-cell-primary-focus {
		width: 84%;
		white-space: normal !important;
	}

	.wfm-panel {
		position: absolute;
		top: -1rem;
		right: 0rem;
	}

	.modal-box .modalbg {
		position: fixed;
		z-index: 99998;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.26);

		pre {
			margin: 10px;
			border-radius: 0;
		}

		.export-error-data {
			margin: 10px;
		}

		.drop-box {
			height: 65px;
			margin: 10px;
			padding: 9.5px;
			text-align: center;
			border: 1px solid #ddd;
			background: $gray012;
			border-radius: 0;
		}
	}

	.import-file-template {
		padding-left: 10px;
		padding-bottom: 10px;
	}

	[ng\:cloak], [ng-cloak], .ng-cloak, .ng-hide {
		display: none !important;
	}

	.mfb-component__wrap {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.selection-cart-indicator {
		position: absolute;
		top: -0.4rem;
		right: 0rem;
		z-index: 100;
		background-color: $red-600;
		color: #FFF;
		display: block;
		padding: 4px 0;
		border-radius: 50%;
		width: 13px;
		height: 13px;
		box-sizing: border-box;
		line-height: 0.5;
		text-align: center;
		font-size: 12px;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.27);
		animation: bullet 500ms;
		animation-fill-mode: both;
		animation-delay: 1.5s;
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		font-weight: bold;
	}

	.wfm-panel-delete {
		position: absolute;
		top: 1.5rem;
		right: 9rem;
	}

	.selection-cart-row-remove-btn {
		padding: 3px;
		margin: 3px;
		padding-bottom: 0px;
		padding-left: 0px;
		color: $blue-300;
	}

	.mfb-component__list > li {
		padding: 0px 0;
		margin: 0px 0;
	}

	.people-cart {
		.wfm-checkbox {
			input[type=checkbox]:indeterminate ~ label .wfm-checkbox-toggle:after {
				background-color: #66c2ff;
				text-align: center;
				color: #fff;
			}
		}

		.input-group {
			input[type=text] {
				height: 35px;
				border: 1px solid #ccc;
			}
		}
	}
	.advanced-search-container {
		top: 0;
	}
	.pagination li.disabled a{
		cursor:not-allowed;
	}

	wfm-multiple-search-input{
		.advanced-input{
			width: 316px;
		}

		.expand-advanced-input{
			max-width:100%;
		}
    }
}


.people-search {
	position: relative;
}

.simple-people-search {
	display: inline-block;
	height: 30px;
}

.people-search > .dropdown {
	position: absolute;
	top: 30px;
	left: 0;
}

.advanced-search-container {
	position: absolute;
	background-color: $white;
	z-index: 15;
	top: -11px;
	left: 18px;

	input {
		position: relative;
		margin: 5px;
	}
	// CSS hack for IE10, IE11
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator:true) {
		.con-row {
			min-width: 316px;
		}
	}
	// CSS hack for edge Browser 12+
	@supports (-ms-accelerator:true) { 
		.con-row {
			min-width: 316px;
		}
	}
}

wfm-import-agents {
	.new-import-job {
		padding: .4em;
                max-width: 60em;
                margin-bottom: 2rem;

		.footer {
			display: flex;
			margin-top: .6em;

			.left, .right {
				flex-basis: 50%;
			}

			.left {
				text-align: left;
			}

			.right {
				text-align: right;
			}
		}
	}
	.wfm-import-agents {
                max-width: 60em;
                min-height: 600px;
                height: 72vh;

                margin-bottom: 2rem;

		.importing {
			height: 100%;
		}

		.footer {
			text-align: right;
		}

        }
	.home {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.wfm-table {
		th, td {
			border: none;
		}

		th {
			text-align: start;
		}

		td {
			line-height: 2em;
		}
	}
        .droparea {
                height: 65px;
                margin: 0 5px;
                padding: .6em;
                background: rgba(0, 0, 0, .06);
                border: 1px solid #ddd;

		.fileinfo {
			margin: .5em 0;
		}
        }
        .dltpl {
                text-transform: uppercase;
                padding: 0 5px;
        }
        .fallbackstable-wrapper {
                margin: 0 5px;
                min-width: 400px;
                overflow: auto;
                flex-grow: 1;
        }
        .fallbackstable .field {
                width: 25%;
        }

	import-job-list {

		.button-bar {
			margin: .4em 0 1em 0;

			button.wfm-btn {
				margin: 0;
			}

			button.wfm-btn + button.wfm-btn {
				margin-left: .6em;
			}
		}

		.job-list {
			max-width: 80em;

			h3 {
				margin: 0 .8em;
				font-weight: normal;
			}

			.header, .item {
				display: flex;
				padding: .8em;
			}

			.header {
				background-color: #99d6ff;
			}

			.item + .item {
				border-top: 1px solid rgba(0, 0, 0, .17);
			}

			.item {
				box-sizing: border-box;
				min-height: 6em;
			}

			.list .filename {
				flex: 4 1 40%;
			}

			.list .created {
				flex: 2 1 20%;
			}

			.list .status {
				flex: 4 1 40%;

				i.mdi {
					&:before {
						font-size: 1em !important;
						vertical-align: middle;
					}
				}

				.errors {
					padding-right: .4em;
				}
			}

			.list .status .errors + .warnings {
				border-left: 1px solid rgba(0, 0, 0, .87);
				padding-left: .4em;
			}

			.none {
				text-align: center;
				padding: .8em;
			}
		}
	}
}
