.tab-group .label{
	  line-height: initial;
		text-transform: capitalize;
}

.permissions-tree {
	li {
		border: none;
	}
	.angular-ui-tree-handle{
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	}
	.toggle-handle{
		width: auto;
	}

	i {
		vertical-align: text-bottom;
	}
}

.permissions-tree-switch{
	text-align: right;
}

.wfm-switch label{
	padding-right: 58px;
}

.dataHeader{
	margin-top:15px;
	background-color:transparent!important; 
	font-size: 18px;
	border: none!important;
}

.tree-line{
	max-height: 700px;
	overflow-y: auto;
	border-top: 1px solid #E0E0E0;
}

.inline-role-name{
	width:100%;
}

.permissions-radio {
	display: inline; 

}

.permissions-list {
	table-layout:auto;
}

p {
	margin-bottom: 5px;
}

.text-truncation {
	overflow-x: hidden;
	width: 80%;
}

.hide-list-actions{
	transition:none!important;
}

.hide-list-actions-none{
	pointer-events:none;
	opacity:0;
}

.optionLocked{
	pointer-events:none;
	color:#999!important; 
}

.wfm-radio input[type=radio]:checked ~ .wfm-radio-toggle {
    background-color: #66c2ff;
}
.permission-filter-label{
    margin:0!important;
}
 .toolbar > form > .wfm-radio {
        width: initial;
        display:block;
    }


    .permission-radio-buttons {
        display: inline-flex;
        margin-top: 10px;
    }


    .data-auth {
        margin-top:15px;
    }

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.permission-radio-buttons > .wfm-radio label .wfm-radio-label {
        display: inline-block;
		width: 90px; 
		overflow: hidden;
		text-overflow: ellipsis;
		}

		.md-select-label {
			width: 25%;
		}


	}

    @media only screen and (max-width: 841px) {
        .permission-radio-buttons {
            display: inline;
        }
    }

