.tab-group .label{
	  line-height: initial;
		text-transform: capitalize;
}

.permissions-tree {
	li {
		border: none;
	}
	.angular-ui-tree-handle{
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	}
	.toggle-handle{
		width: auto;
	}

	i {
		vertical-align: text-bottom;
	}
}

.permissions-tree-switch{
	text-align: right;
}

.wfm-switch label{
	padding-right: 58px;
}

.inline-role-name{
	width:100%;
}

.permissions-radio {
	display: inline; 

}

.permissions-list {
	table-layout:auto;
}

p {
	margin-bottom: 5px;
}

.text-truncation {
	overflow-x: hidden;
	width: 80%;
}

.hide-list-actions{
	transition:none!important;
}
.optionLocked{
	pointer-events:none;
	color:#999!important; 
}

.wfm-radio input[type=radio]:checked ~ .wfm-radio-toggle {
    background-color: #66c2ff;
}
.permission-filter-label{
    margin:0!important;
}
 .toolbar > form > .wfm-radio {
        width: initial;
        display:block;
    }


    .permission-radio-buttons {
        display: inline-flex;
        margin-top: 10px;
    }


    .data-auth {
        margin-top:15px;
    }

    @media only screen and (max-width: 841px) {
        .permission-radio-buttons {
            display: inline;
        }
    }

