.permissions{
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

.permissions {
	.con-flex.roles{
		display: flex;
		align-self: stretch;
	}

	.roles .panel{
		display: flex;
		flex-direction: column;
		align-self: stretch;
		flex: 1 1 auto;
	}

	.search-role-results{
		flex: 1 1 auto;
		align-self:stretch;
		height: 100%;
		min-height: 80px;
		position: relative;
		overflow: auto;
	}

	.search-role-results .wfm-list {
		position: absolute; // flex workaround : http://stackoverflow.com/a/15389545/4291893
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.flex-relative-element { // flex workaround : http://stackoverflow.com/a/15389545/4291893
	flex: 1 1 auto;
	align-self:stretch;
	height: 100%;
	position: relative;
	overflow: auto;
	.flex-absolute-child{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.angular-ui-tree-node > .wfm-list > li{
	border-left:3px solid transparent;
}

.permissions md-tab-content > div:first-child {
  height: 100% !important;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.permissions-tree {
	max-height: none;
	min-height: 80px;
	li {
		border: none;
	}
	.toggle-handle{
		width: auto;
	}

	i {
		vertical-align: text-bottom;
	}

	.data-list-height{
		max-height: none;
	}
}

#tree-root > li > div > div > div > div > ul > li > div{
	padding-left:50px;
}

.permissions-tree-container {
	min-height: 200px;
}

.all-functions label{
	padding-right: 58px;
}

.dataHeader{
	margin-top:15px;
	border-top: none!important;
    background-color: $gray012;
}

.permissions-radio {
	display: inline;
}

.permissions-teams {
    margin-left: 35px;
}

.text-truncation {
	overflow-x: hidden;
	width: 80%;
}

.hide-list-actions{
	transition:none!important;
}

.hide-list-actions-none{
	pointer-events:none;
	opacity:0;
}

.option-locked{
	pointer-events:none;
	color:$text-color-muted!important;
}

.myRoleLock{
	cursor: not-allowed!important;
	pointer-events: none;
	i{
		@extend .option-locked;
	}

	.wfm-switch{
		@extend .option-locked;
	}
}

.tree-handle-wrapper{
	width:100%;
}

.functionLock{
	cursor: not-allowed;

	.ui-tree-handle{
		pointer-events:none;
		color:$text-color-muted;
	}
}

.permission-filter-label{
	margin:0!important;
}

.permission-radio-buttons {
	display: inline-flex;
}

.hideChevron{
	visibility: hidden;
	pointer-events: none;
}

.data-auth {
	padding-top:5px;
}

.data-list-height{
	overflow-y: auto;
	max-height: 576px;
}

.clear-scroll{
	overflow-x:hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.permission-radio-buttons > .wfm-radio {
	    width: auto!important;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
}

@media only screen and (max-width: 1100px) {
	.permission-radio-buttons {
		display: inline;
	}
}

/*refact*/
.perm-tree{
	border-top: 1px solid $gray012;
}

.permissions-tabs{
	md-tabs{
		transition: height .01s!important;
	}

	md-tab-content, md-tabs-content-wrapper{
		display: inline !important;
	}
}

.slice-text{
	text-overflow: ellipsis;
	width: 80%;
}

.toggle-handle.open i{
	display: inline-block;
}

.scroll-free-tree{
	max-height: none;
}

//helpers to the styleguide
.non-pointer{
	pointer-events: none;

	&:focus{
		display: none;
	}
}
.locked {
	color: $text-color-muted!important;
	cursor: not-allowed;
	pointer-events:none;
}

.tree-handle-wrapper{
	width:100%;
}

.margin-center{
	margin: 0 auto;
}
//end refact
