.label:hover, .tab-group input[type=radio]:checked + .label{
	background-color: #0099FF; 
}

/* Extract in styleguide */
.input-prepend i{
	color: rgba(0, 0, 0, 0.54);
	width: 18px;
	&:before{
		vertical-align: sub;
	}
}

.input-prepend input[type="text"]{
	width: auto;
}

input[type="text"]{
	height: 20px;
}

.tab-group .label{
	  line-height: initial;
		text-transform: capitalize;
}

.roles-list {
	height: 70vh;
}


.permissions-tree {
	height: 70vh;

	li {
		border: none;
	}
	.angular-ui-tree-handle{
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	}
	.toggle-handle{
		width: auto;
	}

	i {
		vertical-align: text-bottom;
	}
}

.permissions-tree-switch{
	text-align: right;
}

.wfm-switch label{
	padding-right: 58px;
}

.animate-show {
  opacity: 1;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}