@media print {
	body{
		background:$white!important;
	}

	.navbar{
		display:none;
	}

	.layout-container{
		display:block;
		width:100%;
		height:100%;
	}

	.layout-container .content{
		flex-basis:100%;
		height:100%;
		margin:0px;
		background:$white!important;
	}

	.layout-container .sidenav {
		display:none;
	}

	.sidenav-toggle{
		display:none;
	}

	.wfm-accordion-head{
		display:none;
	}

	md-tooltip{
		display:none;
	}

	#notice{
		display:none;
	}
}
