.wfm-reports {
	.people-search-input {
		display: inline-block;
		padding-top: 10px;
	}
	.leader-board {
		padding: 10px 10px 80px 10px;
		background: $white;
		max-height: 83vh;
		min-height: 500px;
		overflow-y: auto;

		.leader-board-header {
			padding: .8em .5em .2em .5em;
			min-height: 60px;
			border-bottom: 1px solid $gray026;
			display: -ms-flexbox;
			display: flex;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.wfm-btn-sm {
			padding: 5px;
		}
		table {
			width: 100%;
		}
		table thead tr {
			height: 42px;
			font-weight: bold;
		}
		table tr {
			height: 30px;
		}
		table td.bronze{
			background-image: url(../app/reports/images/bronze.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		td.silver{
			background-image: url(../app/reports/images/silver.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		td.gold{
			background-image: url(../app/reports/images/gold.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		table td.agent-badge-num {
			width: 10%;
			text-align: center;
		}
		.background-gray {
			background: $gray-300 !important;
			-webkit-print-color-adjust: exact;
		}
	}
}
