.wfm-reports {
	.report-list{
		a, a:active, a:hover, a:visited{
			text-decoration: none;
			color: $text-color-standard;
			outline: none!important;
		}
	}
	// max-width: 100em;

	// .report-filter {
	// 	padding: 1em;
	// }
	// .report-filter input {
	// 	width: 316px;
	// }
	// .report-list {
	// 	display: flex;
	// 	flex-wrap: wrap;

	// 	.report-item {
	// 		// IE 10:display: -ms-flexbox;
	// 		-ms-flex-negative: 1;
	// 		-ms-flex-preferred-size: 30%;
	// 		display: flex;
	// 		flex-shrink: 1;
	// 		flex-basis: 30%;

	// 		.wfm-card {
	// 			min-height: 0;
	// 			margin: 8px;
	// 			padding: 16px;
	// 			width: 100%;

	// 			h3 {
	// 				font-weight: normal;
	// 				margin: 4px 0 4px 0 !important;
	// 			}
	// 		}
	// 	}
	// }
	// wfm-multiple-search-input {
	// 	.advanced-input {
	// 		width: 316px;
	// 	}
	// 	.expand-advanced-input {
	// 		max-width: 100%;
	// 	}
	// }
	.people-search-input {
		display: inline-block;
		padding-top: 10px;
	}
	.leader-board {
		padding: 10px 10px 80px 10px;
		background: $white;
		max-height: 83vh;
		min-height: 500px;
		overflow-y: auto;

		.leader-board-header {
			padding: .8em .5em .2em .5em;
			min-height: 60px;
			border-bottom: 1px solid $gray026;
			display: -ms-flexbox;
			display: flex;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.wfm-btn-sm {
			padding: 5px;
		}
		table {
			width: 100%;
		}
		table thead tr {
			height: 42px;
			font-weight: bold;
		}
		table tr {
			height: 30px;
		}
				table td.bronze{
			background-image: url(../app/reports/images/bronze.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		td.silver{
			background-image: url(../app/reports/images/silver.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		td.gold{
			background-image: url(../app/reports/images/gold.png);
			background-repeat: no-repeat;
			background-position:center;
		}
		table td.agent-badge-num {
			width: 10%;
			text-align: center;
		}
		.background-gray {
			background: $gray-300 !important;
			-webkit-print-color-adjust: exact;
		}
	}
}
// CSS hack for IE10, IE11 and edge
// @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none), (-ms-accelerator:true) {
// 	.wfm-reports {
// 		.people-search-input {
// 			vertical-align: middle;
// 			padding-bottom: 18px;
// 		}
// 	}
// }