.wfm-requests {
	position: relative;
	height: 87vh;
	background-color: $white;

	.inline-block, .wfm-date-range-picker-wrap {
		display: inline-block;
	}

	[id="time-zone-switch"] {
		position: relative;
	}

	.panel {
		height: 0;
	}

	.filter-switch {
		display: inline-block;
		padding-left: 3px;
	}

	.operation-container {
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 12px;
	}

	requests-commands-pane {
		position: absolute;
		top: 0;
		right: 1em;
	}

	.request-filter {
		.input-prepend {
			width: 300px;
		}

		[id="simple-people-search"] {
			width: 316px;
		}
	}

	.wfm-date-range-picker-wrap input {
		width: 100px !important;
	}

	.ui-grid {
		height: 71vh;
		margin: 15px;

		.ui-grid-cell-contents {
			width: 85%;
			text-align: left;
		}

		.ui-grid-column-menu-button-last-col {
			margin-right: 0;
		}

		.ui-grid-menu-button {
			top: 2px;
			right: -3px;
		}
	}

	.request-header-full-height {
		height: 60px;
	}

	.paging {
		position: relative;
		top: -24px;

		.total-requests-count {
			margin-top: 5px;
			margin-right: 20px;
		}

		.page-size-selector {
			width: 60px;
			margin-top: 5px;
		}

		.pagination {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 20px;
		}
	}

	requests-overview[shift-trade-view] .paging {
		position: relative;
		top: 0;
	}

	requests-commands-pane .wfm-btn-primary-disabled {
		background-color: transparent;
	}

	input.ui-grid-filter-input {
		text-overflow: ellipsis;
	}

	.ui-grid-filter-container > input[type="text"] {
		margin-top: 2px;
	}

	.multiSelect {
		> button {
			width: 100%;
			max-height: 22px;
			font-weight: 400;
			min-height: 20px !important;
		}

		.checkboxLayer {
			width: 90%;
			min-width: 150px;
		}

		.checkBoxContainer {
			text-align: left;
		}

		.multiSelectItem {
			min-width: 120px;
		}
	}

	[role="tabpanel"], md-tabs {
		transition: none;
	}

	.ui-grid-canvas .ui-grid-cell {
		display: flex;
		flex-flow: column nowrap;
		text-overflow: ellipsis;
		border-bottom-width: 1px !important;

		td {
			overflow: hidden;
			max-width: 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	[id="tab-content-1"] {
		.ui-grid-top-panel {
			overflow: visible;
		}

		.ui-grid-viewport {
			overflow: visible !important;
		}

		.ui-grid-header-viewport {
			overflow: visible;
		}
	}

	[id="tab-content-2"] {
		.shift-trade-header-weekend {
			color: $red-600;
		}

		.shift-trade-cell {
			box-sizing: border-box;
			border: 1px solid #aeaeae;
			width: 100% !important;
			height: 30px !important;
		}

		.ui-grid-menu-button.ui-grid-menu-button {
			right: -20px;
		}

		.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
			border-right-style: hidden;
		}

		.isWeekend {
			width: 100%;
			background-color: $orange-400;

			.shift-trade-cell-text {
				background-image: linear-gradient(135deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 8px, transparent 8px, transparent);
				background-size: 11px 11px;
			}
		}

		.ui-grid-category-text {
			margin-top: 5px;
			text-align: left;
		}

		.ui-grid-category-weekday {
			padding-top: 5px;
		}

		.shift-trade-cell-text {
			margin-right: 2px;
			margin-left: 2px;
			text-align: center;
			border: 1px solid #000;
			border-radius: 2px;
		}

		md-content {
			overflow: hidden;
		}

		.ui-grid-pinned-container-left .ui-grid-top-panel,
		.ui-grid-pinned-container-right .ui-grid-top-panel {
			overflow: visible;
		}

		.ui-grid-pinned-container-left .ui-grid-viewport,
		.ui-grid-pinned-container-right .ui-grid-viewport {
			overflow: visible !important;
		}

		.ui-grid-pinned-container-left .ui-grid-header-viewport,
		.ui-grid-pinned-container-right .ui-grid-header-viewport {
			overflow: visible;
		}

		.ui-grid-pinned-container-right .ui-grid-render-container-right .ui-grid-viewport {
			overflow: visible !important;
		}
	}
}
