.wfm-requests {
	background-color: white;
	position: relative;

	.advanced-search-container tr td:nth-child(2) div {
		margin-right: 0 !important;
	}

	.time-zone-switch {
		position: absolute;
		top: 0.8em;
		left: 47em;
		display: inline-block;
		z-index: 100;
	}

	.inline-block {
		display: inline-block;
	}

	.operation-container {
		padding-left: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	md-progress-linear {
		width: 100%;
	}

	requests-commands-pane {
		position: absolute;
		right: 1em;
		top: 0;
	}

	.m-r-5 {
		margin-right: 5px;
	}

	.m-l-5 {
		margin-left: 5px;
	}

	.request-filter {
		.input-prepend {
			width: 300px;
		}

		#simple-people-search {
			width: 316px;
		}
	}

	.wfm-date-range-picker-wrap {
		display: inline-block;

		.relative {
			position: relative;
		}

		input {
			width: 100px !important;
		}
	}

	.ui-grid {
		height: 77vh;

		.ui-grid-cell-contents {
			width: 85%;
			text-align: left;
		}

		.ui-grid-column-menu-button-last-col {
			margin-right: 0;
		}

		.ui-grid-menu-button {
			top: 2px;
			right: -3px;
		}
	}

	.paging {
		position: relative;
		bottom: -1em;

		.total-requests-count {
			margin-right: 20px;
			margin-top: 5px;
		}

		.page-size-selector {
			width: 60px;
			margin-top: 5px;
		}

		.pagination {
			margin-left: 20px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	requests-commands-pane .wfm-btn-primary-disabled {
		background-color: transparent;
	}
}
