.hierarchy-tree-container {
	min-height: 700px;
}

.hierarchy-teams {
    margin-left: 35px;
}

.non-selectable-list-item:hover{
	background-color: inherit !important;
	cursor: not-allowed !important;
}

/*refactor me: heat map*/
.filter-boxes{ 
	display:block;
	width:auto;
	float:left;
	margin: 5px;
	min-width:20rem;

	.head-actions{
		margin-top:0;
		float: none;
		padding: 5px 10px;
		background-color: rgba(0,0,0,0.04);
		height: auto;
	}
}

.resourceplanner-box { 
	background: 0 0;
    /* outline: gray solid 1px; */
    text-align: center;
    height: auto;
    width: auto;
	position: relative;
    cursor: pointer;
    margin: 1px;
    height: 10px;
    margin: 2px;
}

.floater-box{
	visibility: hidden;
	background:rgba(0,0,0,0.6);
	display: inline-block;
	background-color: $white;
	top: -1px;
	width: 195px;
	right: 0px;
	position: absolute;
	padding: 5px;
	margin-top: 17px;
	opacity:0;
	transition-delay: 0.3s;
	transition: 0.2s all ease-in-out;	
	z-index:9000;
}

.resourceplanner-box:hover > .floater-box{
	visibility: visible;
	color: $text-color-standard;
	opacity: 1;
}

.resourceplanner-box:hover{
	outline:1px rgba(0,0,0,0.6) dashed ;
}

.dayNode{
	display: inline-flex;

}

.understaffed{
	background: #FC0!important;
}

.critUnderstaffed{
	background: $red-600!important;
}

.wfm-options{
	padding-left: 5px;
	.wfm-option{
		padding-right: 5px;
	}
}

.closed{
background-color: #cacaca;
}

.overstaffed{
  background: $blue-100!important;

}

.weekend{
	background-color: rgba(255, 165, 0, 0.37);

}

.weekstart{
  background: black!important;
}

.legends{
padding-bottom: 10px;

	ul{
		padding-left: 0;
	}
	li{
		list-style: none;
		padding-left: 0;
	}
	.legend{
	width: 10px;
	height: 7px;
	margin-left:10px;
	display: inline-block;
	}
}

@media (max-width: 600px) {
	.legends{
		display:block;
	}
}

.grid-scroll-wrap{
	width:100%;
	overflow:auto;
	min-height: 370px;
}

.result-container{
	width: 100%;
}

table.overview {
	table-layout: fixed;
	width: auto;
	margin-top: 25px;
}

.overview{
  	border-collapse: separate;
  	padding: 5px;
	margin-bottom:35px;
  	width: 100%;
  	empty-cells: show;

	td{
	width:10px;
	 }
	 th{
	   visibility: hidden;
	   width:10px;
	 }
	 th:nth-child(2n){
	   visibility: visible!important;
	 }
}

.skillname{
	max-width: 20em!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tabledate {
	transform: rotate(-45deg);
	position: relative;
	margin-top: -25px;
	z-index: 2;
	margin-left: -10px;
	left: 37px;
	font-weight: normal;
}

.resourceplanner-box {
	width: 20px;
	height: 20px;
}

.resourceplanner-box:hover {
	outline: 3px rgba(0, 0, 0, 0.54) solid;
}

.grid-scroll-wrap {
	width: auto;
	overflow-x: scroll;
	overflow-y: visible;
	padding-bottom: 1px;
	min-height: 100px;
	margin-left: 175px;
	margin-top: 20px;
	overflow: auto;
}

.skillname {
	position: absolute;
	left: 0;
	text-overflow: ellipsis;
	overflow: visible;
	margin-left: 13px;
	padding-left: 20px;
}

.long {
	letter-spacing: 1em;
}

.result-container .legends {
	padding: 10px;
	border-bottom: 1px solid $gray026 ;
}
/*refactor me: heat map*/

.wfm-chip-none {
	pointer-events: none;
}

.pp-scheduled {
	background-color: $green-100  !important;
}

.pp-scheduled-failed {
	background-color: $orange-400  !important;
}

.pp-scheduled-label {
	color: $green-100  !important;
}

.pp-scheduled-failed-label {
	color: $orange-400  !important;
}

.pp-status {
	padding: 6px;
	background-color: $orange-500 ;
	border-radius: 3px;
}

.pp-datepicker {
	margin: auto;
}

.pp-modal>.modal-box .modalbg .dialog {
	max-height: 90%;
	overflow-y: auto!important;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.pp-modal>.modal-box .dialog,
	.modal-box .dialog-mini {
		width: 80%;
	}
}

@media (min-width: 1200px) {
	.pp-modal>.modal-box .dialog,
	.modal-box .dialog-mini {
		width: 60%;
	}
}

.pp-modal>.modal-box .modal-inner-content {
	max-height: 80%;
}

.pp-startDate-picker,
.pp-startDate-picker button {
	pointer-events: none;
}

.pp-progress {
	margin-bottom: -5px;
}

.pp-sub-title {
	margin: 0 0 10px;
}

.pp-label {
	color: $gray087;
}

.wfm-grid .list-content {
	padding: 0;
	position: relative;
}

.list-header {
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.04);
	height: 100px;
	position: relative;
}

.wfm-toolbar {
	background-color: $white;
}

.wfm-toolbar-group-container {
	margin: 5px 0px;
	padding: 0px 5px;
	border-right: 1px solid $gray026;
	display: inline-block;
}

.plan-filter-container {
	padding:10px 0px;
	margin:5px;
}

.wfm-btn{
	transition: none !important;
}

.wfm-btn-invis-default.active {
    background-color: $gray-300 !important;
}

.icon-botton-primary {
	color:$blue-500; 
}

.pp-tabContent {
    display:none;
}

.pp-tabContent.active {
	display:block;
}

.pp-overview-dashborad-header {
	margin: 0 5px;
	padding:5px;
	border-bottom: 1px solid $gray026;
}

wfm-card.pp-validation-card > md-card {
	border-left: 5px solid $red-600 ;
}

.pp-validation-wfm-list > md-content {
	margin: -10px 0px -30px -2px;
}

.pp-validation-number {
	padding: 5px;
    margin-left: 10px;
    background-color: $red-600;
    border-radius: 15px;
}

.pp-validation-progress {
    margin-bottom: -5px;
    margin-left: -15px;
    margin-right: -15px;
}

.pg-setting-info {
	padding: 5px;
    margin-left: 10px;
    background-color: $blue-100 ;
    border-radius: 15px;
}

.pg-setting-name {
	margin-top: 10px;
}

.pg-setting-info-wrapper {
	margin: 10px 0px;
    margin-left: -10px;
    padding: 5px 0px;
}

.pg-setting-card-wrapper {
	text-align: center;
	background: $white ;
	width: 100%;
	height: 100%;
	border: 5px solid $white ;
	border-radius: 5px;
}

.pg-setting-wfm-list > md-content {
	margin: -22px 0px -30px -2px;
}




