.resourceplanner-icon:before{
	vertical-align: text-top;
}
.resourceplanner-report{
	height: 75%; 
	.ui-grid-viewport{
		overflow: auto!important;
	}
	.grid.ui-grid{
		height: 100%!important;
	}
}