.hierarchy-tree-container {
	min-height: 700px;
	.tree {
		max-height: unset;
	}
}

.hierarchy-teams {
	margin-left: 35px;
}

.non-selectable-list-item:hover{
	background-color: inherit !important;
	cursor: not-allowed !important;
}

md-autocomplete-parent-scope > .wfm-chip-wrap {
	margin:0;
}

.chip-text .mdi-close{
	position: relative;
	top: 2px;
}

.filter-boxes{
	display:block;
	width:auto;
	float:left;
	margin: 5px;
	min-width:20rem;
	border-top:8px solid;

	.head-actions{
		margin-top:0;
		float: none;
		padding: 5px 10px;
		background-color: rgba(0,0,0,0.04);
		height: auto;
	}
}


/*refactor me: heat map*/

.resourceplanner-box {
	background: 0 0;
    /* outline: gray solid 1px; */
    text-align: center;
	position: relative;
    cursor: pointer;
    margin: 2px;
}

.floater-box{
	visibility: hidden;
	background:rgba(0,0,0,0.6);
	display: inline-block;
	background-color: $white;
	top: -1px;
	width: 195px;
	right: 0px;
	position: absolute;
	padding: 5px;
	margin-top: 17px;
	opacity:0;
	transition-delay: 0.3s;
	transition: 0.2s all ease-in-out;
	z-index:9000;
}

.resourceplanner-box:hover > .floater-box{
	visibility: visible;
	color: $text-color-standard;
	opacity: 1;
}

.resourceplanner-box:hover{
	outline:1px rgba(0,0,0,0.6) dashed ;
}

.dayNode{
	display: inline-flex;
}

.understaffed{
	background: #FC0!important;
}

.critUnderstaffed{
	background: $red-600!important;
}

.wfm-options{
	padding-left: 5px;
	.wfm-option{
		padding-right: 5px;
	}
}

.closed{
background-color: #cacaca;
}

.overstaffed{
  background: $blue-100!important;

}

.weekend{
	background-color: rgba(255, 165, 0, 0.37);

}

.weekstart{
  background: black!important;
}

.legends{
padding-bottom: 10px;

	ul{
		padding-left: 0;
	}
	li{
		list-style: none;
		padding-left: 0;
	}
	.legend{
	width: 10px;
	height: 7px;
	margin-left:10px;
	display: inline-block;
	}
}

@media (max-width: 600px) {
	.legends{
		display:block;
	}
}

.grid-scroll-wrap{
	width:100%;
	overflow:auto;
	min-height: 370px;
}

.result-container{
	width: 100%;
}

table.overview {
	table-layout: fixed;
	width: auto;
	margin-top: 25px;
}

.overview{
  	border-collapse: separate;
  	padding: 5px;
	margin-bottom:35px;
  	width: 100%;
  	empty-cells: show;

	td{
	width:10px;
	 }
	 th{
	   visibility: hidden;
	   width:10px;
	 }
	 th:nth-child(2n){
	   visibility: visible!important;
	 }
}

.skillname{
	max-width: 20em!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tabledate {
	transform: rotate(-45deg);
	position: relative;
	margin-top: -25px;
	z-index: 2;
	margin-left: -10px;
	left: 37px;
	font-weight: normal;
}

.resourceplanner-box {
	width: 20px;
	height: 20px;
}

.resourceplanner-box:hover {
	outline: 3px rgba(0, 0, 0, 0.54) solid;
}

.grid-scroll-wrap {
	width: auto;
	padding-bottom: 1px;
	min-height: 100px;
	margin-left: 175px;
	margin-top: 20px;
	overflow: auto;
}

.skillname {
	position: absolute;
	left: 0;
	text-overflow: ellipsis;
	overflow: visible;
	margin-left: 13px;
	padding-left: 20px;
}

.long {
	letter-spacing: 1em;
}

.result-container .legends {
	padding: 10px;
	border-bottom: 1px solid $gray026 ;
}
/*refactor me: heat map*/

.pp-scheduled {
	background-color: $green-100  !important;
}

.pp-scheduled-failed-label {
	color: $orange-400  !important;
}

.pp-label {
	color: $gray087;

	.pp-scheduled-failed {
		background-color: $orange-400  !important;
	}

	.pp-scheduled-label {
		color: $green-100  !important;
	}
}

.pp-status {
  padding: 4px;
  background-color: $orange-500 ;
  border-radius: 3px;
  margin-left: 10px;
}

.pp-modal>.modal-box .modalbg .dialog {
	md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
		color: $blue-500 ;
		background: $blue-500;
	}

	.pp-calendar-wrapper {
	  display: table;
	  margin: 0 auto;
	}
}

.pp-progress {
	margin-bottom: -5px;
}

.pp-sub-title {
	margin: 0 0 10px;
}

.pp-setting-button {
	display: inline-block;
}

.list-content {
	padding: 0 !important;
	background-color: $white;
	.list-header {
		padding: 5px 10px;
		background-color: rgba(0, 0, 0, 0.04);
		height: 100px;
		position: relative;
	}
	
	.list-header-content {
		overflow: hidden;
	  	min-height: 44px;
	}
}

.wfm-toolbar {
	background-color: $white;

	.wfm-toolbar-group-container {
		margin: 5px 0px;
		padding: 0px 5px;
		border-right: 1px solid $gray-500 ;
		display: inline-block;
	}

	.plan-filter-container {
		margin:5px;
	}

	.pp-scheduling-setting-open{
		border-left: 1px solid $gray-500 ;
		margin: 5px;
		padding: 5px 5px 5px 10px;
		color: $gray054;
	}
}

.wfm-btn-invis-default.active {
    background-color: $gray-300 !important;
}

.icon-botton-primary {
	color:$blue-500;
}

.pp-tabContent {
	display:none;
	overflow:hidden;

	.pp-overview-dashborad-header {
		margin: 0 5px;
		padding:5px;
		border-bottom: 1px solid $gray026;
	}
}

.pp-tabContent.active {
	display:block;
	overflow:hidden;
}

.pp-validation-color {
	border-color: $red-600 !important;
}

.selected{
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  .chevron{
	transition: $transition-timing;
	transform:rotate(90deg);
  }
}

card-panel-header {
	.pp-validation-progress {
		position: absolute;
		top:0;
		left:0;
	}

	.pp-validation-number {
		padding: 9px;
		border-radius: 20px;
	}

	.error {
		background-color: $red-600;
	}

	.pp-validation-button {
		margin: -13px;
		padding-left: 9px;
	}

	.pg-setting-info {
		padding: 5px;
		background-color: $blue-100 ;
		border-radius: 15px;
	}
}

card-panel-content {
	.pg-setting-mini-card-wrapper {
		background: $white ;
		width: 100%;
		height: 100%;
		border: 5px solid $white ;
		border-radius: 5px;

		.pg-setting-mini-card-title {
			padding: 5px;
			margin: 5px;
			border-bottom: 1px $gray026 solid;
		}
	}

	.pg-setting-card-content {
		background-color: $gray012;
	}
}



.setting-group{
  background: $white ;

  .dayoff-rules-setting{
	margin-bottom: 15px;
	
	.wfm-option{
	  padding-top: 0;
	  padding-bottom: 0;
	}

	.con-flex {
	  margin-top: 0;
	  margin-bottom: 0;
	}
  }
}

.pg-setting-priority-scale {
	margin-left: 5px;
	width: 0;
	height: 0;
	position: relative;
	border-bottom: 20px solid red;
	border-image: linear-gradient(90deg, rgb(128, 0, 128), rgba(156, 39, 176, 0.05 ));
	border-right: 70px solid transparent!important;
}

.pg-setting-priority-scale:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-right: 70px solid  $gray-300 !important;
}

.pg-setting-priority-label {
	background-color: $gray-300;
	padding: 5px;
	margin: 5px;
	border: 5px  $gray-300 solid;
	border-radius: 5px;
}

.pg-list-card-animate {
	-webkit-animation: pgListCardAnimate 2s 1;
	-moz-animation: pgListCardAnimate 2s 1;
	-o-animation: pgListCardAnimate 2s 1;
	animation: pgListCardAnimate 2s 1;
}

@keyframes pgListCardAnimate {
	0%, 100% {
		transform: perspective(1px) scale(1.0);
	}
	20%, 60%, 80% {
		transform: perspective(1px) scale(1.01);
	}
}



.filter-hidden {
	display: none;
	// background-color: pink;
}

.manage-schedule-period-picker wfm-date-range-picker{
  z-index: 40;
}

.plan-group{
  cursor: pointer;
}

.plan-group-pp{
  cursor: pointer;
}

.wfm-form{
  background-color: $white;
}