.rta-view.prototype {

  card-panel .card-panel-header-wrapper {
	border-left: 10px solid #66c2ff;
  }

  .rta-alarmline.highlight {
	outline: 1px solid #B22222;
	outline-offset: 2px;
  }

  .rta-approvedline {
	background-color: darkred;
	z-index: 6;
	position: absolute;
	right: 75%;
	margin-top: 0;
	bottom: 44%;
	opacity: 0.6;
	min-width: 1px;
  }

  .rta-approvedline.highlight {
	outline: 1px solid #556B2F;
	outline-offset: 2px;
  }

  span .mdi:before {
	font-size: 14px !important;
  }

} 
