@media all and (-ms-high-contrast: none), // Internet Explorer
(-ms-high-contrast: active) {

  .rta-view {
	.approve-form {
	  &.non-ie {
		display: none !important;
	  }
	  &.ie {
		display: inline !important;
	  }
	}

  }
}

.rta-view {

  $out-of-adherence-color: darkred;
  $in-adherence-color: darkgreen;
  $out-of-adherence-height: 4px;

  // con padding/margin reset
  .con-row {
	padding: 0;
	margin: 0;
  }
  .con-flex {
	padding: 0;
	margin: 0;
  }
  .con-padding .con-flex {
	padding: $full-padding;
  }
  @media screen and (min-width: 768px) {
	.con-columns > .con-flex:not(:last-child) {
	  margin-right: $full-padding;
	}
  }

  @mixin container {
	position: relative;
  }
  @mixin positioned {
	position: absolute;
  }
  @mixin out-of-adherence-line {
	@include positioned;
	z-index: 20;
	background-color: $out-of-adherence-color;
	height: $out-of-adherence-height;
	opacity: 0.6;
	min-width: 1px;
  }
  @mixin activity-layer {
	@include positioned;
	z-index: 10;
	height: 100%;
  }
  @mixin current-time-line {
	@include positioned;
	z-index: 30;
	width: 2px;
	height: 100%;
	background-color: red;
  }

  .wfm-table {

	th.blank-header {
	  background-color: $white;
	}

	td {
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;

	  &.shift-column {
		border-right: none;
		background-color: transparent;
		padding: 0
	  }
	  &.label {
		font-size: 12px;
		font-weight: 100;
		padding: 5px;
	  }
	  .mdi:before {
		font-size: 14px !important;
	  }
	}
	
	a.mdi {
	  text-decoration: none;
	}
  }

  .highlight > td {
	background-color: $green-100;
  }

  &.agents {

	.organization-picker {
	  .filter {
		padding-left: $full-padding;
		padding-right: $full-padding;
	  }
	}

	md-checkbox.marked .md-icon {
	  background-color: #66c2ff;
	}

	.timeline {
	  @include container;
	  .time {
		@include positioned;
		top: 20%;
		transform: translateX(-50%);
	  }
	}

	.shift {
	  @include container;

	  .current-time {
		@include current-time-line;
	  }

	  .out-of-adherence {
		@include out-of-adherence-line;
		top: 50%;
		transform: translateY(-50%);
	  }

	  .activity {
		@include activity-layer;
	  }

	}

  }

  &.historical {
	overflow-x: hidden;

	.twocolumns {
	  display: flex;
	  .left {
		width: 200px;
		padding: $full-padding;
	  }
	  .right {
		flex-grow: 1;
		padding: $full-padding;
	  }
	}

	$shift-height: 40px;
	$layer-row-height: 20px;
	$diamond-size: 8px;

	.approve-form {

	  input {
		margin-left: 10px;
		margin-right: 30px;
		width: 115px;
		border: none;
		border-bottom: 1px solid lightgrey;
		background: transparent;
		line-height: 20px;
	  }

	  &.non-ie {
		display: inline;
	  }

	  &.ie {
		display: none;
	  }

	}

	.timeline {
	  @include container;
	  .time {
		@include positioned;
		top: 10%;
		transform: translateX(-50%);
	  }
	}

	.shift {
	  @include container;
	  height: $shift-height;

	  .current-time {
		@include current-time-line;
	  }

	  .out-of-adherence {
		@include out-of-adherence-line;
		top: ($shift-height - $out-of-adherence-height) / 2;
	  }

	  .activity {
		@include activity-layer;
	  }

	}

	.changes {
	  @include container;
	  height: $layer-row-height;

	  .diamond {
		@include positioned;
		top: ($layer-row-height - $diamond-size) / 2;
		margin-left: ($diamond-size / 2) * -1;
		transform: rotate(45deg);
		cursor: pointer;
		height: $diamond-size;
		width: $diamond-size;
		&.highlight {
		  height: $diamond-size + 2;
		  width: $diamond-size + 2;
		  border-radius: 50%;
		}
		&.highlight:after {
		  content: '';
		  width: $diamond-size + 8;
		  height: $diamond-size + 8;
		  display: block;
		  margin-top: -3px;
		  margin-left: -3px;
		  border-radius: 50%;
		  border: 1px solid;
		  border-color: inherit;
		}
	  }
	}

	@mixin adherence-layer($color) {
	  @include positioned;
	  background-color: $color;
	  height: $layer-row-height;
	  &.highlight {
		outline: 1px solid $color;
		outline-offset: 2px;
	  }
	}

	.recorded-out-of-adherences {
	  @include container;
	  height: $layer-row-height;
	  .recorded-out-of-adherence {
		@include adherence-layer($out-of-adherence-color);
		cursor: pointer;
	  }
	}

	.approved-periods {
	  @include container;
	  height: $layer-row-height;
	  .approved-period {
		@include adherence-layer($in-adherence-color);
		cursor: pointer;
		z-index: 20;
	  }
	  .approve-period {
		@include adherence-layer($in-adherence-color);
		opacity: 0.5;
		z-index: 10;
	  }
	}

	.remove-approved-period {
	  cursor: pointer;
	  margin: 0 8px;
	}
  }
}
