/////////Sites & teams///////////////
.good {
	background-color: $green-100 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: $green-500 !important;
	}
}

.warning {
	background-color: $orange-400 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: $orange-600 !important;
	}
}

.danger {
	background-color: $red-600 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: #e55539 !important;
	}
}

.rta-card-link {
	width: 100%;
	text-decoration: none;
	color: $text-color-standard!important;
}

.shift-cell-header {
	height: $full-padding*6;
	background-color: $white;
	padding-top: $full-padding;
}

.cell-header {
	height: 6px;
	padding-top: 2px;
	padding-left: $full-padding;
	text-align: left;
}

.org-name-container {
	display: inline-block;
	min-width: 80px;
}

/////////End of Sites & teams///////////////
///////////rta-skills///////////////////////
.rta-filter-panel {
	color: $gray087 !important;
} 

.rta-top-buttons-wrapper {
	margin-left: $full-padding*4;
}

.rta-default-cursor {
	cursor: default;
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

.rta-option-group {
	margin: 0 16px 8px;

	md-option {
		margin-left: $full-padding*6;
	}

	label {
		padding: 0 !important;
	}

	md-checkbox {
		margin-bottom: 8px;
	}
}

.rta-select-header {
	margin: 0 16px;
}

.rta-options-search-input {
	outline: 0;
	padding-bottom: $full-padding*2;
	padding-top: $full-padding*2;
	border: 0;
	height: 100%;
	width: 86%;
	background: transparent; //inherit does not work in IE
}

.rta-select-header,
.rta-option-group {
	border-bottom: 1px solid rgba(0,0,0,.06);
	color: $gray087;
}

.md-checkbox-enabled[selected] .md-icon,
.rta-option-group md-checkbox.md-checked .md-icon,
.rta-option-group md-checkbox.rta-marked-checkbox .md-icon {
	background-color: $blue-500;
}

.rta-option-group md-checkbox.rta-marked-checkbox .md-icon {
	border: none !important;
}

.rta-md-input-container {
	width: 100%;
	margin: $half-padding*3 0 0 0 !important;
}

.rta-md-input-container {
	padding: 0;

	.md-select-placeholder, .md-select-value {
		border-color: $gray-300;
		min-height: 0;
		padding: 0;
	}
	
	.md-select-placeholder {
		color: $text-color-muted !important;
	}
} 

// This targets all md select items
// .md-select-menu-container {
// 	margin-top: $full-padding*3 !important;
// }

.rta-multiple-selection-panel .md-icon-left {
	padding-left: 0;
}

.rta-btn-clear-org-sel {
	margin: 0;
}

///////////End of rta-skills///////////////////////
///////////rta-agents///////////////////////

.rtagridcell {
	margin-bottom: $full-padding*10;
}

.agent-menu {
	background-color: $gray012;
	position: absolute;
	margin-top: $full-padding*6;
	padding: $full-padding*3;
	width: 100%;
	a {
		margin-right: 5%;
	}
}

.agent-table-wrapper {
	width: 100%;
}

.rta-schedule-container {
	background-color: $white;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 2% 0 0;
	margin: 0 0 0 3%;
}

.rta-alarmline {
	background-color: darkred;
	z-index: 6;
	position: absolute;
	right: 75%;
	height: $full-padding;
	margin-top: 0;
	bottom: 44%;
	opacity: 0.6;
	min-width: 1px;
}

.rta-current-time {
	z-index: 5;
	position: absolute;
	left: 25%;
	width: 2px;
	height: 100%;
	margin-top: 0;
	background-color: red;
}

.rta-layer {
	height: 70%;
	position: absolute;
}

.rta-shift {
	height: 98%;
	padding: 4px 0;
}

.rta-label {
	padding: $full-padding;
	font-size: $sm-font-size !important;
	font-weight: 100;
}

.rta-disabled-switch {
	background: $gray-300 !important;
}

.rta-clear-search {
	padding: $full-padding*2 0;
}

.rta-right-panel-wrapper .wfm-right-panel {
	background-color: inherit;
}

.rta-options-prepend {
	margin-right: $half-padding*2;
}

.rta-agents-filter-wrapper {
	margin-top: $full-padding*4;
}

///////////End of rta-agents///////////////////////
///////////rta-historical-adherence///////////////////////

.rta-historical-adherence-row-wrapper {
	position: relative;
	padding: 4px 0;
	height: $full-padding*4;
}

.rta-out-of-adherences-wrapper {
	position: relative;
}

.rta-full-shift-wrapper {
	height: $full-padding*10;
}

 @media screen and (min-width: 768px) {
        .rta-filters-container .con-flex {
            align-self: flex-end;
        }
    }


