/////////Sites & teams///////////////
.rta-info-card {
				width: 48%;
}
.rta-list-item {
				padding: 1%;
				margin-top: 10px;
				cursor: pointer;
				&:hover {
								transition: background 0.5s linear 0s;
								background-color: $green-100!important;
				}
}
.good {
				background-color: $green-100!important;
				&:hover {
								transition: background 0.5s linear 0s;
								background-color: $green-400 !important;
				}
}
.warning {
				background-color: $orange-400 !important;
				&:hover {
								transition: background 0.5s linear 0s;
								background-color: $orange-600!important;
				}
}
.danger {
				background-color: $red-600 !important;
				&:hover {
								transition: background 0.5s linear 0s;
								background-color: #e55539!important;
				}
}
.rta-checkbox {
				width: 10%;
}
.rta-nav-link {
				cursor: pointer;
}
.site-name {
				font-size: 20px;
				font-weight: bolder;
}
.rta-adherence {
					font-weight: bolder;
}
.rta-trigger-area {
				width: 100%;
				height: 95px;
}
.site-data {
				margin-top: 10px;
				display: inline-flex;
}
.no-agents {
				cursor: not-allowed;
				&:hover {
								transition: background 0.5s linear 0s;
								background-color: $gray-300 !important;
				}
}

/////////End of Sites & teams///////////////
///////////rta-agents///////////////////////
.rta-agents-input {
				display: inline-flex;
				width: 100%;
}
.rta-search {
				padding: 10px 0;
				input {
								width: 15%!important;
								height: 23px;
				}
}
.agent-row {
				cursor: pointer;
}
.testclass {
				margin-bottom: 50px;
}
.agent-menu {
				background-color: $gray012;
				position: absolute;
				margin-top: 30px;
				padding: 15px;
				width: 100%;
}
.agent-menu > a {
				margin-right: 5%;
}

///////////End of rta-agents////////////////
///////////rta-agent-details///////////////
.rta-agent-details {
				height: 100%;
}
.rta-agent-details-header {
				border-bottom: 1px solid;
				display: inline-flex;
				width: 100%;
}
.rta-agent-details-total {
				margin-left: 78%;
}

///////////End of rta-agent-details///////////
///////////////Media/////////////////////////
@media only screen and (max-width: 840px),
only screen and (max-device-width: 840px) {
				.rta-info-card {
								max-width: 98%!important;
								width: 98%!important;
				}
}

///////////////End of Media/////////////////////////
