/////////Sites & teams///////////////
.rta-info-card {
	width: 48%;
}

.rta-small-card {
	width: 24%;
}

.rta-list-item {
	padding: 1%;
	margin-top: 10px;
	cursor: pointer;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: $green-100 !important;
	}
}

.good {
	background-color: $green-100 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: $green-500 !important;
	}
}

.warning {
	background-color: $orange-400 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: $orange-600 !important;
	}
}

.danger {
	background-color: $red-600 !important;

	&:hover {
		transition: background 0.5s linear 0s;
		background-color: #e55539 !important;
	}
}

.rta-checkbox {
	width: 10%;
}

.rta-card-link{
	width:100%;
	text-decoration: none;
	color: $text-color-standard!important;
}

.rta-nav-link {
	cursor: pointer;
}

.rta-adherence {
	font-weight: bolder;
}

.rta-trigger-area {
	width: 100%;
	height: 95px;
}

.site-data {
	margin-top: 10px;
	display: inline-flex;
}

.shift-cell-header {
	height: 24px;
	text-align: right;
	background-color: $white;
	padding-top: 5px;
}

.sortable-cell-header {
	text-align: right;
	height: 18px;
}

.cell-header {
	height:6px;
}

.white-cell-header {
	height: 24px;
	background-color: $white;
}

.shift-timeline-wraper {
	padding: 0;
	position: relative;
}

.exceedthreshold {
	color: red;
	font-weight: 600;
}

/////////End of Sites & teams///////////////
///////////rta-skills///////////////////////
.rta-title-wrapper, .rta-top-buttons-wrapper {
	float: left;
}

.rta-top-buttons-wrapper {
	margin-left: 20px;
}
.rta-default-cursor{
	cursor: default;
	box-shadow: none;
}
.rta-default-cursor:hover{
	box-shadow: none;
}
///////////End of rta-skills///////////////////////
///////////rta-agents///////////////////////
.agent-row {
	cursor: pointer;
}

.testclass {
	margin-bottom: 50px;
}

.agent-menu {
	background-color: $gray012;
	position: absolute;
	margin-top: 30px;
	padding: 15px;
	width: 100%;
}

.agent-menu > a {
	margin-right: 5%;
}

.agent-table-wrapper {
	width: 100%;
}

.rta-schedule-container {
	background-color: $white;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 2% 0 0;
	margin: 0 0 0 3%;
}

.rta-alarmline {
	background-color: darkred;
	z-index: 6;
	position: absolute;
	right: 75%;
	height: 5px;
	margin-top: 0;
	bottom: 44%;
	opacity: .6;
	min-width: 1px;
}

.rta-current-time {
	z-index: 5;
	position: absolute;
	left: 25%;
	width: 2px;
	height: 100%;
	margin-top: 0;
	background-color: red;
}

.rta-layer{
	float: left;
    height: 70%;
    position: absolute;
}

.rta-shift{
	 height: 98%;
	 padding: 4px 0;
}

.rta-label {
    padding: 4px 6px;
    font-size: 12px !important;
    font-weight:100;
}
///////////End of rta-agents////////////////
///////////rta-agent-details///////////////
.rta-agent-details-total {
	text-align: right;
}
///////////End of rta-agent-details///////////
///////////////Media/////////////////////////
@media only screen and (max-width: 840px), only screen and (max-device-width: 840px) {
	.rta-info-card {
		max-width: 98% !important;
		width: 98% !important;
	}
}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {
	.rta-small-card {
		max-width: 48% !important;
		width: 48% !important;
	}
}

@media only screen and (max-width: 570px), only screen and (max-device-width: 570px) {
	.rta-small-card {
		max-width: 98% !important;
		width: 98% !important;
	}
}
///////////////End of Media/////////////////////////
