@charset "UTF-8";

.seatmap{
	padding: 0;
	z-index: 0;
	position: absolute;	
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;

	.seatmap-view-header{
		height: 41px;
		position:relative;
		z-index:2;

		.wfm-btn{
			height:100%;
			margin:0px;
			border-radius:0px;
			text-transform:none;
		}

		.return-button:hover{
			background:#0099ff!important;
			color:#ffffff!important;
		}

		.wfm-btn-invis-primary:hover{
			background:#0099ff;
			color:#ffffff!important;
		}

		.wfm-fab{
			transition-duration:0s;
		}

		.button-active{
			background:#0099FF!important;
			color:#ffffff!important;
		}
	}
}


.seatmap-view-datepicker{
	.wfm-datepicker{
		background:#ffffff;
		position:absolute;
		left:38px;
		top:42px;
		z-index:2;
	}
}

.location-breadcrumb{
	background:#ffffff;
	position: absolute;
	height:34px;
	top:40px;
	left:0;
	right:0;
	z-index:1;
	
	div{
		height:33px;
		position:relative;
		padding-top:10px;
	}

	.breadcrumb-inverse{
		font-size : 95%;
	}

	.breadcrumb-inverse a, .breadcrumb-inverse>.active {
		color: #09F !important;
		padding: 0px;
		margin-left : 5px; 
	}

	.breadcrumb-inverse span {
		position:relative;
		margin-left : 5px; 
	}

}

.location-breadcrumb-edit-mode{
	position:relative;
	top:0px;

	.breadcrumb-inverse{
		font-size : 95%;
	}
}

.location-breadcrumb-clickable{
	color:#09F;
	cursor:pointer;
}

a.mfb-component__button--main {
	outline: 0;
}

.mfb-button-warning{
	background-color: #FFC285 !important;
}

.mfb-component--tr{
	animation: fromTop 1.3s 1;
	-webkit-animation: fromTop 1.3s 1;
}

.fadein {
	animation: fadeIn 1.3s 1;
	-webkit-animation: fadeIn 1.3s 1;
}

@keyframes fromTop {
	0% {
	transform: translateY(-250px);
	}
	100% {
	transform: translateY(0);
	}
}
@-webkit-keyframes fromTop {
	0% {
	transform: translateY(-250px);
	}
	100% {
	transform: translateY(0);
	}
}

@-webkit-keyframes fadeIn {
	0% {
	opacity: 0;
	}

	100% {
	opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
	opacity: 0;
	}

	100% {
	opacity: 1;
	}
}
							
.seatmap-canvas {
	position: absolute;
	top:41px;
	left:0;
	right:0;
	bottom:0;
}

.seatmap-canvas-edit-mode{
	top:44px;
}

.seatmap-canvas .wfm-block{
	width: 100%; 
	margin: 0; 
	padding:0 10px 0 10px;
}

seatmap-editor{
	position:absolute;
	width:100%;
	z-index:100;
}

.seatmap-right-toobar{
	position: relative;
}

.top-adjust{
	top:23px;
}

@media(min-width:1475px){
	.top-adjust{
		top:-20px;
	}
}

#seatmap-toolbar{
	padding-left:5px;

	.wfm-btn{
		margin-top:2px;
	}
}

.cancel-changes{
	position: absolute;
	top: -21px; 
	right: 90px; 
	z-index: 2;
}

.mfb-menu-group{
	top: -45px; 
	right: 0px; 
	z-index: 2;
	position: absolute;
}

.seatmap-spinner{
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin-left: -32px; 
	margin-top: -62px;
}

.seatmap-bottom-bar{
	position: absolute; 
	bottom: 0px; 
	left: 0; 
	right: 0;
}

.seatmap-bottom-bar md-slider{
	width: 200px; 
	margin-left: 40px;
}

.seatmap-occupancy-detail {
	display: block;
	min-height:120px;
	max-height:200px;
	background:#FFFFFF;
	transition:all 0.35s ease-in-out;

	.bottom-header{
		position:relative;
		background:#ffffff;
		border-top:1px solid #e1e2e3;
		
		.wfm-btn{
			margin:2px;
			padding: 3px 12px;
			text-transform: none;
		}

		.pull-right{
			height:100%;
			margin-top:-3px;
		}
	}
	
	.wfm-list{
		max-height:166px;
		overflow-y:auto;
	}

	span{
		max-width:100%;
	}
	
}

.seatmap-seatbooking-previousday{
	color:#a0a0a0; 
}