.seatplan {
	margin-bottom: 20px;
	background: $white;
}

#seatmap-toolbar {
	.context-menu {
		z-index: 45;
	}
}

.calendar-progress {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-top: 90px;
	margin-left: 135px;
}

.planning-day-detail {
	height: 235px;
	padding-left: 15px;
	padding-top: 5px;

	.wfm-btn-invis-primary {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.wfm-chip-wrap {
		line-height: 2;
	}
}

.planning-period-button-bar {
	text-align: right;
	padding: 0 10px;
	min-height: 50px;
	width: 100%
}

.planning-period-progress-bar {
	width: 90%;
	margin: 25px auto !important;
}

.seatplan-calendar {
	max-width: 320px;
}

.seatplan-planning-periods {
	padding-top: 10px;
}

.seatplan-paging-container {
	height: 40px;
	margin-right: -10px;
}

.seatplan-paging-container .wfm-pagination li {
	float: left;
	margin: 5px;
	cursor: pointer;
	line-height: 1;
}

@media print {
	.seatplan-header,
	.seatplan-report-header,
	.seatplan-report-to-view.seatplan-report-to-view {
		display: none;
		height: 0;
	}

	.seatplan-report-to-print.seatplan-report-to-print {
		top: 0;
		display: block;
		overflow: visible;
		width: 100%;
		height: auto;
	}

	.layout-container,
	.navbar,
	.shortcut-trick-ie,
	wfm-notice,
	md-tooltip {
		display: none !important;
	}
}

.seatplan-report-to-print {
	display: none;
	height: 0;
}

.seatplan-report {
	z-index: 0;
	height: 100%;
	padding: 0;
}

.seatplan-report-content {
	z-index: 0;
	overflow: auto;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.seatplan-report-content .report-spinner {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100px;
	height: 100px;
}

.seatplan-report-content .tr-break,
.seatplan-report-content .tr-show {
	height: 40px;
	vertical-align: bottom;
	border-bottom: 1px #e1e2e3 solid;
}

.seatplan-report-content .tr-color {
	background: #e1e2e3 !important;
	-webkit-print-color-adjust: exact;
}

.seatplan-report-content .tr-date td {
	text-align: right;
	border-bottom: 1px #e1e2e3 solid;
}

.seatplan-report-content h2 {
	margin-bottom: 0 !important;
}

.seatplan-report-content table {
	width: 100%;
}

.seatplan-report-content table .tr-head {
	height: 30px;
	background: #f1f2f3;
}

.seatplan-report-content table th,
.seatplan-report-content .seatPlanReportContent table td {
	text-align: left;
	word-break: break-word;
}

.seatplan-report-content table tr .td-location {
	width: 35%;
}

.seatplan-report-content table tr .td-seat {
	width: 10%;
}

.seatplan-report-content table tr .td-team,
.seatplan-report-content table tr .td-agent {
	width: 20%;
}

.seatplan-report-content table tr .td-time {
	width: 15%;
	white-space: nowrap;
}

.seatplan-report-content table tr td {
	padding: 0 2px;
	vertical-align: top;
	word-break: break-word;
}

.seatplan-report-content table tr th {
	word-break: break-word;
}

.seatplan-report-date-validation {
	right: 10px;
}

.seatplan-report-date-validation .fail {
	position: relative;
	color: $red-600 !important;
}

.seatplan-report-date-validation .success {
	position: relative;
	color: $green-100 !important;
}

.seatplan-report-filter {
	position: absolute;
	top: 43px;
	left: 0;
	width: 100%;
	padding: 0 5px;
	background: white;
}

.seatplan-report-filter .alert-error {
	position: relative;
	width: 100%;

	margin-left: auto;
	margin-right: auto;
}

.seatplan-report-filter .report-filter-panel {
	min-height: 350px;
}

.seatplan-report-filter .report-options {
	margin-top: 10px;
	margin-left: 10px;
}

.seatplan-report-header {
	position: relative;
	z-index: 1;
	height: 40px;
	border-bottom: 1px solid #e1e2e3;
}

.seatplan-report-header .button-active {
	color: $white !important;
	background: $blue-500;
}

.seatplan-report-header .wfm-fab {
	transition-duration: 0;
}

.seatplan-report-print-button {
	position: absolute;
	top: 12px;
	right: 16px;
}

.seatplan-status-planned button {
	background-color: $gray012 !important;
}

.turn-off-filter-blank {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 40px;
	background: transparent;
}

@media max-width {
	.planning-day-detail {
		clear: left;
		width: 100%;
		margin: 0;
	}
}

/*work around for IE issues with date range picker*/
@media screen and (min-width: 0\0) {
	.seatplan-report-filter .date-range-end-date {
		margin-left: 280px;
	}

	.seatplan-report-filter .report-show-options {
		margin-left: 555px;
	}
}
