#seatPlan{
	height:100%;
}

.seat-plan-calendar{
	width: 320px;
	padding-bottom: 15px;
	clear:both;
}

.seat-plan-calendar table{
	border-collapse:separate;
	border-spacing:2px;
}

.seat-plan-calendar table button{
	padding:5px 8px;	
}

.planningPeriodProgressBar {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 90%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.calendarProgress {
	margin-top: 90px;
	margin-left: 135px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.seatplan-status-success button{
	background-color: #c2e085 !important;
}

.seatplan-status-inprogress button{
	background-color: burlywood !important;
}

.seatplan-status-error button{
	background-color: lightcoral !important;
}

.planningDayDetail{
	margin-left:320px;
	padding-left:15px;
	padding-right:15px;
}

@media(max-width:1000px){
	.planningDayDetail{
		margin:0px;
		width:100%;
		clear:left;
	}
}


.teleopti-card-selected{
	position:relative;
}

.period-report-btn{
	position: absolute; 
	right: 0px; 
	top: 0px;
}

.seatPlanReport{
	padding: 0px;
	margin: -10px;
	height:100%;
	z-index:0;
	position:relative;
}

.seatPlanReport .seatPlanReportHeader{
	height: 40px;
	position:relative;
	z-index:1;
}

.seatPlanReport .wfm-btn{
	height:100%;
	margin:0px;
	border-radius:0px;
	text-transform:none;
}

.seatPlanReport .wfm-btn-invis-primary{
	color:#0099FF;
}

.seatPlanReport .wfm-btn:hover{
	background:#0099FF;
	color:#ffffff;
}

.seatPlanReport .wfm-btn-invis-default:hover{
	background:#FDFEFF;
	color:#0099FF;
}

.seatPlanReport .wfm-fab{
	transition-duration:0s;
}

.seatPlanReport .button-active{
	background:#0099FF;
	color:#ffffff;
}

.blankForTurnOffFilterPanel1{
	width: 100%; 
	height: 40px;
	z-index:-1;
	position:absolute;
	display:inline-block;
	left:0;
	top:0;
	background:transparent;
}

.blankForTurnOffFilterPanel2{
	width: 100%; 
	height: 100%;
	z-index:-1;
	position:absolute;
	display:inline-block;
	left:0;
	top:0;
	background:transparent;
	margin-top:40px;
}

.seatPlanReportFilter{
	top:43px;
	left:0px;
	width:100%;
	height:500px;
	position:absolute;
	background:#ffffff;
}

.seatPlanReportFilter .filter-content{
	overflow:hidden;
	overflow-y:auto;
	width:100%;
	height:424px;
}

.filter-content .date-picker{
	height:100%;
	padding:30px 10px 10px 10px;
	text-align:left;
	vertical-algin:middle;		
}

.date-picker .wfm-datepicker-wrap{
	box-shadow:none;
	border:1px #ededed solid;
}

.date-picker .wfm-datepicker-wrap table{
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}

.date-picker .wfm-datepicker-wrap button{
	padding:1px 6px;
	font-family:inherit;
	font-size:100%;
}

.seatPlanReportFilter .bottom-bar, .seatPlanReportFilter .filter-header{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	border-top:1px #e1e2e3 solid;
	background:rgb(254,254,254);
}

.seatPlanReportFilter .header-bar{
	top:0px;
	border-bottom:1px #e1e2e3 solid;
	height:40px;
	clear:both;
}

.seatPlanReportFilter .header-bar button{
	width:30%;
	margin:0px;
	max-width:150px;
}

.seatPlanReportFilter .bottom-bar button{
	border-radius:3px;
	margin:3px 7px 5px 0px;
	padding:3px 9px;
}

.seatPlanReportFilter .bottom-bar .wfm-btn-invis-default{
	background:#f1f2f3;
}

.seatPlanReportContent{
	clear:both;
	z-index:0;
	padding-left:10px;
	padding-right:10px;
	overflow:auto;
	height:98%;
	width:100%;
	position:absolute;
}
.seatPlanReportContent h2{
	margin-bottom:0px !important;
}
.seatPlanReportContent .report-spinner{
	width: 100px; 
	height: 100px; 
	position: absolute; 
	left: 50%; 
	top: 40%;
}

.seatPlanReportContent table{
	width:100%;
}

.seatPlanReportContent table tr td{
	vertical-align:top;
	padding:0px 2px 0px 2px;
}

.seatPlanReportContent table .tr-head{
	height:30px;
	background:#f1f2f3;
}

.seatPlanReportContent .tr-break{
	height:40px;
	vertical-align:bottom;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent .tr-color{
	background:#e1e2e3!important;
	-webkit-print-color-adjust: exact;
}

.seatPlanReportContent .tr-show{
	height:40px;
	vertical-align:bottom;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent .tr-date td{
	text-align:right;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent table th, .seatPlanReportContent table td{
	text-align:left;
	word-break:break-word;	
}

.seatPlanReportContent table tr .td-team{
	width:20%;
}

.seatPlanReportContent table tr .td-agent{
	width:20%;
}

.seatPlanReportContent table tr .td-location{
	width:35%;
}

.seatPlanReportContent table tr .td-seat{
	width:10%;
}

.seatPlanReportContent table tr .td-time{
	width:15%;
}

@media print{
	#seatPlanReportContentPrintDiv{
		width:100%;
		height:auto;
	}
}

@media screen{
	#seatPlanReportContentPrint{
		display:none;
	}

	#seatPlanReportContentPrintDiv{
		display:none;
	}
}

.seatplan-report-paging {
	height:32px;
	background:#ffffff;
	color: #0099ff; 
	vertical-align: middle; 
	margin-right:-10px;
	margin-bottom:20px;
	clear:both;
	cursor:default!important;
}

.seatplan-report-paging .mdi{
	padding:7px;
}

.seatplan-report-paging .mdi:hover{
	color:#ffffff;
	background:#0099FF;
}

.seatplan-report-paging .noclick:hover{
	color:inherit;
	background:inherit;
}

.seatplan-report-paging .current-page{
	min-width:32px;
	text-align:center;
	margin-left:0px;
}

.seatplan-report-paging span{
	min-width:110px;
	margin-left:5px;
	display: inline-block;
	text-align: left;
	margin-top: 4px;
	vertical-align: top;
}