@charset "UTF-8";
.location-breadcrumb{
  position: relative;
	height:30px;
  background-color: white;
  border-top: 1px solid rgba(0,0,0,.06);
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.breadcrumb-inverse{
	font-size : 95%;
}

.breadcrumb-inverse a, .breadcrumb-inverse>.active {
  color: #09F !important;
  padding: 0px;
  margin-left : 5px; 
}

.breadcrumb-inverse span {
  line-height: 30px;
  margin-left : 5px; 
}


.date-picker{
	position:absolute;
	top: 40px;
	right: 0;
  background-color: white;
}

a.mfb-component__button--main {
  outline: 0;
}

.mfb-button-warning{
	  background-color: #FFC285 !important;
};
.mfb-component--tr{
  animation: fromTop 1.3s 1;
  -webkit-animation: fromTop 1.3s 1;
}
.fadein {
	animation: fadeIn 1.3s 1;
  -webkit-animation: fadeIn 1.3s 1;
}

@keyframes fromTop {
  0% {
	transform: translateY(-250px);
  }
  100% {
	transform: translateY(0);
  }
}
@-webkit-keyframes fromTop {
  0% {
	transform: translateY(-250px);
  }
  100% {
	transform: translateY(0);
  }
}


@-webkit-keyframes fadeIn {
  0% {
	opacity: 0;
  }

  100% {
	opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
	opacity: 0;
  }

  100% {
	opacity: 1;
  }
}
							
#seatmapcanvas {
	position: relative;
}

.seatmap-occupancy-detail {
	display: block;
	min-height: 120px;
	background:#FFFFFF;
}