.planningPeriodProgressBar {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 90%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.calendarProgress {
	margin-top: 85px;
	margin-left: 170px;
	margin-right: 170px;
	height: 139px;
}

.seatplan-status-success button span {
	background-color: lightgreen;
	padding: 3px;
}

.seatplan-status-inprogress button span {
	background-color: burlywood;
	padding: 3px;
}

.seatplan-status-error button span {
	background-color: lightcoral;
	padding: 3px;
}

.seatPlanReport{
	padding: 0px;
	margin: -10px;
}

.seatPlanReport .material-depth-1{
	height: 40px;
	position:relative;
	z-index:10;
}

.seatPlanReport .wfm-btn{
	height:100%;
	margin:0px;
	border-radius:0px;
	text-transform:none;
}

.seatPlanReport .wfm-btn-invis-primary{
	background:#09e;
	color:#ffffff;
}

.seatPlanReport .wfm-btn:hover{
	background:#09e;
	color:#ffffff;
}

.seatPlanReport .wfm-fab{
	transition-duration:0s;
}

.seatPlanReportHeader{
	clear:both;
	margin-bottom:20px;
}

.seatPlanReportHeader .blank{
	width: 100%; 
	height: 100%;
	z-index:-1;
	position:absolute;
	display:inline-block;
	left:0;
	top:0;
}

.seatPlanReportFilter{
	top:43px;
	left:0px;
	width:100%;
	height:500px;
	position:absolute;
	background:#ffffff;
}

.seatPlanReportFilter .filter-content{
	overflow:hidden;
	overflow-y:auto;
	width:100%;
	height:424px;
}

.filter-content .date-picker{
	zoom:1;
	overflow:hidden;
	min-width:320px;
}

.date-picker .wfm-datepicker{
	float:left;
	width:320px;
	clear:right;
	margin:20px 20px 0px 20px;	
}

.seatPlanReportFilter .bottom-bar, .seatPlanReportFilter .filter-header{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	border-top:1px #e1e2e3 solid;
	background:rgb(254,254,254);
}

.seatPlanReportFilter .header-bar{
	top:0px;
	border-bottom:1px #e1e2e3 solid;
	height:40px;
	clear:both;
}

.seatPlanReportFilter .header-bar button{
	width:30%;
	margin:0px;
	max-width:150px;
}

.seatPlanReportFilter .bottom-bar button{
	border-radius:3px;
	margin:3px 7px 5px 0px;
	padding:3px 9px;
}

.seatPlanReportFilter .bottom-bar .wfm-btn-invis-default{
	background:#f1f2f3;
}

.seatPlanReportContent{
	clear:both;
	z-index:1;
	padding-left:10px;
	padding-right:10px;
}

.seatPlanReportContent .report-spinner{
	width: 100px; 
	height: 100px; 
	position: absolute; 
	left: 50%; 
	top: 40%;
}

.seatPlanReportContent table{
	width:100%;
	
}
.seatPlanReportContent table .tr-head{
	height:30px;
	background:#f1f2f3;
}

.seatPlanReportContent .tr-break{
	height:40px;
	vertical-align:bottom;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent .tr-color{
	background:#e1e2e3!important;
	-webkit-print-color-adjust: exact;
}

.seatPlanReportContent .tr-show{
	height:40px;
	vertical-align:bottom;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent .tr-date td{
	text-align:right;
	border-bottom:1px #e1e2e3 solid;
}

.seatPlanReportContent table th, .seatPlanReportContent table td{
	text-align:left;
	word-break:break-word;	
}

.seatPlanReportContent table tr .td-team{
	width:20%;
}

.seatPlanReportContent table tr .td-agent{
	width:20%;
}

.seatPlanReportContent table tr .td-location{
	width:30%;
}

.seatPlanReportContent table tr .td-seat{
	width:15%;
}

.seatPlanReportContent table tr .td-time{
	width:15%;
}


