.withoutAMPM::-webkit-datetime-edit-ampm-field {
	display: none;
}

.modal-box .modalbg .drop-box {
    height: 65px;
    margin: 10px;
    padding: 9.5px;
    text-align: center;
    border: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 0;
}

.c3-target-UnderStaffScaffold {
    fill-opacity: 0 !important;
}

.c3-target-OverStaffScaffold {
    fill-opacity: 0 !important;
}

.c3-bars-OverStaffScaffold > path{
    opacity: 0 !important;
}

.c3-bars-UnderStaffScaffold > path{
    opacity: 0 !important;
}

.c3-target-SuggestedUnderStaffScaffold {
    fill-opacity: 0 !important;
}

.c3-target-SuggestedOverStaffScaffold {
    fill-opacity: 0 !important;
}

.c3-bars-SuggestedOverStaffScaffold > path{
    opacity: 0 !important;
}

.c3-bars-SuggestedUnderStaffScaffold > path{
    opacity: 0 !important;
}




