.team-schedule {
	background-color: $white;

	input {
		background-color: transparent;
	}

	.relative {
		position: relative;
	}

	.teamschedule-header{
		width:100%!important;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:space-between;

		.leftside-part{
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			justify-content:space-between;
			padding: 5px 45px 5px 5px;
		}

		.people-search-container{
			display: inline-block;
			margin: 10px 10px 10px 0;
			#simple-people-search{
				width: 316px;
			}
		}

		.team-schedule-datepicker{
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
		}

		team-schedule-datepicker input {
			text-align: center;
		}

		team-schedule-datepicker input.datepicker-mini {
			width: 90px;
		}

		.wfm-switch{
			display: inline-block;
			margin: 10px;
			padding: 0;
			min-width: 200px;
			.wfm-switch-toggle{
				left: 12rem;
			}
		}

		teamschedule-command{
			align-self: flex-end;
			margin-top: -50px;
		}

		.context-menu .context-menu-left{
			z-index: 1000;
			text-transform: none;
		}
	}

	.con-row.teamschedule-body{
		align-items:flex-start;
		position:relative;
		min-height:300px;
	}

	.big-table-wrapper {
		position: relative;
		overflow: hidden;
		width:100%;
	}

	.page-size-selector {
		width: 60px;
		margin-top: 10px;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.time-line {
		min-width: 300px;
		z-index: 10;

		.ruler {
			height: 100%;
			width: 1px;
			background-color: rgba(0,0,0,0.2);
			z-index: 10;
		}

		.label {
			font-size: xx-small;
			height: 12px;
			z-index: 11;
			margin-left: -23px;
		}
	}

	.shift {
		.layer {
			z-index: 10;
			height: 22px;
			text-align: center;
		}

		.layer.selected {
			border: 2px dashed grey;
			opacity: 0.3;
		}

		.layer:first-of-type {
			-webkit-border-radius: 4px 0px 0px 4px;
			-moz-border-radius: 4px 0px 0px 4px;
			border-radius: 4px 0px 0px 4px;
		}

		.layer:last-of-type {
			-webkit-border-radius: 0px 4px 4px 0px;
			-moz-border-radius: 0px 4px 4px 0px;
			border-radius: 0px 4px 4px 0px;
		}

		.layer:only-child {
			-webkit-border-radius: 4px 4px 4px 4px;
			-moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
		}
	}

	.overtime {
		background-size: 11px 11px;
		background-image: linear-gradient(45deg,transparent,transparent 4px,rgba(251,251,251,.8) 6px,transparent 10px,transparent);
	}

	.dayoff {
		text-align: center;
		top: -5px;
		height: 30px;
		padding: 7px;
		background-size: 11px 11px;
		background-image: linear-gradient(135deg, transparent, transparent 7px, rgba(0,0,0,0.2) 8px, transparent 8px, transparent );
	}

	.absolute {
		position: absolute;
	}

	.person-name-column {
		cursor:pointer;

		.wfm-checkbox-toggle:after {
			width: 15px;
			height: 15px;
			font-size: 11px;
		}

		.wfm-checkbox {
			padding: 0;
		}
	}

	th.person-name-column{
		width: 15%;
	}
	
	th.right-border-empty{
		width: 2%;
	}

	.timepicker {
		height: 48px;

		input[type=text] {
			width: 22px;
			padding-bottom: 2px;
		}

		button {
			min-width: 30px;
		}
	}

	ul li.item[disabled] {
		opacity: .4;
		cursor: not-allowed;
	}

	.table {
		thead, tbody, tfoot {
			tr > th, td {
				padding: 5px 0 5px 0;
				border-bottom: rgba(204, 204, 204, 0.99) 1px solid;
			}
            .person-name{
                padding-left:5px;
            }
		}
	}

	.wfm-btn-sm {
		padding: 5px;
		margin-left: 0;
		margin-right: 0;
	}
	
	md-sidenav{
		min-width:360px;
		box-shadow:none;
	}	

	.absence-report{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		md-content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		md-content>div{
			display:flex;
			flex-direction:column;
			justify-content:flex-start;
		}
	
		.absence-selector{
			padding:0;
			min-height:20px;
		}

		.con-row>.teamschedule-datepicker{
			padding-right: 0; 
			height: 48px;
		}
		
		.con-row>.uib-timepicker{
			padding-left: 0; 
			margin-top: -4px;
		}		
	}
	
	.add-activity{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		md-content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		.activity-selector{
			width:100%;
			min-height:20px;
		}
	}

	md-content>button.wfm-btn{
		min-height:40px;
	}

	.modal-box .wfm-simple-list{
		max-height: 430px
	}

	.con-footer{
		.notice-spacer{
			float:left;
			margin-bottom: 0;
			padding: 5px;
			width: auto;
			display: inline-block;
		}
	}

	.con-row {
		align-items: center;
		.wfm-time-range-picker-wrap button {
			line-height: 25px;
		}
	}	
}
