.wfm-time-range-picker-wrap {

    td {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;	    
    }  
    .wfm-timepicker-wrap {
        td {
            padding: 0;            
        }
        .md-button {
            min-width: 48px;
            width: 48px;
            margin: 0;
            padding: 0;
            height: 25px;
            line-height: 25px;
            min-height: 25px;
        }
        input{
            width:50px;
            text-align:center;
            margin-left: 2px;
            margin-right: 2px;
			padding: 0;
        }    		
    }        

	.next-day-toggle .wfm-btn {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

    .has-error > input {
        border:2px solid #F44336;
    }
                
    .error-msg-container {
        display: none;
        margin-top: 10px;
    }
        
    .ng-invalid {
        &.ng-invalid-order ~ .error-msg-container.ng-invalid-order {
            display: block;
        }
        &.ng-invalid-empty ~ .error-msg-container.ng-invalid-empty {
            display: block;
        }
    }	
}

