@keyframes widthChange5 {
	0% {
		width: 0px;
		background:$white;
	}
	
	80%{
		width: 0px;
		background:$gray012;
	}

	100%{
		width: 5px;
		background:$gray-300;
	}
}

@keyframes widthChange7 {
	0% {
		width: 0px;
	}
	
	80%{
		width: 0px;
	}

	100%{
		width: 7px;
	}
}


wfm-right-panel{
	z-index:1;

	.call-out-button{
		position:absolute;
		right:0;
		top:0;
		margin:0;
		padding:5px;
		z-index:1;
	}	

	.resizable{
		position:absolute;	
		right:0;
		width:auto;
		min-width:310px;
		max-width:80%;
		top:0;
		bottom:0;
		z-index:60;
		background:$white;
		overflow:visible!important;

		.rg-left{
			width:5px;
			z-index:2;
			margin-left:0;
			margin:0;
			left:-5px;
			height:100%;
			background:$gray-300;
			animation: widthChange5 450ms;
			-webkit-animation: widthChange5 450ms;

			span{
				margin-left:6px;
				z-index:1;
				animation: widthChange7 450ms;
				-webkit-animation: widthChange7 450ms;
			}

			.sidenav-header .chevron{
				margin:0;
				padding:0px 5px 0px 5px;
			}

			.sidenav-header .chevron:hover{
				cursor:pointer;
			}
		}
		
		.md-sidenav-backdrop{
			display:none;
		}
	}

	md-sidenav{
		max-width:none;
		overflow:hidden;
		width:100%;
		z-index:1;
	}
	
	.sidenav-header{
		.chevron{
			cursor:pointer;
		}	
	}

	.panel-content{
		position:absolute;
		top:41px;
		right:0;
		bottom:0;
		left:0;
		overflow:auto;
		padding-left:5px;
	}
}
