wfm-multiple-search-input{
	.input-search {
		position: relative;
		padding: 10px 0;

		#simple-input-search {
			width: 220px;
		}
	}

	.advanced-input-dropdown {
		position: absolute;
		z-index: 115;
		top: 4rem;
		left: 0rem;

		ul {
			position: absolute;
			width: 500px;
			background: #fff;
		}
	}

	.advanced-input-container {
		position: absolute;
		background-color: $white;
		z-index: 15;
		top: -11px;
		left: 18px;

		input {
			position: relative;
			margin: 5px;
		}
		// CSS hack for IE10, IE11
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (-ms-accelerator:true) {
			.con-row {
				min-width: 316px;
			}
		}
		// CSS hack for edge Browser 12+
		@supports (-ms-accelerator:true) { 
			.con-row {
				min-width: 316px;
			}
		}
	}
}


