body {
	overflow-x: hidden;
}

.col-md-4, .col-md-8 { /* please bootstrap, don't make any assumption about padding' */
	padding: 0;
}

ul {
	margin-bottom:0!important;
}

.navbar {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
}

.layout-container {
	padding-top: 50px;
}

/*override bootstrap*/
.row {
	margin-right: 0;
	margin-left: 0;
}
