@charset "UTF-8";
.input-prepend {
	width: 100%;
}
.input-prepend span {
	display: inline-block;
	width: 18%;
}
.input-prepend span + input[type='text'] {
	display: inline-block;
	width: 65% !important;
}
.input-prepend span + select {
	display: inline-block;
	width: 65% !important;
}
.wfm-checkbox.wfm-checkbox-inline {
	width: auto;
}
.wfm-table.wfm-table-center td {
	text-align:center; 
    vertical-align:middle;
}
.navigate-to.active {
	cursor: pointer;
}
.navigate-to.active path {	
	fill: #0099FF;
}
.navigate-to.active span {
	color: #0099FF;	
}
.navigate-to.inactive path {
	fill: #E0E0E0;
}
.navigate-to.inactive span {
	color: #E0E0E0;
}
 