// To use sass, create a partial "_file.scss" file in css folder
// include your .scss files in syle.scss like so:
// @import 'file';
// Then run grunt

$green-400: #9CCC65;

@import 'classicvariables';
@import 'daterangepicker';
@import 'layout';
@import 'print';
@import 'outbound';
@import 'people';
@import 'forecasting';
@import 'permissions';
@import 'seatmap';
@import 'seatplan';
@import 'resourceplanner';
@import 'rta';
@import 'timerangepicker';
@import 'intraday';
@import 'teamschedule';
@import 'wfmrightpanel';
@import 'requests';
@import 'workinghourspicker';
