<div class="add-absence">
	<div class="sidenav-header">{{'AddAbsence'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newAbsenceForm">
			<md-progress-linear ng-if="vm.runningCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'Absence'|translate}}: </h3>
			<div class="con-row">
				<md-select class="absence-selector" ng-model="vm.selectedAbsenceId" required placeholder="{{'PickAnAbsence'|translate}}" md-autofocus="::vm.containerCtrl.onReady()">
					<md-option ng-repeat="absence in vm.availableAbsenceTypes | orderBy: 'Name'" ng-value="absence.Id">{{absence.Name}}</md-option>
				</md-select>
			</div>

			<div ng-if="!vm.isFullDayAbsence && vm.isAddIntradayAbsenceAvailable()">
				<h3>{{'From'|translate}}: </h3>
				<div class="con-row">
					<teams-datetime-picker class="start-time" ng-model="vm.timeRange.startTime"
										   timezone="vm.getCurrentTimezone()">
					</teams-datetime-picker>
				</div>
				<h3>{{'To'|translate}}: </h3>
				<div class="con-row">
					<teams-datetime-picker class="end-time" ng-model="vm.timeRange.endTime"
										   timezone="vm.getCurrentTimezone()">
					</teams-datetime-picker>
				</div>
			</div>

			<div ng-if="vm.isFullDayAbsence">
				<h3>{{'From'|translate}}: </h3>
				<div class="con-row">
					<team-schedule-datepicker class="start-date" ng-model="vm.timeRange.startTime" ></team-schedule-datepicker>
				</div>
				<h3>{{'To'|translate}}: </h3>
				<div class="con-row">
					<team-schedule-datepicker class="end-date" ng-model="vm.timeRange.endTime" ></team-schedule-datepicker>
				</div>
			</div>
			
			<md-checkbox class="fullDayAbsenceCheckBox" ng-if="vm.isAddFullDayAbsenceAvailable()"
						 ng-model="vm.isFullDayAbsence"
						 ng-disabled="vm.isAddFullDayAbsenceAvailable() && !vm.isAddIntradayAbsenceAvailable()"
						 aria-label="Checkbox">
				{{'FullDayAbsence'|translate}}
			</md-checkbox>

			<p class="text-danger" ng-if="!vm.isFullDayAbsence && !vm.isEndTimeGreaterThanStartTime()">{{'EndTimeMustBeGreaterThanStartTime'|translate}}</p>
			<p class="text-danger" ng-if="vm.isFullDayAbsence && !vm.isAbsenceDateValid()">{{'EndTimeMustBeGreaterOrEqualToStartTime'|translate}}</p>
			<div class="text-danger" ng-if="vm.invalidAgentNameListString && vm.invalidAgentNameListString.length > 0">
				<p ng-if="vm.isFullDayAbsence">
					<i class="mdi mdi-alert-octagon"></i>
					<span>{{'CannotApplyThisToAgentsInADifferentTimeZone'|translate}}: <b>{{vm.invalidAgentNameListString}}</b></span>
				</p>
				<p ng-if="!vm.isFullDayAbsence">
					<i class="mdi mdi-alert-octagon"></i>
					<span>{{'TheAbsenceCanNotBeAddedTo'|translate}} <b>{{vm.invalidAgentNameListString}}</b></span>
				</p>
			</div>
		</form>
		<span class="text-danger" ng-if="vm.invalidAgentNameListString && vm.invalidAgentNameListString.length > 0 && vm.isFullDayAbsence">
			{{'AbsenceCannotBeAddedToAgentsInAnotherTimeZone'|translate}}
		</span>
		<button id="applyAbsence" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary':vm.anyValidAgent() &&  newAbsenceForm.$valid && vm.isTimeRangeValid() && (!vm.runningCommand), 'wfm-btn-primary-disabled': !(newAbsenceForm.$valid && vm.isTimeRangeValid() && vm.anyValidAgent() && (!vm.runningCommand))}"
				ng-disabled="newAbsenceForm.$valid && vm.isTimeRangeValid() && vm.anyValidAgent() && (! vm.runningCommand)?'':'disabled'"
				ng-click="vm.addAbsence()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
