<div class="command-panel add-day-off">
	<div class="sidenav-header">{{'AddDayOff'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newDayOffForm">
			<md-progress-linear ng-if="$ctrl.runningCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'DayOff'|translate}}: </h3>
			<div class="con-row">
				<md-select class="dayoff-selector" ng-model="$ctrl.selectedTemplateId" required placeholder="{{'PickATemplate'|translate}}" md-autofocus="::$ctrl.containerCtrl.onReady()">
					<md-option ng-repeat="template in $ctrl.availableTemplates | orderBy: 'Name'"
							   ng-value="template.Id"
							   ng-selected="template.Id == $ctrl.selectedTemplateId">{{template.Name}}</md-option>
				</md-select>
			</div>

			<h3>{{'From'|translate}}: </h3>
			<div class="con-row">
				<span class="con-flex">
					<team-schedule-datepicker ng-model="$ctrl.dateRange.startDate"></team-schedule-datepicker>
				</span>
			</div>

			<h3>{{'To'|translate}}: </h3>
			<div class="con-row">
				<span class="con-flex">
					<team-schedule-datepicker ng-model="$ctrl.dateRange.endDate" ></team-schedule-datepicker>
				</span>
			</div>
			<div class="text-danger" ng-if="!$ctrl.isDateRangeValid()">
				<i class="mdi mdi-alert-octagon"></i>
				<span>{{'EndTimeMustBeGreaterOrEqualToStartTime' | translate}}</span>
			</div>
		</form>
		<button id="applyDayOff" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': $ctrl.isFormValid(),
					'wfm-btn-primary-disabled': !$ctrl.isFormValid()}"
				ng-disabled="!$ctrl.isFormValid()"
				ng-click="$ctrl.addDayOff()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>