<div class="command-check" ng-if="vm.initFinished">
    <div class="sidenav-header warning-header">{{vm.currentCommandLabel | translate}}</div>
    <md-content class="command-panel-content" layout-padding>
        <div class="command-info">
            <p>
                <span><i class="mdi mdi-alert"></i></span>
                {{vm.config.subject | translate}} 
            </p>
            <p>
                {{vm.config.body | translate}}
            </p>
        </div>

        <md-select class="command-check-selector" ng-model="vm.currentActionOptionValue" placeholder="{{'SelectAnOption' | translate}}" autofocus>
            <md-option ng-repeat="action in vm.config.actionOptions" ng-value="action">
                <span> {{action | translate}}</span>
            </md-option>
        </md-select>

        <div class="agent-list relative">
            <ul>
                <li class="cursor-pointer" ng-repeat="agent in vm.checkFailedAgentList">
                    <span>{{agent.scheduleVm.Name}}</span>
                    <md-tooltip class="multiline-tooltip margin-top-22" ng-if="agent.tooltips && agent.tooltips.length > 0">
                        <span ng-bind-html="agent.tooltips| br"></span>
                    </md-tooltip>
                </li>
            </ul>
        </div>

        <button id="applyCommandFix" class="wfm-btn wfm-btn-primary form-submit" ng-click="vm.applyCommandFix()">
            {{'Continue' | translate}}
        </button>  
    </md-content>
</div>