<div class="move-shift">
	<div class="sidenav-header">{{'MoveShift'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="moveShiftForm">
			<md-progress-linear ng-if="$ctrl.processingCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'StartTime' | translate}}:</h3>
			<teams-time-picker date="$ctrl.containerCtrl.getDate()"
							   timezone="$ctrl.containerCtrl.getCurrentTimezone()"
							   ng-model="$ctrl.moveToTime"
							   ng-change="$ctrl.updateInvalidAgents(moveShiftForm.$valid)"
							   required
							   md-autofocus="::$ctrl.containerCtrl.onReady()">
			</teams-time-picker>
		</form>
		<div ng-if="$ctrl.anyAgentsInDifferentTimeZone()" class="text-danger has-agent-in-different-timezone">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'CannotApplyThisToAgentsInADifferentTimeZone'|translate}}{{'Colon'|translate}}<b>{{$ctrl.agentsInDifferentTimeZone | names }}</b></span>
		</div>
		<div ng-if="!$ctrl.anyAgentsInDifferentTimeZone() && $ctrl.anyInvalidAgent()" class="text-danger invalid-agent">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} <strong>{{$ctrl.invalidAgents | names }}</strong>.</span>
		</div>

		<span class="text-danger" ng-if="$ctrl.anyAgentsInDifferentTimeZone()">{{'ShiftCannotBeAddedToAgentsInAnotherTimeZone'|translate}}</span>
		<button id="applyMoveShift" class="wfm-btn form-submit"
				ng-class="{ 'wfm-btn-primary': moveShiftForm.$valid && !$ctrl.checkingCommand && $ctrl.anyValidAgent(), 'wfm-btn-primary-disabled': !$ctrl.anyValidAgent() || !moveShiftForm.$valid || $ctrl.checkingCommand}"
				ng-disabled="$ctrl.processingCommand || !$ctrl.anyValidAgent() || !moveShiftForm.$valid"
				ng-click="$ctrl.moveShift()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
