<div class="add-activity">
	<div class="sidenav-header">{{vm.command.title}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newActivityForm">
			<md-progress-linear ng-if="vm.checkingCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{vm.command.title}}: </h3>
			<div class="con-row">
				<md-select class="activity-selector" ng-model="vm.selectedActivityId" required placeholder="{{'SelectAnActivity'|translate}}" md-autofocus="::vm.containerCtrl.onReady()">
					<md-option ng-repeat="activity in vm.availableActivities | orderBy: 'Name'" ng-value="activity.Id">{{activity.Name}}</md-option>
				</md-select>
			</div>
			
			<teams-time-range-picker class="activity-time-range" ng-model="vm.timeRange" timezone="vm.currentTimezone()"
									 date="vm.selectedDate()"></teams-time-range-picker>
		</form>
		<div class="text-danger" ng-if="vm.notAllowedNameListString.length > 0">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheActivityCanNotBeAddedTo'|translate}} <b>{{vm.notAllowedNameListString}}</b></span>
		</div>
		<button id="applyActivity" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newActivityForm.$valid && vm.anyValidAgent() && !vm.checkingCommand, 'wfm-btn-primary-disabled': !newActivityForm.$valid || !vm.anyValidAgent() || vm.checkingCommand}"
				ng-disabled="vm.checkingCommand || !newActivityForm.$valid || !vm.anyValidAgent()"
				ng-click="vm.addActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
