<div class="settings-panel">
	<div class="sidenav-header">{{'Settings'|translate}}</div>
	<md-content class="command-panel-content toggle-control" layout-padding>
		<md-switch ng-if="vm.searchEnabled"
				   ng-model="vm.settings.onlyLoadScheduleWithAbsence"
				   ng-change="vm.onSettingsUpdated('onlyLoadScheduleWithAbsence')">
			<span translate>ShowOnlyAbsence</span>
		</md-switch>
		<md-divider></md-divider>
		<md-switch id="show-warnings"
				   ng-model="vm.settings.validateWarningEnabled"
				   ng-change="vm.onSettingsUpdated('validateWarningEnabled')">
			<span translate>ShowWarnings</span>
		</md-switch>
		<div class="configure-validation">
			<h3>{{'ConfigureValidationWarnings' | translate}}</h3>
			<md-checkbox ng-repeat="rule in vm.availableValidationRules"
						 test-attr="{{rule.type}}"
						 ng-model="rule.checked"
						 ng-change="vm.updateValidateRulesToggleState(rule.type, rule.checked)" value="true">
				{{rule.type | translate}}
			</md-checkbox>
		</div>
	</md-content>
</div>