<div class="settings-panel">
	<div class="sidenav-header">{{'Settings'|translate}}</div>
	<md-content class="command-panel-content" ng-class="{'toggle-control': vm.toggles.WfmTeamSchedule_ShowStaffingInfo_45206}" layout-padding>
		
		
		<div class="wfm-switch" ng-if="vm.searchEnabled && vm.toggles.WfmTeamSchedule_ShowStaffingInfo_45206">
			<input type="checkbox" id="switchAbsence" ng-model="vm.settings.onlyLoadScheduleWithAbsence" ng-change="vm.onSettingsUpdated('onlyLoadScheduleWithAbsence')" />
			<label for="switchAbsence">
				<span class="wfm-switch-label" translate>ShowOnlyAbsence</span>
				<span class="wfm-switch-toggle"></span>
			</label>
			
		</div>
		<md-divider ng-if="vm.toggles.WfmTeamSchedule_ShowStaffingInfo_45206"></md-divider>
		<div id="show-warnings" class="wfm-switch inline-block" ng-if="vm.toggles.WfmTeamSchedule_ShowStaffingInfo_45206">
			<input type="checkbox" id="validateWarning" ng-model="vm.settings.validateWarningEnabled" ng-change="vm.onSettingsUpdated('validateWarningEnabled')"/>
			<label for="validateWarning">
				<span class="wfm-switch-label" translate>ShowWarnings</span>
				<span class="wfm-switch-toggle"></span>
			</label>
			
		</div>
		<div class="configure-validation">
			<h3>{{'ConfigureValidationWarnings' | translate}}</h3>
			<div class="wfm-checkbox" ng-repeat="rule in vm.availableValidationRules" test-attr="{{rule.type}}">
				<label>
					<input type="checkbox" ng-model="rule.checked" ng-change="vm.updateValidateRulesToggleState(rule.type, rule.checked)" value="true" />
					<span class="wfm-checkbox-toggle"></span>
					<span class="wfm-checkbox-label">{{rule.type | translate}}</span>
				</label>
			</div>
		</div>

	</md-content>

</div>