<div class="edit-shift-category">	
	<div class="sidenav-header">{{'EditShiftCategory' | translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="editShiftCategoryForm">
			<div class="con-row">
				<md-select class="shift-category-selector" ng-model="vm.selectedShiftCategoryId" placeholder="{{'SelectACategory' | translate}}" md-autofocus="::vm.containerCtrl.onReady()">
					<md-option ng-repeat="category in vm.shiftCategoriesList" ng-value="category.Id">
						<span class="shiftcat-shortname" ng-bind="category.ShortName" ng-style="{backgroundColor: category.DisplayColor, color: category.TextColor}"></span>
						<span class="shiftcat-fullname" ng-bind="category.Name" title="{{category.Name}}"></span>
					</md-option>
				</md-select>
			</div>
		</form>
		<div ng-if="vm.invalidAgents.length > 0" class="text-danger">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'CannotApplyChangeToAgentsInDifferentTimezone'|translate}}: <strong>{{ vm.invalidAgents | names }}</strong>.</span>
		</div>
		<button id="applyShiftCategory" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': editShiftCategoryForm.$valid && vm.anyValidAgent() && (!vm.runningCommand), 'wfm-btn-primary-disabled': !(editShiftCategoryForm.$valid && vm.anyValidAgent() && (!vm.runningCommand)  )}"
				ng-disabled="editShiftCategoryForm.$valid && vm.anyValidAgent() && (!vm.runningCommand)?'':'disabled'"
				ng-click="vm.modifyShiftCategory()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>