<div class="move-activity">
	<div class="sidenav-header">{{'MoveActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="moveActivityForm">
			<md-progress-linear ng-if="vm.checkingCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'StartTime' | translate}}:</h3>
			<teams-time-picker class="focus-default" date="vm.getMoveToDate()"
							   ng-model="vm.moveToTime"
							   ng-change="vm.updateInvalidAgents(moveActivityForm.$valid)"
							   required
							   timezone="vm.getCurrentTimezone()"
							   md-autofocus="::vm.containerCtrl.onReady()"></teams-time-picker>

			<md-switch ng-model="vm.nextDay">
				<span>{{'NextDay' | translate}}</span>
			</md-switch>
		</form>
		<div class="text-danger" ng-if="vm.anyInvalidAgent()">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} {{vm.invalidPeople()}}.</span>
		</div>
		<button id="applyMoveActivity" class="wfm-btn form-submit"
				ng-class="{ 'wfm-btn-primary': vm.anyValidAgent() && moveActivityForm.$valid && !vm.checkingCommand,
				'wfm-btn-primary-disabled': !vm.anyValidAgent() || !moveActivityForm.$valid || vm.checkingCommand}"
				ng-disabled="vm.checkingCommand || !vm.anyValidAgent() || !moveActivityForm.$valid"
				ng-click="vm.moveActivity()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
