<div class="command-panel add-overtime-activity">
	<div class="sidenav-header">{{'AddOvertimeActivity'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newOvertimeActivityForm">
			<h3>{{'Activity'|translate}}: </h3>
			<div class="con-row">
				<md-select class="activity-selector" ng-model="$ctrl.selectedActivityId" required placeholder="{{'SelectAnActivity'|translate}}" md-autofocus="::$ctrl.containerCtrl.onReady()">
					<md-option ng-repeat="activity in $ctrl.availableActivities | orderBy: 'Name'" ng-value="activity.Id">{{::activity.Name}}</md-option>
				</md-select>
			</div>

			<h3>{{'MultiplicatorDefinitionSetColon'|translate}} </h3>
			<div class="con-row">
				<md-select class="definition-selector" ng-model="$ctrl.selectedDefinitionSetId" ng-change="$ctrl.validateInput()" required placeholder="{{'SelectAMultiplicatorDefinitionSet'|translate}}">
					<md-option ng-repeat="set in $ctrl.definitionSets | orderBy: 'Name'" ng-value="set.Id">{{::set.Name}}</md-option>
				</md-select>
			</div>

			<h3>{{'From'|translate}}: </h3>
			<div class="con-row">
				<teams-datetime-picker ng-model="$ctrl.fromTime" timezone="$ctrl.containerCtrl.getCurrentTimezone()"
									   ng-change="$ctrl.validateTimeRangeAndInput(newOvertimeActivityForm.$valid)">
				</teams-datetime-picker>
			</div>

			<h3>{{'To'|translate}}: </h3>
			<div class="con-row">
				<teams-datetime-picker ng-model="$ctrl.toTime" timezone="$ctrl.containerCtrl.getCurrentTimezone()"
									   ng-change="$ctrl.validateTimeRangeAndInput(newOvertimeActivityForm.$valid)">
				</teams-datetime-picker>

			</div>
		</form>
		<div class="text-danger" ng-if="!$ctrl.timeRangeIsValid">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'EndTimeMustBeGreaterOrEqualToStartTime' | translate}}</span>
		</div>
		<div class="text-danger" ng-if="$ctrl.anyInvalidAgent()">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheActivityCanNotBeAddedTo'|translate}} <strong>{{$ctrl.invalidAgents | names}}</strong></span>
		</div>
		<button id="applyOvertime" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newOvertimeActivityForm.$valid && $ctrl.timeRangeIsValid && $ctrl.anyValidAgent(), 'wfm-btn-primary-disabled': !(newOvertimeActivityForm.$valid && $ctrl.timeRangeIsValid && $ctrl.anyValidAgent())}"
				ng-disabled="newOvertimeActivityForm.$valid && $ctrl.timeRangeIsValid && $ctrl.anyValidAgent() && !$ctrl.processingCommand ?'':'disabled'"
				ng-click="$ctrl.addOvertime()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>