<div class="add-absence">
	<div class="sidenav-header">{{'AddAbsence'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="newAbsenceForm">
			<md-progress-linear ng-if="vm.runningCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'Absence'|translate}}: </h3>
			<div class="con-row">
				<md-select class="absence-selector" ng-model="vm.selectedAbsenceId" required placeholder="{{'PickAnAbsence'|translate}}" md-autofocus="::vm.containerCtrl.onReady()">
					<md-option ng-repeat="absence in vm.availableAbsenceTypes | orderBy: 'Name'" ng-value="absence.Id">{{absence.Name}}</md-option>
				</md-select>
			</div>

			<h3>{{'From'|translate}}: </h3>
			<div class="con-row">
				<span class="col-sm-7 teamschedule-datepicker">
					<team-schedule-datepicker selected-date="vm.timeRange.startTime" />
				</span>
				<span class="col-sm-5 uib-timepicker">
					<div uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.isAddIntradayAbsenceAvailable()" ng-model="vm.timeRange.startTime"></div>
				</span>
			</div>

			<h3>{{'To'|translate}}: </h3>
			<div class="con-row">
				<span class="col-sm-7 teamschedule-datepicker">
					<team-schedule-datepicker selected-date="vm.timeRange.endTime" />
				</span>
				<span class="col-sm-5 uib-timepicker">
					<div uib-timepicker show-meridian="vm.showMeridian" ng-show="!vm.isFullDayAbsence && vm.isAddIntradayAbsenceAvailable()" ng-model="vm.timeRange.endTime"></div>
				</span>
			</div>

			<div class="wfm-checkbox" ng-if="vm.isAddFullDayAbsenceAvailable()">
				<input type="checkbox" id="is-full-day" ng-model="vm.isFullDayAbsence" ng-disabled="vm.isAddFullDayAbsenceAvailable() && !vm.isAddIntradayAbsenceAvailable()"/>
				<label for="is-full-day">
					<span class="wfm-checkbox-toggle"></span>
					<span class="wfm-checkbox-label">{{'FullDayAbsence'|translate}}</span>
				</label>
			</div>
			<p class="text-danger" ng-if="!vm.isFullDayAbsence && !vm.isTimeRangeValid()">{{'EndTimeMustBeGreaterThanStartTime'|translate}}</p>
			<p class="text-danger" ng-if="vm.isFullDayAbsence && !vm.isAbsenceDateValid()">{{'EndTimeMustBeGreaterOrEqualToStartTime'|translate}}</p>
			<div class="text-danger" ng-if="vm.invalidAgentNameListString && vm.invalidAgentNameListString.length > 0">
				<p ng-if="vm.isFullDayAbsence">
					<i class="mdi mdi-alert-octagon"></i>
					<span>{{'AbsenceCannotBeAddedToAgentsInAnotherTimeZone'|translate}}: <b>{{vm.invalidAgentNameListString}}</b></span>
				</p>
				<p ng-if="!vm.isFullDayAbsence">
					<i class="mdi mdi-alert-octagon"></i>
					<span>{{'TheAbsenceCanNotBeAddedTo'|translate}} <b>{{vm.invalidAgentNameListString}}</b></span>
				</p>
			</div>

		</form>

		<button id="applyAbsence" class="wfm-btn form-submit"
				ng-class="{'wfm-btn-primary': newAbsenceForm.$valid && vm.isTimeRangeValid() && vm.anyValidAgent() && (!vm.runningCommand), 'wfm-btn-primary-disabled': !(newAbsenceForm.$valid && vm.isTimeRangeValid() && vm.anyValidAgent() && (!vm.runningCommand))}"
				ng-disabled="newAbsenceForm.$valid && vm.isTimeRangeValid() && vm.anyValidAgent() && (! vm.runningCommand)?'':'disabled'"
				ng-click="vm.addAbsence()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
