<section ui-view>

	<div class="view-header with-fab">
		<div class="view-title">
			<h1><i class="mdi mdi-alarm"></i> Rta Tracer
			</h1>
		</div>
	</div>

	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="con-row">
					<div class="con-flex">
						<label class="input-icon">
							<input style="margin-top: 10px;" ng-model="vm.userCode" type="text">
						</label>
					</div>
					<div class="con-flex">
						<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.trace()">Trace</button>
						<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.stop()">Stop</button>
						<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.clear()">Clear</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h1>Tracers</h1>
	<div class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<table class="wfm-table">
					<tr ng-repeat="tracer in vm.tracers" class="process">
						<td width="200px" style="vertical-align: top">{{tracer.process}}</td>
						<td width="400px" style="vertical-align: top" ng-if="tracer.dataReceived.length > 0">
							<span ng-repeat="recevied in tracer.dataReceived">
								Received {{recevied.count}} states by {{recevied.by}} at {{recevied.at}}<br/>
							</span>
						</td>
						<td width="400px" style="vertical-align: top" ng-if="tracer.dataReceived.length === 0">Received nothing yet</td>
						<td width="200px" style="vertical-align: top">Checked at {{tracer.activityCheckAt}}</td>
						<td style="vertical-align: top">Tracing {{tracer.tracing}}</td>
						<td width="400px" style="vertical-align: top">
							<a href="" ng-repeat="exception in tracer.exceptions" ng-click="exception.toggleDisplay()">
								{{exception.exception}} at {{exception.at}}<br/>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<h1 ng-if="vm.exception">Exception</h1>
	<div ng-if="vm.exception" class="con-row">
		<div class="con-flex">
			<div class="panel material-depth-1">
				<div class="con-row">
					<div class="con-flex">
						{{vm.exception}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-repeat="tracedUser in vm.tracedUsers">
		<h1>{{tracedUser.user}}</h1>
		<div class="con-row">
			<div class="con-flex">
				<div class="panel material-depth-1">
					<table class="wfm-table">
						<tr ng-repeat="state in tracedUser.states" class="trace">
							<td width="200px" style="vertical-align: top">{{state.stateCode}}</td>
							<!-- track by $index cant be tested -->
							<td>
								<span ng-repeat="trace in state.traces track by $index">{{trace}}<br/></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</section>