@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

<!-- ko foreach: dayViewModels-->
<div class="weekview-day" data-bind="attr: { 'data-mytime-date': fixedDate}">
	<div class="row">
	<div class="weekview-day-header" data-bind="text: weekDayHeaderTitle"></div>
	<div class="weekview-day data-mytime-date" data-bind="text: fixedDate"></div>
</div>
	<div class="shift" data-bind="style: { backgroundColor: shiftColor}">
		<div>
			<strong data-bind="text: shiftName"></strong>
		</div>
		<div data-bind="text: shiftTimeSpan"></div>
	</div>
</div>
<!-- /ko -->
<ul>
	<li><a href="#" id="desktop" data-bind="click: desktop">desktop</a></li>
</ul>