@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<div class="weekview-mobile row">
	<!-- ko foreach: dayViewModels-->
	<div class="day" data-bind="attr: { 'data-mytime-date': fixedDate }">
		<div class="header">
			<div class="weekday" data-bind="text: weekDayHeaderTitle"></div>
			<div class="date" data-bind="text: fixedDate"></div>
		</div>
		<div class="summary shift" data-bind="style: { backgroundColor: summaryColor, color: summaryTextColor }, css: { 'dayoff': isDayoff }">
			<div>
				<strong data-bind="text: summaryName"></strong>
			</div>
			<div data-bind="text: summaryTimeSpan"></div>
		</div>
	</div>
	<!-- /ko -->
</div>
