@using Teleopti.Ccc.UserTexts 
@{
	Layout = null;
}

<div class="dayview-mobile">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-dayview-nav">
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group dayview-mobile-nav-input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style moment-datepicker" data-bind="value: displayDate" type="text"/>
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="mobile-today" data-bind="click: today">
					<a href="#">@Resources.Today</a>
				</li>
				<li class="mobile-message" data-bind="click: navigateToMessages">
					<a href="#">
						<span class="badge badge-important" data-bind="text: unreadMessageCount"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="dayview-view-body">
			<div class="dayview-summary-content" data-bind="style: { backgroundColor: summaryColor, color: 255 }, css: {'dayoff': isDayOff}">
				<span data-bind="text: dayOfWeek"></span>
				<span data-bind="visible: summaryVisible" >(</span>
				<span data-bind="text: summaryName"></span>
				<span data-bind="text: summaryTime"></span>
				<span data-bind="visible: summaryVisible">)</span>
				<!-- ko if: hasOvertime-->
				<span>@Resources.Overtime</span>
				<!-- /ko -->
			</div>
			
			<div class="dayview-timeline floatleft" data-bind="style: {height: scheduleHeight}">
				<!-- ko foreach: timeLines -->
				<div class="dayview-timeline-label absolute" data-bind="style: {top: topPosition}, text : timeText, visible : evenHour">
				</div>
				<!-- /ko -->
			</div>
			
			<div class="dayview-schedule relative" data-bind="style: {height: scheduleHeight}">
				<!-- ko foreach: layers -->
				<div class="dayview-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true }, style: styleJson, css:{'overtime-background-image-light': isOvertime &amp;&amp; overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime &amp;&amp; overTimeDarkerBackgroundStyle}">
				<div data-bind="visible: showTitle()">
						<strong class="truncate" data-bind="text: title()"></strong>
						<!-- ko if: hasMeeting -->
						<div class="meeting floatright">
							<i class="meeting-icon mr10">
								<i class="glyphicon glyphicon-user ml10"></i>
							</i>
						</div>
						<!-- /ko -->
						<span class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
					</div>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>
