@using Teleopti.Ccc.UserTexts 
@{
	Layout = null;
}
<style>
	html, body, article#body, section#page, .mobile-start-day {
		height: 100%;
	}
	#body-inner {
		height: calc(100% - 21px);
	}
	.mobile-start-day-body {
		height: calc(100% - 73px);
		overflow-y: auto;
	}
	.datepicker.dropdown-menu{
		transform: translateX(calc(-50% + 19px));
	}
	.tooltip.top{
		margin: 0;
	}
</style>


<script type="text/html" id="add-new-request-detail-template">
	@Html.Partial("~/Areas/MyTime/Views/Requests/AddNewRequestDetailView.cshtml")
</script>

<div class="mobile-start-day">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-start-day-nav">
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" data-bind="value: displayDate" type="text" readonly="readonly"/>
						<span class="input-group-btn">
							<span class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<button class="btn btn-default" data-bind="click: nextDay" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="mobile-today">
					<a href="#Schedule/MobileDay">
						<i class="glyphicon glyphicon-home"></i>
					</a>
				</li>
				<li class="mobile-message" data-bind="click: navigateToMessages">
					<a>
						<i class="glyphicon glyphicon-envelope"></i>
						<span id="MobileDayView-message" class="badge" data-bind="text: unreadMessageCount">
						</span>
					</a>
				</li>
				<li class="mobile-request" data-bind="click: function(e, d){ if(requestCount() > 0){navigateToRequests();}}">
					<a id="MobileDayView-request" data-bind="visible: requestCount() > 0">
						<i class="glyphicon glyphicon-comment"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="mobile-start-day-body container">
		<div class="mobile-summary-content" data-bind="style: { backgroundColor: summaryColor, color: 255 }, css: {'dayoff': isDayOff}">
			<span data-bind="text: dayOfWeek"></span>
			<span data-bind="visible: summaryVisible" >(</span>
			<span data-bind="text: summaryName"></span>
			<span data-bind="text: summaryTime"></span>
			<span data-bind="visible: summaryVisible">)</span>
			<!-- ko if: hasOvertime-->
			<span>@Resources.Overtime</span>
			<!-- /ko -->
		</div>
		
		<div class="mobile-timeline floatleft" data-bind="style: {height: scheduleHeight}">
			<!-- ko foreach: timeLines -->
			<div class="mobile-timeline-label absolute" data-bind="style: {top: topPosition}, text: timeText, visible: isHour">
			</div>
			<!-- /ko -->
		</div>
		
		<div class="mobile-schedule-container relative" data-bind="style: {height: scheduleHeight}">
			<!-- ko foreach: layers -->
			<div class="mobile-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true }, style: styleJson, css:{'overtime-background-image-light': isOvertime &amp;&amp; overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime &amp;&amp; overTimeDarkerBackgroundStyle}">
				<div data-bind="visible: showTitle()">
					<strong data-bind="text: title()"></strong>
					<!-- ko if: hasMeeting -->
					<div class="meeting floatright">
						<i class="meeting-icon mr10">
							<i class="glyphicon glyphicon-user ml10"></i>
						</i>
					</div>
					<!-- /ko -->
					<span class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>

	<!-- ko if: isCommandEnable -->
	<div class="close-fab-overlay" data-bind="visible: menuIsVisible, click: disableMenu"></div>
	<div class="fab" data-bind="visible: menuIconIsVisible, click: enableMenu" tabindex="0"></div>
	<div class="navbar navbar-teleopti subnavbar" data-bind="css: {'menu-focusing': menuIsVisible}, visible: menuIsVisible">
		<ul class="nav navbar-nav navbar-teleopti row submenu" >
			<li data-bind="if: textRequestPermission" class="col-xs-12 col-sm-4">
				<a id="addTextRequest" href="#" class="text-request-add" data-bind="click: showAddTextRequestForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.TextRequest</a>
			</li>
		</ul>
	</div>
	<!-- /ko -->

	<!-- ko with: requestViewModel -->
	<div data-bind="with: model">
		<div id="Request-add-section" class="well well-sm clearfix">
			<div data-bind="template: Template">
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>
