@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

<!-- ko foreach: dayViewModels-->
    <div class="weekview-day data-mytime-date" data-bind="text: fixedDate"></div>
<!-- /ko -->
<ul>
	<li><a href="#" id="desktop" data-bind="click: desktop">desktop</a></li>
</ul>