@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<script type="text/html" id="add-absence-report-detail-template">
	@Html.Partial("AddAbsenceReportPartial")
</script>

<input id="Request-detail-datepicker-format" type="hidden" data-bind="value: datePickerFormat" />

<div class="navbar navbar-teleopti subnavbar">
	<div class="container">
		<ul class="nav navbar-nav navbar-teleopti row submenu">
			<li class="col-xs-12 col-sm-3">
				<div class="input-group" style="max-width: 390px;">
					<span class="input-group-btn">
						<button class="btn btn-default" data-bind="click: previousWeek, css: 'done'" type="button">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
					</span>
					<input class="form-control text-center date-input-style" style="width: 100%; font-size: 13px" data-bind="value: displayDate" type="text" readonly="readonly" />
					<span class="input-group-btn">
						<button class="btn btn-default" data-bind="click: nextWeek, css: 'done'" type="button">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="container weekview-mobile">

	<div class="body">
		<!-- ko foreach: dayViewModels-->
		<div class="day panel panel-default" data-bind="attr: { 'data-mytime-date': fixedDate }">
			<div class="header panel-heading">
				<span class="weekday" data-bind="text: weekDayHeaderTitle"></span>
				<span class="date" data-bind="text: fixedDate"></span>
			</div>

			<div id="mobileWeek-day-view-body" data-bind="style: { backgroundColor: summaryColor, color: summaryTextColor }, css: {'dayoff': isDayoff(),  'overtime-panel-body': hasOvertime, 'panel-body': !hasOvertime }">
				<div>
					<strong data-bind="text: summaryName"></strong>
				</div>
				<div data-bind="text: summaryTimeSpan"></div>
				<!-- ko if: hasOvertime -->
				<div>
					<strong>@Resources.Overtime</strong>
				</div>
				<!-- /ko -->
			</div>

			<!-- ko if: isPermittedToReportAbsence() -->
			<ul class="nav nav-pills navbar-weekview">
				<li data-bind="css: { active: $parent.requestViewModel()!=undefined && $parent.requestViewModel().type() == 'absenceReport' && formattedFixedDate() === $parent.formattedRequestDate() }">
					<a id="addAbsenceReport" class="addAbsenceReport" href="#" data-bind="click: $parent.showAddRequestForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceReport</a>
				</li>
			</ul>
			<div data-bind="visible: formattedFixedDate() === $parent.formattedRequestDate()">
				<!-- ko with: $parent.requestViewModel -->
				<div data-bind="with: model">
					<div id="Request-add-section" class="well well-sm clearfix">
						<div data-bind="template: Template">
						</div>
					</div>
				</div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->
	</div>
	<div class="mobile-foot">@Resources.Mobile | <a href="#" id="desktop" data-bind="click: desktop">@Resources.Desktop</a></div>
</div>

