@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}


<div data-bind="text: henke"></div>


<div class="weekview-day" data-mytime-date="2030-09-30"></div>
<div class="weekview-day" data-mytime-date="2030-10-06"></div>