@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<div class="container weekview-mobile">
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-left datepicker-style">
					<div class="input-group collapse-sub-navbar" style="max-width: 390px;">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousWeek, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%; font-size: 11px" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: nextWeek, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</div>
		</div>
	</div>
	<div class="body">
		<!-- ko foreach: dayViewModels-->
		<div class="day panel panel-default" data-bind="attr: { 'data-mytime-date': fixedDate }">
			<div class="header panel-heading">
				<span class="weekday" data-bind="text: weekDayHeaderTitle"></span>
				<span class="date" data-bind="text: fixedDate"></span>
			</div>
			<div class="panel-body" data-bind="style: { backgroundColor: summaryColor, color: summaryTextColor }, css: { 'dayoff': isDayoff, 'shift': hasShift, 'absence': hasFulldayAbsence }">
				<div>
					<strong data-bind="text: summaryName"></strong>
				</div>
				<div data-bind="text: summaryTimeSpan"></div>
			</div>
		</div>
		<!-- /ko -->
	</div>
	<div class="mobile-foot">@Resources.Mobile | <a href="#" id="desktop" data-bind="click: desktop">@Resources.Desktop</a></div>
</div>

