@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<div class="dayview-mobile">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-dayview-nav">
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group dayview-mobile-nav-input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" style="width: 100%; font-size: 13px" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="mobile-today">
					<a href="#" id="week-schedule-today" data-bind="click: today">@Resources.Today</a>
				</li>
			</ul>

		</div>
	</div>
	
	<div class="container">
		<div class="dayview-view-body">
			<div class="dayview-summary-content" data-bind="style: { backgroundColor: summaryColor, color: 255 }, css: {'dayoff': isDayOff}">
				<span data-bind="text: dayOfWeek"></span>
				<span >(</span>
				<span data-bind="text: summaryName"></span>
				<span data-bind="text: summaryTime"></span>
				<span >)</span>
			</div>
			
			<!-- ko if: !isDayOff() && hasShift()-->
			<div class="dayview-timeline floatleft" data-bind="style: {height: scheduleHeight}">
				<!-- ko foreach: timeLines -->
				<div class="dayview-timeline-label absolute" data-bind="style: {top: topPosition}, text : timeText, visible : evenHour">
				</div>
				<!-- /ko -->
			</div>
			
			<div class="dayview-schedule relative">
				<!-- ko foreach: layers -->
				<div class="dayview-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true }, style: styleJson">
                    <div data-bind="visible: showTitle()">
						<strong class="truncate" data-bind="text: title()"></strong>
						<!-- ko if: hasMeeting -->
						<div class="meeting floatright">
							<i class="meeting-icon mr10">
								<i class="glyphicon glyphicon-user ml10"></i>
							</i>
						</div>
						<!-- /ko -->
						<span class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
					</div>
				</div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
			<!-- ko if: isDayOff() || !hasShift()-->
			<div style="min-height: 450px;"></div>
			<!-- /ko -->
		</div>
	</div>
</div>
