@using Teleopti.Ccc.UserTexts
@{
Layout = null;
}
<style>
	html,
	body,
	section#page,
	article#body,
	#body-inner,
	.mobile-month-view {
		height: 100%;
		cursor: pointer;
	}

	.pagebody {
		padding: 0 5px;
		height: calc(100% - 50px);
		overflow-y: auto;
		margin: 0;
		-webkit-overflow-scrolling: touch;
	}

	.tooltip {
		margin: 0;
		min-width: 100px;
	}

	.datepicker.dropdown-menu {
		position: fixed;
		z-index: 199;
	}
</style>
<div class="mobile-month-view">
	<div class="navbar teleopti-toolbar subnavbar">
		<div class="container mobile-month-view-nav">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">
				<li class="mobile-month-datepicker">
					<a class="text-center formatted-date-text" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, viewMode: 1, minViewMode: 1, calendarPlacement: 'right' }, text: formattedSelectedDate"></a>
					<a class="mobile-month-calendar-icon" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, viewMode: 1, minViewMode: 1, calendarPlacement: 'center' }">
						<i class="glyphicon glyphicon-calendar"></i>
					</a>
				</li>
				<li>
					<a href="#Schedule/MobileDay">
						<i class="glyphicon glyphicon-home"></i>
					</a>
				</li>
				<li data-bind="visible: asmEnabled()">
					<a href="#MessageTab">
						<i class="glyphicon glyphicon-envelope"></i>
						<span id="MobileDayView-message" class="badge" data-bind="visible: unreadMessageCount() > 0, text: unreadMessageCount"></span>
					</a>
				</li>
				<li>
					<a href="#Requests/Index">
						<i class="glyphicon glyphicon-comment"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container pagebody">
		<!-- ko if: isLoading -->
		<img class="data-loading-gif" src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")' alt="...">
		<!-- /ko -->

		<!-- ko if: !isLoading() -->
		<div class="mobile-month-row-fluid mobile-month-row-head clearfix" data-bind="foreach: weekDayNames">
			<div class="mobile-month-cell mobile-month-weekday-header weekday-shortname" data-bind="text: ShortName"></div>
		</div>
		<div class="mobile-month-box clearfix" data-bind="foreach: weekViewModels">
			<div class="mobile-month-row-fluid clearfix" data-bind="foreach: dayViewModels, css: {'has-overtime-or-absence': $parent.hasAbsenceOrOvertime, 'has-overtime-and-absence': $parent.hasAbsenceAndOvertime}">
				<div class="mobile-month-cell" data-bind="attr:{'date': date}">
					<div class="mobile-month-day" data-bind="click: navigateToDayView, css: {'mobile-month-day-outmonth': isOutsideMonth, 'mobile-month-current-day': isCurrentDay}">
						<span data-bind="text: dayOfMonth, click: function(d,e){e.stopPropagation();}" class="day-header-day"></span>

						<!-- ko if: !hasShift && !isFullDayAbsence && !isDayOff-->
						<div class="shift"></div>
						<!-- /ko -->
						<!-- ko if: hasShift && !isFullDayAbsence -->
						<div class="shift" data-bind="css: {'is-day-off': isDayOff}">
							<div data-bind="style: {backgroundColor: shiftColor, color: shiftTextColor}">
								<div data-bind="css: {'dayoff': isDayOff}">
									<strong data-bind="text: shiftShortName"></strong>
								</div>
							</div>
							<div class="shift-timespan" data-bind="ifnot: isDayOff">
								<span data-bind="text: shiftStartTime"></span>
								<p> - </p>
								<span data-bind="text: shiftEndTime"></span>
							</div>
							<div class="absence-and-overtime">
								<!-- ko if: hasAbsence -->
								<div class="absence-info-cell" data-bind="style: {backgroundColor: absenceColor, color: absenceTextColor}">
									<strong data-bind="text: absenceShortName"></strong>
									<span data-bind="visible: hasMultipleAbsences">..</span>
								</div>
								<!-- /ko -->
								<!-- ko if: hasOvertime -->
								<div class="overtime-info-cell" data-bind="style: {backgroundColor:overtimeColor, color: overtimeTextColor}">
									<strong>@Resources.OvertimeShortName</strong>
									<span data-bind="visible: hasMultipleOvertimes">..</span>
								</div>
								<!-- /ko -->
							</div>
						</div>
						<!-- /ko -->

						<!-- ko if: isFullDayAbsence -->
						<div class="shift absence">
							<div class="absence-and-overtime">
								<div class="absence-info-cell" data-bind="style: {backgroundColor: absenceColor, color: absenceTextColor}">
									<strong data-bind="text: absenceShortName"></strong>
								</div>

								<!-- ko if: hasOvertime -->
								<div class="overtime-info-cell" data-bind="style: {backgroundColor: overtimeColor, color: overtimeTextColor}">
									<strong>@Resources.OvertimeShortName</strong>
									<span data-bind="visible: hasMultipleOvertimes">..</span>
								</div>
								<!-- /ko -->
							</div>
						</div>
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>