@{
    Layout = null;
}

<div class="container">
    <div class="navbar navbar-default">
            <div class="col-xs-3" style="margin-top: 5px">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: previousMonth">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </button>
                </span>
                <input class="form-control col-md-2 text-center" type="text" data-bind="value: formattedSelectedDate" value="" readonly="readonly" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, viewMode: 1, minViewMode: 1 }">
                        <i class="glyphicon glyphicon-th"></i>
                    </button>
                    <button class="btn btn-default" type="button" data-bind="click: nextMonth">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                </div>
            </div>
            </div>
    </div>

    <div id="calendar" style="width: 100%;">
        <div class="cal-row-fluid cal-row-head visible-lg visible-md" data-bind="foreach: weekDayNames">
            <div class="cal-cell" data-bind="text: Name"></div>
        </div>

        <div class="cal-row-fluid cal-row-head hidden-lg hidden-md" data-bind="foreach: weekDayNames">
                <div class="cal-cell weekday-shortname" data-bind="text: ShortName" ></div>
        </div>

        <div class="cal-month-box" data-bind="foreach: weekViewModels">
            <div class="cal-row-fluid" data-bind="foreach: dayViewModels">
                <div class="cal-cell">
                    <div class="cal-month-day" data-bind="click: $root.week, css: { 'cal-day-outmonth': isOutsideMonth, 'working-day': isWorkingDay, 'not-working-day': isNotWorkingDay }, style: { backgroundColor: displayColor }">
                        <h6><span data-bind="text: dayOfMonth, attr: { 'data-cal-date': date }" class="pull-right label label-default"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
