@using Teleopti.Ccc.UserTexts
@model Teleopti.Ccc.Web.Areas.MyTime.Controllers.killme
@{
	Layout = null;
}
<script>
	$(function () {
		Teleopti.MyTimeWeb.Schedule.LoadAndBindData('@Resources.XRequests');
	});
</script>
<div id="ScheduleWeek-body" class="body-weekview clearfix" data-bind="attr: {'data-mytime-periodselection' : JSON.stringify(PeriodSelection)}">
	<div class="week-schedule-ASM-permission-granted" data-bind="if : AsmPermission">yes</div>
	<div class="week-schedule-current-week" data-bind="if : IsCurrentWeek">yes</div>
	<style data-bind="text : createStyleList()">
	</style>
	<div id="ScheduleWeek-body-inner" class="body-weekview-inner clearfix">
		<div class="weekview-timeline floatleft">
			<div class="week-schedule-time-indicator-small absolute">
			</div>
			<!-- ko foreach: TimeLine -->
			<div class="weekview-timeline-label absolute" data-bind="style: {top: ($root.mathRound($root.scheduleHeight * PositionPercentage) + $root.timelineOffset) + 'px'}, text : Time">
			</div>
			<!-- /ko -->
		</div>
		
		<!-- ko foreach: Days -->
		<ul class="weekview-day" data-bind="attr: {'data-mytime-date': FixedDate, 'data-request-default-date': Date, 'data-mytime-state': State}">
			<li>
				<div data-bind="text: Header.Title">
				</div>
			</li>
			<li class="second">
				<div>
					<span class="floatleft ml5" data-bind="text: Header.DayDescription"></span><span class="floatright mr5" data-bind="text: Header.DayNumber"></span>
				</div>
			</li>
			<li id="day-summary" data-bind="css: {'show-request':$root.RequestPermission.TextRequestPermission}, attr: {'class' : 'third category ' + $root.createClassForDaySummary($data.Summary.StyleClassName)}"
				 class="third category"><strong class="fullwidth displayblock" data-bind="text:Summary.Title"></strong>
				<span class="fullwidth displayblock" data-bind="text:Summary.TimeSpan"></span>
				<span data-bind="text: Summary.Summary"></span></li>
			<li id="day-symbol" class="fourth">
				<div class="text-request floatright" data-bind="visible: TextRequestCount > 0, attr: {title : $root.textRequestCount(TextRequestCount)}">
					<div class="floatright extrasmall" data-bind="text:TextRequestCount">
					</div>
					<div class="icon text-request ir floatright" />
				</div>
				<div class="icon comment-day ir tooltip floatright" data-bind="visible: HasNote, attr: {'tooltip-text': Note.Message}">
				</div>
				<div id="add-request-cell" data-bind="css:{'add-request-space show-request': $root.RequestPermission.TextRequestPermission}">
				</div>
			</li>
			<li class="weekview-day-schedule relative">
				<div class="week-schedule-time-indicator relative">
				</div>
				<!-- ko foreach: Periods -->
				<div class="week-schedule-layer absolute tooltip" data-bind="attr: {'tooltip-title': Title, 'tooltip-text' : $root.tooltipText($data)}, style:{'background-color' : 'rgb(' + Color +')', 'height' :  $root.heightPixel($data) + 'px', top:  $root.topPixel($data) + 'px', 'width' : '131px'}">
					<!-- ko if: Meeting -->
					<div class="icon meeting floatright">
					</div>
					<!-- /ko -->
					<strong class="truncate" data-bind="text: Title, visible: $root.heightDouble($data) > $root.pixelToDisplayTitle">
					</strong><span class="fullwidth displayblock" data-bind="visible: $root.heightDouble($data) > $root.pixelToDisplayAll, text: TimeSpan">
					</span>
				</div>
				<!-- /ko -->
			</li>
			<!-- /ko -->
		</ul>
		<!-- /ko -->
	</div>
</div>
@Html.Partial("WeekRequestPartial", Model)
