<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Infrastructure" publicKeyToken="29E5C34551E93BC9" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.5.65.1" newVersion="6.5.65.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Domain" publicKeyToken="71BDD185836BF927" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.5.65.1" newVersion="6.5.65.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
