<h1>Tree Data One</h1>
<tree-data-one ng-model="vm.dataOne" ng-change="vm.getChange()" option="vm.option"></tree-data-one>

<h1>Tree Data Two</h1>
<div class="con-row">
  <div class="con-flex">
    <button class="wfm-btn wfm-btn-default" ng-click="toggle =!toggle">Default</button>
<wfm-popup show="toggle">
 <div class="sub-header">
   <h2>Popup Tree</h2>
 </div>
 <div class="con-row">
   <div class="con-flex">
      <tree-data-two ng-model="vm.dataTwo" option="vm.option"></tree-data-two>
     </div>
 </div>
</wfm-popup>
  </div>
</div>



<h1>Tree Data Two with unique root group selected</h1>
<div class="con-row">
  <div class="con-flex">
    <div class="panel">
      <div class="sub-header">
        <h2>Tree</h2>
      </div>
      <div class="con-row">
        <div class="con-flex">
          <tree-data-two ng-model="vm.dataThree" ng-change="vm.getChange()" option="vm.optionTwo" ></tree-data-two>
        </div>
      </div>
      <div class="con-footer">
        <button class="wfm-btn wfm-btn-invis-default">Advanced</button>
        <button class="wfm-btn wfm-btn-invis-primary">Options</button>
      </div>
    </div>
  </div>
</div>

<h1>Tree Data Two use org</h1>
<div class="con-row">
  <div class="con-flex">
    <div class="panel">
      <div class="sub-header">
        <h2>Tree</h2>
      </div>
      <div class="con-row">
        <div class="con-flex">
          <tree-data-two ng-model="vm.dataFour" ng-change="vm.getChange()" option="vm.optionFour" ></tree-data-two>
        </div>
      </div>
      <div class="con-footer">
        <button class="wfm-btn wfm-btn-invis-default">Advanced</button>
        <button class="wfm-btn wfm-btn-invis-primary">Options</button>
      </div>
    </div>
  </div>
</div>