<div class="orgpicker-wrapper">
	<md-select-value role="button" class="md-select-value" ng-click="$ctrl.openMenu($event)" ng-class="{'none-selected': $ctrl.selectedTeamIds.length == 0}">
		<span class="selected-text">{{ $ctrl.selectedText() }}</span>
		<span class="md-select-icon" aria-hidden="true"></span>
	</md-select-value>
	<div class="_off-screen">
		<orgpicker-menu class="orgpicker-menu">
			<div class="header">
				<i class="mdi mdi-magnify"></i>
				<input type="text" md-autofocus class="search md-text" placeholder="{{ 'Search' |translate}}" ng-model="$ctrl.searchText" />
			</div>
			<div class="longest-name">{{$ctrl.longestName}}</div>
			<md-virtual-repeat-container class="virtual-repeat">
				<div md-virtual-repeat="o in $ctrl.orgsInView" class="repeated-item" flex>
					<div ng-class="{focused: o.isFocused}" class="site md-button-toggle md-button md-ink-ripple" ng-if=" o.m.isSite ">
						<label class="clickable-area" tabindex="-1" for="site-{{o.m.id}}">
							<div flex layout="row">
								<div class="wfm-checkbox" ng-class="{'indeterminate': o.isIndeterminate()}">
										<input type="checkbox" id="site-{{o.m.id}}" ng-click="$ctrl.toggleSite(o)" ng-checked="o.isChecked()" ng-blur="$ctrl.orgBlurred(o)" ng-focus="$ctrl.orgFocused(o)" />
										<span class="wfm-checkbox-toggle"></span>
										<span class="wfm-checkbox-label" ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
								</div>
								<span flex></span>
								<input type="checkbox" id="toggle-{{o.m.id}}" class="shadow-site-toggle" ng-blur="$ctrl.orgBlurred(o)" ng-focus="$ctrl.orgFocused(o)" ng-click="$ctrl.collapseSite(o)" />
								<div tabindex="-1" class="site-toggle">
									<label for="toggle-{{o.m.id}}">
										<span class="md-toggle-icon" tabindex="-1">
											<i class="mdi" ng-class=" o.collapsed ? 'mdi-chevron-down' : 'mdi-chevron-up' "></i>
										</span>
									</label>
								</div>
							</div>
						</label>
					</div>
					<div ng-if=" !o.m.isSite " ng-class="{focused: o.isFocused}" class="team md-button md-ink-ripple">
						<label class="clickable-area" tabindex="-1">
							<div class="wfm-checkbox">
									<input type="checkbox" ng-click="$ctrl.toggleTeam(o)" ng-checked="o.m.site.checkTeamIsSelected(o.m.id)" ng-blur="$ctrl.orgBlurred(o)" ng-focus="$ctrl.orgFocused(o)" />
									<span class="wfm-checkbox-toggle"></span>
									<span class="wfm-checkbox-label" ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
							</div>
						</label>
					</div>
				</div>
			</md-virtual-repeat-container>
			<div class="footer">
				<button ng-click="$ctrl.clearAll()" class="wfm-btn wfm-btn-invis-default selection-clear">{{'Clear'|translate}}</button>
				<button ng-click="$ctrl.menuRef.close()" title="{{'PressEscToClose'|translate}}" class="wfm-btn wfm-btn-invis-default selection-done">{{'Close'|translate}}</button>
			</div>
		</orgpicker-menu>
	</div>
</div>