<div class="orgpicker-wrapper">
	<md-select-value class="md-select-value" ng-click="$ctrl.openMenu($event)" ng-class="{'none-selected': $ctrl.selectedTeamIds.length == 0}">
		<span class="selected-text">{{ $ctrl.selectedText($ctrl.selectedTeamIds.length) }}</span>
		<span class="md-select-icon" aria-hidden="true"></span>
	</md-select-value>
	<div class="_off-screen">
		<orgpicker-menu class="orgpicker-menu">
			<div class="header">
				<button type="button" title="Collapse All" ng-click="$ctrl.collapseAll()" class="context-menu card-context collapse-all"><i class="mdi mdi-chevron-double-up"></i></button>
				<i class="mdi mdi-magnify"></i>
				<input type="text" class="search md-text" placeholder="{{ 'Search' |translate}}" ng-model="$ctrl.searchText" />
			</div>
			<md-virtual-repeat-container class="virtual-repeat">
				<div md-virtual-repeat="o in $ctrl.orgsInView" class="repeated-item" flex>
					<div ng-click="$ctrl.collapseSite(o)" class="site md-button-toggle md-button md-ink-ripple" ng-if=" o.m.isSite ">
						<div flex layout="row">
							<div class="wfm-checkbox" ng-click="$event.stopPropagation()" ng-class="{'indeterminate': o.isIndeterminate()}">
								<label>
									<input type="checkbox" ng-click="$ctrl.toggleSite($event, o)" ng-checked="o.isChecked()" />
									<span class="wfm-checkbox-toggle"></span>
									<span class="wfm-checkbox-label" ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
								</label>
							</div>
							<span flex></span>
							<span class="md-toggle-icon">
								<i class="mdi" ng-class=" o.collapsed ? 'mdi-chevron-down' : 'mdi-chevron-up' "></i>
							</span>
						</div>
					</div>
					<button type="button" ng-if=" !o.m.isSite " ng-click="$ctrl.toggleTeam(o)" class="team md-button md-ink-ripple">
						<div class="wfm-checkbox">
							<input type="checkbox" ng-checked="o.m.site.checkTeamIsSelected(o.m.id)" />
							<span class="wfm-checkbox-toggle"></span>
							<span class="wfm-checkbox-label" ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
						</div>
					</button>
				</div>
			</md-virtual-repeat-container>
			<div class="footer">
				<button ng-click="$ctrl.clearAll()" class="wfm-btn wfm-btn-invis-default">{{'Clear'|translate}}</button>
				<button ng-click="$ctrl.menuRef.close()" class="wfm-btn wfm-btn-invis-default">{{'Done'|translate}}</button>
			</div>
		</orgpicker-menu>
	</div>
</div>