
<md-select ng-model="$ctrl.selectedTeamIds"
		   md-on-close="$ctrl.onPickerClose()"
		   md-on-open="$ctrl.onPickerOpen()"
		   md-selected-text="$ctrl.formatSelectedDisplayName()"
		   data-md-container-class="organization-picker-menu">
	<md-select-header class="picker-select-header">
		<input ng-model="$ctrl.searchTerm" type="search" placeholder="{{'SearchAnOrganization' | translate}}" class="picker-searchbox md-text" ng-keydown="$ctrl.onSearchOrganization($event)">
	</md-select-header>
	<md-optgroup ng-repeat="site in $ctrl.groupList | filter: $ctrl.searchTerm">
		<div class="group-header pointer" ng-class="{'partial-selected':$ctrl.hasTeamsSelected(site)}">
			<div class="title" style="margin-left: 10px; padding: 5px 0;">{{site.name}}</div>
			<span class="dropdown-icon" ng-hide="site.teams.length == 0" ng-click="$ctrl.showTeamListOfSite(site, $event)">
				<i class="mdi" ng-class="site.expanded ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i>
			</span>
		</div>
		<md-option ng-class="{'must-hide': !site.expanded }" ng-value="team.id" ng-click="$ctrl.setCurrentSiteValue(site)" ng-repeat="team in site.teams | filter: $ctrl.processSearchTermFilter(site)">{{team.name}}</md-option>
	</md-optgroup>

</md-select>