<div class="orgpicker-wrapper">
	<md-select-value class="md-select-value" ng-click="$ctrl.openMenu($event)" ng-class="{'none-selected': $ctrl.selectedTeamIds.length == 0}">
		<span class="selected-text">{{$ctrl.selectedText($ctrl.selectedTeamIds.length)}}</span>
		<span class="md-select-icon" aria-hidden="true"></span>
	</md-select-value>
	<div class="_off-screen">
		<orgpicker-menu class="orgpicker-menu single-mode">
			<div class="header">
				<i class="mdi mdi-magnify"></i>
				<input type="text" class="search md-text" placeholder="{{ 'Search' |translate}}" ng-model="$ctrl.searchText" />
			</div>
			<div class="longest-name">{{$ctrl.longestName}}</div>
			<md-virtual-repeat-container class="virtual-repeat" md-top-index="$ctrl.topIndex">
				<div md-virtual-repeat="o in $ctrl.orgsInView" class="repeated-item" flex>
					<div ng-click="$ctrl.collapseSite(o)" class="site md-button-toggle md-button md-ink-ripple" ng-if=" o.m.isSite " ng-class="{'contains-selected-team': o.isChecked() || o.isIndeterminate()}">
						<div flex layout="row">
							<span ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
							<span flex></span>
							<span class="md-toggle-icon">
								<i class="mdi" ng-class=" o.collapsed ? 'mdi-chevron-down' : 'mdi-chevron-up' "></i>
							</span>
						</div>
					</div>
					<button type="button" ng-if=" !o.m.isSite " ng-click="$ctrl.toggleTeam(o)" class="team md-button md-ink-ripple" ng-class="{'selected': o.m.site.checkTeamIsSelected(o.m.id)}">
						<span ng-bind-html="o.m.name | searchFilter:$ctrl.searchText"></span>
					</button>
				</div>
			</md-virtual-repeat-container>
		</orgpicker-menu>
	</div>
</div>