<div ng-controller="changePasswordController as vm" style="margin-left: 50px;margin-right: 50px">
	<div class="row">
		<div class="col-md-12">
			<a style="float: left; padding-top: 25px; padding-right: 50px" href="#"><img alt="back" title="Back to Start" src="Content/images/left_round.png" /></a>
			<h2>Change password</h2>
			<div>
				<div class="importCaption">Old Password</div>
				<input class="form-control" type="password" ng-model="vm.OldPassword" ng-blur="vm.CheckOld()" placeholder="old password">
			</div>
			<label ng-class="(vm.OldOk==true) ? 'dbOk' : 'dbNotOk'">{{vm.OldPasswordMessage}}</label>
			<div class="importCaption">New Password</div>
			<div>
				<input class="form-control" type="password" ng-model="vm.Password" ng-blur="vm.CheckPassword()" placeholder="new password">
			</div>

			<div>
				<div class="importCaption">Confirm new Password</div>
				<div>
					<input class="form-control" type="password" ng-model="vm.ConfirmPassword" ng-blur="vm.CheckPassword()" placeholder="confirm new password">
					<label ng-class="(vm.PasswordOk==true) ? 'dbOk' : 'dbNotOk'">{{vm.PasswordMessage}}</label>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div style="margin-top: 30px" class="col-md-6">
			<button class="btn btn-primary btn-default" ng-click="vm.save()">Save</button>
			<br />
			<label class="ErrorLabel">{{vm.ErrorMessage}}</label>
		</div>

	</div>

</div>

