<div ng-controller="configurationDetailsController as vm" style="margin-left: 50px;margin-right: 50px">
	<div class="row">
		
		
		<div class="col-md-12">
			<a style="float: left; padding-top: 25px; padding-right: 50px" href="#/"><img alt="back" title="Back to Configurations" src="Content/images/left_round.png"/></a>

			<h2>{{vm.Key}}</h2>
		</div>
		<div class="col-md-12">
			<div>
				<input class="form-control" type="text" ng-model="vm.Value" placeholder="Value">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div style="margin-top: 30px" class="col-md-6">
			<label class="ErrorLabel">Important: After saving, you need to run FixServerConfiguration.bat in administrator mode under Teleopti\SupportTools folder on all web servers, to be able to refresh server configuration.</label>
		</div>
	</div>

	<div class="row">
		<div style="margin-top: 30px" class="col-md-6">
			<button class="btn btn-primary btn-default" ng-disabled="!vm.SaveEnabled" ng-click="vm.save()">Save</button>
			<br />
			<label class="ErrorLabel">{{vm.Message}}</label>
		</div>
	</div>

</div>

