<div ng-controller="detailsController as detailsVm" style="margin-left: 50px;margin-right: 50px">
	<div class="row">
		<div class="col-md-12">
			<h2>Details - {{detailsVm.OriginalName}}</h2>
			<p>
				Showing details of one Tenant. Here you can change the name (sooner anyway, not right now) and the connection strings.
			</p>
		</div>
		<div class="col-md-12">
			<div>
				<div class="importCaption">Tenant name</div>
				<input class="form-control" type="text" ng-model="detailsVm.Tenant" ng-blur="detailsVm.CheckTenantName()" placeholder="Tenant name">
			</div>
			<label ng-class="(detailsVm.TenantOk==true) ? 'dbOk' : 'dbNotOk'">{{detailsVm.TenantMessage}}</label>
			<div>
				<div class="importCaption">Application database connections string</div>
				<div>
					<input class="form-control importConnstring" type="text" ng-model="detailsVm.AppDatabase" ng-blur="detailsVm.CheckAppDb()" placeholder="Connection string">
					<label ng-class="(detailsVm.AppDbOk==true) ? 'dbOk' : 'dbNotOk'">{{detailsVm.AppDbCheckMessage}}</label>
				</div>

				<div>
					<div class="importCaption">Analytics database connection string</div>
					<input class="form-control importConnstring" type="text" ng-model="detailsVm.AnalyticsDatabase" ng-blur="detailsVm.CheckAnalDb()" placeholder="Connection string">
					<label ng-class="(detailsVm.AnalDbOk==true) ? 'dbOk' : 'dbNotOk'">{{detailsVm.AnalDbCheckMessage}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin-top: 30px" class="col-md-6"><button class="btn btn-primary btn-default" ng-click="detailsVm.save()">Save</button></div>
		<div  style="margin-top: 30px" class="col-md-6"><button class="btn btn-danger btn-default" ng-click="detailsVm.delete()">Delete this Tenant</button></div>
	</div>

</div>
