<div ng-controller="detailsController as detailsVm" style="margin-left: 50px;margin-right: 50px">
	<div class="row">
		<div class="col-md-12">
			
			<a style="float: left; padding-top: 25px; padding-right: 50px" href="#/"><img alt="back" title="Back to Start" src="Content/images/left_round.png"/></a>
			<h2>Details - {{detailsVm.OriginalName}}</h2>
			<p>
				Showing details of one Tenant.
			</p>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<form name="form">
					<div class="importCaption">Version: <span class="detail"> {{detailsVm.Version.ImportAppVersion}}</span></div>
					<div class="importCaption">Tenant name:<span class="detail"> {{detailsVm.Tenant}}</span></div>
					<div class="importCaption">Server:<span class="detail"> {{detailsVm.Server}}</span></div>
					<div class="importCaption">Application database:<span class="detail"> {{detailsVm.AppDatabase}}</span></div>
					<div class="importCaption">Analytics database:<span class="detail"> {{detailsVm.AnalyticsDatabase}}</span></div>
					<div class="importCaption">Aggregation database:<span class="detail"> {{detailsVm.AggregationDatabase}}</span></div>
					
					<div class="form-group">
						<label class="importCaption" for="commandtimeout">Command timeout (in seconds)</label>
						<input class="form-control" id="commandtimeout" type="number" min="30" max="600" required ng-model="detailsVm.CommandTimeout" placeholder="Command timeout">
					</div>
					
					<div class="form-group" ng-class="{'has-error': !form.qrcodeurl.$valid}">
						<label class="importCaption" for="qrcodeurl">QR-Code URL for mobile apps</label>
						<input name="qrcodeurl" id="qrcodeurl" type="url" class="form-control" ng-model="detailsVm.MobileQRCodeUrl" />
						<span ng-if="!form.qrcodeurl.$valid" class="help-block text-danger">Enter a valid URL or leave blank</span>
					</div>
					
					<div class="form-group">
						<label class="importCaption" for="maximumSessionTime">Maximum session timeout for web (in minutes)</label>
						<input class="form-control" id="maximumSessionTime" type="number" min="1" ng-model="detailsVm.MaximumSessionTime" placeholder="In minutes">
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="detailsVm.Active">
							<span class="importCaption">Active</span>
						</label>
					</div>
				</form>
			<div style="margin-top: 30px">
				<button class="btn btn-primary btn-default" ng-disabled="!form.$valid" ng-click="detailsVm.save()">Save</button>
				<div style="float: right" ng-show="detailsVm.AllowDelete">
				<md-button class="md-button md-raised md-primary btn-danger" ng-click="detailsVm.showConfirm()"><md-icon md-svg-src="Content/images/ic_delete_black_24px.svg"></md-icon> Detach this Tenant</md-button>
				</div>
			</div>

		        <a style="margin-top: 30px" class="btn btn-success " href="#addSuperUser/{{detailsVm.Tenant}}">Add a new super user &raquo;</a>
		        <br/>
		    </div>

			<div class="col-md-6" ng-show="detailsVm.ShowUpgrade()" style="margin-top: 30px">
				<div title="{{detailsVm.SqlUserOkMessage}}">
					<fieldset>
						<legend ng-class="(detailsVm.SqlUserOk==true) ? 'dataIsOk' : 'dataIsNotOk'">Credentials to upgrade</legend>
						<div>
							<input type="checkbox" ng-model="detailsVm.UseIntegratedSecurity" ng-change="detailsVm.CheckImportAdmin()" /> Use Integrated Security
						</div>

						<div ng-hide="detailsVm.UseIntegratedSecurity">
							<div class="importCaption">SQL User Name (that have permissions to upgrade databases on the server)</div>
							<div>
								<input class=" form-control" type="text" ng-model="detailsVm.CreateDbUser" ng-blur="detailsVm.CheckImportAdmin()" placeholder="SQL User Name">
							</div>
							<div>
								<div class="importCaption">SQL Password</div>
								<input class="form-control" type="password" ng-model="detailsVm.CreateDbPassword" ng-blur="detailsVm.CheckImportAdmin()" placeholder="SQL Password">
							</div>

						</div>
						<label ng-class="(detailsVm.SqlUserOk==true) ? 'dataIsOk' : 'dataIsNotOk'">{{detailsVm.SqlUserOkMessage}}</label>
						<br />
						<a class="btn btn-warning" ng-show="detailsVm.SqlUserOk" ng-click="detailsVm.UpgradeTenant()">Upgrade Tenant</a>
					</fieldset>
					<br />
					<fieldset>
						<legend>Create a new Business Unit</legend>
						<div class="importCaption">Name of the new Business Unit</div>
						<div>
							<input class=" form-control" type="text" ng-model="detailsVm.BuName" placeholder="New Business Unit">
						</div>
						<br />
						<a class="btn  btn-warning" ng-click="detailsVm.AddBu()">Save new Business Unit</a>
						<br />
						<label ng-class="(detailsVm.NewBuOk==true) ? 'dataIsOk' : 'dataIsNotOk'">{{detailsVm.NewBusinessUnitMessage}}</label>
					</fieldset>
					<br />
					<fieldset>
						<legend>SMTP settings</legend>
						<email-settings></email-settings>
					</fieldset>
					<fieldset>
						<legend>SMS settings</legend>
						<sms-settings></sms-settings>
					</fieldset>
				</div>

			</div>

		</div>

		<div class="col-md-12">
			<div class="col-md-12">
				<br />

				<label for="chkShowLog">
					<input type="checkbox" id="chkShowLog" ng-model="detailsVm.ShowLog" ng-change="detailsVm.ShowHide()" />
					Show upgrade log
				</label>
			</div>
			
		</div>

		<div class="col-md-12" ng-show="detailsVm.ShowTheLog">
			<div class="col-md-12">
				<h3>Database upgrade log</h3>
				<table>
					<thead>
						<tr>
							<td class="paddingTenantList">Name</td>
							<td class="paddingTenantList">Time</td>
							<td class="paddingTenantList">Level</td>
							<td class="paddingTenantList">Message</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in detailsVm.Log" ng-class-odd="'oddRow'">
							<td class="paddingTenantList">{{row.Tenant}} </td>
							<td class="paddingTenantList">{{row.Time}} </td>
							<td class="paddingTenantList">{{row.Level}} </td>
							<td class="paddingTenantList">{{row.Message}} </td>

						</tr>
					</tbody>
				</table>
			</div>
				
			</div>
	</div>

</div>
