<section ng-controller="hangfireMonitoringController as vm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<canvas id="statsChart"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div>
					<h3 class="pull-left">Types of events:</h3>
					<button class="pull-left" ng-click="vm.getTypesOfSucceededEvents()" ng-disabled="vm.isFetching" style="margin-top: 22px; margin-left: 10px;">Refresh</button>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Event</th>
						<th>Count</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="event in vm.eventCount">
						<td>{{event.Type}}</td>
						<td>{{event.Count}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-6">
				<h3>Oldest events in queue:</h3>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Event</th>
						<th>Created at</th>
						<th>In queue for</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="event in vm.oldestEvents">
						<td>{{event.Type}}</td>
						<td>{{event.CreatedAt}}</td>
						<td>{{event.Duration}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div>
					<h3 class="pull-left">Types of failed events:</h3>
					<button class="pull-left" ng-click="vm.getTypesOfFailedEvents()" ng-disabled="vm.isFetching" style="margin-top: 22px; margin-left: 10px;">Refresh</button>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Event</th>
							<th>Count</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in vm.eventCountFailed">
							<td>{{event.Type}}</td>
							<td>{{event.Count}}</td>
							<td>
								<button ng-click="vm.requeueFailedEvents(event.Type)">
									Requeue
								</button>
								<button ng-click="vm.deleteFailedEvents(event.Type)">
									Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>