<section ng-controller="hangfireMonitoringController_RTA_HangfirePerformanceStats_76139 as vm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div>
					<h3 class="pull-left">Types of failed events:</h3>
					<button class="pull-left" ng-click="vm.getTypesOfFailedEvents()" ng-disabled="vm.isFetching" style="margin-top: 22px; margin-left: 10px;">Refresh</button>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Event</th>
						<th>Count</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="event in vm.eventCountFailed">
						<td>{{event.Type}}</td>
						<td>{{event.Count}}</td>
						<td>
							<button ng-click="vm.requeueFailedEvents(event.Type)">
								Requeue
							</button>
							<button ng-click="vm.deleteFailedEvents(event.Type)">
								Delete
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-8">
				<div>
					<h3 class="pull-left">Job Performance</h3>
					<button class="pull-left" ng-click="vm.getPerformanceStatistics()" ng-disabled="vm.isFetching" style="margin-top: 22px; margin-left: 10px;">Refresh</button>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Job</th>
						<th>Executions</th>
						<th>Total execution time</th>
						<th>Average time</th>
						<th>Max time</th>
						<th>Min time</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="job in vm.jobs">
						<td>{{job.Type}}</td>
						<td>{{job.Count}}</td>
						<td>{{job.TotalExecutionTime}}</td>
						<td>{{job.AverageExecutionTime}}</td>
						<td>{{job.MaxExecutionTime}}</td>
						<td>{{job.MinExecutionTime}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>