<div ng-controller="hangfireMonitoringController_RTA_HangfireStatistics_76139_76373 as vm" class="container body-content">
	<h2>Hangfire Statistics</h2>
	<div ng-if="vm.loading">
		<h2 ng-if="vm.loading">Loading...</h2>
		<span>(May take a few minutes)</span>
	</div>
	<div class="row" ng-if="!vm.loading">
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Job Failures</strong>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Job</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="failedJob in vm.jobFailures">
								<td>{{failedJob.Type}}</td>
								<td>{{failedJob.Count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Job Performance</strong>
					<span> - Statistics based on successes</span>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Job</th>
								<th>Count</th>
								<th>Total time</th>
								<th>Average time</th>
								<th>Max time</th>
								<th>Min time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in vm.jobPerformance">
								<td>{{job.Type}}</td>
								<td>{{job.Count}}</td>
								<td>{{job.TotalTime}}</td>
								<td>{{job.AverageTime}}</td>
								<td>{{job.MaxTime}}</td>
								<td>{{job.MinTime}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
