<div ng-controller="hangfireMonitoringController_RTA_HangfireStatistics_76139_76373 as vm" class="container body-content">
	<h2>Hangfire Monitoring</h2>
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Failed jobs</strong>
					<button class="pull-right" ng-click="vm.getTypesOfFailedEvents()" ng-disabled="vm.isFetching">Refresh</button>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Event</th>
								<th>Count</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="event in vm.eventCountFailed">
								<td>{{event.Type}}</td>
								<td>{{event.Count}}</td>
								<td>
									<button ng-click="vm.requeueFailedEvents(event.Type)">
										Requeue
									</button>
									<button ng-click="vm.deleteFailedEvents(event.Type)">
										Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Job Performance</strong>
					<button class="pull-right" ng-click="vm.getPerformanceStatistics()" ng-disabled="vm.isFetching">Refresh</button>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Job</th>
								<th>Count</th>
								<th>Total time</th>
								<th>Average time</th>
								<th>Max time</th>
								<th>Min time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in vm.jobs">
								<td>{{job.Type}}</td>
								<td>{{job.Count}}</td>
								<td>{{job.TotalTime}}</td>
								<td>{{job.AverageTime}}</td>
								<td>{{job.MaxTime}}</td>
								<td>{{job.MinTime}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
