<div class="container body-content" ng-controller="listController">
	<h2>Manage Tenants</h2>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Import existing</div>
				<div class="panel-body text-container">
					If you already have databases (one Application and one Analytics) that you want to include in the multi tenant administration you can import it here.
				</div>
				<div class="panel-footer">
					<a href="#import">
						<button class="btn btn-primary" md-svg-icon="alarm">
							<md-icon style="padding-right: 5px" md-svg-src="Content/images/ic_forward_black_24px.svg"></md-icon>
							<span class="text-white">Start import &raquo;</span>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Create new Tenant</div>
				<div class="panel-body text-container">
					Lets you create new databases to hold Teleopti WFM data and connect them to a new Tenant.
				</div>
				<div class="panel-footer">
					<a href="#create">
						<button class="btn btn-primary">
							<md-icon style="padding-right: 5px" md-svg-src="Content/images/ic_group_add_black_24px.svg"></md-icon>
							<span class="text-white">Create new &raquo;</span>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Manage Users</div>
				<div class="panel-body text-container">
					Handle users that have access to this web site.
				</div>
				<div class="panel-footer">
					<a href="#users">
						<button class="btn btn-primary">
							<md-icon style="padding-right: 5px" md-svg-src="Content/images/ic_account_circle_black_24px.svg"></md-icon>
							<span class="text-white">Users &raquo;</span>
						</button>
					</a>

				</div>
			</div>
		</div>
	</div>
	<br />

	<h2>Tenants in this installation</h2>

	<div>
		<div>
			<table>
				<thead>
				<tr>
					<th>Name</th>
					<th>Application database</th>
					<th>Analytics database</th>
					<th>Aggregation database</th>
					<th>Version</th>
					<th>Active</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="tenant in Tenants">
					<td>
						<a href="#details\{{tenant.Name}}">
							<md-icon style="padding-right: 5px" md-svg-src="Content/images/ic_group_black_24px.svg"></md-icon>{{tenant.Name}}</a>
					</td>
					<td><a href="#details\{{tenant.Name}}">{{tenant.AppDatabase}}</a> </td>
					<td><a href="#details\{{tenant.Name}}">{{tenant.AnalyticsDatabase}}</a> </td>
					<td><a href="#details\{{tenant.Name}}">&nbsp;{{tenant.AggregationDatabase}}</a> </td>
					<td><a href="#details\{{tenant.Name}}">{{tenant.Version.ImportAppVersion}}</a> </td>
					<td>{{tenant.Active}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<h2>Configuration for this installation</h2>
	<div>
		<table>
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="configuration in Configurations">
					<td><a href="#configurationdetails\{{configuration.Key}}">{{configuration.Key}}</a></td>
					<td><a href="#configurationdetails\{{configuration.Key}}">{{configuration.Value}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
