<div ng-controller="MobileAppsController as vm" class="qrcode-container container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="input-group">
				<p>Configure the URL for Mytime (max-length: 123)</p>
				<input type="text" class="form-control" placeholder="Please input url start with http:// or https://" ng-model="vm.inputUrl" aria-describedby="InputUrl" ng-keydown="$event.which == 13 && vm.saveBaseUrl()"/>
				<button class="btn btn-info" ng-click="vm.saveBaseUrl()">Save</button>
			</div>

			<qrcode version="7" error-correction-level="M" size="300" data="{{vm.inputUrl}}" download></qrcode>
			<p class="qrcode-tip">Auto update QRCode</p>

			<h4>Use Teleopti Mobile App (

				<a href="{{vm.teleoptiAndroidAppLink}}" target="_blank" ng-mouseenter="vm.showAndriodAppQRCode = true;" ng-mouseleave="vm.showAndriodAppQRCode = fasle;"> Andriod
					<qrcode class="android-app" version="7" error-correction-level="M" size="250" data="{{vm.teleoptiAndroidAppLink}}" ng-if="vm.showAndriodAppQRCode" download></qrcode>
				</a>

				 or 

				<a href="{{vm.teleoptiIOSAppLink}}" target="_blank" ng-mouseenter="vm.showIOSAppQRCode = true;" ng-mouseleave="vm.showIOSAppQRCode = fasle;">IOS
					<qrcode class="ios-app" version="7" error-correction-level="M" size="250" data="{{vm.teleoptiIOSAppLink}}" ng-if="vm.showIOSAppQRCode" download></qrcode>

				</a>
			) to scan this QRCode</h4>

			<div class="apps-qrcode">


			</div>
		</div>
	</div>
</div>