<div class="rta-view">
	<div class="view-header with-fab with-desc" ng-cloak>
		<div class="view-title">
			<div class="pull-left">
				<h1><i class="mdi mdi-alarm"></i> Historical</h1>
			</div>
			<div class="rta-top-buttons-wrapper pull-left">
				<span>
					<button class="wfm-btn wfm-btn-default"
							ng-click="vm.goToOverview()">{{'Dashboard'|translate}}</button>
					<button class="wfm-btn wfm-btn-default"
							ng-click="vm.goToSelectItem()">{{'Agents'|translate}}</button>
					<button class="wfm-btn wfm-btn-primary rta-default-cursor">Historical</button>
				</span>
			</div>
		</div>
	</div>

	<div class="panel material-depth-1">

		<table class="wfm-table cursor-pointer">
			<tr>
				<th style="width: 20%">
					{{'Name'|translate}}
				</th>
				<th>
					{{'SiteTeam'|translate}}
				</th>
				<th ng-repeat="s in vm.smilies" ng-style="{width: s.width}">
					{{s.header}}
				</th>
			</tr>
			<tr ng-repeat="agent in vm.agents">
				<td>
					{{agent.Name}}
				</td>
				<td>
					{{agent.SiteAndTeamName}}
				</td>
				<td ng-repeat="s in agent.smilies" style="color: rgba(255, 255, 255, 0.3);" ng-style="{textShadow: s.color}">
					{{s.e}}
				</td>
			</tr>
		</table>
	</div>

</div>
