<div nz-row class="wrapper" nzType="flex" nzJustify="center" nzAlign="middle">
  <div nz-col nzSpan="8">
    <div nz-row class="form-box" nzType="flex" nzJustify="center">
      <div nz-col nzSpan="20">
        <h1>{{'ResetPassword' | translate}}</h1>

        <ng-container *ngIf="!successfulReset && !(hasValidToken$ | async)">
          <invalid-link-message></invalid-link-message>
        </ng-container>

        <ng-container *ngIf="successfulReset">
          <success-message (linkAction)="gotoLogin()"></success-message>
        </ng-container>

        <ng-container *ngIf="!successfulReset && (hasValidToken$ | async)">
          <reset-password-form (onSuccess)="successfulReset = true" [token]="token" (onCancel)="gotoLogin()"></reset-password-form>
        </ng-container>

      </div>
    </div>
  </div>
</div>