
<div ng-cloak class="modal-box">
	<button ng-click="showFilterRules = !showFilterRules" class="wfm-btn wfm-btn-invis-default" ng-hide="node.Filters.length <6">
		<span translate>Show more</span>
	</button>
	<div ng-cloak ng-show="showFilterRules">
		<div class="modalbg">
			<div class="dialog">
				<h1 class="modal-title">
					{{node.Name}}
				</h1>
				<div class="modal-inner-content">
					<div ng-repeat="subfilter in node.Filters">
						{{subfilter.FilterType}} {{subfilter.Name}}
					</div>
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="showFilterRules = !showFilterRules" class="wfm-btn wfm-btn-invis-default">{{'Close'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
