<div class="row col-lg-12">
	<div ng-show="!planningPeriod.$resolved">
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		<p>{{'CheckingForecastingRequirements' | translate}}</p>
	</div>
	<div class="row" ng-show="planningPeriod.$resolved">
		<h4>{{'NextPlanningPeriodMessage' | translate}} {{planningPeriod.StartDate | date:"yyyy-MM-dd"}} {{'ToText' | translate}} {{planningPeriod.EndDate | date:"yyyy-MM-dd"}}</h4>
		<p ng-show="planningPeriod.Skills.length>0">{{'PlanningPeriodMissingMessage' | translate}}</p>

		<div ng-show="planningPeriod.Skills.length>0">
			{{'MissingSkills' | translate }}
		</div>

		<ul class="wfm-accordion material-depth-2">
			<li ng-repeat="skill in planningPeriod.Skills">
				<div class="wfm-accordion-head" ng-click="skill.toggle = !skill.toggle">
					{{skill.SkillName}} <i ng-class="{'toggle-icon-open':skill.toggle}" class="mdi mdi-chevron-down"></i>
					<span class="pull-right" class="text-muted">{{skill.MissingRanges.length}} {{'IssuesText' | translate }}</span>
				</div>
				<div class="wfm-accordion-content" ng-cloak ng-show="skill.toggle">
					<div ng-repeat="range in skill.MissingRanges">{{'MissingForecastFrom' | translate }} {{range.StartDate | date:"yyyy-MM-dd"}} {{'ToText' | translate}} {{range.EndDate | date:"yyyy-MM-dd"}}</div>
				</div>
			</li>
		</ul>
		<button class="wfm-btn wfm-btn-primary" ng-click="LaunchSchedule(planningPeriod.StartDate,planningPeriod.EndDate) ; scheduleClicked = 'true'">Schedule</button><span ng-show="schedulingPerformed">{{scheduledDays}} days are scheduled</span>
		<div ng-show="scheduleClicked && !schedulingPerformed">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			<p>Scheduling .. </p>
		</div>
	</div>
</div>