<!-- this class is used for asserts in tests -->
<div class="view-header">
	<div class="view-title">
		<h1> <i class="mdi mdi-calendar"></i> {{'SchedulingResult'|translate}}: {{planningPeriod.StartDate | amDateFormat:"L"}} - {{planningPeriod.EndDate | amDateFormat:"L"}}</h1>
		<p>{{scheduledAgents}} {{'AgentsSuccessfullyScheduled'|translate}}</p>

	</div>
	<div class="fab-wrapper">
		<button class="wfm-fab material-depth-1 grow-out" ng-class="{'shrink-in': publishedClicked}" ng-click="publishSchedule()">
			<i class="mdi mdi-arrow-right"></i>
			<md-tooltip>{{'PublishSchedule'|translate}}</md-tooltip>
		</button>
	</div>
</div>

<div class="panel material-depth-1 test-scheduling-result">
	<div class="sub-header">
		<h2>{{'Schedule'|translate}}</h2>
		<div class="head-actions panel-menu">
			<div tabindex=0 class="context-menu card-context">
				<i class="mdi mdi-dots-vertical"></i>
				<span class="context-menu-left">
		 <ul class="wfm-list">
		   <li ng-show="optimizeDayOffIsEnabled()" ng-dissabled="" ng-click="intraOptimize()">{{'IntraOptimize'|translate}}</li>
		 </ul>
	   </span>
			</div>
		</div>
	</div>
	<div class="con-row demo-outline">
		<div class="con-flex">
			<div class="legends" ng-show="!optimizeRunning" layout="column">
				<ul>
					<li>{{'CriticalUnderstaffingColon' | translate}}
						<div class="legend critUnderstaffed"></div>
					</li>
					<li>{{'UnderstaffingColon'|translate}}
						<div class="legend understaffed"></div>
					</li>
					<li>{{'OverstaffingColon'|translate}}
						<div class="legend overstaffed"></div>
					</li>
					<li>{{'WeekendColon'|translate}}
						<div class="legend weekend"></div>
					</li>
				</ul>
			</div>
			<div class="grid-scroll-wrap">
				<md-progress-linear ng-show="optimizeRunning" md-mode="indeterminate"></md-progress-linear>
					<div ng-show="optimizeRunning" class="wfm-block material-depth-1">{{'OptimizingIntraday'|translate}}</div>
				<table ng-hide="dates.length > 0" class="overview" ng-show="!optimizeRunning">
					<tr ng-repeat="(index, subnode) in dayNodes | limitTo:1 ">
						<th></th>
						<th class="datehead" ng-repeat="datenode in subnode.SkillDetails">
							<p>{{datenode.Date | amDateFormat:"DD/MM" }}</p>
						</th>
					</tr>
					<tr ng-repeat="(index, subnode) in dayNodes">

						<td class="skillname">{{ subnode.SkillName }}</td>
						<td ng-repeat="node in subnode.SkillDetails" ng-class="{weekend: node.weekend}">
							<div class="resourceplanner-box" ng-class="{understaffed:node.ColorId==1,critUnderstaffed:node.ColorId==2,overstaffed:node.ColorId==3, closed: node.ColorId==4}">
								<div class="floater-box">
									<p>{{node.Date | amDateFormat:"L"}}</p>
									<p>{{'RelativeDifference' | translate}}: {{node.parseDif}}%</p>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="con-footer">
		<button class="wfm-btn wfm-btn-invis-default" ng-show="hasIssues" ng-click="accordionToggle2 = !accordionToggle2;">{{'IssuesText' | translate}}</button>
		<!--<button class="wfm-btn wfm-btn-invis-primary">Options</button>-->
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1" ng-show="accordionToggle2">
			<div class="con-row demo-outline">
				<div class="con-flex">
					<div class="wfm-accordion-content">
						<div class="resourceplanner-report">
						<div ui-grid="gridOptions" ui-grid-auto-resize class="grid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
