
	<div>
		<button class="wfm-btn wfm-btn-primary pull-right" ng-class="{'wfm-btn wfm-btn-primary-disabled': publishedClicked}" ng-click="publishSchedule()">Publish</button>
		<h4>Scheduling result</h4>
		{{planningPeriod.StartDate |  amDateFormat:"L"}} - {{planningPeriod.EndDate |  amDateFormat:"L"}}
		<p>{{scheduledAgents}} agents were successfully scheduled</p>
		<p ng-if="hasIssues"></p>
	</div>
    <div class="wfm-accordion-head" ng-click="accordionToggle1 = !accordionToggle1;">Schedule<i ng-class="{'toggle-icon-open':!accordionToggle1}" class="mdi mdi-chevron-right"></i></div>
    <div class="wfm-accordion-content" ng-cloak ng-show="!accordionToggle1">
        <div class="wfm-grid">
            <div layout-wrap>
                <div class="legends" layout ="column">

									<ul>
                    <li>Critical Understaffing:<div class="legend critUnderstaffed"></div></li>
                     <li>Understaffing:<div class="legend understaffed"></div></li>
                     <li>Overstaffing:<div class="legend overstaffed"></div></li>
                     <li>Weekend:<div class="legend weekend"></div></li>
									 </ul>


                </div>
				<div class="grid-scroll-wrap">
                <table ng-hide="dates.lenght > 0" class="overview">
                    <tr ng-repeat="(index, subnode) in dayNodes | limitTo:1 ">
                        <th></th>
                        <th class="datehead" ng-repeat="datenode in subnode.SkillDetails">
                            <p>{{datenode.Date.Date  |  amDateFormat:"DD/MM" }}</p>
                        </th>
                    </tr>
                    <tr ng-repeat="(index, subnode) in dayNodes">

                        <td class="skillname">{{ subnode.SkillName }}</td>
                        <td ng-repeat="node in subnode.SkillDetails" ng-class="{weekend: node.weekend}"  >
							<div class="resourceplanner-box"
							ng-class="{understaffed:node.ColorId==1,critUnderstaffed:node.ColorId==2,overstaffed:node.ColorId==3, closed: node.ColorId==4}">
                            <div class="floater-box">
	                            <p>{{node.Date.Date |  amDateFormat:"L"}}</p>
	                            <p>Rel diff: {{node.parseDif}}%</p>
                            </div>
						</div>
                        </td>
                    </tr>
                </table>
			</div>
            </div>
        </div>
    </div>

    <div class="wfm-accordion-head" ng-click="accordionToggle2 = !accordionToggle2;">{{issues.length}} issues were found during scheduling<i ng-class="{'toggle-icon-open':accordionToggle2}" class="mdi mdi-chevron-right"></i></div>
    <div class="wfm-accordion-content" ng-cloak ng-show="accordionToggle2">
	    <div ng-if="hasIssues" class="resourceplanner-report material-depth-2"></div>
    <div ui-grid="gridOptions" ui-grid-auto-resize class="grid"></div>
</div>
