<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="wfm-wrap"layout></div>
    <div class="input-prepend" flex="100">
    <i class="mdi mdi-magnify"></i>
    <input type="text" name="search" ng-model="searchString" ng-model-options="{ debounce: 1000 }"/>
    </div>
    <div class="wfm-results" ng-repeat="result in results" >
        <div class="wfm-result" ng-click="selectResultItem(result)">{{result}}</div>
    </div>
    <h1>this is selected</h1>
    {{selected}}
</body>
</html>
