
	<div>
		<h4>Scheduling result</h4>
		<p>{{scheduledAgents}} agents were successfully scheduled</p>
		<p ng-if="hasIssues"></p>
	</div>
    <div class="wfm-accordion-head" ng-click="accordionToggle1 = !accordionToggle1;">Schedule<i ng-class="{'toggle-icon-open':!accordionToggle1}" class="mdi mdi-chevron-right"></i></div>
    <div class="wfm-accordion-content" ng-cloak ng-show="!accordionToggle1">
        <div class="wfm-grid">
            <div layout-wrap>
                <div class="legends" layout ="row">
                    <div flex><p>Critical understaff:</p><div class="legend critUnderstaffed"></div>
                    </div>
                     <div flex><p>Understaff:</p><div class="legend understaffed"></div>
                     </div>
                     <div flex><p>Overstaff:</p><div class="legend overstaffed"></div>
                     </div>
                     <div flex><p>Weekend:</p><div class="legend weekend"></div>
                     </div>
                     <div flex><p>All is fine:</p><div class="legend blip"></div>
                     </div>

                </div>
                <div  ng-repeat="node in dayBoxes" ng-class="{gridWeekend: box.status ==='weekend',gridNotice: box.status ==='error'}">
                    <div layout="row">
                        <div flex="20">{{node.SkillName}}</div>
                        <div class="dayNode" flex>
                            <div class="blip" flex ng-repeat="subnode in node.SkillDetails" ng-class="{weekend: subnode.weekend,weekstart: subnode.weekstart,understaffed:subnode.ColorId==1,critUnderstaffed:subnode.ColorId==2,overstaffed:subnode.ColorId==3}">
                                <div class="floater-box">
                                    <p>{{subnode.Date.Date}}</p>
                                    <p>Rel diff:{{subnode.RelativeDifference}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="wfm-accordion-head" ng-click="accordionToggle2 = !accordionToggle2;">{{issues.length}} issues were found during scheduling<i ng-class="{'toggle-icon-open':accordionToggle2}" class="mdi mdi-chevron-right"></i></div>
    <div class="wfm-accordion-content" ng-cloak ng-show="accordionToggle2">
	    <div ng-if="hasIssues" class="resourceplanner-report material-depth-2"></div>
    <div ui-grid="gridOptions" ui-grid-auto-resize class="grid"></div>
</div>
