<people-title-bar><i class="mdi mdi-account-group"></i> {{'People' | translate}}</people-title-bar>
<h2>{{'AccessManagement' | translate}}</h2>
<div class="con-row">
  <div class="con-flex">
    <div class="sub-header">
      <div class="con-row">
        <div class="con-flex">
          <nz-input-group [nzSuffix]="suffixTemplate" nzPrefix="search">
            <input nz-input [placeholder]="'Search' | translate" [formControl]="searchControl" (keyup.enter)="onSearch()"
              autofocus data-test-searchinput>
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i class="anticon anticon-close-circle" (click)="searchControl.setValue('')" *ngIf="searchControl.value.length"></i>
          </ng-template>
        </div>
        <div class="con-flex x3">
          <button nz-button nzType="default" data-test-grant-button [disabled]="!workspaceService.isAnySelected()"
            (click)="nav.navToGrant()">
            {{'GrantRole' | translate}}</button>
          <button nz-button nzType="default" data-test-revoke-button [disabled]="!workspaceService.isAnySelected()"
            (click)="nav.navToRevoke()">
            {{'RevokeRole' | translate}}</button>
          <button nz-button nzType="default" data-test-applicationlogon-button [disabled]="!workspaceService.isAnySelected()"
            (click)="nav.navToApplicationLogon()">
            {{'ApplicationLogon' | translate}}</button>
          <button nz-button nzType="default" data-test-identitylogon-button [disabled]="!workspaceService.isAnySelected()"
            (click)="nav.navToIdentityLogon()">
            {{'IdentityLogon' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="con-row">
      <div class="con-flex table-container" data-test-search>
        <nz-table #basicTable (nzCurrentPageDataChange)="nzOnCurrentPageDataChange($event)" (nzPageSizeChange)="nzOnPageSizeChange($event)"
          (nzPageIndexChange)="nzOnPageIndexChange($event)" [nzData]="peopleDataSet" [nzFrontPagination]="false"
          nzShowPagination [nzPageSizeOptions]="[20, 50, 100, 500]" [nzSize]="'small'" nzShowSizeChanger [nzPageIndex]="searchService.pageIndex + 1"
          [nzPageSize]="searchService.pageSize" [nzTotal]="searchService.lastQuerySize" [nzNoResult]="'noSearchResults' | translate">
          <thead>
            <tr>
              <th nzWidth="62px" nzShowCheckbox [nzChecked]="isAllSelected()" [nzIndeterminate]="isAnySelected() && !isAllSelected()"
                (nzCheckedChange)="selectAllOnPage()"></th>
              <th (click)="sort('FirstName')" class="first-name" data-test-sort-fn>{{'FirstName' | translate}}
                <ng-container *ngIf="isSortingBy('FirstName')">
                  <i *ngIf="isSortingAsc()" class="anticon anticon-arrow-up"></i>
                  <i *ngIf="isSortingDesc()" class="anticon anticon-arrow-down"></i>
                </ng-container>
              </th>
              <th (click)="sort('LastName')" class="last-name">{{'LastName' | translate}}
                <ng-container *ngIf="isSortingBy('LastName')">
                  <i *ngIf="isSortingAsc()" class="anticon anticon-arrow-up"></i>
                  <i *ngIf="isSortingDesc()" class="anticon anticon-arrow-down"></i>
                </ng-container>
              </th>
              <th (click)="sort('SiteTeam')">{{'SiteTeam' | translate}}
                <ng-container *ngIf="isSortingBy('SiteTeam')">
                  <i *ngIf="isSortingAsc()" class="anticon anticon-arrow-up"></i>
                  <i *ngIf="isSortingDesc()" class="anticon anticon-arrow-down"></i>
                </ng-container>
              </th>
              <th>{{'Roles' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of basicTable.data" data-test-person>
              <td nzShowCheckbox [nzChecked]="workspaceService.isPersonSelected(person.Id)" (nzCheckedChange)="toggleSelectedPerson(person.Id)"
                (click)="$event.stopPropagation()"></td>
              <td data-test-person-firstname>{{person.FirstName}}</td>
              <td data-test-person-lastname>{{person.LastName}}</td>
              <td data-test-person-site-team>{{person.SiteTeam}}</td>
              <td data-test-person-role>{{personToRoles(person)}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <people-workspace class="con-flex"></people-workspace>
    </div>
  </div>
</div>