<style>
	.mfb-component__list > li {
		padding: 0px 0;
		margin: 0px 0;
	}

	.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
	.ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove,
	.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add,
	.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: color 0 ease-in !important;
		-ms-transition: none !important;
		transition: none !important;
	}
</style>
<div>
	<div class="row" style="position:relative">
		<h4 ng-hide="isSelectionMode">{{'ManagePeople' | translate}}</h4>
		<div class="col-md-4">
			<people-search-input search-options="searchOptions" search-callback="searchKeyword"></people-search-input>
		</div>
		
		<div ng-if="dataInitialized && (isImportUsersEnabled || isAdjustSkillEnabled) && !isSelectionMode">
			<button ng-show="rowSelectionEnabled && selectedCount() > 0" class="wfm-fab wfm-panel-delete material-depth-1" ng-click="clearCart()">
				<md-tooltip>{{"ResetSelection" | translate}}</md-tooltip>
				<i class="mdi mdi-account-remove"></i>
			</button>
			<nav class="action-panel" mfb-menu position="tr" effect="slidein-spring"
				 style="position: absolute; top: -1rem;"
				 active-icon="mdi-pencil" resting-icon="mdi-plus"
				 ng-mouseenter=" hovered()" ng-mouseleave="hovered()"
				 toggling-method="click" menu-state="closed">
				<button class="{{cmd.label|lowercase}}" ng-if="cmd.active()" mfb-button icon="{{cmd.icon}}" ng-click="cmd.action()"
						label="{{cmd.label|translate}}" ng-repeat="cmd in commands"></button>
				<span ng-show="rowSelectionEnabled && selectedCount() > 0" class="wfm-panel selection-cart-indicator">
					{{selectedCount()}}
				</span>
			</nav>
		</div>
		
		
	</div>
	
	
	<div class="row select-all-dialog" ng-show="selectAllVisible">
		<span class="notice-spacer" ng-click="selectAllMatch()">
			<a href="javascript: void(0);"> {{'SelectAllMatchedPeople'|translate}}</a>
		</span>
	</div>

	
	<div ui-i18n="{{lang}}" ng-if="dataInitialized" class="big-table-wrapper material-depth-1" style="position: relative">
		
		<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns class="grid people-list"></div>
		<wfm-pagination pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
		
	</div>

	<import-people ng-if="showImportPanel" ng-cloak></import-people>
</div>
