<div class="view-header">
	<h4 ng-hide="isSelectionMode">{{'ManagePeople' | translate}}</h4>
</div>

<div class="panel material-depth-1">
	<div class="row" style="position: relative">
		<div class="col-md-4">
			<people-search-input search-options="searchOptions" search-callback="searchKeyword"></people-search-input>
		</div>

		<div ng-if="dataInitialized && (isImportUsersEnabled || isAdjustSkillEnabled) && !isSelectionMode">
			<button class="context-menu wfm-fab mini pull-right">
				<i class="mdi mdi-dots-vertical" style="color: #000000"></i>
				<div class="context-menu-left" style="z-index: 1000; text-transform: none;">
					<ul class="wfm-list">
						<li class="item" ng-if="cmd.active()" ng-repeat="cmd in commands" ng-click="cmd.action()">
							<div>
								<span class="pull-left">{{cmd.label|translate}}</span>
							</div>
						</li>
						<li class="item" ng-if="rowSelectionEnabled && selectedCount() > 0" ng-click="clearCart()">
							<div>
								<span class="pull-left">{{"ResetSelection" | translate}}</span>
							</div>
						</li>
					</ul>
				</div>
				<span ng-show="rowSelectionEnabled && selectedCount() > 0" class="wfm-panel selection-cart-indicator-for-menu">
						{{selectedCount()}}
					</span>
			</button>
		</div>
	</div>

	<div class="row select-all-dialog" ng-show="selectAllVisible">
		<span class="notice-spacer" ng-click="selectAllMatch()">
				<a href="javascript: void(0);"> {{'SelectAllMatchedPeople'|translate}}</a>
			</span>
	</div>

	<div ui-i18n="{{lang}}" ng-if="dataInitialized" class="big-table-wrapper" style="position: relative">
		<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination ui-grid-resize-columns class="grid people-list"></div>
		<wfm-pagination pagination-options="paginationOptions" get-data-for-page-callback="getPageData"></wfm-pagination>
	</div>

	<import-people ng-if="showImportPanel" ng-cloak></import-people>
</div>
