<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="select2-container col-xs-12" id="s2id_group-picker" style="width: 360px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Barcelona/Optimization Team 1</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen3"></div><select id="group-picker" class="col-xs-12 select2-offscreen" data-bind="disable: Loading, foreach: GroupPages, select2: { value: GroupId } " tabindex="-1">
				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Business Hierarchy">
					<option data-bind="text: Name, value: Id" value="3fe4fe40-066e-4df2-820f-9e2c00b7bbe6">Barcelona/Optimization Team 1</option>

					<option data-bind="text: Name, value: Id" value="35a4bfcd-5994-4d00-a048-9e2c00b7cd22">Barcelona/Optimization Team 2</option>

					<option data-bind="text: Name, value: Id" value="dce1bd34-135b-4d14-b0ad-a3d200c3b127">Barcelona/US West</option>

					<option data-bind="text: Name, value: Id" value="5255a318-1227-4afe-84d7-9e9100f735b6">Helsinki/Team Min-Max</option>

					<option data-bind="text: Name, value: Id" value="e5f968d7-6f6d-407c-81d5-9b5e015ab495">London/Students</option>

					<option data-bind="text: Name, value: Id" value="cfaf2324-38b9-4b9a-8060-9c0100b83304">London/Team Daily</option>

					<option data-bind="text: Name, value: Id" value="7f4f7794-e2ed-46aa-86fb-9c0f00aa56cd">London/Team E-mail</option>

					<option data-bind="text: Name, value: Id" value="7f38bb91-d33b-4f5b-8161-9b5e015ab495">London/Team Extended Preferences</option>

					<option data-bind="text: Name, value: Id" value="d7a9c243-8cd8-406e-9889-9b5e015ab495">London/Team Flexible</option>

					<option data-bind="text: Name, value: Id" value="05410d01-b254-4ff1-bbfd-9c0d00c7ffbf">London/Team Mixed </option>

					<option data-bind="text: Name, value: Id" value="e2126c13-3a06-4622-a6cc-9bae00fafd5d">London/Team Monthly</option>

					<option data-bind="text: Name, value: Id" value="34590a63-6331-4921-bc9f-9b5e015ab495">London/Team Preferences</option>

					<option data-bind="text: Name, value: Id" value="e7ce8892-4db3-49c8-bdf6-9b5e015ab495">London/Team Rotations</option>

					<option data-bind="text: Name, value: Id" value="9c20f4a1-4374-4562-8d2e-9c0d00c7ea37">London/Team Subskill</option>

					<option data-bind="text: Name, value: Id" value="8167ea93-234b-4eb2-b894-a3d400b14eb2">London/Testagents</option>

					<option data-bind="text: Name, value: Id" value="6188001b-0a0d-4a9d-a934-9c0f00bc7bb0">Outsourcer Unit/Team Outsourcer</option>

					<option data-bind="text: Name, value: Id" value="0a1cdb27-bc01-4bb9-b0b3-9b5e015ab495">Paris/Team 1</option>

					<option data-bind="text: Name, value: Id" value="d66f60f5-264c-4277-80eb-9b5e015ab495">Paris/Team 2</option>

					<option data-bind="text: Name, value: Id" value="30e3c280-df68-43df-b329-9b5e015ab495">Paris/Team 5 </option>

					<option data-bind="text: Name, value: Id" value="5582634c-719e-498d-967a-9b5e015ab495">Paris/Team availability</option>

					<option data-bind="text: Name, value: Id" value="103afc66-2bfa-45f4-9823-9e06008d5062">Paris/Team Backoffice</option>

					<option data-bind="text: Name, value: Id" value="efbd4a33-473b-4e2a-bf7f-9b5e015ab495">Paris/Team nights</option>

					<option data-bind="text: Name, value: Id" value="7f237ca1-df0f-42b8-a5b9-9c0f00bc1160">Paris/Team Subskill</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Contract">
					<option data-bind="text: Name, value: Id" value="79c466f0-cbe8-4209-b949-9b5e015b23f7">Contract/Fixed Staff</option>

					<option data-bind="text: Name, value: Id" value="9e6c6943-1cb1-4395-b14a-9b5e015b23fb">Contract/Hourly Staff</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Contract Schedule">
					<option data-bind="text: Name, value: Id" value="462f97c8-aeb1-4a27-9c05-9b5e015b2400">Contract Schedule/Fixed Staff</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Part-Time Percentage">
					<option data-bind="text: Name, value: Id" value="b7eda58d-c0a0-4051-b648-9b5e015b240e">Part-Time Percentage/100%</option>

					<option data-bind="text: Name, value: Id" value="c3a2a4a6-c1de-4b93-83ea-9b6001534e42">Part-Time Percentage/50%</option>

					<option data-bind="text: Name, value: Id" value="a5dc3a49-ae3e-4017-8ad7-9b6001535f3b">Part-Time Percentage/75%</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Shift Bag">
					<option data-bind="text: Name, value: Id" value="8470c3b3-0270-48ce-bfcd-9e0500e1e85c">Shift Bag/Backoffice Bag</option>

					<option data-bind="text: Name, value: Id" value="043ff850-20bd-4def-86e9-9c1c00ec6392">Shift Bag/E-mail only</option>

					<option data-bind="text: Name, value: Id" value="4fdd811a-dcc8-4252-b144-9b5e015ab5bc">Shift Bag/London Full Time</option>

					<option data-bind="text: Name, value: Id" value="c577bdb5-4c92-4aa9-9131-9b5e015ab5bc">Shift Bag/London Part Time 50%</option>

					<option data-bind="text: Name, value: Id" value="9b5b5740-8e31-417c-82a6-9b5e015ab5bc">Shift Bag/London Part Time 75%</option>

					<option data-bind="text: Name, value: Id" value="bd1b60fe-5116-4fd5-85a7-9b5e015ab5bc">Shift Bag/London Students</option>

					<option data-bind="text: Name, value: Id" value="1859b277-3f3f-4b99-a663-9c1c00ec7055">Shift Bag/Long 8 h</option>

					<option data-bind="text: Name, value: Id" value="e8b5ae77-6af0-4706-b87e-9e2c00b27af0">Shift Bag/Optimization Shift bag</option>

					<option data-bind="text: Name, value: Id" value="7d64bdec-431d-4015-8652-9e2c00c14307">Shift Bag/Optimization Shift bag 50%</option>

					<option data-bind="text: Name, value: Id" value="f2de1ce1-3c64-4e56-8088-9b5e015ab5bc">Shift Bag/Paris Full Time</option>

					<option data-bind="text: Name, value: Id" value="707caf4d-fa7b-4d8a-971d-9b5e015ab5bc">Shift Bag/Paris Part Time 50%</option>

					<option data-bind="text: Name, value: Id" value="cc5dc232-a3e8-4340-bd56-9e9100fb86c6">Shift Bag/Phone Store Min-max 75%</option>

					<option data-bind="text: Name, value: Id" value="ff08c772-e708-480e-bdb4-9c1c00ec6dc0">Shift Bag/Short 4 h</option>

					<option data-bind="text: Name, value: Id" value="f7b54c7c-1ca6-457f-84a7-a3d200c0942b">Shift Bag/US West</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Skill">
					<option data-bind="text: Name, value: Id" value="c9d2e742-ac38-4172-b1bd-9e0500e29f6f">Skill/Bo Skill</option>

					<option data-bind="text: Name, value: Id" value="c7e30f23-5ba4-473b-8a6a-9e0500edf758">Skill/BO Skill 2</option>

					<option data-bind="text: Name, value: Id" value="3d5dd51a-8713-42e9-9f33-9b5e015ab71b">Skill/Channel sales</option>

					<option data-bind="text: Name, value: Id" value="2cb5366c-1add-44ad-88b0-9bae00ecd11d">Skill/Direct Sales</option>

					<option data-bind="text: Name, value: Id" value="f152db7e-3468-47f3-abe6-9b5e015ab71b">Skill/Direct sales campaign</option>

					<option data-bind="text: Name, value: Id" value="55e8355f-5bb6-423f-9a5d-9c0d0108f2a1">Skill/E-mail</option>

					<option data-bind="text: Name, value: Id" value="99e7bbe5-e21f-4afe-bb15-9b5e015ab71b">Skill/Invoice</option>

					<option data-bind="text: Name, value: Id" value="f32b0f7a-21f4-43c8-9b28-9c0e00876bfe">Skill/London Subskill</option>

					<option data-bind="text: Name, value: Id" value="190b8197-ed53-421c-96a8-9b5e015ab71b">Skill/Mail handling</option>

					<option data-bind="text: Name, value: Id" value="90149d70-609a-4aa5-a889-9e2c00988e19">Skill/Optimization E-mail skill</option>

					<option data-bind="text: Name, value: Id" value="41f922e4-66ac-43fb-a871-9e2c00a42945">Skill/Optimization Phone skill</option>

					<option data-bind="text: Name, value: Id" value="37912209-3a35-4042-a230-9c0e008782b4">Skill/Outsourcer Subskill</option>

					<option data-bind="text: Name, value: Id" value="75e26dd6-105a-4470-8d49-9c0e00877600">Skill/Paris Subskill</option>

					<option data-bind="text: Name, value: Id" value="1e1af543-f0c0-4873-9dc3-9e9100ef1cc9">Skill/Phone Sales Store</option>

					<option data-bind="text: Name, value: Id" value="6e112551-936e-45a7-a439-9d8f00eeae9c">Skill/Queue open 24 hours</option>

					<option data-bind="text: Name, value: Id" value="a1356a74-9e2a-4d50-97c4-9de600871742">Skill/Small Skill</option>

					<option data-bind="text: Name, value: Id" value="b542e6d1-a822-449a-8dca-a3d200a32a54">Skill/US West Skill</option>
				</optgroup>

				<optgroup data-bind="attr: { label: Name }, foreach: Groups" label="Skill">
					<option data-bind="text: Name, value: Id" value="fef3c726-0c88-4f05-9971-9b5e015bcee4">Skill/Direct Sales</option>

					<option data-bind="text: Name, value: Id" value="3e57404b-5142-45d5-a598-9b5e015bcee4">Skill/Phone</option>

					<option data-bind="text: Name, value: Id" value="3ca006e7-0fe4-406a-951c-9b5e015bcee4">Skill/Phone +</option>

					<option data-bind="text: Name, value: Id" value="356cc7b4-37b0-4a2d-8ee3-9b5e015bcee4">Skill/Phone + Admin</option>
				</optgroup>
			</select>
		</div>
		<div class="col-xs-12 col-md-4 pull-right">
			<div class="btn-group">
				<div class="input-group date" id="date-picker">
					<span class="input-group-btn">
						<button class="btn" data-bind="attr: { title: Resources.Previous }, click: PreviousDay" title="Previous">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
					</span>
					<input class="form-control date-input text-center" size="16" type="text" readonly="readonly" data-bind="value: DateFormatted">
					<span class="input-group-btn">
						<button type="button" class="btn" data-bind="datepicker: Date, datepickerOptions: { pullRight: true, format: Resources.MomentShortDatePattern, weekStart: Resources.FirstDayOfWeek, autoclose: true }">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
						<button class="btn" data-bind="attr: { title: Resources.Next }, click: NextDay" title="Next">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						<button class="btn toggle-descriptions" data-toggle="button" data-bind="disable: Loading, click: ToggleDisplayDescriptions">
							<i class="glyphicon glyphicon-question-sign"></i>
						</button>
					</span>


				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Prashant Arora
						</td>
						<td align="right">Daily total: 92%</td>
					</tr>
					<tr style="background-color: rgb(245, 245, 245);">
						<td>
							Pierre Baldi
						</td>
						<td align="right">Daily total: 83%</td>
					</tr>
					<tr style="background: #eeeeee;">
						<td colspan="2">
							<div class="person-menu">
								<table class="table table-condensed" style="background: #eeeeee;">
									<thead>
										<tr>
											<th>Planned Activity</th>
											<th>Planned activity time</th>
											<th>Time Real</th>
											<th>Adherence</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Phone</td>
											<td>09:00</td>
											<td>09:13</td>
											<td>78%</td>
										</tr>
										<tr>
											<td>Short Break</td>
											<td>10:20</td>
											<td>10:24</td>
											<td>90%</td>
										</tr>
										<tr>
											<td>Phone</td>
											<td>10:30</td>
											<td>10:42</td>
											<td>76%</td>
										</tr>
										<tr>
											<td>Lunch</td>
											<td>12:00</td>
											<td>11:50</td>
											<td>90%</td>
										</tr>
										<tr>
											<td>Backoffice</td>
											<td>12:20</td>
											<td>12:30</td>
											<td>81%</td>
										</tr>
										<tr>
											<td>Short Break</td>
											<td>13:40</td>
											<td>13:35</td>
											<td>90%</td>
										</tr>
										<tr>
											<td>Phone</td>
											<td>13:50</td>
											<td>13:55</td>
											<td>83%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							Stephen Bay 
						</td>
						<td align="right">Daily total: 70%</td>
					</tr>
					<tr>
						<td>
							Robert Klashner
						</td>
						<td align="right">Daily total: 90%</td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>
</div>