<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: rgb(245, 245, 245);">
						<td class="agent-name" data-bind="text: AgentName"></td>
						<td class="daily-percent" align="right">Daily total: <span data-bind="text: DailyPercent"></span></td>
					</tr>
					<tr style="background: #eeeeee;">
						<td colspan="2">
							<div class="person-menu">
								<table class="table table-condensed" style="background: #eeeeee;">
									<thead>
										<tr>
											<th>Planned Activity</th>
											<th>Planned activity time</th>
											<th>Time Real</th>
											<th>Adherence</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="activity-name">Phone</td>
											<td class="activity-startime">09:00</td>
											<td class="realstarttime">09:13</td>
											<td class="adherence-percent">78%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>