<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: rgb(245, 245, 245);">
						<td class="agent-name" data-bind="text: AgentName"></td>
						<td class="daily-percent" align="right">Daily total: <span data-bind="text: DailyPercent"></span></td>
					</tr>
					<tr style="background: #eeeeee;">
						<td colspan="2">
							<div class="person-menu">
								<table class="table table-condensed  table-bordered" style="background: #eeeeee;">
									<thead>
										<tr>
											<th colspan="2" data-bind="text: $root.Resources.Planned" style="text-align: center;"></th>
											<th colspan="2" data-bind="text: $root.Resources.Actual" style="text-align: center;"></th>
										</tr>
										<tr>
											<th data-bind="text: $root.Resources.Activity"></th>
											<th data-bind="text: $root.Resources.Start"></th>
											<th data-bind="text: $root.Resources.Start"></th>
											<th data-bind="text: $root.Resources.Adherence"></th>
										</tr>
									</thead>
									<tbody data-bind="foreach: AdherenceDetails">
										<tr>
											<td class="activity-name col-md-3" data-bind="text: Name"></td>
											<td class="activity-startime  col-md-3" data-bind="text: StartTime"></td>
											<td class="realstarttime  col-md-3" data-bind="text: ActualStartTime"></td>
											<td class="adherence-percent col-md-3">
												<span data-bind="text: AdherencePercent"></span><!-- ko if: AdherencePercent === null -->-<!-- /ko --><!-- ko if: AdherencePercent !== null -->%<!-- /ko -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>