<div class="panel material-depth-1 role-page">
	<div class="blue-box con-flex">
		<h2 style="display:inline-block">Grant roles</h2>
	</div>
	<div class="role-content">
		<h3>Current roles</h3>
		<div class="con-fluid-row" data-test-grant-current>
			<div class="con-fluid-flex" *ngFor="let roleId of getRoleIdsOfPeople()">
				<chip [disabled]="true" [inactiveIcon]="isRoleOnAll(roleId) ? 'mdi-check' : 'mdi-minus'" data-test-chip>
					{{getRole(roleId).Name}}
				</chip>
			</div>
		</div>
		<hr>
		<h3>Available roles</h3>
		<div class="con-fluid-row" data-test-grant-available>
			<div class="con-fluid-flex" *ngFor="let role of getRolesNotOnAll()">
				<chip-add (click)="toggleSelectedRole(role.Id)" [active]="isSelectedRole(role.Id)" data-test-chip>
					{{role.Name}}
				</chip-add>
			</div>
		</div>

		<aside class="action-buttons">
			<button mat-raised-button (click)="close()">Cancel</button>
			<button mat-raised-button color="primary" (click)="save()" [disabled]="!isAnyRoleSelected()" data-test-save>Save</button>
		</aside>
	</div>

</div>