<ng-template #prefixIconLock>
	<i nz-icon type="lock"></i>
</ng-template>

<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixIconLock">
        <input type="password" nz-input formControlName="password" [placeholder]="'NewPassword' | translate">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">
        {{'PasswordRequired' | translate}}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixIconLock">
        <input type="password" nz-input formControlName="confirmPassword" [placeholder]="'ConfirmNewPassword' | translate">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('confirmPassword').dirty && form.get('confirmPassword').errors">
        <ng-container *ngIf="form.get('confirmPassword').hasError('required')">
          {{'PasswordRequired' | translate}}
        </ng-container>
        <ng-container *ngIf="form.get('confirmPassword').hasError('MatchPassword')">
          {{'PasswordsDoNotMatch' | translate}}
        </ng-container>
      </nz-form-explain>
      <nz-form-explain *ngIf="form.get('confirmPassword').dirty && form.get('confirmPassword').errors">
        <ng-container *ngIf="form.get('confirmPassword').hasError('required')">
          {{'PasswordRequired' | translate}}
        </ng-container>
        <ng-container *ngIf="form.hasError('MatchPassword')">
          {{'PasswordsDoNotMatch' | translate}}
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nzType="flex" nzJustify="space-between">
    <nz-form-control nzSpan="11">
      <button nz-button class="w100" type="button" [nzType]="'default'" (click)="onCancel()">
        {{'Cancel' | translate}}
      </button>
    </nz-form-control>
    <nz-form-control nzSpan="11">
      <button nz-button class="w100" type="submit" [nzType]="'primary'">
        {{'ResetPassword' | translate}}
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-alert *ngIf="form.hasError('resetFailed')" nzType="error" nzMessage="Reset failed" nzDescription="Password reset failed. Try again later.">
  </nz-alert>
  <nz-alert *ngIf="form.hasError('policyError')" data-policy-error nzType="error" [nzMessage]="'PasswordPolicyError' | translate" [nzDescription]="'PasswordPolicyWarning' | translate">
  </nz-alert>  
</form>