<div class="view-header with-fab with-desc" ng-cloak>
	<div class="view-title">
		<div class="pull-left">
			<h1><i class="mdi mdi-alarm"></i> {{'Agents'|translate}}</h1>
		</div>
		<div class="rta-top-buttons-wrapper pull-left">
			<span>
				<button class="wfm-btn wfm-btn-default" ng-click="vm.goToOverview()">{{'Dashboard'|translate}}</button>
				<button class="wfm-btn wfm-btn-primary rta-default-cursor" ng-click="vm.goToSelectItem()">{{'Agents'|translate}}</button>
			</span>
		</div>
	</div>
	<div class="fab-wrapper pull-right">
		<button class="wfm-fab material-depth-1" ng-click="vm.pause = !vm.pause">
			<i ng-class="{'mdi mdi-play': vm.pause, 'mdi mdi-pause': !vm.pause}"></i>
			<md-tooltip>{{(vm.pause ? 'Play' : 'Pause')|translate}}</md-tooltip>
		</button>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<p>{{'MonitorUpToXAgents'|translate}}</p>
	</div>
	<div class="con-flex">
		<p ng-if="vm.pausedAt" class="pull-right">{{'PausedAt'|translate}} {{vm.pausedAt}}</p>
	</div>
</div>

<div class="panel material-depth-1 rta-filter-panel" ng-include="'app/rta/filter/filter-template.html'" ng-controller="RtaFilterController as vm"></div>

<div class="panel material-depth-1">
	<div class="con-row">
		<div class="con-flex">
			<div class="sub-header">
			</div>
		</div>
	</div>
	<div class="con-row" ng-class="{'rta-agents-filter-wrapper': vm.agentStates.length >= vm.maxNumberOfAgents}">
		<div class="con-flex">
			<label for="filter-agents" class="input-icon">
				<i class="mdi mdi-filter-outline"></i>
				<input type="text" id="filter-agents" ng-change="vm.filterData()" ng-model="vm.filterText" placeholder="{{'FilterRtaShort'|translate}}">
				<md-tooltip>{{'FilterRtaFull'|translate}}</md-tooltip>
			</label>
		</div>
		<div class="con-flex split-3-1"></div>
		<div class="con-flex">
			<div class="view-changer-wrapper">
				<div class="view-changer" style="white-space:nowrap;">
					<div class="view-option">
						<label ng-click="vm.showInAlarm = true;">
				<input type="radio" name="alarm-view" class="view-option-radio"  ng-value="vm.showAll" ng-model="vm.showInAlarm" tabindex="0"/>
				<div class="view-name" style="padding-right: 6px;"><div>{{'InAlarm'|translate}}</div></div>        
			</label>
					</div>
					<div class="view-option">
						<label ng-click="vm.showInAlarm = false; vm.showAll = true" class="rta-agents-in-alarm-switch">
				<input type="radio" name="all-view" class="view-option-radio" ng-value="!vm.showInAlarm" ng-model="vm.showAll" tabindex="0"/>
				<div class="view-name" style="padding-right: 6px;"><div>{{'All'|translate}}</div></div>
			</label>
					</div>
				</div>
			</div>

			
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex agent-table-wrapper">
			<div class="grid" ng-style="vm.getTableHeight()" ng-if="vm.allGrid && !vm.showInAlarm" ui-grid-auto-resize ui-grid-resize-columns
			 ui-grid-disable-animation ui-grid="vm.allGrid"></div>
			<div class="grid" ng-style="vm.getTableHeight()" ng-if="vm.inAlarmGrid && vm.showInAlarm" ui-grid-auto-resize ui-grid-resize-columns
			 ui-grid-disable-animation ui-grid="vm.inAlarmGrid"></div>
		</div>
	</div>
	<wfm-right-panel ng-if="vm.showInAlarm && !vm.pause" class="rta-right-panel-wrapper" panel-options="vm.rightPanelOptions">
		<h3><i class="mdi mdi-filter-outline"></i>{{'IncludeAgentsInStatesColon'|translate}}</h3>
		<div ng-repeat="state in vm.states">
			<div class="wfm-checkbox">
				<label>
					<input type="checkbox" name="checkbox" id="{{state.Id}}" ng-model="state.Selected" />
					<span class="wfm-checkbox-toggle"></span>
					<span class="wfm-checkbox-label rta-deselect-state">{{state.Name}}</span>
				</label>
			</div>
		</div>
	</wfm-right-panel>
</div>