//View headers
//
//A view header should be the first element in your view to help orientate the user. If needed you can add a global floating action button (fab) to it. If you do, add the class 'with-fab' to the header.
//It can also have a description, if so, add the class 'with-desc' and a descriptive text in a p tag.
//
//Note: The view header is a uniqe element in the view and not part of any other panel or element.
//
//Markup:
//<h3>With fab and description</h3>
//	<div class="view-header with-fab with-desc">
//		<div class="view-title">
//			<h1><i class="mdi mdi-account"></i> First header title</h1>
//			<p>Optional description of the view goes here.</p>
//		</div>
//		<div class="fab-wrapper">
//			<button class="wfm-fab  material-depth-1"><i class="mdi mdi-plus"></i>
//				<md-tooltip>Add something</md-tooltip>
//			</button>
//		</div>
//	</div>
//<h3>With only fab</h3>
//	<div class="view-header with-fab">
//		<div class="view-title">
//			<h1><i class="mdi mdi-account"></i> Second header title</h1>
//		</div>
//		<div class="fab-wrapper">
//			<button class="wfm-fab  material-depth-1"><i class="mdi mdi-plus"></i>
//				<md-tooltip>Add something</md-tooltip>
//			</button>
//		</div>
//	</div>
//<h3>Without fab and desc</h3>
//	<div class="view-header">
//		<div class="view-title">
//			<h1><i class="mdi mdi-account"></i> Third header title</h1>
//		</div>
//	</div>
//
//Styleguide 1.3
//

.view-header {
	width: 100%;
	display: inline-flex;
	display: -ms-inline-flexbox;
	padding-bottom: 5px;

	&.with-fab {
		padding-bottom: 15px;
	}

	&.with-desc {
		padding-bottom: 0;
	}

	.view-title {
		width: 100%;

		h1 {
			display: inline-block;
		}
	}

	.fab-wrapper {
		width: 10%;
		z-index: 20;

		.wfm-fab {
			margin: 0 5px -10px;
			float: right;
		}
	}
}

.head-actions {
	float: right;
	margin-top: -10px;
}

.sub-header {
	padding: $full-padding;
	padding-top: $full-padding * 2;
	color: $text-color-standard;
	margin-bottom: $full-padding;

	h2 {
		margin: 0 !important;
		overflow-wrap: break-word;
	}
}

.sidenav-header {
	padding: $full-padding * 2 $full-padding !important;
	background-color: $white;
	color: $text-color-standard;
	border-bottom: 1px solid $gray012;
	overflow: hidden;
	position: relative;
	display: flex;
	display: -ms-flexbox;

	&:hover {
		background: $gray012;
	}
}
