.wfm-slide-tabs {
	md-tabs {
		.md-tab {
			text-transform: none;
			font-size: 13px;
			line-height: 36px;
			padding: 0 12px;
			background: $gray-100;
			border-radius: 5px 5px 0 0;
			margin: 0 2px 0 0;
			border: 1px solid $gray-300;
			color: $gray087;
			font-weight: 400;

			&.md-active,
			&.md-active {
				color: $primary;
				background: $white;
				border-bottom: $white;
				font-weight: 500;
			}
		}
	}

	md-ink-bar {
		display: none;
	}

	.md-ripple-container {
		background-color: transparent !important;
	}

	.wizard-step {
		float: right;
	}

	md-content {
		color: $gray087;
	}

	md-tab md-tab-label {
		padding-bottom: 10px !important;
	}

	.md-header {
		height: 30px !important;
	}

	md-tabs-content-wrapper {
		border: 1px solid $gray-300;
		border-top: none;
		background: $white;
		border-radius: 0 0 3px;
	}

	md-tab-content {
		transition: none;
		animation: none;
	}

	md-tabs-wrapper,
	md-pagination-wrapper,
	md-tabs-canvas {
		height: 36px;
	}
}

//modal
@media (max-width: 599px) {
	.modal-box .modalbg .dialog {
		max-height: 90%;
		overflow-y: auto !important;
	}
}

@media (min-width: 600px) {
	.modal-box .modalbg .dialog {
		max-height: 70%;
		overflow-y: auto !important;
	}
}

.label:hover,
.tab-group input[type='radio']:checked + .label {
	background-color: $primary;
}

.tabbed-panel {
	md-content,
	md-padding {
		padding: 0 !important;
	}

	.card-context {
		margin: 0;
	}

	.md-padding {
		padding: 0 5px;
	}

	.head-actions {
		margin-top: -8px;
	}
}

.tabbed-panel-header {
	.card-context {
		margin-top: 15px;
	}
}
