<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AnalyticsDb" connectionString="Data Source=.;Integrated Security=SSPI;Initial Catalog=JulyMain_DemoSales_TeleoptiAnalytics;Application Name=Teleopti.Analytics.Stats.TestApplication"/>
	</connectionStrings>
	<appSettings>
		<add key="WebApiBaseUrl" value="http://localhost:52858/"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
