<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AnalyticsDb" connectionString="Data Source=.;Integrated Security=SSPI;Initial Catalog=JulyMain_DemoSales_TeleoptiAnalytics;Application Name=Teleopti.Analytics.Stats.TestApplication" />
	</connectionStrings>
</configuration>