<style>
	.wfm-table {
		width: 100%;
		text-align: left;
	}

		.wfm-table td, th {
			border: 1px solid #f5f5f5;
			color: rgba(0, 0, 0, 0.54);
			padding: 5px;
		}

		.wfm-table th {
			color: rgba(0, 0, 0, 0.87);
			background-color: #99d6ff;
			text-align: center;
		}

			.wfm-table th i {
				float: right;
			}

		.wfm-table .number-cell {
			text-align: right;
		}

	.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
		color: rgba(0, 0, 0, 0.87);
		font-weight: 600;
		background-color: #99d6ff;
	}

	.wrapper {
		margin-top: 10px;
		margin-bottom: 60px;
	}

	.ng-modal-overlay {
		/* A dark translucent div that covers the whole screen */
		position: absolute;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.8;
	}

	.ng-modal-dialog {
		/* A centered div above the overlay with a box shadow. */
		z-index: 10000;
		position: absolute;
		width: 100%; /* Default */
		/* Center the dialog */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 4px 4px 80px #000;
	}

	.ng-modal-dialog-content {
		padding: 10px;
		text-align: left;
	}

	.ng-modal-close {
		position: absolute;
		top: 3px;
		right: 5px;
		padding: 5px;
		cursor: pointer;
		font-size: 120%;
		display: inline-block;
		font-weight: bold;
		font-family: 'arial', 'sans-serif';
	}

	.tab-group {
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		overflow: hidden;
	}

		.tab-group input[type=radio] {
			display: none;
		}

			.tab-group input[type=radio]:checked + .label {
				font-weight: bold !important;
				border-bottom: 3px solid #ec38a3;
			}

				.tab-group input[type=radio]:checked + .label + section {
					display: block;
				}

		.tab-group .label {
			color: rgba(0, 0, 0, 0.87);
			padding: 5px !important;
			position: relative;
			cursor: pointer;
			z-index: 2;
			-webkit-box-ordinal-group: 0;
			-webkit-order: -1;
			-ms-flex-order: -1;
			order: -1;
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			font-weight: normal;
			/*overrides bootstrap*/
			min-width: 100px !important;
			border-bottom: 3px solid #66c2ff;
			background-color: #66c2ff;
			text-align: center;
			transition: all 0.5s ease-in-out;
			border-radius: 0 !important;
			/*overrides bootstrap*/
			margin-bottom: 0 !important;
			/*overrides bootstrap*/
			font-size: 100% !important;
			/*overrides bootstrap*/
		}

		.tab-group section {
			display: none;
			position: relative;
			z-index: 1;
			width: 100%;
			overflow: hidden;
		}

	.material-depth-1, .layout-container .content, .wfm-btn-default, .wfm-btn-primary, .wfm-fab, .dropdown .inner ul, .sidenav-toggle .sidenav-wrapper {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}

	.wfm-block, .angular-ui-tree-handle, select, .wfm-radio, .wfm-checkbox, .dropdown .inner li, .tab-group .tab-container {
		padding: 5px;
		width: 100%;
	}

	.dropdown {
		position: relative;
	}

		.dropdown .inner ul {
			padding-left: 0;
			width: 25%;
			list-style: none;
			position: absolute;
			background: #ffffff;
		}

		.dropdown .inner li {
			border-top: 1px solid rgba(0, 0, 0, 0.06);
			cursor: pointer;
		}

			.dropdown .inner li:hover {
				background: #99d6ff;
			}

	.wfm-list li.active, .ui-grid-menu-items li.active {
		border-left: 3px solid #ffffff;
		border-bottom: 3px solid #ec38a3;
		background-color: #ffffff;
	}
</style>

<div>
	<span>
		<input type="text" placeholder="{{'Name' | translate}},{{'EmployeeNo' | translate}},{{'Role' | translate}},{{'Skill' | translate}},{{'Contract' | translate}},{{'PersonFinderFieldOrganization' | translate}},{{'ContractSchedule' | translate}},{{'PartTimePercentage' | translate}},{{'PersonFinderFieldShiftBag' | translate}},{{'BudgetGroup' | translate}}"
			   ng-model="keyword" ng-keydown="$event.which === 13 && searchKeyword()" ng-change="validateSearchKeywordChanged()"
			   class="global-search" style="height: 44px; width: 50%" />
		<button class="wfm-btn wfm-btn-primary" ng-click="searchKeyword()"><i class="mdi mdi-magnify"></i></button>
	</span>
</div>

<div class="wrapper row">
	<div class="">
		<table class="wfm-table material-depth-1 table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th translate>FirstName <i class="mdi mdi-menu-up"></i> </th>
					<th translate>LastName</th>
					<th translate>EmployeeNo</th>
					<th translate>Team</th>
					<th translate>Email</th>
					<th translate>LeavingDate</th>
					<th ng-repeat="column in optionalColumns">{{column}}</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="{{6+optionalColumns.length}}">
						<div class="pagination pull-right">
							<ul class="wfm-list row">
								<li style="display: inline-block" ng-class="{disabled: currentPageIndex == 1}">
									<a href ng-click="prevPage()">« Prev</a>
								</li>
								<li style="display: inline-block" ng-repeat="n in range(totalPages)"
									ng-class="{active: n == currentPageIndex}"
									ng-click="setPage()">
									<a href ng-bind="n">1</a>
								</li>
								<li style="display: inline-block" ng-class="{disabled: currentPageIndex == totalPages}">
									<a href ng-click="nextPage()">Next »</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="person in searchResult" ng-click="toggleModal()">
					<td>{{person.FirstName}}</td>
					<td>{{person.LastName}}</td>
					<td>{{person.EmploymentNumber}}</td>
					<td>{{person.Team}}</td>
					<td>{{person.Email}}</td>
					<td>{{person.LeavingDate}}</td>
					<td ng-repeat="optionalColumnValue in person.OptionalColumnValues">
						{{optionalColumnValue.Value}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<modal-dialog show='modalShown' width='1000px' height='580px'>
	<div id="testModal" class="modalbg">
		<div class="dialog">
			<div class="modal-header">
				<span>
					<a>
						<i class="mdi mdi-account"></i>Ashley Andeen
					</a>
				</span>
			</div>
			<div class="modal-content">
				<div class="modal-footer">
					<a href="#close1" title="Close1" class="dismiss wfm-btn wfm-btn-invis-primary">Discard</a>
					<a href="#close2" title="Close2" class="dismiss wfm-btn wfm-btn-invis-primary">Save</a>
				</div>
			</div>
			<div class="tab-group">
				<input type="radio" name="tabs" id="tab-1" checked="checked" />
				<label class="label" for="tab-1">
					General
				</label>
				<section>
					<div class="tab-container">
						<div class="row">
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>General</strong>
										</li>
										<li>
											<span class="col-lg-5">First Name: </span>
											<input class="col-lg-7" type="text" value="Ashley" />
										</li>
										<li>
											<span class="col-lg-5">Last Name: </span>
											<input class="col-lg-7" type="text" value="Andeen" />
										</li>
										<li>
											<span class="col-lg-5">Employee Number: </span>
											<input class="col-lg-7" type="text" value="1234567" />
										</li>
									</ul>
								</div>
							</span>
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Contact</strong>
										</li>
										<li>
											<span class="col-lg-5">Email: </span>
											<input class="col-lg-7" type="text" value="aa@teleopti.com" />
										</li>
										<li>
											<span class="col-lg-5">Cell Phone: </span>
											<input class="col-lg-7" type="text" value="1234567" />
										</li>
									</ul>
								</div>
							</span>
						</div>
						<div class="row">
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Local & Language</strong>
										</li>
										<li>
											<span class="col-lg-5">Language: </span>
											<select class="col-lg-7">
												<option>English</option>
												<option>Chinese</option>
												<option>Swedish</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Format: </span>
											<select class="col-lg-7">
												<option>en-US</option>
												<option>en-GB</option>
												<option>zh-CN</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Timezone: </span>
											<select class="col-lg-7">
												<option>UTC+1</option>
												<option>UTC+8</option>
												<option>UTC-1</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Work Week Starts On: </span>
											<select class="col-lg-7">
												<option>Monday</option>
												<option>Tuesday</option>
												<option>Wednesday</option>
												<option>Thursday</option>
												<option>Friday</option>
												<option>Saturday</option>
												<option>Sunday</option>
											</select>
										</li>
									</ul>
								</div>
							</span>
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Others</strong>
										</li>
										<div class="col-lg-12">
											<span class="col-lg-5">Roles: </span>

											<span class="dropdown col-lg-7" tabindex="0" style="width: 200px; z-index: 1">
												<span class="context-trigger" ng-click="contextTrigger1 = !contextTrigger1">Agent, Team Leader</span>
												<div class="inner right material-depth-2" ng-show="contextTrigger1" ng-cloak style="width: 200px;">
													<div class="wfm-checkbox">
														<input type="checkbox" id="check1" checked="checked" />
														<label for="check1">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Agent</span>
														</label>
													</div>
													<div class="wfm-checkbox">
														<input type="checkbox" id="check2" checked="checked" />
														<label for="check2">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Team Leader</span>
														</label>
													</div>
													<div class="wfm-checkbox">
														<input type="checkbox" id="check3" />
														<label for="check3">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Super Administrator</span>
														</label>
													</div>
												</div>
											</span>
										</div>
										<li>
											<span class="col-lg-5">Workflow Controlset: </span>
											<select class="col-lg-7">
												<option value="value">Default</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Leaving Date: </span>
											<input class="col-lg-7" type="text" value="2020-12-31" />
										</li>
										<li>
											<span class="col-lg-5">Note: </span>
											<textarea class="col-lg-7"></textarea>
										</li>
									</ul>
								</div>
							</span>
						</div>
					</div>
				</section>
				<input type="radio" name="tabs" id="tab-2" />
				<label class="label" for="tab-2">
					Person Periods
				</label>
				<section>
					<div class="tab-container">
						Person Periods
					</div>
				</section>
				<input type="radio" name="tabs" id="tab-3" />
				<label class="label" for="tab-3">
					Schedule Periods
				</label>
				<section>
					<div class="tab-container">
						Schedule Periods
					</div>
				</section>
			</div>
		</div>
	</div>
</modal-dialog>
