<style>
	.wfm-checkbox input[type=checkbox]:indeterminate ~ label .wfm-checkbox-toggle:after {
		background-color: #66c2ff;
		text-align: center;
		color: #fff;
	}

	.input-group input[type=text] {
		height: 34px;
		border: 1px solid #ccc;
	}
</style>
<div>
	<div class="row people-cart" style="position: relative">
		<h4>{{'SelectedPeople' | translate}}</h4>
		<div class="col-sm-1" style="padding-left:0; padding-right: 0; width: 60px">
			<p>
				<button class="wfm-fab info mini" ng-click="vm.back()"><i class="mdi mdi-reply"></i></button>
				<md-tooltip>{{ 'Back' | translate }}</md-tooltip>
			</p>
		</div>
		<div class="col-sm-5 col-md-3 col-lg-3">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.selectedDate" ng-change="vm.selectedDateChanged()" is-open="vm.datePickerStatus.opened" datepicker-options="vm.dateOptions" show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div>
			<button class="wfm-fab wfm-panel-delete material-depth-1" ng-click="vm.clearCart()">
				<md-tooltip>{{"ResetSelection" | translate}}</md-tooltip>
				<i class="mdi mdi-account-remove"></i>
			</button>
			<nav class="wfm-panel action-panel" mfb-menu position="tr" effect="slidein-spring"
				 active-icon="mdi-pencil" resting-icon="mdi-plus"
				 ng-mouseenter=" hovered()" ng-mouseleave="hovered()"
				 toggling-method="click" menu-state="vm.menuState" callback="vm.toggleMenuState()">
				<button class="{{cmd.label|lowercase}}" ng-if="cmd.active" mfb-button icon="{{cmd.icon}}" ng-click="cmd.action()"
						label="{{cmd.label|translate}}" ng-repeat="cmd in vm.commands"></button>
			</nav>
		</div>
	</div>
	<div ui-i18n="{{lang}}" ng-if="vm.dataInitialized" class="big-table-wrapper material-depth-1" style="position: relative">
		<div ui-grid="vm.gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid people-list"></div>
		<md-sidenav class="md-sidenav-right md-sidenav-skill-panel md-whiteframe-z2" md-component-id="right-skill">
			<div class="sidenav-header">{{'Skill'|translate}}</div>
			<md-content layout-padding style="height: 68rem">
				<div class="input-prepend">
					<i class="mdi mdi-filter-outline"></i>
					<input type="text" name="filterSkill" ng-model="searchSkills.SkillName" />
				</div>
				<md-list-item ng-repeat="skill in vm.availableSkills|filter:searchSkills|orderBy:'SkillName'">
					<div class="wfm-checkbox">
						<input type="checkbox" id="{{skill.SkillId}}" ng-model="skill.Selected" ng-change="vm.skillSelectedStatusChanged(skill)" ui-indeterminate="skill.Status =='partial'" />
						<label for="{{skill.SkillId}}">
							<span class="wfm-checkbox-toggle"></span>
							<span class="wfm-checkbox-label">{{skill.SkillName}}</span>
						</label>
					</div>
				</md-list-item>
			</md-content>
			<div style="position: relative;float: right;">
				<button ng-show="vm.dataInitialized && !vm.processing && vm.updateResult.Success && vm.updateResult.SuccessCount > 0" class="wfm-btn wfm-btn-primary" ng-click="vm.setCurrentCommand('ChangeShiftBag')()">{{'PersonFinderFieldShiftBag' | translate}}</button>
				<button class="wfm-btn" ng-class="{'wfm-btn-primary': vm.dataChanged, 'wfm-btn-primary-disabled': !vm.dataChanged}" ng-disabled="!vm.dataChanged" ng-click="vm.updatePeopleWithSkills()">{{'Apply' | translate}}</button>
			</div>
		</md-sidenav>
		<md-sidenav class="md-sidenav-right md-sidenav-skill-panel md-whiteframe-z2" md-component-id="right-shiftbag">
			<div class="sidenav-header">{{'ChangeShiftBag'|translate}}</div>
			<md-content layout-padding style="height: 68rem">
				<select style="font-family: Calibri" ng-model="vm.selectedShiftBag" ng-change="vm.selectedShiftBagChanged(vm.selectedShiftBag)">
					<option value="" disabled selected="">{{'PickAShiftBag'|translate}}</option>
					<option value={{shiftBag.ShiftBagId}} ng-repeat="shiftBag in vm.availableShiftBags|orderBy: 'ShiftBagName'">{{shiftBag.ShiftBagName}}</option>
				</select>
			</md-content>
			<div style="position: relative;float: right;">
				<button class="wfm-btn" ng-class="{'wfm-btn-primary': vm.dataChanged, 'wfm-btn-primary-disabled': !vm.dataChanged}" ng-disabled="!vm.dataChanged" ng-click="vm.updatePeopleWithShiftBag()">{{'Apply' | translate}}</button>
			</div>
		</md-sidenav>
		<md-progress-linear ng-show="vm.processing" md-mode="indeterminate"></md-progress-linear>
		<div ng-if="vm.dataInitialized && !vm.processing && vm.updateResult.Success" ng-show="vm.isConfirmCloseNoticeBar" class="alert-success notice-spacer">
			<i class='mdi mdi-thumb-up'></i>
			{{'SuccessfullyUpdatedPeopleCountColon'|translate}}{{vm.updateResult.SuccessCount}}
		</div>
		<div ng-if="vm.currentCommand().label=='AdjustSkill' && vm.dataInitialized && !vm.processing && vm.updateResult.Success" ng-show="vm.isConfirmCloseNoticeBar" class="alert-info notice-spacer">
			{{'YouMightNeedToChangeTheShiftBagAccordingly'|translate}}
		</div>
		<div ng-if="vm.dataInitialized && !vm.processing && !vm.updateResult.Success && vm.updateResult.ErrorMsg.length > 0" ng-show="vm.isConfirmCloseNoticeBar" class="alert-error notice-spacer">
			<i class='mdi mdi-alert-octagon'></i>
			{{'ProcessFailedErrorColon'|translate}}{{vm.updateResult.ErrorMsg}}
		</div>
		<div class="pagination pull-right" aria-hidden="false">
			<ul>
				<li class="pagination-item" ng-class="{disabled: vm.gridOptions.paginationCurrentPage == 1 || vm.gridApi.pagination.getTotalPages() == 0}">
					<a href="" ng-click="vm.gridApi.pagination.previousPage()">
						<i class="mdi mdi-chevron-double-left"></i>
						{{'RepViewerPreviousPage'| translate}}
					</a>
				</li>

				<li class="pagination-item" ng-repeat="n in vm.getVisiblePageNumbers(vm.gridApi.pagination.getTotalPages())"
					ng-class="{active: n == vm.gridOptions.paginationCurrentPage}"
					ng-click="vm.gridApi.pagination.seek(n)">
					<a href="" ng-bind="n"></a>
				</li>

				<li class="pagination-item" ng-class="{disabled: vm.gridOptions.paginationCurrentPage == vm.gridApi.pagination.getTotalPages() || vm.gridApi.pagination.getTotalPages() == 0}">
					<a href="" ng-click="vm.gridApi.pagination.nextPage()">
						{{'RepViewerNextPage'| translate}}
						<i class="mdi mdi-chevron-double-right"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
