<style>
	.wfm-checkbox input[type=checkbox]:indeterminate ~ label .wfm-checkbox-toggle:after {
		background-color: #66c2ff;
		text-align: center;
		color: #fff;
	}

	.input-group input[type=text] {
		height: 34px;
		border: 1px solid #ccc;
	}
</style>
<div>
	<div class="row people-cart">
		<button class="wfm-btn wfm-btn-default" ng-click="vm.back()">{{ 'Back' | translate }} </button>
		<h4 translate>Selected People</h4>
	</div>

	<div class="row">
		<div class="col-sm-2">

			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.selectedDate" is-open="vm.status.opened" datepicker-options="vm.dateOptions" show-button-bar="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div ui-i18n="{{lang}}" ng-if="vm.dataInitialized" class="big-table-wrapper material-depth-1" style="position: relative">
		<div ui-grid="vm.gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-pagination xui-grid-resize-columns class="grid people-list"></div>
		<div>
			<nav class="wfm-panel action-panel" mfb-menu position="tr" effect="slidein-spring"
				 active-icon="mdi-pencil" resting-icon="mdi-plus"
				 ng-mouseenter=" hovered()" ng-mouseleave="hovered()"
				 label="{{'Actions'|translate}}"
				 toggling-method="click" menu-state="closed">
				<button class="{{cmd.label|lowercase}}" ng-show="cmd.active" mfb-button icon="{{cmd.icon}}" ng-click="button.action()"
						label="{{cmd.label|translate}}" ng-repeat="cmd in vm.commands"></button>
			</nav>
		</div>
		<md-sidenav class="md-sidenav-right md-sidenav-skill-panel md-whiteframe-z2" md-component-id="right">
			<div class="sidenav-header">Skill</div>
			<md-content layout-padding style="height: 500px">
				<div class="input-prepend">
					<i class="mdi mdi-filter-outline"></i>
					<input type="text" name="filterSkill" ng-model="searchSkills.SkillName" />
				</div>
				<md-list-item ng-repeat="skill in vm.availableSkills|filter:searchSkills">
					<div class="wfm-checkbox">
						<input type="checkbox" id="{{skill.SkillId}}" ng-model="skill.Selected" ng-change="vm.skillSelectedStatusChanged(skill)" ui-indeterminate="skill.Status =='partial'" />
						<label for="{{skill.SkillId}}">
							<span class="wfm-checkbox-toggle"></span>
							<span class="wfm-checkbox-label">{{skill.SkillName}}</span>
						</label>
					</div>
				</md-list-item>
			</md-content>
			<!--<md-button ng-click="vm.close()" class="md-primary">Close Sidenav Right</md-button>-->
			<button class="wfm-btn wfm-btn-primary" ng-click="vm.updateSkillOnPersons()">{{'Apply' | translate}}</button>
		</md-sidenav>
		<md-progress-linear ng-show="vm.processing" md-mode="indeterminate"></md-progress-linear>
		<div ng-if="vm.dataInitialized && !vm.processing && vm.updateResult.Success" ng-hide="vm.isConfirmCloseNoticeBar" class="alert-success notice-spacer">
			<i class='mdi mdi-thumb-up'></i>
			{{vm.updateResult.SuccessInfo}}
			<i class='mdi mdi-close' ng-click="vm.closeNoticeBar()" style="float: right"></i>
		</div>
		<div ng-if="vm.dataInitialized && !vm.processing && !vm.updateResult.Success && vm.updateResult.ErrorMsg.length > 0" ng-hide="vm.isConfirmCloseNoticeBar" class="alert-error notice-spacer">
			<i class='mdi mdi-alert-octagon'></i>
			{{vm.updateResult.ErrorMsg}}
			<i class='mdi mdi-close' ng-click="vm.closeNoticeBar()" style="float: right"></i>
		</div>
	</div>

</div>
