<style>
	.wfm-table {
		width: 100%;
		text-align: left;
	}

	.wfm-table td, th {
		border: 1px solid #f5f5f5;
		color: rgba(0, 0, 0, 0.54);
		padding: 5px;
	}

	.wfm-table th {
		color: rgba(0, 0, 0, 0.87);
		background-color: #99d6ff;
		text-align: center;
	}

	.wfm-table th i {
		float: right;
	}

	.wfm-table .number-cell {
		text-align: right;
	}

	.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
		color: rgba(0, 0, 0, 0.87);
		font-weight: 600;
		background-color: #99d6ff;
	}

	.wrapper {
		margin-top: 10px;
		margin-bottom: 60px;
	}

	.ng-modal-overlay {
		/* A dark translucent div that covers the whole screen */
		position: absolute;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.8;
	}

	.ng-modal-dialog {
		/* A centered div above the overlay with a box shadow. */
		z-index: 10000;
		position: absolute;
		width: 100%; /* Default */
		/* Center the dialog */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 4px 4px 80px #000;
	}

	.ng-modal-dialog-content {
		padding: 10px;
		text-align: left;
	}

	.ng-modal-close {
		position: absolute;
		top: 3px;
		right: 5px;
		padding: 5px;
		cursor: pointer;
		font-size: 120%;
		display: inline-block;
		font-weight: bold;
		font-family: 'arial', 'sans-serif';
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<h4>Manage people</h4>
	</div>
</div>

<div class="wrapper">
	<select style="position: relative;float: left;height: 34px;margin-right: 63px;">
		<option>London/Team 1</option>
		<option>London/Team 2</option>
		<option>London/Team 3</option>
	</select>

	<span class="input-group" style="max-width: 294px; float: left;">
		<span class="input-group-btn">
			<button id="report-view-date-nav-prev" class="btn btn-default" type="button">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</button>
		</span>
		<input class="form-control text-center" id="report-view-date-nav-current" value="3-25-2015" type="text" readonly="readonly" />
		<span class="input-group-btn">
			<button id="report-view-date-picker" class="btn btn-default moment-datepicker" xdata-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
			<button id="report-view-date-nav-next" class="btn btn-default" type="button">
				<i class="glyphicon glyphicon-chevron-right"></i>
			</button>
		</span>
	</span>

	<span class="people-search" style="float: right; margin-right: 60px;">
		<i class="mdi mdi-magnify"></i>
		<input type="text" placeholder="Search ..." class="people-search-text" />
	</span>
</div>

<div class="row">
	<div class="col-lg-3">
		<div class="role-nav material-depth-1 container-block">
			<div class="tree">
				<div class="angular-ui-tree">
					<ol id="tree-root" class="tree-line angular-ui-tree-nodes">
						<li class="angular-ui-tree-node">							
							<div class="tree-toggle-group">
								<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
								<div class="angular-ui-tree-handle selected">									
									Business Hierarchy
								</div>
							</div>
							<div class="input-prepend">
								<i class="mdi mdi-filter-outline"></i>
								<input type="text" placeholder="Organization filter ..." name="filterRole" tabindex="0" aria-invalid="false">
							</div>
							<ol class="angular-ui-tree-nodes">
								<li class="angular-ui-tree-node">
									<div class="tree-toggle-group">
										<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
										<div class="angular-ui-tree-handle">
											London
										</div>
									</div>
									<ol class="angular-ui-tree-nodes">
										<li class="angular-ui-tree-node">
											<div class="tree-toggle-group">
												<div class="toggle-handle"><i class="mdi mdi-chevron-right"></i></div>
												<div class="angular-ui-tree-handle">
													Team Monthly
												</div>
											</div>
										</li>
										<li class="angular-ui-tree-node">
											<div class="tree-toggle-group">
												<div class="toggle-handle"><i class="mdi mdi-chevron-right"></i></div>
												<div class="angular-ui-tree-handle selected">
													Team Preference
												</div>
											</div>
										</li>
									</ol>
								</li>
							</ol>
							<ol class="angular-ui-tree-nodes">
								<li class="angular-ui-tree-node">
									<div class="tree-toggle-group">
										<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
										<div class="angular-ui-tree-handle">
											Paris
											<span><i class="mdi mdi-check"></i></span>
										</div>
									</div>
									<ol class="angular-ui-tree-nodes">
										<li class="angular-ui-tree-node">
											<div class="tree-toggle-group">
												<div class="toggle-handle"><i class="mdi mdi-chevron-right"></i></div>
												<div class="angular-ui-tree-handle">
													Team One
												</div>
											</div>
										</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-9 material-depth-1">
		<table class="wfm-table">
			<thead>
				<tr>
					<th>First Name <i class="mdi mdi-menu-up"></i> </th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Emp No.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in peopleList" ng-click="toggleModal()">
					<td>{{person.FirstName}}</td>
					<td>{{person.LastName}}</td>
					<td>{{person.Email}}</td>
					<td>{{person.Phone}}</td>
					<td>{{person.EmploymentNumber}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<modal-dialog show='modalShown' width='1000px' height='500px'>
	<div id="testModal" class="modalbg">
		<div class="dialog">
			<div class="modal-header">
				<span>
					<a>
						<i class="mdi mdi-account"></i>Ashley Andeen
					</a>
				</span>
			</div>
			<div class="modal-content">
				<div class="modal-footer">
					<a href="#close1" title="Close1" class="dismiss wfm-btn wfm-btn-invis-primary">Discard</a>
					<a href="#close2" title="Close2" class="dismiss wfm-btn wfm-btn-invis-primary">Save</a>
				</div>
			</div>
			<div class="tab-group">
				<input type="radio" name="tabs" id="tab-1" checked="checked" />
				<label class="label" for="tab-1">
					General
				</label>
				<section>
					<div class="tab-container">
						<div class="row">
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>General</strong>
										</li>
										<li>
											<span class="col-lg-5">First Name: </span>
											<input class="col-lg-7" type="text" value="Ashley" />
										</li>
										<li>
											<span class="col-lg-5">Last Name: </span>
											<input class="col-lg-7" type="text" value="Andeen" />
										</li>
										<li>
											<span class="col-lg-5">Employee Number: </span>
											<input class="col-lg-7" type="text" value="1234567" />
										</li>
									</ul>
								</div>
							</span>
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Contact</strong>
										</li>
										<li >
											<span class="col-lg-5">Email: </span>
											<input class="col-lg-7" type="text" value="aa@teleopti.com" />
										</li>
										<li>
											<span class="col-lg-5">Cell Phone: </span>
											<input class="col-lg-7" type="text" value="1234567" />
										</li>
									</ul>
								</div>
							</span>
						</div>
						<div class="row">
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Local & Language</strong>
										</li>
										<li>
											<span class="col-lg-5">Language: </span>
											<select class="col-lg-7">
												<option>English</option>
												<option>Chinese</option>
												<option>Swedish</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Format: </span>
											<select class="col-lg-7">
												<option>en-US</option>
												<option>en-GB</option>
												<option>zh-CN</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Timezone: </span>
											<select class="col-lg-7">
												<option>UTC+1</option>
												<option>UTC+8</option>
												<option>UTC-1</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Work Week Starts On: </span>
											<select class="col-lg-7">
												<option>Monday</option>
												<option>Tuesday</option>
												<option>Wednesday</option>
												<option>Thursday</option>
												<option>Friday</option>
												<option>Saturday</option>
												<option>Sunday</option>
											</select>
										</li>
									</ul>
								</div>
							</span>
							<span class="col-lg-6">
								<div>
									<ul class="wfm-list">
										<li>
											<i class="mdi mdi-pencil"></i> <strong>Others</strong>
										</li>
										<div class="col-lg-12">
											<span class="col-lg-5" >Roles: </span>
											
											<span class="dropdown col-lg-7" tabindex="0" style="width: 200px; z-index: 1">
												<span >Agent, Team Leader</span>
												<div class="inner material-depth-2" style="width: 200px;">
													<div class="wfm-checkbox">
														<input type="checkbox" id="check1" checked="checked" />
														<label for="check1">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Agent</span>
														</label>
													</div>
													<div class="wfm-checkbox">
														<input type="checkbox" id="check2" checked="checked" />
														<label for="check2">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Team Leader</span>
														</label>
													</div>
													<div class="wfm-checkbox">
														<input type="checkbox" id="check3" />
														<label for="check3">
															<span class="wfm-checkbox-toggle"></span>
															<span class="wfm-checkbox-label">Super Administrator</span>
														</label>
													</div>
												</div>
											</span>
										</div>
										<li>
											<span class="col-lg-5">Workflow Controlset: </span>
											<select class="col-lg-7">
												<option value="value">Default</option>
											</select>
										</li>
										<li>
											<span class="col-lg-5">Leaving Date: </span>
											<input class="col-lg-7" type="text" value="2020-12-31" />
										</li>
										<li>
											<span class="col-lg-5">Note: </span>
											<textarea class="col-lg-7"></textarea>
										</li>
									</ul>
								</div>
							</span>
						</div>
					</div>
				</section>
				<input type="radio" name="tabs" id="tab-2" />
				<label class="label" for="tab-2">
					Person Periods
				</label>
				<section>
					<div class="tab-container">
						Person Periods
					</div>
				</section>
				<input type="radio" name="tabs" id="tab-3" />
				<label class="label" for="tab-3">
					Schedule Periods
				</label>
				<section>
					<div class="tab-container">
						Schedule Periods
					</div>
				</section>
			</div>
		</div>
	</div>
</modal-dialog>
