<style>
	.ui-grid-menu-button {
  height: 31px;
}
	.grid {
  height: 650px;
}
</style>
<div class="row">
	<h4 translate>Manage People</h4>
	<div class="col-md-4">
		<div class="input-prepend people-search" style="position: relative;padding-bottom: 0px;margin-bottom: 0px; height: 40px;">
			<i class="mdi mdi-magnify"></i>
			<input id="simple-search" style="width: 90%; height: 23px;" type="text" placeholder="{{'Search'|translate}}..." xplaceholder="{{'Name' | translate}},{{'EmployeeNo' | translate}},{{'Role' | translate}},{{'Skill' | translate}},{{'Contract' | translate}},{{'PersonFinderFieldOrganization' | translate}},{{'ContractSchedule' | translate}},{{'PartTimePercentage' | translate}},{{'PersonFinderFieldShiftBag' | translate}},{{'BudgetGroup' | translate}}"
				   ng-model="keyword" ng-keydown="$event.which === 13 && searchKeyword() || turnOffAdvancedSearch()" ng-change="validateSearchKeywordChanged()"
				   ng-click="toggleAdvancedSearchOption($event);" />
			<span class="dropdown" tabindex="0" ng-show="isAdvancedSearchEnabled" ng-include src="'js/people/template/advancedPeopleSearch.html'" outside-click="turnOffAdvancedSearch()"></span>
		</div>
	</div>
</div>

<div class="big-table-wrapper material-depth-1">
	<div class="wfm-block">
	</div>
	<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection ui-grid-pagination class="grid people-list"></div>
	
	<div class="pagination pull-right" ng-hide="searchResult.length == 0" aria-hidden="false">
		<ul>
			<li class="pagination-item" ng-class="{disabled: gridApi.pagination.getPage() == 1}">
				<a href="" ng-click="gridApi.pagination.previousPage()">
					<i class="mdi mdi-chevron-double-left"></i>
					{{'RepViewerPreviousPage'| translate}}
				</a>
			</li>

			<li class="pagination-item" ng-repeat="n in range(totalPages)"
				ng-class="{active: n == gridApi.pagination.getPage()}"
				ng-click="gridApi.pagination.seek(n)">
				<a href="" ng-bind="n"></a>
			</li>

			<li class="pagination-item" ng-class="{disabled: gridApi.pagination.getPage() == totalPages}">
				<a href="" ng-click="gridApi.pagination.nextPage()">
					{{'RepViewerNextPage'| translate}}
					<i class="mdi mdi-chevron-double-right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
