<style type="text/css">
	.wfm-checkbox input[type=checkbox]:indeterminate ~ label .wfm-checkbox-toggle:after {
		background-color: #66c2ff;
		text-align: center;
		color: #fff;
	}
</style>
<md-content layout-padding>
	<div ng-show="vm.seats.length === 1">
		{{'SeatNumber' | translate}}
	    <input class="seat-number-input" type="number" min="1" max="9999" ng-model="vm.seatNumber" ng-change="vm.onChangeOfSeatNumber()" ng-model-options="{updateOn: 'blur'}" placeholder="{{'SeatNumber' | translate}}..." />
	</div>
	<div ng-show="vm.seats.length !== 1">
		{{'MultipleSeatsSelected' | translate}}
	</div>
	<label for="inputId" class="input-prepend">
		<i class="mdi mdi-filter-outline"></i>
		<input type="text" id="inputId" placeholder="{{'FilterRoles' | translate}}" name="roleFilter" ng-model="roleFilter.DescriptionText" />
		<md-tooltip>{{'FilterRoles' | translate}}</md-tooltip>
	</label>
	<div class="seat-roles">
		<div class="wfm-checkbox" ng-repeat="role in vm.roles | filter: roleFilter | orderBy:'Name'">
			<input type="checkbox" id="{{role.Id}}" ng-model="role.Selected" ng-change="vm.selectedStatusChanged(role)" seat-role-indeterminate="vm.rolesStatus(role)" />
			<label for="{{role.Id}}">
				<span class="wfm-checkbox-toggle"></span>
				<span class="wfm-checkbox-label">{{role.DescriptionText}}</span>
			</label>
		</div>
	</div>
</md-content>
