<div class="planning-period-content">
	<div class="con-row">
		<div class="con-flex">
			<location-picker selected-locations="vm.selectedLocations"></location-picker>
		</div>
		<div class="con-flex">
			<team-picker selected-teams="vm.selectedTeams"></team-picker>
		</div>
	</div>
	
	<div class="planning-period-button-bar">
		<button class="wfm-btn wfm-btn-invis-primary next-step period-report-btn" 
				ng-click="vm.showReport(vm.period,vm.selectedTeams,vm.selectedLocations)" 
				ng-disabled="vm.processingSeatPlan">{{ 'ViewReport' | translate }}</button>
		<button class="wfm-btn wfm-btn-invis-primary next-step" ng-click="vm.addSeatPlan()" 
				ng-disabled="vm.processingSeatPlan">{{ 'PlanSeats' | translate }}</button>
	</div>
</div>


