<div id="seatmap-toolbar">
	<div tabindex=0 class="context-menu wfm-btn wfm-btn-default" id="menuFile">
		{{'Add' | translate}}
		<span class="context-menu-right">
			<ul class="wfm-list">
				<li ng-click="vm.addSeat()" id="menuFileAddSeat">
					<i class="mdi mdi-chair-school menu-icon"></i>
					{{'Seat' | translate}}
					<span class="md-alt-text">Alt + S</span>
				</li>
				<li ng-click="vm.addLocation()" id="menuFileAddLocation">
					<i class="mdi mdi-tab-unselected menu-icon"></i>
					{{'Location' |translate}}...
					<span class="md-alt-text">Alt + L</span>
				</li>
				<li ng-click="vm.addImage()">
					<i class="mdi mdi-file-image menu-icon"></i>
					{{'Image' | translate}}...
					<span class="md-alt-text">Alt + I</span>
				</li>
				<li ng-click="vm.addText()">
					<i class="mdi mdi-tooltip-text menu-icon"></i>
					{{'Text' | translate}}
					<span class="md-alt-text">Alt + T</span>
				</li>
			</ul>
		</span>
	</div>

	<div tabindex=0 class="context-menu wfm-btn wfm-btn-default">
		{{'Edit' | translate}}
		<span class="context-menu-right">
			<ul class="wfm-list">
				<li ng-click="vm.refreshSeatMap()" ng-disabled="!vm.hasChanges()">
					<i class="mdi mdi-undo menu-icon"></i>
					{{'RevertToLastSave' | translate}}
				</li>
				<li ng-click="vm.delete()" ng-disabled="!vm.hasObjectSelected()">
					<i class="mdi mdi-delete menu-icon"></i>
					{{'Delete' | translate}}
					<span class="md-alt-text">DEL</span>
				</li>
				<li ng-click="vm.copy()" ng-disabled="!vm.hasObjectSelected()">
					<i class="mdi mdi-content-copy menu-icon"></i>
					{{'Copy' | translate}}
					<span class="md-alt-text">Ctrl + C</span>
				</li>
				<li ng-click="vm.paste()" ng-disabled="!vm.hasCopiedObjectBool">
					<i class="mdi mdi-content-paste menu-icon"></i>
					{{'Paste' | translate}}
					<span class="md-alt-text">Ctrl + V</span>
				</li>
				<li ng-click="vm.setBackgroundImage()">
					<i class="mdi mdi-plus"></i>
					{{'SetBackgroundImage' | translate}}...
				</li>
				<li ng-click="vm.clearBackgroundImage()">
					<i class="mdi mdi-close"></i>
					{{'ClearBackgroundImage' | translate}}
				</li>

				<li ng-click="vm.parentVm.prefixSuffixPanelOptions.panelState = true">
					<i class="mdi mdi-pencil"></i>
					{{'EditLocationProperty' | translate}}
				</li>

			</ul>
		</span>
	</div>

	<div class="quick-access-toolbar">

		<button class="wfm-btn wfm-btn-primary" ng-click="vm.save()" ng-class="{'wfm-btn-primary-disabled': !vm.hasChanges()}">
			<i class="mdi small mdi-content-save"></i>
			<md-tooltip>
				{{'Save' | translate}}
			</md-tooltip>
		</button>

		<button class="wfm-btn wfm-btn-default" ng-click="vm.group()">
			<i class="mdi small mdi-group"></i>
			<md-tooltip>
				{{'GroupSelectedItems' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.ungroup()">
			<i class="mdi small mdi-ungroup"></i>
			<md-tooltip>
				{{'UngroupItems' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.sendToBack()">
			<i class="mdi small mdi-arrange-send-to-back"></i>
			<md-tooltip>
				{{'SendToBack' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.sendBackward()">
			<i class="mdi small mdi-arrange-send-backward "></i>
			<md-tooltip>
				{{'MoveBack' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.bringForward()">
			<i class="mdi small mdi-arrange-bring-forward"></i>
			<md-tooltip>
				{{'MoveForwards' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.bringToFront()">
			<i class="mdi small mdi-arrange-bring-to-front "></i>
			<md-tooltip>
				{{'BringToFront' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.alignLeft()">
			<i class="mdi small mdi-format-align-left"></i>
			<md-tooltip>
				{{'AlignLeft' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.alignRight()">
			<i class="mdi small mdi-format-align-right "></i>
			<md-tooltip>
				{{'AlignRight' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.alignTop()">
			<i class="mdi small mdi-format-align-left mdi-rotate-90 block"></i>
			<md-tooltip>
				{{'AlignTop' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.alignBottom()">
			<i class="mdi small mdi-format-align-right mdi-rotate-90 block"></i>
			<md-tooltip>
				{{'AlignBottom' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.rotate45()">
			<i class="mdi small mdi-rotate-right"></i>
			<md-tooltip>
				{{'Rotate' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.spaceActiveGroupVertical()">
			<i class="mdi small mdi-unfold-more-horizontal"></i>
			<md-tooltip>
				{{'SpaceVertically' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.spaceActiveGroupHorizontal()">
			<i class="mdi small mdi-unfold-more-vertical"></i>
			<md-tooltip>
				{{'SpaceHorizontally' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.flip(true)">
			<i class="mdi small mdi-swap-horizontal"></i>
			<md-tooltip>
				{{'FlipItemHorizontally' | translate}}
			</md-tooltip>
		</button>
		<button class="wfm-btn wfm-btn-default" ng-click="vm.flip(false)">
			<i class="mdi small mdi-swap-vertical"></i>
			<md-tooltip>
				{{'FlipItemVertically' | translate}}
			</md-tooltip>
		</button>
	</div>
</div>

<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="vm.showLocationDialog">
		<div class="modalbg">
			<div class="dialog">
				<h1 class="modal-title">
					{{'AddLocation' | translate}}
				</h1>
				<div class="modal-inner-content">
					<input type="text" id="locationName" ng-model="vm.newLocationName" placeholder="{{'Name' | translate}}..." />
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.showLocationDialog = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel' | translate}}</button>
						<button ng-click="vm.addNamedLocation()" class="wfm-btn wfm-btn-invis-primary">{{'Create' | translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>

<image-load-with-preview></image-load-with-preview>