<div class="seatmap-occupancy-detail">
	<div class="seatbooking-operations-add" ng-show="!vm.showPeopleSelection && vm.occupancyDetails">
		<button class="wfm-btn wfm-btn-invis-primary add-agents pull-right" ng-click="vm.showPersonSelectionPanel()">{{'Add'
			| translate}}</button>
	</div>

	<div class="seatbooking-operations-cancel" ng-show="vm.showPeopleSelection && vm.occupancyDetails">
		<button class="wfm-btn wfm-btn-invis-primary assign-agents pull-right" ng-click="vm.asignAgentsToSeats();vm.showPeopleSelection = false;">{{'Assign'
			| translate}}</button>
		<button class="wfm-btn wfm-btn-invis-primary cancel-operation pull-right" ng-click="vm.showPeopleSelection = false;">{{'Cancel'
			| translate}}</button>
	</div>

	<div class="add-booking-detail" ng-show="vm.showPeopleSelection  && vm.occupancyDetails">
		<wfm-date-range-picker ng-model="vm.selectedPeriod" popup-mode="true"></wfm-date-range-picker>
		<people-selection-list selected-people="vm.selectedPeople" clear-selected-people="vm.resetPersonSearch"></people-selection-list>
	</div>
	<div class="seat-booking-list" ng-show="!vm.showPeopleSelection">
		<ul class="wfm-list" ng-repeat="detail in vm.occupancyDetails">

			<li class="active" ng-repeat="booking in detail.Occupancies" ng-class="{'default-cursor':booking.IsEmpty}">
				<span class="list-item-container seat-booking-seatname pull-left" ng-show="$index == 0">{{'Seat'|translate}}
					{{booking.LocationPrefix}}{{detail.SeatName}}{{booking.LocationSuffix}}:</span>

				<span class="list-item-container seat-booking-seatname pull-left" ng-show="$index !== 0">&nbsp;</span>

				<span ng-show="!booking.IsEmpty" class="list-item-container seat-booking-item" ng-class="vm.getSeatBookingDetailClass(booking)">
					{{vm.getDisplayTime(booking)}}
					&nbsp;&nbsp;{{booking.FirstName}}
					&nbsp;{{booking.LastName}}
				</span>

				<span ng-show="booking.IsEmpty" class="list-item-container seat-booking-item">{{'SeatHasNoBookings'|translate}}</span>

				<div class="wfm-leave-behind wfm-leave-behind-1" ng-show="!booking.IsEmpty">
					<span ng-click="vm.deleteSeatBooking(booking)"><i class="mdi mdi-delete"></i></span>
				</div>
			</li>
		</ul>
	</div>
</div>