<div class="row seatplan-report">
	<div class="seatplan-report-header">

		<button class="wfm-btn pull-left wfm-btn-invis-primary" ng-click="vm.toggle()">
			<i class="mdi mdi-reply"></i>
		</button>

		<button class="wfm-btn wfm-btn-invis-primary pull-left" ng-class="{'button-active':vm.isFilterOpened}" ng-click="vm.toggleFilterVisibility()">
			<i class="mdi mdi-filter-outline"></i>
			{{'Filter' | translate}}
		</button>

		<span class="turn-off-filter-blank" ng-click="vm.isFilterOpened = false"></span>

		<div class="seatplan-report-filter" ng-show="vm.isFilterOpened">
			<div class="panel material-depth-1">
				<div class="wfm-slide-tabs tabbed-panel">
					<md-content class="md-padding">
						<md-tabs md-dynamic-height md-border-bottom>
							<md-tab label="{{'Filter' | translate}}">
								<md-content class="md-padding">
									<div class="con-row report-options">
										<div>
											<label>
												{{'DateRange' | translate}}
											</label>

											<div class="date-picker">
												<date-range-picker ng-model="vm.selectedPeriod"></date-range-picker>
											</div>
										</div>
										<div class="con-flex report-show-options report-filter-panel">

											<label>
												{{'ReportOptions' | translate}}
											</label>

											<div>
												<div class="wfm-radio">
													<input type="radio" name="unseated-agents-toggle" id="showAllToggle" checked ng-click="vm.setShowAllAgents(true)" />
													<label for="showAllToggle">
														<span class="wfm-radio-toggle"></span>
														<span class="wfm-radio-label">{{'ShowAll' | translate}}</span>
													</label>
												</div>
												<div class="wfm-radio">
													<input type="radio" name="unseated-agents-toggle" id="showUnseatedToggle" ng-click="vm.setShowAllAgents(false)" />
													<label for="showUnseatedToggle">
														<span class="wfm-radio-toggle"></span>
														<span class="wfm-radio-label">{{'ShowOnlyAgentsWithNoSeat' | translate}}</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="con-footer">
										<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelFilter()">{{'Cancel' | translate}}</button>
										<button class="wfm-btn wfm-btn-invis-primary" ng-class="vm.dateFilterIsValid() ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'"
										 ng-click="vm.applyFilter()">{{'Apply' | translate}}</button>
									</div>
								</md-content>
							</md-tab>
							<md-tab label="{{'Team' | translate}}">
								<md-content class="md-padding">
									<div class="con-row demo-outline">
										<div class="con-flex report-filter-panel">
											<div class="team-picker">
												<team-picker selected-teams="vm.selectedTeams"></team-picker>
											</div>
										</div>
									</div>
									<div class="con-footer">
										<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelFilter()">{{'Cancel' | translate}}</button>
										<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.applyFilter()">{{'Apply' | translate}}</button>
									</div>
								</md-content>
							</md-tab>
							<md-tab label="{{'Location' | translate}}">
								<md-content class="md-padding">
									<div class="con-row demo-outline">
										<div class="con-flex report-filter-panel">
											<div class="location-picker">
												<location-picker selected-locations="vm.selectedLocations"></location-picker>
											</div>
										</div>
									</div>
									<div class="con-footer">
										<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelFilter()">{{'Cancel' | translate}}</button>
										<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.applyFilter()">{{'Apply' | translate}}</button>
									</div>
								</md-content>
							</md-tab>
						</md-tabs>
					</md-content>
				</div>
			</div>
		</div>
	</div>

	<div class="seatplan-report-content seatplan-report-to-view" id="seatplan-report-to-view" ng-init="vm.init()" ng-click="vm.isFilterOpened = false">
		<div ng-if="vm.isLoadingReport" class="report-spinner">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
		<h2>{{'SeatPlanReport' | translate }}</h2>
		<h5 ng-if="vm.seatBookings.length == 0 ">{{'NoDataAvailable' | translate}}</h5>
		<seat-plan-report-table seat-bookings="vm.seatBookings" ng-if="!vm.isLoadingReport"></seat-plan-report-table>

		<div class="seatplan-paging-container pull-right" ng-if="!vm.isLoadingReport && vm.seatBookings.length !== 0">
			<wfm-pagination pagination-options="vm.paginationOptions" get-data-for-page-callback="vm.getPageData"></wfm-pagination>
		</div>
	</div>

	<div class="seatplan-report-content seatplan-report-to-print" id="seatplan-report-to-print">
		<h2>{{'SeatPlanReport' | translate}}</h2>
		<h5 ng-if="vm.seatBookings.length == 0 ">{{'NoDataAvailable' | translate}}</h5>
		<seat-plan-report-table seat-bookings="vm.seatBookingsAll"></seat-plan-report-table>
	</div>


</div>