<div class="view-header seatplan-header" ng-class="!seatplan.isSeatMapBookingViewOpened ? 'with-fab' : ''">
	<div class="view-title">
		<h1 ng-if="seatplan.isReportOpened">
			<i class="mdi mdi-tab-unselected"></i>
			{{'SeatPlanReport' | translate}}
		</h1>
		<h1 ng-if="seatplan.isSeatMapBookingViewOpened">
			<i class="mdi mdi-tab-unselected"></i>
			{{'SeatBookings' | translate}}
		</h1>
		<h1 ng-if="!seatplan.isReportOpened && !seatplan.isSeatMapBookingViewOpened">
			<i class="mdi mdi-tab-unselected"></i>
			{{'SeatPlan' | translate}}
		</h1>
	</div>

	<div class="fab-wrapper" ng-if="!seatplan.isReportOpened && !seatplan.isSeatMapBookingViewOpened">

		<button id="seatplan-report-btn" class="wfm-fab  material-depth-1 seatplan-report-btn" ng-if="!seatplan.isLoadingCalendar" ng-click="seatplan.showReport({startDate:seatplan.selectedDate,endDate:seatplan.selectedDate},[],[])">

			<i class="mdi mdi-file-document"></i>
			<md-tooltip>{{'GenerateReport' | translate}}</md-tooltip>
		</button>
	</div>

	<div class="fab-wrapper" ng-if="seatplan.isReportOpened">
		<button class="wfm-fab  material-depth-1" ng-click="seatplan.printReport()">
			<i class="mdi mdi-printer"></i>
			<md-tooltip>{{'Print' | translate}}</md-tooltip>
		</button>
	</div>

</div>

<div class="seatplan material-depth-1" ng-class="seatplan.isSeatMapBookingViewOpened ? 'seatmap-container' : ''" ui-view>
	<seat-plan-report ng-if="seatplan.isReportOpened" toggle="seatplan.isReportOpened = !seatplan.isReportOpened"
					  selected-period="seatplan.reportPeriod" selected-teams="seatplan.reportSelectedTeams"
					  selected-locations="seatplan.reportSelectedLocations" seat-bookings-all="seatplan.seatBookingsAll"></seat-plan-report>

	<seatmap-canvas occupancy date="seatplan.selectedDate" toggle="seatplan.showSeatmap()" ng-if="!seatplan.isLoadingCalendar && seatplan.isSeatMapBookingViewOpened"></seatmap-canvas>

	<div ng-show="!seatplan.isReportOpened && !seatplan.isSeatMapBookingViewOpened">

		<div class="con-row">

			<div class="con-flex seatplan-calendar">

				<div uib-datepicker seatplan-month-change-emitter ng-model="seatplan.selectedDate"
					 ng-change="seatplan.onChangeOfDate()" class="wfm-datepicker"
					 datepicker-options="seatplan.datepickerOptions">
				</div>

			</div>

			<div class="planning-day-detail con-flex" ng-if="seatplan.selectedDate!=null">

				<h4>{{seatplan.selectedDate | date : "fullDate"}}</h4>
				<md-divider md-insert></md-divider>
				<p>
					<h3>{{ seatplan.getToDayInfo()}}: </h3>
				</p>


				<div ng-show="seatplan.isLoadingStuff()">
					<md-progress-linear md-mode="indeterminate"></md-progress-linear>
				</div>

				<div class="wfm-chip-wrap" ng-if="!seatplan.isLoadingCalendar">
					<span class="wfm-chip">
						<span class="chip-handle chip-success">
							<i class="mdi mdi-thumb-up"></i>
						</span>
						<span class="chip-text">{{seatplan.seatBookingSummaryForDay.NumberOfBookings}} {{'SuccessfulBookings' | translate}}</span>
					</span>
					<span class="wfm-chip">
						<span class="chip-handle">
							<i class="mdi mdi-alert-circle"></i>
						</span>
						<span class="chip-text">{{seatplan.seatBookingSummaryForDay.NumberOfUnscheduledAgentDays}} {{'AgentsDoNotRequireSeats' | translate}}</span>
					</span>
					<span class="wfm-chip">
						<span class="chip-handle chip-warning">
							<i class="mdi mdi-alert"></i>
						</span>
						<span class="chip-text">{{seatplan.seatBookingSummaryForDay.NumberOfScheduleDaysWithoutBookings}} {{'AgentsWithoutBookings' | translate}}</span>
					</span>
				</div>

			</div>
		</div>
		<div class="con-row">
			<div class="planning-period-button-bar">
				<button id="view-seatbookings-button" class="wfm-btn wfm-btn-invis-primary"
						ng-click="seatplan.showSeatmap()" ng-if="!seatplan.isLoadingCalendar">
					{{'ViewSeatBookings' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>

<div class="seatplan material-depth-1" ui-view ng-if="!seatplan.isReportOpened && !seatplan.isSeatMapBookingViewOpened && !seatplan.usePlanningPeriods">

	<div class="con-row">
		<div class="con-flex seatplan-planning-periods">
			<h3 class="planning-period-title">{{ 'PlanSeats' | translate }}</h3>

			<md-divider md-insert></md-divider>

			<seat-plan-init-manual-period on-seat-plan-complete="seatplan.onSeatPlanComplete()"
										  on-seat-plan-start="seatplan.onSeatPlanStart()" show-report="seatplan.showReport">

			</seat-plan-init-manual-period>
		</div>
		</div>
</div>
