<div class="manual-period-planner-content">

	<div class="row">
		<div class="col-sm-6 col-md-12 seatplan-manual-planning-calendar">
			<date-range-picker class="request-date-range-picker" ng-model="vm.period" template-type="vm.dateRangeTemplateType"></date-range-picker>
		</div>
	</div>
	
	<div class="row" style="padding-top: 15px;">
		<div class="col-sm-12 col-md-6">
			<location-picker selected-locations="vm.selectedLocations"></location-picker>
		</div>
		<div class="col-sm-12 col-md-6">
			<team-picker selected-teams="vm.selectedTeams"></team-picker>
		</div>
	</div>

	<div class="planning-period-button-bar">
		<button class="wfm-btn wfm-btn-invis-primary next-step period-report-btn"
				ng-click="vm.showReport(vm.period,vm.selectedTeams,vm.selectedLocations)"
				ng-disabled="vm.processingSeatPlan">
			{{ 'ViewReport' | translate }}
		</button>
		<button class="wfm-btn wfm-btn-invis-primary next-step" ng-click="vm.addSeatPlan()"
				ng-disabled="vm.processingSeatPlan">
			{{ 'PlanSeats' | translate }}
		</button>
	</div>
</div>
