<div ng-controller="SearchCtrl" ng-show="searchmode">
  <input type="text" id="searchbar" ng-blur="ResetSearch()" class="navbar-search" placeholder="{{'SearchThreeDots' | translate}}" ng-model="keyword" ng-change="searchKeyword()"/>
  <div class="search-results material-depth-2">
    <ul class="wfm-list">
      <div ng-repeat="gp in searchResultGroups">
        <li class="wfm-search-li" style="pointer-events:none;">
          <button ng-if="gp == 'Permission' " class="wfm-fab mini result-icon"><i class="mdi mdi-account-key"></i></button>
          <button ng-if="gp == 'Planning Period' " class="wfm-fab mini info result-icon"><i class="mdi mdi-calendar"></i></button>
          {{gp}}
        </li>
        <li ng-repeat="item in searchResult | filter:{ SearchGroup: gp }">
          <div ng-click="clickedItem(item);ResetSearch();searchmode=false;">
            {{item.Name}}
          </div>
        </li>
        <li ng-if="searchResult.length == 0"></li>
      </div>
    </ul>
  </div>
</div>
