<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<add key="ClientId" value="864fcad7-86d0-4ef8-ae79-8c7f44fff0fc" />
		<add key="RedirectUrl" value="http://localhost/"/>
	</appSettings>
	<connectionStrings>
		<add name="TeleoptiAnalytics" connectionString="Data Source=demosqlussc01.database.windows.net;Initial Catalog=StaffHub_TeleoptiAnalytics;User ID=staffhub;Password=kajkjkjs#12123487!;Current Language=us_english" />
	</connectionStrings>
</configuration>