<div class="modal-box mini-confirm">
    <div>
        <div class="modalbg">
            <div class="dialog-mini">
                <div class="modal-inner-content">
                    <h3>{{title | translate}}</h3>
                    {{::message}}
                </div>
                <div class="modal-actions">
                    <aside>
						<button ng-click="close(false)" class="wfm-btn wfm-btn-invis-default focus-default" autofocus>{{::buttonTexts[1]}}</button>
						<button ng-click="close(true)" class="wfm-btn wfm-btn-invis-primary">{{::buttonTexts[0]}}</button>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
