<div nz-row class="wrapper" nzType="flex" nzJustify="center" nzAlign="middle">
  <div nz-col nzSpan="8">
    <div nz-row class="form-box" nzType="flex" nzJustify="center">
      <div nz-col nzSpan="20">
        <h1>{{'ResetPassword' | translate}}</h1>

        <ng-container *ngIf="!successfulReset && !(hasValidToken$ | async)">
          <invalid-link-message data-invalid-message></invalid-link-message>
        </ng-container>

        <ng-container *ngIf="successfulReset">
          <success-message (linkAction)="gotoLogin()" data-success-message></success-message>
        </ng-container>

        <ng-container *ngIf="!successfulReset && (hasValidToken$ | async)">
          <reset-password-form (success)="successfulReset = true" [token]="token" (cancel)="gotoLogin()" data-reset-password-form></reset-password-form>
        </ng-container>

      </div>
    </div>
  </div>
</div>