<div class="con-row rta-filters-container">
	<span class="con-flex rta-multiple-selection-panel">
				<div class="relative">
							<input type="text" placeholder="{{'DataFilterThreeDots'|translate}}"
								   ng-style="vm.openPicker && {'visibility': 'hidden'}"
								   ng-class="vm.defaultInputText ? 'rta-light-text' : ''"
								   ng-click="vm.openPicker = !vm.openPicker" ng-value="vm.selectFieldText"
								   ng-model="vm.searchTerm"/>
						<form ng-cloak name="form"
							  class="wfm-form wfm-dropdown-panel panel material-depth-2 animate-show" novalidate
							  ng-if="vm.openPicker" outside-click="vm.goToAgents()">
							<div class="sub-header">
								<div>
								<label for="filter" class="input-icon">
									<i class="mdi mdi-filter-outline"></i>
									<input type="text" id="filter" placeholder="{{'DataFilterThreeDots' | translate}}"
										   ng-model="vm.searchTerm">
									<md-tooltip>{{'DataFilterThreeDots' | translate}}</md-tooltip>
								</label>
								</div>
								<div>
									<button class="wfm-btn wfm-btn-invis-primary"
											ng-class="vm.siteMarkedOrChecked ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'"
											type="clear"
											ng-click="vm.clearOrgSelection()">{{'ClearAll' | translate}}</button>
									<button class="wfm-btn wfm-btn-invis-primary" ng-class="wfm-btn-invis-primary"
											type="clear" ng-click="vm.goToAgents()">{{'Close' | translate}}</button>									
								</div>
		</div>
		<div class="panel">
			<div ng-repeat="site in vm.sites | filter:vm.searchTerm" class="rta-option-group">
				<div>
					<span ng-click="vm.expandSite(site)" class="rta-options-prepend">
						<i class="mdi" ng-class="site.isExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i>
					</span>
					<label>
						<md-checkbox ng-checked="site.isChecked" aria-label="Checkbox"
									 ng-class="site.isMarked ? 'rta-marked-checkbox' : ''" ng-click="site.toggle()"/>
						<span class="wfm-checkbox-label">{{site.Name}}</span>
					</label>
				</div>
		<div style="margin-left: 50px" ng-show="site.isExpanded" ng-repeat="team in site.Teams">
			<label>
				<md-checkbox ng-checked="team.isChecked" aria-label="Checkbox" ng-click="team.toggle()"/>
						<span class="wfm-checkbox-label">{{team.Name}}</span>
			</label>
		</div>
	</div>
</div>
</form>
</div>
</span>
	<span class="con-flex">
						<md-autocomplete id="skill-id"
										 ng-disabled="!vm.skillsLoaded"
										 ng-attr-skillsLoaded="{{vm.skillsLoaded}}"
										 class="autocomplete-skill "
										 md-input-id="skill-input"
										 md-selected-item="vm.selectedSkill"
										 md-search-text="searchSkillText"
										 md-selected-item-change="vm.selectedSkillChange(skill)"
										 md-items="skill in vm.querySearch(searchSkillText, vm.skills)"
										 md-item-text="skill.Name"
										 md-min-length="0"
										 placeholder="{{vm.skillsLoaded ? 'SelectSkill' : 'LoadingSkills' | translate}}">
							<md-item-template>
								<span class="rta-skill-item" md-highlight-text="searchSkillText"
									  md-highlight-flags="^i">{{skill.Name}}</span>
					</md-item-template>
					<md-not-found>
						{{'RepViewerNoMoreMatches'|translate}}
					</md-not-found>
			</md-autocomplete>
			<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkill"
			   ng-click="vm.clearSelection()">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
			</span>
	<span class="con-flex">
						<md-autocomplete id="skill-area-id"
										 ng-disabled="!vm.skillAreasLoaded"
										 ng-attr-skillAreasLoaded="{{vm.skillAreasLoaded}}"
										 class="autocomplete-skillarea"
										 md-input-id="skill-area-input"
										 md-selected-item="vm.selectedSkillArea"
										 md-search-text="searchSkillAreaText"
										 md-selected-item-change="vm.selectedSkillAreaChange(skillArea)"
										 md-items="skillArea in vm.querySearch(searchSkillAreaText, vm.skillAreas)"
										 md-item-text="skillArea.Name"
										 md-min-length="0"
										 placeholder="{{vm.skillAreasLoaded ? 'SelectSkillGroup' : 'LoadingSkillGroups' | translate}}">
							<md-item-template>
								<span class="rta-skill-area-item" md-highlight-text="searchSkillText"
									  md-highlight-flags="^i">{{skillArea.Name}}</span>
					</md-item-template>
					<md-not-found>
						{{'RepViewerNoMoreMatches'|translate}}
					</md-not-found>
			</md-autocomplete>
			<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkillArea"
			   ng-click="vm.clearSelection()">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
			</span>
	<span class="pull-right">
		<a ui-sref="rta-skill-area-config">
			<skill-group-button></skill-group-button>
		</a>
	</span>
</div>

