<div ng-if="vm.hasPermission">
	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<div class="pull-left">
				<h1>
					<i class="mdi mdi-alarm"></i> {{'RTA'|translate}}
				</h1>
			</div>
			<div class="rta-top-buttons-wrapper pull-left">
				<span>
					<button class="wfm-btn wfm-btn-primary rta-default-cursor">{{'Dashboard'|translate}}</button>
					<button class="wfm-btn wfm-btn-default select-skill" ng-click="vm.goToSelectSkill()">{{'Agents'|translate}}</button>
				</span>
			</div>
		</div>
		<div class="fab-wrapper">
			<button class="wfm-fab  material-depth-1 open" ng-cloak ng-class="{'invisible': vm.selectedItemIds.length < 1, 'grow-out': vm.selectedItemIds.length > 0}"
			 ng-click="vm.openSelectedItems()">
				<i class="mdi mdi-arrow-right"></i>
				<md-tooltip>{{'Open'|translate}}</md-tooltip>
			</button>
		</div>
	</div>


	<div class="panel material-depth-1 rta-filter-panel" ng-include="'app/rta/filter/filter-template.html'" ng-controller="RtaFilterController as vm"></div>

	<div class="panel material-depth-1">
		<div class="con-row" ng-if="vm.sites.length === 0">
			<div class="con-flex no-data-available">
				{{vm.skillId ? 'NoSitesFound' : 'NoAccessToSites' | translate}}
			</div>
		</div>
		<div class="con-row demo-outline">
			<div class="con-flex">
				<div class="wfm-grid">
					<div class="grid-card site" ng-if="site.AgentsCount > 0" ng-repeat="site in vm.sites">
						<a ui-sref="{{vm.getStateForTeams()}}" class="rta-card-link">
							<div class="list-content" ng-class="site.Color" tabindex="-1">
								<div class="wfm-checkbox">
									<label ng-attr-name="{{site.Name}}" ng-click="$event.stopPropagation()" tabindex="-1">
										<input type="checkbox" value="value" ng-checked="vm.selectedSites.indexOf(site.Id) > -1" ng-click="vm.toggleSelection(site.Id)" ng-model="selected" tabindex="-1"/>
											<span class="wfm-checkbox-toggle"></span>
												<b>
													<span class="wfm-checkbox-label org-name-container" ng-attr-data-max="{{site.AgentsCount}}" ng-attr-data-value="{{site.InAlarmCount}}" style="width:80px">
															{{site.Name}}
													</span>
													</b>
									</label>
									</br>
											<span class="full-padding">{{'InAlarm'|translate}}:
												<b>{{site.InAlarmCount}}</b>
											</span>
										</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="con-footer"></div>
	</div>
</div>