<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="MbCache" version="2.4" targetFramework="net40" />
  <package id="Microsoft.Practices.Composite.Presentation" version="1.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6" targetFramework="net40" />
  <package id="SharpTestsEx" version="1.1.1" />
  <package id="Syncfusion.Chart.Win" version="10.2.80" targetFramework="net40" />
  <package id="Syncfusion.Core" version="10.2.81" targetFramework="net40" />
  <package id="Syncfusion.Grid.Win" version="10.2.81" targetFramework="net40" />
  <package id="Syncfusion.Pdf" version="10.2.80" targetFramework="net40" />
  <package id="Syncfusion.Shared.Base" version="10.2.81" targetFramework="net40" />
  <package id="Syncfusion.Shared.Win" version="10.2.81" targetFramework="net40" />
  <package id="Syncfusion.Tools.Win" version="10.2.81" targetFramework="net40" />
  <package id="Teleopti.Secrets" version="7.5.800.22" targetFramework="net40" />
</packages>