body {
	background: rgb(153,214,255);
	background: -moz-linear-gradient(top, rgba(153,214,255,1) 0%, rgba(153,214,255,1) 45%, rgba(0,153,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(153,214,255,1) 0%,rgba(153,214,255,1) 45%,rgba(0,153,255,1) 100%);
	background: linear-gradient(to bottom, rgba(153,214,255,1) 0%,rgba(153,214,255,1) 45%,rgba(0,153,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d6ff', endColorstr='#0099ff',GradientType=0 );
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: fixed;
    left: 0;
    right: 0;
}

h1, h2, h3, h4, h5, body, button, input {
	font-family: Calibri,Segoe,Segoe UI,Arial,sans-serif!important;
}

html {
	background: #66C2FF!important;
}
.login-form {
	max-width: 100%!important;	
}

.animate-material {
	-webkit-animation-name: material;
	animation-name: material;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
  max-height: 54px;
}

@keyframes material {
	from {
		opacity: 0;
		max-height: 54px;
	}
	to {
		opacity: 1;
		max-height: 100%;
	}
}

.animate-content {
  margin: 0 20px;
}

.animate-content, .wfm-checkbox-toggle::after, .animate-content input[type=text] {
	-webkit-animation-name: content;
	animation-name: content;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
  opacity: 0;
  background: white;
}

@keyframes content {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.formError {
	-webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}

.loader {
	z-index: 2800;
	top: 50% !important;
	left: 50% !important;
	margin-top: -25px !important;
	margin-left: -25px !important;
	margin: 6em auto;
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	border-top: 0.5em solid rgba(52, 152, 219, .3);
	border-right: 0.5em solid rgba(52, 152, 219, .3);
	border-bottom: 0.5em solid rgba(52, 152, 219, .3);
	border-left: 0.5em solid #3498DB;
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

	.loader,
	.loader:after {
		border-radius: 50%;
		width: 5em;
		height: 5em;
	}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 728px) {
  .con-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .con-flex {
    flex: 1;
  }
}

@media screen and (max-width: 728px) {
  .con-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .con-flex {
    flex: 1 1 auto;
  }
	body {
		background: #66C2FF!important;
	}
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.animate-material {
		max-height: 100%!important;
		animation: none;
	}
}
