
<div class="container">
	
	<div class="row">
		<div class="span12 nowrap">
			<select id="team-selector">
				<option selected="selected">Team Preferences</option>
				<option>Team Monthly</option>
				<option>Team Rotations</option>
				<option>Team Extended Preferences</option>
				<option>Team Students</option>
			</select>
			<a class="btn vertical-top-align" role="button" href="#modal-sorting" title="Change sort order" id="change-sort-order" data-toggle="modal"><i class="icon-arrow-down"></i></a>
			<div class="input-append input-prepend pull-right">
				<a class="btn" role="button" href="#previous-day" title="Previous day" id="previous-day-button"><i class="icon-chevron-left"></i></a>
				<input type="text" value="2012-09-18" id="date-selection" data-date="2012-09-18" data-date-format="yyyy-mm-dd" class="input-small" />
				<a class="btn" role="button" href="#next-day" title="Next day" id="next-day-button"><i class="icon-chevron-right"></i></a>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- ko with: TeamSchedule -->
		<div class="span12">
			<div class="team-schedule relative">
    			
				<div class="time-line absolute">
					<div class="relative">
					    <div data-bind="foreach: TimeLine.Times">
					        <div class="ruler absolute" data-bind="style: { left: Pixel() + 'px' }"></div>
					        <div class="label label-info absolute" data-bind="style: { left: (Pixel() - 13) + 'px' }, text: Time"></div>
					    </div>
					</div>
				</div>
						
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th class="contract-time">Contract time</th>
							<th class="work-time">Work time</th>
						</tr>
					</thead>
				    <tbody>
				        <!-- ko foreach: Agents -->
				        <tr class="agent" data-bind="attr: { 'data-agent-id': Id }">
				            <td class="agent-name">
				                <!-- Must do it this way to get correct overflow: hidden in IE -->
				                <div class="agent-name nowrap" data-bind="text: Name"></div>
				            </td>
				            <td class="shift">
				                <ul class="relative unstyled" data-bind="foreach: Layers">
				                    <li class="layer absolute floatleft" data-bind="style: { left: StartPixels() + 'px', width: LengthPixels() + 'px', backgroundColor: Color()}" ></li>
				                </ul>
				            </td>
				            <td class="contract-time" data-bind="text: ContractTime"></td>
				            <td class="work-time" data-bind="text: WorkTime"></td>
				        </tr>
				        <!-- /ko -->
				    </tbody>
				</table>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>

<div id="modal-sorting" tabindex="-1" role="dialog" aria-labelledby="sorting-modal-label" aria-hidden="true" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 id="sorting-modal-label">Change sorting</h3>
    </div>
    <div class="modal-body">
        <p>Select the desired sorting for schedules.</p>
        <div>
            <form action="#">
                <select id="schedule-sorting">
                    <option>First name</option>
                    <option>Last name</option>
                    <option>Employment number</option>
                    <option>Start time</option>
                    <option>End time</option>
                    <option>Absence name</option>
                </select>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active">Ascending</button>
                    <button type="button" class="btn">Descending</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</div>

