<div class="view-header with-fab with-desc" ng-hide="vm.isDisable">
	<div class="view-title">
		<h1><i class="mdi mdi-calendar"></i> {{'PlanGroupScheduling' | translate}}</h1>
		<p>{{vm.textManageDoRule}}</p>
	</div>
</div>
<div class="con-row" ng-hide="vm.isDisable">
	<div class="con-flex ">
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<div class="plan-filter-container">
						<label for="filter" class="input-icon">
							<i class="mdi mdi-filter-outline">
								<input type="text" id="filter" ng-model="vm.filterName.Name" placeholder="{{'FilterPlanGroupSchedulingSetting' | translate}}">
								<md-tooltip>{{'FilterPlanGroupSchedulingSetting' | translate}}</md-tooltip>
							</i>
						</label>
					</div>
				</div>
				<div class="con-flex x3">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.goCreateDoRule()"><i class="mdi mdi-plus"></i>{{'NewPlanGroupSchedulingSetting' | translate}}</button>
					<button class="wfm-btn wfm-btn-invis-disabled" ng-click=""><i class="mdi mdi-information-outline"></i>{{'HelpLabel' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-group">
	<div class="panel material-depth-1 filter-boxes" ng-repeat="dayOffRule in vm.dayOffRules | filter:vm.filterName">
		<div class="head-actions">
			<h2>{{dayOffRule.Name}}</h2>
			<div class="con-row">
				<div class="con-flex">
					<div class="pg-setting-card-wrapper">
						<span class="pg-setting-card">{{'SelectedFilters' | translate}}: {{dayOffRule.Filters.length}}</span>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<div class="pg-setting-card-wrapper">
						<span class="pg-setting-card">{{dayOffRule.BlockSchedulingSetting}}</span>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<table class="wfm-table">
						<thead>
							<tr>
								<th>{{'Settings'|translate}}</th>
								<th>{{'Min'|translate}}</th>
								<th>{{'Max'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td translate>DaysOffPerWeek</td>
								<td>{{dayOffRule.MinDayOffsPerWeek}}</td>
								<td>{{dayOffRule.MaxDayOffsPerWeek}}</td>
							</tr>
							<tr>
								<td translate>ConsecutiveWorkDays</td>
								<td>{{dayOffRule.MinConsecutiveWorkdays}}</td>
								<td>{{dayOffRule.MaxConsecutiveWorkdays}}</td>
							</tr>
							<tr>
								<td translate>ConsecutiveDaysOff</td>
								<td>{{dayOffRule.MinConsecutiveDayOffs}}</td>
								<td>{{dayOffRule.MaxConsecutiveDayOffs}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="con-row" ng-hide="vm.isDisable">
			<div class="con-flex">
				<div tabindex=0 class="context-menu card-context" ng-click="vm.goEditDoRule(dayOffRule)">
					<i class=" mdi mdi-pencil pointer"><md-tooltip>{{'EditFilter' | translate }}</md-tooltip></i>
				</div>
				<div tabindex=0 class="context-menu card-context" ng-click="vm.getDoRuleInfo(dayOffRule);" ng-show="!dayOffRule.Default">
					<i class=" mdi mdi-delete pointer"><md-tooltip>{{'DeleteFilter' | translate }}</md-tooltip></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="vm.confirmDeleteModal">
		<div class="modalbg">
			<div class="dialog-mini material-depth-1">
				<div class="modal-inner-content">
					<h3>{{'DeleteSchedulingSetting' | translate }}</h3>
					{{vm.textDeleteDoRule}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.confirmDeleteModal = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel' | translate }}</button>
						<button ng-click="vm.confirmDeleteModal = false; vm.deleteDoRule(dayOffRule)" class="wfm-btn wfm-btn-invis-primary">{{'Delete' | translate }}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
