<div class="view-header with-fab with-desc" ng-hide="vm.isDisable">
	<div class="view-title">
		<h1><i class="mdi mdi-calendar"></i> {{'PlanGroupScheduling' | translate}}</h1>
		<p>{{vm.textManageSchedulingSetting}}</p>
	</div>
</div>
<div class="con-row" ng-hide="vm.isDisable">
	<div class="con-flex ">
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<div class="plan-filter-container">
						<label for="filter" class="input-icon">
							<i class="mdi mdi-filter-outline">
								<input type="text" id="filter" ng-model="vm.filterName.Name" placeholder="{{'FilterPlanGroupSchedulingSetting' | translate}}">
								<md-tooltip>{{'FilterPlanGroupSchedulingSetting' | translate}}</md-tooltip>
							</i>
						</label>
					</div>
				</div>
				<div class="con-flex x3">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.goCreateSchedulingSetting()"><i class="mdi mdi-plus"></i> {{'NewPlanGroupSchedulingSetting' | translate}}</button>
					<button class="wfm-btn wfm-btn-invis-disabled" ng-click=""><i class="mdi mdi-information-outline"></i> {{'HelpLabel' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-group">
	<div class="panel material-depth-1 filter-boxes" node-id="{{$index}}" ng-repeat="setting in vm.schedulingSetting | filter:vm.filterName">
		<div class="head-actions">
			<h2>{{setting.Name}}</h2>
			<div class="con-row">
				<div class="con-flex">
					<div class="pg-setting-card-wrapper">
						<span class="pg-setting-card">{{'SelectedFilters' | translate}}: {{setting.Filters.length}}</span>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<div class="pg-setting-card-wrapper">
						<span class="pg-setting-card">{{setting.BlockSchedulingSetting}}</span>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<table class="wfm-table">
						<thead>
							<tr>
								<th>{{'Settings'|translate}}</th>
								<th>{{'Min'|translate}}</th>
								<th>{{'Max'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td translate>DaysOffPerWeek</td>
								<td>{{setting.MinDayOffsPerWeek}}</td>
								<td>{{setting.MaxDayOffsPerWeek}}</td>
							</tr>
							<tr>
								<td translate>ConsecutiveWorkDays</td>
								<td>{{setting.MinConsecutiveWorkdays}}</td>
								<td>{{setting.MaxConsecutiveWorkdays}}</td>
							</tr>
							<tr>
								<td translate>ConsecutiveDaysOff</td>
								<td>{{setting.MinConsecutiveDayOffs}}</td>
								<td>{{setting.MaxConsecutiveDayOffs}}</td>
							</tr>
							<tr>
								<td translate>FullWeekEndsOff</td>
								<td>{{dayOffRule.MinFullWeekendsOff}}</td>
								<td>{{dayOffRule.MaxFullWeekendsOff}}</td>
							</tr>
							<tr>
								<td translate>FullWeekEndDaysOff</td>
								<td>{{dayOffRule.MinWeekendDaysOff}}</td>
								<td>{{dayOffRule.MaxWeekendDaysOff}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="con-row" ng-hide="vm.isDisable || vm.schedulingSetting.length == 1">
			<div class="con-flex">
				<div tabindex=0 class="context-menu card-context" ng-click="vm.goEditSchedulingSetting(setting)">
					<i class=" mdi mdi-pencil pointer"><md-tooltip>{{'EditFilter' | translate }}</md-tooltip></i>
				</div>
				<div tabindex=0 class="context-menu card-context" ng-click="vm.getSchedulingSettingInfo(setting)" ng-show="!setting.Default">
					<i class=" mdi mdi-delete pointer"><md-tooltip>{{'DeleteFilter' | translate }}</md-tooltip></i>
				</div>
				<div class="pg-prio-buttoms-wrapper">
					<div tabindex=0 class="context-menu card-context" ng-click="vm.setHigherPriority(setting, $index)" ng-hide="$last || $first">
						<i class=" mdi mdi-chevron-left pointer"><md-tooltip>{{'Set priority higher' | translate }}</md-tooltip></i>
					</div>
					<div tabindex=0 class="context-menu card-context" ng-click="vm.setLowerPriority(setting, $index)" ng-hide="vm.disableButton($index)">
						<i class=" mdi mdi-chevron-right pointer"><md-tooltip>{{'Set priority lower' | translate }}</md-tooltip></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="vm.confirmDeleteModal">
		<div class="modalbg">
			<div class="dialog-mini material-depth-1">
				<div class="modal-inner-content">
					<h3>{{'DeleteSchedulingSetting' | translate }}</h3>
					{{vm.textDeleteSchedulingSetting}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.confirmDeleteModal = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel' | translate }}</button>
						<button ng-click="vm.confirmDeleteModal = false; vm.deleteSchedulingSetting(setting)" class="wfm-btn wfm-btn-invis-primary">{{'Delete' | translate }}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
