<div class="view-header">
	<div class="view-title" ng-if='vm.isEdit'>
		<h1>
			<i class="mdi mdi-calendar"></i> {{'EditPlanGroupSchedulingSetting' | translate}}</h1>
		<p>{{'TextOfEditPlanGroupSchedulingSetting' | translate}}</p>
	</div>
	<div class="view-title" ng-if='!vm.isEdit'>
		<h1>
			<i class="mdi mdi-calendar"></i> {{'CreatePlanGroupSchedulingSetting' | translate}}</h1>
		<p>{{'TextOFCreatePlanGroupSchedulingSetting' | translate}}</p>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<card-panel-list>
			<card-panel pre-open="true">
				<card-panel-header>
					<div class="header-flex">
						<b>{{'GeneralSettingOfPlanGroupSchedulingSetting' | translate}}</b>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row demo-outline wfm-card-content">
						<div class="con-flex">
							<div class="form-input-wrap">
								<label for="schedulingSettingName" translate>NameColon</label>
								<input type="text" name="schedulingSettingName" id="schedulingSettingName" ng-disabled="vm.default" ng-model="vm.settingInfo.Name" class="pg-setting-name"
								/>
								<p class="text-danger" ng-show="!vm.isValidName()" translate> NameRequired </p>
							</div>
						</div>
						<div class="con-flex" ng-if="vm.default">
							<div class="form-input-wrap">
								<label for="preferencePercent" translate>PreferenceFulfillmentPercentColon</label>
								<input id="preferencePercent" type="number" ng-model="vm.settingInfo.PreferencePercent" placeholder="Preference Percentage" min="0" max="100" step="10"/>
							</div>
						</div>
						<div class="con-flex">
							<div class="form-input-wrap" ng-hide="vm.default">
								<label for="autocomplete-form" translate>Filter:</label>
								<form name="autocomplete-form">
									<md-autocomplete md-no-cache="true" md-selected-item="vm.selectedItem" md-search-text="vm.searchString" placeholder="{{'SearchForDayOff'|translate}}"
									 md-items="item in vm.inputFilterData()" md-item-text="vm.searchString" md-selected-item-change="vm.selectResultItem(vm.selectedItem)">
										<md-item-template>
											<div class="wfm-chip-wrap">
												<span class="wfm-chip">
													<span class="chip-handle">{{item.FilterType | translate}}</span>
													<span class="chip-text">{{item.Name}}</span>
												</span>
											</div>
										</md-item-template>
										<md-not-found>
											<p translate>noSearchResults</p>
										</md-not-found>
									</md-autocomplete>
								</form>
							</div>
							<p class="text-danger" ng-show="!vm.isValidFilters()">
								<span translate>ValidationforFilter</span>
							</p>
						</div>
					</div>
					<div class="con-row demo-outline wfm-card-content" ng-show="vm.settingInfo.Filters.length > 0">
						<div class="con-flex">
							<div translate>SelectedFiltersColon</div>
							<div class="wfm-chip-wrap" ng-repeat="selected in vm.settingInfo.Filters">
								<span class="wfm-chip">
									<span class="chip-handle">{{selected.FilterType}}</span>
									<span class="chip-text">{{selected.Name}}
										<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
			<card-panel>
				<card-panel-header>
					<div class="header-flex">
						<b translate>DayOffRuleSetting</b>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row demo-outline wfm-card-content">
						<div class="con-flex">
							<div class="form-input-wrap wfm-options">
								<div class="wfm-option-label">
									<p translate>DaysOffPerWeek</p>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="daysOffMin" translate>MinColon </label>
										<input type="number" ng-model="vm.settingInfo.MinDayOffsPerWeek" name="MinDayOffsPerWeek" placeholder="0" min="0" id="daysOffMin"
										/>
										<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="daysOffMax" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxDayOffsPerWeek" name="MaxDayOffsPerWeek" placeholder="0" min="0" id="daysOffMax"
										/>
										<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<p translate>ConsecutiveDaysOff</p>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workOffMin" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinConsecutiveDayOffs" name="MinConsecutiveDayOffs" placeholder="0" min="0"
										 id="workOffMin" />
										<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workOffMax" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxConsecutiveDayOffs" name="MaxConsecutiveDayOffs" placeholder="0" min="0"
										 id="workOffMax" />
										<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<p translate>ConsecutiveWorkDays</p>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMin" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinConsecutiveWorkdays" name="MinConsecutiveWorkdays" placeholder="0" min="0"
										 id="workMin" />
										<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMax" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxConsecutiveWorkdays" name="MaxConsecutiveWorkdays" placeholder="0" min="0"
										 id="workMax" />
										<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<p translate>FullWeekEndsOff</p>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMin" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinFullWeekendsOff" name="MinFullWeekEndsOff" placeholder="0" min="0" id="workMin"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndsOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMax" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxFullWeekendsOff" name="MaxFullWeekEndsOff" placeholder="0" min="0" id="workMax"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndsOff()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<p translate>FullWeekEndDaysOff</p>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMin" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinWeekendDaysOff" name="MinFullWeekEndDaysOff" placeholder="0" min="0" id="workMin"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndDaysOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="workMax" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxWeekendDaysOff" name="MaxFullWeekEndDaysOff" placeholder="0" min="0" id="workMax"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndDaysOff()" translate>InvalidInput</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
			<card-panel>
				<card-panel-header class="block-scheduling-panel">
					<div class="header-flex">
						<b>{{vm.selectedSchedulingMethod.Name}}</b>
						<b ng-if="vm.selectedSchedulingMethod.Id == 'BlockScheduling' "> + {{vm.selectedType.Id | translate}} + {{vm.selectedOptionName | translate}}</b>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row demo-outline pg-setting-card-content">
						<div class="con-flex">
							<md-switch ng-model="vm.schedulingSettings[1].Selected" ng-change="vm.selectSchedulingSetting()">
								<span ng-if="vm.schedulingSettings[1].Selected">Turn off {{vm.schedulingSettings[1].Id | translate}}</span>
								<span ng-hide="vm.schedulingSettings[1].Selected">Turn on {{vm.schedulingSettings[1].Id | translate}}</span>
							</md-switch>
							<div class="con-row" ng-if="vm.schedulingSettings[1].Selected">
								<div class="con-flex">
									<div class="pg-setting-mini-card-wrapper">
										<div class="con-row demo-outline">
											<div class="con-flex">
												<form name="autocomplete-form">
													<md-autocomplete id="block_scheduling" md-no-cache="true" md-search-text="searchText" md-selected-item="vm.selectedType" md-select-on-match="true" md-selected-item-change="vm.setBlockSchedulingType(vm.selectedType)"
													 md-items="item in vm.filterOptions(searchText)" md-item-text="item.Name" md-min-length="0" placeholder="{{ 'TextOfNoBlockScheduling' | translate}}">
														<md-item-template ng-hide="item.Code == 0">
															<span>{{item.Id | translate}}</span>
														</md-item-template>
														<md-not-found>
															<p translate>noSearchResults</p>
														</md-not-found>
													</md-autocomplete>
												</form>
												<p class="text-danger" ng-show="!vm.isValidBlockScheduling()">
													<span translate>Please select block scheduling method</span>
												</p>
											</div>
											<div class="con-flex"></div>
										</div>
										<div class="con-row">
											<div class="block-scheduling-wrapper">
												<div class="form-input-wrap">
													<form>
														<md-radio-group ng-model="vm.selectedOptionName">
															<md-radio-button ng-repeat="option in vm.schedulingSettings[1].Options" ng-value="option.Id" ng-click="vm.setBlockSchedulingOption($index)">
																<span>{{ option.Id | translate}}</span>
															</md-radio-button>
														</md-radio-group>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
		</card-panel-list>
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex line-right">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelCreate()" translate>Cancel</button>
					<button class="wfm-btn save-scheduling-setting" ng-disabled="!vm.isValid() || vm.requestSent" ng-class="{'wfm-btn-invis-primary':vm.isValid(),'wfm-btn-primary-disabled':!vm.isValid()}"
					 ng-click="vm.persist()" translate>Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
