<div class="con-row" ng-hide="vm.isDisable">
	<div class="con-flex ">
		<div class="con-row align-row-center">
			<div class="con-flex">
				<div class="plan-filter-container">
					<label for="filter" class="input-icon">
						<i class="mdi mdi-filter-outline">
							<input type="text" id="filter" ng-model="vm.filterName.Name" placeholder="{{'FilterPlanGroupSchedulingSetting' | translate}}">
							<md-tooltip>{{'FilterPlanGroupSchedulingSetting' | translate}}</md-tooltip>
						</i>
					</label>
				</div>
			</div>
			<div class="con-flex x3 align-row-center">
				<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.goCreateSchedulingSetting()">
					<i class="mdi mdi-plus"></i> {{'NewPlanGroupSchedulingSetting' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<card-panel-list>
			<card-panel ng-repeat="setting in vm.schedulingSetting | filter:vm.filterName" color="vm.color" pre-open="true"
			 id="$index">
				<card-panel-header>
					<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
					<div class="title header-flex">
						<b class="scheduling-setting-name">{{setting.Name}}</b>
					</div>
					<div class="line-right header-flex" ng-hide="vm.isDisable">
						<div tabindex=0 class="context-menu card-context" ng-click="vm.setHigherPriority(setting, $index);$event.stopPropagation();"
						 ng-hide="$last || $first">
							<i class=" mdi mdi-arrow-up-bold pointer">
								<md-tooltip>{{'Set priority higher' | translate }}</md-tooltip>
							</i>
						</div>
						<div tabindex=0 class="context-menu card-context" ng-click="vm.setLowerPriority(setting, $index);$event.stopPropagation();"
						 ng-hide="vm.disableButton($index)">
							<i class=" mdi mdi-arrow-down-bold pointer">
								<md-tooltip>{{'Set priority lower' | translate }}</md-tooltip>
							</i>
						</div>
						<div tabindex=0 class="context-menu card-context delete-scheduling-setting" ng-click="vm.getSchedulingSettingInfo(setting)" ng-show="!setting.Default">
							<i class=" mdi mdi-delete pointer">
								<md-tooltip>{{'DeleteFilter' | translate }}</md-tooltip>
							</i>
						</div>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row demo-outline pg-setting-card-content">
						<div class="con-flex">
							<planning-group-setting setting-info="setting" preference-percent="vm.planningGroup.PreferencePercent"></planning-group-setting>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
		</card-panel-list>
	</div>
</div>
<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="vm.confirmDeleteModal">
		<div class="modalbg">
			<div class="dialog-mini material-depth-1">
				<div class="modal-inner-content">
					<h3>{{'DeleteSchedulingSetting' | translate }}</h3>
					{{vm.textDeleteSchedulingSetting}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.confirmDeleteModal = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel' | translate }}</button>
						<button ng-click="vm.confirmDeleteModal = false; vm.deleteSchedulingSetting(setting)" class="wfm-btn wfm-btn-invis-primary confirm-delete-scheduling-setting">{{'Delete' | translate }}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>