<div class="view-header">
	<div class="view-title" ng-if='vm.isEdit'>
		<h1>
			<i class="mdi mdi-calendar"></i> {{'Plans' | translate}} / {{vm.planningGroupName}} / {{'PlanGroupScheduling' | translate}} / {{'Edit' | translate}}
		</h1>
	</div>
	<div class="view-title" ng-if='!vm.isEdit'>
		<h1>
			<i class="mdi mdi-calendar"></i> {{'Plans' | translate}} / {{vm.planningGroupName}} / {{'PlanGroupScheduling' | translate}} / {{'Create' | translate}}
		</h1>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<form name="form" class="wfm-form">
			<div class="con-row">
				<div class="con-flex setting-group material-depth-1">
					<div class="con-row">
						<div class="con-flex">
							<div class="form-input-wrap">
								<label for="schedulingSettingName"><b translate>NameColon</b></label>
								<input type="text" name="schedulingSettingName" id="schedulingSettingName" ng-disabled="vm.settingInfo.Default" ng-model="vm.settingInfo.Name" class="pg-setting-name" required minlength="1" maxlength="100" autofocus
								/>
								<div ng-cloak class="animate-show"
									 ng-show="(form.$submitted || form.schedulingSettingName.$touched) && form.schedulingSettingName.$error.required">
									<div class="form-input-message formInvalidInput">{{'YouCannotHaveABlankName' | translate
										}}
									</div>
								</div>
							</div>
						</div>
						<div class="con-flex">
							<div class="form-input-wrap" ng-hide="vm.settingInfo.Default">
								<label for="filtersId"><b translate>Filter:</b></label>
								<div name="filters" id="filtersId">
									<md-autocomplete md-input-name="filters" md-no-cache="true" md-selected-item="vm.selectedItem" md-search-text="vm.searchString" placeholder="{{'SearchForDayOff'|translate}}"
									 md-items="item in vm.inputFilterData()" md-item-text="vm.searchString" md-selected-item-change="vm.selectResultItem(vm.selectedItem)">
										<md-item-template>
											<div class="wfm-chip-wrap">
												<span class="wfm-chip">
													<span class="chip-handle">{{item.FilterType | translate}}</span>
													<span class="chip-text">{{item.Name}}</span>
												</span>
											</div>
										</md-item-template>
										<md-not-found>
											<p translate>noSearchResults</p>
										</md-not-found>
									</md-autocomplete>
								</div>
								<div ng-cloak
									 ng-show="(form.$submitted || form.filters.$touched) && !vm.isValidFilters()">
									<span class="form-input-message formInvalidInput" translate>YouMustSelectAtLeastOneFilter</span>
								</div>
							</div>
						</div>
					</div>
					<div class="con-row" ng-show="vm.settingInfo.Filters.length > 0">
						<div class="con-flex">
							<div translate>SelectedFiltersColon</div>
							<div class="wfm-chip-wrap" ng-repeat="selected in vm.settingInfo.Filters">
								<span class="wfm-chip">
									<span class="chip-handle">{{selected.FilterType}}</span>
									<span class="chip-text">{{selected.Name}}
										<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex setting-group material-depth-1">
					<div class="header-flex">
						<b translate>DayOffRuleSetting</b>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<div class="form-input-wrap wfm-options">
								<div class="wfm-option-label" style="margin-top: 0;">
									<div translate>DaysOffPerWeek</div>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MinDayOffsPerWeek" translate>MinColon </label>
										<input type="number" ng-model="vm.settingInfo.MinDayOffsPerWeek" name="MinDayOffsPerWeek" placeholder="0" min="0" id="MinDayOffsPerWeek"
										/>
										<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MaxDayOffsPerWeek" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxDayOffsPerWeek" name="MaxDayOffsPerWeek" placeholder="0" min="0" id="MaxDayOffsPerWeek"
										/>
										<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<div translate>ConsecutiveDaysOff</div>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MinConsecutiveDayOffs" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinConsecutiveDayOffs" name="MinConsecutiveDayOffs" placeholder="0" min="0"
										 id="MinConsecutiveDayOffs" />
										<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MaxConsecutiveDayOffs" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxConsecutiveDayOffs" name="MaxConsecutiveDayOffs" placeholder="0" min="0"
										 id="MaxConsecutiveDayOffs" />
										<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<div translate>ConsecutiveWorkDays</div>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MinConsecutiveWorkdays" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinConsecutiveWorkdays" name="MinConsecutiveWorkdays" placeholder="0" min="0"
										 id="MinConsecutiveWorkdays" />
										<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MaxConsecutiveWorkdays" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxConsecutiveWorkdays" name="MaxConsecutiveWorkdays" placeholder="0" min="0"
										 id="MaxConsecutiveWorkdays" />
										<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<div translate>FullWeekEndsOff</div>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MinFullWeekEndsOff" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinFullWeekendsOff" name="MinFullWeekEndsOff" placeholder="0" min="0" id="MinFullWeekEndsOff"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndsOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MaxFullWeekEndsOff" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxFullWeekendsOff" name="MaxFullWeekEndsOff" placeholder="0" min="0" id="MaxFullWeekEndsOff"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndsOff()" translate>InvalidInput</p>
									</div>
								</div>
								<div class="wfm-option-label">
									<div translate>FullWeekEndDaysOff</div>
								</div>
								<div class="con-row">
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MinFullWeekEndDaysOff" translate>MinColon</label>
										<input type="number" ng-model="vm.settingInfo.MinWeekendDaysOff" name="MinFullWeekEndDaysOff" placeholder="0" min="0" id="MinFullWeekEndDaysOff"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndDaysOff()" translate>InvalidInput</p>
									</div>
									<div class="wfm-option form-input-wrap con-flex">
										<label for="MaxFullWeekEndDaysOff" translate>MaxColon</label>
										<input type="number" ng-model="vm.settingInfo.MaxWeekendDaysOff" name="MaxFullWeekEndDaysOff" placeholder="0" min="0" id="MaxFullWeekEndDaysOff"
										/>
										<p class="text-danger" ng-show="!vm.isValidFullWeekEndDaysOff()" translate>InvalidInput</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="con-flex setting-group material-depth-1">
					<div class="header-flex">
						<b>{{'BlockScheduling' | translate}}</b>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<md-radio-group ng-model="vm.blockFinderType">
								<md-radio-button ng-repeat="option in vm.blockFinderTypeOptions" ng-value="option">
									<span>{{ option | translate}}</span>
								</md-radio-button>
							</md-radio-group>
						</div>
						<div class="con-flex split-3-1" ng-if="vm.blockFinderType !== 'Off'">
							<md-radio-group ng-model="vm.blockComparisonType">
								<md-radio-button ng-repeat="option in vm.blockComparisonTypeOptions" ng-value="option">
									<span>{{ option | translate}}</span>
								</md-radio-button>
							</md-radio-group>
						</div>
					</div>
					<div class="con-row" ng-if="vm.settingInfo.Default">
						<div class="form-input-wrap">
							<label for="preferencePercent"><b translate>PreferenceFulfillmentPercentColon</b></label>
							<input id="preferencePercent" type="number" ng-model="vm.settingInfo.PreferencePercent" placeholder="Preference Percentage" min="0" max="100" step="10"/>
						</div>
					</div>
				</div>
			</div>
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex line-right">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelCreate()" translate>Cancel</button>
					<button class="wfm-btn save-scheduling-setting" ng-disabled="!vm.isValid() || vm.requestSent" ng-class="{'wfm-btn-invis-primary':vm.isValid(),'wfm-btn-primary-disabled':!vm.isValid()}"
					 ng-click="vm.persist()" translate>Save</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
