<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<log4net>
		<root>
			<appender-ref ref="EventLogAppender" />
			<appender-ref ref="ConsoleAppender" />
			<level value="ERROR" /> 
		</root>
		<!--
		<logger name="Teleopti.Ccc.WebBehaviorTest">
			<appender-ref ref="EventLogAppender" />
			<level value="DEBUG" />
		</logger>
		<logger name="Teleopti.Ccc.Domain.Helper.PerformanceOutput">
			<level value="ALL" />
		</logger>
		-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="configSanityCheck" value="Yes, configuration is loaded!" />
		<add key="dbFile" value="_replace_" />
	</appSettings>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
	</specFlow>
</configuration>