<div ng-click="grid.appScope.vm.selectAgent(row.entity.PersonId)" class="agent-state">
	<div ng-class="{rtagridcell:grid.appScope.vm.isSelected(row.entity.PersonId)}" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell cursor-pointer" ng-attr-agentid="{{row.entity.PersonId}}" ng-click="grid.appScope.vm.getAdherenceForAgent(row.entity.PersonId)" ng-class="{ \'ui-grid-row-header-cell\': col.isRowHeader }" ui-grid-cell=""></div>
</div>
<div ng-show="grid.appScope.vm.isSelected(row.entity.PersonId)">
	<div class="agent-menu historical-adherence" layout="row">
		<div flex>
			<a href="{{grid.appScope.vm.changeScheduleUrl(row.entity.PersonId)}}" class="change-schedule" target="_blank" style="text-decoration: none;">
				<i class="mdi mdi-pencil"><span style="text-decoration: underline; font-style: normal">{{'ModifySchedule'|translate}}</span></i>
			</a>
		</div>
		<div flex>
			<a href="{{grid.appScope.vm.historicalAdherenceUrl(row.entity.PersonId)}}" class="agent-historical-adherence" target="_blank" style="text-decoration: none;">
				<i class="mdi mdi-account"><span style="text-decoration: underline; font-style: normal">{{'AgentHistoricalAdherence'|translate}}</span></i>
			</a>
		</div>
		<div flex ng-show="grid.appScope.vm.showAdherenceUpdates()">{{'Adherence'|translate}}: {{grid.appScope.vm.adherencePercent}}% </div>
		<div flex ng-show="grid.appScope.vm.showAdherenceUpdates()"><span>{{'LastUpdated'|translate}}: {{grid.appScope.vm.timestamp}}</span></div>
	</div>
</div>
