<div class="wfm-time-range-picker">
	<div class="wfm-timepicker-wrap" uib-timepicker ng-model="vm.ngModel.startTime" show-meridian="vm.showMeridian"
	 minute-step="vm.minuteStep" meridians="vm.meridians"></div>

	<div class="wfm-timepicker-wrap" uib-timepicker ng-model="vm.ngModel.endTime" show-meridian="vm.showMeridian"
	 minute-step="vm.minuteStep" meridians="vm.meridians"></div>

	<div ng-if="!vm.disableNextDay">
		<div tabindex=0 class="context-menu card-context" ng-click="vm.toggleNextDay()">
			<span ng-if="!vm.nextDay">
				<i class="mdi mdi-weather-sunny" ng-class="{'wfm-btn-invis-disabled': vm.disableNextDay }">
					<md-tooltip>
						<span translate>Today</span>
					</md-tooltip>
				</i>
			</span>
			<span ng-if="vm.nextDay">
				<i class="mdi mdi-weather-night" ng-class="{'wfm-btn-invis-disabled': vm.disableNextDay }">
					<md-tooltip>
						<span translate>OverMidnight</span>
					</md-tooltip>
				</i>
			</span>
		</div>
	</div>
</div>

<div class="error-msg-container ng-invalid-range alert-error notice-spacer" ng-if="vm.showInvalidError">
	<i class="mdi mdi-alert-octagon"></i>
	<span>{{vm.invalidTimeRangeMessage}}</span>
</div>
<div class="error-msg-container ng-invalid-order alert-error notice-spacer" ng-if="vm.showOrderError">
	<i class="mdi mdi-alert-octagon"></i>
	<span translate>EndTimeMustBeGreaterOrEqualToStartTime</span>
</div>
<div class="error-msg-container ng-invalid-parse alert-error notice-spacer" ng-if="vm.showEmptyError">
	<i class="mdi mdi-alert-octagon"></i>
	<span translate>StartTimeAndEndTimeMustBeSet</span>
</div>