<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SitePath" value="..\..\..\Teleopti.Ccc.Web\Teleopti.Ccc.Web"/>
		<add key="WEB_BROKER_BACKPLANE" value="" />
		<add key="ToggleMode" value="ALL" />
		
		<!-- These needs to be set dynamically on build machine -->
		<add key="DB_ANALYTICS" value="Infratest_Analytics" />
		<add key="DB_CCC7" value="ccc_DemoSales_TeleoptiCCC7" />
		<add key="SQL_SERVER_NAME" value="." />
		<add key="UserName" value="demo"/>
		<add key="Password" value="demo"/>
		<add key="BusinessUnitName" value="Teleopti WFM Demo"/>
		<add key="PlanningGroupId" value="5EDE88CE-6DD0-4D23-94C4-A55C00F7A6AA"/>
	</appSettings>
</configuration>