<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SitePath" value="..\..\..\Teleopti.Ccc.Web\Teleopti.Ccc.Web"/>
		<add key="DB_ANALYTICS" value="Infratest_Analytics" />
		<add key="DB_CCC7" value="ccc_DemoSales_TeleoptiCCC7" />
		<add key="SQL_SERVER_NAME" value="." />
		<!--<add key="WEB_BROKER_BACKPLANE" value="" />
		<add key="ToggleMode" value="ALL" />-->
	</appSettings>
</configuration>