.heatmap-div table {
  width: unset;
}

.plans-intraday-chart .c3-target-StaffingScaffold {
  fill-opacity: 0 !important;
}

.plans-intraday-chart .c3-bars-StaffingScaffold > path {
  opacity: 0 !important;
}