
<div class="view-header">
	<div class="view-title">
		<h1><i class="mdi mdi-compass-outline"></i> Configure area</h1>
	</div>
</div>

<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<form name="form" class="wfm-form" novalidate>
						<div class="form-input-wrap">
							<label for="nameId">Area name: <input type="text" ng-model="form.name" name="Name" required="" id="nameId"/></label>
							<div ng-cloak class="animate-input-message" ng-show ="form.$submitted || form.Name.$touched">
								<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}">{{'Required'|translate}}</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex split-1-2">
					<label for="inputId" class="input-prepend">
						<i class="mdi mdi-filter-outline">
							<md-tooltip>Filter something</md-tooltip></i>
							<input type="text" id="inputId" ng-model="areaFilter.Name" placeholder="Filter available skills"/>
						</label>
					</div>

					<div class="con-flex">
						<div class="wfm-switch">
							<input type="checkbox" id="switchAll" ng-model="selectedFilter" />
							<label for="switchAll">
								<span class="wfm-switch-label">Show selected</span>
								<span class="wfm-switch-toggle"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="con-row">
					<div class="con-flex">
						<ul class="wfm-list" style="max-height:700px;">
							<li ng-click="me=!me" ng-hide="selectedFilter==true && !me" ng-repeat="skill in skills | filter:areaFilter">
								<span class="list-item-container">
									{{skill.Name}}
								</span>
								<span ng-cloak ng-show="me" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="con-footer">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="exitConfigMode()">Cancel</button>
					<button class="wfm-btn wfm-btn-invis-primary" ng-click="exitConfigMode()">Save area</button>
				</div>
			</div>
		</div>
		<div class="con-flex split-3-1"></div>
	</div>
