<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-calendar"></i> Intraday Staffing</h1>
		<p class="con-flex">Monitor your staffing levels </p>
	</div>
</div>
<div class="panel material-depth-1">
	<div class="con-row">
		<div class="con-flex">
			<div class="wfm-btn-invis-primary" style="cursor:pointer; text-align:center;" ng-click=" regenerateChart()">
				<h1><i class="mdi mdi-calendar"></i>{{intervalDate | amDateFormat:"L"}}</h1>
			</div>


		</div>
		<div class="con-flex" ng-if="isVisible">
			<md-autocomplete id="skill-id" class="autocomplete-skill" md-selected-item="selectedSkill" md-select-on-match="true" md-search-text="searchSkillText" md-selected-item-change="updateSelectedSkill(selectedSkill)" md-items="skill in querySearch(searchSkillText)" md-item-text="skill.Name" md-min-length="0" placeholder="{{'SelectSkill'|translate}}">
				<md-item-template>
					<span md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skill.Name}}</span>
				</md-item-template>
				<md-not-found>
					{{'RepViewerNoMoreMatches'|translate}}
				</md-not-found>
			</md-autocomplete>
		</div>
		<div class="con-flex" ng-if="isVisible">
			<md-autocomplete id="Area-id" class="autocomplete-skill" md-selected-item="selectedSkillArea" md-search-text="searchAreaText" md-selected-item-change="" md-items="skillArea in skillAreas" md-item-text="skillArea.Name" md-min-length="0" placeholder="{{'SelectSkillArea'|translate}}">
				<md-item-template>
					<span md-highlight-text="searchAreaText" md-highlight-flags="^i">{{skillArea.Name}}</span>
				</md-item-template>
				<md-not-found>
					{{'RepViewerNoMoreMatches'|translate}}
				</md-not-found>
			</md-autocomplete>
		</div>

	</div>
	<!-- <div class="head-actions panel-menu">
		<div tabindex=0 class="context-menu card-context">
			<i class="mdi mdi-dots-vertical"></i>
			<span class="context-menu-left">
		 <ul class="wfm-list">
		   <li></li>
		 </ul>
	   </span>
		</div>
	</div> -->

	<div class="con-row" style="overflow:hidden;">
		<div class="con-flex">

			<div class="con-row">
				<div class="con-flex " ng-hide="viewCal">
					<div class="wfm-datepicker-wrap" >
						<uib-datepicker show-weeks="true" ng-model="intervalDate" class="wfm-datepicker">
							</datepicker>
					</div>
				</div>
				<div class="con-flex split-3-1" >
					<div class="wfm-chart" id="staffingChart"></div>
				</div>
			</div>


		</div>
	</div>
	<div class="con-footer">
		<button class="wfm-btn wfm-btn-invis-default" ng-click="TriggerResourceCalculate()" ng-if="isVisible">Trigger resource calculate</button>
		<button class="wfm-btn wfm-btn-invis-primary" ng-click="runIntradayFetch()">run</button>
		<div class="loadWrapper" ng-if="loading">
			<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
			<div class="wfm-block"> Loading...</div>
		</div>

	</div>
</div>
