<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	<appSettings>
		<add key="Queue" value="Data Source=.;Integrated Security=SSPI;Initial Catalog=main_clone_DemoSales_TeleoptiAnalytics;Application Name=Teleopti.Ccc.Sdk.SqlQueue" />
		<add key="databaseTimeout" value="60" />
	</appSettings>
	<connectionStrings>
		<add name="App" connectionString="Data Source=.;Integrated Security=SSPI;Initial Catalog=main_clone_DemoSales_TeleoptiCCC7;Application Name=Teleopti.Ccc.LoadTest"/>
	</connectionStrings>

</configuration>