<div ng-if="!vm.noWorkloadFound">

  <div class="view-header with-desc with-fab">
    <div class="view-title">
      <h1><i class="mdi mdi-chart-line"></i> {{vm.selectedWorkload.Workload.Name}}</h1>
      <p>This is the current forecast for this workload</p>
    </div>
    <div class="fab-wrapper grow-out" ng-if="vm.changesMade">
      <button ng-click="vm.applyWipToScenario()" ng-class="{'shrink-in':vm.savingToScenario}" class="wfm-fab material-depth-1">
        <i ng-cloak class="mdi mdi-content-save"></i>
        <md-tooltip>Save changes to scenario</md-tooltip>
      </button>
    </div>
  </div>

  <div class="con-row">
    <div class="con-flex">
      <div class="panel material-depth-1">
        <div class="con-row">
          <div class="con-flex">
            <div style="display: flex; align-items: center; justify-content:space-between;">
              <label class="inline-flex" style="align-items: center;">
                Scenario: &nbsp;
                <md-select ng-model="vm.selectedScenario" ng-change="vm.changeScenario(vm.selectedScenario)" placeholder="{{'Scenario' | translate}}" ng-disabled="vm.savingToScenario || vm.isForecastRunning">
                  <md-option ng-repeat="scenario in vm.scenarios" ng-value="scenario">{{scenario.Name}}</md-option>
                </md-select>
              </label>

              <div>
                <button tabindex=0 class="context-menu card-context" ng-click="vm.periodModal = true" ng-disabled="vm.savingToScenario || vm.isForecastRunning">
                  <i class="mdi mdi-calendar"></i>
                  <md-tooltip>Period</md-tooltip>
                </button>
                From: {{vm.forecastPeriod.startDate | date: L}} To: {{vm.forecastPeriod.endDate  | date: L}}
              </div>

              <button tabindex=0 class="context-menu card-context" ng-click="vm.exportModal = true" ng-disabled="vm.savingToScenario || vm.isForecastRunning">
                <i class="mdi mdi-file-excel"></i>
                <md-tooltip>{{'ExportToFile'|translate}}</md-tooltip>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Override/Campaign-->
  <form ng-submit="vm.applyCampaign()">
    <div class="con-row animate-show" ng-show="vm.campaignPanel" ng-cloak>
      <div class="con-flex">
        <div class="panel material-depth-1">
          <div class="sub-header">
            <h2>{{'Campaign' | translate}}</h2>
          </div>
          <!-- <div class="con-row" ng-if="vm.selectedDayCount.length === 1">
            <div class="con-flex">
              <span>Preview - Original: {{vm.selectedDayCount[0].value | number}}</span>
              <span ng-show="vm.sumOfCallsForSelectedDays">New: {{vm.sumOfCallsForSelectedDays | number}}</span>
            </div>
          </div> -->
          <div class="con-row">
            <div class="con-flex">
              <label for="filter" class="input-icon">
                <i class="mdi mdi-percent">
                  <input type="number" ng-change="vm.updateCampaignPreview()" min="-100" required autofocus autocomplete="off" ng-model="vm.campaignPercentage" placeholder="{{'CampaignCallsPercentSign'|translate}}" >
                </i>
              </label>
            </div>
          </div>
          <div class="con-footer">
            <button type="button" class="wfm-btn wfm-btn-invis-default" ng-click="vm.modifyPanelHelper()">{{'Cancel'|translate}}</button>
            <button type="submit" class="wfm-btn wfm-btn-invis-primary">{{'Apply'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="con-row" ng-show="vm.changesMade && !vm.savingToScenario">
    <div class="con-flex">
      <div class="con-row">
        <div class="con-flex notice-warning">
          <i class="mdi mdi-alert"></i> This scenario has unsaved changes
        </div>
      </div>
    </div>
  </div>

  <form ng-submit="vm.applyOverride(form)" class="wfm-form">
    <div class="con-row animate-show" ng-show="vm.overridePanel" ng-cloak>
      <div class="con-flex">
        <div class="panel material-depth-1">
          <div class="sub-header">
            <h2>{{'AbsenceOverride'|translate}}</h2>
          </div>
          <div class="con-row">
            <div class="con-flex">
              <div class="form-input-wrap">
                <label for="nameId">{{'Calls'|translate}}:</label>
                <input type="number" ng-model="form.overrideTasksValue" name="" min="1" value="" autocomplete="off">
              </div>

              <div class="form-input-wrap">
                <label for="nameId">{{'TalkTime'|translate}}:</label>
                <input type="number" ng-model="form.overrideTalkTimeValue" name="" min="1" value="" autocomplete="off">
              </div>

              <div class="form-input-wrap">
                <label for="nameId">{{'ACW'|translate}}:</label>
                <input type="number" ng-model="form.overrideAfterCallWorkValue" name="" min="1" value="" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="con-footer">
            <button type="button" class="wfm-btn wfm-btn-invis-default" ng-click="vm.modifyPanelHelper()">{{'Cancel'|translate}}</button>
            <button type="submit" class="wfm-btn wfm-btn-invis-primary">{{'Apply'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div ng-if="vm.scenarioNotForecasted" >
    <div class="con-row">
      <div class="con-flex">
        <div class="panel material-depth-1">
          <div class="con-row">
            <div class="con-flex">
              Scenario "{{vm.selectedScenario.Name}}" has no forecast data, please run a forecast for it
            </div>
          </div>
          <div class="con-footer">
            <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.forecastModal = true">{{'ForecastDo'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart -->
  <div class="con-row" ng-if="vm.isForecastRunning || vm.savingToScenario">
    <div class="con-flex">
      <div class="panel material-depth-1 full-padding">
        <div>
          <span ng-if="vm.isForecastRunning" >Loading..</span>
          <span ng-if="vm.savingToScenario" >Saving to scenario..</span>
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
      </div>
    </div>
  </div>

  <div class="con-row" ng-if="vm.selectedWorkload.Days.length > 1 && !vm.savingToScenario">
    <div class="con-flex">
      <div class="panel material-depth-1">
        <div class="sub-header">
          <h2>{{'SelectToModify'|translate}}</h2>
          <div class="head-actions panel-menu">
            <div tabindex=0 ng-show="vm.selectedDayCount.length > 0" class="grow-out context-menu card-context wfm-badge-wrapper">
              <i class="mdi mdi-dots-vertical"></i>
              <wfm-badge badge-model="vm.selectedDayCount.length" pulse="true" status="'notice-success'"> </wfm-badge>
              <span class="context-menu-left">
                <ul class="wfm-list">
                  <li ng-click="vm.modifyPanelHelper(true)">{{'AbsenceOverride'|translate}}</li>
                  <li ng-click="vm.modifyPanelHelper(false)">{{'CreateCampaign'|translate}}</li>
                  <li ng-click="vm.clearOverride()">{{'ClearOverride'|translate}}</li>
                  <li ng-click="vm.clearCampaign()">{{'ClearCampaign'|translate}}</li>
                  <li ng-click="vm.loadChart(vm.selectedWorkload.ChartId, vm.selectedWorkload.Days)">{{'ClearForecastChart'|translate}}</li>
                </ul>
              </span>
              <md-tooltip>{{ 'Modify' | translate }}</md-tooltip>
            </div>
          </div>
        </div>
        <div class="con-row">
          <div class="con-flex" >
            <forecast-chart  chart-id="vm.selectedWorkload.ChartId" selectable="true" refresh="vm.loadChart" on-click="vm.pointClick" days="vm.selectedWorkload.Days"> </forecast-chart>
          </div>
        </div>
        <div class="con-footer">
          <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.forecastModal = true">{{'ForecastDo'|translate}}</button>
        </div>
      </div>
    </div>
  </div>


  <modal-dialog show='vm.forecastModal' ng-cloak>
    <div>
      <div class="con-row">
        <div class="con-flex">
          <p>{{'TemplateTargetWorkload' | translate}}: <b>{{vm.selectedWorkload.Workload.Name}}</b></p>
          <p class="subtext">{{'Scenario'|translate}}: <b>{{vm.selectedScenario.Name}}</b></p>
        </div>
      </div>

      <div class="modal-inner-content" style="text-align:center;">
        <!-- <label>{{'ForecastPeriod' | translate}}:</label><br/> -->
        <wfm-calendar-picker ng-model="vm.forecastPeriod"></wfm-calendar-picker>
      </div>
      <div class="modal-actions">
        <aside>
          <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.forecastWorkload()">{{'Apply'|translate}}</button>
        </aside>
      </div>
      <div ng-if="vm.isForecastRunning">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </modal-dialog>

  <modal-dialog show='vm.periodModal' ng-cloak>
    <div>
      <div class="con-row">
        <div class="con-flex">
          <p>{{'TemplateTargetWorkload' | translate}}: <b>{{vm.selectedWorkload.Workload.Name}}</b></p>
          <p class="subtext">{{'Scenario'|translate}}: <b>{{vm.selectedScenario.Name}}</b></p>
        </div>
      </div>

      <div class="modal-inner-content" style="text-align:center;">
        <!-- <label>{{'ForecastPeriod' | translate}}:</label><br/> -->
        <wfm-calendar-picker ng-model="vm.forecastPeriod"></wfm-calendar-picker>
      </div>
      <div class="modal-actions">
        <aside>
          <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.getWorkloadForecastData()">{{'Apply'|translate}}</button>
        </aside>
      </div>
      <div ng-if="vm.isForecastRunning">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </modal-dialog>

  <modal-dialog show='vm.exportModal' ng-cloak>
    <div>
      <div class="con-row">
        <div class="con-flex">
          <b>{{'ExportToFile'|translate}}</b>
        </div>
      </div>
      <div class="modal-inner-content" style="text-align:center;">
        <wfm-calendar-picker ng-model="vm.forecastPeriod"></wfm-calendar-picker>
      </div>
      <div class="modal-actions">
        <aside>
          <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.exportToFile()">{{'Export'|translate}}</button>
        </aside>
      </div>
      <div ng-if="vm.isForecastRunning">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </modal-dialog>
</div>
<div ng-cloak ng-if="vm.noWorkloadFound">
  No workload found, please select one
</div>
