<div class="developerTools" aria-label="This is only visible for dev toggles" md-labeled-by-tooltip="md-tooltip-106" aria-hidden="false">
        <div class="con-flex">
          <h1>Refact ongoing </h1>
        </div>
</div>

<div class="view-header with-fab with-desc">
  <div class="view-title">
    <h1><i class="mdi mdi-chart-line"></i> {{'Forecasts' | translate}}</h1>
    <p>
      {{'OverView' | translate}}
    </p>
  </div>
  <!-- <div class="fab-wrapper">
    <button class="wfm-fab grow-out material-depth-1" ng-click="displayForecastingModal()" ng-class="{'shrink-in':vm.skillMaster.IsForecastRunning}" ng-disabled="vm.skillMaster.IsForecastRunning" ng-class="{'wfm-btn-invis-disabled': vm.skillMaster.IsForecastRunning}">
      <i class="mdi mdi-arrow-right"></i>
      <md-tooltip>
        {{'ForecastAll' | translate}}
      </md-tooltip>
    </button>
  </div> -->
</div>

<div class="con-row">
  <div class="con-flex">
    <wfm-card-list>
      <wfm-card ng-repeat="skill in vm.skillMaster.Skills">
        <card-header tabindex="-1">
          <div tabindex="0" ng-click="vm.getWorkloadForecastData(skill.Workload.Id)">
            <span><i class="mdi" ng-class="item.title"></i></span>
            <b>{{skill.Workload.Name}}</b>
            <span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
          </div>
        </card-header>
        <card-body class="panel">
          <div ng-if="vm.skillMaster.IsForecastRunning || vm.currentWorkload.Days.length<1">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
          </div>
          <div ng-if="!vm.skillMaster.IsForecastRunning && vm.currentWorkload.Days.length>0">
            <div class="con-row">
              <div class="con-flex x3">
                {{'ForecastWorkloadIntro' | translate}}
              </div>
              <div class="con-flex"></div>
              <div class="con-flex">
                <md-select ng-model="vm.selectedScenario" placeholder="{{'Scenario' | translate}}">
                  <md-option ng-repeat="scenario in vm.skillMaster.Scenarios" ng-value="scenario">{{scenario.Name}}</md-option>
                </md-select>
                <md-tooltip>{{'Scenario' | translate}}</md-tooltip>
              </div>
            </div>
            <div class="con-row">
              <div class="con-flex">
                {{vm.selectedDayCount.length}} day(s) selected
                <div tabindex=0 class="context-menu card-context" ng-click="vm.loadChart(skill.ChartId)">
                  <i class="mdi mdi-sync" ></i>
                  <md-tooltip>Refresh chart</md-tooltip>
                </div>
                  <forecast-chart chart-id="skill.ChartId" days="vm.currentWorkload.Days" refresh="vm.loadChart" on-click="vm.pointClick"> </forecast-chart>
              </div>
            </div>
            <div class="con-footer">
              <button class="wfm-btn wfm-btn-invis-default" ng-click="vm.forecastingModal(skill.Workload)">{{'ForecastDo' | translate}}</button>
            </div>
          </div>
        </card-body>
      </wfm-card>
    </wfm-card-list>
  </div>
</div>

<modal-dialog show='vm.forecastModal' ng-cloak>
  <div ng-if="vm.forecastModalObj">
    <h1 class="modal-title">{{'ForecastDo' | translate}} <b>{{vm.forecastModalObj.Name}}</b></h1>
    <div class="modal-inner-content" style="text-align:center;">
      <!-- <label>{{'ForecastPeriod' | translate}}: </label><br/> -->
      <date-range-picker ng-model="vm.forecastPeriod"></date-range-picker>
    </div>
    <div class="modal-actions">
      <aside>
        <button class="wfm-btn wfm-btn-invis-default" ng-click="vm.forecastingModal()" >Cancel</button>
        <button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.forecastWorkload()">Apply</button>
      </aside>
    </div>
  </div>
</modal-dialog>
