<div ui-view>
    <div class="material-block-header" >
        <h4 class="material-title">Choose a period</h4>
    </div>
  <div class="material-block-content" >
    
    <div style="display:inline-block; min-height:290px;">
	    <h5>From <span class="startDate">{{period.startDate | date : format}}</span></h5>    

      <datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
    
    <div style="display:inline-block; min-height:290px;">
	    <h5>To  <span class="endDate">{{period.endDate | date : format}}</span></h5>

      <datepicker ng-model="period.endDate" min-date="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
    <div>
      <!--<md-button class="md-raised md-primary  start-forecasting" ng-click="startPeriod(period)">Let's start</md-button>-->
      <button class="btn btn-primary material-btn material-depth-1 start-forecasting" ng-click="startPeriod(period)">Let's start</button>
    </div>
  </div>
  <div class="clearfix"></div>
  
  </div>