<div class ="bubble-wrap">

	<div class="bubble">
	</div>
	<div class="wfm-block start-intro">
		<div class="hidden-sm hidden-xs">
			<h2>Hello world!</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
				sed diam nonummy nibh euismod tincidunt ut laoreet dolore
				magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
				ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.
			</p>
		</div>
	</div>

	<div class="tutorial-btn">
		<div ng-cloak class="modal-box">
			<button ng-click="modalLaunch2 = !modalLaunch2" class="wfm-btn wfm-btn-default">Take tour</button>
			<div ng-cloak ng-show="modalLaunch2">
				<div class="modalbg">
					<div class="dialog">
						<div class="wfm-slide-tabs">
							<md-content style="padding:0!important;">
								<md-tabs md-dynamic-height md-border-bottom>
									<md-tab label="1. help">
										<md-content class="md-padding">
											<h4>Get started!</h4>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</md-content>
									</md-tab>
									<md-tab label="2. help">
										<md-content class="md-padding">
											<h4>Get started!</h4>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</md-content>
									</md-tab>
									<md-tab label="3. help">
										<md-content class="md-padding">
											<h4>Get started!</h4>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</md-content>
									</md-tab>
									<md-tab label="4. help">
										<md-content class="md-padding">
											<h4>Get started!</h4>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</md-content>
									</md-tab>
								</md-tabs>
							</md-content>
						</div>
						<div class="modal-footer">
							<aside>
								<a ng-click="modalLaunch2 = !modalLaunch2" class="wfm-btn wfm-btn-invis-primary">dismiss</a>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="start-wrapper">
	<div class="start-content">
		<div layout="row" ng-cloak>
			<div flex data-ng-controller="FeedCtrl" ng-init="loadFeed($event)">
				<div class="sub-header">Teleopti blog</div>
				<div class="material-depth-1 start-spacer-down" ng-repeat="feed in feeds | limitTo: 2">
					<div class="row">
						<div class="col-md-11">
							<div class="wfm-block">
								<h4>
									{{feed.title}}
									<br>
									<i>
										<small class="text-muted">
											By {{feed.author}} - {{feed.publishedDate}}
										</small>
									</i>
								</h4>
								{{feed.contentSnippet}}
								<div class="social-footer">
									Share:
									<a href="http://twitter.com/share?url={{feed.link}}">
										<i class="mdi mdi-twitter">
											<md-tooltip>Twitter</md-tooltip>
										</i>
									</a>
									<a href="http://www.facebook.com/sharer.php?u=href={{feed.link}}">
										<i class="mdi mdi-facebook">
											<md-tooltip>Facebook</md-tooltip>
										</i>
									</a>
									<a href="https://plus.google.com/share?url={{feed.link}}">
										<i class="mdi mdi-google-plus-box">
											<md-tooltip>Google+</md-tooltip>
										</i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-1 start-blog-btn">
							<a href="{{feed.link}}" target="_blank">
								<button class=" wfm-fab info"><i class="mdi mdi-receipt"></i></button>
								<md-tooltip>Read more</md-tooltip>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div layout="row" class="start-spacer-down">
			<div flex class="start-panel material-depth-1">
				<div class="sub-header">Learn more</div>
				<div class="wfm-block">
					<ul class="wfm-list">
						<a href="http://www.teleopti.com/wfm/customers/customer-center/faq.aspx" target="_blank">
							<li>
								FAQ
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/knowledge_center.aspx" target="_blank">
							<li>
								Knowledge center
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/customers/customer-center/tutorials-elearning.aspx" target="_blank">
							<li>
								Video tutorials
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/customers/customer-center/discussion-forum.aspx" target="_blank">
							<li>
								Forum
							</li>
						</a>
					</ul>
				</div>
			</div>
			<div flex class="start-panel material-depth-1">
				<div class="sub-header">WFM Services</div>
				<div class="wfm-block">
					<ul class="wfm-list">
						<a href="https://www.teleopti.com/wfm/teleopti-wfm-solution/consulting-services.aspx" target="_blank">
							<li>
								Consulting
							</li>
						</a>
						<a href="https://www.teleopti.com/wfm/customers/customer-training.aspx" target="_blank">
							<li>
								Training
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/customers/customer-center/release_notes.aspx" target="_blank">
							<li>
								Release notes
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/customers/customer-center/wfm_product_documentation.aspx" target="_blank">
							<li>
								Product documentation
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>

		<div layout="row" class="start-spacer-down" style="justify-content: space-between;">
			<!--<div flex class="start-panel material-depth-1">
			<div class="sub-header">Upcoming</div>
			<div class="wfm-block">lorem ipsum</div>
		</div>-->
			<div flex class="start-panel material-depth-1">
				<div class="sub-header">Feedback</div>
				<div class="wfm-block">
					<ul class="wfm-list">
						<a href="http://www.teleopti.com/wfm/customers/customer-center/service_desk/report_an_incident.aspx" target="_blank">
							<li>
								<i class="mdi mdi-bug"> </i>Report a bug
							</li>
						</a>
						<a href="http://www.teleopti.com/wfm/customers/customer-center/service_desk/feedback.aspx" target="_blank">
							<li>
								<i class="mdi mdi-flash"> </i>Give feedback
							</li>
						</a>
						<a href="#" target="_blank">
							<li>
								<i class="mdi mdi-star-half"> </i>Rate your experience
							</li>
						</a>
					</ul>
				</div>
			</div>
			<div flex class="start-panel material-depth-1">
				<div class="sub-header">Follow Teleopti</div>
				<div class="wfm-block">
					<ul class="wfm-list">
						<a href="https://www.linkedin.com/company/teleopti" target="_blank">
							<li>
								<i class="mdi mdi-linkedin"> </i>LinkedIn
							</li>
						</a>
						<a href="https://www.facebook.com/Teleopti" target="_blank">
							<li>
								<i class="mdi mdi-facebook"> </i>Facebook
							</li>
						</a>
						<a href="https://twitter.com/Teleopti" target="_blank">
							<li>
								<i class="mdi mdi-twitter"> </i>Twitter
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

