<div class="material-depth-1 navbar navbar-default">
	<div class="navbar-header content">
		<div class="navbar-left">
			<span class="brand" ui-sref="main">Teleopti WFM</span>

			<span ng-controller="BusinessUnitsCtrl" data-ng-init="loadBusinessUnits()">
				<label for="business-unit-select"  ng-if="show">
					<select id="business-unit-select" class="bu-change" ng-change="changeBusinessUnit(data.selectedBu)" ng-options="bu.Name for bu in data.businessUnits" ng-model="data.selectedBu" >
					</select>
					<i class="mdi mdi-menu-down"></i>
				</label>
			</span>

		</div>
		<div class="navbar-right" >
			<span ng-controller="SearchCtrl">
				<i class="mdi mdi-magnify"></i>
				<input type="text" placeholder="{{'SearchThreeDots' | translate}}" ng-model="keyword" ng-change="searchKeyword()" class="global-search" />
				<div class="search-results material-depth-2">
					<ul class="wfm-list">
						<div ng-repeat="gp in searchResultGroups">
							<li class="wfm-search-li">
								<button ng-if="gp == 'Permission' " class="wfm-fab mini result-icon"><i class="mdi mdi-account-check"></i></button>
								<button ng-if="gp == 'Planning Period' " class="wfm-fab mini info result-icon"><i class="mdi mdi-calendar"></i></button>
								{{gp}}
							</li>
							<li class="animate-repeat" ng-repeat="item in searchResult | filter:{ SearchGroup: gp }">
								<div ng-click="clickedItem(item)">
									{{item.Name}}
								</div>
							</li>
							<li class="animate-repeat" ng-if="searchResult.length == 0"></li>
						</div>
					</ul>
				</div>
			</span>
			<a href="#"><i class="mdi mdi-settings"></i>
				<md-tooltip>Settings</md-tooltip>
			</a>
			<a href="Authentication/SignOut"><i class="mdi mdi-logout"></i>
				<md-tooltip>Logout</md-tooltip>
			</a>
		</div>
	</div>
</div>
