<nav class="navbar navbar-inverse navbar-static-top menu">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" data-bind="attr: { href: urlForHome()}">Teleopti</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<!-- ko if: TeamScheduleVisible -->
				<li data-bind="css: { active: ActiveView() == 'teamschedule' }"><a data-bind="attr: { href: urlForTeamScheduleToday()}"><span data-bind="text:Resources.Schedules"></span></a></li>

				<!-- /ko -->
				<!-- ko if: RealTimeAdherenceVisible -->
				<li id="link-realtimeadherence" data-bind="css: { active: ActiveView() == 'realtimeadherencesites' }"><a data-bind="attr: { href: urlForRealTimeAdherence()}"><span data-bind="text: Resources.RealTimeAdherence"></span></a></li>
				<!-- /ko -->
				<!-- ko if: ReportsVisible-->
				<li id="reports" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<span data-bind="text: Resources.Reports"></span>
						<b class="caret"></b>
					</a>
					<ul id="report-list" class="dropdown-menu" data-bind="foreach: reports">
						<li><a data-bind="attr: { href: Url, target: '_blank'}"><span data-bind="text: Name"></span></a></li>
					</ul>
				</li>
				<!-- /ko -->
			</ul>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>
						<small data-bind="text: CurrentBusinessUnit().Name"></small>
					</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" data-bind="foreach: businessUnits">
					<li><a tabindex="-1" data-bind="attr: { href: $root.urlForChangingBusinessUnitId($data)}"><span class="business-unit" data-bind="text: Name"></span></a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-bind="css: { active: ActiveView() == 'settings' }">
					<i class="glyphicon glyphicon-user"></i>
					<span class="user-name">
						<small data-bind="text: UserName"></small>
					</span><b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" tabindex="-1"><span data-bind="text: Resources.Home"></span></a></li>
					<li class="divider"></li>
					<li id="link-mytime" data-bind="visible: MyTimeVisible"><a href="mytime">MyTime</a></li>
					<li class="divider"></li>
					<li><a href="authentication/SignOut" tabindex="-1"><i class="glyphicon glyphicon-eject"></i><span data-bind="text: Resources.SignOut"></span></a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
