<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--WISEMETA: value="[SQL_AUTH_STRING];Initial Catalog=[DB_MESSAGING];Application name=Teleopti.Messaging.Svc.exe"-->
		<add key="MessageBroker" value="Data Source=antonov\sql2005dev;Initial Catalog=Raptor_Messaging;Persist Security Info=True;User ID=sa;Password=cadadi;Application Name=Teleopti.Messaging.Svc;Connection Timeout=5"/>
	</appSettings>
</configuration>
