<div ui-view>
    <div class="material-block-header" >
        <h4 class="material-title">Choose a period</h4>
    </div>
    <div class="material-block-content" >
        <form class="material-form">

            <div class="group">
                <input type="text" required ng-model="period.startDate">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Start date : yy/mm/dd</label>
            </div>

            <div class="group">
                <input type="text" required ng-model="period.endDate" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>End date : yy/mm/dd</label>
            </div>
            <button class="btn btn-primary material-btn material-depth-1" ng-click="startPeriod(period)">Let's start</button>
        </form>

    </div>
    <div class="clearfix"></div>
</div>