<div class="row">

	<div class="container">
		<div class="navbar-header"><a class="navbar-brand">Roles</a></div>
		<div class="collapse navbar-collapse">

		</div>
		<hr/>
	</div>

	<div class="role-nav col-md-4 ">
		<div class="align-center">
			
			<input type="text" name="filterRole" placeholder="Role filter ..." />
		</div>
		<div>
			<button type="button" class="btn btn-default btn-md btn-block">NEW</button>
			<button type="button" class="btn btn-default btn-md btn-block role" ng-repeat="role in roles" ng-click="showRole(role.Id)">
				{{role.DescriptionText}} 
				<div class="role-duplicate">
					<a class=" pull-right">
						Duplicate
					</a>
				</div>
			</button>
		</div>
	</div>
	<ul class="nav navbar-nav">
		<li>
			<label class="btn" ng-model="roleDetails" btn-radio="'functionsAvailable'">function</label>
		</li>

		<li>
			<label class="btn" ng-model="roleDetails" btn-radio="'dataAvailable'">data</label>
		</li>
	</ul>
	<div class="roles-details-wrapper col-md-8 material-depth-1">

		<div ng-show="roleDetails=='functionsAvailable'">
			<input type="text" name="filterDetails" placeholder="Permissions filter ..." />
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="functionsDisplayed" id="tree-root">
						<li ng-repeat="node in functionsDisplayed" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					</ol>
				</div>
			</div>
		</div>


		<div ng-show="roleDetails=='dataAvailable'">
			<input type="text" name="filterDetails" placeholder="filter ..." />
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="organization" id="tree-root">
						<li ui-tree-node>
							<div ui-tree-handle >
								Dynamic options
							</div>
							<ol ui-tree-nodes="" ng-model="organization.DynamicOptions">
								<li ng-repeat="dynamic in organization.DynamicOptions" ui-tree-node>
									<div ui-tree-handle >
										{{dynamic.Name}}
									</div>
								</li>
							</ol>
						</li>
						<li ui-tree-node>
							<div ui-tree-handle>
								{{organization.BusinessUnit.Name}}
							</div>
							<ol ui-tree-nodes="" ng-model="organization.BusinessUnit.Sites">
								<li ng-repeat="site in organization.BusinessUnit.Sites" ui-tree-node>
									<div ui-tree-handle >
										{{site.Name}}
									</div>
									<ol ui-tree-nodes="" ng-model="site.Teams">
										<li ng-repeat="team in site.Teams" ui-tree-node>
											<div ui-tree-handle >
												{{team.Name}}
											</div>
										</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	
</div>




<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}">
		{{node.LocalizedFunctionDescription}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildFunctions">
		<li ng-repeat="node in node.ChildFunctions" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
