<div class="row">

	<div class="container">
		<div class="navbar-header"><a class="navbar-brand">Permissions</a></div>
		<div class="collapse navbar-collapse">

		</div>
		<hr/>
	</div>

	<div class="role-nav col-md-4 ">
		<div class="align-center">
			
			<input type="text" name="filterRole" ng-model="searchRoles.DescriptionText" placeholder="Role filter ..." />
			
			<form ng-submit="createRole()">
				<input type="text" ng-model="roleName" placeholder="Enter new role name" />
				<!--input type="submit" class="btn btn-default btn-md btn-block role" value="Create" /-->
			</form>
		</div>
		<div id="searchRoleResults">
			
			<ul ng-repeat="role in roles | filter:searchRoles ">
				<li ng-click="showRole(role.Id)" ng-dblclick="editing = true" class="btn btn-default btn-md btn-block role">
					<div class="role-context-menu pull-right">
						<a ng-click="copyRole(role.Id)">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
							</svg>
							<md-tooltip>
								Duplicate
							</md-tooltip>
						</a>
						<a ng-click="editing = true">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
							</svg>
							<md-tooltip>
								Edit
							</md-tooltip>
						</a>
						<a ng-click="removeRole(role, $index)">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
							</svg>
							<md-tooltip>
								Delete
							</md-tooltip>
						</a>
					</div>
					<span ng-hide="editing">{{role.DescriptionText}}</span>
					<form ng-show="editing" ng-submit="editing = false; updateRole(role)">
						<input type="text" class="inline-role-name" ng-model="role.DescriptionText" placeholder="Name" ng-required />
					</form>
				</li>
			</ul>
		</div>
	</div>
	<ul class="tab-heads">
		<li>
			<label class="btn" ng-model="roleDetails" btn-radio="'functionsAvailable'">function</label>
		</li>

		<li>
			<label class="btn" ng-model="roleDetails" btn-radio="'dataAvailable'">data</label>
		</li>
	</ul>
	<div class="roles-details-wrapper col-md-8 material-depth-1">

		<div ng-show="roleDetails=='functionsAvailable'">
			<input type="text" name="filterDetails" ng-model="searchPermissions" placeholder="Permissions filter ..."  />
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="functionsDisplayed" id="tree-root">
						<li ng-repeat="node in functionsDisplayed | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					</ol>
				</div>
			</div>
		</div>

		<div ng-show="roleDetails=='dataAvailable'">
			<input type="text" name="filterDetails" placeholder="Data filter ..." />
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
							<ol ui-tree-nodes="" ng-model="organization.DynamicOptions">
								<li ng-repeat="dynamic in organization.DynamicOptions" ui-tree-node>
									<div ui-tree-handle ng-click="toggleOrganizationSelection(dynamic, 'RangeOption')" ng-class="{selected: dynamic.selected}">
										{{dynamic.Name}}
									</div>
								</li>
							</ol>
				</div>
			</div>
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="organization.BusinessUnits" id="tree-root">
						<li ng-repeat="bu in organization.BusinessUnits" ui-tree-node>
							<div ui-tree-handle ng-class="{selected: bu.selected}" ng-click="toggleOrganizationSelection(bu, 'BusinessUnits')">
								{{bu.Name}}
							</div>
							<ol ui-tree-nodes="" ng-model="bu.Sites">
								<li ng-repeat="site in bu.Sites" ui-tree-node>
									<div ui-tree-handle ng-class="{selected: site.selected}" ng-click="toggleOrganizationSelection(site, 'Sites')">
										{{site.Name}}
									</div>
									<ol ui-tree-nodes="" ng-model="site.Teams">
										<li ng-repeat="team in site.Teams" ui-tree-node>
											<div ui-tree-handle ng-class="{selected: team.selected}" ng-click="toggleOrganizationSelection(team, 'Teams')">
												{{team.Name}}
											</div>
										</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}" ng-click="toggleFunctionForRole(node)">
		{{node.LocalizedFunctionDescription}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildFunctions">
		<li ng-repeat="node in node.ChildFunctions" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
