<div class="row">

	<div class="container">
		<div class="navbar-header"><a class="navbar-brand">Permissions</a></div>
		<div class="collapse navbar-collapse">

		</div>
	</div>

	<div class="role-nav col-md-4 ">
		<div class="align-center">
			<form ng-submit="createRole(); reset()">
				<input type="text" ng-model="roleName" placeholder="Create new role" class="role-input material-depth-1 role" />
			</form>
			<form class="filter-form">
				<svg style="width: 18px; height: 18px;" viewBox="0 0 24 24">
					<path fill="#000000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
				</svg>
				<input type="text" name="filterRole" ng-model="searchRoles.DescriptionText" placeholder="Role filter ..." />
			</form>
		</div>
		<div id="searchRoleResults" class="role-container">
			<ul class="wfm-list">
				<li ng-repeat="role in roles | filter:searchRoles" ng-click="showRole(role.Id)" ng-dblclick="editing = true" ng-class="{'wfm-list-item-selected': role.Id==selectedRole}" class="role-btn wfm-list-item material-depth-1 role">
					<div class="wfm-list-menu pull-right">
						<span ng-click="copyRole(role.Id)">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
							</svg>
							<md-tooltip>
								Duplicate
							</md-tooltip>
						</span>
						<span ng-click="editing = true">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
							</svg>
							<md-tooltip>
								Edit
							</md-tooltip>
						</span>
						<span ng-click="removeRole(role, $index)">
							<svg style="width:18px;height:18px" viewBox="0 0 24 24">
								<path fill="#555555" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
							</svg>
							<md-tooltip>
								Delete
							</md-tooltip>
						</span>
					</div>
					<span ng-hide="editing">{{role.DescriptionText}}</span>
					<form ng-show="editing" ng-submit="editing = false; updateRole(role)">
						<input type="text" class="inline-role-name" ng-model="role.DescriptionText" placeholder="Name" ng-required />
					</form>
				</li>
			</ul>
		</div>
	</div>

	

	<div class="roles-details-wrapper col-md-8">
		<ul class="wfm-toggle-group">
			<li>
				<label ng-model="roleDetails" btn-radio="'functionsAvailable'">function</label>
			</li>

			<li>
				<label ng-model="roleDetails" btn-radio="'dataAvailable'">data</label>
			</li>
		</ul>
		
		<div ng-show="roleDetails=='functionsAvailable'">
			<form class="filter-form">
				<svg style="width: 18px; height: 18px;" viewBox="0 0 24 24">
					<path fill="#000000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
				</svg>
				<input type="text" name="filterDetails" ng-model="searchPermissions" placeholder="Permissions filter ..." />
			</form>

			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="functionsDisplayed" id="tree-root" class="tree-line">
						<li ng-repeat="node in functionsDisplayed | filter:searchPermissions" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					</ol>
				</div>
			</div>
		</div>

		<div ng-show="roleDetails=='dataAvailable'">
			<form class="filter-form">
				<svg style="width: 18px; height: 18px;" viewBox="0 0 24 24">
					<path fill="#000000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
				</svg>
				<input type="text" name="filterDetails" ng-model="searchData" placeholder="Data filter ..." />
			</form>
			
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="organization.DynamicOptions" class="tree-line">
						<li ng-repeat="dynamic in organization.DynamicOptions | filter:searchData" ui-tree-node>
							<div ui-tree-handle ng-click="toggleOrganizationSelection(dynamic, 'RangeOption')" ng-class="{selected: dynamic.selected}">
								{{dynamic.Name}}
							</div>
						</li>
					</ol>
				</div>

				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="organization.BusinessUnit" id="tree-root" class="tree-line">
						<li ng-repeat="node in organization.BusinessUnit | filter:searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'"></li>
						

						<!-- <li ng-repeat="bu in organization.BusinessUnit | filter:searchData" ui-tree-node>
							<div ui-tree-handle ng-class="{selected: bu.selected}" ng-click="toggleOrganizationSelection(bu, 'BusinessUnits')">
								{{bu.Name}}
							</div>
							<ol ui-tree-nodes="" ng-model="bu.Sites" class="tree-line">
								<li ng-repeat="site in bu.Sites | filter:searchData" ui-tree-node>
									<div ui-tree-handle ng-class="{selected: site.selected}" ng-click="toggleOrganizationSelection(site, 'Sites')">
										{{site.Name}}
									</div>
									<ol ui-tree-nodes="" ng-model="site.Teams" class=" tree-line">
										<li ng-repeat="team in site.Teams | filter:searchData" ui-tree-node>
											<div ui-tree-handle ng-class="{selected: team.selected}" ng-click="toggleOrganizationSelection(team, 'Teams')">
												{{team.Name}}
											</div>
										</li>
									</ol>
								</li>
							</ol>
						</li>-->
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}" ng-click="toggleFunctionForRole(node)">
		{{node.LocalizedFunctionDescription}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildFunctions">
		<li ng-repeat="node in node.ChildFunctions" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_bu_renderer.html">
	<div ui-tree-handle ng-class="{selected: node.selected}" ng-click="toggleOrganizationSelection(node)">
		{{node.Name}}
	</div>
	<ol ui-tree-nodes="" ng-model="node.ChildNodes">
		<li ng-repeat="node in node.ChildNodes" ui-tree-node ng-include="'nodes_bu_renderer.html'">
		</li>
	</ol>
</script>
