
<div class="material-depth-2">
	<div class="col-md-12">
		<span class="col-md-6">
			<label>FirstName: </label>

			<input type="text" placeholder="FirstName" />
		</span>
		<span class="col-md-6">
			<label>LastName: </label>

			<input type="text" placeholder="LastName" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">EmploymentNumber: </label>
		<span class="col-md-8">
			<input type="text" placeholder="EmploymentNumber" xstyle="width: 50%" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Organization: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Organization" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Role: </label>
		<span class="col-md-8"><input type="text" placeholder="Role" /></span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Contract: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Contract" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Contract schedule: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Contract schedule" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Shift bag: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Shift bag" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Part time percentage: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Part time percentage" />
		</span>
	</div>
		
	<div class="col-md-12">
		<label class="col-md-4">Skill: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Skill" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Budget group: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Budget group" />
		</span>
	</div>
	<div class="col-md-12">
		<label class="col-md-4">Note: </label>
		<span class="col-md-8">
			<input type="text" placeholder="Note" />
		</span>
	</div>
</div>
