	<div class="modalbg">
		<div class="dialog">
			<div class="modal-header">
				Import users
			</div>
			<div class="modal-inner-content">
				<div class="wfm-block">

					<div ngf-drop ngf-select ng-model="files" class="drop-box"
						 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
						 accept="text/*">
						Drag and Drop .csv files here or click to upload
					</div>
					Files:
					<ul>
						<li ng-repeat="f in files">{{f.name}}</li>

					</ul>
					Upload Log:
					<pre>{{log}}</pre>
				</div>
			</div>
			<div class="modal-footer">
				<aside>
					<a ng-click="showImportPanel = !showImportPanel" class="wfm-btn wfm-btn-invis">Back</a>
				</aside>
			</div>
		</div>
	</div>
