<div class="modal-box">
	<div class="modalbg import-people">
		<div class="dialog">
			<div class="modal-header">
				{{'ImportUsers'|translate}}
			</div>
			<div class="modal-inner-content">
				<div class="wfm-block">
					<div ngf-drop ngf-select ng-model="vm.files" ng-model-rejected="vm.rejFiles" class="drop-box"
						 ngf-change="vm.upload($files)" ngf-multiple="false" ngf-allow-dir="true"
						 ngf-accept="'.xls,.xlsx'" ngf-drop-available="dropAvailable">
						{{'DragAndDropCsvFilesHereOrClickToUpload'|translate}}
					</div>
					<div class="import-file-template">
						{{'ReferToFileTemplate'|translate}}
						<a href="js/people/fileTemplates/Users.csv">&nbsp;{{'here'|translate}}</a>
					</div>
					<div ng-show="vm.files.length > 0">
						{{'ImportFileNameColon'|translate}}
						<ul>
							<li ng-repeat="f in vm.files">{{f.name}}</li>
						</ul>
					</div>
					<div ng-show="vm.rejFiles.length > 0" class="alert-error notice-spacer"><i class='mdi mdi-alert-octagon'></i> 
						The selected file can not be accepted. Please check the file type.
						<div>
							{{'RejectedFiles'|translate}}
							<ul>
								<li ng-repeat="f in vm.rejFiles">
									{{f.name}} - size: {{f.size}}B
								</li>
							</ul>
						</div>
						
					</div>
					
					<md-progress-linear ng-show="vm.isProcessing" md-mode="indeterminate"></md-progress-linear>
					<div ng-show="vm.isSuccessful">
						<pre>File is imported successfully! <span ng-show="!vm.hasInvalidData">All users have been imported successfully!</span><span ng-show="vm.hasInvalidData">Please find the downloaded excel sheet to check the invalid users.</span></pre>
					</div>
					<div ng-show="vm.isFailed">
						<pre>{{'ImportError'|translate}}! {{vm.errorMsg}}</pre>
					</div>
					<div ng-show="vm.hasParsingError">
						<pre>{{vm.errorMsg}}</pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<aside>
					<a ng-click="toggleImportPeople()" class="wfm-btn wfm-btn-invis">{{'Back'|translate}}</a>
				</aside>
			</div>
		</div>
	</div>
</div>