<div class="modal-box">
	<div class="modalbg import-people">
		<div class="dialog">
			<div class="modal-header">
				{{'ImportUsers'|translate}}
			</div>
			<div class="modal-inner-content">
				<div class="wfm-block">
					<div ngf-drop ngf-select ng-model="vm.files" ng-model-rejected="vm.rejFiles" class="drop-box"
						 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-change="vm.upload($files)" ngf-multiple="true" ngf-allow-dir="true"
						 accept="'.csv'" ngf-accept="'.csv'" ngf-drop-available="dropAvailable">
						{{'DragAndDropCsvFilesHereOrClickToUpload'|translate}}
					</div>
					{{'ImportFileNameColon'|translate}}
					<ul>
						<li ng-repeat="f in vm.files">{{f.name}}</li>
					</ul>
					<div ng-show="vm.isImportReady">
						<pre>{{vm.successfulCount}} {{'wasSuccessful'|translate}}, {{vm.invalidCount}} {{'wasNotSuccessful'|translate}}.</pre>

						<button class="wfm-btn wfm-btn-default export-error-data" ng-show="vm.hasDataWithError" ng-click="vm.export()">{{'Export'|translate}}</button>

						<div ng-show="vm.hasDataWithError" ui-grid="vm.gridOptionForImport" ui-grid-importer ui-grid-resize-columns ui-grid-exporter class="grid"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<aside>
					<a ng-click="toggleImportPeople()" class="wfm-btn wfm-btn-invis">{{'Back'|translate}}</a>
				</aside>
			</div>
		</div>
	</div>
</div>