@using Teleopti.Ccc.Web.Models.Shared
@model ErrorViewModel
@{
	Layout = null;
}
<div id="error-panel" class="alert alert-error">
    @Model.Message
</div>
<a href="javascript: history.go(-1)" class="btn btn-primary">@Teleopti.Ccc.UserTexts.Resources.Back</a>
