<div ui-view>
	<div class="material-block-content" ng-if="showSelection">
		<div class="row col-lg-12">
			<button class="wfm-btn wfm-btn-default" ng-click="back()">Back</button>
			<button class="wfm-btn apply pull-right" ng-class="{'wfm-btn-primary-disabled': !hasOneSelected(), 'wfm-btn-primary':hasOneSelected()}" ng-click="nextStep()">Apply</button>
			<h4>Select forcasting target(s) for period {{period.startDate | date : shortDate}} to {{period.endDate | date : shortDate}}:</h4>
		</div>
		<div class="row col-lg-12">
			<div class="tree">
				<div ui-tree data-drag-enabled="false">
					<ol ui-tree-nodes="" ng-model="all">
						<li ui-tree-node>
							<div class="tree-toggle-group">
								<div class="toggle-handle" ng-class="{open: all.show}" ng-click="all.show = !all.show"><i class="mdi mdi-chevron-right"></i></div>
								<div ui-tree-handle ng-class="{selected: all.Selected}" ng-click="toggleAll(all.Selected)">
									{{all.Name}} <i class="pull-right total-accuracy"><b ng-if="all.numberOfSelectedWorkloads!==0">{{all.numberOfSelectedWorkloads}}/{{all.totalWorkloads}}</b> {{all.Accuracy}}</i>
								</div>
							</div>
							<ol ui-tree-nodes="" ng-model="skillsDisplayed" ng-show="all.show">
								<li ng-repeat="skill in skillsDisplayed" ui-tree-node ng-include="'nodes_skill_renderer.html'" value='{{skill.Id}}'></li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
			<div ng-show="showExplaination">
				-% Not enough historical data to measure the forecasting method.
			</div>
		</div>
		
	</div>

	<div ng-if="!showSelection" class="text-center">
		<div>
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
	</div>
</div>

<!-- Skill template -->
<script type="text/ng-template" id="nodes_skill_renderer.html">
	<div class="tree-toggle-group">
		<div class="toggle-handle" ng-class="{open: skill.show}" ng-click="skill.show = !skill.show"><i class="mdi mdi-chevron-right"></i></div>
		<div ui-tree-handle ng-class="{selected: skill.Selected}" class="skill" ng-click="toggleSkill(skill)">
			{{skill.Name}}<i class="pull-right skill-accuracy"><b ng-if="skill.numberOfSelectedWorkloads!==0 && skill.numberOfSelectedWorkloads!==skill.Workloads.length">{{skill.numberOfSelectedWorkloads}}/{{skill.Workloads.length}}</b> {{skill.Accuracy}}</i><span><i class="mdi mdi-check"></i></span>
		</div>
	</div>
	<ol ui-tree-nodes="" ng-model="skill.Workloads" ng-show="skill.show">
		<li ng-repeat="workload in skill.Workloads" ui-tree-node value='{{workload.Id}}'>
			<div class="tree-toggle-group">
				<div class="toggle-handle" ng-class="{open: false}"><i class="mdi mdi-chevron-right ng-hide"></i></div>
				<div ui-tree-handle ng-class="{selected: workload.Selected || skill.Selected}" class="workload" ng-click="toggleWorkload(workload)">
					{{workload.Name}}
					<i class="pull-right workload-accuracy">{{workload.Accuracy}}</i>
					<span><i class="mdi mdi-check"></i></span>
					<i class="mdi mdi-chart-line forecasting-chart-line" ng-click="openModal(workload);$event.stopPropagation();"></i>
					<div ng-include="'forecasting-chart.html'"></div>
				</div>
			</div>
		</li>
	</ol>
</script>

<script type="text/ng-template" id="forecasting-chart.html">
	<div ng-cloak class="modal-box" ng-click="$event.stopPropagation()">
		<div ng-cloak ng-show="workload.modalLaunch">
			<div class="modalbg">
				<div class="dialog">
					<div class="modal-header">
						{{workload.Name}}
					</div>
					<div class="modal-inner-content">
						<div class="wfm-block">
							<linechart data="data" options="options" mode="" width="1000" height="500"></linechart>
						</div>
					</div>
					<div class="modal-footer">
						<aside>
							<a ng-click="workload.modalLaunch = false" class="wfm-btn wfm-btn-invis-primary">Cancel</a>
							<a class="wfm-btn wfm-btn-invis-primary">Ok</a>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>