<div class="material-block-content">
	<div class="row">
		<div ng-if="!result" class="text-center">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		<h4>
			Period from {{period.startDate | date : shortDate}} to {{period.endDate | date : shortDate}}
		</h4>
	</div>
	<div ng-if="result" ng-class="result.success ? 'success' : 'fail'">
		{{result.message}}
		<div>
			<ul class="wfm-list">
				<li ng-repeat="workload in targets">
					{{workload.Name}}
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix"></div>