<div ui-view>
	<h4>Choose a future period to forecast:</h4>
	<div class="material-block-content">
		<div style="display:inline-block; min-height:290px;">
			<h5>From <span class="startDate">{{period.startDate | date : format}}</span></h5>

			<datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
		</div>

		<div style="display:inline-block; min-height:290px;">
			<h5>To  <span class="endDate">{{period.endDate | date : format}}</span></h5>

			<datepicker ng-model="period.endDate" min-date="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
		</div>
		<div>
			<button class="wfm-btn wfm-btn-primary next-step" ng-click="nextStep(period)">Let's start</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>