<div ui-view>
	<h4>Choose a period</h4>
	<div class="material-block-content">

		<div style="display:inline-block; min-height:290px;">
			<h5>From <span class="startDate">{{period.startDate | date : format}}</span></h5>

			<datepicker ng-model="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
		</div>

		<div style="display:inline-block; min-height:290px;">
			<h5>To  <span class="endDate">{{period.endDate | date : format}}</span></h5>

			<datepicker ng-model="period.endDate" min-date="period.startDate" show-weeks="true" class="well well-sm"></datepicker>
		</div>
		<div class="tree">
			<div ui-tree data-drag-enabled="false">
				<ol ui-tree-nodes="" ng-model="skillsDisplayed" id="tree-root" class="tree-line">
					<li ng-repeat="node in skillsDisplayed" ui-tree-node ng-include="'nodes_renderer.html'"></li>
				</ol>
			</div>
		</div>
		<div>
			<!--<md-button class="md-raised md-primary  start-forecasting" ng-click="startPeriod(period)">Let's start</md-button>-->
			<button class="btn btn-primary material-btn material-depth-1 start-forecasting" ng-click="startPeriod(period)">Let's start</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>