<div ui-view>
	<div ng-if="!showSelection" class="text-center wfm-block">
		<div>
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
	</div>
	<div class="material-block-content" ng-if="showSelection">
		<div class="row col-lg-12">
			<button class="wfm-btn wfm-btn-default" ng-click="back()">{{ 'Back' | translate }} <md-tooltip>Period selection</md-tooltip> </button>
			<button class="wfm-btn apply pull-right" ng-class="{'wfm-btn-primary-disabled': !hasOneSelected(), 'wfm-btn-primary':hasOneSelected()}" ng-click="nextStep()">{{ 'Apply' | translate }}<md-tooltip>Generate forecast</md-tooltip></button>
			<p>Select forcasting target(s) for period {{period.startDate | date : shortDate}} {{'To' | translate}} {{period.endDate | date : shortDate}}:</p>
		</div>
		<div class="row col-lg-12">
			<div class="tree">
				<div class="angular-ui-tree">
					<ol class="angular-ui-tree-nodes tree-line" ng-model="all">
						<li class="angular-ui-tree-node">
							<div class="tree-toggle-group">
								<div class="toggle-handle" ng-class="{open: all.show}" ng-click="all.show = !all.show"><i class="mdi mdi-chevron-right"></i></div>
								<div class="angular-ui-tree-handle" ng-class="{selected: all.Selected}" ng-click="toggleAll(all.Selected)">
									{{all.Name}} <i class="pull-right total-accuracy"><b ng-if="all.numberOfSelectedWorkloads!==0">{{all.numberOfSelectedWorkloads}}/{{all.totalWorkloads}}</b> {{all.Accuracy}}</i>
								</div>
							</div>
							<ol class="angular-ui-tree-nodes" ng-model="skillsDisplayed" ng-show="all.show">
								<li ng-repeat="skill in skillsDisplayed" class="angular-ui-tree-node" ng-include="'nodes_skill_renderer.html'" value='{{skill.Id}}'></li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
			<div ng-show="showExplaination">
				-% Not enough historical data to measure the forecasting method.
			</div>
		</div>
		
	</div>
</div>

<!-- Skill template -->
<script type="text/ng-template" id="nodes_skill_renderer.html">
	<div class="tree-toggle-group">
		<div class="toggle-handle" ng-class="{open: skill.show}" ng-click="skill.show = !skill.show"><i class="mdi mdi-chevron-right"></i></div>
		<div class="angular-ui-tree-handle skill" ng-class="{selected: skill.Selected}" ng-click="toggleSkill(skill)">
			{{skill.Name}}<i class="pull-right skill-accuracy"><b ng-if="skill.numberOfSelectedWorkloads!==0 && skill.numberOfSelectedWorkloads!==skill.Workloads.length">{{skill.numberOfSelectedWorkloads}}/{{skill.Workloads.length}}</b> {{skill.Accuracy}}</i><span><i class="mdi mdi-check"></i></span>
		</div>
	</div>
	<ol class="angular-ui-tree-nodes" ng-model="skill.Workloads" ng-show="skill.show">
		<li ng-repeat="workload in skill.Workloads" class="angular-ui-tree-node" value='{{workload.Id}}'>
			<div class="tree-toggle-group">
				<div class="toggle-handle" ng-class="{open: false}"><i class="mdi mdi-chevron-right ng-hide"></i></div>
				<div ng-class="{selected: workload.Selected || skill.Selected}" class="workload angular-ui-tree-handle" ng-click="toggleWorkload(workload)">
					{{workload.Name}}
					<i class="pull-right workload-accuracy">{{workload.Accuracy}}</i>
					<span><i class="mdi mdi-check"></i></span>
					<i class="mdi mdi-chart-bar forecasting-chart-bar" ng-click="openModal(workload);$event.stopPropagation();">
						<md-tooltip>View method chart</md-tooltip>
					</i>
					<div ng-include="'forecasting-chart.html'" class="forecasting-chart"></div>
				</div>
			</div>
		</li>
	</ol>
</script>

<script type="text/ng-template" id="forecasting-chart.html">
	<div ng-cloak class="modal-box" ng-click="$event.stopPropagation()">
		<div ng-cloak ng-show="workload.modalLaunch">
			<div class="modalbg">
				<div class="dialog">
					<div class="modal-header">
						{{skill.Name}} - {{workload.Name}}
					</div>
					<div class="modal-inner-content">
						<div ng-if="!workload.loaded" class="modal-inner-content wfm-block">
							<md-progress-linear md-mode="indeterminate"></md-progress-linear>
						</div>
						<div ng-if="workload.loaded">
							<div class="alert-warning notice-spacer" ng-show="workload.noHistoricalDataForEvaluation"><i class='mdi mdi-alert'></i> Warning: There is no recommended forecasting method because of lack of historical data.</div>
							<div class="alert-warning notice-spacer" ng-show="workload.noHistoricalDataForForecasting"><i class='mdi mdi-alert'></i> Warning: There is no historical data available for forecasting.</div>
							<div class="wfm-block">
								<div class="row">
									<div class="col-lg-12">
										<h4>{{ 'ForecastMethod' | translate }}</h4>
										<p>
											This chart shows how well a <i>Forecast Method</i> matches last year's <i>Queue Statistics</i> for workload <i>{{workload.Name}}</i>. Out of several tested forecast methods
											this one was the most accurate. <br>The chosen forecast method is based on a period of queue statistics prior to the timeframe in the chart and will be used in the upcoming
											forecast for workload <i>{{workload.Name}}</i>.
										</p>
									</div>
								</div>
								<c3chart bindto-id="{{workload.chartId}}" chart-data="workload.chartData" chart-columns="dataColumns" chart-x="dataX" show-subchart="true" enable-zoom="true">
									<chart-axis>
										<chart-axis-x axis-id="date" axis-type="timeseries">
											<chart-axis-x-tick tick-format="%Y-%m-%d" />
										</chart-axis-x>
									</chart-axis>
									<chart-axis>
										<chart-axis-y axis-id="y" axis-position="outer-middle" axis-label="Number of Calls" />
									</chart-axis>
								</c3chart>
								<div class="row" ng-if="!workload.noHistoricalDataForEvaluation">
									<div class="col-lg-12">
										<p>
											We use historical data from <b>{{workload.ForecastMethodRecommended.PeriodUsedToEvaluateStart | date : shortDate}}</b> to <b>{{workload.ForecastMethodRecommended.PeriodUsedToEvaluateEnd | date : shortDate}}</b>, and evaluate forecast methods on the period from <b>{{workload.ForecastMethodRecommended.PeriodEvaluateOnStart | date : shortDate}}</b> to <b>{{workload.ForecastMethodRecommended.PeriodEvaluateOnEnd | date : shortDate}}</b>.
										</p>
										<p>
											We pick forecast method: <b>{{workload.selectedMethodName}}</b>.
										</p>
									</div>
								</div>
								<div ng-if="IsForecastingTest">
									<div class="col-lg-12">
										<h4>Outliers Removal</h4>
									</div>
									<c3chart bindto-id="{{workload.chartId2}}" chart-data="workload.chartData2" chart-columns="dataColumns2" chart-x="dataX" show-subchart="true" enable-zoom="true">
										<chart-axis>
											<chart-axis-x axis-id="date" axis-type="timeseries">
												<chart-axis-x-tick tick-format="%Y-%m-%d" />
											</chart-axis-x>
										</chart-axis>
										<chart-axis>
											<chart-axis-y axis-id="y" axis-position="outer-middle" axis-label="Number of Calls" />
										</chart-axis>
									</c3chart>
									</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<aside>
							<a class="wfm-btn wfm-btn-invis-primary" ng-click="cancelMethod(workload)">{{ 'Close' | translate }}</a>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>