<div ui-view>
	<div class="row">
		<div class="col-lg-12">
			<h4 translate>SelectForecastPeriodIntro</h4>
		</div>
	</div>
	<div class="material-block-content">
		<div class="wfm-datepicker-wrap">
			<div class="sub-header">
				{{'From' | translate}} <span class="startDate">{{period.startDate | date : format}}</span>
			</div>
			<datepicker ng-model="period.startDate" show-weeks="true" class="wfm-datepicker"></datepicker>
		</div>

		<div class="wfm-datepicker-wrap">
			<div class="sub-header">
				{{'To' | translate}} <span class="endDate">{{period.endDate | date : format}}</span>
			</div>
			<datepicker ng-model="period.endDate" min-date="period.startDate" show-weeks="true" class="wfm-datepicker"></datepicker>
		</div>
		<div>
			<button class="wfm-btn wfm-btn-primary next-step-all" ng-click="nextStepAll(period)">{{ 'ForecastAll' | translate }}</button>
			<button class="wfm-btn wfm-btn-default next-step-advanced" ng-click="nextStepAdvanced(period)">{{ 'Advanced' | translate }}<md-tooltip>Select specific workloads</md-tooltip></button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>