<div ui-view>
	<div class="material-block-content" ng-if="showSelection">
		<div class="row">
			<div class="col-lg-12">
				<button class="wfm-btn wfm-btn-primary pull-right apply" ng-class="{'wfm-btn-primary-disabled': !hasOneSelected}" ng-click="nextStep()">Apply</button>
				<h4>
					Select forcasting target(s)
				</h4>
				
			</div>
			</div>
			<div>
				<div class="tree">
					<div ui-tree data-drag-enabled="false">
						<ol ui-tree-nodes="" ng-model="all">
							<li ui-tree-node>
								<div ui-tree-handle ng-class="{selected: all.Selected}" ng-click="all.Selected = !all.Selected">
									{{all.Name}} <p class="pull-right total-accuracy">{{all.Accuracy}}</p>
								</div>
								<ol ui-tree-nodes="" ng-model="skillsDisplayed">
									<li ng-repeat="skill in skillsDisplayed" ui-tree-node ng-include="'nodes_skill_renderer.html'" value='{{skill.Id}}'></li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div ng-show="showExplaination">
					-% Not enough historical data to measure the forecasting method.
				</div>

			</div>

		</div>

		<div ng-if="!showSelection" class="text-center">
			Wait ! We re crushing data for you :)
			<div>
				<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
					<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
				</svg>
			</div>
		</div>
	</div>

<!-- Skill template -->
<script type="text/ng-template" id="nodes_skill_renderer.html">
	<div ui-tree-handle ng-class="{selected: skill.Selected}" class="skill" ng-click="toggleSkill(skill)">
		{{skill.Name}}<p class="pull-right skill-accuracy">{{skill.numberOfSelectedWorkloads}}/{{skill.Workloads.length}} selected {{skill.Accuracy}}</p>
	</div>
	<ol ui-tree-nodes="" ng-model="skill.Workloads">
		<li ng-repeat="workload in skill.Workloads" ui-tree-node value='{{workload.Id}}'>
			<div ui-tree-handle ng-class="{selected: workload.Selected || skill.Selected}" class="workload" ng-click="toggleWorkload(workload)">
				{{workload.Name}} <p class="pull-right workload-accuracy">{{workload.Accuracy}}</p>
			</div>
		</li>
	</ol>
</script>