<div>
	<h3 style="border-bottom:1px solid rgba(0,0,0,0.12); padding-bottom: 5px">Create Skill</h3>
	
	<div class="row" style="display: flex">
		<label class="col-lg-2">Name</label>
		<input type="text" class="col-lg-3" placeholder="Name..." />
	</div>
	<div class="row" style="display: flex">
		<label class="col-lg-2">Activity</label>
		<select class="col-lg-3" ng-model="model.selectedActivity" ng-change="activityChanged()" ng-options="activity.Name for activity in activities"></select>
	</div>
	<div class="row" style="display: flex">
		<label class="col-lg-2">Time zone</label>
		<select class="col-lg-3" ng-model="model.selectedTimezone" ng-change="timezoneChanged()" ng-options="timezone.Name for timezone in timezones"></select>
	</div>
</div>