<ul class="wfm-list scroll-free-tree" ng-show="$ctrl.org.BusinessUnit.Id != null">
	<li ng-click="confirmModal1=true">
		<span class="list-item-container">
			{{$ctrl.org.BusinessUnit.Name}}
		</span>
		<span ng-cloak ng-show="$ctrl.isSelected($ctrl.org.BusinessUnit)" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
	</li>
</ul>

<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="confirmModal1">
		<div class="modalbg">
			<div class="dialog-mini">
				<div class="modal-inner-content">
					{{'ConfirmToggleAllData'|translate}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="confirmModal1=false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
						<button ng-click="$ctrl.toggleNode($ctrl.org.BusinessUnit);confirmModal1=false" class="wfm-btn wfm-btn-invis-primary">{{'ToggleAll'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>

<ul class="wfm-list perm-list">
	<span ng-repeat="site in $ctrl.org.BusinessUnit.ChildNodes">
		<li ng-click="confirmModal2 = true" style="margin-left:30px;">
			<span class="list-item-container">
				{{site.Name}}
			</span>
			<span ng-cloak ng-show="$ctrl.isSelected(site)" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>

			<div ng-cloak class="modal-box">
				<div ng-cloak ng-show="confirmModal2">
					<div class="modalbg">
						<div class="dialog-mini">
							<div class="modal-inner-content">
								{{'ConfirmToggleAllData'|translate}}
							</div>
							<div class="modal-actions">
								<aside>
									<button ng-click="confirmModal2 = false;$event.stopPropagation();" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
									<button ng-click="confirmModal2=false;$ctrl.toggleNode(site);$event.stopPropagation();" class="wfm-btn wfm-btn-invis-primary">{{'ToggleAll'|translate}}</button>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li ng-repeat="team in site.ChildNodes" ng-click="$ctrl.toggleNode(team)" style="margin-left:60px;">
			<span class="list-item-container" id="team-list-label">
				{{team.Name}}
			</span>
			<span ng-cloak ng-show="$ctrl.isSelected(team)" ng-class="{'test-class':$ctrl.isSelected(team)}" id="team-selection-indicator" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
		</li>
	</span>
</ul>
