<div ui-tree data-drag-enabled="false">
	<ol ui-tree-nodes="" ng-model="$ctrl.functions">
		<li ng-repeat="function in $ctrl.functions" ui-tree-node ng-hide="function.IsHidden">

			<div ng-cloak class="modal-box">
				<div ng-cloak ng-show="function.multiDeselectModal">
					<div class="modalbg">
						<div class="dialog-mini">
							<div class="modal-inner-content">
								{{'ConfirmToggleChildPermissions'|translate}}
							</div>
							<div class="modal-actions">
								<aside>
									<button ng-click="function.multiDeselectModal=false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
									<button ng-click="$ctrl.toggleFunction(function); function.multiDeselectModal=false" class="wfm-btn wfm-btn-invis-primary">{{'Clear'|translate}}</button>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tree-toggle-group">
				<div class="toggle-handle" ng-class="{open: function.IsOpen}" ng-click="function.IsOpen = !function.IsOpen"><i ng-class="{hideChevron: function.ChildFunctions.length === 0}" class="mdi mdi-chevron-right"></i></div>
				<div class="tree-handle-wrapper">
					<div ui-tree-handle ng-class="{selected: function.IsSelected}" ng-click="$ctrl.checkParent(function)">
						{{function.LocalizedFunctionDescription}}
					</div>
				</div>
			</div>

			<div class="animate-show" ng-show="function.IsOpen">
				<permissions-tree functions="function.ChildFunctions" parent="$ctrl.onSelect"></permissions-tree>
			</div>
		</li>
	</ol>
</div>
