<div class="container realtimeadherencesites">

	<div class="row">
		<div class="col-md-2 pull-right">
			<button class="btn btn-primary open btn-default pull-right" data-bind="click: openSelectedSites">Open selected sites</button>
		</div>
		<!--ko if: Wfm_RTA_ProperReleaseToggle_36750-->
		<a href="/wfm/#/rta" class="col-md-10 btn pull-right" style="background: #bada55; text-align: left; color: #333 !important; text-decoration: none !important;">Try out the new improved RTA!</a>
		<!-- /ko -->

		</div>
	<br />
		<div class="row" data-bind="foreach: sites">
			<div data-bind="if: NumberOfAgents > 0">
				<div class="col-md-4">
					<div class="well well-sm site">
						<input class="checkbox" type="checkbox" data-bind="checked: $root.sitesToOpen, attr:{value: Id, name : Name}" />
						<div data-bind="click: openSite">
							<!-- ko ifnot: hasBeenUpdated -->
							<div class="overlay">
								<h1 data-bind="text: $root.resources.WaitingThreeDots"></h1>
							</div>
							<!-- /ko -->
							<div class="gage" data-bind="
							justgage: {
								value: OutOfAdherence,
								max: NumberOfAgents,
								id: Id,
								title: Name,
								label:  $root.resources.OutOfAdherence
							},
							attr: {
								'data-value': OutOfAdherence,
								'data-max': NumberOfAgents
							}
							"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
