<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="ManagerLocation" value="http://localhost:9000/" />
    <add key="HandlerAssembly" value="NodeTest.JobHandlers" />
    <add key="BaseAddress" value="http://localhost:9050" />
    <add key="NodeName" value="Node1" />
  </appSettings>

</configuration>