<div class="view-header">
    <div class="view-title">
        <h1>
            <i class="mdi mdi-calendar"></i><a href="#/resourceplanner">{{'Plans' | translate}}</a> / <a
                href="#/resourceplanner/planninggroup/{{vm.planningGroup.Id}}/selectplanningperiod">{{vm.planningGroup.Name}}</a>
            / {{vm.selectedPp.StartDate | amDateFormat:"LL"}} - {{vm.selectedPp.EndDate |
            amDateFormat:"LL"}}
        </h1>
        <span ng-if="vm.isDisable()" ng-bind="vm.status" class="pp-status"></span>
    </div>
</div>
<div class="con-row">
    <div class="con-flex">
        <div ng-if="vm.isDisable()" class="pp-progress test-schedule-is-running">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="wfm-toolbar">
            <div class="con-row">
                <div class="con-flex">
                    <div class="wfm-toolbar-group-container">
                        <button tabindex=0 class="schedule-button wfm-btn wfm-btn-invis-default"
                                ng-disabled="vm.isDisable()" ng-click="vm.launchSchedule()">
                            {{'ScheduleVerb' | translate}}
                        </button>
                        <button tabindex=0
                                class="intraday-optimization-button wfm-btn wfm-btn-invis-default"
                                ng-disabled="vm.isDisable()" ng-click="vm.intraOptimize()">
                            {{'IntraOptimize' | translate}}
                        </button>
                        <button tabindex=0 class="wfm-btn wfm-btn-invis-default"
                                ng-disabled="vm.isDisable() || vm.dayNodes == null"
                                ng-click="vm.openModal()">
                            {{'ClearScheduleResultAndHistoryData' | translate}}
                        </button>
                    </div>
                    <div class="wfm-toolbar-group-container">
                        <button tabindex=0 class="wfm-btn wfm-btn-invis-default"
                                ng-disabled="vm.isDisable()" ng-click="vm.publishSchedule()">
                            {{'PublishSchedulePlans' | translate}}
                        </button>
                    </div>
                    <div class="wfm-btn wfm-btn-invis-default tabLink pp-setting-button pull-right"
                         ng-click="vm.goDoRulesSetting()">
                        <i class="mdi mdi-settings"></i> {{'PlanGroupScheduling' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="wfm-slide-tabs tabbed-panel">
            <md-tabs md-dynamic-height md-border-bottom md-selected="vm.activeTab">
                <md-tab>
                    <md-tab-label>
                        {{'Overview'|translate}}
                    </md-tab-label>
                    <md-tab-body>
                        <div class="con-row pp-tabContent">
                            <div class="con-flex">
                                <div class="panel">
                                    <div class="con-row pp-overview-dashborad-header">
                                        <div class="wfm-chip-wrap" ng-if="vm.valLoading" ng-click="vm.activeTab=1">
                                        <span class="wfm-chip">
                                            <span class="chip-handle chip-error">
                                                ...
                                            </span>
                                            <span class="chip-text">{{'ValidationsAreLoading'|translate}}</span>
                                        </span>
                                            <md-tooltip>{{'ValidationsAreLoadingTooltip'|translate}}</md-tooltip>
                                        </div>
                                        <div class="wfm-chip-wrap" ng-if="!vm.valLoading && vm.valData.totalValNum > 0"
                                             ng-click="vm.activeTab=1">
                                            <span class="wfm-chip">
                                                <span class="chip-handle chip-error">
                                                    {{vm.valData.totalValNum}}
                                                </span>
                                                <span class="chip-text">{{'ValidationIssues'|translate}}</span>
                                            </span>
                                        </div>
                                        <div class="wfm-chip-wrap">
                                            <span class="wfm-chip">
                                                <span class="chip-handle scheduled-agents">
                                                    {{vm.scheduledAgents}}/{{vm.totalAgents}}
                                                </span>
                                                <span class="chip-text">{{'ScheduledAgents'|translate}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="con-row">
                                        <div class="con-flex result-container ">
                                            <div class="legends heatmap" ng-show="vm.dayNodes">
                                                <h2>Scheduled Skills Heatmap</h2>
                                                <span>
                                                <div class="legend critUnderstaffed"></div>
                                                {{'CriticalUnderstaffingColon' | translate}}
                                            </span>
                                                <span>
                                                <div class="legend understaffed"></div>
                                                {{'UnderstaffingColon'|translate}}
                                            </span>
                                                <span>
                                                <div class="legend overstaffed"></div>
                                                {{'OverstaffingColon'|translate}}
                                            </span>
                                                <span>
                                                <div class="legend closed"></div>
                                                {{'Closed'|translate}}
                                            </span>
                                            </div>
                                            <div class="grid-scroll-wrap" ng-show="vm.dayNodes.length">
                                                <table ng-hide="dates.length > 0" class="overview">
                                                    <col width="20px"/>
                                                    <tr ng-repeat="(index, subnode) in vm.dayNodes | limitTo:1 ">
                                                        <th class="datehead"
                                                            ng-repeat="datenode in subnode.SkillDetails">
                                                            <p class="tabledate">{{datenode.Date | amDateFormat:"DD/MM"
                                                                }}</p>
                                                        </th>
                                                    </tr>
                                                    <tr ng-repeat="(index, subnode) in vm.dayNodes ">
                                                        <td class="skillname">{{ subnode.SkillName }}</td>
                                                        <td class="long" ng-repeat="node in subnode.SkillDetails"
                                                            ng-class="{weekend: node.weekend}">
                                                            <div class="resourceplanner-box"
                                                                 ng-class="{understaffed:node.ColorId==1,critUnderstaffed:node.ColorId==2,overstaffed:node.ColorId==3, closed: node.ColorId==4}">
                                                                <md-tooltip>
                                                                    {{'RelativeDifference' | translate}}:
                                                                    {{node.parseDif}}% | {{subnode.SkillName}} |
                                                                    {{node.Date | amDateFormat:"L"}}
                                                                </md-tooltip>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="vm.dayNodes.length == 0">
                                                <span><i class="mdi mdi-information-outline"></i> {{'NoValidScheduleResult' | translate}}</span>
                                                <br/>
                                            </div>
                                            <div ng-show="vm.dayNodes == undefined">
                                                <span><i class="mdi mdi-information-outline"></i> {{'NoPreviousScheduleResult' | translate}}</span>
                                                <br/>
                                                <span ng-show="vm.totalAgents == 0"><i class="mdi mdi-information-outline"></i> {{'NoAgentsWithinPlanningGroup' | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                   
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        {{'Validations'|translate}}<wfm-badge badge-model="vm.valData.totalValNum" status="'notice-error'"></wfm-badge>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="pp-tabContent" pp-validation val-data="vm.valData"
                             val-loading="vm.valLoading" val-number="vm.valNumber()"></div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>

<div ng-cloak class="modal-box">
    <div ng-cloak ng-show="vm.confirmModal">
        <div class="modalbg">
            <div class="dialog-mini material-depth-1">
                <div class="modal-inner-content">
                    <h3 translate>ClearPlanningPeriod</h3>
                    {{vm.textForClearPp}}
                </div>
                <div class="modal-actions">
                    <aside>
                        <button ng-click="vm.confirmModal=false" class="wfm-btn wfm-btn-invis-default" translate>
                            Cancel
                        </button>
                        <button ng-click="vm.confirmModal=false; vm.clearSchedules();"
                                class="wfm-btn wfm-btn-invis-primary" translate>Clear
                        </button>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>