<div class="con-row" ng-if="vm.hasValidations()">
	<div class="con-flex">
		<card-panel-list>
			<card-panel color="vm.color" ng-show="vm.valData.preValidation.length > 0">
				<card-panel-header>
					<md-progress-linear
						ng-if="vm.valLoading"
						class="pp-validation-progress"
						md-mode="indeterminate"
					></md-progress-linear>
					<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
					<div class="header-flex">
						<b>{{ 'PreSchedulingValidationIssues' | translate }} </b>
					</div>
					<div class="header-flex">
						<span class="pp-validation-number error"
							>{{ vm.valData.totalPreValNum }} {{ 'IssuesText' | translate }}
							<span class="pp-validation-button">
								<div
									tabindex="0"
									class="context-menu card-context"
									ng-disabled="vm.valLoading"
									ng-click="vm.getValidationByPpId();$event.stopPropagation();"
								>
									<i class="mdi mdi-refresh"></i>
									<md-tooltip> {{ 'RefreshPreSchedulingValidationIssues' | translate }}</md-tooltip>
								</div>
							</span>
						</span>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row">
						<div class="con-flex">
							<div class="con-row">
								<div class="con-flex ">
									<label for="validationFilter" class="input-icon">
										<i class="mdi mdi-filter-outline">
											<input
												type="text"
												id="validationFilter"
												ng-model="vm.validationFilter"
												placeholder="{{'FilterValidationIssues' | translate}}"
											/>
											<md-tooltip>{{ 'FilterValidationIssues' | translate }}</md-tooltip>
										</i>
									</label>
								</div>
								<div class="con-flex"></div>
							</div>
							<table class="wfm-table">
								<thead>
									<tr>
										<th>{{ 'Resource' | translate }}</th>
										<th>{{ 'Area' | translate }}</th>
										<th>{{ 'Description' | translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="msg in vm.valData.preValidation | filter: vm.validationFilter">
										<td>{{ msg.ResourceName }}</td>
										<td>
											<div ng-repeat="item in msg.ValidationErrors">
												{{ item.ResourceType | translate }}
											</div>
										</td>
										<td>
											<div ng-repeat="item in msg.ValidationErrors">
												{{ item.ErrorMessageLocalized }}
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
			<card-panel color="vm.color" ng-show="vm.valData.scheduleIssues.length > 0">
				<card-panel-header>
					<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
					<div class="header-flex">
						<b>{{ 'ScheduledIssues' | translate }}</b>
					</div>
					<div class="header-flex">
						<span class="pp-validation-number error"
							>{{ vm.valData.totalLastValNum }} {{ 'IssuesText' | translate }}</span
						>
					</div>
				</card-panel-header>
				<card-panel-content>
					<div class="con-row">
						<div class="con-flex">
							<div class="con-row">
								<div class="con-flex ">
									<label for="scheduleIssuesFilter" class="input-icon">
										<i class="mdi mdi-filter-outline">
											<input
												type="text"
												id="scheduleIssuesFilter"
												ng-model="vm.scheduleIssuesFilter"
												placeholder="{{'FilterValidationIssues' | translate}}"
											/>
											<md-tooltip>{{ 'FilterValidationIssues' | translate }}</md-tooltip>
										</i>
									</label>
								</div>
								<div class="con-flex"></div>
							</div>
							<table class="wfm-table">
								<thead>
									<tr>
										<th>{{ 'Resource' | translate }}</th>
										<th>{{ 'Area' | translate }}</th>
										<th>{{ 'Description' | translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="msg in vm.valData.scheduleIssues | filter: vm.scheduleIssuesFilter">
										<td>{{ msg.ResourceName }}</td>
										<td>
											<div ng-repeat="item in msg.ValidationErrors">
												{{ item.ResourceType | translate }}
											</div>
										</td>
										<td>
											<div ng-repeat="item in msg.ValidationErrors">
												{{ item.ErrorMessageLocalized }}
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</card-panel-content>
			</card-panel>
		</card-panel-list>
	</div>
</div>
<div class="con-row" ng-if="!vm.hasValidations()">
	<div class="con-flex">
		<div class="con-row panel">
			<div class="con-flex">
				<span ng-if="!vm.valLoading">
					<i class="mdi mdi-information-outline"></i> {{ 'NoValidIssuesForPp' | translate }}</span
				>
				<span ng-if="vm.valLoading" class="text-warning">
					<i class="mdi mdi-alert"></i> Loading validation issues...
				</span>
			</div>
		</div>
	</div>
</div>
