
.tree {
	max-height: 800px;
	overflow-y: auto;
	padding-bottom: 5px;
}

.tree-line {
	li > div{
	padding: $half-padding;
	}

	ol > li > ol {
		border-left: 1px dotted $gray-300;
	}

	 li > ol> li {
		margin-top: 10px;
		margin: 5px;
	}
}

.tab-heads {
	padding-left: $full-padding;

	li {
		display: inline-block;
	}
}
