$blue-500: #1976D2;
$blue-300: #64b5f6;
$blue-100: #BBDEFB;
$orange-400: #FFA726;
$gray-300: #E0E0E0;
$gray012: rgba(0,0,0,0.06);
$gray054: rgba(0,0,0,0.54);
$full-padding: 10px;
$half-padding: 3px;
$trasnition-timing: all 0.5s ease;