<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <facilities>
      <facility id="rhino.esb" >
        <bus threadCount="1"
             numberOfRetries="5"
             endpoint="rhino.queues://localhost:2202/raptor"
             name="raptor"
             />
        <messages>
          <add name="Teleopti.Interfaces.Messages"
               endpoint="rhino.queues://localhost:2202/raptor"/>
        </messages>
        <security>
          <key>f/gdDWbDqHRvpqdRbTs3mxhGdZh9qCaDrasxJGXl+5s=</key>
        </security>
      </facility>
    </facilities>
  </castle>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WithSession" openTimeout="00:02:00"
          sendTimeout="00:02:00" allowCookies="true" maxReceivedMessageSize="655360" receiveTimeout="00:30:00">
          <security mode="TransportCredentialOnly">
            <!--WISEMETA: clientCredentialType="[SDK_CRED_PROT]"-->
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="cookieManager" type="Teleopti.Ccc.Sdk.CookieManager.CookieManagerBehaviorExtension, Teleopti.Ccc.Sdk.CookieManager" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableCookieManager">
          <cookieManager />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--WISEMETA: address="[AGENT_SERVICE]"-->
      <endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" binding="basicHttpBinding" behaviorConfiguration="EnableCookieManager" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal" bindingConfiguration="BasicHttpBinding_WithSession"/>
    </client>
  </system.serviceModel>
</configuration>
