<plans-title-bar><i class="mdi mdi-calendar"></i>{{ 'Plans' | translate }}</plans-title-bar>

<div nz-row>
	<div nz-col [nzSpan]="8">
		<nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
			<input type="text" nz-input placeholder="{{'FilterPlanningGroups' | translate}}" [formControl]="filterControl" />
		</nz-input-group>

		<ng-template #prefixTemplate><i nz-icon type="filter"></i></ng-template>
		<ng-template #suffixTemplate
			><i nz-icon type="close-circle" (click)="clearFilter()" *ngIf="filterControl.value"></i
		></ng-template>
	</div>

	<div nz-col [nzSpan]="16">
		<button nz-button nzType="primary" (click)="createPlanningGroup()" class="pull-right">
			<i nz-icon type="plus"></i> {{ 'NewPlanningGroup' | translate }}
		</button>
	</div>
</div>

<nz-table
	#basicTable
	[nzData]="filteredPlanningGroups"
	[nzNoResult]="'NoPlanningGroupFound' | translate "
>
	<thead>
		<tr>
			<th nzShowSort [(nzSort)]="sortMap.Name" (nzSortChange)="sort('Name',$event)">{{ 'Name' | translate }}</th>
			<th nzShowSort [(nzSort)]="sortMap.AgentCount" (nzSortChange)="sort('AgentCount',$event)">{{ 'Agents' | translate }}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let group of basicTable.data">
			<td data-test-group-name>{{ group.Name }}</td>
			<td>{{ group.AgentCount }}</td>
			<td>
				<a (click)="viewPlanningPeriods(group)">{{ 'ViewPlanningPeriods' | translate }}</a>
				<nz-divider nzType="vertical"></nz-divider>
				<a (click)="editPlanningGroup(group)" data-test-edit-group>{{ 'EditPlanningGroup' | translate }}</a>
			</td>
		</tr>
	</tbody>
</nz-table>
