@using Teleopti.Ccc.UserTexts 
@{
	Layout = null;
}
<style>
	html, body, article#body, section#page, .mobile-teamschedule-view {
		height: 100%;
		cursor: pointer;
		overflow-x: hidden;
	}
	body {
		overflow: hidden;
		padding-top: 50px;
	}
	#body-inner{
		height: calc(100% - 21px);
	}
	ul li ul li.select2-result:nth-child(odd) {
		background: rgba(0, 0, 0, 0.1);
	}

	ul li ul li.select2-result.select2-highlighted {
		background: #5ACDF9;
	}
</style>
<div class="mobile-teamschedule-view">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-teamschedule-view-nav">
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" type="text" readonly="readonly" disabled="disabled" data-bind="value: displayDate"/>
						<span class="input-group-btn">
							<span class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<button class="btn btn-default" data-bind="click: nextDay">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="teamschedule-filter">
					<div class="teamschedule-filter-component">
						<select data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
							<optgroup data-bind="attr: { label: text }, foreach: children">
								<option data-bind="text: text, value: id"></option>
							</optgroup>
						</select>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="mobile-teamschedule-view-body container">
		<div class="mobile-timeline floatleft">
			<!-- xko foreach: timeLines -->
			<div class="mobile-timeline-label absolute">
			</div>
			<!-- /xko -->
		</div>
		
		<div class="my-schedule-column" >
			<div class="schedule-item">
				<div class="agent-name">
					<span> My </span>
				</div>
				<!-- xko if: mySchedule -->
				<div class="mobile-schedule-container relative" >
					<!-- xko foreach: mySchedule().layers -->
					<div class="mobile-schedule-layer absolute" >
						<div class="start-dashed-line"></div>
						<div class="end-dashed-line"></div>
						<p class="start-label-text">
							<i class="glyphicon glyphicon-remove"></i>
							<span ></span>
						</p>

						<i class="glyphicon glyphicon-resize-vertical"></i>
						<div class="original-place-of-layer"></div>
	
						<div >
							<strong xdata-bind="text: title()"></strong>
							<!-- xko if: hasMeeting -->
							<div class="meeting floatright">
								<i class="meeting-icon mr10">
									<i class="glyphicon glyphicon-user ml10"></i>
								</i>
							</div>
							<!-- /xko -->
							<span class="fullwidth displayblock"></span>
						</div>
						<div >
							<i class="glyphicon glyphicon-time"></i>
						</div>
					</div>
					<!-- /xko -->
				</div>
				<!-- /xko -->
			</div>
		</div>

		<div class="teammates-schedules-column" >
			<!-- xko foreach: teamSchedules -->
			<div class="schedule-item">
				<div class="agent-name">
					<span ></span>
				</div>
				<div class="mobile-schedule-container relative" >
						<!-- xko foreach: layers-->
						<div class="mobile-schedule-layer absolute">
							<div >
								<strong ></strong>
								<!-- xko if: hasMeeting -->
								<div class="meeting floatright">
									<i class="meeting-icon mr10">
										<i class="glyphicon glyphicon-user ml10"></i>
									</i>
								</div>
								<!-- /xko -->
								<span class="fullwidth displayblock" ></span>
							</div>
							<div >
								<i class="glyphicon glyphicon-time"></i>
							</div>
						</div>
						<!-- /xko -->
					<!-- /xko -->
				</div>
			</div>
			<!-- /xko -->
		</div>
	</div>
</div>