@using Teleopti.Ccc.UserTexts 
@{
	Layout = null;
}
<style>
	html, body, article#body, section#page, .mobile-teamschedule-view {
		height: 100%;
		cursor: pointer;
		overflow-x: hidden;
	}
	body {
		overflow: hidden;
		padding-top: 50px;
	}
	#body-inner{
		height: 100%;
	}
	ul li ul li.select2-result:nth-child(odd) {
		background: rgba(0, 0, 0, 0.1);
	}

	ul li ul li.select2-result.select2-highlighted {
		background: #5ACDF9;
	}
	.tooltip.top {
		margin: 0;
		min-width: 120px;
	}
	.mobile-foot {
		display: none !important;
	}
</style>
<div class="mobile-teamschedule-view">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-teamschedule-view-nav">
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" type="text" readonly="readonly" disabled="disabled" data-bind="value: displayDate"/>
						<span class="input-group-btn">
							<span class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<button class="btn btn-default" data-bind="click: nextDay">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="teamschedule-filter">
					<div class="teamschedule-filter-component">
						<select data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
							<optgroup data-bind="attr: { label: text }, foreach: children">
								<option data-bind="text: text, value: id"></option>
							</optgroup>
						</select>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="mobile-teamschedule-view-body container">
		<div class="mobile-timeline floatleft" data-bind="style: {height: scheduleContainerHeight + 'px'}">
			<!-- ko foreach: timeLines -->
			<div class="mobile-timeline-label absolute" data-bind="style: {top: topPosition}, text: timeText, visible: isHour">
			</div>
			<!-- /ko -->
		</div>

		<div class="my-schedule-column relative" data-bind="style: {height: scheduleContainerHeight + 'px'}">
			<!-- ko if: mySchedule -->
			<div class="agent-name" data-bind="tooltip: { title: mySchedule().name, trigger: 'click', placement: 'bottom'}, hideTooltipAfterMouseLeave: true">
				<span data-bind="text: mySchedule().name"></span>
			</div>
			<div class="mobile-schedule-container relative">
				<!-- ko foreach: mySchedule().layers -->
				<div class="mobile-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: 'click' }, style: styleJson, css:{'overtime-background-image-light': isOvertime, overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime, overTimeDarkerBackgroundStyle, 'last-layer': isLastLayer}, hideTooltipAfterMouseLeave: true">
					<div data-bind="visible: showTitle() && !isOvertimeAvailability()"></div>
					<strong data-bind="text: title()"></strong>
					<!-- ko if: hasMeeting -->
					<div class="meeting floatright">
						<i class="meeting-icon mr10">
							<i class="glyphicon glyphicon-user ml10"></i>
						</i>
					</div>
					<!-- /ko -->
					<span class="fullwidth displayblock" data-bind="visible: false && showDetail, text: timeSpan"></span>
				</div>
				<div data-bind="visible: false && showTitle() && isOvertimeAvailability()">
					<i class="glyphicon glyphicon-time"></i>
				</div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>

		<!-- ko if: teamSchedules -->
		<div class="teammates-schedules-container" data-bind="style: {height: scheduleContainerHeight + 'px'}">
			<!-- ko foreach: teamSchedules -->
			<div class="teammates-schedules-column relative">
				<div class="agent-name" data-bind="tooltip: { title: name, trigger: 'click', placement: 'bottom'}, hideTooltipAfterMouseLeave: true">
					<span data-bind="text: name"></span>
				</div>
				<div class="mobile-schedule-container relative">
					<!-- ko foreach: layers -->
					<div class="mobile-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: 'click' }, style: styleJson, css:{'overtime-background-image-light': isOvertime, overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime, overTimeDarkerBackgroundStyle, 'last-layer': isLastLayer}, hideTooltipAfterMouseLeave: true, adjustTooltipPositionOnMobileTeamSchedule: true">
						<div data-bind="visible: showTitle() && !isOvertimeAvailability()"></div>
						<strong data-bind="visible: false, text: title()"></strong>
						<!-- ko if: hasMeeting -->
						<div class="meeting floatright">
							<i class="meeting-icon mr10">
								<i class="glyphicon glyphicon-user ml10"></i>
							</i>
						</div>
						<!-- /ko -->
						<span class="fullwidth displayblock" data-bind="visible: false && showDetail, text: timeSpan"></span>
					</div>
					<div data-bind="visible: false && showTitle() && isOvertimeAvailability()">
						<i class="glyphicon glyphicon-time"></i>
					</div>
					<!-- /ko -->
				</div>
			</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->

		<!-- ko if: isPageVisible-->
		<ul class="pagination pagination-sm">
			<li>
				<a data-bind="click: goToPreviousPage, enable: isPreviousPageEnabled, css: {'paging-disabled': !isPreviousPageEnabled()}"><i class="glyphicon glyphicon-fast-backward"></i></a>
			</li>
			<li>
				<span data-bind="text: currentPageNum"></span>
				<span>/</span>
				<span data-bind="text: totalPageNum"></span>
			</li>
			<li>
				<a data-bind="click: goToNextPage, enable: isNextPageEnabled, css: {'paging-disabled': !isNextPageEnabled()}"><i class="glyphicon glyphicon-fast-forward"></i></a>
			</li>
		</ul>
		<!--/ko-->
	</div>
</div>