<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle"
				 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
	<castle>
		<facilities>
			<facility id="rhino.esb" >
				<bus threadCount="1"
					 numberOfRetries="5"
					 endpoint="rhino.queues://localhost:2202/absence_request"
					 name="raptor"
			 />
				<messages>
					<add name="Teleopti.Interfaces.Messages"
						 endpoint="rhino.queues://localhost:2202/absence_request"/>
				</messages>
				<security>
					<key>f/gdDWbDqHRvpqdRbTs3mxhGdZh9qCaDrasxJGXl+5s=</key>
				</security>
			</facility>
		</facilities>
	</castle>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_WithSession" openTimeout="00:02:00"
				  sendTimeout="00:02:00" allowCookies="true" maxReceivedMessageSize="655360" receiveTimeout="00:30:00">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:1335/TeleoptiCccSdkService.svc" binding="basicHttpBinding" contract="Teleopti.Ccc.Sdk.Common.Contracts.ITeleoptiCccSdkInternal" bindingConfiguration="BasicHttpBinding_WithSession"/>
		</client>
	</system.serviceModel>
</configuration>
