.skill-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.heatmap-head-weekend {
	color: rgba(255, 165, 0, 0.8);
}

.heatmap-saturday {
	border-left: solid rgba(255, 165, 0, 0.8);
	border-width: thin;
}

.heatmap-sunday {
	border-right: solid rgba(255, 165, 0, 0.8);
	border-width: thin;
}

.legend{
	margin-top: 20px;
	margin-left: 20px;
}

.legend-box {
	width: 10px;
	height: 10px;
	text-align: center;
	position: relative;
}

.heatmap-div {
	overflow: auto;
	width: fit-content;

	.worst-under-staff-day {
		background-color: rgba(255, 0, 0, 1);
	}
	
	.worst-over-staff-day {
		background-color: rgba(0, 0, 255, 1);
	}
}

.heatmap-closed {
	background: repeating-linear-gradient(-45deg,
					rgba(0, 0, 0, 0.2) 0 2px,
					rgba(0, 0, 0, 0.4) 4px 4px);
}

.heatmap-date-header{
	padding: 0 !important;
}

.heatmap-month{
	text-align: center;
	margin: 2px;
}

.heatmap-date{
	width: 22px;
	height: 22px;
	text-align: center;
	margin: 2px;
}

.heatmap-box {
	width: 22px;
	height: 22px;
	text-align: center;
	margin: 2px;
	cursor: pointer;
	position: relative;
}

.heatmap-box:hover {
	outline: 3px rgba(0, 0, 0, 0.54) solid;
}

.heatmap-box.selected {
	outline: 3px rgba(0, 0, 0, 0.54) solid;
}
.heatmap-box.critical::before,
.heatmap-box.critical::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 4px;
}

.heatmap-box.critical::after {
	border-left-color: #ff0000;
	border-top-color: #ff0000;
}

.heatmap-day{
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0 !important;
}

[nz-button] {
	margin-right: 8px;
}


nz-spin {
	display: inline-block !important;
	vertical-align: middle;
}