

table.overview {
	table-layout: fixed;
	width: auto;
	margin-top: 25px;
}

.overview {
	border-collapse: separate;
	padding: 5px;
	margin-bottom: 35px;
	width: 100%;
	empty-cells: show;

	td {
		width: 10px;
	}
	th {
		visibility: hidden;
		width: 10px;
	}
	th:nth-child(2n) {
		visibility: visible !important;
	}
}

.skill-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 1px !important;
	padding-top: 1px !important;
}

.long {
	letter-spacing: 1em;
}

.heatmap-head-weekend {
	color: rgba(255, 165, 0, 0.8);
}

.heatmap-saturday {
	border-left: solid rgba(255, 165, 0, 0.8);
	border-width: thin;
}

.heatmap-sunday {
	border-right: solid rgba(255, 165, 0, 0.8);
	border-width: thin;
}

.legend{
	margin-top: 20px;
	margin-left: 20px;
}

.legend-box {
	width: 10px;
	height: 10px;
	text-align: center;
	position: relative;
}

.heatmap-div {
	width: auto;
	overflow: auto;

	.worst-under-staff-day {
		background-color: rgba(255, 0, 0, 0.5);
	}
	
	.worst-over-staff-day {
		background-color: rgba(0, 0, 255, 0.5);
	}
}

.heatmap-closed {
	background: repeating-linear-gradient(-45deg,
					rgba(0, 0, 0, 0.2) 0 2px,
					rgba(0, 0, 0, 0.4) 4px 4px);
}

.heatmap-date-header{
	padding: 1px !important;
}

.heatmap-month{
	text-align: center;
	margin: 2px;
}

.heatmap-date{
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 2px;
}

.heatmap-box {
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 2px;
	cursor: pointer;
}

.heatmap-box:hover {
	outline: 3px rgba(0, 0, 0, 0.54) solid;
}

.heatmap-day{
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1px !important;
}

[nz-button] {
	margin-right: 8px;
}
