<plans-title-bar>
	<i class="mdi mdi-calendar"></i><a href="#/resourceplanner">{{ 'Plans' | translate }}</a> /
	<a href="#/resourceplanner/planninggroup/{{ groupId }}/selectplanningperiod">{{ planningGroupInfo.Name }}</a>
	/ {{ planningPeriodInfo.StartDate | amDateFormat:"LL"}} - {{ planningPeriodInfo.EndDate | amDateFormat:"LL"}}
</plans-title-bar>

<div nz-row>
	<nz-spin [nzTip]="status" [nzSpinning]="isDisabled()">
		<button class="schedule-button" nz-button nzType="default" (click)="launchSchedule()">{{ 'ScheduleVerb' | translate }}</button>
		<button class="intraday-optimization-button" nz-button nzType="default" (click)="optimizeIntraday()">{{ 'IntraOptimize' | translate }}</button>
		<button nz-button nzType="default" (click)="clearSchedule()">
			{{ 'ClearScheduleResultAndHistoryData' | translate }}
		</button>
		<button nz-button nzType="default" (click)="publishSchedule()">{{ 'PublishSchedulePlans' | translate }}</button>
		<button class="pull-right" nz-button nzType="default" (click)="editPlanningGroup()">
			{{ 'PlanGroupScheduling' | translate }}
		</button>
	</nz-spin>

	<nz-tabset>
		<nz-tab nzTitle="{{ 'Overview' | translate }}">
			<nz-spin nzSize="large" [nzSpinning]="loadingLastResult">
				<div nz-row style="margin-bottom: 15px">
					<div class="wfm-chip-wrap">
						<span class="wfm-chip" style="cursor: default">
							<span class="scheduled-agents chip-handle"> {{ scheduledAgents }}/{{ totalAgents }} </span>
							<span class="chip-text">{{ 'ScheduledAgents' | translate }}</span>
						</span>
					</div>
				</div>
	
				<div style="overflow: auto">
					<h2>Scheduled skills heatmap</h2>
					<div>Updated: {{lastUpdated}}</div>
		
					<div nz-row style="margin-top: 10px">
						<span nz-col [nzSpan]="8">
							<nz-input-group
									[nzSuffix]="suffixSkillMapTemplate"
									[nzPrefix]="prefixSkillMapTemplate"
							>
								<input
										type="text"
										nz-input
										placeholder="Filter skill"
										[formControl]="skillFilterControl"
								/>
							</nz-input-group>
			
							<ng-template #prefixSkillMapTemplate><i nz-icon type="filter"></i></ng-template>
							<ng-template #suffixSkillMapTemplate><i
									nz-icon
									type="close-circle"
									(click)="clearSkillMapFilter()"
									*ngIf="skillFilterControl.value"
							></i
							></ng-template>
						</span>
					</div>
					
					<div class="legend" style="margin-bottom: 5px">
						<table>
							<tbody>
							<tr>
								<td colspan="43" style="text-align: center">{{ 'RelativeDifference' | translate }}</td>
							</tr>
							<tr >
								<td>-100%</td>
								<td *ngFor="let legend of legends">
									<div class="legend-box" [style.background-color]="legend.bgcolor"></div>
								</td>
								<td>100%</td>
								<td style="padding-left:20px"><div class="legend-box heatmap-closed"></div></td>
								<td style="padding-left: 5px">
									{{'Closed' | translate}}
								</td>
								<td style="padding-left:100px" colspan="20">
										{{ 'ShowNumbers' | translate}}
													<nz-switch [(ngModel)]="showNumbers"></nz-switch>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					
					<div class="heatmap-div" *ngIf="filteredSkills&&filteredSkills.length>0">
						<nz-table nzSize="small"
								  [nzPageSize]="20" [nzHideOnSinglePage]="true" #nzTable [nzData]="filteredSkills">
							<thead>
								<tr>
									<th></th>
									<th *ngFor ="let month of months" [attr.colspan]="month.Count">
										<p class="heatmap-month">{{ month.Name }}</p>
									</th>
								</tr>
								<tr>
									<th nzShowSort [(nzSort)]="sortMap.SkillName" (nzSortChange)="sort('SkillName',$event)">{{ 'Skill' | translate }}</th>
									<th class="heatmap-date-header" *ngFor ="let datenode of nzTable.data[0].SkillDetails">
										<p class="heatmap-date" [ngClass]="{'heatmap-head-weekend': datenode.weekend}">{{datenode.Date | amDateFormat:"D"}}</p>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let subnode of nzTable.data">
									<td class="skill-name">{{ subnode.SkillName }}</td>
									<td class="heatmap-day"
										*ngFor="let node of subnode.SkillDetails"
										[ngClass]="{ 
										'worst-under-staff-day': worstUnderStaffDay.RelativeDifferencePercent == node.RelativeDifferencePercent, 
										'worst-over-staff-day': worstOverStaffDay.RelativeDifferencePercent == node.RelativeDifferencePercent,
										'heatmap-saturday': node.saturday, 
										'heatmap-sunday': node.sunday
										 }"
									>
										<div nz-tooltip nzTitle="{{node.tooltip}}"
											class="heatmap-box"
											[ngClass]="{ 'heatmap-closed': node.ColorId===4, 'selected':node.selected}"
											[style.background-color]="node.bgcolor" (click)="updateIntradayDetails(node, subnode.SkillName)"
										>
											<span *ngIf="showNumbers" style="font-size: xx-small" [style.color]="node.fontcolor">
												{{node.DisplayedPercent}}
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</nz-table>
					</div>
				</div>
				<div *ngIf="selectedDay" style="margin-top: 10px;">
					<plans-intraday [chartData]="selectedDay" [skill]="selectedSkill"></plans-intraday>
				</div>
			</nz-spin>
		</nz-tab>
		<nz-tab [nzTitle]="titleTemplate">
			<ng-template #titleTemplate>
				{{ 'Validations' | translate }}
				<nz-spin nzSize="small" [nzSpinning]="loadingValidations">
					<nz-badge [nzCount]="valData.totalValNum" *ngIf="!loadingValidations"></nz-badge>
				</nz-spin>
			</ng-template>
			<div *ngIf="valData.totalValNum !== 0">
				<nz-collapse>
					<nz-collapse-panel [nzHeader]="preValidationsTitle">
						<ng-template #preValidationsTitle>
							<div nz-row>
								<span nz-col [nzSpan]="12">{{ 'PreSchedulingValidationIssues' | translate }}</span>
								<span nz-col [nzSpan]="4">
									<ng-template #indicatorTemplate
									><i nz-icon type="loading" style="font-size: 24px;"></i
									></ng-template>
									<nz-spin [nzIndicator]="indicatorTemplate" [nzSpinning]="loadingValidations">
										{{ valData.totalPreValNum }} {{ 'IssuesText' | translate }}
										<button
												nz-button
												nzType="default"
												nzShape="circle"
												(click)="loadValidations(); $event.stopPropagation()"
										>
											<i nz-icon type="reload"></i>
										</button>
									</nz-spin>
								</span>
								<span nz-col [nzSpan]="8"> </span>
							</div>
						</ng-template>
						<div *ngIf="filteredPreValidations && filteredPreValidations.length>0">
							<div nz-row style="padding-bottom: 5px">
								<div nz-col [nzSpan]="8">
									<nz-input-group
											[nzSuffix]="suffixPreValidationTemplate"
											[nzPrefix]="prefixPreValidationTemplate"
									>
										<input
												type="text"
												nz-input
												placeholder="Filter"
												[formControl]="preValidationFilterControl"
										/>
									</nz-input-group>

									<ng-template #prefixPreValidationTemplate><i nz-icon type="filter"></i></ng-template>
									<ng-template #suffixPreValidationTemplate
									><i
											nz-icon
											type="close-circle"
											(click)="clearPreValidationFilter()"
											*ngIf="preValidationFilterControl.value"
									></i
									></ng-template>
								</div>
							</div>
							<nz-table #preValidationTable nzSize="small" nzFrontPagination="false" nzShowPagination="false" [nzData]="filteredPreValidations">
								<thead>
								<tr>
									<th>{{ 'Resource' | translate }}</th>
									<th>{{ 'Area' | translate }}</th>
									<th>{{ 'Description' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let msg of preValidationTable.data">
									<td class="data-test-pre-validation">{{ msg.ResourceName }}</td>
									<td>
										<div *ngFor="let item of msg.ValidationErrors">
											{{ item.ResourceType | translate }}
										</div>
									</td>
									<td>
										<div *ngFor="let item of msg.ValidationErrors">
											{{ item.ErrorMessageLocalized }}
										</div>
									</td>
								</tr>
								</tbody>
							</nz-table>
						</div>
						
					</nz-collapse-panel>
					<nz-collapse-panel [nzHeader]="scheduleIssuesTitle" *ngIf="filteredScheduleIssues && filteredScheduleIssues.length>0">
						<ng-template #scheduleIssuesTitle>
							<div nz-row>
								<span nz-col [nzSpan]="12">{{ 'ScheduledIssues' | translate }}</span>
								<span nz-col [nzSpan]="12"
								>{{ valData.totalLastValNum }} {{ 'IssuesText' | translate }}</span
								>
							</div>
						</ng-template>
						<div nz-row style="padding-bottom: 5px">
							<div nz-col [nzSpan]="8">
								<nz-input-group
									[nzSuffix]="suffixScheduleIssuesTemplate"
									[nzPrefix]="prefixScheduleIssuesTemplate"
								>
									<input
										type="text"
										nz-input
										placeholder="Filter"
										[formControl]="scheduleIssuesFilterControl"
									/>
								</nz-input-group>

								<ng-template #prefixScheduleIssuesTemplate><i nz-icon type="filter"></i></ng-template>
								<ng-template #suffixScheduleIssuesTemplate
									><i
										nz-icon
										type="close-circle"
										(click)="clearScheduleIssuesFilter()"
										*ngIf="scheduleIssuesFilterControl.value"
									></i
								></ng-template>
							</div>
						</div>
						<nz-table  #scheduleIssuesTable nzSize="small" nzFrontPagination="false" nzShowPagination="false" [nzData]="filteredScheduleIssues">
							<thead>
								<tr>
									<th>{{ 'Resource' | translate }}</th>
									<th>{{ 'Area' | translate }}</th>
									<th>{{ 'Description' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let msg of scheduleIssuesTable.data">
									<td class="data-test-schedule-issue">{{ msg.ResourceName }}</td>
									<td>
										<div *ngFor="let item of msg.ValidationErrors">
											{{ item.ResourceType | translate }}
										</div>
									</td>
									<td>
										<div *ngFor="let item of msg.ValidationErrors">
											{{ item.ErrorMessageLocalized }}
										</div>
									</td>
								</tr>
							</tbody>
						</nz-table>
					</nz-collapse-panel>
				</nz-collapse>
			</div>
			<div nz-row *ngIf="valData.totalValNum === 0">
				<div>
					<div nz-row class="panel">
						<div class="con-flex">
							<span *ngIf="!loadingValidations">
								<i class="mdi mdi-information-outline"></i> {{ 'NoValidIssuesForPp' | translate }}</span
							>
							<span *ngIf="loadingValidations" class="text-warning">
								<i class="mdi mdi-alert"></i> Loading validation issues...
							</span>
						</div>
					</div>
				</div>
			</div>
		</nz-tab>
	</nz-tabset>
</div>
