<plans-title-bar>
	<i class="mdi mdi-calendar"></i><a href="#/resourceplanner">{{ 'Plans' | translate }}</a> /
	<a href="#/resourceplanner/planninggroup/{{ groupId }}/selectplanningperiod">{{ planningGroupInfo.Name }}</a>
	/ {{ planningPeriodInfo.StartDate | amDateFormat:"LL"}} - {{ planningPeriodInfo.EndDate | amDateFormat:"LL"}}
</plans-title-bar>

<div nz-row>
	<nz-spin [nzTip]="status" [nzSpinning]="isDisabled()">
		<button nz-button nzType="default" (click)="launchSchedule()">{{ 'ScheduleVerb' | translate }}</button>
		<button nz-button nzType="default" (click)="optimizeIntraday()">{{ 'IntraOptimize' | translate }}</button>
		<button nz-button nzType="default" (click)="clearSchedule()">
			{{ 'ClearScheduleResultAndHistoryData' | translate }}
		</button>
		<button nz-button nzType="default" (click)="publishSchedule()">{{ 'PublishSchedulePlans' | translate }}</button>
		<button class="pull-right" nz-button nzType="default" (click)="editPlanningGroup()">
			{{ 'PlanGroupScheduling' | translate }}
		</button>
	</nz-spin>

	<nz-tabset>
		<nz-tab nzTitle="{{ 'Overview' | translate }}">
			<div nz-row>
				<div class="wfm-chip-wrap">
					<span class="wfm-chip">
						<span class="chip-handle"> {{ scheduledAgents }}/{{ totalAgents }} </span>
						<span class="chip-text">{{ 'ScheduledAgents' | translate }}</span>
					</span>
				</div>
			</div>

			<h2>Scheduled skills heatmap</h2>

			<div nz-row>
				<span nz-col [nzSpan]="8">
					<nz-input-group
							[nzSuffix]="suffixSkillMapTemplate"
							[nzPrefix]="prefixSkillMapTemplate"
					>
						<input
								type="text"
								nz-input
								placeholder="Filter skill"
								[formControl]="skillFilterControl"
						/>
					</nz-input-group>
	
					<ng-template #prefixSkillMapTemplate><i nz-icon type="filter"></i></ng-template>
					<ng-template #suffixSkillMapTemplate><i
							nz-icon
							type="close-circle"
							(click)="clearSkillMapFilter()"
							*ngIf="skillFilterControl.value"
					></i
					></ng-template>
				</span>
			</div>
			
			<div class="legend">
				<table>
					<tbody>
					<tr >
						<td>-100%</td>
						<td *ngFor="let legend of legends">
							<div class="legend-box" [style.background-color]="legend.bgcolor"></div>
						</td>
						<td>100%</td>
						<td style="padding-left:20px">{{'Closed' | translate}}:</td>
						<td>
							<div class="legend-box heatmap-closed"></div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			
			<div class="heatmap-div" *ngIf="filteredSkills&&filteredSkills.length>0">
				<table>
					<thead>
						<tr>
							<th></th>
							<th *ngFor ="let month of months" [attr.colspan]="month.Count">
								<p class="heatmap-date-header">{{ month.Name }}</p>
							</th>
						</tr>
						<tr>
							<th></th>
							<th *ngFor ="let datenode of filteredSkills[0].SkillDetails">
								<p class="heatmap-date-header" [ngClass]="{'heatmap-weekend': datenode.weekend}">{{datenode.Date | amDateFormat:"D"}}</p>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let subnode of filteredSkills">
							<td class="skill-name">{{ subnode.SkillName }}</td>
							<td class="heatmap-day"
								*ngFor="let node of subnode.SkillDetails"
								[ngClass]="{ 'worst-under-staff-day': worstUnderStaffDay.RelativeDifferencePercent == node.RelativeDifferencePercent, 'worst-over-staff-day': worstOverStaffDay.RelativeDifferencePercent == node.RelativeDifferencePercent }"
							>
								<div nz-tooltip nzTitle="{{'RelativeDifference' | translate}}: {{node.RelativeDifferencePercent}}% | {{subnode.SkillName}} | {{node.Date | amDateFormat:'L'}}"
									class="heatmap-box"
									[ngClass]="{ 'heatmap-closed': node.ColorId==4}"
									[style.background-color]="node.bgcolor"
								></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</nz-tab>
		<nz-tab [nzTitle]="titleTemplate">
			<ng-template #titleTemplate>
				{{ 'Validations' | translate }}<nz-badge [nzCount]="valData.totalValNum"></nz-badge>
			</ng-template>
			<div *ngIf="valData.totalValNum !== 0">
				<nz-collapse>
					<nz-collapse-panel [nzHeader]="preValidationsTitle">
						<ng-template #preValidationsTitle>
							<div nz-row>
								<span nz-col [nzSpan]="12">{{ 'PreSchedulingValidationIssues' | translate }}</span>
								<span nz-col [nzSpan]="4">
									<ng-template #indicatorTemplate
										><i nz-icon type="loading" style="font-size: 24px;"></i
									></ng-template>
									<nz-spin [nzIndicator]="indicatorTemplate" [nzSpinning]="valLoading">
										{{ valData.totalPreValNum }} {{ 'IssuesText' | translate }}
										<button
											nz-button
											nzType="default"
											nzShape="circle"
											(click)="loadValidations(); $event.stopPropagation()"
										>
											<i nz-icon type="reload"></i>
										</button>
									</nz-spin>
								</span>
								<span nz-col [nzSpan]="8"> </span>
							</div>
						</ng-template>
						<div nz-row style="padding-bottom: 5px">
							<div nz-col [nzSpan]="8">
								<nz-input-group
									[nzSuffix]="suffixPreValidationTemplate"
									[nzPrefix]="prefixPreValidationTemplate"
								>
									<input
										type="text"
										nz-input
										placeholder="Filter"
										[formControl]="preValidationFilterControl"
									/>
								</nz-input-group>

								<ng-template #prefixPreValidationTemplate><i nz-icon type="filter"></i></ng-template>
								<ng-template #suffixPreValidationTemplate
									><i
										nz-icon
										type="close-circle"
										(click)="clearPreValidationFilter()"
										*ngIf="preValidationFilterControl.value"
									></i
								></ng-template>
							</div>
						</div>
						<div nz-row>
							<table class="wfm-table">
								<thead>
									<tr>
										<th>{{ 'Resource' | translate }}</th>
										<th>{{ 'Area' | translate }}</th>
										<th>{{ 'Description' | translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let msg of filteredPreValidations">
										<td>{{ msg.ResourceName }}</td>
										<td>
											<div *ngFor="let item of msg.ValidationErrors">
												{{ item.ResourceType | translate }}
											</div>
										</td>
										<td>
											<div *ngFor="let item of msg.ValidationErrors">
												{{ item.ErrorMessageLocalized }}
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</nz-collapse-panel>
					<nz-collapse-panel [nzHeader]="scheduleIssuesTitle">
						<ng-template #scheduleIssuesTitle>
							<div nz-row>
								<span nz-col [nzSpan]="12">{{ 'ScheduledIssues' | translate }}</span>
								<span nz-col [nzSpan]="12"
									>{{ valData.totalLastValNum }} {{ 'IssuesText' | translate }}</span
								>
							</div>
						</ng-template>
						<div nz-row style="padding-bottom: 5px">
							<div nz-col [nzSpan]="8">
								<nz-input-group
									[nzSuffix]="suffixScheduleIssuesTemplate"
									[nzPrefix]="prefixScheduleIssuesTemplate"
								>
									<input
										type="text"
										nz-input
										placeholder="Filter"
										[formControl]="scheduleIssuesFilterControl"
									/>
								</nz-input-group>

								<ng-template #prefixScheduleIssuesTemplate><i nz-icon type="filter"></i></ng-template>
								<ng-template #suffixScheduleIssuesTemplate
									><i
										nz-icon
										type="close-circle"
										(click)="clearScheduleIssuesFilter()"
										*ngIf="scheduleIssuesFilterControl.value"
									></i
								></ng-template>
							</div>
						</div>
						<div nz-row>
							<table class="wfm-table">
								<thead>
									<tr>
										<th>{{ 'Resource' | translate }}</th>
										<th>{{ 'Area' | translate }}</th>
										<th>{{ 'Description' | translate }}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let msg of filteredScheduleIssues">
										<td>{{ msg.ResourceName }}</td>
										<td>
											<div *ngFor="let item of msg.ValidationErrors">
												{{ item.ResourceType | translate }}
											</div>
										</td>
										<td>
											<div *ngFor="let item of msg.ValidationErrors">
												{{ item.ErrorMessageLocalized }}
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</nz-collapse-panel>
				</nz-collapse>
			</div>
			<div nz-row *ngIf="valData.totalValNum === 0">
				<div>
					<div nz-row class="panel">
						<div class="con-flex">
							<span *ngIf="!valLoading">
								<i class="mdi mdi-information-outline"></i> {{ 'NoValidIssuesForPp' | translate }}</span
							>
							<span *ngIf="valLoading" class="text-warning">
								<i class="mdi mdi-alert"></i> Loading validation issues...
							</span>
						</div>
					</div>
				</div>
			</div>
		</nz-tab>
	</nz-tabset>
</div>
