
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
</head>
<body>
<div style="font-family: Segoe UI;font-size: 18px; text-align: center">
	<p style="color: red; font-size: 24px;font-weight: bold"> Warning</p>
	It seems like there are no administrators to handle Tenants on the Tenant Administration site.
	<br />
	All Tenants has been deactivated because of that and no one can log on to the system.
	<br/>
	Please browse there to add at least one Administrator.

	<br/>
	Make sure you remember the credentials for the administrators you add. You will need them the next time you need to access that site.

</div>
</body>
</html>
