<section>
	<div class="con-row">
		<div class="con-flex">
			<div class="pull-left">
				<h1><i class="mdi mdi-chart-line"></i>{{'Forecasts' | translate}}</h1>
			</div>
			<div class="con-flex">
				<div class="pull-right">
					<ng2-feedback-message [feedback-type]="'newRelease'" [component-name]="'Forecasts' | translate"></ng2-feedback-message>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="material-depth-1 full-padding align-row-center con-row">
		<div class="con-flex">
			<label for="SkillFilter" class="input-icon">
				<i class="mdi mdi-filter-outline">
					<input type="text" id="SkillFilter" ng-model="filter.Workload.Name" placeholder="{{'FilterThreeDots' | translate}}">
					<md-tooltip>{{'Filter' | translate}}</md-tooltip>
				</i>
			</label>
		</div>
		<div class="con-flex">
			<a ui-sref="forecast-create-skill" class="wfm-btn wfm-btn-invis-default wfm-btn-forecast" ng-cloak>
				<i class="mdi mdi-plus"></i>{{'NewSkill' | translate}}
			</a>
		</div>

		<div class="con-flex">
			<div class="pull-right">
				<md-select ng-model="filter.SkillType.SkillType" placeholder="{{'SkillTypeFilter' | translate }}">
					<md-option ng-value="">{{'AllSelection' | translate}}</md-option>
					<md-option ng-repeat="item in vm.skilltypes" ng-value="item">{{item | translate}}</md-option>
				</md-select>
				<md-tooltip>{{'SkillTypeFilter' | translate }}</md-tooltip>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="con-row">
		<div class="con-flex">
			<div class="con-fluid-row">
				<div class="con-fluid-flex" ng-repeat="skill in vm.skills | filter:filter | orderBy : Workload.Name">
					<div class="card panel material-depth-1">
						<div class="sub-header">
							<h2 class="">
								<i ng-class="vm.getSkillIcon(skill.SkillType)">
									<md-tooltip>
										<span ng-if="skill.SkillType.DoDisplayData">{{skill.SkillType.SkillType | translate}}</span>
										<span ng-if="!skill.SkillType.DoDisplayData">{{'UnsupportedSkill' | translate}}</span>
									</md-tooltip>
								</i>
								<span class="overflow-wrap-forecast">{{skill.Workload.Name}}</span>
							</h2>
						</div>
						<div class="card-footer con-row">
							<span class="con-flex line-right card-footer-section">
								<button ng-if="vm.showHistory" class="wfm-btn wfm-btn-invis-primary" ng-click="vm.goToHistory(skill)">{{'OpenHistoricalData' | translate}}</button>
								<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.goToModify(skill)">{{'Open' | translate}}</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>