<section>
	<div ng-if="vm.workloadFound">
		<div class="view-header">
			<div class="view-title">
				<h1>
					<i ng-class="vm.getSkillIcon(vm.selectedWorkload.SkillType)">
						<md-tooltip>
							<span ng-if="vm.selectedWorkload.SkillType.DoDisplayData">{{vm.selectedWorkload.SkillType.SkillType | translate}}</span>
							<span ng-if="!vm.selectedWorkload.SkillType.DoDisplayData">{{'UnsupportedSkill' | translate}}</span>
						</md-tooltip>
					</i>
					<span>{{'HistoricalData' | translate}} - {{vm.selectedWorkload.Workload.Name}}</span>
				</h1>
			</div>
		</div>

		<div class="con-row" ng-if="vm.isLoadingHistoryData">
			<div class="con-flex">
				<div class="panel full-padding">
					<div>
						<md-progress-linear md-mode="indeterminate"></md-progress-linear>
					</div>
				</div>
			</div>
		</div>

		<div class="con-row">
			<div class="con-flex">
				<div class="panel">
					<div class="con-row" ng-if="vm.historyData.length > 0">
						<div class="con-flex">
							<forecast-history-chart chart-id="vm.selectedWorkload.ChartId"
													selectable="vm.selectedWorkload.SkillType.DoDisplayData"
													days="vm.historyData">
							</forecast-history-chart>
						</div>
					</div>
					<div class="con-row" ng-if="vm.historyData.length === 0">
						<div class="con-flex">
							<h2>{{'NoHistoricalDataFoundForThisSkill'|translate}}</h2>
						</div>
					</div>
					<div class="con-footer">
						<button class="wfm-btn wfm-btn-invis-primary" ui-sref="forecast">
							{{'Ok' | translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-cloak ng-if="!vm.workloadFound">
		<div class="view-header">
			<div class="view-title">
				<h1>{{'HistoricalData' | translate}}</h1>
			</div>
		</div>
		<div class="con-flex">
			<div class="panel">
				<div class="con-row">
					<div class="con-flex">
						<h2>{{'PleaseSelectASkillFirst'|translate}}</h2>
					</div>
				</div>
				<div class="con-footer">
					<button class="wfm-btn wfm-btn-invis-primary" ui-sref="forecast">
						{{'Ok' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</section>