<people-page-container>
  <div class="sub-header">
    <div class="con-row">
      <div class="con-flex">
        <label for="filter" class="input-icon">
          <i class="mdi mdi-magnify">
            <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" data-test-searchinput>
          </i>
        </label>
      </div>
      <div class="con-flex x3">
        <button mat-raised-button color="primary" data-test-grant-button [disabled]="!workspaceService.isAnySelected()" (click)="nav.navToGrant()">
          <i class="mdi mdi-plus"></i> Grant role</button>
        <button mat-raised-button color="primary" data-test-revoke-button [disabled]="!workspaceService.isAnySelected()" (click)="nav.navToRevoke()">
          <i class="mdi mdi-close"></i>Revoke role</button>
      </div>
    </div>
  </div>
  <div class="con-row">
    <div class="con-flex">
      <mat-table #table [dataSource]="dataSource" matSort data-test-search>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox>
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleSelectedPerson(row.Id) : null" [checked]="workspaceService.isPersonSelected(row.Id)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FirstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
          <mat-cell *matCellDef="let person" data-test-person-firstname> {{person.FirstName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="LastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
          <mat-cell *matCellDef="let person" data-test-person-lastname> {{person.LastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Roles">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
          <mat-cell *matCellDef="let person" data-test-person-role> {{personToRoles(person)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Site">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
          <mat-cell *matCellDef="let person" data-test-person-site> {{person.Site}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Team">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
          <mat-cell *matCellDef="let person" data-test-person-team> {{person.Team}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" data-test-person>
        </mat-row>
      </mat-table>
      <mat-paginator [length]="pagination.length" [pageIndex]="searchService.pageIndex" [pageSize]="searchService.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
        (page)="paginationChanged($event)">
      </mat-paginator>
    </div>
  </div>
</people-page-container>