<div ui-view>
	<div ng-show="vm.showProgress">
		<md-progress-linear md-mode="determinate" ng-value="vm.tracking.progress"></md-progress-linear>
		<p> {{vm.tracking.progress | number:0}}%</p>
	</div>

	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1><i class="mdi mdi-calendar"></i> {{'ArchiveSchedule' | translate}}</h1>
			<p translate>ArchiveSchedule</p>
		</div>

		<div class="fab-wrapper">
			<button id="archive-btn" class="wfm-fab material-depth-1" ng-click="vm.runArchiving(vm.selection.fromScenario, vm.selection.toScenario, vm.selection.period, vm.selection.teams)" ng-disabled="!vm.canRunArchiving()">
				<i class="mdi mdi-file-document"></i>
				<md-tooltip>Run archiving</md-tooltip>
			</button>
		</div>
	</div>
	<div class="panel material-depth-1">
		<div class="con-row">
			<div class="con-flex">
				<form>
					<label>From Scenario:</label>
					<md-select class="inline-select" ng-model="vm.selection.fromScenario" placeholder="Scenario">
						<md-option ng-repeat="scenario in vm.scenarios | defaultScenario:true" ng-value="scenario" ng-disabled="true">{{scenario.Name}}</md-option>
					</md-select>
				</form>
			</div>

			<div class="con-flex">
				<form>
					<label>To Scenario:</label>
					<md-select class="inline-select" ng-model="vm.selection.toScenario" placeholder="Scenario">
						<md-option ng-repeat="scenario in vm.scenarios | defaultScenario:false" ng-value="scenario">{{scenario.Name}}</md-option>
					</md-select>
				</form>
			</div>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<date-range-picker class="request-date-range-picker" ng-model="vm.selection.period" template-type="vm.dateRangeTemplateType">
				</date-range-picker>
			</div>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<div class="data-container full-padding flex-element-fill flex-column" ng-include="'app/resourceplanner/archiveschedule-businesshierarchy.html'" ng-controller="HierarchyController"></div>
			</div>
		</div>
	</div>
</div>