<div class="con-row flex-element">
	<div class="con-flex">
		<label for="HierarchyDataFilter" class="input-prepend">
			<i class="mdi mdi-filter-outline"></i>
			<input type="text" id="HierarchyDataFilter" name="filterDetails" ng-model="searchData" placeholder="{{'DataFilterThreeDots' | translate}}" />
		</label>
	</div>
</div>

<div class="flex-relative-element hierarchy-tree-container">
	<div class="tree hierarchy-tree flex-absolute-child">
		<div ui-tree data-drag-enabled="false">
			<ol ui-tree-nodes="" ng-model="organization.BusinessUnit" id="tree-root">
				<li ng-repeat="node in organization.BusinessUnit | nameFilter: searchData" ui-tree-node ng-include="'nodes_bu_renderer.html'"></li>
			</ol>
		</div>
	</div>
</div>



<!-- Nested node template for data -->
<script type="text/ng-template" id="nodes_bu_renderer.html">
	<ul class="wfm-list">
		<li ng-click="toggleOrganizationSelection(this)" ng-class="{dataHeader: node.ChildNodes.length > 0}">
			<span class="list-item-container">
				{{node.Name}}
			</span>
			<span ng-cloak ng-show="node.selected" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
		</li>
	</ul>

	<div ui-tree-nodes="" ng-model="node.ChildNodes" class="padding-reset hierarchy-teams">
		<div ng-repeat="node in node.ChildNodes | nameFilter: searchData"
			 ui-tree-node ng-include="'nodes_bu_renderer.html'">
		</div>
	</div>
</script>
