<div class="con-row">
    <div class="con-flex">
        <md-autocomplete 
        ng-attr-skillsLoaded="{{$ctrl.skillsLoaded}}"
        md-min-length="0"
        md-selected-item="$ctrl.selectedSkill" 
        md-selected-item-change="$ctrl.selectSkill(skill)" 
        md-search-text="skillFilterText.Name" 
        md-items="skill in $ctrl.skills | filter:skillFilterText"
        md-item-text="skill.Name"
        placeholder="{{'SelectSkill' | translate}}">
            <md-item-template>
                <span ng-bind="skill.Name"></span>
            </md-item-template>
            <md-not-found ng-cloak>
                {{'RepViewerNoMoreMatches'|translate}}
            </md-not-found>
        </md-autocomplete>
    </div>
    <div class="con-flex">
        <md-autocomplete 
        ng-attr-skillAreasLoaded="{{$ctrl.skillAreasLoaded}}"
		md-min-length="0" 
		md-input-id="skill-area-input"		
        md-selected-item="$ctrl.selectedSkillArea" 
        md-selected-item-change="$ctrl.selectSkillArea(skillArea)" 
        md-search-text="skillAreaFilterText.Name" 
        md-items="skillArea in $ctrl.skillAreas | filter:skillAreaFilterText"
        md-item-text="skillArea.Name" 
        placeholder="{{'SelectSkillArea' | translate}}">
            <md-item-template>
                <span ng-bind="skillArea.Name"></span>
            </md-item-template>
            <md-not-found ng-cloak>
                {{'RepViewerNoMoreMatches'|translate}}
            </md-not-found>
        </md-autocomplete>
    </div>
	<div ng-if="$ctrl.toggles.unifiedSkillGroupManagement">
		<button class="wfm-fab mini mini-active"
				id="manage_skill_group_button"
				ng-click="$ctrl.configMode()">
			<i class="mdi mdi-plus" style="top: 2px; position: relative;"></i>
			<md-tooltip>{{'CreateSkillGroup'|translate}}</md-tooltip>
		</button>
	</div>
</div>