
.rotate45 .glyphicon {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.rotate90 .glyphicon {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.btn-file {
	position: relative;
	overflow: hidden;
}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 41px;
		font-size: 10px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: 1px;
		/*background: blue;*/
		cursor: inherit;
		/*display: block;*/
	}

	.btn-file a {
		/*display: block;*/
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333333;
		white-space: nowrap;
	}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

input[type=range]::-ms-track {
	color: transparent;
	width: auto;
	height: auto;
	padding: 0px 12px 0px 13px;
	margin: 0px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0.0);
}

input[type=range]::-ms-fill-upper {
	width: 8px;
	margin: 0px;
	padding: 0px;
	background-color: rgb(250, 247, 245);
	border: 2px solid rgb(250, 247, 245);
	/*border-radius: 6px 6px 0px 0px;*/
}

input[type=range]::-ms-fill-lower {
	width: 8px;
	margin: 0px;
	padding: 0px;
	background-color: rgb(250, 247, 245);
	border: 2px solid rgb(250, 247, 245);
	/*border-radius: 0px 0px 6px 6px;*/
}

input[type=range]::-ms-tooltip {
	display: none;
}

input[type=range]::-ms-thumb {
	width: 10px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	/*border-radius: 5px;*/
	border-style: none;
	background-color: rgb(203, 208, 209);
}

input[type=range]:hover::-ms-thumb {
	background-color: rgb(203, 208, 209);
}

.mapControls {
	z-index: 100;
	position: absolute;
	margin-top: 30px;
	margin-left: 15px;
}

.mapNavButton {
	margin-left: 8px;
	background: lightgray;
	border: none !important;
	border-style: none;
}

.mapLoadingSpinner {

	position: absolute;
}

.map-toolbar {
	margin-left: 10px;
}

.row .breadcrumb {
	margin-left: 14px;
}

.seatplanner-dashboard-link-font {
	font-size: 1em;
	font-family: 'Segoe UI';
}

.seatplanner-dashboard-area-image {
	font-size: 5em;
}

.seatplanner-dashboard-area-bigtext {
	font-size: 38px;
}

.seatplanner-dashboard-area-smalltext {
	font-size: 18px;
	font-family: 'Segoe UI';
}
