<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-account-multiple"></i> Agent Group Detail</h1>
		<p translate>Manage Your Agent Group With Schedule Periods and Dayoff Rules </p>
	</div>
	<div class="fab-wrapper">
		<button ng-click=" " class="wfm-fab material-depth-1 grow-out">
				<i class="mdi mdi-arrow-right"></i>
				<md-tooltip>
					Go schedule
				</md-tooltip>
			</button>
	</div>
</div>
<div class="panel material-depth-1">
	<div class="wfm-slide-tabs tabbed-panel">
		<md-content class="md-padding">
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Planning Periods">
					<md-content class="md-padding">
						<div class="con-flex">
							<div planing-periods></div>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Dayoff Rules">
					<md-content class="md-padding">
						<div class="con-flex">
							<div dayoff-rules></div>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Info">
					<md-content class="md-padding">
						<div class="con-flex">
							<h2> Agent Group: {{vm.agentGroup.Name}} </h2>
							<div class="wfm-chip-wrap" ng-repeat="each in vm.agentGroup.Filters">
								<span class="wfm-chip">
						    <span class="chip-handle">{{each.FilterType}}</span>
								<span class="chip-text" style="margin-right:20px;">{{each.Name}}</span>
								</span>
							</div>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>
<!-- {{vm.agentGroup}} -->
