<!--<div class="person-header relative">
    <div class="avatar">
        <i class="mdi mdi-account"></i>
    </div>
    <h1 [ngIf]="itemArr.length == 1">Grant role on {{itemArr[0].firstName}} {{itemArr[0].lastName}}</h1>
    <h1 [ngIf]="itemArr.length > 1">Grant role on multiple persons</h1>
    <h3>{{itemArr.length}} person(s) selected</h3>
</div>
<div style="margin: 15px;">
    <h2>
        <strong>Current roles</strong>
    </h2>
    <div class="con-fluid-row">
        <div class="con-fluid-flex" *ngFor="role in currentRoles" [ngIf]="!isIndeterminate(role)">
            <mat-checkbox [(ngModel)]="role.checked" [checked]="isChecked(role)" [disabled]="true" aria-label="Checkbox">{{role.name}}
                <span ng-bind="item.id"></span>
            </mat-checkbox>
        </div>
    </div>
    <hr/>
    <h2>
        <strong>Part selected roles</strong>
    </h2>
    <div class="con-fluid-row">
        <div class="con-fluid-flex" *ngFor="role in currentRoles" [ngIf]="isIndeterminate(role)">
            <mat-checkbox [(ngModel)]="role.checked" [checked]="isChecked(role)" (click)="toggle(role, selected)" md-indeterminate="isIndeterminate(role)" aria-label="Checkbox">{{role.name}}
                <span ng-bind="item.id"></span>
            </mat-checkbox>
        </div>
    </div>
    <hr/>
    <h2>
        <strong>Available roles</strong>
    </h2>
    <div class="con-fluid-row">
        <div class="con-fluid-flex" *ngFor="role in roles" [ngIf]="checkExistingRoles(role) === false">
            <mat-checkbox [(ngModel)]="role.checked" aria-label="Checkbox">{{role.name}}
                <span ng-bind="item.id"></span>
            </mat-checkbox>
        </div>
    </div>
    <div class="modal-actions">
        <aside>
            <button class="wfm-btn wfm-btn-invis" (click)="close()">Cancel</button>
            <button class="wfm-btn wfm-btn-invis-primary" (click)="close()">Save</button>
        </aside>
    </div>
</div>-->