<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-account-multiple"></i> People</h1>
	</div>
</div>
<div class="con-row">
	<people-grant *ngIf="displayGrantView" class="con-flex" [roles]="roles" (onRolesChanged)="handleGranted($event)"></people-grant>
	<people-revoke *ngIf="displayRevokeView" class="con-flex" [roles]="roles" (onRolesChanged)="handleRevoked($event)"></people-revoke>
	<div class="con-flex" *ngIf="!(displayGrantView || displayRevokeView)">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<div class="con-row">
					<div class="con-flex">
						<label for="filter" class="input-icon">
							<i class="mdi mdi-magnify">
								<input type="text" placeholder="Search">
							</i>
						</label>
					</div>
					<div class="con-flex x3">
						<button mat-raised-button color="primary" data-test-grant-button [disabled]="!workspaceService.isAnySelected()" (click)="toggleGrantView()">
							<i class="mdi mdi-plus"></i> Grant role</button>
						<button mat-raised-button color="primary" data-test-revoke-button [disabled]="!workspaceService.isAnySelected()" (click)="toggleRevokeView()">
							<i class="mdi mdi-close"></i>Revoke role</button>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<mat-table #table [dataSource]="dataSource" data-test-search>

						<!-- Checkbox Column -->
						<ng-container matColumnDef="select">
							<mat-header-cell *matHeaderCellDef>
								<mat-checkbox>
								</mat-checkbox>
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleSelectedPerson(row.Id) : null" [checked]="workspaceService.isPersonSelected(row.Id)">
								</mat-checkbox>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="FirstName">
							<mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
							<mat-cell *matCellDef="let person" data-test-person-firstname> {{person.FirstName}} </mat-cell>
						</ng-container>

						<!-- Name Column -->
						<ng-container matColumnDef="LastName">
							<mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
							<mat-cell *matCellDef="let person" data-test-person-lastname> {{person.LastName}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="Roles">
							<mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
							<mat-cell *matCellDef="let person" data-test-person-role> {{personToRoles(person)}} </mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" data-test-person>
						</mat-row>
					</mat-table>
					<mat-paginator [length]="pagination.length" [pageIndex]="pagination.pageIndex" [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
					 (page)="paginationChanged($event)">
					</mat-paginator>
				</div>
			</div>
		</div>
	</div>
	<div class="con-flex workspace-parent">
		<div class="panel material-depth-1 workspace" data-test-workspace>
			<h2>
				<i class="mdi mdi-account-switch"></i> Workspace
				<span *ngIf="getSelectedPeopleCount() > 0">({{getSelectedPeopleCount()}})</span>
			</h2>
			<ul>
				<li *ngFor="let person of workspaceService.getSelectedPeople()" class="" data-test-person>
					<div class="con-flex">
						<i class="mdi mdi-close" (click)="workspaceService.deselectPerson(person)" data-test-person-remove></i>
						<span data-test-person-name>
							{{person.FirstName}} {{person.LastName}}
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>