<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-account-multiple"></i> People</h1>
	</div>
</div>
<div class="con-row">
	<people-grant *ngIf="displayGrantView" class="con-flex" [roles]="roles" (onRolesChanged)="handleGranted($event)"></people-grant>
	<people-revoke *ngIf="displayRevokeView" class="con-flex" [roles]="roles" (onRolesChanged)="handleRevoked($event)"></people-revoke>
	<div class="con-flex" *ngIf="!(displayGrantView || displayRevokeView)">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<div class="con-row">
					<div class="con-flex">
						<label for="filter" class="input-icon">
							<i class="mdi mdi-magnify">
								<input type="text" placeholder="Search">
							</i>
						</label>
					</div>
					<div class="con-flex x3">
						<button mat-raised-button color="primary" data-test-grant-button [disabled]="!workspaceService.isAnySelected()" (click)="toggleGrantView()">
							<i class="mdi mdi-plus"></i> Grant role</button>
						<button mat-raised-button color="primary" data-test-revoke-button [disabled]="!workspaceService.isAnySelected()" (click)="toggleRevokeView()">
							<i class="mdi mdi-close"></i>Revoke role</button>
						<!-- <button class="wfm-btn wfm-btn-primary mdi mdi-plus" data-test-grant-button [disabled]="!workspaceService.isAnySelected()"
						 [ngClass]="{'wfm-btn-invis-disabled': !workspaceService.isAnySelected()}" (click)="toggleGrantView()">Grant role</button>
						<button class="wfm-btn wfm-btn-primary mdi mdi-close" data-test-revoke-button [disabled]="!workspaceService.isAnySelected()"
						 [ngClass]="{'wfm-btn-invis-disabled': !workspaceService.isAnySelected()}" (click)="toggleRevokeView()">Revoke role</button> -->
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<ul data-test-search>
						<li *ngFor="let person of searchService.getPeople()" class="con-row align-row-baseline agent-row" data-test-person (click)="toggleSelectedPerson(person.Id)">
							<div class="con-flex">
								<div matTooltip="Select person" tabindex=0 class="context-menu card-context" [ngClass]="{'notice-success':workspaceService.isPersonSelected(person.Id), 'notice-info':!workspaceService.isPersonSelected(person.Id)}">
									<i class="mdi mdi-account" [ngClass]="{'mdi-check':workspaceService.isPersonSelected(person.Id)}"></i>
								</div>
								<span data-test-person-name>
									{{person.FirstName}} {{person.LastName}}
								</span>
							</div>
							<div class="con-flex" data-test-person-role>
								{{personToRoles(person)}}
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="con-footer">
				<mat-paginator [length]="pagination.length" [pageIndex]="pagination.pageIndex" [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
				 (page)="paginationChanged($event)">
				</mat-paginator>
			</div>
		</div>
	</div>
	<div class="con-flex workspace-parent">
		<div class="panel material-depth-1 workspace" data-test-workspace>
			<h2>
				<i class="mdi mdi-account-switch"></i> Workspace
				<span *ngIf="getSelectedPeopleCount() > 0">({{getSelectedPeopleCount()}})</span>
			</h2>
			<ul>
				<li *ngFor="let person of workspaceService.getSelectedPeople()" class="" data-test-person>
					<div class="con-flex">
						<i class="mdi mdi-close" (click)="workspaceService.deselectPerson(person)" data-test-person-remove></i>
						<span data-test-person-name>
							{{person.FirstName}} {{person.LastName}}
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>