.agent-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	border-left: 3px solid transparent;
	cursor: pointer;
}

.agent-row:hover {
	background: rgba(0, 0, 0, 0.12);
	border-left: 3px solid #888;
}

.workspace-parent {
	max-width: 250px;
}

.mat-column-select {
	flex-grow: 0;
	flex-basis: 40px;
}
