<div class="rta-view adjust-adherence">
    <div class="view-header with-fab with-desc">
        <div class="view-title">
            <div class="pull-left">
                <h1>
                    <i class="mdi mdi-alarm"></i> {{'Adherence'|translate}}
                </h1>
            </div>
            <div class="rta-top-buttons-wrapper pull-left">
				<span>
					<button class="wfm-btn wfm-btn-default"
                            ng-click="vm.goToOverview()">{{'MonitorOrganization'|translate}}</button>
					<button class="wfm-btn wfm-btn-default"
                            ng-click="vm.goToAgents()">{{'MonitorAgents'|translate}}</button>
					<button class="wfm-btn wfm-btn-default"
                            ng-click="vm.goToHistoricalOverview()">{{'HistoricalOverview'|translate}}</button>
				</span>
            </div>
        </div>
    </div>

    <div class="panel card-panel con-padding" style="width:680px">
        <div class="con-row">
            <div class="con-flex">
                <h3 style="padding-top: 10px">Adjusted Periods</h3>
            </div>
            <div class="con-flex">
                <div class="pull-right">
                    <button class="wfm-btn wfm-btn-primary"
                            ng-click="vm.showAdjustToNeutralSection = !vm.showAdjustToNeutralSection">Add Period
                    </button>
                </div>
            </div>
        </div>

        <div class="con-row" ng-show="vm.showAdjustToNeutralSection">
            <div class="con-flex">
                <div class="wfm-dropdown-panel panel full-padding"
                     style="display: flex; align-items: center;">
                    <div style="padding-right:25px; border-right: 1px solid lightgrey; margin: 12px 0">
                        <div uib-datepicker
                             ng-model="vm.adjustToNeutralStartDate"
                             class="well well-sm">
                        </div>
                        <div uib-timepicker
                             ng-model="vm.adjustToNeutralStartTime"
                             hour-step="1"
                             minute-step="1"
                             template-url="app\rta\rta\adjust-adherence\timepicker.template.html"
                             class="full-padding"
                             style="width: 290px">
                        </div>
                    </div>
                    <div style="padding-left:25px; margin: 12px 0">
                        <div uib-datepicker
                             ng-model="vm.adjustToNeutralEndDate"
                             class="well well-sm">
                        </div>
                        <div uib-timepicker
                             ng-model="vm.adjustToNeutralEndTime"
                             hour-step="1"
                             minute-step="1"
                             template-url="app\rta\rta\adjust-adherence\timepicker.template.html"
                             class="full-padding"
                             style="width: 290px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="con-row" ng-show="vm.showAdjustToNeutralSection">
            <div class="con-flex">
                <div class="pull-right" style="padding-bottom:12px">
                    <span>2019-01-21 01:00 PM - 2019-01-21 02:00 PM</span>
                    <button class="wfm-btn wfm-btn-primary"
                            ng-click="vm.adjustToNeutral()">Adjust to Neutral
                    </button>
                </div>
            </div>
        </div>

        <table class="wfm-table">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2019-01-07 10:00 AM</td>
                <td>2019-01-07 14:00 PM</td>
            </tr>
            <tr>
                <td>2019-01-05 11:00 AM</td>
                <td>2019-01-05 12:00 PM</td>
            </tr>
            <tr>
                <td>2019-01-02 01:00 AM</td>
                <td>2019-01-03 08:00 AM</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>