$table_highlight_bg: #e6f7ff;

.bank-holiday-calendar-assign-to-sites {
	min-height: 80px;
	max-height: calc(100vh - 250px);
	overflow: auto;
}
nz-list-item {
	padding-left: 16px;
	padding-right: 16px;
}
nz-list-item:hover {
	background: $table_highlight_bg;
}
nz-select {
	width: 300px;
}
