@import './shared/pages';

#skill-panel ::ng-deep div.ant-collapse-header {
	padding: 2px 0 2px 40px;
}

::ng-deep .intraday-date-selector .ant-radio-group {
	white-space: nowrap;
	margin: 0 0 0 auto;
}

@media (max-width: 1128px) {
	::ng-deep .intraday-date-selector .ant-radio-group {
		margin: 0;
	}
}
