<div *ngIf="chartType==='traffic'">
	<nz-table #basicTable
	          [nzShowPagination]="false"
	          [nzBordered]="true"
	          [nzData]="tableData">
		<thead>
			<tr>
				<th></th>
				<th>{{'Forecasted'|translate}}</th>
				<th>{{'Actual'|translate}}</th>
				<th>{{'Difference'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of basicTable.data">
				<td>{{data.Heading|translate}}</td>
				<td>{{data.Forecasted | number:'1.1-1'}}</td>
				<td>{{data.Actual | number:'1.1-1'}}</td>
				<td>{{data.Difference | number:'1.1-1'}} %</td>
			</tr>
		</tbody>
	</nz-table>
</div>
<div *ngIf="chartType==='performance'">
	<nz-table #basicTable
	          [nzShowPagination]="false"
	          [nzBordered]="true"
	          [nzData]="tableData">
		<thead>
			<tr>
				<th></th>
				<th>{{'ServiceLevel'|translate}}</th>
				<th style="white-space: nowrap;">{{'ESL'|translate}}</th>
				<th>{{'AbandonedRate'|translate}}</th>
				<th>{{'AverageSpeedOfAnswer'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of basicTable.data">
				<td style="white-space: nowrap;">{{data.Heading|translate}}</td>
				<td>{{data.ServiceLevel | number:'1.1-1'}}</td>
				<td>{{data.EstimatedServiceLevel | number:'1.1-1'}}</td>
				<td>{{data.AbandonRate | percent:'1.1-1'}}</td>
				<td>{{data.AverageSpeedOfAnswer | number:'1.1-1'}} %</td>
			</tr>
		</tbody>
	</nz-table>
</div>