<div style="display: flex" class="intraday-date-selector">
	<nz-radio-group [(ngModel)]="value" (ngModelChange)="onClick()">
		<button nz-radio-button nzValue="-7">-7</button> <button nz-radio-button nzValue="-6">-6</button>
		<button nz-radio-button nzValue="-5">-5</button> <button nz-radio-button nzValue="-4">-4</button>
		<button nz-radio-button nzValue="-3">-3</button> <button nz-radio-button nzValue="-2">-2</button>
		<button nz-radio-button nzValue="-1">-1</button> <button nz-radio-button nzValue="0">Today</button>
		<button nz-radio-button nzValue="1">+1</button>
	</nz-radio-group>
</div>
