<div ui-view>
	<div class="view-header with-fab">
		<div class="view-title">
			<h1>
				<i class="mdi mdi-account-switch"></i> {{'Staffing' | translate}}</h1>
		</div>
		<div class="fab-wrapper" ng-if="vm.showBpoInterface && vm.hasPermissionForBpoExchange">
			<button class="wfm-fab grow-out material-depth-1" id="bpoExchangeBtn" ng-click="vm.goToImportExports()">
				<i class="mdi mdi-source-fork"></i>
				<md-tooltip>{{'BpoExchange' | translate}}</md-tooltip>
			</button>
		</div>
	</div>
	<div class="con-row">
		<div class="con-flex" style="flex: 2 1 0">
			<div class="panel">
				<div class="con-row align-row-center staffing-toolbar" ng-class="{'locked':vm.isSearchRequested}">
					<the-skill-picker class="con-flex pull-left" skills="vm.allSkills" skill-groups="vm.allSkillAreas" on-skill-selected="vm.selectedSkillChange(skill)"
					 on-skill-group-selected="vm.selectedAreaChange(skillGroup)" preselected-skill="vm.selectedSkill" preselected-skill-group="vm.selectedSkillArea">
					</the-skill-picker>
					<skill-group-manager-button id="manage_skill_group_button" ng-if="vm.HasPermissionToModifySkillArea" ng-click="vm.configMode()">
					</skill-group-manager-button>
					<wfm-date-picker class="con-flex" style="margin-left: 10px" ng-model="vm.selectedDate" show-week="true" popup-mode="true"
					 on-date-change="vm.navigateToNewDay(vm.selectedDate)"></wfm-date-picker>
					<md-checkbox class="pull-right" style="margin-right: 10px" ng-change="vm.useShrinkageForStaffing()" ng-model="vm.useShrinkage"
					 aria-label="Checkbox">{{'UseShrinkage'|translate}}</md-checkbox>
					<md-progress-linear md-mode="indeterminate" ng-if="vm.isSearchRequested"></md-progress-linear>
				</div>
			</div>
		</div>
	</div>

	<modal-dialog show='vm.exportModal' ng-cloak>
		<div ng-if="vm.showBpoInterface && vm.hasPermissionForBpoExchange">
			<div class="con-row">
				<div class="con-flex">
					<b>{{'ExportToFile'|translate}}</b>
					<p ng-if="vm.useShrinkage">
						<i class="mdi mdi-check"></i> {{'Shrinkage'|translate}}</p>
				</div>
			</div>
			<div class="modal-inner-content" style="text-align:center;">
				<wfm-date-range-picker ng-model="vm.exportStaffingDataDate"></wfm-date-range-picker>
				<div ng-if="!vm.exporting && vm.ErrorMessage" class="text-danger">
					{{vm.ErrorMessage}}
				</div>
			</div>
			<div class="modal-actions">
				<aside>
					<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.exportModal = false">{{'Cancel'|translate}}</button>
					<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.exportStaffingData()">{{'Export'|translate}}</button>
				</aside>
			</div>
			<div ng-if="vm.exporting">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>
		</div>
	</modal-dialog>

	<div class="con-row" ng-show="vm.staffingDataAvailable">
		<div class="con-flex">
			<div class="panel">
				<md-progress-linear ng-show="vm.isRunning()" md-mode="indeterminate"></md-progress-linear>
				<div class="sub-header">
					<h2>{{'Staffing' | translate}} - {{vm.getDisplayDate() | amDateFormat:'L'}} </h2>
					<div class="head-actions panel-menu" ng-if="vm.showBpoInterface && vm.hasPermissionForBpoExchange && vm.selectedSkill">
						<div tabindex=0 class="context-menu card-context" ng-click="vm.exportModal = true;">
							<i class="mdi mdi-file-excel">
								<md-tooltip>{{'ExportToFile'|translate}}</md-tooltip>
							</i>
						</div>
					</div>
					<div class="wfm-chip-wrap" ng-show="vm.isNoSuggestion()">
						<div class="wfm-chip-wrap">
							<span class="wfm-chip">
								<span class="chip-handle chip-warning">
									<i class="mdi mdi-alert"></i>
								</span>
								<span class="chip-text">{{'NoSuggestionsFound' | translate}}</span>
							</span>
						</div>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">
						<div class="wfm-chart intraday-chart" id="staffingChart"></div>
					</div>
				</div>
				<div class="con-footer">
					<div ng-show="vm.showBpoInterface && vm.hasPermissionForBpoExchange" style="padding-left: 50px; width: max-content; text-align: left;">
						<h5>
							<b>{{'ImportBpoFileImportInfoHeader' | translate}}</b>
						</h5>
						<div ng-repeat="x in vm.importedBboInfos">
							<div>
								{{x.Source}} - {{x.ImportFilename}}
								<md-tooltip md-direction="bottom">
									{{x.Firstname}} {{x.Lastname}} {{'ImportBpoImportedAt' | translate}} {{x.ImportedDateTimeString}}
								</md-tooltip>
							</div>
						</div>
					</div>
					<div>
						<button class="wfm-btn" id="overstaffBtn" ng-show="vm.isOvertimeSuggestionEnabled()" ng-class="vm.showOverstaffSettings ? 'wfm-btn-invis-default' : 'wfm-btn-invis-primary'"
						 ng-click="vm.toggleOverstaffSettings()">
							<span ng-if="!vm.showOverstaffSettings">{{'GetSuggestionsForOvertime' | translate}}</span>
							<span ng-if="vm.showOverstaffSettings">{{'CloseOvertimeSettings' | translate}}</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="con-row">
		<div class="con-flex">
			<form novalidate ng-submit="vm.suggestOvertime(vm.overtimeForm)" name="vm.overtimeForm">
				<div class="panel" ng-show="vm.showOverstaffSettings">
					<div class="sub-header">
						<h2>{{'OvertimeSettings' | translate}}</h2>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<h3>{{'Compensations' | translate}}</h3>
							<md-radio-group ng-model="vm.overtimeForm.Compensation">
								<md-radio-button ng-repeat="comp in vm.compensations" ng-value="comp.Id">
									{{comp.Name}}
								</md-radio-button>
							</md-radio-group>
						</div>
						<div class="con-flex">
							<h3>{{'Duration' | translate}}</h3>
							<div class="con-row">
								<div uib-timepicker required ng-change="vm.validSettings(vm.overtimeForm)" ng-model="vm.overtimeForm.MinMinutesToAdd" show-meridian="false"></div>
								-
								<div uib-timepicker required ng-change="vm.validSettings(vm.overtimeForm)" ng-model="vm.overtimeForm.MaxMinutesToAdd" show-meridian="false"></div>
							</div>
						</div>
						<div class="con-flex x3"></div>
					</div>
					<div class="con-footer">
						<button class="wfm-btn" ng-class="!vm.overtimeForm.$valid||!vm.validSettings(vm.overtimeForm) ? 'wfm-btn-primary-disabled' : 'wfm-btn-primary'"
						 ng-disabled="!vm.overtimeForm.$valid || !vm.validSettings(vm.overtimeForm)" type="submit">{{'GetSuggestionsForOvertime' | translate}}</button>
						<button class="wfm-btn" ng-class="vm.hasSuggestionData ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'" ng-disabled="!vm.hasSuggestionData"
						 ng-click="vm.addOvertime()">{{'ApplySuggestion' | translate}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>