<div>
    <div class="con-row">
        <div class="con-flex panel material-depth-1">
            <div class="con-row">
                <div class="con-flex">
                    <md-autocomplete id="skill-id" class="autocomplete-skill" md-selected-item="vm.selectedSkill" md-search-text="searchSkillText"
                        md-selected-item-change="vm.selectedSkillChange(vm.selectedSkill)" md-items="skill in vm.querySearchSkills(searchSkillText)"
                        md-item-text="skill.Name" md-min-length="0" placeholder="{{'SelectSkill'|translate}}">
                        <md-item-template>
                            <i ng-class="vm.dynamicIcon(skill)"></i>
                            <span md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skill.Name}}</span>
                            <md-tooltip>
                                <span ng-if="skill.DoDisplayData && skill.IsMultisiteSkill">{{skill.SkillType | translate}} - {{'MultisiteSkill' | translate}}</span>
                                <span ng-if="skill.DoDisplayData && !skill.IsMultisiteSkill">{{skill.SkillType | translate}}</span>
                                <span ng-if="!skill.DoDisplayData">{{'UnsupportedSkill' | translate}}</span>
                            </md-tooltip>
                        </md-item-template>
                        <md-not-found>
                            {{'RepViewerNoMoreMatches'|translate}}
                        </md-not-found>
                    </md-autocomplete>
                    <i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkill" ng-click="vm.selectedSkill=null">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
                </div>
                <div class="con-flex">
                    <md-autocomplete id="area-id" class="autocomplete-skill" md-selected-item="vm.selectedArea" md-search-text="searchSkillAreaText"
                        md-selected-item-change="vm.selectedAreaChange(area)" md-items="area in vm.querySearchAreas(searchSkillAreaText)"
                        md-item-text="area.Name" md-min-length="0" placeholder="{{'SelectSkillArea'|translate}}">
                        <md-item-template>
                            <span md-highlight-text="searchSkillText" md-highlight-flags="^i">{{area.Name}}</span>
                        </md-item-template>
                        <md-not-found>
                            {{'RepViewerNoMoreMatches'|translate}}
                        </md-not-found>
                    </md-autocomplete>
                    <i class="mdi mdi-close pointer ie-cross grow-out" ng-show="vm.selectedSkill" ng-click="vm.selectedSkill=null">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
                </div>
                <div class="con-flex">
                    <div class="wfm-checkbox" style="margin: 5px auto;">
                        <input type="checkbox" id="check2" ng-checked="vm.useShrinkage" ng-click="vm.useShrinkageForStaffing()" />
                        <label for="check2">
                            <span class="wfm-checkbox-toggle"></span>
                            <span class="wfm-checkbox-label">{{'UseShrinkage'| translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="con-flex datepicker-container" style="margin-top: -10px;">
                    <team-schedule-datepicker selected-date="vm.selectedDate" status="vm.showDatePicker" on-date-change="vm.navigateToNewDay(vm.selectedDate)"
                        class="inline-block"></team-schedule-datepicker>
                </div>
                <div class="con-flex panel-menu">
                    <div tabindex=0 class="context-menu card-context"ng-if="vm.showBpoInterface && vm.hasPermissionForBpoExchange">
                        <i class="mdi mdi-dots-vertical"></i>
                        <span class="context-menu-left">
                            <ul class="wfm-list">
                                <li ng-click="vm.goToImportExports()"><i class="mdi mdi-file-import" ></i>Go to Import Export</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel material-depth-1" ng-show="vm.staffingDataAvailable">
    <md-progress-linear ng-show="vm.isRunning()" md-mode="indeterminate"></md-progress-linear>
    <div class="sub-header">
        <h2>{{'Staffing' | translate}} - {{vm.selectedDate | date:'yyyy-MM-dd'}}
            <div class="wfm-chip-wrap" ng-show="vm.isNoSuggestion()">
                <div class="wfm-chip-wrap">
                    <span class="wfm-chip">
                        <span class="chip-handle chip-warning">
                            <i class="mdi mdi-alert"></i>
                        </span>
                        <span class="chip-text">{{'NoSuggestionsFound' | translate}}</span>
                    </span>
                </div>
            </div>
        </h2>
    </div>
    <div class="con-row">
        <div class="con-flex">
            <div class="wfm-chart intraday-chart" id="staffingChart"></div>
        </div>
    </div>
    <div class="con-footer">
        <button class="wfm-btn" ng-show="vm.isOvertimeSuggestionEnabled()" ng-class="vm.showOverstaffSettings ? 'wfm-btn-invis-default' : 'wfm-btn-invis-primary'" ng-click="vm.toggleOverstaffSettings()">
                <span ng-if="!vm.showOverstaffSettings">{{'GetSuggestionsForOvertime' | translate}}</span>
                <span ng-if="vm.showOverstaffSettings">{{'CloseOvertimeSettings' | translate}}</span>
                </button>
    </div>
</div>
<form novalidate ng-submit="vm.suggestOvertime(vm.overtimeForm)" name="vm.overtimeForm">
    <div class="panel material-depth-1" ng-show="vm.showOverstaffSettings">
        <div class="sub-header">
            <h2>{{'OvertimeSettings' | translate}}</h2>
        </div>
        <div class="con-row">
            <div class="con-flex">
                <h3>{{'Compensations' | translate}}</h3>
                <div ng-repeat="comp in vm.compensations">
                    <div class="wfm-radio">
                        <label>
                            <input type="radio" required name="radio" value={{comp.Id}} ng-model="vm.overtimeForm.Compensation">
                            <span class="wfm-radio-toggle"></span>
                            <span class="wfm-radio-label">{{comp.Name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="con-flex">
                <h3>{{'Duration' | translate}}</h3>
                <div class="con-row">
                    <div uib-timepicker required ng-change="vm.validSettings(vm.overtimeForm)" ng-model="vm.overtimeForm.MinMinutesToAdd" show-meridian="false"></div>
                    -
                    <div uib-timepicker required ng-change="vm.validSettings(vm.overtimeForm)" ng-model="vm.overtimeForm.MaxMinutesToAdd" show-meridian="false"></div>
                </div>
                <div class="con-row">

                </div>
            </div>
            <div class="con-flex x3"></div>
        </div>
        <div class="con-footer">
            <button class="wfm-btn" ng-class="!vm.overtimeForm.$valid||!vm.validSettings(vm.overtimeForm) ? 'wfm-btn-primary-disabled' : 'wfm-btn-primary'"
                ng-disabled="!vm.overtimeForm.$valid || !vm.validSettings(vm.overtimeForm)" type="submit">{{'GetSuggestionsForOvertime' | translate}}</button>
            <button class="wfm-btn" ng-class="vm.hasSuggestionData ? 'wfm-btn-invis-primary' : 'wfm-btn-invis-disabled'" ng-disabled="!vm.hasSuggestionData"
                ng-click="vm.addOvertime()">{{'ApplySuggestion' | translate}}</button>
        </div>
    </div>
</form>
<div ng-hide="vm.staffingDataAvailable" class="con-row error-message">
    <div class="con-flex line-center">
        <i class="mdi mdi-information-outline huge-icon line-center"></i>
        <h1>{{'NoDataAvailable' | translate}}</h1>
    </div>
</div>