<div aria-label="{{vm.commandTitle}}" class="team-schedule-command-confirm-dialog">
	<h1 class="modal-title" translate>{{vm.commandTitle}}</h1>
	<div class="modal-inner-content">
		<div ng-if="false && vm.isRemoveAbsence" class='wfm-checkbox'>
			<input type='checkbox' id='checkRemoveEntireAbsence' ng-checked='vm.removeFullDayAbsence' ng-click='vm.toggleRemoveFullDayAbsence()'
			/>
			<label for='checkRemoveEntireAbsence'>
					<span class='wfm-checkbox-toggle'></span>
					<span class='wfm-checkbox-label'>{{'RemoveEntireAbsenceForMultiDayPersonAbsence' | translate}}</span>
				</label>
		</div>

		<h1>halomaple</h1>

		<p>{{vm.getCommandMessage()}}</p>

		<p ng-if="vm.needFix" class="text-warning">
			<span>{{ vm.translatedWarningMessage }}</span>&nbsp;
			<button ng-click="vm.fix()" class="wfm-btn wfm-btn-default">
					{{'Unselect' | translate}}
				</button>
		</p>

		<p ng-if="vm.hasError" class="text-danger">
			<span>{{ vm.translatedErrorMessage }}</span>
		</p>

	</div>
	<div class="modal-actions">
		<aside>
			<button ng-click="vm.cancel()" class="wfm-btn wfm-btn-invis-default">
				{{'Cancel' | translate}}
			</button>
			<button ng-click="vm.apply()" class="wfm-btn" ng-class="{'wfm-btn-invis-primary': !(vm.needFix || vm.hasError) , 'wfm-btn-primary-disabled': vm.needFix || vm.hasError}"
				ng-disabled="(vm.needFix || vm.hasError)" autofocus>
				{{'Apply' | translate}}
			</button>
		</aside>
	</div>
</div>
