<div class="view-header">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-account-multiple"></i>
			<span ng-show="vm.searchEnabled" translate>DayView</span>
			<span ng-show="!vm.searchEnabled" translate>ModifySchedule</span>
		</h1>
	</div>
</div>

<div class="team-schedule panel wfm-block material-depth-1" ng-click="vm.showDatePicker && (vm.showDatePicker = false)" wait-for="vm.boostrap">
	<div class="teamschedule-header" layout="row">
		<div class="leftside-part">

			<favorite-search ng-if="vm.searchEnabled"
							 current-favorite="vm.selectedFavorite"
							 apply-favorite="vm.applyFavorite(currentFavorite)"
							 get-search="vm.getSearch()"
							 on-init-async="vm.onFavoriteSearchInitDefer"></favorite-search>

			<organization-picker ng-if="vm.searchEnabled"
				sites-and-teams="vm.sitesAndTeams"
				class="organization-picker-container inline-block"
				on-open="vm.searchOptions.focusingSearch = false"
				on-close="vm.onSelectedTeamsChanged()"
				selected-text="vm.orgPickerSelectedText()"
				selected-team-ids="vm.selectedTeamIds"></organization-picker>

			<div class="people-search-container inline-block"
			     ng-if="vm.searchEnabled"
			     ng-style="{'visibility': vm.hideSearchIfNoSelectedTeam()}">
				<wfm-multiple-search-input search-options="vm.searchOptions" title="vm.searchPlaceholder" search-callback="vm.onKeyWordInSearchInputChanged" focus-input="vm.searchOptions.focusingSearch" ></wfm-multiple-search-input>
			</div>

			<span class="datepicker-container" ng-click="$event.stopPropagation()">
				<team-schedule-datepicker selected-date="vm.scheduleDate" status="vm.showDatePicker" on-date-change="vm.onScheduleDateChanged()" class="inline-block"></team-schedule-datepicker>
			</span>

			<view-changer ng-if="vm.searchEnabled" selected-date="vm.scheduleDate" keyword="vm.searchOptions.keyword"
				selected-team-ids="vm.selectedTeamIds"
				team-name-map="vm.teamNameMap"
				selected-favorite="vm.selectedFavorite"></view-changer>
		</div>

		<timezone-picker available-timezones="vm.availableTimezones" on-pick="vm.changeTimezone(timezone)"></timezone-picker>

		<div class="warning-container">
			<div id="show-warnings" class="wfm-switch inline-block">
				<input type="checkbox" id="validateWarning" ng-model="vm.validateWarningEnabled" ng-change="vm.checkValidationWarningForCurrentPage()"/>
				<label for="validateWarning">
					<span class="wfm-switch-label" translate>ShowWarnings</span>
					<span class="wfm-switch-toggle"></span>
				</label>
			</div>
		</div>

		<div class="rightside-part">
			<div class="wfm-switch" ng-if="vm.searchEnabled">
				<input type="checkbox" id="switchAbsence" ng-model="vm.onlyLoadScheduleWithAbsence" ng-change="vm.toggleShowAbsenceOnly()"/>
				<label for="switchAbsence">
					<span class="wfm-switch-label" translate>ShowOnlyAbsence</span>
					<span class="wfm-switch-toggle"></span>
				</label>
			</div>

			<span class="settings-container inline-block cursor-pointer" ng-click="vm.openSettingsPanel()">
				<i class="mdi mdi-settings"></i>
			</span>

			<teamschedule-command-menu class="teamschedule-command"
									   validate-warning-enabled="vm.validateWarningEnabled"
									   trigger-command="vm.triggerCommand(label, needToOpenSidePanel)"></teamschedule-command-menu>
		</div>
	</div>
	<div class="con-row teamschedule-body relative">
		<div class="big-table-wrapper relative">
			<div class="alert-warning notice-spacer" ng-if="vm.total > 500">
				<i class='mdi mdi-alert'></i>{{'TooManyResultsForSearchKeywords'|translate}}
			</div>
			<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate"></md-progress-linear>
			<schedule-table ng-show="vm.scheduleFullyLoaded"
							select-mode="vm.scheduleTableSelectMode"
							selected-date="vm.scheduleDate"
							show-warnings="vm.validateWarningEnabled"
							selected-timezone="vm.currentTimezone"
			                pagination-options="vm.paginationOptions"/>
		</div>

		<teamschedule-command-container date="vm.scheduleDate"
										timezone="vm.currentTimezone"
										action-callback="vm.commonCommandCallback(trackId, personIds)"
										on-ready="vm.onCommandContainerReady()"
										get-load-all-params="vm.getLoadAllSchedulesParams()"
										is-select-all ="vm.hasSelectedAllPeopleInEveryPage">
		</teamschedule-command-container>

		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="teamschedule-settings-container">
			<settings></settings>
		</md-sidenav>

	</div>

	<schedule-change-notifier on-notification="vm.onPersonScheduleChanged"
		schedule-date="vm.scheduleDate"
		last-command-track-id="vm.lastCommandTrackId"></schedule-change-notifier>

	<div class="teamschedule-footer" ng-class="{'flex-end':!vm.selectAllVisible() && !vm.hasSelectedAllPeople()}">
		<div class="select-all" ng-show="vm.selectAllVisible()" ng-click="vm.selectAllForAllPages()">
			<a href="javascript: void(0);"> {{'SelectAllPeopleInEveryPage' | translate}}</a>
		</div>
		<div class="select-all" ng-show="vm.hasSelectedAllPeople()" ng-click="vm.unselectAllForAllPages()">
			<a href="javascript: void(0);"> {{'UnselectAllPeopleInEveryPage' | translate}}</a>
		</div>

		<div class="pagination-navigator" ng-if="vm.paginationOptions.totalPages > 0">
			<md-select class="page-size-selector inline-block" ng-model="vm.paginationOptions.pageSize" ng-change="vm.onPageSizeSelectorChange()" aria-label="page size">
				<md-option ng-repeat="option in vm.agentsPerPageSelection" ng-value="option">{{option}}</md-option>
			</md-select>
			<wfm-pagination pagination-options="vm.paginationOptions" get-data-for-page-callback="vm.loadSchedules"></wfm-pagination>
		</div>
	</div>
</div>
