<div class="view-header">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-account-multiple"></i><span ng-show="vm.searchEnabled" translate>DayView</span><span ng-show="!vm.searchEnabled" translate>ModifySchedule</span>
		</h1>
	</div>
</div>
<div class="team-schedule panel wfm-block" wait-for="vm.boostrap">
	<div class="teamschedule-header" layout="row">
		<div class="leftside-part">

			<favorite-search ng-if="vm.searchEnabled"
							 current-favorite="vm.selectedFavorite"
							 apply-favorite="vm.applyFavorite(currentFavorite)"
							 get-search="vm.getSearch()"
							 on-init-async="vm.onFavoriteSearchInitDefer"></favorite-search>

			<group-page-picker ng-if="vm.searchEnabled"
							   group-pages="vm.availableGroups"
							   on-close="vm.onSelectedTeamsChanged()"
							   class="group-picker-container inline-block"
							   selected-groups="vm.selectedGroups"></group-page-picker>

			<div class="people-search-container inline-block"
				 ng-if="vm.searchEnabled"
				 ng-style="{'visibility': vm.hideSearchIfNoSelectedTeam()}">
				<wfm-multiple-search-input search-options="vm.searchOptions" search-title="vm.searchPlaceholder"
										   search-callback="vm.onKeyWordInSearchInputChanged"></wfm-multiple-search-input>
			</div>

			<span class="datepicker-container">
				<team-schedule-datepicker ng-model="vm.scheduleDate"
										  ng-change="vm.onScheduleDateChanged()"
										  class="inline-block"></team-schedule-datepicker>
			</span>

			<view-changer ng-if="vm.searchEnabled" selected-date="vm.scheduleDate"
						  keyword="vm.searchOptions.keyword"
						  selected-groups="vm.selectedGroups"
						  team-name-map="vm.teamNameMap"
						  selected-favorite="vm.selectedFavorite"
						  selected-sort-option="vm.sortOption"
						  staffing-enabled="vm.staffingEnabled"
						  timezone="vm.currentTimezone"></view-changer>

			<timezone-picker class="timezone-picker"
							 ng-if="!vm.isLoading"
							 avaliable-timezones="vm.avaliableTimezones"
							 ng-model="vm.currentTimezone"
							 ng-change="vm.changeTimezone()"></timezone-picker>

			<md-switch  ng-model="vm.staffingEnabled"
					   ng-change="vm.showStaffing()">
				<span translate>ShowStaffing</span>
			</md-switch>

		</div>

		<div class="rightside-part">
			<button type="button" class="context-menu card-context" ng-if="vm.isRefreshButtonVisible" ng-disabled="!vm.havingScheduleChanged" ng-click="vm.onRefreshButtonClicked()">
				<i class="mdi mdi-refresh"></i>
				<md-tooltip>
					{{'Refresh' | translate}}
				</md-tooltip>
			</button>

			<div class="context-menu card-context"
				 ng-if="vm.isExportScheduleEnabled()" ng-click="vm.openExportPanel()">
				<i class="mdi mdi-file-excel">
					<md-tooltip>
						{{'ExportSchedule'|translate}}
					</md-tooltip>
				</i>
			</div>

			<div class="context-menu card-context settings-container" ng-click="vm.openSettingsPanel()">
				<i class="mdi mdi-settings"></i>
			</div>

			<teamschedule-command-menu class="teamschedule-command"
									   validate-warning-enabled="vm.currentSettings.validateWarningEnabled"
									   trigger-command="vm.triggerCommand(label, needToOpenSidePanel)"
									   selected-date="vm.scheduleDate"></teamschedule-command-menu>
		</div>
	</div>

	<div ng-class="{'hide-resize-bar': !vm.staffingEnabled}" resizable="{{vm.staffingEnabled}}" r-directions="['bottom']" r-flex="true">
		<div class="con-row teamschedule-body relative">
			<div class="big-table-wrapper relative" ng-style="vm.scheduleTableWrapperStyle">
				<div class="alert-warning notice-spacer" ng-if="vm.isResultTooMany()">
					<i class='mdi mdi-alert'></i> {{vm.warningMessageForTooManyResults()}}
				</div>

				<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate"></md-progress-linear>
				<schedule-table ng-show="vm.scheduleFullyLoaded"
								selected-date="vm.scheduleDate"
								show-warnings="vm.currentSettings.validateWarningEnabled"
								selected-timezone="vm.currentTimezone"
								pagination-options="vm.paginationOptions"
								selected-sort-option="vm.sortOption"
								table-style="vm.scheduleTableBodyStyle" />
			</div>

			<teamschedule-command-container date="vm.scheduleDate"
											timezone="vm.currentTimezone"
											action-callback="vm.commonCommandCallback(trackId, personIds)"
											on-ready="vm.onCommandContainerReady()"
											get-load-all-params="vm.getLoadAllSchedulesParams()"
											is-select-all="vm.hasSelectedAllPeopleInEveryPage">
			</teamschedule-command-container>

			<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="teamschedule-settings-container">
				<settings></settings>
			</md-sidenav>
		</div>

		<div class="teamschedule-footer">
			<div ng-if="vm.commandPanelClosed()">
				<div class="select-all" ng-show="vm.selectAllVisible()" ng-click="vm.selectAllForAllPages()">
					<a ng-href="javascript: void(0);"> {{'SelectAllPeopleInEveryPage' | translate}}</a>
				</div>
				<div class="select-all" ng-show="vm.hasSelectedAllPeople()" ng-click="vm.unselectAllForAllPages()">
					<a ng-href="javascript: void(0);"> {{'UnselectAllPeopleInEveryPage' | translate}}</a>
				</div>
			</div>

			<div class="pagination-navigator" ng-if="vm.paginationOptions.totalPages > 0">
				<md-select class="page-size-selector inline-block" ng-model="vm.paginationOptions.pageSize"
						   ng-change="vm.onPageSizeSelectorChange()" aria-label="page size">
					<md-option ng-repeat="option in vm.agentsPerPageSelection" ng-value="option">{{option}}</md-option>
				</md-select>
				<wfm-pagination pagination-options="vm.paginationOptions"
								get-data-for-page-callback="vm.loadSchedules"></wfm-pagination>
			</div>
		</div>
	</div>

	<staffing-info ng-if="vm.staffingEnabled" selected-date="vm.scheduleDate"
				   chart-height="vm.chartHeight" preselected-skills="vm.preselectedSkills"
				   use-shrinkage="vm.useShrinkage"
				   on-selected-skill-changed="vm.onSelectedSkillChanged(skill, skillGroup)"
				   on-use-shrinkage-changed="vm.onUseShrinkageChanged"></staffing-info>

	<schedule-change-notifier on-notification="vm.onPersonScheduleChanged"
							  schedule-date="vm.scheduleDate"
							  last-command-track-id="vm.lastCommandTrackId"></schedule-change-notifier>
</div>
