<div>
	<h5>Export Schedule</h5>
	<table class="wfm-table">
		<tbody>
			<tr>
				<td>{{'From' | translate}}</td>
				<td>
					<md-datepicker ng-model="vm.configuration.startDate" md-placeholder="{{'From' | translate}}"></md-datepicker>
				</td>
			</tr>
			<tr>
				<td>{{'To' | translate}}</td>
				<td>
					<md-datepicker ng-model="vm.configuration.endDate" md-placeholder="{{'To' | translate}}"></md-datepicker>
				</td>
			</tr>
			<tr>
				<td>{{'Groups' | translate}}</td>
				<td>
					<group-page-picker   group-pages="vm.availableGroups"
									   class="group-picker-container inline-block"
									   selected-groups="vm.configuration.selectedGroups"></group-page-picker>
				</td>
			</tr>
			<tr>
				<td>{{'Scenario' | translate}}</td>
				<td>
					<md-select ng-model="vm.configuration.scenarioId" placeholder="{{ 'Scenario'|translate }}">
						<md-option ng-repeat="scenario in vm.scenarios" ng-value="scenario.Id">{{::scenario.Name}}</md-option>
					</md-select>
				</td>
			</tr>
			
			<tr>
				<td>{{'Timezone' | translate}}</td>
				<td>
					<md-select ng-model="vm.configuration.timezoneId" placeholder="{{ 'Timezone'|translate }}">
						<md-option ng-repeat="timezone in vm.timezones" ng-value="timezone.Id">{{::timezone.Name}}</md-option>
					</md-select>
				</td>
			</tr>
			<tr>
				<td>{{'OptionalColumns' | translate}}</td>
				<td>
					<md-select multiple ng-model="vm.configuration.optionalColumnId" placeholder="{{ 'OptionalColumns'|translate }}">
						<md-option ng-repeat="optionalColumn in vm.optionalColumns" ng-value="optionalColumn.Id">{{::optionalColumn.Name}}</md-option>
					</md-select>
				</td>
			</tr>

		</tbody>
	</table>
</div>