<div>
	<h5>Export Schedule</h5>
	<table class="wfm-table">
		<tbody>
			<tr>
				<td>{{'Groups' | translate}}</td>
				<td>
					<group-page-picker   group-pages="vm.availableGroups"
									   class="group-picker-container inline-block"
									   selected-groups="vm.configuration.selectedGroups"></group-page-picker>
				</td>
			</tr>
			<tr>
				<td>{{'Scenario' | translate}}</td>
				<td>
					<md-select ng-model="vm.configuration.scenarioId" placeholder="{{ 'Scenario'|translate }}">
						<md-option ng-repeat="scenario in vm.scenarios" ng-value="scenario.Id">{{::scenario.Name}}</md-option>
					</md-select>
				</td>
			</tr>
		</tbody>
	</table>
</div>