<div class="fav-search-panel material-depth-2">
	<div class="fav-search-header">
		<input type="text" class="name" placeholder="{{'Name'|translate}}..." ng-keydown="$event.which === 13 && $ctrl.save()" ng-model="$ctrl.currentName" ng-maxlength="50" ng-required="true"/>
		
		<button class="wfm-btn wfm-btn-sm pull-right" ng-click="$ctrl.save()" ng-class="{'wfm-btn-invis-primary':$ctrl.enableSave(), 'wfm-btn-invis-disabled':!$ctrl.enableSave()}" ng-disabled="!$ctrl.enableSave()" ng-cloak translate>
			Save
		</button>
	</div>
	<md-divider ng-if="$ctrl.favoriteSearchList.length > 0"></md-divider>
	<md-list>
		<md-list-item ng-repeat="searchItem in $ctrl.favoriteSearchList" class="fav-search-item pointer" ng-mouseenter="showIcons = true" ng-mouseleave="showIcons = false">
			<div class="fav-search-item-container" ng-click="$ctrl.select(searchItem)">
				<span>
					{{searchItem.Name}}
				</span>

				<div class="pull-right" ng-click="$event.stopPropagation()">
					<div class="default-favorite" ng-class="{'visible':showIcons || searchItem.IsDefault, 'invisible':!showIcons}">
						<span ng-click="$ctrl.toggleDefault(searchItem.Name)">
							<i ng-class="{ 'mdi-star':searchItem.IsDefault, 'mdi-star-outline':!searchItem.IsDefault}" class="mdi"></i>
						</span>
						<md-tooltip class="multiline-tooltip">
							<div ng-if="!searchItem.IsDefault" translate>SetAsDefault</div>
							<div ng-if="searchItem.IsDefault" translate>RemoveDefault</div>
						</md-tooltip>
					</div>
					<span ng-class="{'visible':showIcons, 'invisible':!showIcons}"ng-click="$ctrl.delete(searchItem.Name)">
						<i class="mdi mdi-close"></i>
						<md-tooltip><span translate>Remove</span></md-tooltip>
					</span>
				</div>
			</div>
		</md-list-item>
	</md-list>
</div>
