<div class="move-shift">
	<div class="sidenav-header">{{'MoveShift'|translate}}</div>
	<md-content class="command-panel-content" layout-padding>
		<form name="moveShiftForm">
			<md-progress-linear ng-if="$ctrl.checkingCommand" md-mode="indeterminate"></md-progress-linear>
			<h3>{{'StartTime' | translate}}:</h3>
			<div uib-timepicker class="focus-default" ng-model="$ctrl.moveToTime" required show-meridian="$ctrl.showMeridian" meridians="$ctrl.meridians"></div>
			<div class="wfm-switch">
				<input type="checkbox" id="mvActNextDay" ng-model="$ctrl.nextDay" />
				<label for="mvActNextDay">
					<span class="wfm-switch-label">{{"NextDay" | translate}}</span>
					<span class="wfm-switch-toggle"></span>
				</label>
			</div>
		</form>
		<div ng-if="$ctrl.anyInvalidAgent()">
			<i class="mdi mdi-alert-octagon"></i>
			<span>{{'TheNewTimeIsNotAllowedFor'|translate}} {{$ctrl.invalidPeople()}}.</span>
		</div>
		<button id="applyMoveShift" class="wfm-btn form-submit"
				ng-class="{ 'wfm-btn-primary': $ctrl.anyValidAgent() && moveShiftForm.$valid && !$ctrl.checkingCommand, 'wfm-btn-primary-disabled': !$ctrl.anyValidAgent() || !moveShiftForm.$valid || $ctrl.checkingCommand}"
				ng-disabled="$ctrl.checkingCommand || !$ctrl.anyValidAgent() || !moveShiftForm.$valid"
				ng-click="$ctrl.moveShift()">
			{{'Apply' | translate}}
		</button>
	</md-content>
</div>
