<modal-dialog show='vm.noteInputOption.showEditor' ng-cloak>
	<h1 class="modal-title" translate>{{vm.label}}</h1>
	<div class="modal-inner-content internal-note">
		<textarea ng-model="vm.internalNotes"></textarea>
	</div>
	<div class="modal-actions">
		<aside>
			<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.submit()">{{ 'Submit' | translate }}</button>
			<button class="wfm-btn wfm-btn-invis-primary" ng-click="vm.cancel()">{{ 'Cancel' | translate }}</button>
		</aside>
	</div>
</modal-dialog>
