<modal-dialog show="vm.noteInputOption.showEditor" ng-cloak>
	<div class="wfm-slide-tabs tabbed-panel">
		<h1 class="modal-title" translate>{{'EditNote'}}</h1>
		<md-tabs md-dynamic-height md-border-bottom class="md-padding">
			<md-tab label="{{'InternalNote' | translate}}">
				<md-content class="md-padding">
					<div class="modal-inner-content internal-note">
						<textarea ng-model="vm.internalNotes" maxlength="255"></textarea>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="{{'PublicNote' | translate}}">
				<md-content class="md-padding">
					<div class="modal-inner-content public-note">
						<textarea ng-model="vm.publicNotes" maxlength="255"></textarea>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>

	<div class="modal-actions">
		<aside>
			<button class="wfm-btn wfm-btn-invis-default" id="cancel-note-edit" ng-click="vm.cancel()">{{ 'Cancel' | translate }}</button>
			<button class="wfm-btn wfm-btn-invis-primary" id="submit-note" ng-click="vm.submit()">{{ 'Save' | translate }}</button>
		</aside>
	</div>
</modal-dialog>
