<div layout="row">
	<md-input-container>
		<label>Organization</label>
		<md-select ng-model="$ctrl.selectedGroups"
				   md-selected-text="$ctrl.shortDisplayNameOfTheSelected()"
				   md-on-close="$ctrl.onSelectionDone()"
				   data-md-container-class="selectdemoSelectHeader"
				   multiple>
			<!--<md-select-header class="demo-select-header">
				<input ng-model="$ctrl.searchTerm"
					   type="search"
					   placeholder="Search for a team.."
					   class="demo-header-searchbox md-text">
			</md-select-header>-->
			<md-optgroup ng-repeat="site in $ctrl.groupList">
				<md-checkbox ng-checked="$ctrl.isSiteChecked(site.teams)" ng-click="$ctrl.toggleSite(site.teams)" ng-value="site.id">{{site.name | filter:$ctrl.searchTeam}}</md-checkbox>
				<md-option ng-value="team.id" ng-repeat="team in site.teams |
			  filter:$ctrl.searchTerm">{{team.name}}</md-option>
			</md-optgroup>
		</md-select>
	</md-input-container>
</div>