<table class="table" ng-if="vm.scheduleVm.Schedules.length > 0">
	<thead>
		<tr>
			<th class="person-name-column">
				<md-checkbox
					ng-model="vm.toggleAllInCurrentPage"
					ng-change="vm.updateAllSelectionInCurrentPage(vm.toggleAllInCurrentPage)"
				>
					{{ 'AgentName' | translate }}
				</md-checkbox>
				<sort-agent ng-model="vm.selectedSortOption" class="pull-right sort-agent"></sort-agent>
			</th>
			<th class="shift-category-cell"></th>
			<th id="time-line-container" class="schedule schedule-column">
				<time-line
					times="vm.scheduleVm.TimeLine.HourPoints"
					schedule-count="vm.scheduleVm.Schedules.length"
					is-schedule-in-editing="!!vm.scheduleInEditing"
				>
				</time-line>
			</th>
			<th class="schedule-tool-column"></th>
			<th class="schedule-tool-column"></th>
			<th class="contract-time-column">{{ 'ContractTime' | translate }}</th>
		</tr>
	</thead>
	<tbody ng-style="::vm.tableStyle" ng-class="{'has-selected':vm.totalSelectedProjections() != 0 }">
		<tr
			ng-class="{'in-editing': vm.isScheduleInEditing(personSchedule)}"
			ng-repeat-start="personSchedule in vm.scheduleVm.Schedules"
			ng-click="vm.togglePerson(personSchedule, $event)"
		>
			<td class="person-name-column">
				<div class="inline-block">
					<label>
						<md-checkbox
							ng-model="personSchedule.IsSelected"
							ng-change="vm.updatePersonSelection(personSchedule)"
							aria-label="Checkbox"
						>
							{{::personSchedule.Name}}
						</md-checkbox>
						<span class="timezone-tip" ng-if="vm.isNotSameTimezone(personSchedule.Timezone)">
							<i class="mdi mdi-earth"></i>
							<md-tooltip md-direction="right">
								{{::personSchedule.Timezone.DisplayName}}
							</md-tooltip>
						</span>
					</label>
				</div>

				<span class="validate-warning" ng-if="vm.showWarnings">
					<span ng-if="!!vm.checkBusinessRulesWarningMessage(personSchedule.PersonId).length">
						<span class="warning-icon">
							<i class="mdi mdi-account-alert"></i>
						</span>
						<md-tooltip class="multiline-tooltip max-width-600" md-direction="right">
							<span
								ng-bind-html="vm.checkBusinessRulesWarningMessage(personSchedule.PersonId) | br"
							></span>
						</md-tooltip>
					</span>
				</span>
			</td>

			<td class="shift-category-cell">
				<i class="mdi mdi-information mdi-alert info" ng-if="personSchedule.HasUnderlyingSchedules()"></i>
				<span
					id="name"
					ng-if="::personSchedule.ShiftCategory.Name"
					ng-click="vm.modifyShiftCategoryForAgent($event, personSchedule)"
					ng-style="{background: personSchedule.ShiftCategory.DisplayColor, color: personSchedule.ShiftCategory.TextColor}"
				>
					{{::personSchedule.ShiftCategory.ShortName}}
				</span>

				<md-tooltip
					ng-if="!!personSchedule.ShiftCategory.Name || personSchedule.HasUnderlyingSchedules()"
					class="multiline-tooltip"
					md-direction="right"
				>
					<div ng-if="::personSchedule.ShiftCategory.Name">{{::personSchedule.ShiftCategory.Name}}</div>
					<underlying-schedule-info
						person-schedule="personSchedule"
						date="vm.selectedDate"
					></underlying-schedule-info>
				</md-tooltip>
			</td>

			<td class="schedule schedule-column">
				<div class="relative time-line-for">
					<span
						class="dayoff absolute"
						ng-repeat="dayOff in personSchedule.DayOffs"
						ng-style="{left: dayOff.StartPosition + '%', width: dayOff.Length + '%'}"
					>
						<md-tooltip ng-if="!!dayOff.DayOffName">{{::dayOff.DayOffName}}</md-tooltip>
					</span>
					<div class="shift" ng-repeat="shift in personSchedule.Shifts">
						<div
							class="layer absolute pull-left"
							ng-repeat="projection in shift.Projections"
							projection-name="{{::projection.Description}}"
							ng-style="{left: projection.StartPosition + '%', width: projection.Length + '%', backgroundColor: projection.Color}"
							ng-class="{
							 'overtime-light': projection.IsOvertime && projection.UseLighterBorder,
							 'overtime-dark': projection.IsOvertime && !projection.UseLighterBorder,
							 'selected': projection.Selected,
							 'lighter-border': projection.UseLighterBorder,
							 'unselectable': !projection.Selectable(),
							 'same-type-as-last': projection.ShowDividedLine}"
							ng-click="vm.ToggleProjectionSelection(projection, vm.selectedDate)"
						>
							<md-tooltip class="multiline-tooltip">
								<div>{{::projection.Description}}</div>
								<div>{{::projection.TimeSpan}}</div>
							</md-tooltip>
						</div>
					</div>
					<div ng-if="personSchedule.HasHiddenScheduleAtStart()" class="start-ellipsis">
						<i class="mdi mdi-chevron-double-left white-color-text"></i>
					</div>
					<div ng-if="personSchedule.HasHiddenScheduleAtEnd()" class="end-ellipsis">
						<i class="mdi mdi-chevron-double-right"></i>
					</div>
				</div>
			</td>
			<td class="schedule-tool-column">
				<span
					class="editor cursorpointer"
					ng-if="::vm.showEditButton(personSchedule)"
					ng-click="vm.clickEditButton(personSchedule)"
					><i class="mdi mdi-pencil"></i
				></span>
			</td>
			<td
				class="schedule-tool-column schedule-note-column"
				ng-click="vm.editScheduleNote(personSchedule.PersonId)"
			>
				<span
					class="cursorpointer"
					ng-class="{'has-note': vm.getScheduleNoteForPerson(personSchedule.PersonId).hasNote}"
				>
					<i class="mdi mdi-comment"></i>
				</span>
				<md-tooltip
					class="multiline-tooltip max-width-600 truncated"
					md-direction="left"
					ng-if="vm.getScheduleNoteForPerson(personSchedule.PersonId).hasNote"
				>
					{{ vm.getScheduleNoteForPerson(personSchedule.PersonId).internalNotes }}
					<md-divider
						style="background-color: white"
						ng-if="!!vm.getScheduleNoteForPerson(personSchedule.PersonId).publicNotes.length"
					></md-divider>
					{{ vm.getScheduleNoteForPerson(personSchedule.PersonId).publicNotes }}
				</md-tooltip>
			</td>
			<td class="contract-time-column">{{::personSchedule.ContractTime}}</td>
		</tr>
		<tr class="shift-editor-row" ng-repeat-end ng-if="vm.isScheduleInEditing(personSchedule)">
			<td colspan="6">
				<shift-editor
					date="vm.selectedDate"
					timezone="vm.selectedTimezone"
					person-id="personSchedule.PersonId"
					raw-schedule="vm.getRawSchedule(personSchedule.PersonId)"
				></shift-editor>
			</td>
		</tr>
	</tbody>
</table>
<note-editor
	ng-if="vm.noteEditorInputOption && vm.noteEditorInputOption.showEditor"
	note-input-option="vm.noteEditorInputOption"
	tabindex="205"
></note-editor>
