<div class="con-row">
	<div class="con-flex">
		<span>
			<span class="name">{{vm.scheduleVm.Name}}</span>
			<i ng-if="vm.isInDifferentTimezone" class="mdi mdi-earth"></i>
		</span>
		<span class="date">
			<i class="mdi mdi-calendar"></i>
			<span>{{vm.displayDate }}</span>
		</span>

		<span class="timezone">{{vm.timezoneName}}</span>
		<span ng-if="vm.scheduleVm.HasUnderlyingSchedules">
			<span class="underlying-info">
				<i class="mdi mdi-information mdi-alert info"></i>
			</span>
			<md-tooltip class="multiline-tooltip" md-direction="right">
				<underlying-schedule-info person-schedule="vm.scheduleVm" date="vm.date"></underlying-schedule-info>
			</md-tooltip>
		</span>
		<span>
			<button type="button" class="wfm-btn wfm-btn-invis-default btn-refresh" ng-class="{'wfm-btn-primary': vm.scheduleChanged}" ng-disabled="!vm.scheduleChanged" ng-click="vm.refreshData()">{{ 'Refresh'|translate }}</button>
		</span>

	</div>
</div>

<div class="con-row activity-info">
	<div class="con-flex">
		<div ng-if="vm.selectedShiftLayer">
			<span class="timespan">{{vm.selectedShiftLayer.TimeSpan}}</span>
			<span>
				<md-select class="activity-selector" ng-model="vm.selectedActivitiyId" ng-change="vm.changeActivityType()" required placeholder="{{'SelectAnActivity'|translate}}">
					<md-option ng-repeat="activity in vm.availableActivities" ng-value="activity.Id">
						<div class="type-color" ng-style="{'background-color': activity.Color}"></div>
						<div class="type-name"> {{activity.Name}}</div>
					</md-option>
				</md-select>
			</span>
		</div>
	</div>
</div>

<div class="shift-container con-row">
	<div class="viewport-clip con-flex">
		<div class="viewport">
			<div class="timeline">
				<div class="scroll-toolbar">
					<span class="left-scroll" ng-show="vm.showScrollLeftButton" ng-click="vm.scroll(-60)"><i class="mdi mdi-chevron-left"></i></span>
					<span class="right-scroll" ng-show="vm.showScrollRightButton" ng-click="vm.scroll(60)"><i class="mdi mdi-chevron-right"></i></span>
				</div>
				<div ng-repeat="interval in vm.timelineVm.Intervals" class="interval">
					<div class="time-label">
						<span class="label label-info" ng-class="{'highlight': vm.isSameDate(interval)}">{{ interval.Label}}</span>
					</div>
					<div class="ticks">
						<span ng-repeat="tick in interval.Ticks" class="tick" ng-class="{'half-hour': tick.IsHalfHour, 'hour':tick.IsHour}"></span>
					</div>
				</div>
			</div>

			<div class="shift" ng-class="{'has-selected': !!vm.selectedShiftLayer}">
				<div class="shift-layer"
					 ng-class="{
					 'overtime': shiftLayer.IsOvertime,
					 'overtime-light': shiftLayer.UseLighterBorder(),
					 'overtime-dark': !shiftLayer.UseLighterBorder(),
					 'selected': shiftLayer === vm.selectedShiftLayer,
					 'border-dark': !shiftLayer.UseLighterBorder(),
					 'border-light': shiftLayer.UseLighterBorder()}"
					 ng-style="{'width':vm.getShiftLayerWidth(shiftLayer) +'px', 'background-color': shiftLayer.Color, 'left': vm.getShiftLayerLeft(shiftLayer) + 'px'}"
					 ng-click="vm.toggleSelection(shiftLayer)"
					 ng-repeat="shiftLayer in vm.scheduleVm.ShiftLayers"></div>
			</div>
		</div>

	</div>
</div>

<div class="con-footer">
	<button type="button" class="wfm-btn wfm-btn-invis-default btn-back" ng-click="vm.gotoDayView()">{{ 'Back'|translate }}</button>
	<button type="button" class="wfm-btn wfm-btn-invis-default btn-save" ng-click="vm.saveChanges()" ng-disabled="vm.isSaveButtonDisabled()">{{ 'Save'|translate }}</button>
</div>
