<div class="con-row">
	<div class="con-flex">
		<span class="name">{{vm.scheduleVm.Name}}</span>
		<span class="date">{{vm.displayDate }}</span>
		<span class="timezone">{{vm.timezoneName}}</span>
		<span ng-if="vm.scheduleVm.HasUnderlyingSchedules">
			<span class="underlying-info">
				<i class="mdi mdi-information mdi-alert info"></i>
			</span>
			<md-tooltip class="multiline-tooltip" md-direction="right">
				<underlying-schedule-info person-schedule="vm.scheduleVm" date="vm.date"></underlying-schedule-info>
			</md-tooltip>
		</span>

	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="activity-info">
			<div ng-if="vm.selectedShiftLayer">
				<span class="timespan">{{vm.selectedShiftLayer.TimeSpan}}</span>
				<span class="activity-type">{{vm.selectedShiftLayer.Description}}</span>
			</div>
		</div>
	</div>
</div>

<div class="shift-container con-row">
	<div class="viewport-clip con-flex">
		<div class="viewport">
			<div class="timeline">
				<div class="scroll-toolbar">
					<span class="left-scroll" ng-show="vm.showScrollLeftButton" ng-click="vm.scroll(-60)"><i class="mdi mdi-chevron-left"></i></span>
					<span class="right-scroll" ng-show="vm.showScrollRightButton" ng-click="vm.scroll(60)"><i class="mdi mdi-chevron-right"></i></span>
				</div>
				<div ng-repeat="interval in vm.timelineVm.Intervals" class="interval">
					<div class="label label-info" ng-class="{'highlight': vm.isSameDate(interval)}">
						<span>{{ interval.Label}}</span>
					</div>
					<div class="ticks">
						<span ng-repeat="tick in interval.Ticks" class="tick" ng-class="{'half-hour': tick.IsHalfHour, 'hour':tick.IsHour}"></span>
					</div>
				</div>
			</div>

			<div class="shift" ng-class="{'has-selected': !!vm.selectedShiftLayer}">
				<div class="shift-layer"
					 ng-class="{
					 'overtime': shiftLayer.IsOvertime,
					 'overtime-light': shiftLayer.UseLighterBorder,
					 'overtime-dark': !shiftLayer.UseLighterBorder,
					 'selected': shiftLayer.Selected,
					 'border-dark': !shiftLayer.UseLighterBorder,
					 'border-light': shiftLayer.UseLighterBorder}"
					 ng-style="{'width':vm.getShiftLayerWidth(shiftLayer) +'px', 'background-color': shiftLayer.Color, 'left': vm.getShiftLayerLeft(shiftLayer) + 'px'}"
					 ng-click="vm.toggleSelection(shiftLayer)"
					 ng-repeat="shiftLayer in vm.scheduleVm.ShiftLayers"></div>
			</div>
		</div>

	</div>
</div>