<div class="shift-editor">
	<div class="view-header">
		<div class="view-title">
			<h1 style="text-transform: capitalize;">
				<i class="mdi mdi-account-multiple"></i>
				<span>{{ 'ShiftEditor'|translate }}</span>
			</h1>
		</div>
	</div>
	<div class="panel material-depth-1">
		<div class="con-row">
			<div class="con-flex">
				<span class="name">{{ vm.personSchedule.Name}} </span>
			</div>
			<div class="con-flex" ng-if="personSchedule.HasUnderlyingSchedules()">
				<span class="underlying-info">
					<i class="mdi mdi-information mdi-alert info"></i>
				</span>
				<md-tooltip class="multiline-tooltip" md-direction="right">
					<div ng-if="::personSchedule.ShiftCategory.Name">{{::personSchedule.ShiftCategory.Name}}</div>
					<underlying-schedule-info person-schedule="personSchedule" date="vm.selectedDate"></underlying-schedule-info>
				</md-tooltip>
			</div>
		</div>
		<div class="con-row">
			<span class="date">{{vm.personSchedule.Date }}</span>
		</div>
	</div>
</div>
