<div class="staffing-panel">
	<div class="con-row staffing-header">
		<div class="con-flex">
			<the-skill-picker skills="vm.skills"
							  skill-groups="vm.skillGroups"
							  on-skill-selected="vm.clickedSkillInPicker(skill)"
							  on-skill-group-selected="vm.clickedSkillGroupInPicker(skillGroup)"
							  preselected-skill="vm.selectedSkill"
							  preselected-skill-group="vm.selectedSkillGroup">
			</the-skill-picker>

		</div>
		<div class="con-flex">
			<md-checkbox ng-checked="vm.useShrinkage" ng-click="vm.useShrinkageForStaffing()">
				{{'UseShrinkage'| translate}}
			</md-checkbox>
		</div>
	</div>

	<div class="skills-row-wrapper" ng-if="!!vm.selectedSkillGroup">
		<div class="con-flex">
			<div>
				<div class="animate-show con-row skills-row">
					<div class="skills-content con-flex nooverflow">
						<div class="wfm-chip-wrap skill"
							 ng-repeat="skill in vm.selectedSkillGroup.Skills | orderBy : Name">
							<span class="wfm-chip">
								<span class="chip-handle">
									<i ng-class="vm.getSkillIcon(skill)"></i>
								</span>
								<span class="chip-text">{{skill.Name}}</span>
							</span>
						</div>
					</div>
					<div class="skills-tools" ng-if="vm.isSkillGroupDetailToggleVisible()">
						<div class="wfm-chip-wrap" ng-if="!vm.isSkillsToggled()" ng-click="vm.toggleSkills()">
							<span class="wfm-chip">
								<span class="chip-handle">
									<i class="mdi mdi-dots-horizontal"></i>
								</span>
							</span>
						</div>
						<div class="wfm-chip-wrap" ng-if="vm.isSkillsToggled()" ng-click="vm.toggleSkills()">
							<span class="wfm-chip">
								<span class="chip-handle">
									<i class="mdi mdi-chevron-up"></i>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<md-progress-linear ng-if="vm.isLoading" md-mode="indeterminate"></md-progress-linear>
		<div class="con-row" ng-if="vm.showStaffingInfo()">
			<div class="con-flex">
				<div class="wfm-chart intraday-chart" id="staffingChart"></div>
			</div>
		</div>
		<div class="con-row" ng-if="!vm.showStaffingInfo()">
			<div class="con-flex line-center nodata">
				<i class="mdi mdi-information-outline line-center"></i>
				<h1>{{'NoDataAvailable' | translate}}</h1>
			</div>
		</div>
	</div>
</div>