
<div>
	<h3>{{'Time'|translate}}: </h3>
	<div class="con-row">
		<teams-time-picker required
						   ng-model="$ctrl.timeRange.startTime"
						   minute-step="$ctrl.minuteStep"
						   timezone="$ctrl.timezone"
						   date="$ctrl.startDate"
						   ng-change="$ctrl.onTimeRangeChange()"></teams-time-picker>
		<div>—</div>
		<teams-time-picker required
						   ng-model="$ctrl.timeRange.endTime"
						   minute-step="$ctrl.minuteStep"
						   timezone="$ctrl.timezone"
						   date="$ctrl.endDate"
						   ng-change="$ctrl.onTimeRangeChange()"></teams-time-picker>
	</div>

	<div class="con-row">
		<md-switch ng-model="$ctrl.isNextDay" ng-disabled="$ctrl.disableNextDay()" ng-change="$ctrl.onIsNextDayChanged()">
			<span>{{'NextDay' | translate}}</span>
		</md-switch>
	</div>
</div>