<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="teamschedule-command-container">
	<div class="teamschedule-command-container">
		<div ng-if="vm.ready" style="height: 100%;">
			<add-activity ng-repeat="activityCommand in vm.activityCommands" command="activityCommand" ng-if="!vm.activeCommandCheck() && vm.activeCmd == activityCommand.key"></add-activity>
			<add-overtime ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddOvertimeActivity'"></add-overtime>
			<remove-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveActivity'"></remove-activity>
			<swap-shifts ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'SwapShifts'"></swap-shifts>
			<add-absence ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddAbsence'"></add-absence>
			<remove-absence ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveAbsence'"></remove-absence>
			<move-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'MoveActivity'"></move-activity>
			<move-shift ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'MoveShift'"></move-shift>
			<move-overlapped-activity ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'MoveInvalidOverlappedActivity'"></move-overlapped-activity>
			<undo-schedule ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'Undo'"></undo-schedule>
			<modify-shift-category ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'EditShiftCategory'"></modify-shift-category>
			<command-check ng-if="vm.activeCommandCheck()"></command-check>
			<add-day-off ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'AddDayOff'"></add-day-off>
			<remove-day-off ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveDayOff'"></remove-day-off>
			<remove-shift ng-if="!vm.activeCommandCheck() && vm.activeCmd == 'RemoveShift'"></remove-shift>
		</div>
	</div>
</md-sidenav>