<span class="teamschedule-datepicker inline-block relative">
	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" ng-click="vm.gotoPreviousDate()" ng-hide="vm.isMiniMode">
		<i class="mdi mdi-chevron-double-left"></i>
	</button>

	<input type="text" id="teamschedule-datepicker-input" class="pointer" ng-model="vm.shortDateFormat" ng-model-options="{ updateOn: 'blur change', allowInvalid: false }" placeholder="YYYY-MM-DD" teams-short-date
		   ng-change="vm.onDateInputChange(vm.shortDateFormat)" />

	<div class="wfm-datepicker-wrap" ng-if="vm.isCalendarOpened">
		<div uib-datepicker ng-model="vm.selectedDate" class="wfm-datepicker" ng-change="vm.afterDateChangeDatePicker()" datepicker-options="vm.options"></div>
	</div>

	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm toggle-datepicker" ng-click="vm.toggleCalendar()">
		<i class="mdi mdi-calendar"></i>
	</button>

	<button type="button" class="wfm-btn wfm-btn-invis-primary wfm-btn-sm" ng-click="vm.gotoNextDate()" ng-hide="vm.isMiniMode">
		<i class="mdi mdi-chevron-double-right"></i>
	</button>
</span>