<div class="underlying-info">
	<div ng-if="!!$ctrl.personSchedule.UnderlyingScheduleSummary.PersonalActivities && !!$ctrl.personSchedule.UnderlyingScheduleSummary.PersonalActivities.length">{{'PersonalActivity' | translate}}</div>
	<div ng-repeat="info in $ctrl.personSchedule.UnderlyingScheduleSummary.PersonalActivities" style="margin-left:10px;">
		{{ info.Description }}: {{ info.TimeSpan }}
	</div>
	<div ng-if="!!$ctrl.personSchedule.UnderlyingScheduleSummary.PersonPartTimeAbsences" ng-repeat="info in $ctrl.personSchedule.UnderlyingScheduleSummary.PersonPartTimeAbsences">
		{{ info.Description }}: {{ info.TimeSpan }}
	</div>
	<div ng-if="!!$ctrl.personSchedule.UnderlyingScheduleSummary.PersonMeetings" ng-repeat="info in $ctrl.personSchedule.UnderlyingScheduleSummary.PersonMeetings">
		{{ info.Description }}: {{ info.TimeSpan }}
	</div>
</div>