<div class="view-changer-wrapper">
    <div class="view-changer">
        <div class="view-option">
            <label ng-click="vm.changeView(vm.viewStateMap['day']);">
				<input type="radio" name="schedule-view" class="view-option-radio" ng-value="vm.viewStateMap['day']"  ng-model="vm.viewState" tabindex="0"/>
				<div class="view-name"><div translate>Day</div></div>        
			</label>
        </div>
        <div class="view-option">
            <label ng-click="vm.changeView(vm.viewStateMap['week']);">
				<input type="radio" name="schedule-view" class="view-option-radio" ng-value="vm.viewStateMap['week']" ng-model="vm.viewState" tabindex="0"/>
				<div class="view-name"><div translate>Week</div></div>
			</label>
        </div>
    </div>
</div>
