<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-calendar"></i> {{'SchedulePlanningGroup' | translate}} - {{vm.planningGroup.Name}}</h1>
		<div class="pp-sub-title">
			<span ng-hide="vm.selectedPp">{{'SelectPpToSchedulePlanningGroup' | translate}} </span>
		</div>
	</div>
</div>
<div class="con-row" ng-if="!vm.isNonePp()">
	<div class="con-flex">
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<div class="wfm-filter-container">
						<label for="filter" class="input-icon">
							<i class="mdi mdi-filter-outline">
								<input type="text" id="filter" ng-model="vm.filterTime" placeholder="{{'FilterPlanningPeriods' | translate}}">
								<md-tooltip>{{'FilterPlanningPeriods' | translate}} </md-tooltip>
							</i>
						</label>
					</div>
				</div>
				<div class="con-flex x3">
					<button class="wfm-btn wfm-btn-invis-default create-next-planning-period" ng-click="vm.startNextPlanningPeriod()"><i class="mdi mdi-plus"></i>{{'CreateNextPp' | translate}}</button>
					<span class="pp-label"><i class="mdi mdi-checkbox-blank-circle pp-scheduled-label"></i> {{'SchedulingSucceeded' | translate}}</span>
					<span class="pp-label"><i class="mdi mdi-checkbox-blank-circle pp-scheduled-failed-label"></i> {{'SchedulingFailed' | translate}}</span>
					<button class="wfm-btn wfm-btn-invis-disabled" ng-click=""><i class="mdi mdi-information-outline"></i> {{'HelpLabel' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wfm-grid">
	<div class="grid-card planingperiod-container" ng-repeat="p in vm.planningPeriods track by p.Id | filter: vm.filterTime ">
		<div class="list-content plan-group-pp" >
			<div class="list-header" ng-class="{'pp-scheduled':p.State == 'Scheduled', 'pp-scheduled-failed':p.State == 'ScheduleFailed'|| p.State == 'IntradayOptimizationFailed'}">
				<h1>{{p.StartDate | amDateFormat:"LL"}} - {{p.EndDate | amDateFormat:"LL"}}</h1>
				<div class="subtext">{{p.Number}} {{p.Type | translate}}</div>
			</div>
			<div class="list-header-content">
				<div tabindex=0 class="context-menu card-context" ng-if="$first" ng-click="vm.getLastPp(p);$event.stopPropagation();">
					<i class="mdi mdi-pencil"></i>
					<md-tooltip>{{'ChangePlanningDuration' | translate}}</md-tooltip>
				</div>
				<div tabindex=0 class="context-menu card-context" ng-if="$first && vm.planningPeriods.length > 1" ng-click="vm.getPpInfo(p);$event.stopPropagation();">
					<i class="mdi mdi-delete"></i>
					<md-tooltip>{{'DeletePlanningPeriod' | translate}}</md-tooltip>
				</div>
				<button class="wfm-btn wfm-btn-invis-primary pull-right" ng-click="vm.selectPp(p)">{{'Schedule' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-box" ng-show="vm.confirmDeletePpModal">
	<div class="modalbg">
		<div class="dialog-mini material-depth-1">
			<div class="modal-inner-content">
				<h3>{{'DeletePlanningPeriod' | translate}}</h3>
				{{vm.textForDeletePp}}
			</div>
			<div class="modal-actions">
				<aside>
					<button ng-click="vm.confirmDeletePpModal=false" class="wfm-btn wfm-btn-invis-default" translate>Cancel</button>
					<button ng-click="vm.deleteLastPp(vm.planGroup.Id);" class="wfm-btn wfm-btn-invis-primary" translate>Delete</button>
				</aside>
			</div>
		</div>
	</div>
</div>
<div class="con-row" ng-if="vm.isNonePp()">
	<div class="con-flex">
		<div class="line-center">
			<i class="mdi mdi-information-outline huge-icon line-center"></i>
			<h2>{{'YouNeedAPlanningPeriodToScheduleYourAgentsDoYouWantToCreateAPlanningPeriodQuestion' | translate}}</h2>
			<button class="wfm-btn wfm-btn-primary create-planning-period" ng-click="vm.openCreatePpModal = true;">{{'CreatePlanningPeriod' | translate}}</button>
		</div>
	</div>
</div>
<div class="con-row">
	<div class="con-flex pp-modal">
		<div ng-cloak class="modal-box" ng-show="vm.modifyLastPpModal">
			<div class="modalbg">
				<div class="dialog material-depth-1">
					<div class="modal-inner-content">
						<h3>{{'ChangePlanningPeriodDurationColon' | translate}} {{vm.originLastPp.startDate | amDateFormat:"L"}} - {{vm.originLastPp.endDate
							| amDateFormat:"L"}}</h3>
						<div class="con-row">
							<label ng-if="!vm.dateIsChanged && vm.planningPeriods.length > 1">
									<i class="mdi mdi-information-outline"></i> {{'ModifyEndDateForThisPlanningPeriodDot' | translate}}</label>
							<label ng-if="!vm.dateIsChanged && vm.planningPeriods.length == 1"><i class="mdi mdi-information-outline"></i> {{'ModifyStartAndEndDateForThisPlanningPeriodDot' | translate}}</label>
							<label ng-if="vm.dateIsChanged" class="text-warning">
								    <i class="mdi mdi-alert"></i>
									{{vm.textForChangeThisPpMeg}}
								</label>
						</div>
						<div class="con-row">
							<date-range-picker class="pp-datepicker" ng-model="vm.lastPp" ng-change="vm.isDateChanged()"></date-range-picker>
						</div>
					</div>
					<div class="modal-actions">
						<aside>
							<button ng-click="vm.modifyLastPpModal=false" class="wfm-btn wfm-btn-invis-default" translate>
									Cancel
								</button>
							<button ng-class="{'wfm-btn-invis-primary':vm.dateIsChanged, 'wfm-btn-invis-disabled': !vm.dateIsChanged}" ng-disabled="!vm.dateIsChanged"
							 ng-click="vm.changeDateForLastPp(vm.lastPp);" class="wfm-btn save-planning-period" translate>
									Apply
								</button>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="con-row">
	<div class="con-flex pp-modal">
		<div ng-cloak class="modal-box" ng-show="vm.openCreatePpModal">
			<div class="modalbg">
				<div class="dialog material-depth-1">
					<div class="modal-inner-content">
						<h3>{{'CreateFirstPlanningPeriod' | translate}}</h3>
						<div class="con-row">
							<div class="con-flex">
								<div class="wfm-chip-wrap" ng-repeat="s in vm.suggestions | limitTo: 10">
									<span class="wfm-chip" ng-click="vm.selectSuggestion(s)">
										<span class="chip-handle">{{s.Number}}{{s.PeriodType}}</span>
									<span class="chip-text">{{s.StartDate | amDateFormat:"LL"}} - {{s.EndDate | amDateFormat:"LL"}}</span>
									</span>
								</div>
							</div>
						</div>
						<div class="con-row">
							<label ng-show="!vm.selectedIsChanged"><i class="mdi mdi-information-outline"></i>{{'SelectASuggestedPeriodToWorkWithOrPickStartAndEndDateDirectlyDot' | translate}}</label>
							<label ng-show="vm.selectedIsChanged" class="text-warning"><i class="mdi mdi-alert"></i>{{vm.textForCreatePpMeg}}</label>
						</div>
						<div class="con-row">
							<date-range-picker class="pp-datepicker" ng-model="vm.selectedSuggestion" ng-change="vm.isSelectedChanged()"></date-range-picker>
						</div>
					</div>
					<div class="modal-actions">
						<aside>
							<button ng-click="vm.resetSelectedSuggestion()" class="wfm-btn wfm-btn-invis-default " translate>Cancel</button>
							<button ng-class="{'wfm-btn-invis-primary':vm.selectedIsChanged, 'wfm-btn-invis-disabled': !vm.selectedIsChanged}" ng-disabled="!vm.selectedIsChanged"
							 ng-click="vm.createFirstPp()" class="wfm-btn apply-planning-period" translate>
									Apply
								</button>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>