<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-calendar"></i> {{'SchedulePlanningGroup' | translate}} - {{vm.planningGroup.Name}}</h1>
		<div class="pp-sub-title">
			<span>{{'SelectedPlanningPeriod' | translate}}: {{vm.selectedPp.StartDate | amDateFormat:"LL"}} - {{vm.selectedPp.EndDate | amDateFormat:"LL"}}</span>
			<span ng-if="vm.isDisable()" ng-bind="vm.status" class="pp-status"></span>
		</div>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div ng-if="vm.isDisable()" class="pp-progress test-schedule-is-running">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		<div class="wfm-toolbar material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<div class="wfm-toolbar-group-container">
						<div tabindex=0 class="context-menu card-context icon-botton-primary" ng-disabled="vm.isDisable()" ng-click="vm.launchSchedule()">
							<i class="mdi mdi-play"></i>
							<md-tooltip>{{'ScheduleVerb' | translate}}</md-tooltip>
						</div>
						<div tabindex=0 class="context-menu card-context icon-botton-primary" ng-disabled="vm.isDisable()" ng-click="vm.intraOptimize()">
							<i class="mdi mdi-source-pull"></i>
							<md-tooltip>{{'IntraOptimize' | translate}}</md-tooltip>
						</div>
						<div tabindex=0 class="context-menu card-context icon-botton-second" ng-disabled="vm.isDisable() || vm.dayNodes == null"
						 ng-click="vm.openModal()">
							<i class="mdi mdi-delete-forever"></i>
							<md-tooltip>{{'ClearScheduleResultAndHistoryData' | translate}}</md-tooltip>
						</div>
					</div>
					<div class="wfm-toolbar-group-container">
						<div tabindex=0 class="context-menu card-context icon-botton-primary" ng-disabled="vm.isDisable()" ng-click="vm.publishSchedule()">
							<i class="mdi mdi-publish"></i>
							<md-tooltip>{{'PublishSchedule' | translate}}</md-tooltip>
						</div>
					</div>
					<button class="wfm-btn wfm-btn-invis-default tabLink active" id="tabs1" ng-click="vm.showTab('tabs1')"><i class="mdi mdi-view-dashboard"></i> {{'Overview' | translate}}</button>
					<button class="wfm-btn wfm-btn-invis-default wfm-badge-wrapper tabLink" id="tabs2" ng-click="vm.showTab('tabs2')">
						<i class="mdi mdi-clipboard-alert"></i> 
						{{'Validation' | translate}}
						<wfm-badge badge-model="vm.valData.totalValNum" status="'notice-error'"></wfm-badge>	
					</button>
					<button class="wfm-btn wfm-btn-invis-default tabLink" id="tabs3" ng-click="vm.showTab('tabs3')"><i class="mdi mdi-settings"></i> {{'DayOffRules' | translate}}</button>
					<button class="wfm-btn wfm-btn-invis-default tabLink" id="tabs4" ng-click="vm.showTab('tabs4')"><i class="mdi mdi-information"></i> Planning Group Details</button>
					<button class="wfm-btn wfm-btn-invis-disabled" ng-click=""><i class="mdi mdi-information-outline"></i> {{'HelpLabel' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="con-row tabContent active" id="tabs-1">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="con-row dashborad-container">
				<div class="wfm-chip-wrap" ng-if="vm.valLoading" ng-click="vm.showTab('tabs2')">
					<span class="wfm-chip">
					<span class="chip-handle chip-error">
						...
					</span>
					<span class="chip-text">Validation is loading</span>
					</span>
					<md-tooltip>Validation is loading, it might takes few minute.</md-tooltip>
				</div>
				<div class="wfm-chip-wrap" ng-if="!vm.valLoading && vm.valData.totalValNum > 0" ng-click="vm.showTab('tabs2')">
					<span class="wfm-chip">
					<span class="chip-handle chip-error">
						{{vm.valData.totalValNum}}
					</span>
					<span class="chip-text">Validation Issues</span>
					</span>
					<md-tooltip>Validation Issues might have effects to the scheduled results</md-tooltip>
				</div>
				<div class="wfm-chip-wrap">
					<span class="wfm-chip">
					<span class="chip-handle">
						{{vm.scheduledAgents}}/{{vm.totalAgents}}
					</span>
					<span class="chip-text">Scheduled Agents</span>
					</span>
					<md-tooltip ng-show="vm.dayNodes">{{vm.scheduledAgents}}/{{vm.totalAgents}} {{'AgentsSuccessfullyScheduled'|translate}}</md-tooltip>
					<md-tooltip ng-hide="vm.dayNodes">{{vm.scheduledAgents}}/{{vm.totalAgents}} {{'AgentsHaveScheduled'|translate}}</md-tooltip>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex result-container ">
					<div class="legends" ng-show="vm.dayNodes">
						<h1>Scheduled Skills Heatmap</h1>
						<span>
							<div class="legend critUnderstaffed"></div>
							{{'CriticalUnderstaffingColon' | translate}}
						</span>
						<span>
							<div class="legend understaffed"></div>
							{{'UnderstaffingColon'|translate}}
						</span>
						<span>
							<div class="legend overstaffed"></div>
							{{'OverstaffingColon'|translate}}
						</span>
						<span>
							<div class="legend closed"></div>
							{{'Closed'|translate}}
						</span>
					</div>
					<div class="grid-scroll-wrap" ng-show="vm.dayNodes.length">
						<table ng-hide="dates.length > 0" class="overview">
							<col width="20px" />
							<tr ng-repeat="(index, subnode) in vm.dayNodes | limitTo:1 ">
								<th class="datehead" ng-repeat="datenode in subnode.SkillDetails">
									<p class="tabledate">{{datenode.Date | amDateFormat:"DD/MM" }}</p>
								</th>
							</tr>
							<tr ng-repeat="(index, subnode) in vm.dayNodes ">
								<td class="skillname">{{ subnode.SkillName }}</td>
								<td class="long" ng-repeat="node in subnode.SkillDetails" ng-class="{weekend: node.weekend}">
									<div class="resourceplanner-box" ng-class="{understaffed:node.ColorId==1,critUnderstaffed:node.ColorId==2,overstaffed:node.ColorId==3, closed: node.ColorId==4}">
										<md-tooltip>
											{{'RelativeDifference' | translate}}: {{node.parseDif}}% | {{subnode.SkillName}} | {{node.Date | amDateFormat:"L"}} 
										</md-tooltip>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div ng-show="vm.dayNodes.length == 0">
						<span><i class="mdi mdi-information-outline"></i> {{'NoValidScheduleResult' | translate}}</span><br/>
					</div>
					<div ng-show="vm.dayNodes == undefined">
						<span><i class="mdi mdi-information-outline"></i> {{'NoPreviousScheduleResult' | translate}}</span><br/>
						<span ng-show="vm.totalAgents == 0"><i class="mdi mdi-information-outline"></i> {{'NoAgentsWithinPlanningGroup' | translate}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tabContent" id="tabs-2" pp-validation val-data="vm.valData" val-loading="vm.valLoading" val-number="vm.valNumber()"></div>
<div class="con-row tabContent" id="tabs-3">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="con-row dashborad-container">
				<button ng-click="vm.goDoRulesSetting()" class="wfm-btn wfm-btn-invis-default"><i class="mdi mdi-settings"></i> {{'DayOffRuleSetting' | translate}}</button>
				<div class="wfm-chip-wrap">
					<span class="wfm-chip">
						<span class="chip-handle">
							<i class="mdi mdi-alert-circle"></i>
						</span>
					<span class="chip-text">The day off rules are applied for the planning group</span>
					</span>
				</div>
			</div>
			<div dayoff-rules is-disable="vm.isDisableDo" planning-group="vm.planningGroup"></div>
		</div>
	</div>
</div>
<div class="con-row tabContent" id="tabs-4">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<h2><i class="mdi mdi-information"></i> Planning Group Details</h2>
				<div class="subtext">View the details of the planning group</div>
			</div>
			<div planninggroup-Detail planning-group="vm.planningGroup"></div>
		</div>
	</div>
</div>
<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="vm.confirmModal">
		<div class="modalbg">
			<div class="dialog-mini material-depth-1">
				<div class="modal-inner-content">
					<h3 translate>ClearPlanningPeriod</h3>
					{{vm.textForClearPp}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="vm.confirmModal=false" class="wfm-btn wfm-btn-invis-default" translate>Cancel</button>
						<button ng-click="vm.confirmModal=false; vm.clearSchedules();" class="wfm-btn wfm-btn-invis-primary" translate>Clear</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>