<div class="con-row" ng-show="vm.valData.totalValNum == 0 ">
    <div class="con-flex">
        <span ng-if="!vm.valLoading"><i class="mdi mdi-information-outline"></i>{{'NoValidIssuesForPp' | translate}}</span>
        <span ng-if="vm.valLoading" class="text-warning">
            <i class="mdi mdi-alert"></i>
            Loading validation issues...
        </span>
    </div>
</div>
<wfm-card-list multi-select>
    <wfm-card ng-show="vm.valData.preValidation.length > 0" ng-click="vm.validationFilter = ''">
        <card-header tabindex="-1">
            <div tabindex="0">
                <span><i class="mdi"></i>
                     {{'PreSchedulingValidationIssues' | translate}}
                    <div tabindex=0 class="context-menu card-context" ng-click="vm.getValidationByPpId();$event.stopPropagation();"> 
                        <i class="mdi mdi-refresh"></i>
                        <md-tooltip> {{'RefreshPreSchedulingValidationIssues' | translate}}</md-tooltip>
                    </div>
                </span>
                <span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
                <span class="pull-right">{{vm.valData.totalPreValNum}} {{'IssuesText' | translate}}</span>
            </div>
        </card-header>
        <card-body class="panel">
            <div class="con-row demo-outline">
                <div class="con-flex">
                    <div class="con-row">
                        <div class="con-flex ">
                            <label for="filter" class="input-icon">
                                <i class="mdi mdi-filter-outline">
                                <input type="text" id="filter" ng-model="vm.validationFilter" placeholder="{{'FilterValidationIssues' | translate}}">
                                <md-tooltip>{{'FilterValidationIssues' | translate}}</md-tooltip> 
                                </i>
                            </label>
                        </div>
                        <div class="con-flex"></div>
                    </div>
                    <table class="wfm-table">
                        <thead>
                            <tr>
                                <th>{{'Issue' | translate}}</th>
                                <th>{{'Description' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="msg in vm.valData.preValidation | filter: vm.validationFilter">
                                <td>{{msg.ResourceType}}: {{msg.ResourceName}}</td>
                                <td>
                                    <div ng-repeat="item in msg.ValidationErrors">{{item}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </card-body>
    </wfm-card>
    <wfm-card ng-show="vm.valData.scheduleIssues.length > 0">
        <card-header tabindex="-1" ng-click="vm.scheduleIssuesFilter = ''">
            <div tabindex="0">
                <span><i class="mdi"></i>{{'ScheduledIssues' | translate}}</span>
                <span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
                <span class="pull-right">{{vm.valData.scheduleIssues.length}} {{'IssuesText' | translate}}</span>
            </div>
        </card-header>
        <card-body class="panel">
            <div class="con-row demo-outline">
                <div class="con-flex">
                    <div class="con-row">
                        <div class="con-flex ">
                            <label for="filter" class="input-icon">
                                <i class="mdi mdi-filter-outline">
                                <input type="text" id="filter" ng-model="vm.scheduleIssuesFilter" placeholder="{{'FilterValidationIssues' | translate}}">
                                <md-tooltip>{{'FilterValidationIssues' | translate}}</md-tooltip>
                                </i>
                            </label>
                        </div>
                        <div class="con-flex"></div>
                    </div>
                    <table class="wfm-table">
                        <thead>
                            <tr>
                                <th>{{'Issue' | translate}}</th>
                                <th>{{'Description' | translate}}</th>
                                <!--<th>Issues-Type</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="msg in vm.valData.scheduleIssues | filter: vm.scheduleIssuesFilter">
                                <td>Agent: {{msg.Name}}</td>
                                <td>{{msg.Message}}</td>
                                <!--<td>{{msg.BusinessRuleCategoryText}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </card-body>
    </wfm-card>
</wfm-card-list>