@media (max-width: 768px) {
	.businessunit-name {
		display: none;
	}
}
nz-dropdown {
	transition: 300ms background-color cubic-bezier(0.33, 0.11, 0.02, 0.99);

	button.trigger-btn {
		border: none;
		border-radius: 0;
		height: 54px;
		background: transparent;
		display: flex;
		align-items: center;
		transition: none;
		transition: 300ms background-color cubic-bezier(0.33, 0.11, 0.02, 0.99);

		color: white;
		&:hover,
		&:active,
		&:focus {
			color: white;
			background: rgba(0, 0, 0, 0.16) !important;
		}
		.text-icon {
			display: flex;
			align-items: center;
			i.mdi-vector-square {
				margin-right: 5px;
			}
		}
	}
}
