.login-logo 
{
	text-align: center;
	margin-top: 40px;
}
.login-form {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}
.login-warning {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.windows {
	background-image:url(../Images/windows-small-icon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	min-width: 12px;
	min-height: 12px;
}
.application {
	background-image:url(../Images/ccc_menu_Icon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	min-width: 12px;
	min-height: 12px;
}