.panel-info,
.panel-heading,
.panel-info > .panel-heading {
	background-color: #0099ff;
	border-color: #0099ff;
}

body,
.login-header {
	color: #000;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.login-header {
	text-align: center;
}

.placeholder {
	color: #aaa !important;
}
