body {
	background: #09f;
	background: linear-gradient(68deg, #09f, #fe96bb);
	height: 100vh;
	margin: 0;
	background-repeat: no-repeat;
}

h1 {
	font-weight: bold;
}

.panel {
	padding: 20px 40px;
	margin: 10px;
	border-radius: 22px;
	max-height: 80vh;
}

.login-message .alert-warning {
	background-color: #ffc285 !important;
	border-color: #ffc285 !important;
	color: rgba(0, 0, 0, 0.541176) !important;
}

.login-form {
	max-width: 100%;
}

#BusinessUnits {
	list-style-type: none;
	overflow-y: auto;
	max-height: 50vh;
	border: 1px solid #ddd;
}

#BusinessUnits a.list-group-item {
	margin-top: -1px;
	border: none;
	border-top: 1px solid #ddd;
}

.formError {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

#spinnerwrapper {
	visibility: hidden;
}

#spinnerwrapper,
.loader {
	z-index: 2800;
	top: 50% !important;
	left: 50% !important;
	margin-top: -25px !important;
	margin-left: -25px !important;
	margin: 6em auto;
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	border-top: 0.5em solid rgba(52, 152, 219, 0.3);
	border-right: 0.5em solid rgba(52, 152, 219, 0.3);
	border-bottom: 0.5em solid rgba(52, 152, 219, 0.3);
	border-left: 0.5em solid #3498db;
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

#spinnerwrapper,
#spinnerwrapper:after,
.loader,
.loader:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 728px) {
	.con-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.con-flex {
		flex: 1;
	}
}

@media screen and (max-width: 728px) {
	.con-row {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.con-flex {
		flex: 1 1 auto;
	}
}

@media screen and (max-height: 320px) {
	body {
		background: #fff;
	}

	.con-flex {
		padding: 0;
	}

	.panel {
		margin: 0;
		width: 100%;
		padding: 10px;
		box-shadow: none;
	}

	.wfm-form .form-input-wrap {
		padding: 5px;
	}
}
