<modal-dialog show="requestsReplyMessage.showReplyDialog" ng-cloak>
	<form name="form" class="wfm-form" novalidate>
		<div class="modal-inner-content">
			<div class="modal-inner-content">
				<div class="text-center">
					<div class="message-reply-container-first" ng-show="requestsReplyMessage.showOriginalMessage">
						<label class="message-reply-label">
							<span>{{'Message' | translate }}:</span>
						</label>
						<textarea readonly ng-model="requestsReplyMessage.originalMessage"></textarea>
					</div>
					<div class="form-input-wrap message-reply-container-last">
						<label for="replyMessage" class="message-reply-label">
							<span>{{'Reply' | translate }}:</span>
						</label>
						<textarea required="" ng-model="requestsReplyMessage.replyMessage" id="replyMessage" name="replyMessage"></textarea>
						<div ng-cloak class="animate-input-message" ng-show="form.replyMessage.$error.required && form.replyMessage.$touched">
							<div class="form-input-message text-align-left" ng-class="{'formInvalidInput':form.replyMessage.$error.required}">{{ 'required' | translate }}</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal-actions">
			<aside>
				<button class="wfm-btn wfm-btn-invis-primary" ng-class="{'wfm-btn-invis-disabled':!form.$valid}" ng-disabled="!form.$valid" ng-click="requestsReplyMessage.replyOnly()">{{ 'Reply' | translate }}</button>
				<button class="wfm-btn wfm-btn-invis-primary" ng-class="{'wfm-btn-invis-disabled':!form.$valid}" ng-disabled="!form.$valid" ng-click="requestsReplyMessage.replyAndApprove()">{{ 'ReplyAndApprove' | translate }}</button>
				<button class="wfm-btn wfm-btn-invis-primary" ng-class="{'wfm-btn-invis-disabled':!form.$valid}" ng-disabled="!form.$valid" ng-click="requestsReplyMessage.replyAndDeny()">{{ 'ReplyAndDeny' | translate }}</button>
				<button class="wfm-btn wfm-btn-invis-primary" ng-class="{'wfm-btn-invis-disabled':!form.$valid}" ng-disabled="!form.$valid" ng-click="requestsReplyMessage.replyAndCancel()">{{ 'ReplyAndCancel' | translate }}</button>
			</aside>
		</div>
	</form>
</modal-dialog>
