<button class="wfm-btn wfm-btn-invis-primary approve-requests"
		ng-click="requestsCommandsPane.approveRequests()"
		ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-check"></i>
	<md-tooltip><span translate>Approve</span></md-tooltip>
</button>
<button class="wfm-btn wfm-btn-invis-primary deny-requests"
		ng-click="requestsCommandsPane.denyRequests()"
		ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-close"></i>
	<md-tooltip><span translate>Deny</span></md-tooltip>
</button>
<div tabindex="0" class="context-menu card-context">
	<i class="mdi mdi-dots-vertical"></i>
	<div class="context-menu-left" style="width:280px;">
		<ul class="wfm-list">
			<li ng-click="requestsCommandsPane.approveRequests()"
				ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-check"></i>
				<span translate>Approve</span>
			</li>
			<li ng-click="requestsCommandsPane.approveBasedOnBusinessRules()"
				ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}"
				ng-if="requestsCommandsPane.isApproveBasedOnBusinessRulesEnabled()">
				<i class="mdi mdi-calendar-check"></i>
				<span translate>ApproveBasedOnBusinessRules</span>
			</li>
			<li ng-click="requestsCommandsPane.denyRequests()"
				ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-close"></i>
				<span translate>Deny</span>
			</li>
			<li ng-click="requestsCommandsPane.toggleCancelConfirmationModal()"
				ng-show="requestsCommandsPane.cancelToggleIsEnabled()"
				ng-class="{'wfm-btn-primary-disabled' : !requestsCommandsPane.canCancelRequests()}"
				ng-if="!requestsCommandsPane.isShiftTradeViewActive">
				<i class="mdi mdi-backup-restore"></i>
				<span translate>Cancel</span>
			</li>
			<li ng-show="requestsCommandsPane.runWaitlistToggleIsEnabled()"
				ng-click="requestsCommandsPane.toggleProcessWaitlistModal()"
				ng-if="!requestsCommandsPane.isShiftTradeViewActive">
				<i class="mdi mdi-check-all"></i>
				<span translate>ProcessWaitlist</span>
			</li>
			<li ng-show="requestsCommandsPane.isRequestsReplyMessageEnabled()"
				ng-click="requestsCommandsPane.displayReplyDialog()"
				ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}"
				ng-if="!requestsCommandsPane.isShiftTradeViewActive">
				<i class=""></i>
				<span translate>Reply</span>
			</li>
		</ul>
	</div>
</div>
<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="requestsCommandsPane.ShowCancelAbsenceConfirmationModal">
		<div class="modalbg">
			<div class="dialog">
				<div class="modal-inner-content">
					<h3>{{'CancelAbsenceRequest'|translate}}</h3>
					&nbsp;<br />
					<p>{{'CancelAbsenceRequestDescription'|translate}}</p>
					<p>{{'AreYouSureYouWishToCancelAbsence'|translate}}</p>
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="requestsCommandsPane.toggleCancelConfirmationModal()" class="wfm-btn wfm-btn-invis-default">{{'No'|translate}}</button>
						<button ng-click='requestsCommandsPane.cancelRequests()' class="wfm-btn wfm-btn-invis-default">{{'Yes'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
<requests-reply-message approve="requestsCommandsPane.approveRequests(message)"
						deny="requestsCommandsPane.denyRequests(message)"
						cancel="requestsCommandsPane.cancelRequests(message)"
						reply="requestsCommandsPane.replyRequests(message)"
						original-message="requestsCommandsPane.selectedRequestMessage"
						show-reply-dialog="requestsCommandsPane.showReplyDialog"
						show-original-message="requestsCommandsPane.showOriginalMessage"></requests-reply-message>

<modal-dialog show="requestsCommandsPane.showProcessWaitlistModal" ng-cloak>
	<h1 class="modal-title">{{'WaitlistPeriod' | translate}}</h1>
	<div class="modal-inner-content">
		<h2>{{'ProcessWaitlistRequestsReminder' | translate}}</h2>
		<form name="form">
			<div class="modal-inner-content">
				<div class="text-center">
					<date-range-picker name="WaitlistRange" ng-model="requestsCommandsPane.waitlistPeriod"></date-range-picker>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-actions">
		<aside>
			<button class="wfm-btn wfm-btn-invis-default" ng-click="requestsCommandsPane.toggleProcessWaitlistModal()">{{ 'Cancel' | translate }}</button>
			<button class="wfm-btn wfm-btn-invis-primary" ng-disabled="form.WaitlistRange.$invalid" ng-class="{'wfm-btn-invis-disabled':form.WaitlistRange.$invalid }" ng-click="requestsCommandsPane.processWaitlistRequests()">{{ 'Run' | translate }}</button>
		</aside>
	</div>
</modal-dialog>


