<div class="view-header">
	<div class="view-title">
		<i class="mdi mdi mdi-numeric-9-plus-box-multiple-outline"></i>
		<h1 translate style="display: inline-block">Requests</h1>
	</div>
</div>

<div class="wfm-requests" ng-if="requests.isRequestsEnabled">
	<div class="operation-container material-depth-1">
		<people-search-input class="request-filter inline-block" search-options="requests.agentSearchOptions" search-callback="requests.onAgentSearchTermChanged"></people-search-input>

		<date-range-picker class="request-date-range-picker" ng-model="requests.period"
						   template-type="requests.dateRangeTemplateType"
						   custom-validators="requests.dateRangeCustomValidators"></date-range-picker>

		<div class="wfm-switch filter-switch" ng-if="requests.filterToggleEnabled">
			<input type="checkbox" id="filter-switch" ng-model="requests.filterEnabled"/>
			<label for="filter-switch">
				<span class="wfm-switch-toggle"></span>
				<span style="width: 55px; display: inline-block;"></span>
				<span class="wfm-switch-label" ng-show="requests.filterEnabled !== true"><span translate>Show filter</span></span>
				<span class="wfm-switch-label" ng-show="requests.filterEnabled === true" translate>Hide filter</span>
			</label>
		</div>

	</div>
	<requests-commands-pane ng-if="requests.isRequestsCommandsEnabled && requests.canApproveOrDenyRequest()"
							before-command="requests.onBeforeCommand()"
							is-shift-trade-view-active="requests.isShiftTradeViewActive()"
							after-command-success="requests.onCommandSuccess(commandType, changedRequestsCount, requestsCount, waitlistPeriod)"
							on-error-messages="requests.onErrorMessages(errorMessages)"
							after-command-error="requests.onCommandError(error)"
							commands-disabled="requests.disableInteraction"
							on-process-waitlist-finished="requests.onProcessWaitlistFinished(message)"
							on-approve-based-on-budget-finished="requests.onApproveBasedOnBudgetFinished(message)"
							></requests-commands-pane>

	<div class="panel material-depth-1">
		<div class="wfm-slide-tabs tabbed-panel">
			<md-content class="md-padding">
				<md-tabs md-dynamic-height md-border-botto md-selected="requests.selectedTabIndex">
					<md-tab label="{{'Absence' | translate}} {{'And' | translate}} {{'Text' | translate}}">
						<md-content class="md-padding text-absence-view">
							<requests-overview is-active="requests.selectedTabIndex == 0"
											   period="requests.period"
											   agent-search-term="requests.agentSearchTerm"
											   filter-enabled="requests.filterEnabled" >
							</requests-overview>
						</md-content>
					</md-tab>

					<md-tab label="{{'ShiftTrade' | translate}}" ng-if="requests.isShiftTradeViewVisible" >
						<md-content class="md-padding shift-trade-view">
							<requests-overview shift-trade-view
											   is-active="requests.selectedTabIndex == 1"
											   period="requests.period"
											   agent-search-term="requests.agentSearchTerm"
											   filter-enabled="requests.filterEnabled">
							</requests-overview>
						</md-content>
					</md-tab>


				</md-tabs>
				<div class="paging pull-right" ng-if="requests.isPaginationEnabled && requests.paging.totalPages>0"></div>
			</md-content>

		</div>
	</div>


</div>