<button class="wfm-btn wfm-btn-invis-primary approve-requests"
		ng-click="requestsCommandsPane.approveRequests()"
		ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-check"></i>
	<md-tooltip><span translate>Approve</span></md-tooltip>
</button>
<button class="wfm-btn wfm-btn-invis-primary deny-requests"
		ng-click="requestsCommandsPane.denyRequests()"
		ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-block-helper"></i>
	<md-tooltip><span translate>Deny</span></md-tooltip>
</button>
<button class="wfm-btn wfm-btn-invis-primary context-menu card-context">
	<i class="mdi mdi-dots-vertical"></i>
	<span class="context-menu-left">
		<ul class="wfm-list">
			<li class="wfm-btn wfm-btn-invis-primary"
					ng-click="requestsCommandsPane.approveRequests()"
					ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-check"></i>
				<label><span translate>Approve</span></label>
			</li>
			<li class="wfm-btn wfm-btn-invis-primary"
					ng-click="requestsCommandsPane.denyRequests()"
					ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-block-helper"></i>
				<label><span translate>Deny</span></label>
			</li>
		</ul>
	</span>
</button>
<span>{{requestsCommandsPane.selectedRequestsCount()}}</span>