<div class="view-header">
	<div class="view-title">
		<i class="mdi mdi mdi-numeric-9-plus-box-multiple-outline"></i>
		<h1 translate style="display: inline-block">Requests</h1>
	</div>
</div>

<div class="wfm-requests material-depth-1" ng-if="requests.isRequestsEnabled">
	<div class="operation-container">
		<people-search-input class="request-filter inline-block" search-options="requests.agentSearchOptions" search-callback="requests.onAgentSearchTermChanged"></people-search-input>
		<date-range-picker ng-model="requests.period" template-type="requests.dateRangeTemplateType"></date-range-picker>		
	</div>
	<requests-commands-pane ng-if="requests.isRequestsCommandsEnabled"
							before-command="requests.onBeforeCommand()"
							after-command-success="requests.onCommandSuccess(commandType, changedRequestsCount, requestsCount)"
							after-command-error="requests.onCommandError(error)"
							commands-disabled="requests.disableInteraction"></requests-commands-pane>


	<requests-overview period="requests.period"
					   agent-search-term="requests.agentSearchTerm"
					   paging="requests.paging"
					   toggle-pagination-enabled="requests.isPaginationEnabled"
					   on-total-requests-count-changes="requests.onTotalRequestsCountChanges(totalRequestsCount)">
	</requests-overview>

	<div class="paging" ng-if="requests.isPaginationEnabled">
		<wfm-pagination pagination-options="requests.paging" get-data-for-page-callback="requests.forceRequestsReloadWithSelection"></wfm-pagination>
		<select ng-if="requests.paging.totalRequestsCount > 0"
				class="page-size-selector pull-right"
				ng-model="requests.paging.pageSize" ng-options="option for option in requests.pageSizeOptions" ng-change="requests.onPageSizeChanges()"></select>
		<div class="total-requests-count pull-right">
			<span>{{requests.showSelectedRequestsInfo()}}</span>
		</div>
	</div>

</div>