<md-progress-linear md-mode="indeterminate" ng-if="!requestsOverview.loaded"></md-progress-linear>

<requests-table-container class="requests-table-container"
						  shift-trade-view="requestsOverview.shiftTradeView"
						  requests="requestsOverview.requests"
						  shift-trade-request-date-summary="requestsOverview.shiftTradeRequestDateSummary"
						  filters="requestsOverview.filters"
						  filter-enabled="requestsOverview.filterEnabled"
						  sorting-orders="requestsOverview.sortingOrders"></requests-table-container>

<div class="paging pull-right" ng-if="requestsOverview.isPaginationEnabled" ng-show="requestsOverview.loaded">
	<wfm-pagination pagination-options="requestsOverview.paging" get-data-for-page-callback="requestsOverview.forceRequestsReloadWithSelection"></wfm-pagination>
	<div class="total-requests-count pull-left">
		<span>{{requestsOverview.showSelectedRequestsInfo()}}</span>
	</div>
	<md-select ng-if="requestsOverview.paging.totalRequestsCount > 0" 
		    class="page-size-selector pull-left"
		    ng-model="requestsOverview.paging.pageSize"
			ng-change="requestsOverview.onPageSizeChanges()">
		<md-option ng-repeat="option in requestsOverview.pageSizeOptions" ng-value="option"><span ng-bind="option"></span></md-option>
	</md-select>
</div>


