<div class="add-new-bank-holiday-calendar">
	<div class="con-row">
		<div class="con-flex">
			<div class="full-padding">
				<span class="inline-block">{{ 'Name' | translate }} :</span>
				<input
					nz-input
					[placeholder]="'Name' | translate"
					[(ngModel)]="newCalendarName"
					(blur)="checkNewCalendarName()"
				/>
				<nz-alert
					*ngIf="nameAlreadyExisting"
					nzType="error"
					[nzMessage]="'NameAlreadyExisting' | translate"
				></nz-alert>
			</div>

			<div class="full-padding">
				<span class="inline-block">{{ 'Year' | translate }} :</span>
				<nz-year-picker
					nzAllowClear="false"
					[(ngModel)]="newCalendarYear"
					(ngModelChange)="newYearTab($event)"
					[nzPlaceHolder]="'AddYear' | translate"
				></nz-year-picker>
			</div>
		</div>
	</div>

	<nz-tabset [nzSelectedIndex]="newCalendarTabIndex" *ngIf="newCalendarYears.length > 0" nzAnimated="false">
		<nz-tab
			*ngFor="let year of newCalendarYears"
			[nzTitle]="year.Year"
			(nzSelect)="selectTab(year)"
			(nzDeselect)="deselectTab(year)"
		>
			<nz-layout>
				<nz-header>
					<div class="con-row">
						<button nz-tooltip nz-button nzType="danger" (click)="deleteYearTab(year)">
							{{ 'DeleteThisYear' | translate }}
						</button>
					</div>
				</nz-header>
				<nz-layout>
					<nz-sider nzWidth="300">
						<nz-date-picker
							*ngIf="year.Active"
							nzOpen="true"
							nzShowToday="true"
							nzAllowClear="false"
							[nzDisabledDate]="year.DisabledDate"
							[(ngModel)]="year.YearDate"
							(ngModelChange)="addNewDateForYear($event, year)"
							[nzDateRender]="dateRender"
						></nz-date-picker>

						<ng-template #dateRender let-currentDate>
							<div
								class="ant-calendar-date"
								[class.border]="year.SelectedDates.indexOf(currentDate.getTime()) > -1"
							>
								{{ currentDate.getDate() }}
							</div>
						</ng-template>
					</nz-sider>
					<nz-content>
						<nz-list [nzDataSource]="year.Dates" [nzRenderItem]="date">
							<ng-template #date let-date>
								<nz-list-item class="bank-holiday-calendar-list-date">
									<span class="inline-block">
										{{ 'Date' | translate }} :

										<span>{{ date.Date }}</span>
									</span>
									<span class="inline-block">
										{{ 'Description' | translate }} :

										<input
											nz-input
											[placeholder]="'Description' | translate"
											[(ngModel)]="date.Description"
										/>
									</span>
									<button
										nz-tooltip
										nz-button
										nzSize="small"
										nzType="danger"
										nzShape="circle"
										(click)="removeDateOfYear(year, date)"
										class="holiday-remove-date-icon"
									>
										<i nz-icon type="close" theme="outline"></i>
									</button>
								</nz-list-item>
							</ng-template>
						</nz-list>
					</nz-content>
				</nz-layout>
			</nz-layout>
		</nz-tab>
	</nz-tabset>

	<div class="con-row operation-buttons">
		<button nz-button nzType="default" (click)="cancelAddNewBankCalendar()">{{ 'Cancel' | translate }}</button>
		<button
			nz-button
			nzType="primary"
			[disabled]="newCalendarYears.length == 0 || nameAlreadyExisting || newCalendarName.length == 0"
			(click)="saveNewBankCalendar()"
		>
			{{ 'Save' | translate }}
		</button>
	</div>
</div>
