<div class="add-new-bank-holiday-calendar">
	<div class="con-row add-new-bank-holiday-calendar-header">
		<div class="con-flex">
			<div class="full-padding">
				<span class="inline-block">{{ 'Name' | translate }} :</span>
				<input
					nz-input
					[placeholder]="'NewCalendarName' | translate"
					[(ngModel)]="newCalendarName"
					(blur)="checkNewCalendarName()"
				/>
				<nz-alert
					*ngIf="nameAlreadyExisting"
					nzType="error"
					[nzMessage]="'NameAlreadyExisting' | translate"
				></nz-alert>
			</div>
		</div>
	</div>

	<nz-layout>
		<nz-sider [nzWidth]="340">
			<nz-date-picker
				*ngIf="showDatePicker"
				nzOpen="true"
				nzShowToday="false"
				nzAllowClear="false"
				[(ngModel)]="selectedYearDate"
				(ngModelChange)="dateChangeCallback($event)"
				[nzDateRender]="dateRender"
				nzDropdownClassName="bank-holiday-calendar-datepicker"
			>
			</nz-date-picker>
			<ng-template #dateRender let-currentDate>
				<div class="ant-calendar-date" [class.border]="" (click)="dateClick(currentDate)">
					{{ currentDate.getDate() }}
				</div>
			</ng-template>
		</nz-sider>
		<nz-content>
			<nz-list [nzDataSource]="selectedDates" [nzRenderItem]="date" class="bank-holiday-calendar-date-list">
				<ng-template #date let-date>
					<nz-list-item class="bank-holiday-calendar-date-item relative">
						<span class="selected-date-indicator absolute" [hidden]="!date.IsLastAdded"></span>
						<span class="inline-block">
							<span class="bank-holiday-date-text">{{ date.Date }}</span>
						</span>
						<span class="inline-block">
							<input nz-input [placeholder]="'Description' | translate" [(ngModel)]="date.Description" />
						</span>
						<button
							nz-tooltip
							nz-button
							nzSize="small"
							nzType="danger"
							nzShape="circle"
							(click)="removeDateOfYear(date)"
							class="remove-date-icon"
						>
							<i nz-icon type="close" theme="outline"></i>
						</button>
					</nz-list-item>
				</ng-template>
			</nz-list>

			<nz-alert
				*ngIf="false"
				nzType="info"
				class="bank-holiday-no-date-tip"
				[nzMessage]="'NoBankHolidays' | translate"
				[nzDescription]="
					'ThereAreNoBankHolidaysDefinedForThisYearSelectADayInTheCalendarToCreateANewHoliday' | translate
				"
				nzShowIcon
			>
			</nz-alert>
		</nz-content>
	</nz-layout>

	<div class="con-flex operation-buttons">
		<button nz-button nzType="default" (click)="exit()">{{ 'Cancel' | translate }}</button>
		<button
			nz-button
			nzType="primary"
			[disabled]="nameAlreadyExisting || newCalendarName.length == 0"
			(click)="saveNewBankCalendar()"
		>
			{{ 'Save' | translate }}
		</button>
	</div>
</div>
