<div class="add-new-bank-holiday-calendar">
	<div class="add-new-bank-holiday-calendar-header full-padding">
		<span class="inline-block">{{ 'Name' | translate }} :</span>
		<input
			#calendarNameInput
			nz-input
			[placeholder]="'NewCalendarName' | translate"
			[(ngModel)]="newCalendarName"
			(blur)="checkNewCalendarName()"
		/>
		<nz-alert
			*ngIf="isNewCalendarNameEmpty"
			nzType="error"
			[nzMessage]="'PleaseInputCalendarNameFirst' | translate"
		></nz-alert>
		<nz-alert *ngIf="nameAlreadyExisting" nzType="error" [nzMessage]="'NameAlreadyExisting' | translate"></nz-alert>
	</div>

	<div class="add-new-bank-holiday-calendar-body">
		<nz-date-picker
			*ngIf="showDatePicker"
			class="add-new-bank-holiday-calendar-datepicker"
			nzOpen="true"
			nzShowToday="false"
			nzAllowClear="false"
			[(ngModel)]="selectedYearDate"
			(ngModelChange)="dateChangeCallback($event)"
			[nzDateRender]="dateRender"
			nzDropdownClassName="bank-holiday-calendar-datepicker"
		>
		</nz-date-picker>
		<ng-template #dateRender let-currentDate>
			<div class="ant-calendar-date" [class.border]="highlightDate(currentDate)" (click)="dateClick(currentDate)">
				{{ currentDate.getDate() }}
			</div>
		</ng-template>

		<nz-collapse class="bank-holiday-calendar-date-content" *ngIf="newCalendarYearsForDisplay.length > 0">
			<nz-collapse-panel
				*ngFor="let year of newCalendarYearsForDisplay"
				[nzHeader]="year.Year"
				[nzActive]="year.Active"
				(nzActiveChange)="collapseStatusChange($event, year)"
			>
				<nz-list [nzDataSource]="year.Dates" [nzRenderItem]="date" class="bank-holiday-calendar-date-list">
					<ng-template #date let-date>
						<nz-list-item class="bank-holiday-calendar-date-item relative">
							<span class="selected-date-indicator absolute" *ngIf="date.IsLastAdded"></span>
							<span class="inline-block">
								<span class="bank-holiday-date-text">{{ date.Date }}</span>
							</span>
							<span class="inline-block">
								<input
									nz-input
									[placeholder]="'Description' | translate"
									[(ngModel)]="date.Description"
								/>
							</span>
							<button
								nz-tooltip
								nz-button
								nzSize="small"
								nzType="danger"
								nzShape="circle"
								(click)="removeDate(date, year)"
								class="remove-date-icon"
							>
								<i nz-icon type="close" theme="outline"></i>
							</button>
						</nz-list-item>
					</ng-template>
				</nz-list>
			</nz-collapse-panel>
		</nz-collapse>

		<nz-alert
			*ngIf="newCalendarYearsForDisplay.length == 0"
			nzType="info"
			class="bank-holiday-no-date-tip"
			[nzMessage]="'NoBankHolidays' | translate"
			[nzDescription]="
				'ThereAreNoBankHolidaysDefinedForThisYearSelectADayInTheCalendarToCreateANewHoliday' | translate
			"
			nzShowIcon
		>
		</nz-alert>
	</div>

	<div class="con-flex operation-buttons">
		<button nz-button nzType="default" (click)="exit()">{{ 'Back' | translate }}</button>
	</div>
</div>
