<div class="view-header" ng-if="isCampaignLoaded()">
	<div class="view-title">
		<h1>
			<i class="mdi mdi-phone-forward"></i>
			<span translate>EditCampaign</span>
		</h1>
	</div>
	<div class="fab-wrapper">
		<button class="wfm-fab  material-depth-1" ng-class="{'shrink-in':animateIn === 'trigger1'}" ng-click="backToList()">
			<i class="mdi mdi-close"></i>
			<md-tooltip>{{"Cancel" | translate}}</md-tooltip>
		</button>
	</div>
</div>

<div class="campaign-edit" ng-if="isCampaignLoaded()">

	<div class="panel">
		<div class="sub-header" ng-click="acToggle0 = !acToggle0">
			<h2 translate>Campaign</h2>
			<span><strong>{{campaign.Name}}</strong></span>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<form name="campaignGeneralForm" class="form-horizontal wfm-block input-group" form-locator ng-show="acToggle0">
					<div layout="row">
						<div class="row-title"><span translate>Name</span></div>
						<div flex class="icon-set-fix">
							<input id="name" type="text" ng-model="campaign.Name" placeholder="{{ NewCampaignName | translate }}" ng-minlength="1" ng-maxlength="50" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title"><span translate>Activity</span></div>
						<div flex class="icon-set-fix">
							<activity-picker ng-model="campaign.Activity" disable-create="true" class="custom-input"></activity-picker>
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="sub-header" ng-click="acToggle1 = !acToggle1">
			<h2 translate>Workload</h2>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<form name="campaignWorkloadForm" class="form-horizontal wfm-block input-group" form-locator ng-show="acToggle1">
					<div layout="row">
						<div class="row-title">
							<span translate>CallListLength</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="callList" type="text" ng-model="campaign.CallListLen" placeholder="{{ 'LargeValueRange' | translate }}" numeric-value min="0" max="1000000" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>TargetRate</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="callList" type="text" ng-model="campaign.TargetRate" placeholder="{{ 'RateRange' | translate }}" numeric-value max="100" min="1" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>ConnectRate</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="cr" type="text" ng-model="campaign.ConnectRate" placeholder="{{ 'RateRange' | translate }}" numeric-value max="100" min="1" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>RPCR</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="target" type="text" ng-model="campaign.RightPartyConnectRate" placeholder="{{ 'RateRange' | translate }}" numeric-value max="100" min="1" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>ConnectAHT</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="cAHT" type="text" ng-model="campaign.ConnectAverageHandlingTime" placeholder="{{ 'ValueRange' | translate }}" numeric-value min="0" max="9999" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>RPCAHT</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="rpcAHT" type="text" ng-model="campaign.RightPartyAverageHandlingTime" placeholder="{{ 'ValueRange' | translate }}" numeric-value min="0" max="9999" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<div layout="row">
						<div class="row-title">
							<span translate>UnproductiveTime</span>
						</div>
						<div flex class="icon-set-fix">
							<input id="unproductive" type="text" ng-model="campaign.UnproductiveTime" placeholder="{{ 'ValueRange' | translate }}" numeric-value min="0" max="9999" required />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<br />
					<div layout="row">
						<div class="row-title">
							<strong translate>NeededPersonHours</strong>
						</div>
						<div flex class="icon-set-fix">
							<strong>{{estimatedWorkload | showTimespan }}</strong>
						</div>

					</div>

				</form>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="sub-header" ng-click="acToggle2 = !acToggle2">
			<h2 translate>Duration</h2>
			<span ng-show="!acToggle2">
				<span translate>DateFrom </span><strong>{{campaign.StartDate | amDateFormat: 'LL' }}</strong>
				<span translate>DateTo</span> <strong>{{campaign.EndDate | amDateFormat: 'LL' }}</strong>
			</span>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<form name="campaignSpanningPeriodForm" class="form-horizontal wfm-block input-group" form-locator ng-show="acToggle2">
					<date-range-picker start-date="campaign.StartDate" end-date="campaign.EndDate" errors="campaign.spanningPeriodErrors"></date-range-picker>
				</form>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="sub-header" ng-click="acToggle3 = !acToggle3">
			<h2 translate>OpenHours</h2>
		</div>
		<div class="con-row">
			<div class="con-flex">
				<div ng-show="acToggle3">
					<div class="in-place-container">
						<div class="in-place-element">
							<input type="text" ng-class="[validWorkingHours()?'custom-valid':'custom-invalid', dirtyWorkingHours?'ng-dirty':'ng-pristine' ]" ng-show="false" />
							<div class="icon-set  input-validation-sign" expandable>
								<i class="mdi mdi-check right-sign"></i>
								<i class="mdi mdi-close wrong-sign"></i>
							</div>
						</div>
					</div>
					<working-hours-picker working-hours="campaign.WorkingHours"></working-hours-picker>
				</div>
			</div>
		</div>
	</div>

	<div layout="row" layout-align="center">
		<button class="wfm-btn wfm-btn-default material-depth-1" ng-click="reset()"><span translate>Reset</span></button>
		<button class="wfm-btn material-depth-1 form-submit" ng-click="editCampaign()" ng-class="{'wfm-btn-primary-disabled': !isInputValid(), 'wfm-btn-primary': isInputValid()}"><span translate>Save</span></button>
		<button class="wfm-btn material-depth-1 wfm-btn-primary trigger-campaign-delete" ng-click="removeCampaign()"><span translate>Remove</span></button>
	</div>

	<div ng-cloak class="modal-box">
		<div ng-cloak ng-show="showRemoveCampaignConfirmDialog">
			<div class="modalbg">
				<div class="dialog">
					<h1 class="modal-title" translate>
						RemoveCampaign
					</h1>
					<div class="modal-inner-content">
						<div class="wfm-block"><span translate>ConfirmRemoveCampaign</span></div>
					</div>
					<div class="modal-actions">
						<aside>
							<button ng-click="cancelRemoveCampaign()" class="wfm-btn wfm-btn-invis-default" translate>Cancel</button>
							<button ng-click="remove()" class="wfm-btn wfm-btn-invis-primary confirm-delete" translate>Delete</button>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>