<div ng-if="isGanttEnabled">
	<div class="loading-gantt-section" ng-show="!isLoadFinished"><md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	
	<div class="spacer material-depth-1 outbound-gantt-chart relative"
		 gantt
		 data="ganttData"
		 options="ganttOptions"
		 timespans="timespans"
		 headers-formats="headerFormats"
		 template-url="js/outbound/html/angular-gantt-custom.tpl.html"
		 scrollfix="+10">
		<div ng-show="isRefreshingGantt" class="gantt-schedule-loader"><md-progress-linear md-mode="indeterminate"></md-progress-linear></div>
		<gantt-tooltips></gantt-tooltips>
		<gantt-table headers="tableHeaders" class="gantt-schedule-loader"></gantt-table>
		<div class="threshold-slider">
			<div><span translate>CampaignThreshold</span> {{threshold}}%</div>
			<md-slider flex md-discrete min="0" max="100" aria-label="slider" ng-model="threshold" ng-click="updateThreshold(threshold)" ng-disabled="isRefreshingGantt"></md-slider>
		</div>
	</div>
</div>