<plans-title-bar><i class="mdi mdi-calendar"></i>{{ 'Plans' | translate }}</plans-title-bar>
<button nz-button nzType="primary" (click)="createPlanningGroup()">
	<i nz-icon type="plus"></i> {{ 'NewPlanningGroup' | translate }}
</button>

<nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
	<input type="text" nz-input placeholder="Filter" [formControl]="filterControl" />
</nz-input-group>

<ng-template #prefixTemplate><i nz-icon type="filter"></i></ng-template>
<ng-template #suffixTemplate
	><i nz-icon type="close-circle" (click)="clearFilter()" *ngIf="filterControl.value"></i
></ng-template>

<nz-table
	#basicTable
	[nzData]="filteredPlanningGroups"
	[nzNoResult]="'You need to create a planning group :('"
	[nzShowPagination]="false"
>
	<thead>
		<tr>
			<th>Name</th>
			<th>Agents</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let group of basicTable.data">
			<td data-test-group-name>{{ group.Name }}</td>
			<td>{{ group.AgentCount }}</td>
			<td>
				<a (click)="viewPlanningPeriods(group)">{{ 'View' | translate }}</a>
				<nz-divider nzType="vertical"></nz-divider>
				<a (click)="editPlanningGroup(group)">{{ 'EditPlanningGroup' | translate }}</a>
			</td>
		</tr>
	</tbody>
</nz-table>
