<!DOCTYPE html>
<html lang="en">

<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WFM</title>
	<link rel="stylesheet" href="vendor/MaterialDesignIcons/css/materialdesignicons.min.css" media="none" onload="if(media!=='all')media='all'">
	<link href="vendor/open-sans/font.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="dist/ng2/assets/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32" href="dist/ng2/assets/favicon-32x32.png?v=1">
	<link rel="icon" type="image/png" sizes="16x16" href="dist/ng2/assets/favicon-16x16.png?v=1">
	<link rel="manifest" href="dist/ng2/assets/site.webmanifest?v=1">
	<link rel="mask-icon" href="dist/ng2/assets/safari-pinned-tab.svg?v=1" color="#128fff">
	<link rel="shortcut icon" href="dist/ng2/assets/favicon.ico?v=1">
	<meta name="apple-mobile-web-app-title" content="Teleopti WFM">
	<meta name="application-name" content="Teleopti WFM">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-config" content="dist/ng2/assets/browserconfig.xml?v=1">
	<meta name="theme-color" content="#ffffff">
	<style>
		.loader {
			width: 75px;
			height: 75px;
			margin: 5% auto 0;
			border: 6px solid transparent;
			border-top: 6px solid #09f;
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			border-radius: 50%;
			transform: rotate(0);
			overflow: hidden
		}

		@keyframes spin {
			from {
				transform: rotate(0)
			}

			to {
				transform: rotate(360deg)
			}
		}

		.backdrop {
			position: fixed;
			z-index: 999999;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: #fff
		}
	</style>
	<script type="text/javascript" src="dist/ng2/assets/appInsights.js"></script>
</head>

<body ng-app="wfm" ng-show="isAuthenticated" ng-cloak ng-controller="MainController as mainController">
	<div class="backdrop" ng-if="!mainController.style.isFullyLoaded">
		<div class="loader"></div>
	</div>
	<ng2-top-navigation></ng2-top-navigation>
	<div class="layout-container">
		<ng2-side-menu></ng2-side-menu>
		<div id="materialcontainer" class="container content">
			<div ui-view></div>
			<wfm-notice notices="$parent.wfmNotices"></wfm-notice>
		</div>
	</div>
	<script type="text/javascript" src="dist/ng2/assets/index_desktop_client_mods.js"></script>

	<ng2-bootstrap [style]="mainController.style"></ng2-bootstrap>
	<link id="themeAnt" rel="stylesheet" href="">
	<!-- build:template
	<% if (environment === 'dev') { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<script src="dist/ng2/dependencies.js"></script>
	<script src="dist/ng2/styles.js"></script>
	<script src="dist/ng2/vendor.js"></script>
	<script src="dist/ng2/main.js"></script>
	<% } else { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<link rel="stylesheet" href="dist/ng2/dependencies.css">
	<link rel="stylesheet" href="dist/ng2/styles.css">
	<script src="dist/ng2/main.js"></script>
	<% } %>
	/build -->
	<!--dummy links to disable IE default alt-key shortcuts-->
	<div class="shortcut-trick-ie">
		<a href="javascript:void(0);" accesskey="a"></a>
		<a href="javascript:void(0);" accesskey="c"></a>
		<a href="javascript:void(0);" accesskey="e"></a>
		<a href="javascript:void(0);" accesskey="f"></a>
		<a href="javascript:void(0);" accesskey="h"></a>
		<a href="javascript:void(0);" accesskey="t"></a>
		<a href="javascript:void(0);" accesskey="v"></a>
		<a href="javascript:void(0);" accesskey="x"></a>
	</div>
</body>

</html>