<!DOCTYPE html>
<html lang="en">

<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WFM</title>
	<link rel="stylesheet" href="dist/ng2/assets/mdi/css/materialdesignicons.min.css">
	<link href="dist/ng2/assets/open-sans/font.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="dist/ng2/assets/favicon/apple-touch-icon.png?v=2" />
	<link rel="icon" type="image/png" sizes="32x32" href="dist/ng2/assets/favicon/favicon-32x32.png?v=2" />
	<link rel="icon" type="image/png" sizes="16x16" href="dist/ng2/assets/favicon/favicon-16x16.png?v=2" />
	<link rel="manifest" href="dist/ng2/assets/favicon/site.webmanifest?v=2" />
	<link rel="mask-icon" href="dist/ng2/assets/favicon/safari-pinned-tab.svg?v=2" color="#0099ff" />
	<link rel="shortcut icon" href="dist/ng2/assets/favicon/favicon.ico?v=2" />
	<meta name="msapplication-TileColor" content="#0099ff" />
	<meta name="msapplication-config" content="dist/ng2/assets/favicon/browserconfig.xml?v=2" />
	<meta name="theme-color" content="#ffffff" />
	<!-- Favicon end -->

	<style>
		.loader {
			width: 75px;
			height: 75px;
			margin: 5% auto 0;
			border: 6px solid transparent;
			border-top: 6px solid #09f;
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			border-radius: 50%;
			transform: rotate(0);
			overflow: hidden
		}

		@keyframes spin {
			from {
				transform: rotate(0)
			}

			to {
				transform: rotate(360deg)
			}
		}

		.backdrop {
			position: fixed;
			z-index: 999999;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: #fff
		}
	</style>
	<script type="text/javascript" src="dist/ng2/assets/appInsights.js"></script>
</head>

<body ng-app="wfm" ng-show="isAuthenticated" ng-cloak ng-controller="MainController as mainController">
	<div class="backdrop" ng-if="!mainController.style.isFullyLoaded">
		<div class="loader"></div>
	</div>
	<ng2-top-navigation></ng2-top-navigation>
	<div class="layout-container">
		<ng2-side-menu></ng2-side-menu>
		<div id="materialcontainer" class="container content">
			<div ui-view></div>
			<wfm-notice notices="$parent.wfmNotices"></wfm-notice>
		</div>
	</div>
	<script type="text/javascript" src="dist/ng2/assets/index_desktop_client_mods.js"></script>

	<ng2-bootstrap [style]="mainController.style"></ng2-bootstrap>
	<link id="themeAnt" rel="stylesheet" href="">
	<!-- build:template
	<% if (environment === 'dev') { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<script src="dist/ng2/dependencies.js"></script>
	<script src="dist/ng2/styles.js"></script>
	<script src="dist/ng2/vendor.js"></script>
	<script src="dist/ng2/main.js"></script>
	<% } else { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<link rel="stylesheet" href="dist/ng2/dependencies.css">
	<link rel="stylesheet" href="dist/ng2/styles.css">
	<script src="dist/ng2/main.js"></script>
	<% } %>
	/build -->
	<!--dummy links to disable IE default alt-key shortcuts-->
	<div class="shortcut-trick-ie" aria-hidden="true">
		<a href="javascript:void(0);" accesskey="a">a</a>
		<a href="javascript:void(0);" accesskey="b">b</a>
		<a href="javascript:void(0);" accesskey="c">c</a>
		<a href="javascript:void(0);" accesskey="e">e</a>
		<a href="javascript:void(0);" accesskey="f">f</a>
		<a href="javascript:void(0);" accesskey="h">h</a>
		<a href="javascript:void(0);" accesskey="i">i</a>
		<a href="javascript:void(0);" accesskey="k">k</a>
		<a href="javascript:void(0);" accesskey="m">m</a>
		<a href="javascript:void(0);" accesskey="o">o</a>
		<a href="javascript:void(0);" accesskey="p">p</a>
		<a href="javascript:void(0);" accesskey="r">r</a>
		<a href="javascript:void(0);" accesskey="s">s</a>
		<a href="javascript:void(0);" accesskey="t">t</a>
		<a href="javascript:void(0);" accesskey="u">u</a>
		<a href="javascript:void(0);" accesskey="v">v</a>
		<a href="javascript:void(0);" accesskey="x">x</a>
	</div>
</body>

</html>