<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>WFM - Reset password</title>
	<link href="dist/ng2/assets/open-sans/font.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="dist/ng2/assets/favicon/apple-touch-icon.png?v=2" />
	<link rel="icon" type="image/png" sizes="32x32" href="dist/ng2/assets/favicon/favicon-32x32.png?v=2" />
	<link rel="icon" type="image/png" sizes="16x16" href="dist/ng2/assets/favicon/favicon-16x16.png?v=2" />
	<link rel="manifest" href="dist/ng2/assets/favicon/site.webmanifest?v=2" />
	<link rel="mask-icon" href="dist/ng2/assets/favicon/safari-pinned-tab.svg?v=2" color="#0099ff" />
	<link rel="shortcut icon" href="dist/ng2/assets/favicon/favicon.ico?v=2" />
	<meta name="msapplication-TileColor" content="#0099ff" />
	<meta name="msapplication-config" content="dist/ng2/assets/favicon/browserconfig.xml?v=2" />
	<meta name="theme-color" content="#ffffff" />
	<!-- Favicon end -->

</head>

<body ng-app="wfm" ng-cloak>
	<ng2-reset-password-page></ng2-reset-password-page>
	<link rel="stylesheet" href="dist/ant_classic.css">
	<!-- build:template
	<% if (environment === 'dev') { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<script src="dist/ng2/styles.js"></script>
	<script src="dist/ng2/vendor.js"></script>
	<script src="dist/ng2/main.js"></script>
	<% } else { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<link rel="stylesheet" href="dist/ng2/styles.css">
	<script src="dist/ng2/main.js"></script>
	<% } %>
	/build -->
</body>

</html>