<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>WFM - Reset password</title>
	<link href="vendor/open-sans/font.css" rel="stylesheet">
</head>

<body ng-app="wfm" ng-cloak>
	<ng2-reset-password-page></ng2-reset-password-page>
	<link rel="stylesheet" href="dist/ant_classic.css">
	<!-- build:template
	<% if (environment === 'dev') { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<script src="dist/ng2/styles.js"></script>
	<script src="dist/ng2/vendor.js"></script>
	<script src="dist/ng2/main.js"></script>
	<% } else { %>
	<script src="dist/resources/modules.js"></script>
	<script src="dist/templates.js"></script>
	<script src="dist/main.js"></script>
	<script src="dist/ng2/runtime.js"></script>
	<script src="dist/ng2/polyfills.js"></script>
	<link rel="stylesheet" href="dist/ng2/styles.css">
	<script src="dist/ng2/main.js"></script>
	<% } %>
	/build -->
</body>

</html>