@import './themes/classic';
@import './themes/dark';

// Move out later
// Utility styles à la atomic css
.w100 {
	width: 100%;
}

.dropdown-temp-fix {
	top: 100% !important;
	left: 0 !important;
	position: relative !important;
	width: 100% !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}
