/* Styles go here */


.treeViewList {
	margin: 0;
	padding: 0;
}


.node-label {
	cursor: pointer;
}

.node-toggle {
	display: inline-block;
	width: 1em;
	cursor: pointer;
	margin: 5px;
}

.tree-node ul, li {
	list-style: none;
}

.treelistcontrol {
	margin-top: 15px;	
}

.treelist {
	/*margin-top: 15px;*/
	height: 300px;
	overflow: auto;
}

	.treelist input[type="checkbox"] {
		margin-bottom: 2px;
		vertical-align: text-bottom;
	}


	.treelist .panel-body {
		margin-left: 0;
		padding-left: 0;
	}

	.treelist .glyphicon {
		color: rgb(166, 200, 232);
		margin-bottom: 2px;
		vertical-align: text-bottom;
	}

	.treelist ul {
		margin: 0 !important;
		padding: 0 !important;
	}

	.treelist li {
		margin-left: 25px;
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 0;
	}
