@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}


<input id="my-report-datepicker-format" type="hidden" value="@ViewBag.DatePickerFormat"/>
<div class="myadherence">
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-left">
				<div class="navbar-form">
					<div class="input-group" style="max-width: 294px;">
						<span class="input-group-btn">
							<button id="report-view-date-nav-prev" class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%" id="report-view-date-nav-current" data-bind="value: selectedDate().format(datePickerFormat())" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button id="report-view-date-picker" class="btn btn-default moment-datepicker" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button id="report-view-date-nav-next" class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<a id="report-overview" data-bind="click: goToOverview">@Resources.OverView</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container fixed-non-responsive">
		<div data-bind="ifnot: dataAvailable">
			<div id="friendly-message" class="alert alert-info alert-myreport">
				@Resources.NoDataAvailable
			</div>
		</div>
		<div class="row">
			<div class="container fixed-non-responsive" data-bind="if: dataAvailable">
				<div class="row">
					<div class="col-md-4">
						<div class="well well-sm dashboard dashboard-blue">
							<div class="row">
								<div class="col-xs-3">
									<div class="glyphicon glyphicon-stats"></div>
								</div>
								<div class="text-center col-xs-7">
									<h1 data-bind="text: totalAdherence() + '%'"></h1>
									<p class="adherenceValue">@Resources.Adherence</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8" style="overflow-x: scroll;">
						<div class="col-xs-12 no-padding" data-bind="foreach: schedules">
							<div class="vertical-progress absolute" data-bind="style: { left: Position }">
								<div class="vertical-progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-bind="style: { height: BarLength, marginTop: Margin }"></div>
							</div>
						</div>
						<div class="col-xs-12 no-padding bar-chart" data-bind="foreach: schedules">
								<div class="schedule-interval" data-bind="style: {backgroundColor: Color, left: Position}"></div>
						</div>

						<div class="col-xs-12 no-padding time-line-margin time-line">
								<div class="absolute">
									<div data-bind="foreach: timeLines">
										<div class="absolute" data-bind="style: { left: Position }">
											<div class="ruler"></div>
											<div class="label label-primary" style="margin-left: -13px" data-bind="text: Time" ></div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
