<h1><i class="mdi mdi-account-multiple"></i> API access</h1>
<h2>Add a new api app</h2>
<div nz-row>
	<div nz-col>


	</div>
</div>

<form nz-form [nzLayout]="vertical" [formGroup]="form">

	<nz-form-item>
		<nz-form-label nzRequired nzFor="appFormControl">App name</nz-form-label>
		<nz-form-control>
			<input nz-input formControlName="appFormControl" [readonly]="hasToken()" placeholder="App name" required>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-control>
			<button nz-button nzType="primary" [disabled]="hasToken()" (click)="save()">
				Add App
			</button>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item *ngIf="hasToken()">
		<nz-form-control>
			<p>Copy the token below. Please note that the token can only be displayed this time.</p>
			<input nz-input formControlName="token" readonly>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-control>
			<button nz-button color="primary" (click)="nav.navToList()">Go back</button>
		</nz-form-control>
	</nz-form-item>

</form>