            
.floatleft{display: block; float: left;}
.floatright{display: block; float: right;}

.clearboth{clear: both;}

.relative{ position: relative; }
.absolute{ position: absolute; }

.nowrap { white-space: nowrap; }

.overflow-hidden { overflow: hidden; }

.vertical-top-align {
    vertical-align: top;
}
