<table class="table" ng-if="vm.schedules.Schedules.length > 0">
	<thead>
		<tr class="person">
			<th class="person-name person-name-column">
				<div class="person-name nowrap">{{'AgentName' | translate}}</div>
			</th>
			<th id="time-line-container" class="schedule schedule-column">
				<time-line ng-if="vm.schedules.Schedules.length > 0" times="vm.schedules.TimeLine.HourPoints" chedule-count="vm.schedules.Schedules.length"></time-line>
			</th>
			<th class="right-border-empty"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="personSchedule in vm.schedules.Schedules">
			<td class="person-name person-name-column">
				<div class="person-name nowrap">{{personSchedule.Name}}</div>
			</td>
			<td class="schedule schedule-column">
				<div class="relative time-line-for">
					<span class="dayoff absolute" ng-repeat="dayOff in personSchedule.DayOffs" ng-if="personSchedule.DayOffs.length > 0"
					 ng-style=" {left: dayOff.StartPosition + '%' , width: dayOff.Length + '%' }">
						<md-tooltip md-z-index="1200" ng-if="dayOff.DayOffName !='' ">
							{{dayOff.DayOffName}}
						</md-tooltip>
					</span>
					<div class="shift" ng-repeat="shift in personSchedule.Shifts">
						<div class="layer absolute floatleft selectable projection-layer" projection-name="{projection.Description}}"
						 ng-repeat="projection in shift.Projections" ng-style=" {left: projection.StartPosition + '%' , width:
						 projection.Length + '%' , backgroundColor: projection.Color}"
						 ng-class="{overtimeLight: projection.IsOvertime && projection.UseLighterBorder, overtimeDark: projection.IsOvertime && !projection.UseLighterBorder, personAbsence: projection.ParentPersonAbsences !== null}">
							<md-tooltip md-z-index="1200">{{projection.Description}}</md-tooltip>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>