<button class="wfm-btn wfm-btn-invis-primary approve-requests" ng-show="requestsCommandsPane.showApproveOrDenyRequests" ng-click="requestsCommandsPane.approveRequests()" ng-class="{'wfm-btn-invis-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-check"></i>
	<md-tooltip>
		<span translate>Approve</span>
	</md-tooltip>
</button>
<button class="wfm-btn wfm-btn-invis-default deny-requests" ng-show="requestsCommandsPane.showApproveOrDenyRequests" ng-click="requestsCommandsPane.denyRequests()" ng-class="{'wfm-btn-invis-disabled' : requestsCommandsPane.disableCommands()}">
	<i class="mdi mdi-close"></i>
	<md-tooltip>
		<span translate>Deny</span>
	</md-tooltip>
</button>
<div tabindex="0" class="context-menu card-context">
	<i class="mdi mdi-dots-vertical"></i>
	<div class="context-menu-left" style="width:280px;z-index:100">
		<ul class="wfm-list">
			<li ng-click="requestsCommandsPane.approveRequests()" ng-show="requestsCommandsPane.showApproveOrDenyRequests" ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-check"></i>
				<span translate>Approve</span>
			</li>
			<li ng-click="requestsCommandsPane.toggleApproveBasedOnRulesPanel()" ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}"
			 ng-if="requestsCommandsPane.isApproveBasedOnBusinessRulesEnabled()">
				<i class="mdi mdi-calendar-check"></i>
				<span translate>ApproveBasedOnBusinessRules</span>
			</li>
			<li ng-click="requestsCommandsPane.denyRequests()" ng-show="requestsCommandsPane.showApproveOrDenyRequests" ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}">
				<i class="mdi mdi-close"></i>
				<span translate>Deny</span>
			</li>
			<li ng-click="requestsCommandsPane.toggleCancelConfirmationModal()" ng-show="requestsCommandsPane.showCancelRequests" ng-class="{'wfm-btn-primary-disabled' : !requestsCommandsPane.canCancelRequests()}"
			 ng-if="requestsCommandsPane.isCommandEnabledWithoutShiftTradeView('cancel')">
				<i class="mdi mdi-backup-restore"></i>
				<span translate>Cancel</span>
			</li>
			<li ng-click="requestsCommandsPane.toggleProcessWaitlistModal()" 
				ng-if="requestsCommandsPane.showWaitlist&&requestsCommandsPane.isCommandEnabledWithoutShiftTradeView('processWaitlist')">
				<i class="mdi mdi-check-all"></i>
				<span translate>ProcessWaitlist</span>
			</li>
			<li ng-if="requestsCommandsPane.isCommandEnabledWithoutShiftTradeView('reply')" ng-show="requestsCommandsPane.showReplyRequests" ng-click="requestsCommandsPane.displayReplyDialog()"
			 ng-class="{'wfm-btn-primary-disabled' : requestsCommandsPane.disableCommands()}" class="reply-requests">
				<i class="mdi mdi-arrow-left"></i>
				<span translate>Reply</span>
			</li>
			<li ng-click="requestsCommandsPane.showSiteOpenHour()" ng-if="requestsCommandsPane.isCommandEnabled('siteOpenHour')">
				<i class="mdi mdi-settings"></i>
				<span translate>ManageOpenHours</span>
			</li>
			<li ng-click="requestsCommandsPane.showBudgetAllowanceDetail()" ng-if="requestsCommandsPane.isCommandEnabled('viewAllowance')">
				<i class="mdi mdi-calendar-today"></i>
				<span translate>ViewAllowance</span>
			</li>
		</ul>
	</div>
</div>

<div ng-cloak class="modal-box" ng-if="!requestsCommandsPane.isShiftTradeViewActive && requestsCommandsPane.ShowCancelAbsenceConfirmationModal">
	<div ng-cloak ng-show="requestsCommandsPane.ShowCancelAbsenceConfirmationModal">
		<div class="modalbg">
			<div class="dialog">
				<div class="modal-inner-content">
					<h3>{{'CancelAbsenceRequest'|translate}}</h3>
					&nbsp;
					<br />
					<p>{{'CancelAbsenceRequestDescription'|translate}}</p>
					<p>{{'AreYouSureYouWishToCancelAbsence'|translate}}</p>
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="requestsCommandsPane.toggleCancelConfirmationModal()" class="wfm-btn wfm-btn-invis-default">{{'No'|translate}}</button>
						<button ng-click='requestsCommandsPane.cancelRequests()' class="wfm-btn wfm-btn-invis-default">{{'Yes'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>

<requests-reply-message approve="requestsCommandsPane.approveRequests(message)" deny="requestsCommandsPane.denyRequests(message)"
 cancel="requestsCommandsPane.cancelRequests(message)" reply="requestsCommandsPane.replyRequests(message)" original-message="requestsCommandsPane.selectedRequestMessage"
 show-reply-dialog="requestsCommandsPane.showReplyDialog" show-original-message="requestsCommandsPane.showOriginalMessage"></requests-reply-message>

<requests-site-open-hours show-site="requestsCommandsPane.shouldShowSiteOpenHour" ng-if="requestsCommandsPane.shouldShowSiteOpenHour"></requests-site-open-hours>

<div ng-if="!requestsCommandsPane.isShiftTradeViewActive && requestsCommandsPane.showProcessWaitlistModal">
	<modal-dialog show="requestsCommandsPane.showProcessWaitlistModal" ng-cloak>
		<h1 class="modal-title">{{'WaitlistPeriod' | translate}}</h1>
		<div class="modal-inner-content">
			<h2>{{'ProcessWaitlistRequestsReminder' | translate}}</h2>
			<form name="form">
				<div class="modal-inner-content">
					<div class="text-center">
						<date-range-picker name="WaitlistRange" ng-model="requestsCommandsPane.waitlistPeriod"></date-range-picker>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-actions">
			<aside>
				<button class="wfm-btn wfm-btn-invis-default" ng-click="requestsCommandsPane.toggleProcessWaitlistModal()">{{ 'Cancel' | translate }}</button>
				<button class="wfm-btn wfm-btn-invis-primary" ng-disabled="form.WaitlistRange.$invalid" ng-class="{'wfm-btn-invis-disabled':form.WaitlistRange.$invalid }"
				 ng-click="requestsCommandsPane.processWaitlistRequests()">{{ 'Run' | translate }}</button>
			</aside>
		</div>
	</modal-dialog>
</div>

<div ng-if="requestsCommandsPane.isApproveBasedOnBusinessRulesEnabled() && requestsCommandsPane.showApproveBasedOnRulesPanel">
	<modal-dialog show="requestsCommandsPane.showApproveBasedOnRulesPanel" ng-cloak>
		<div class="modalbg">
			<div class="dialog">
				<h1 class="modal-title">
					{{'SelectBusinessRulesWithColon'|translate}}
				</h1>
				<div class="modal-inner-content">
					<div ng-repeat="rule in requestsCommandsPane.allBusinessRulesForApproving">
						<md-checkbox ng-if="rule.Enabled" ng-model="rule.Checked" aria-label="Checkbox">{{rule.Description}}</md-checkbox>
					</div>
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="requestsCommandsPane.toggleApproveBasedOnRulesPanel()" class="wfm-btn wfm-btn-invis-default">
							{{'Back'|translate}}
						</button>
						<button ng-disabled="!requestsCommandsPane.anyRuleSelected()" ng-click="requestsCommandsPane.approveBasedOnBusinessRules()"
						 ng-class="requestsCommandsPane.anyRuleSelected() ? 'wfm-btn-invis-default' : 'wfm-btn-invis-disabled'" class="wfm-btn">
							{{'Approve'|translate}}
						</button>
					</aside>
				</div>
			</div>
		</div>
	</modal-dialog>
</div>

<div ng-if="requestsCommandsPane.shouldShowResourceCalculations">
	<modal-dialog show="requestsCommandsPane.shouldShowResourceCalculations" ng-cloak>
		<h1 class="modal-title">Resource calculations</h1>
		<div class="modal-inner-content">
			<h2>The read model was last calculated: {{requestsCommandsPane.lastCaluclated}}</h2>
		</div>
		<div class="modal-actions">
			<aside>
				<button class="wfm-btn wfm-btn-invis-primary" ng-click="requestsCommandsPane.triggerResourceCalculate()">Trigger calculation manually</button>
			</aside>
		</div>
	</modal-dialog>
</div>

<div ng-if="requestsCommandsPane.budgetAllowanceDetailIsVisible">
	<modal-dialog class="requests-allowance" show='requestsCommandsPane.budgetAllowanceDetailIsVisible' on-close="requestsCommandsPane.onCloseDialog()"
	 ng-cloak>
		<h1 class="modal-title">{{"ViewAllowance"|translate}}</h1>
		<div class="modal-inner-content">
			<requests-budget-allowance></requests-budget-allowance>
		</div>
		<div class="modal-actions">
			<aside>
				<button class="wfm-btn wfm-btn-invis-primary" ng-click="requestsCommandsPane.budgetAllowanceDetailIsVisible=false;">{{"Close"|translate}}</button>
			</aside>
		</div>
	</modal-dialog>
</div>