<div>
	<span>
		<md-select ng-model="vm.selectedBudgetGroupId" ng-change="vm.loadBudgetAllowance()" class="pull-left" placeholder="Select a budget group...">
			<md-option ng-repeat="group in vm.budgetGroups" ng-value="group.Id">
				<span ng-bind="group.Name"></span>
			</md-option>
		</md-select>
	</span>
	<span>
		<team-schedule-datepicker selected-date="vm.selectedDate" on-date-change="vm.selectedDateChanged()" />
	</span>
	<span class="pull-right"><input type="button" value="{{'Refresh'|translate}}" ng-click="vm.loadBudgetAllowance()" /></span>
</div>
<div id="allowance_detail" ng-if="!vm.isLoading && vm.budgetGroups.length > 0">
	<table class="wfm-table">
		<thead head-width-helper="" class="ng-isolate-scope" style="width: calc((100% - 1.2em) + 1px);">
			<tr class="weekview-thead">
				<th class="agent-name-colomn"></th>
				<th ng-repeat="allowance in vm.budgetAllowanceList" class="date-header ng-scope">
					<span class="date ng-binding pull-left">{{allowance.date.format("DD")}}</span>
					<span class="date ng-binding pull-right">{{allowance.date.format("ddd")}}</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"Allowance"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.allowance}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"TotalAllowance"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.totalAllowance}}</div>
				</td>
			</tr>
			<tr class="weekview-tr" ng-repeat="absence in vm.linkedAbsences">
				<td class="weekview-td weekview-person-name ng-binding"><div class="pull-right">{{vm.formatAbsenceName(absence)}}</div></td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance[absence]}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"UsedTotal"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.usedTotal}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"AbsoluteDifference"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.absoluteDifference}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"RelativeDifference"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.relativeDifference}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"HeadCount"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.totalHeadCounts}}</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="!vm.isLoading && vm.budgetGroups.length === 0">
	<span>
		<i class="mdi mdi-alert-circle"></i>
	</span>
	<span>{{"NoBudgetGroupFound"|translate}}</span>
</div>