<modal-dialog show="requestsSiteOpenHours.showSite" ng-cloak>
	<h1 class="modal-title">{{ 'ManageOpenHours' | translate }}</h1>
	<div class="modal-inner-content site-open-hours-container">
		<div class="con-row">
			<div class="con-flex">
				<label for="siteName" class="input-prepend">
					<i class="mdi mdi-filter-outline"></i>
					<input
						type="text"
						id="siteNameFilter"
						placeholder="{{'FilterSites' | translate}}"
						ng-model="siteFilter.Name"
					/>
					<md-tooltip>{{ 'FilterSites' | translate }}</md-tooltip>
				</label>
				<div class="">
					<div ng-repeat="site in requestsSiteOpenHours.sites | filter:siteFilter">
						<div class="wfm-radio">
							<label class="relative">
								<input
									type="radio"
									name="radio"
									ng-value="site.Id"
									ng-model="requestsSiteOpenHours.selectedSite"
								/>
								<span class="wfm-radio-toggle"></span>
								<span class="wfm-radio-label">{{ site.Name }}</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="con-flex split-3-1">
				<div ng-repeat="site in requestsSiteOpenHours.sites">
					<working-hours-picker
						ng-if="requestsSiteOpenHours.selectedSite == site.Id"
						working-hours="site.OpenHours"
						enabled="requestsSiteOpenHours.hasEditPermission"
					></working-hours-picker>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="requestsSiteOpenHours.hasEditPermission" class="modal-actions">
		<aside>
			<button class="wfm-btn wfm-btn-invis-default" ng-click="requestsSiteOpenHours.cancel()">
				{{ 'Cancel' | translate }}
			</button>
			<button
				class="wfm-btn wfm-btn-invis-primary"
				ng-class="{'wfm-btn-invis-disabled':form.WaitlistRange.$invalid }"
				ng-click="requestsSiteOpenHours.save()"
			>
				{{ 'Save' | translate }}
			</button>
		</aside>
	</div>
</modal-dialog>
