<div class="view-header">
	<div class="view-title">
		<i class="mdi mdi mdi-numeric-9-plus-box-multiple-outline"></i>
		<h1 translate style="display: inline-block">Requests</h1>
	</div>
</div>

<div class="wfm-requests panel wfm-block material-depth-1">
	<div class="operation-container">
		<div class="left-part">
			<favorite-search apply-favorite="vm.applyFavorite(currentFavorite)"
							 get-search="vm.getSearch()"
							 current-favorite="vm.selectedFavorite"
							 on-init-async="vm.onFavoriteSearchInitDefer"></favorite-search>

			<group-page-picker ng-if="vm.Wfm_GroupPages_45057"
							   group-pages="vm.availableGroups"
							   class="group-picker-container inline-block"
							   selected-groups="vm.selectedGroups"></group-page-picker>

			<organization-picker ng-if="!vm.Wfm_GroupPages_45057"
								 sites-and-teams="vm.sitesAndTeams"
								 on-open="vm.agentSearchOptions.focusingSearch = false"
								 on-close="vm.changeSelectedTeams()"
								 selected-team-ids="vm.selectedGroups.groupIds"
								 selected-text="vm.orgPickerSelectedText()"
								 class="organization-picker-container"></organization-picker>

			<div class="people-search-container"
				 ng-style="{'visibility': vm.hideSearchIfNoSelectedTeam()}">
				<wfm-multiple-search-input class="request-filter inline-block" search-title="vm.searchPlaceholder" search-options="vm.agentSearchOptions" search-callback="vm.onSearchTermChangedCallback" focus-input="vm.agentSearchOptions.focusingSearch"></wfm-multiple-search-input>
			</div>

			<date-range-picker id="Request-period" class="request-date-range-picker" ng-model="vm.period"
							   translations="vm.translations"
							   template-type="vm.dateRangeTemplateType"
							   custom-validators="vm.dateRangeCustomValidators"></date-range-picker>

			<div class="wfm-switch filter-switch">
				<input type="checkbox" id="filter-switch" ng-model="vm.filterEnabled" />
				<label for="filter-switch">
					<span class="wfm-switch-toggle"></span>
					<span style="width: 55px; display: inline-block;"></span>
					<span class="wfm-switch-label" ng-show="vm.filterEnabled !== true"><span translate>ShowFilter</span></span>
					<span class="wfm-switch-label" ng-show="vm.filterEnabled === true" translate>HideFilter</span>
				</label>
			</div>
		</div>

		<div class="right-part">
			<requests-commands-pane before-command="vm.onBeforeCommand()"
									is-shift-trade-view-active="vm.isShiftTradeViewActive()"
									after-command-success="vm.onCommandSuccess(commandType, changedRequestsCount, requestsCount, waitlistPeriod)"
									on-error-messages="vm.onErrorMessages(errorMessages)"
									after-command-error="vm.onCommandError(error)"
									commands-disabled="vm.disableInteraction"
									on-process-waitlist-finished="vm.onProcessWaitlistFinished(message)"
									on-approve-based-on-business-rules-finished="vm.onApproveBasedOnBusinessRulesFinished(message)"></requests-commands-pane>
		</div>
	</div>

	<div class="request-body">
		<div class="wfm-slide-tabs tabbed-panel">
			<md-content class="md-padding">
				<md-tabs md-dynamic-height md-border-botto md-no-pagination md-selected="vm.selectedTabIndex">
					<md-tab label="{{'Absence' | translate}} {{'And' | translate}} {{'Text' | translate}}" ng-click="vm.activeAbsenceAndTextTab()">
					</md-tab>
					<md-tab label="{{'ShiftTrade' | translate}}" ng-click="vm.activeShiftTradeTab()">
					</md-tab>
				</md-tabs>
			</md-content>
			<md-content class="md-padding" ng-class="{'text-absence-view': !vm.isShiftTradeViewActive(), 'shift-trade-view': vm.isShiftTradeViewActive()}">
				<section ui-view></section>
			</md-content>
		</div>
	</div>

	<requests-footer ng-if="vm.isFooterInited"
					 paging="vm.paging"
					 page-size-options="vm.pageSizeOptions"
					 is-shift-trade-view-active="vm.isShiftTradeViewActive()"
					 is-using-request-submitter-time-zone="vm.isUsingRequestSubmitterTimeZone"></requests-footer>
</div>