<div class="request-footer full-padding clearfix">
	<div class="pull-left time-zone-switch">
		<form>
			<md-radio-group ng-model="requestsFooter.isUsingRequestSubmitterTimeZone">
				<md-radio-button ng-value="false">{{'LogonUserTimeZone' | translate}}</md-radio-button>
				<md-radio-button ng-value="true">{{'RequestSubmitterTimeZone' | translate}}</md-radio-button>
			</md-radio-group>
		</form>
	</div>

	<div class="pull-right">
		<wfm-pagination class="pull-pagination" pagination-options="requestsFooter.paging" get-data-for-page-callback="requestsFooter.onPageNumberChange"></wfm-pagination>
		<div class="total-requests-count pull-left full-padding">
			<span>{{requestsFooter.showSelectedRequestsInfo()}}</span>
		</div>
		<md-select aria-label="page size" ng-if="requestsFooter.paging.totalRequestsCount > 0"
				   class="page-size-selector pull-left"
				   ng-model="requestsFooter.paging.pageSize"
				   ng-change="requestsFooter.onPageSizeChanges()">
			<md-option ng-repeat="option in requestsFooter.pageSizeOptions" ng-value="option"><span ng-bind="option"></span></md-option>
		</md-select>
	</div>
</div>