<div ng-if="!vm.isLoading && vm.budgetGroups.length > 0" class="requests-allowance-header">
	<wfm-date-picker ng-model="vm.selectedDate" show-week="true" popup-mode="true" on-date-change="vm.selectedDateChanged(vm.selectedDate)"></wfm-date-picker>
	<md-select class="pull-left" ng-model="vm.selectedBudgetGroupId" ng-change="vm.loadBudgetAllowance()" placeholder="{{'SelectABudgetGroupThreeDots'|translate}}">
		<md-option ng-repeat="group in vm.budgetGroups" ng-value="group.Id">
			<span ng-bind="group.Name"></span>
		</md-option>
	</md-select>
	<span class="pull-right">
		<button type="button" class="wfm-btn wfm-btn-primary" ng-click="vm.loadBudgetAllowance()">{{'Refresh' | translate}}</button>
	</span>
</div>
<div id="allowance_detail" ng-if="!vm.isLoading && vm.budgetGroups.length > 0">
	<table class="wfm-table">
		<thead head-width-helper="" class="ng-isolate-scope" style="width: calc((100% - 1.2em) + 1px);">
			<tr class="weekview-thead">
				<th class="agent-name-colomn"></th>
				<th ng-repeat="allowance in vm.budgetAllowanceList" class="date-header ng-scope">
					<span class="date ng-binding pull-left">{{allowance.date.format("DD")}}</span>
					<span class="date ng-binding pull-right">{{allowance.date.format("ddd")}}</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"FullAllowance"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.fullAllowance}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"ShrinkedAllowance"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.shrinkedAllowance}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"UsedTotal"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.usedTotal}}</div>
				</td>
			</tr>
			<tr class="weekview-tr" ng-repeat="absence in vm.linkedAbsences">
				<td class="weekview-td weekview-person-name ng-binding used-by-absence">
					<div>
						<span>
							<i class="mdi mdi-chevron-right"></i>
						</span>
						<span>{{vm.formatAbsenceName(absence)}}</span>
					</div>
				</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope used-by-absence {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance[absence]}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"AbsoluteDifference"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.absoluteDifference}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"RelativeDifference"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.relativeDifference}}</div>
				</td>
			</tr>
			<tr class="weekview-tr">
				<td class="weekview-td weekview-person-name ng-binding">{{"HeadCount"|translate}}</td>
				<td ng-repeat="allowance in vm.budgetAllowanceList" class="weekview-td ng-scope {{vm.getStyle(allowance)}}">
					<div class="ng-binding pull-right">{{allowance.totalHeadCounts}}</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="!vm.isLoading && vm.budgetGroups.length === 0">
	<span>
		<i class="mdi mdi-alert-circle"></i>
	</span>
	<span>{{"NoBudgetGroupFound"|translate}}</span>
</div>