<md-progress-linear md-mode="indeterminate" ng-if="vm.isLoading"></md-progress-linear>
<div class="requests-uigrid-table-container relative">
	<div
		ui-grid="vm.gridOptions"
		ng-if="!vm.isLoading"
		class="ui-grid requests-uigrid-table"
		ui-grid-auto-resize
		ui-grid-selection
		ui-grid-resize-columns
		ui-grid-pinning
		ui-grid-save-state
		ui-grid-disable-animation
	></div>
	<i
		ng-if="!vm.isLoading"
		ng-show="vm.gridOptions.enableFiltering"
		ng-click="vm.clearAllFilters()"
		class="mdi mdi-block-helper pointer clear-all-filters"
	>
		<md-tooltip>{{ 'Clear' | translate }}</md-tooltip>
	</i>
</div>

<div
	ng-if="vm.showingAbsenceSchedules && vm.shifts && vm.shifts.length > 0"
	outside-click="vm.hideAbsenceSchedules()"
	class="requests-schedule-container material-depth-1 full-padding absolute"
	ng-style="vm.schedulesContainerStyle"
>
	<h2>{{ vm.showingScheduleAgentName }}</h2>
	<div class="requests-schedule-list">
		<div ng-repeat="shift in vm.shifts" class="requests-shift-row">
			<div class="requests-shift-info pull-left inline-block text-nowrap-ellipsis text-center relative">
				<span class="block">{{ shift.Date }}</span>
				<span ng-if="shift.ShiftStartTime.length > 0 && !shift.IsDayOff">
					{{ shift.ShiftStartTime }} - {{ shift.ShiftEndTime }}
				</span>
			</div>
			<span
				ng-style="{visibility: shift.ShiftCategory ? 'visible': 'hidden', backgroundColor: shift.ShiftCategory.DisplayColor, color: shift.ShiftCategory.TextColor}"
				class="requests-shift-category-cell cursor-pointer"
			>
				{{ shift.ShiftCategory.ShortName }}

				<md-tooltip md-z-index="1200" class="multiline-tooltip layer-summary">
					<p>{{ shift.ShiftCategory.Name }}</p>
				</md-tooltip>
			</span>
			<div class="requests-shift-layer-container pull-left text-center inline-block relative">
				<div class="dayoff cursor-pointer absolute" ng-if="shift.IsDayOff">
					<md-tooltip md-z-index="1200" class="multiline-tooltip layer-summary">
						<p>{{ shift.DayOffName }}</p>
					</md-tooltip>
				</div>
				<span ng-if="shift.IsNotScheduled">{{ 'NotScheduled' | translate }}</span>
				<div
					class="layer absolute cursor-pointer"
					ng-repeat="projection in shift.Periods"
					ng-style=" {backgroundColor: projection.Color, left: projection.StartPositionPercentage * 100 + '%', width: (projection.EndPositionPercentage - projection.StartPositionPercentage) * 100 + '%', color: projection.TextColor}"
					ng-class="{'overtime-light': projection.IsOvertime && projection.TextColor == 'white', 'overtime-dark': projection.IsOvertime && projection.TextColor == 'black'}"
				>
					<i ng-if="projection.Meeting" class="mdi mdi-account absolute"></i>
					<md-tooltip md-z-index="1200" class="multiline-tooltip layer-summary">
						<p>{{ projection.Title }}</p>
						<p>{{ projection.TimeSpan }}</p>
						<div ng-if="projection.Meeting&&!vm.hideMeetingDetails" class="text-left">
							<p>
								<span class="text-italic">{{ 'Title' | translate }}: </span>
								{{ projection.Meeting.Title }}
							</p>
							<p>
								<span class="text-italic">{{ 'Description' | translate }}: </span>
								{{ projection.Meeting.Description }}
							</p>
							<p>
								<span class="text-italic">{{ 'Location' | translate }}: </span>
								{{ projection.Meeting.Location }}
							</p>
						</div>
					</md-tooltip>
				</div>
			</div>
		</div>
	</div>
</div>
