<div class="view-header">
	<div class="view-title">
		<h1 class="inline-block"><i class="mdi mdi mdi-numeric-9-plus-box-multiple-outline"></i>{{'Requests' | translate }}</h1>
		<ng2-feedback-message class="pull-right" [feedback-type]="'newRelease'" [component-name]="'Requests' | translate"></ng2-feedback-message>
	</div>
</div>

<div class="con-row wfm-requests">
	<div class="con-flex">

			<div class="panel operation-container">
				<div class="left-part">
					<favorite-search apply-favorite="vm.applyFavorite(currentFavorite)" get-search="vm.getSearch()" current-favorite="vm.selectedFavorite"
					 on-init-async="vm.onFavoriteSearchInitDefer"></favorite-search>

					<group-page-picker  group-pages="vm.availableGroups" on-close="vm.changeSelectedTeams()"
					 class="group-picker-container inline-block" selected-groups="vm.selectedGroups"></group-page-picker>

					<div class="people-search-container" ng-style="{'visibility': vm.hideSearchIfNoSelectedTeam()}">
						<wfm-multiple-search-input class="request-filter inline-block" search-title="vm.searchPlaceholder" search-options="vm.agentSearchOptions"
						 search-callback="vm.onSearchTermChangedCallback"></wfm-multiple-search-input>
					</div>

					<div class="request-date-range-picker relative unselectable">
						<wfm-date-range-picker 
											   ng-model="vm.period" 
											   show-week="true"
											   custom-validate="vm.dateRangeCustomValidators(vm.period)"
											   popup-mode="true"
											   on-date-change="vm.onPeriodChange()"></wfm-date-range-picker>
					</div>

					<div class="filter-switch inline-block">
						<md-switch ng-model="vm.filterEnabled" aria-label="Switch">
							<span translate>ShowFilter</span>
						</md-switch>
					</div>
				</div>

				<div class="right-part">
					<requests-commands-pane ng-if="vm.permissionInited" before-command="vm.onBeforeCommand()" is-shift-trade-view-active="vm.isShiftTradeViewActive()"
					 after-command-success="vm.onCommandSuccess(commandType, changedRequestsCount, requestsCount, waitlistPeriod)"
					 on-error-messages="vm.onErrorMessages(errorMessages)" after-command-error="vm.onCommandError(error)"
					 commands-disabled="vm.disableInteraction" on-process-waitlist-finished="vm.onProcessWaitlistFinished(message)"
					 on-approve-based-on-business-rules-finished="vm.onApproveBasedOnBusinessRulesFinished(message)"></requests-commands-pane>
				</div>
			</div>

			<div class="request-body">
				<div class="wfm-slide-tabs tabbed-panel">
					<md-content class="md-padding requests-table-header unselectable">
						<md-tabs md-dynamic-height md-border-bottom md-no-pagination md-selected="vm.selectedTabIndex">
							<md-tab label="{{'Absence' | translate}} {{'And' | translate}} {{'Text' | translate}}" ng-click="vm.activeAbsenceAndTextTab()">
							</md-tab>
							<md-tab ng-if="vm.shiftTradeRequestsLicenseAvailable" label="{{'ShiftTrade' | translate}}" ng-click="vm.activeShiftTradeTab()">
							</md-tab>
							<md-tab ng-if="vm.overtimeRequestsLicenseAvailable" label="{{'Overtime' | translate}}" ng-click="vm.activeOvertimeTab()">
							</md-tab>
						</md-tabs>
					</md-content>
					<md-content class="md-padding" ng-class="{'text-absence-view': !vm.isShiftTradeViewActive(), 'shift-trade-view': vm.isShiftTradeViewActive()}">
						<section ui-view></section>
					</md-content>
				</div>
			</div>

			<requests-footer ng-if="vm.isFooterInited" paging="vm.paging" page-size-options="vm.pageSizeOptions"
			 is-shift-trade-view-active="vm.isShiftTradeViewActive()" is-using-request-submitter-time-zone="vm.isUsingRequestSubmitterTimeZone"></requests-footer>
	</div>
</div>