<div class="request-footer full-padding clearfix">
	<div class="pull-left time-zone-switch">
		<span class="wfm-radio">
			<input type="radio" name="groupTimezoneSetting" id="radioUserTimezone"
				   ng-checked="!requestsFooter.isUsingRequestSubmitterTimeZone"
				   ng-click="requestsFooter.isUsingRequestSubmitterTimeZone = false"/>
			<label for="radioUserTimezone">
				<span class="wfm-radio-toggle"></span>
				<span class="wfm-radio-label" translate>LogonUserTimeZone</span>
			</label>
		</span>
		<span class="wfm-radio">
			<input type="radio" name="groupTimezoneSetting" id="radioRequestTimezone"
				   ng-checked="requestsFooter.isUsingRequestSubmitterTimeZone"
				   ng-click="requestsFooter.isUsingRequestSubmitterTimeZone = true"/>
			<label for="radioRequestTimezone">
				<span class="wfm-radio-toggle"></span>
				<span class="wfm-radio-label" translate>RequestSubmitterTimeZone</span>
			</label>
		</span>
	</div>

	<div class="pull-right">
		<wfm-pagination pagination-options="requestsFooter.paging" get-data-for-page-callback="requestsFooter.onPageNumberChange"></wfm-pagination>
		<div class="total-requests-count pull-left">
			<span>{{requestsFooter.showSelectedRequestsInfo()}}</span>
		</div>
		<md-select aria-label="page size" ng-if="requestsFooter.paging.totalRequestsCount > 0"
				   class="page-size-selector pull-left"
				   ng-model="requestsFooter.paging.pageSize"
				   ng-change="requestsFooter.onPageSizeChanges()">
			<md-option ng-repeat="option in requestsFooter.pageSizeOptions" ng-value="option"><span ng-bind="option"></span></md-option>
		</md-select>
	</div>
</div>