<div role="rowgroup" class="ui-grid-header">
<div class="ui-grid-top-panel">
	<div class="ui-grid-header-viewport">
		<div class="ui-grid-header-canvas">
			<div class="ui-grid-header-cell-wrapper" ng-style="colContainer.headerCellWrapperStyle()">
				<div role="row" class="ui-grid-header-cell-row" ng-class="{'request-header-full-height': grid.appScope.filterEnabled}">
					<div class="ui-grid-header-cell ui-grid-clearfix"
						 ng-if="!col.colDef.isShiftTradeDayColumn"
						 ng-repeat="col in colContainer.renderedColumns track by col.uid"
						 ui-grid-header-cell col="col"
						 render-index="$index">
					</div>
					<div class="ui-grid-header-cell ui-grid-clearfix shift-trade-header-container"
						 ng-if="col.colDef.isShiftTradeDayColumn && grid.appScope.shiftTradeDayViewModels.length > 0"
						 ng-repeat="col in colContainer.renderedColumns track by col.uid">
						<div class="shift-trade-header" ng-repeat="day in grid.appScope.shiftTradeDayViewModels" ng-style="{'left': day.leftOffset}">
							<div class="shift-trade-header-start-of-week" ng-show="day.isStartOfWeek && !day.isLatestDayOfPeriod">{{day.shortDate}}</div>
							<div ng-show="!day.isStartOfWeek || day.isLatestDayOfPeriod"> &nbsp;</div>
							<div class="shift-trade-header-day-number">{{day.dayNumber}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>