<div class="view-header">
	<div class="view-title">
		<i class="mdi mdi mdi-numeric-9-plus-box-multiple-outline"></i>
		<h1 translate style="display: inline-block">Requests</h1>
	</div>
</div>

<div class="wfm-requests panel wfm-block material-depth-1" ng-if="vm.isRequestsEnabled">
	<div class="operation-container">
		<div class="left-part">
			<favorite-search ng-if="vm.businessHierarchyToggleEnabled && vm.saveFavoriteSearchesToggleEnabled"
							 apply-favorite="vm.applyFavorite(currentFavorite)"
							 get-search="vm.getSearch()"
							 current-favorite="vm.selectedFavorite"
							 on-init-async="vm.onFavoriteSearchInitDefer"></favorite-search>

			<organization-picker ng-if="vm.businessHierarchyToggleEnabled"
								 on-open="vm.agentSearchOptions.focusingSearch = false"
								 on-init-async="vm.defaultTeamLoadedDefer"
								 on-pick="vm.changeSelectedTeams(teams)"
								 preselected-team-ids="vm.selectedTeamIds"
								 class="organization-picker-container"></organization-picker>

			<span class="people-search-container">
				<wfm-multiple-search-input class="request-filter inline-block" title="'Search'" search-options="vm.agentSearchOptions" search-callback="vm.onSearchTermChangedCallback" focus-input="vm.agentSearchOptions.focusingSearch" ></wfm-multiple-search-input>
			</span>

			<date-range-picker id="Request-period" class="request-date-range-picker" ng-model="vm.period"
							   template-type="vm.dateRangeTemplateType"
							   custom-validators="vm.dateRangeCustomValidators"></date-range-picker>

			<div class="wfm-switch filter-switch" ng-if="vm.filterToggleEnabled">
				<input type="checkbox" id="filter-switch" ng-model="vm.filterEnabled" />
				<label for="filter-switch">
					<span class="wfm-switch-toggle"></span>
					<span style="width: 55px; display: inline-block;"></span>
					<span class="wfm-switch-label" ng-show="vm.filterEnabled !== true"><span translate>ShowFilter</span></span>
					<span class="wfm-switch-label" ng-show="vm.filterEnabled === true" translate>HideFilter</span>
				</label>
			</div>
		</div>
		
		<div class="right-part">
			<requests-commands-pane ng-if="vm.isRequestsCommandsEnabled && vm.canApproveOrDenyRequest()"
									before-command="vm.onBeforeCommand()"
									is-shift-trade-view-active="vm.isShiftTradeViewActive()"
									after-command-success="vm.onCommandSuccess(commandType, changedRequestsCount, requestsCount, waitlistPeriod)"
									on-error-messages="vm.onErrorMessages(errorMessages)"
									after-command-error="vm.onCommandError(error)"
									commands-disabled="vm.disableInteraction"
									on-process-waitlist-finished="vm.onProcessWaitlistFinished(message)"
									on-approve-based-on-business-rules-finished="vm.onApproveBasedOnBusinessRulesFinished(message)"
									></requests-commands-pane>
		</div>
	</div>

	<div class="request-body" synchronize-header-height >
		<div class="wfm-slide-tabs tabbed-panel">
			<md-content class="md-padding">
				<md-tabs md-dynamic-height md-border-botto md-no-pagination md-selected="vm.selectedTabIndex">
					<md-tab label="{{'Absence' | translate}} {{'And' | translate}} {{'Text' | translate}}">
						<md-content class="md-padding text-absence-view">
							<requests-overview is-active="vm.selectedTabIndex == 0"
													 period="vm.absencePeriod"
													 agent-search-term="vm.agentSearchOptions.keyword"
													 selected-team-ids="vm.selectedTeamIds"
													 paging="vm.paging"
													 on-init-call-back="vm.initFooter(count)"
													 is-using-request-submitter-time-zone="vm.isUsingRequestSubmitterTimeZone"
													 filter-enabled="vm.filterEnabled" >
							</requests-overview>
						</md-content>
					</md-tab>

					<md-tab label="{{'ShiftTrade' | translate}}" ng-if="vm.isShiftTradeViewVisible" >
						<md-content class="md-padding shift-trade-view">
							<requests-overview shift-trade-view
													 is-active="vm.selectedTabIndex == 1"
													 period="vm.shiftTradePeriod"
													 agent-search-term="vm.agentSearchOptions.keyword"
													 selected-team-ids="vm.selectedTeamIds"
													 paging="vm.paging"
													 on-init-call-back="vm.initFooter(count)"
													 is-using-request-submitter-time-zone="vm.isUsingRequestSubmitterTimeZone"
													 filter-enabled="vm.filterEnabled">
							</requests-overview>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</div>

	<requests-footer ng-if="vm.isFooterInited"
			paging="vm.paging"
			page-size-options="vm.pageSizeOptions"
			is-shift-trade-view-active="vm.isShiftTradeViewActive()"
			is-using-request-submitter-time-zone="vm.isUsingRequestSubmitterTimeZone"
	></requests-footer>
</div>