<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Practices.CompositeUI" version="1.0.0" targetFramework="net40" />
  <package id="Syncfusion.Core" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Grid.Win" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Shared.Base" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Shared.Win" version="12.1.0.43" targetFramework="net40" />
  <package id="Syncfusion.Tools.Win" version="12.1.0.47" targetFramework="net40" />
</packages>