<div class="view-header with-fab with-desc">
	<div class="view-title">
		<h1><i class="mdi mdi-account-key"></i> {{'ManagePermissions'|translate}}</h1>
		<p translate>ManagePermissionsIntro</p>
	</div>
	<div class="fab-wrapper">
		<button class="wfm-fab material-depth-1" ng-click="vm.showCreateModal = true"><i class="mdi mdi-plus"></i>
			<md-tooltip>{{'AddRole'|translate}}</md-tooltip>
		</button>
	</div>
</div>

<modal-dialog show='vm.showCreateModal' ng-cloak>

	<form ng-submit="vm.createRole(vm.roleName)">
		<h1 class="modal-title">{{'AddRole'|translate}}</h1>
		<div class="modal-inner-content">
			<div class="con-row">
				<div class="con-flex">
					<label for="createRole" class="input-icon">
						<i class="mdi mdi-account-key">
							<input type="text" id="createRole" autocomplete="off" minlength="1" maxlength="50" required ng-model="vm.roleName" placeholder="{{'Role'|translate}}" autofocus>
							<md-tooltip>{{'Name'|translate}}</md-tooltip>
						</i>
					</label>
				</div>
			</div>
		</div>

		<div class="modal-actions">
			<aside>
				<input type="submit" class="wfm-btn wfm-btn-invis-primary" id="submit" value="{{'Add'|translate}}" />
			</aside>
		</div>

	</form>
</modal-dialog>

<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<h2 translate>Roles</h2>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<label for="filter" class="input-icon">
						<i class="mdi mdi-filter-outline">
							<input type="text" id="filter" ng-model="roleFilter.DescriptionText" placeholder="{{'FilterRoles'|translate}}">
							<md-tooltip>{{'FilterRoles'|translate}}</md-tooltip>
						</i>
					</label>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex">
					<ul class="wfm-list perm-list">
						<li ng-click="vm.selectRole(role, false)" ng-repeat="role in vm.roles | filter:roleFilter">
							<span class="list-item-container">
								{{role.DescriptionText}}
							</span>
							<span ng-cloak ng-show="role.IsSelected" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
							<div class="wfm-leave-behind" ng-show="vm.checkMyRole(role)" ng-class="{'open-leave-behind-for-testing':vm.roleOptionsOpen}">
								<span>
									<i class="mdi mdi-content-copy" ng-click="vm.copyRole(role); $event.stopPropagation();">
										<md-tooltip>
											{{'Copy' | translate}}
										</md-tooltip>
									</i>
									<i class="mdi mdi-pencil" id="edit-role-trigger" ng-click="editRoleModal = !editRoleModal; $event.stopPropagation();">
										<md-tooltip>
											{{'Edit' | translate}}
										</md-tooltip>
									</i>
									<i class="mdi mdi-delete" ng-click="confirmDeleteRole=true; $event.stopPropagation();">
										<md-tooltip ng-hide="role.IsMyRole">
											{{'Delete' | translate}}
										</md-tooltip>
									</i>
								</span>
							</div>

							<modal-dialog show='editRoleModal' ng-cloak>
								<form ng-submit="vm.editRole(newRoleName, role)">
									<h1 class="modal-title">{{'Edit' | translate}}</h1>
									<div class="modal-inner-content">
										<div class="con-row">
											<div class="con-flex">
												<label for="editRole" class="input-icon">
													<i class="mdi mdi-pencil">
														<input type="text" id="edit-role-input" ng-model="newRoleName" placeholder="New name">
														<md-tooltip>{{'Name' | translate}}</md-tooltip>
													</i>
												</label>
											</div>
										</div>
									</div>
									<div class="modal-actions">
										<aside>
											<button class="wfm-btn wfm-btn-invis-primary" type="submit" id="edit-role-confirm" ng-click="editRoleModal=!editRoleModal" name="button">Edit</button>
										</aside>
									</div>
								</form>
							</modal-dialog>

							<div ng-cloak class="modal-box">
								<div ng-cloak ng-show="confirmDeleteRole">
									<div class="modalbg">
										<div class="dialog-mini">
											<div class="modal-inner-content">
												<h3>{{role.Name}}</h3> {{'AreYouSureYouWantToDelete' | translate}}
											</div>
											<div class="modal-actions">
												<aside>
													<button ng-click="confirmDeleteRole=false" class="wfm-btn wfm-btn-invis-default">{{'Close' | translate}}</button>
													<button ng-click="confirmDeleteRole = false; vm.deleteRole(role)" id="delete-role" class="wfm-btn wfm-btn-invis-primary">{{'Delete' | translate}}</button>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="con-flex split-3-1 permissions-tabs">
		<div class="panel material-depth-1">
			<div class="wfm-slide-tabs tabbed-panel">
				<md-content class="md-padding">
					<md-tabs md-dynamic-height md-border-bottom>
						<md-tab label="{{'Functions' | translate}}">
							<md-content class="md-padding perm-functions ng-cloak">
								<div class="con-row">
									<div class="con-flex">
										<label for="filter1" class="input-icon">
											<i class="mdi mdi-filter-outline">
												<input type="text" id="filter1" ng-model="searchString" placeholder="{{'PermissionsFilterThreeDots' | translate}}" ng-change="vm.functionsDescriptionFilter(searchString)">
												<md-tooltip>{{'PermissionsFilterThreeDots'|translate}}</md-tooltip>
											</i>
										</label>
									</div>
									<div class="con-flex split-1-2"></div>
									<div class="con-flex line-right">
										<div class="wfm-checkbox" ng-class="{'non-pointer text-muted': !vm.selectedRole.Id || vm.selectedRole.BuiltIn || vm.selectedRole.IsMyRole}">
											<input type="checkbox" checked="true" ng-model="vm.isAllFunctionSelected" />
											<label ng-click="toggleDangerModal = true" class="pointer">
												<span>
													<span class="wfm-checkbox-toggle"></span>
													<span class="wfm-checkbox-label">{{'ToggleAll'|translate}}</span>
												</span>
											</label>
										</div>
									</div>
								</div>
								<div class="con-row">
									<div class="con-flex">
										<form class="permission-radio-buttons" ng-class="{'non-pointer text-muted': vm.selectedRole.BuiltIn}">
											<div class="wfm-radio">
												<label>
													<span class="wfm-radio-label permission-filter-label" translate>Show</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" checked name="tree-toggle" ng-click="vm.allFunctionsFilter()">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>All</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" name="tree-toggle" ng-click="vm.selectedFunctionsFilter()" value="true">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>SelectedItems</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" name="tree-toggle" ng-click="vm.unSelectedFunctionsFilter()">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>UnselectedItems</span>
												</label>
											</div>
										</form>
									</div>
								</div>
								<div class="con-row">
									<div class="con-flex">
										<permissions-tree filter-func="vm.functionsFilterObj" selected-role="vm.selectedRole" functions="vm.componentFunctions" is-selected="vm.isFunctionSelected" select="vm.selectFunction" on-click="vm.onFunctionClick"></permissions-tree>
									</div>
								</div>
							</md-content>
						</md-tab>
						<md-tab id="data-tab" label="{{'Data' | translate}}">
							<md-content class="md-padding">
								<div class="con-row">
									<div class="con-flex">
										<label for="filter1" class="input-icon">
											<i class="mdi mdi-filter-outline">
												<input type="text" id="filter1" ng-model="searchString" placeholder="{{'PermissionsFilterThreeDots' | translate}}" ng-change="vm.orgDataDescriptionFilter(searchString)">
												<md-tooltip>{{'PermissionsFilterThreeDots'|translate}}</md-tooltip>
											</i>
										</label>
									</div>
									<div class="con-flex split-1-2"></div>
									<div class="con-flex">
										<md-select ng-model="model" placeholder="Pick an option" ng-class="{'non-pointer text-muted': !vm.selectedRole.Id || vm.selectedRole.BuiltIn || vm.selectedRole.IsMyRole}">
											<h2>{{'AddGlobalAuthorizationLabel'| translate}}</h2>
											<md-option ng-selected="option.RangeOption == vm.selectedRole.AvailableDataRange" ng-value="option.RangeOption"  ng-repeat="option in vm.organizationSelection.DynamicOptions" ng-click="vm.selectDynamicOption(option)">{{option.Name | translate}}</md-option>
										</md-select>
									</div>
								</div>
								<div class="con-row">
									<div class="con-flex">
										<form class="permission-radio-buttons" ng-class="{'non-pointer text-muted': vm.selectedRole.BuiltIn}">
											<div class="wfm-radio">
												<label>
													<span class="wfm-radio-label permission-filter-label" translate>Show</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" checked name="tree-toggle" ng-click="vm.allDataFilter()">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>All</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" name="tree-toggle" ng-click="vm.selectedDataFilter()" value="true">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>SelectedItems</span>
												</label>
											</div>
											<div class="wfm-radio">
												<label>
													<input type="radio" name="tree-toggle" ng-click="vm.unselectedDataFilter()" value="true">
													<span class="wfm-radio-toggle"></span>
													<span class="wfm-radio-label" translate>UnselectedItems</span>
												</label>
											</div>
										</form>
									</div>
								</div>
								<div class="con-row">
									<div class="con-flex">
										<permissions-list is-selected="vm.isOrgDataSelected" select="vm.selectOrgData" datafilter="vm.dataFilterObj" selected-role="vm.selectedRole" on-click="vm.nodeClick" original-org="vm.organizationSelection" org="vm.filteredOrganizationSelection"></permissions-list>
									</div>
								</div>
							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>

<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="toggleDangerModal">
		<div class="modalbg">
			<div class="dialog-mini">
				<div class="modal-inner-content">
					{{'ConfirmToggleAllPermissions'|translate}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="toggleDangerModal = false" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
						<button ng-click="toggleDangerModal = false; vm.toggleAllFunction();" class="wfm-btn wfm-btn-invis-primary">{{'ToggleAll'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
