@import '~teleopti-styleguide/styleguide/sass/classicvariables';

.role-content {
	padding: 7px;
}

.action-buttons {
	float: right;
	padding-bottom: 7px;
}

.workspace-parent {
	max-width: 250px;
}

.panel {
	height: 100%;
}

.blue-box {
	height: 35px;
	background-color: $primary;
	color: white;

	h2 {
		margin-top: 3px !important;
	}
}
