@import '~teleopti-styleguide/styleguide/sass/classicvariables';

.role-page {
	height: 100%;

	.blue-box {
		height: 35px;
		background-color: $primary;
		color: white;

		h2 {
			margin-top: 3px !important;
		}
	}

	.role-content {
		padding: 7px;
	}
}
