.role-page {
	height: 100%;

	.blue-box {
		height: 35px;
		background-color: #0099ff;
		color: white;

		h2 {
			margin-top: 3px !important;
		}
	}

	.role-content {
		padding: 7px;
	}
}
