<ng-template #prefixIconLock>
	<i nz-icon type="lock"></i>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'ChangeYourPassword' | translate" (nzOnCancel)="close()" (nzOnOk)="handleOk()"
  [nzOkText]="'Save' | translate" [nzCancelText]="'Cancel' | translate" (nzAfterOpen)="focusInput()"
  data-test-change-password-modal>

  <form nz-form [formGroup]="changePasswordForm">
    <nz-form-item data-test-item-current-password>
      <nz-form-label [nzSpan]="10" nzFor="password">{{'CurrentPassword' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-input-group [nzPrefix]="prefixIconLock">
          <input #passwordField class="ngChangePassword" type="password" nz-input formControlName="currentPassword"
            data-test-input-current-password autocomplete="current-password">
        </nz-input-group>
        <nz-form-explain *ngIf="changePasswordForm.get('currentPassword').errors && changePasswordForm.get('currentPassword').dirty">
          <ng-container *ngIf="changePasswordForm.get('currentPassword').hasError('required')">{{'PasswordRequired' |
            translate}}
          </ng-container>
          <ng-container *ngIf="changePasswordForm.get('currentPassword').hasError(INVALID_PASSWORD_ERROR)"
            data-test-invalid-error>{{'PasswordWrong'
            | translate}}</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item data-test-item-new-password>
      <nz-form-label [nzSpan]="10" nzFor="confirmPassword"> {{'NewPassword' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-input-group [nzPrefix]="prefixIconLock">
          <input class="ngChangePassword" type="password" nz-input formControlName="newPassword"
            data-test-input-new-password autocomplete="new-password">
        </nz-input-group>
        <nz-form-explain *ngIf="changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').dirty">
          <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('required')" data-test-required-error>{{'PasswordRequired'
            | translate}}</ng-container>
          <ng-container *ngIf="changePasswordForm.get('newPassword').hasError(ENSURE_PASSWORD_NEW_ERROR)"
            data-test-not-new-error>{{'PasswordPolicyWarning'
            | translate}}
          </ng-container>
          <ng-container *ngIf="changePasswordForm.get('newPassword').hasError(POLICY_ERROR)">{{'PasswordPolicyWarning'
            |
            translate}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item data-test-item-confirm-password>
      <nz-form-label [nzSpan]="10" nzFor="password">{{'ConfirmNewPassword' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-input-group [nzPrefix]="prefixIconLock">
          <input class="ngChangePassword" type="password" nz-input autocomplete="new-password" formControlName="confirmPassword"
            data-test-input-confirm-password>
        </nz-input-group>
        <nz-form-explain *ngIf="changePasswordForm.get('confirmPassword').dirty && changePasswordForm.get(
  'confirmPassword').hasError(MATCHING_PASSWORDS)"
          data-test-not-matching-error>
          {{'PasswordsDoNotMatch' | translate}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>