<div class="con-flex">
	<nz-select
		style="width: 100%;"
		[compareWith]="compareFn"
		[(ngModel)]="selectedItem"
		(ngModelChange)="itemSelected($event)"
		nzAllowClear
		nzPlaceHolder="{{'SelectSkillOrGroup' | translate}}"
	>
		<nz-option *ngFor="let option of filteredItems" [nzValue]="option" [nzLabel]="option.Name" nzCustomContent>
			<skill-picker-icon [type]="option.Type"></skill-picker-icon>
			{{ option.Name }}
		</nz-option>
	</nz-select>
	<ng-template #suffixTemplate> <i class="anticon anticon-close-circle"></i> </ng-template>
</div>
