
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">  
				<li class="dropdown">  
					<a href="#"  
					   class="dropdown-toggle nowrap brand"  
					   data-toggle="dropdown">Teleopti <b class="caret"></b>  
					</a>  
					<ul class="dropdown-menu">
						<li><a href="#" tabindex="-1">Home</a></li>
						<li class="divider"></li>
						<li><a href="../mytime">MyTime</a></li>
						<li><a href="../mobilereports" tabindex="-1">Mobile Reports</a></li>
						<li class="divider"></li>
						<li><a href="#settings" tabindex="-1"><i class="icon-wrench"></i> Settings</a></li>
						<li><a href="../authentication/signout" tabindex="-1"><i class="icon-eject"></i> Sign out</a></li>  
					</ul>
				</li>  
			</ul>
			<ul class="nav">
				<li class="active"><a href="#">Schedules</a></li>
				<li><a href="#monitor">Adherence</a></li>
				<li><a href="#resources">Resources</a></li>
				<li><a href="#messaging">Messaging</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="#settings">Stephen Conant</a></li>
			</ul>
		</div>
	</div>
</nav>
