<div class="fav-search-panel material-depth-2">
	<div class="fav-search-header">
		<input type="text" class="name" placeholder="{{'Name'|translate}}" ng-keydown="$ctrl.searchItemSaved" ng-enter="$ctrl.save()" ng-model="$ctrl.currentName" ng-maxlength="50" ng-required="true"/>

		<span class="cursor-pointer" ng-click="$ctrl.enableSave() && $ctrl.save()" ng-disabled="!$ctrl.enableSave()" ng-class="{'disable-save':!$ctrl.enableSave()}">
			<i class="mdi mdi-content-save"></i>
			<md-tooltip ng-if="$ctrl.enableSave()">{{'Save' | translate}}</md-tooltip>
		</span>
	</div>
	<div ng-if="$ctrl.favoriteSearchList.length > 0">
		<md-divider></md-divider>
		<div class="fav-search-list">
			<md-list-item ng-repeat="searchItem in $ctrl.favoriteSearchList" class="fav-search-item pointer" ng-mouseenter="showIcons = true" ng-mouseleave="showIcons = false" ng-click="$ctrl.select(searchItem)">
				<p class="fav-search-name">{{searchItem.Name}}</p>
				<div class="md-secondary" ng-class="{'visible':showIcons || searchItem.IsDefault, 'invisible':!showIcons}" ng-click="$ctrl.toggleDefault(searchItem.Name)" aria-label="Set or remove default">
					<i ng-class="{ 'mdi-star':searchItem.IsDefault, 'mdi-star-outline':!searchItem.IsDefault}" class="mdi"></i>
					<md-tooltip class="multiline-tooltip">
						<div ng-if="!searchItem.IsDefault" translate>SetAsDefault</div>
						<div ng-if="searchItem.IsDefault" translate>RemoveDefault</div>
					</md-tooltip>
				</div>
				<div class="md-secondary" ng-class="{'visible':showIcons, 'invisible':!showIcons}" ng-click="$ctrl.delete(searchItem.Name)" aria-label="Remove item">
					<i class="mdi mdi-close"></i>
					<md-tooltip><span translate>Remove</span></md-tooltip>
				</div>
			</md-list-item>
		</div>
	</div>
</div>
