<div class="con-row">
	<div class="con-flex">
		<form name="form" class="wfm-form scheduling-setting">
			<div class="con-row">
				<div class="con-flex setting-group material-depth-1">
					<div class="con-row">
						<div class="con-flex">
							<div class="form-input-wrap">
								<label><b translate>NameColon</b></label>
								<input type="text" name="schedulingSettingName"
									   ng-disabled="vm.settingInfo.Default" ng-model="vm.settingInfo.Name"
									   class="pg-setting-name" required minlength="1" maxlength="100"
								/>
								<div ng-cloak class="animate-show"
									 ng-show="(form.$submitted || form.schedulingSettingName.$touched) && form.schedulingSettingName.$error.required">
									<div class="form-input-message formInvalidInput">{{'YouCannotHaveABlankName' |
										translate
										}}
									</div>
								</div>
							</div>
						</div>
						<div class="con-flex">
							<div class="form-input-wrap" ng-hide="vm.settingInfo.Default">
								<label><b translate>FiltersColon</b></label>
								<div name="filters">
									<md-autocomplete md-input-name="filters" md-no-cache="true"
													 md-selected-item="vm.selectedItem" md-search-text="vm.searchString"
													 placeholder="{{'SearchForDayOff'|translate}}"
													 md-items="item in vm.inputFilterData()"
													 md-item-text="vm.searchString"
													 md-selected-item-change="vm.selectResultItem(vm.selectedItem)" md-min-length="0">
										<md-item-template>
											<div class="wfm-chip-wrap">
												<span class="wfm-chip">
													<span class="chip-handle">{{item.FilterType | translate}}</span>
													<span class="chip-text">{{item.Name}}</span>
												</span>
											</div>
										</md-item-template>
										<md-not-found>
											<p translate>noSearchResults</p>
										</md-not-found>
									</md-autocomplete>
								</div>
								<div ng-cloak
									 ng-show="(form.$submitted || form.filters.$touched) && !vm.isValidFilters()">
									<span class="form-input-message formInvalidInput" translate>YouMustSelectAtLeastOneFilter</span>
								</div>
							</div>
						</div>
					</div>
					<div class="con-row" ng-show="vm.settingInfo.Filters.length > 0">
						<div class="con-flex">
							<div translate>SelectedFiltersColon</div>
							<div class="wfm-chip-wrap" ng-repeat="selected in vm.settingInfo.Filters">
								<span class="wfm-chip">
									<span class="chip-handle">{{selected.FilterType}}</span>
									<span class="chip-text">{{selected.Name}}
										<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="con-row">
				<div class="con-flex setting-group material-depth-1">
					<div class="con-flex">
						<b>{{'DayOffRulesColon' | translate}}</b>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<table class="wfm-table">
								<thead>
								<tr>
									<th colspan="2">{{'Settings'|translate}}</th>
									<th>{{'Min'|translate}}</th>
									<th>{{'Max'|translate}}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td colspan="2">{{'DaysOffPerWeek'|translate}}
										<span class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()">{{'InvalidInput'|translate}}</span>
									</td>
									<td><input type="number" ng-model="vm.settingInfo.MinDayOffsPerWeek" min="0" max="7"
											   title="{{'MinDayOffsPerWeek'|translate}}" ng-change="vm.minChanged('MinDayOffsPerWeek', 'MaxDayOffsPerWeek')"/></td>
									<td><input type="number" ng-model="vm.settingInfo.MaxDayOffsPerWeek" min="0" max="7"
											   title="{{'MaxDayOffsPerWeek'|translate}}" ng-change="vm.maxChanged('MinDayOffsPerWeek', 'MaxDayOffsPerWeek')"/></td>
								</tr>
								<tr>
									<td colspan="2">{{'ConsecutiveWorkDays'|translate}}
										<span class="text-danger" ng-show="!vm.isValidConsecDaysOff()">{{'InvalidInput'|translate}}</span>
									</td>
									<td><input type="number" ng-model="vm.settingInfo.MinConsecutiveWorkdays" min="0"
											   title="{{'MinConsecutiveWorkdays'|translate}}" ng-change="vm.minChanged('MinConsecutiveWorkdays', 'MaxConsecutiveWorkdays')"/></td>
									<td><input type="number" ng-model="vm.settingInfo.MaxConsecutiveWorkdays" min="0"
											   title="{{'MaxConsecutiveWorkdays'|translate}}" ng-change="vm.maxChanged('MinConsecutiveWorkdays', 'MaxConsecutiveWorkdays')"/></td>
								</tr>
								<tr>
									<td colspan="2">{{'ConsecutiveDaysOff'|translate}}
										<span class="text-danger" ng-show="!vm.isValidConsecWorkDays()">{{'InvalidInput'|translate}}</span>
									</td>
									<td><input type="number" ng-model="vm.settingInfo.MinConsecutiveDayOffs" min="0"
											   title="{{'MinConsecutiveDayOffs'|translate}}" ng-change="vm.minChanged('MinConsecutiveDayOffs', 'MaxConsecutiveDayOffs')"/></td>
									<td><input type="number" ng-model="vm.settingInfo.MaxConsecutiveDayOffs" min="0"
											   title="{{'MaxConsecutiveDayOffs'|translate}}" ng-change="vm.maxChanged('MinConsecutiveDayOffs', 'MaxConsecutiveDayOffs')"/></td>
								</tr>
								<tr>
									<td colspan="2">{{'FullWeekEndsOff'|translate}}
										<span class="text-danger" ng-show="!vm.isValidFullWeekEndsOff()">{{'InvalidInput'|translate}}</span>
									</td>
									<td><input type="number" ng-model="vm.settingInfo.MinFullWeekendsOff" min="0"
											   title="{{'MinFullWeekendsOff'|translate}}" ng-change="vm.minChanged('MinFullWeekendsOff', 'MaxFullWeekendsOff')"/></td>
									<td><input type="number" ng-model="vm.settingInfo.MaxFullWeekendsOff" min="0"
											   title="{{'MaxFullWeekendsOff'|translate}}" ng-change="vm.maxChanged('MinFullWeekendsOff', 'MaxFullWeekendsOff')"/></td>
								</tr>
								<tr>
									<td colspan="2">{{'FullWeekEndDaysOff'|translate}}
										<span class="text-danger" ng-show="!vm.isValidFullWeekEndDaysOff()">{{'InvalidInput'|translate}}</span>
									</td>
									<td><input type="number" ng-model="vm.settingInfo.MinWeekendDaysOff" min="0"
											   title="{{'MinWeekendDaysOff'|translate}}" ng-change="vm.minChanged('MinWeekendDaysOff', 'MaxWeekendDaysOff')"/></td>
									<td><input type="number" ng-model="vm.settingInfo.MaxWeekendDaysOff" min="0"
											   title="{{'MaxWeekendDaysOff'|translate}}" ng-change="vm.maxChanged('MinWeekendDaysOff', 'MaxWeekendDaysOff')"/></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="con-flex setting-group material-depth-1">
					<div class="con-flex">
						<b>{{'BlockScheduling' | translate}}:</b>
					</div>
					<div class="con-row" style="padding-left: 5px">
						<div class="con-flex">
							<md-radio-group ng-model="vm.blockFinderType" ng-change="vm.blockFinderTypeOptionChanged()">
								<md-radio-button ng-repeat="option in vm.blockFinderTypeOptions" ng-value="option">
									<span>{{ option | translate}}</span>
								</md-radio-button>
							</md-radio-group>
						</div>
						<div class="con-flex split-3-1" ng-if="vm.blockFinderType !== 'Off'">
							<md-radio-group ng-model="vm.blockComparisonType" ng-change="vm.blockComparisonTypeOptionChanged()">
								<md-radio-button ng-repeat="option in vm.blockComparisonTypeOptions" ng-value="option">
									<span>{{ option | translate}}</span>
								</md-radio-button>
							</md-radio-group>
						</div>
					</div>
					<div class="con-row" style="padding-left: 5px" ng-if="vm.settingInfo.Default">
						<div>
							<label for="preferencePercent"><b translate>PreferenceFulfillmentPercentColon</b></label>
							<input id="preferencePercent" type="number" ng-model="vm.preferencePercent"
								   placeholder="Preference Percentage" min="0" max="100" step="10"/>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
