<div class="permissions">
	<div class="row">
		<div class="col-lg-12">
			<h4 translate>ManagePermissions</h4>
			<p translate>ManagePermissionsIntro</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="role-nav material-depth-1 container-block">
				<div class="wfm-block sub-header" translate>Roles</div>
				<div class="wfm-block">
					<form ng-submit="createRole(); reset()">
						<div class="input-prepend">
							<i class="mdi mdi-plus"></i>
							<input type="text" ng-model="roleName" placeholder="{{'CreateNewRole' | translate}}" class="role-input role" />
						</div>
					</form>
				</div>
				<div class="wfm-block">
					<div class="input-prepend">
						<i class="mdi mdi-filter-outline"></i>
						<input type="text" name="filterRole" ng-model="searchRoles.DescriptionText" placeholder="{{'RoleFilterThreeDots' | translate}}" />
					</div>
				</div>

				<div id="searchRoleResults">
					<ul class="wfm-list">
						<li ng-repeat="role in roles | filter:searchRoles" ng-click="showRole(role)" ng-dblclick="doubleClickEdit(editing, role)" ng-class="{'active': role.Id === selectedRole}" selection-model>
							<span ng-if="role.editing===false;" class="list-item-container" ng-class="{'text-truncation': role.editing===false}">{{role.DescriptionText}}</span>
							<span ng-if="role.editing===true;" ng-blur="cancelEdit(role)">
								<form ng-submit="submitRole(role, tempName)" name="editRoleForm" required>
									<input type="text" class="inline-role-name" ng-blur="cancelEdit(role)" ng-model="tempName" placeholder="{{'Name' | translate}}"  />
									
								</form>
							</span>
							
							<div ng-show="!role.editing" class="wfm-leave-behind" ng-mousedown="showRole(role)" ng-class="{'hide-list-actions': role.editing===true, 'hide-list-actions-none': role.BuiltIn === true}">
								<span>
									
								    <i ng-click="copyRole(role);" class="mdi mdi-content-copy">
										<md-tooltip>
											{{'Copy' | translate}}
										</md-tooltip>
									</i>
									<i ng-click="doubleClickEdit(editing, role)" class="mdi mdi-pencil">
										<md-tooltip>
											{{'Edit' | translate}}
										</md-tooltip>
									</i>
									<i ng-click="removeRole(role)" class="mdi mdi-delete">
										<md-tooltip>
											{{'Delete' | translate}}
										</md-tooltip>
									</i>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="col-lg-8">
			<div class="wfm-slide-tabs ">
				<md-content class="material-depth-1" style="padding:0!important;">
					<md-tabs md-dynamic-height md-border-bottom>
						<md-tab label="{{'Functions' | translate}}" ng-show="roleDetails=='functionsAvailable'">
							<md-content class="md-padding">

								<div class="functions-container" ng-include="'js/permissions/permissions.functions.html'" ng-controller="RoleFunctionsController"></div>

							</md-content>
						</md-tab>
						<md-tab label="{{'Data' | translate}}" ng-show="roleDetails=='dataAvailable'">
							<md-content class="md-padding">

								<div class="data-container" ng-include="'js/permissions/permissions.data.html'" ng-controller="RoleDataController"></div>

							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>