<div class="container">

	<!-- ko if: Loading -->
	<div><span data-bind="text: Resources.LoadingThreeDots"></span></div>
	<!-- /ko -->
	<!-- ko ifnot: Loading -->
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Teleopti WFM Seat Management</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="glyphicon glyphicon-calendar seatplanner-dashboard-area-image"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="seatplanner-dashboard-area-bigtext">10/02/2015</div>
							<div class="seatplanner-dashboard-area-smalltext">Last Seat Planning</div>
						</div>
					</div>
				</div>
				<a data-bind="attr: { href: urlForSeatPlanner()}">
					<div class="panel-footer">
						<span class="pull-left seatplanner-dashboard-link-font">Plan Seats</span>
						<span class="pull-right seatplanner-dashboard-link-font"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="glyphicon glyphicon-pencil seatplanner-dashboard-area-image"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="seatplanner-dashboard-area-bigtext">21</div>
							<div class="seatplanner-dashboard-area-smalltext">Locations with Seat Maps</div>
						</div>
					</div>
				</div>
				<a data-bind="attr: { href: urlForSeatMap()}">
					<div class="panel-footer">
						<span class="pull-left seatplanner-dashboard-link-font">Seat Maps</span>
						<span class="pull-right seatplanner-dashboard-link-font"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

	</div>
	
	
	<!-- /ko -->
</div>