<div class="con-row">
  <div class="con-flex">
    <button type="button" name="button" ng-click="createRuleset()" class="wfm-btn wfm-btn-default" translate>NewDayOffRule</button>
    <button class="wfm-btn material-depth-1 wfm-btn-primary test-schedule-button" ng-class="{'shrink-in': disableSchedule()}" ng-disabled="disableSchedule()" ng-click="launchSchedule(planningPeriod)">
      {{'ScheduleVerb' | translate }}
    </button>
  </div>
</div>

<div class="con-row">
  <div class="con-flex">
    <div class="card-group">
      <div class="panel material-depth-1 wfm-card filter-boxes" ng-repeat="node in dayoffRules">
        <div class="sub-header">
          <h2>{{node.Name}}</h2>
          <div class="head-actions panel-menu">
            <div tabindex=0 class="context-menu card-context" ng-click="editRuleset(node)">
              <i class=" filter-header mdi mdi-pencil pointer"><md-tooltip>{{'EditFilter' | translate }}</md-tooltip></i>
            </div>
            <div ng-show="!node.Default" tabindex=0 class="context-menu card-context" ng-click="destoryRuleset(node)">
              <i class=" filter-header mdi mdi-delete pointer"><md-tooltip>{{'DeleteFilter' | translate }}</md-tooltip></i>
            </div>
          </div>
        </div>

        <div class="con-row">
          <div class="con-flex">
            <table class="wfm-table wfm-filter-options">
              <thead>
                <tr>
                  <th>{{'Settings'|translate}}</th>
                  <th>{{'Min'|translate}}</th>
                  <th>{{'Max'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td translate>DaysOffPerWeek</td>
                  <td>{{node.MinDayOffsPerWeek}}</td>
                  <td>{{node.MaxDayOffsPerWeek}}</td>
                </tr>
                <tr>
                  <td translate>ConsecutiveWorkDays</td>
                  <td>{{node.MinConsecutiveWorkdays}}</td>
                  <td>{{node.MaxConsecutiveWorkdays}}</td>
                </tr>
                <tr>
                  <td translate>ConsecutiveDaysOff</td>
                  <td>{{node.MinConsecutiveDayOffs}}</td>
                  <td>{{node.MaxConsecutiveDayOffs}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="con-row">
          <div class="con-flex" ng-show="!node.Default">{{'AppliedFilters'|translate}}
            <span class="appliedFilters con-row" ng-repeat="filter in node.Filters | limitTo:5">
              <span class="filter-handle">{{filter.FilterType}}</span>
            <span class="filter-chip">{{filter.Name}}</span>
            </span>
            <span class="moreExists" ng-show="node.Filters.length>5">{{'ThreeDots' | translate}}</span>
          </div>
        </div>
        <div class="con-footer">
          <div class="modal-container" ng-include="'app/resourceplanner/planningperiods-modal.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
