<div class="view-header">
	<div class="view-title">
		<h1 ng-if='vm.isEdit'><i class="mdi mdi-calendar"></i> {{'EditDayOffRule' | translate}}</h1>
		<h1 ng-if='!vm.isEdit'><i class="mdi mdi-calendar"></i> {{'CreateDayOffRule' | translate}}</h1>
		<p ng-if='vm.isEdit'>Modify information for selected day off rule</p>
		<p ng-if='!vm.isEdit'>Fill in information to create new day off rule</p>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="con-row">
				<div class="con-flex">
					<form name="form" class="wfm-form" novalidate>
						<div class="form-input-wrap">
							<label for="ruleName" translate>NameColon</label>
							<input type="text" name="ruleName" id="ruleName" ng-disabled="vm.default " ng-model="vm.name" />
							<p class="text-danger" ng-show="!vm.isValidName()" translate> NameRequired </p>
						</div>
						<div class="form-input-wrap wfm-options">
							<div class="wfm-option-label">
								<p translate>DaysOffPerWeek</p>
							</div>
							<div class="con-row">
								<div class="wfm-option form-input-wrap con-flex">
									<label for="daysOffMin" translate>MinColon </label>
									<input type="number" ng-model="vm.dayOffsPerWeek.MinDayOffsPerWeek" name="MinDayOffsPerWeek" placeholder="0" min="0" id="daysOffMin"/>
									<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
								</div>
								<div class="wfm-option form-input-wrap con-flex">
									<label for="daysOffMax" translate>MaxColon</label>
									<input type="number" ng-model="vm.dayOffsPerWeek.MaxDayOffsPerWeek" name="MaxDayOffsPerWeek" placeholder="0" min="0" id="daysOffMax"/>
									<p class="text-danger" ng-show="!vm.isValidDayOffsPerWeek()" translate>InvalidInput</p>
								</div>
							</div>
							<div class="wfm-option-label">
								<p translate>ConsecutiveDaysOff</p>
							</div>
							<div class="con-row">
								<div class="wfm-option form-input-wrap con-flex">
									<label for="workOffMin" translate>MinColon</label>
									<input type="number" ng-model="vm.consecDaysOff.MinConsecDaysOff" name="MinConsecutiveDayOffs" placeholder="0" min="0" id="workOffMin"/>
									<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
								</div>
								<div class="wfm-option form-input-wrap con-flex">
									<label for="workOffMax" translate>MaxColon</label>
									<input type="number" ng-model="vm.consecDaysOff.MaxConsecDaysOff" name="MaxConsecutiveDayOffs" placeholder="0" min="0" id="workOffMax"/>
									<p class="text-danger" ng-show="!vm.isValidConsecDaysOff()" translate>InvalidInput</p>
								</div>
							</div>
							<div class="wfm-option-label">
								<p translate>ConsecutiveWorkDays</p>
							</div>
							<div class="con-row">
								<div class="wfm-option form-input-wrap con-flex">
									<label for="workMin" translate>MinColon</label>
									<input type="number" ng-model="vm.consecWorkDays.MinConsecWorkDays" name="MinConsecutiveWorkdays" placeholder="0" min="0" id="workMin" />
									<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
								</div>
								<div class="wfm-option form-input-wrap con-flex">
									<label for="workMax" translate>MaxColon</label>
									<input type="number" ng-model="vm.consecWorkDays.MaxConsecWorkDays" name="MaxConsecutiveWorkdays" placeholder="0" min="0" id="workMax" />
									<p class="text-danger" ng-show="!vm.isValidConsecWorkDays()" translate>InvalidInput</p>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="con-flex">
					<div class="wfm-option form-input-wrap" ng-hide="vm.default">
						<form name="autocomplete-form" class="autosearch-input">
							<md-autocomplete md-no-cache="true" md-selected-item="vm.selectedItem" md-search-text="vm.searchString" placeholder="{{'SearchForDayOff'|translate}}"
							 md-items="item in vm.inputFilterData()" md-item-text="vm.searchString" md-selected-item-change="vm.selectResultItem(vm.selectedItem)">
								<md-item-template>
									<div class="wfm-filter-selected" >
										<div class="wfm-chip-wrap pp-filter-chip-wrap" >
											<span class="wfm-chip">
												<span class="chip-handle">{{item.FilterType | translate}}</span>
											<span class="chip-text">{{item.Name}}</span>
											</span>
										</div>
									</div>
								</md-item-template>
								<md-not-found>
									<p translate>noSearchResults</p>
								</md-not-found>
							</md-autocomplete>
						</form>
					</div>
					<p class="text-danger" ng-show="!vm.isValidFilters()">
						<span translate>ValidationforFilter</span>
					</p>
					<div ng-show="vm.selectedResults.length > 0">
						<p translate>SelectedFiltersColon</p>
						<div class="wfm-filter-selected">
							<div class="unrelated-filters" ng-repeat="selected in vm.selectedResults" ng-if="selected.FilterType != 'contract'">
								<span class="filter-handle">{{selected.FilterType}}</span>
								<span class="filter-chip">{{selected.Name}}
									<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(selected)"></i>
								</span>
							</div>
							<br/>
							<div class="unrelated-filters" ng-repeat="contractSelected in vm.selectedResults" ng-if="contractSelected.FilterType === 'contract'">
								<span class="filter-handle">{{contractSelected.FilterType}}
										</span>
								<span class="filter-chip">{{contractSelected.Name}}<i class="mdi mdi-close" ng-click="vm.removeSelectedFilter(contractSelected)"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="con-footer">
				<button class="wfm-btn wfm-btn-invis-default" ng-click="vm.cancelCreate()" translate>Cancel</button>
				<button class="wfm-btn" ng-disabled="!vm.isValid" ng-class="{'wfm-btn-invis-primary':vm.isValid(),'wfm-btn-primary-disabled':!vm.isValid()}"
				 ng-click="vm.persist()" translate>Save</button>
			</div>
		</div>
	</div>
</div>