<div class="con-row">
	<div class="con-flex">
		<button type="button" name="button" ng-click="vm.createRuleset()" class="wfm-btn btn-sm wfm-btn-default" translate>NewDayOffRule</button>
	</div>
</div>
<div class="con-row">
	<div class="con-flex">
		<div class="card-group">
			<div class="panel material-depth-1 wfm-card filter-boxes" ng-repeat="dayOffRule in vm.dayOffRules track by dayOffRule.Id">
				<div class="sub-header">
					<h2>{{dayOffRule.Name}}</h2>
					<div class="head-actions panel-menu">
						<div tabindex=0 class="context-menu card-context"  ng-click="vm.editRuleset(dayOffRule)">
							<i class="filter-header mdi mdi-pencil pointer"><md-tooltip>{{'EditFilter' | translate }}</md-tooltip></i>
						</div>
						<div tabindex=0 class="context-menu card-context"  ng-click="vm.destoryRuleset(dayOffRule)" ng-show="!dayOffRule.Default" >
							<i class="filter-header mdi mdi-delete pointer"><md-tooltip>{{'DeleteFilter' | translate }}</md-tooltip></i>
						</div>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex">
						<table class="wfm-table wfm-filter-options">
							<thead>
								<tr>
									<th>{{'Settings'|translate}}</th>
									<th>{{'Min'|translate}}</th>
									<th>{{'Max'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td translate>DaysOffPerWeek</td>
									<td>{{dayOffRule.MinDayOffsPerWeek}}</td>
									<td>{{dayOffRule.MaxDayOffsPerWeek}}</td>
								</tr>
								<tr>
									<td translate>ConsecutiveWorkDays</td>
									<td>{{dayOffRule.MinConsecutiveWorkdays}}</td>
									<td>{{dayOffRule.MaxConsecutiveWorkdays}}</td>
								</tr>
								<tr>
									<td translate>ConsecutiveDaysOff</td>
									<td>{{dayOffRule.MinConsecutiveDayOffs}}</td>
									<td>{{dayOffRule.MaxConsecutiveDayOffs}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="con-row">
					<div class="con-flex" ng-show="!dayOffRule.Default">{{'AppliedFilters'|translate}}
						<span class="appliedFilters con-row" ng-repeat="filter in dayOffRule.Filters | limitTo:5">
              <span class="filter-handle">{{filter.FilterType}}</span>
						<span class="filter-chip">{{filter.Name}}</span>
						</span>
						<span class="moreExists" ng-show="dayOffRule.Filters.length>5">{{'ThreeDots' | translate}}</span>
					</div>
				</div>
				<div class="con-footer">
					<div class="modal-container">
						<div ng-cloak class="modal-box">
							<button ng-click="showFilterRules = !showFilterRules" class="wfm-btn wfm-btn-invis-default" ng-hide="dayOffRule.Filters.length <6">
          		<span>{{'ShowAll'|translate}}</span>
          	</button>
							<div ng-cloak ng-show="showFilterRules">
								<div class="modalbg">
									<div class="dialog">
										<h1 class="modal-title">
          					{{dayOffRule.Name}}
          				</h1>
										<div class="modal-inner-content">
											<div ng-repeat="subfilter in dayOffRule.Filters">
												{{subfilter.FilterType}} {{subfilter.Name}}
											</div>
										</div>
										<div class="modal-actions">
											<aside>
												<button ng-click="showFilterRules = !showFilterRules" class="wfm-btn wfm-btn-invis-default">{{'Close'|translate}}</button>
											</aside>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
