
body {
    padding-bottom: 40px;
}

select {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.select2-container {
    padding-left: 0;
    padding-right: 0;
}
