
.person-schedule 
{
}

.person-schedule .time-line 
{
	left: 0; /* first column with paddings */
	width: 100%;
}
.person-schedule .time-line,
.person-schedule .time-line div
{
	height: 100%;
    z-index: -10;
}

.person-schedule .time-line .ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
}
.person-schedule .time-line .label {
	font-size: xx-small;
	height: 12px;
	z-index: 111;
 }


.person-schedule .schedule-row {
	height: 57px;
}

.person-schedule .shift .layer 
{
	height: 40px;
}

.person-schedule .shift .layer:first-of-type
{
	-webkit-border-radius: 4px 0px 0px 4px;
	   -moz-border-radius: 4px 0px 0px 4px;
			border-radius: 4px 0px 0px 4px;
}
.person-schedule .shift .layer:last-of-type
{
	-webkit-border-radius: 0px 4px 4px 0px;
	   -moz-border-radius: 0px 4px 4px 0px;
			border-radius: 0px 4px 4px 0px;
}

.person-schedule .shift .layer:only-child
{
	-webkit-border-radius: 4px 4px 4px 4px;
	   -moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
}

.person-schedule .dayoff 
{
	width: 100%;
	-webkit-border-radius: 4px 4px 4px 4px;
	   -moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
}

.person-schedule .full-day-absence-form  {
	width: 223px;
}

.person-schedule .full-day-absence-form .start-date {
	width: 180px;
	margin-bottom: 10px;
}

.person-schedule .full-day-absence-form .end-date {
	width: 155px;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    padding-left: 6px;
}
.person-schedule .hero-unit {
	padding: 30px;
}

.person-schedule .absence-item {
    vertical-align: middle;
}

.person-schedule .absence-name {
    
}

