
.person-schedule 
{
}

.person-schedule .time-line 
{
	left: 0; /* first column with paddings */
	width: 100%;
}
.person-schedule .time-line,
.person-schedule .time-line div
{
	height: 100%;
    z-index: -10;
}

.person-schedule .time-line .ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
}
.person-schedule .time-line .label {
	font-size: xx-small;
	height: 12px;
	z-index: 111;
 }

.person-schedule .schedule-row {
	height: 57px;
}

.person-schedule .schedule {
	padding-left: 0;
	padding-right: 0;
}

.person-schedule .layer {
	height: 40px;
	text-align: center;
	z-index: 10;	
}

.person-schedule .layer:first-of-type
{
	-webkit-border-radius: 4px 0px 0px 4px;
	   -moz-border-radius: 4px 0px 0px 4px;
			border-radius: 4px 0px 0px 4px;
}
.person-schedule .layer:last-of-type
{
	-webkit-border-radius: 0px 4px 4px 0px;
	   -moz-border-radius: 0px 4px 4px 0px;
			border-radius: 0px 4px 4px 0px;
}

.person-schedule .layer:only-child
{
	-webkit-border-radius: 4px 4px 4px 4px;
	   -moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
}
.person-schedule .layer .layer-description {
	margin-top: 11px;
	background-color: white;
	color: #606060;
	text-shadow: none;
}

.person-schedule .dayoff 
{
	width: 100%;
	top: -8px;
	height: 57px;
    background-size: 11px 11px;
    background-image: 
        linear-gradient(135deg,
        transparent,
        transparent 7px,
        rgba(0,0,0,0.2) 8px,
        transparent 8px,
        transparent
        );
}

.no-cssgradients .person-schedule .dayoff 
{
	background-color: beige;
}

.person-schedule .full-day-absence-form  {
	width: 223px;
}

.person-schedule .full-day-absence-form .start-date {
	width: 180px;
	margin-bottom: 10px;
}

.person-schedule .full-day-absence-form .end-date {
	width: 155px;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    padding-left: 6px;
}
.person-schedule .hero-unit {
	padding: 30px;
}

.person-schedule .absence-item {
    vertical-align: middle;
}
