.realtimeadherencesites .site {
	cursor: pointer;
}

.realtimeadherenceteams .team {
}

.realtimeadherenceteams .gage {
	height: 250px;
}

.realtimeadherencesites .gage {
	height: 250px;
}
