/*TODO clean*/
sh
.team-schedule 
{
}

.team-schedule .time-line 
{
	left: 121px; /* 105 + 8 + 8    first column with paddings */
	width: 100%;
}

.team-schedule .time-line,
.team-schedule .time-line div
{
	height: 100%;
    z-index: -10;
}

.team-schedule .time-line .ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
}
.team-schedule .time-line .label {
	font-size: xx-small;
	height: 12px;
	z-index: 111;
 }
 
.team-schedule .person
{
}

.team-schedule .person.selected-person
{
	background-color: rgb(245, 245, 245);
}

.team-schedule .person-name-column {
	max-width: 105px !important;
	min-width: 105px !important;
	width: 105px !important;
	overflow: hidden;
}
.team-schedule .contract-time-column {
	max-width: 100px !important;
	min-width: 100px !important;
	width: 100px !important;
}
.team-schedule .schedule-column {
	padding-left: 17px;
	padding-right: 0;
	width: auto;
}

.team-schedule .person-name 
{
}
.team-schedule tbody tr
{
	cursor: pointer;
}
.team-schedule .schedule
{
}

.team-schedule .dayoff 
{
	text-align: center;
	top: -8px;
	height: 36px;
    background-size: 11px 11px;
    background-image: 
        linear-gradient(135deg,
        transparent,
        transparent 7px,
        rgba(0,0,0,0.2) 8px,
        transparent 8px,
        transparent
        );
}
.no-cssgradients .team-schedule .dayoff 
{
	background-color: beige;
}



.team-schedule .person-menu,
.team-schedule .person-menu:hover > td
{
	background: #eeeeee;
}

.team-schedule .shift-menu,
.team-schedule .shift-menu:hover > td
{
	background: #eeeeee;
}

.team-schedule .shift-details .label {
	text-shadow: none;
	margin-bottom: 10px;
}
.team-schedule .activity-details .label {
	text-shadow: none;
}

.team-schedule .shift .layer
{
	z-index: 10;	
	height: 22px;
	text-align: center;
}
.team-schedule .shift .layer:first-of-type
{
	-webkit-border-radius: 4px 0px 0px 4px;
	   -moz-border-radius: 4px 0px 0px 4px;
			border-radius: 4px 0px 0px 4px;
}
.team-schedule .shift .layer:last-of-type
{
	-webkit-border-radius: 0px 4px 4px 0px;
	   -moz-border-radius: 0px 4px 4px 0px;
			border-radius: 0px 4px 4px 0px;
}
.team-schedule .shift .layer:only-child
{
	-webkit-border-radius: 4px 4px 4px 4px;
	   -moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
}
.team-schedule .shift .layer .layer-description {
	background-color: white;
	color: #606060;
	text-shadow: none;
}
.team-schedule .dayoff .layer-description {
	margin: 9px;
	text-shadow: none;
}
.team-schedule .shift .layer .drop {
    top: 21px;
}
.team-schedule .shift .layer .drop .arrow {
    left: -8px;
    top: -8px;
    border-left: 8px solid transparent;
    border-bottom: 8px solid red;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
}
.team-schedule .shift .layer .drop .circle {
    top: 4px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}



.team-schedule .resources td {
    padding-top: 3px;
}

.team-schedule .contract-time-title {
	padding-top: 14px;
	padding-bottom: 2px;
}
.team-schedule .contract-time 
{
	text-align: right;
	overflow: hidden;
}

.team-schedule .date-input {
    cursor: pointer;
    background-color: #FFFFFF;
}

@media (max-width: 1199px) {

	.team-schedule .contract-time {
		display: none;
	}
	.team-schedule .work-time {
		display: none;
	}
}

.activity-form {
	min-width: 160px;
}

.team-schedule th {
	vertical-align: middle !important;
}

#date-picker {
    width: 360px;
}