
.team-schedule 
{
}

.team-schedule .time-line 
{
	left: 121px; /* 105 + 8 + 8    first column with paddings */
	width: 100%;
}

.team-schedule .time-line,
.team-schedule .time-line div
{
	height: 100%;
    z-index: -10;
}

.team-schedule .time-line .ruler {
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.2);
	z-index: 100;
}
.team-schedule .time-line .label {
	font-size: xx-small;
	height: 12px;
	z-index: 111;
 }
 
.team-schedule .person
{
}

.team-schedule .first-column {
	max-width: 105px !important;
	min-width: 105px !important;
	width: 105px !important;
	overflow: hidden;
}
.team-schedule .last-column {
	max-width: 100px !important;
	min-width: 100px !important;
	width: 100px !important;
}

.team-schedule .person-name 
{
}
.team-schedule tbody tr
{
	cursor: pointer;
}
.team-schedule .schedule
{
	padding-left: 0;
	padding-right: 0;
	width: auto;
}

.team-schedule .dayoff 
{
	top: -8px;
	height: 36px;
    background-size: 11px 11px;
    background-image: 
        linear-gradient(135deg,
        transparent,
        transparent 7px,
        rgba(0,0,0,0.2) 8px,
        transparent 8px,
        transparent
        );
}
.no-cssgradients .team-schedule .dayoff 
{
	background-color: beige;
}




.team-schedule .shift-menu-background {
	background: #eeeeee;
}
.team-schedule .shift-menu
{
}




.team-schedule .shift .layer
{
	z-index: 10;	
	height: 22px;
	text-align: center;
}
.team-schedule .shift .layer:first-of-type
{
	-webkit-border-radius: 4px 0px 0px 4px;
	   -moz-border-radius: 4px 0px 0px 4px;
			border-radius: 4px 0px 0px 4px;
}
.team-schedule .shift .layer:last-of-type
{
	-webkit-border-radius: 0px 4px 4px 0px;
	   -moz-border-radius: 0px 4px 4px 0px;
			border-radius: 0px 4px 4px 0px;
}
.team-schedule .shift .layer:only-child
{
	-webkit-border-radius: 4px 4px 4px 4px;
	   -moz-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
}
.team-schedule .shift .layer .layer-description {
	background-color: white;
	color: #606060;
	text-shadow: none;
}

.team-schedule .shift .layer .handle1 {
    float: left;
    top: 22px;
    left: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255,0,0, 0.5);
    background-color: white;
    border-radius: 10px;
}
.team-schedule .shift .layer .handle1 .inner {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #515151;
    border-radius: 8px;
}
.team-schedule .shift .layer .handle2 {
    float: left;
    top: 22px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.team-schedule .shift .layer .handle3 {
    float: left;
    left: -18px;
}
.team-schedule .shift .layer .handle3 .bar {
    background-color: rgb(48, 159, 251);
    width: 3px;
    left: 16px;
    height: 30px;
}
.team-schedule .shift .layer .handle3 .arrow {
    top: 2px;
    width: 3px;
    height: 3px;
    border-left: 16px solid transparent;
    border-bottom: 16px solid rgb(48, 159, 251);
    border-right: 16px solid transparent;
    border-top: 16px solid transparent;
}
.team-schedule .shift .layer .handle4 {
    float: left;
    top: 22px;
}
.team-schedule .shift .layer .handle4 .arrow {
    left: -8px;
    top: -8px;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #515151;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
}
.team-schedule .shift .layer .handle4 .circle {
    top: 5px;
    left: -12px;
    width: 10px;
    height: 10px;
    border: 7px solid #515151;
    background-color: white;
    border-radius: 12px;
}



.team-schedule .resources td {
    padding-top: 3px;
}
.team-schedule .contract-time 
{
	text-align: right;
	overflow: hidden;
}

.team-schedule .date-input {
    cursor: pointer;
    background-color: #FFFFFF;
}

@media (max-width: 1199px) {

	.team-schedule .contract-time {
		display: none;
	}
	.team-schedule .work-time {
		display: none;
	}
}

