
<div>
	<div class="view-header with-fab with-desc">
		<div class="view-title">
			<h1><i class="mdi mdi-compass-outline"></i> {{'Intraday'|translate}}</h1>
			<p class="con-flex">{{'IntradayIntroText'|translate}}</p>
		</div>
		<div class="fab-wrapper" ng-if="HasPermissionToModifySkillArea">
			<button class="skill-area-create wfm-fab grow-out material-depth-1" ng-click="configMode()">
				<i class="mdi mdi-plus"></i>
				<md-tooltip>{{'CreateSkillArea'|translate}}</md-tooltip>
			</button>
		</div>
	</div>

	<div class="con-row">
		<div class="con-flex">
			<div class="panel con-flex material-depth-1">
				<div class="con-row">
					<div>
						<div ng-show="drillable" ng-class="{ 'shrink-in': drillable === false}" class="grow-out context-menu card-context" ng-click="openSkillAreaFromSkill()">
							<i class="mdi mdi mdi-reply">
								<md-tooltip>{{prevArea.Name}}</md-tooltip>
							</i>
						</div>
					</div>
					<span class="con-flex">
						<md-autocomplete id="skill-id"
						class="autocomplete-skill"
						md-selected-item="selectedSkill"
						md-search-text="searchSkillText"
						md-selected-item-change="selectedSkillChange(skill)"
						md-items="skill in querySearch(searchSkillText, skills)"
						md-item-text="skill.Name"
						md-min-length="0"
						placeholder="{{'SelectSkill'|translate}}">
						<md-item-template>
							<i ng-class="setDynamicIcon(skill)"></i>
							<span md-highlight-text="searchSkillText" md-highlight-flags="^i">{{skill.Name}}</span>
							<md-tooltip ng-if="!skill.DoDisplayData">{{'UnsupportedSkill' | translate}}</md-tooltip>
						</md-item-template>
						<md-not-found>
							{{'NoSkillFound'|translate}}
						</md-not-found>
					</md-autocomplete>
					<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="selectedSkill" ng-click="clearSkillHelper()">
						<md-tooltip>{{'Clear'|translate}}</md-tooltip>
					</i>
				</span>
				<span class="con-flex ">
					<md-autocomplete id="skill-area-id"
					class="autocomplete-skillarea"
					md-input-id="skill-area-input"
					md-selected-item="selectedSkillArea"
					md-search-text="searchSkillAreaText"
					md-selected-item-change="selectedSkillAreaChange(skillArea)"
					md-items="skillArea in querySearch(searchSkillAreaText, skillAreas)"
					md-item-text="skillArea.Name"
					md-min-length="0"
					placeholder="{{'SelectSkillArea'|translate}}">
					<md-item-template>
						<span md-highlight-text="searchSkillAreaText" md-highlight-flags="^i">{{skillArea.Name}}</span>
					</md-item-template>
					<md-not-found>
						{{'NoSkillAreasFound'|translate}}
					</md-not-found>
				</md-autocomplete>
				<i class="mdi mdi-close pointer ie-cross grow-out" ng-show="selectedSkillArea" ng-click="clearSkillAreaHelper()">
					<md-tooltip>{{'Clear'|translate}}</md-tooltip>
				</i>
			</span>
			<div class="hide-on-ie con-flex split-1-2"></div>
			<div class="line-right last-time cursor-pointer">
				<span ng-show="latestActualInterval && latestActualInterval !== 'undefined - undefined'">
						{{latestActualInterval}}
				</span>
				<span ng-cloak ng-show="!latestActualInterval || latestActualInterval == 'undefined - undefined'">
					--:-- - --:--
				</span>
				<i class="mdi mdi-clock"></i>
				<md-tooltip>{{'LatestActualInterval'|translate}}</md-tooltip>
			</div>
		</div>
	</div>
</div>
</div>

<div class="con-row intraday-monitor-item" ng-if="selectedSkillArea.Name">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<h2 class="skill-list-header"><b>{{ selectedSkillArea.Name }}</b>: {{selectedSkillArea.Skills.length}} {{'PersonSkill'|translate}} <span ng-if="skillAreaMessage">({{skillAreaMessage}})</span></h2>
				<p ng-if="viewObj.hasEmailSkill"><i class="mdi mdi-alert"></i> {{'UnsupportedDataSeriesFound'|translate}}</p>
				<div class="head-actions panel-menu">
					<div tabindex=0 class="context-menu card-context">
						<i class="skill-area-options mdi mdi-dots-vertical"></i>
						<span class="context-menu-left">
							<ul class="wfm-list">
								<li ng-click="showIncluded=!showIncluded">
									<i ng-hide="showIncluded" class="mdi mdi-eye"></i>
									<i ng-show="showIncluded" class="mdi mdi-eye-off"></i>
									{{'IncludedSkills'|translate}}
								</li>
								<li ng-click='toggleModal()'><i class="skill-area-delete mdi mdi-delete"></i>{{'Delete'|translate}}</li>
							</ul>
						</span>
					</div>
				</div>
			</div>
			<div ng-hide="showIncluded" class="animate-show con-row">
				<div class="con-flex">
					<div class="wfm-chip-wrap" ng-repeat="skill in selectedSkillArea.Skills | orderBy : Name" ng-class="{'chip-disabled':!skill.DoDisplayData}">
						<span class="wfm-chip" ng-click="openSkillFromArea(skill)">
							<span class="chip-handle" ng-class="{'chip-warning':!skill.DoDisplayData}">
								<i ng-class="setDynamicIcon(skill)"></i>
							</span>
							<md-tooltip>
								<span ng-if="skill.DoDisplayData && skill.IsMultisiteSkill">{{skill.SkillType | translate}} - {{'MultisiteSkill' | translate}}</span>
								<span ng-if="skill.DoDisplayData && !skill.IsMultisiteSkill">{{skill.SkillType | translate}}</span>
								<span ng-if="!skill.DoDisplayData">{{'UnsupportedSkill' | translate}}</span>
							</md-tooltip>
							<span class="chip-text">{{skill.Name}}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="con-row" ng-show="selectedSkill.Name || selectedSkillArea.Name">
	<div class="con-flex">
		<div class="panel material-depth-1" >
			<div class="wfm-slide-tabs tabbed-panel">
				<md-content class="md-padding">
					<md-tabs md-dynamic-height md-selected="activeTab">
						<md-tab label="{{'IncomingTraffic'|translate}}" ng-click="pollActiveTabDataHelper(activeTab)">
							<md-content ng-cloak class="md-padding" ng-if="viewObj.waitingForData">
								<div class="con-row">
									<div class="con-flex">
										<md-progress-linear md-mode="indeterminate"></md-progress-linear>
									</div>
								</div>
							</md-content>
							<md-content ng-cloak class="md-padding" ng-show="viewObj.hasMonitorData">
								<div class="con-row">
									<div class="con-flex">
										<div class="wfm-chart intraday-chart" id="trafficChart"></div>
									</div>
								</div>

								<div class="con-row full-padding">
									<div class="con-flex"></div>
									<div class="con-flex">
										<b>{{'SummaryUpToLatestActualInterval'|translate}}</b>
										<table class="wfm-table wfm-filter-options">
											<thead>
												<tr>
													<th></th>
													<th>{{'Forecasted'|translate}}</th>
													<th>{{'Actual'|translate}}</th>
													<th>{{'Difference'|translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{'Volume'|translate}}</td>
													<td class="number-cell forecasted-calls ">{{viewObj.summary.summaryForecastedCalls}}</td>
													<td class="number-cell calculated-calls">{{viewObj.summary.summaryCalculatedCalls}}</td>
													<td class="number-cell calls-difference">{{viewObj.summary.forecastActualCallsDifference}}%</td>
												</tr>
												<tr>
													<td>{{'AverageHandlingTime'|translate}}</td>
													<td class="number-cell forecasted-aht">{{viewObj.summary.summaryForecastedAverageHandleTime}}</td>
													<td class="number-cell aht">{{viewObj.summary.summaryAverageHandleTime}}</td>
													<td class="number-cell aht-difference">{{viewObj.summary.forecastActualAverageHandleTimeDifference}}%</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="con-flex"></div>
								</div>
							</md-content>
							<md-content ng-cloak class="md-padding" ng-if="!viewObj.waitingForData && !viewObj.hasMonitorData">
								<div class="con-row">
									<div class="con-flex no-data-available">
										{{'NoDataAvailable'|translate}}
									</div>
								</div>
							</md-content>
						</md-tab>
						<md-tab label="{{'Performance'|translate}}" ng-click="pollActiveTabDataHelper(activeTab)">
							<md-content ng-cloak class="md-padding" ng-if="viewObj.waitingForData">
								<div class="con-row">
									<div class="con-flex">
										<md-progress-linear md-mode="indeterminate"></md-progress-linear>
									</div>
								</div>
							</md-content>
							<md-content class="md-padding" ng-show="viewObj.hasMonitorData">
								<div class="con-row">
									<div class="con-flex">
										<div class="wfm-chart intraday-chart" id="performanceChart"></div>
									</div>
								</div>

								<div class="con-row full-padding">
									<div class="con-flex"></div>
									<div class="con-flex">
										<b>{{'SummaryUpToLatestActualInterval'|translate}}</b>
										<table class="wfm-table wfm-filter-options">
											<thead>
												<tr>
													<th></th>
													<th>{{'Average'|translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{'ServiceLevel'|translate}}</td>
													<td class="number-cell service-level">{{viewObj.summary.summaryServiceLevel}} %</td>
												</tr>
												<tr ng-if="toggles.showEsl">
													<td>{{'ESL'|translate}}</td>
													<td class="number-cell esl">{{viewObj.summary.summaryEstimatedServiceLevel}} %</td>
												</tr>
												<tr ng-if="!viewObj.hasEmailSkill">
													<td>{{'AbandonedRate'|translate}}</td>
													<td class="number-cell abandoned-rate">{{viewObj.summary.summaryAbandonedRate}} %</td>
												</tr>
												<tr>
													<td>{{'AverageSpeedOfAnswer'|translate}}</td>
													<td class="number-cell average-speed-of-answer">{{viewObj.summary.summaryAverageSpeedOfAnswer}} {{'SecondShort'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="con-flex"></div>
								</div>
							</md-content>
							<md-content ng-cloak class="md-padding" ng-if="!viewObj.waitingForData && !viewObj.hasMonitorData">
								<div class="con-row">
									<div class="con-flex no-data-available">
										{{'NoDataAvailable'|translate}}
									</div>
								</div>
							</md-content>
						</md-tab>
						<md-tab label="{{'Staffing'|translate}}" ng-click="pollActiveTabDataHelper(activeTab)">
							<md-content ng-cloak class="md-padding" ng-if="viewObj.waitingForData">
								<div class="con-row">
									<div class="con-flex">
										<md-progress-linear md-mode="indeterminate"></md-progress-linear>
									</div>
								</div>
							</md-content>
							<md-content class="md-padding" ng-show="viewObj.hasMonitorData && !viewObj.waitingForData">
								<div class="con-row">
									<div class="con-flex">
										<div class="wfm-chart intraday-chart" id="staffingChart"></div>
									</div>
								</div>
							</md-content>
							<md-content ng-cloak class="md-padding" ng-if="!viewObj.waitingForData && !viewObj.hasMonitorData">
								<div class="con-row">
									<div class="con-flex no-data-available">
										{{'NoDataAvailable'|translate}}
									</div>
								</div>
							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>

<!-- <div class="con-row no-data-available" ng-cloak ng-hide="selectedSkill.Name || selectedSkillArea.Name">
<div class="con-flex">
<div class="panel full-padding material-depth-1">
<i class="mdi mdi-alert"></i> <span class="text-warning">{{selectedItem.Name}} {{'NoDataAvailable'|translate}}</span>
</div>
</div>
<div class="con-flex"></div>
<div class="con-flex"></div>
</div> -->

<div ng-cloak class="modal-box">
	<div ng-cloak ng-show="DeleteSkillAreaModal">
		<div class="modalbg">
			<div class="dialog-mini">
				<div class="modal-inner-content">
					<h3>{{selectedSkillArea.Name}}</h3> {{'AreYouSureYouWantToDelete'|translate}}
				</div>
				<div class="modal-actions">
					<aside>
						<button ng-click="toggleModal()" class="wfm-btn wfm-btn-invis-default">{{'Cancel'|translate}}</button>
						<button ng-click='deleteSkillArea(selectedSkillArea)' class="skill-area-delete-confirm wfm-btn wfm-btn-invis-default">{{'Delete'|translate}}</button>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
