<div class="view-header with-fab">
	<div class="view-title">
		<h1><i class="mdi mdi-compass-outline"></i> {{'CreateSkillArea'|translate}}</h1>
	</div>
</div>

<div class="con-row">
	<div class="con-flex">
		<div class="panel material-depth-1">
			<form name="form" class="wfm-form" novalidate ng-submit="saveSkillArea(form)">
				<div class="con-row">
					<div class="con-flex">
						<dl>
							<dd>
								<div class="form-input-wrap">
									<label for="skillAreaName">{{'Name'|translate}}: <input type="text" autofocus autocomplete="off" ng-model="skillAreaName" name="Name" ng-maxlength="45" maxlength="46" required="" id="skillAreaName"/></label>
									<div ng-cloak class="animate-input-message" ng-show ="form.$submitted || form.Name.$invalid">
										<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.required}" translate>
											NameRequired
										</div>
										<div class="form-input-message" ng-class="{formInvalidInput:form.Name.$error.maxlength}" translate>
											TextTooLong
										</div>
									</div>
								</div>
							</dd>
							<dd>
								<div class="form-input-wrap">
									<label for="skillAreaFilter">{{'Filter'|translate}}<input type="text" autocomplete="off" ng-model="areaFilter.Name" id="skillAreaFilter"/></label>
								</div>
							</dd>
							<dd>
								<div class="wfm-checkbox">
									<input type="checkbox" id="switchAll" ng-model="selectedFilter" />
									<label for="switchAll">
										<span class="wfm-checkbox-toggle"></span>
										<span class="wfm-checkbox-label">{{'GroupSelectedItems'|translate}} </span>
									</label>
								</div>
							</dd>
						</dl>
						<ul class="skill-area-list wfm-list" style="max-height:700px;">
							<li ng-click="skill.isSelected=!skill.isSelected" ng-hide="selectedFilter==true && !skill.isSelected" ng-repeat="skill in skills | filter:areaFilter">
								<span class="list-item-container">
									{{skill.Name}}
								</span>
								<span ng-cloak ng-show="skill.isSelected" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
							</li>
						</ul>
						<dl ng-show="!skillSelected()">
							<dd class="animate-input-message">
								<div class="form-input-message" ng-class="{formInvalidInput:!skillSelected()}">{{'SelectSkill'|translate}}</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="con-footer">
					<button class="wfm-btn wfm-btn-invis-default" ng-click="exitConfigMode()">{{'Cancel'|translate}}</button>
					<button ng-if="skillAreaName && skillSelected()" class="wfm-btn wfm-btn-invis-primary skill-area-save" type="submit">{{'Create'|translate}} {{skillAreaName}}</button>
				</div>
			</form>
		</div>
	</div>
	<div class="con-flex split-2-1"></div>
</div>
