<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teleopti.Ccc.UserTexts.Avayatheme" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Teleopti.Ccc.UserTexts.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Teleopti.Ccc.UserTexts.Avayatheme>
            <setting name="XptaskBarHeaderColor" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="XptaskBarBackground" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="ForecasterTemplateNaturalDayButton" serializeAs="String">
                <value>40, 255, 40</value>
            </setting>
            <setting name="ChartInteriorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartInteriorForeColor" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="ChartControlBackInteriorForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartControlBackInteriorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartAreaBackInteriorForeColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ChartAreaBackInteriorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ChartControlChartInteriorForeColor" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="ChartControlChartInteriorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartControlBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RibbonContextTabColor" serializeAs="String">
                <value>200, 200, 200</value>
            </setting>
            <setting name="GradientPanelBackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="RibbonBaseColor" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="TabBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridExteriorColor" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="GridInteriorColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StandardForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridClosedCellColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridHolidayHeaderColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="GridHolidayCellColor" serializeAs="String">
                <value>255, 243, 222</value>
            </setting>
            <setting name="StandardPanelBackgroundColor" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="StandardFormBackgroundColor" serializeAs="String">
                <value>154, 154, 154</value>
            </setting>
            <setting name="StandardContextMenuBackgroundColor" serializeAs="String">
                <value>235, 235, 235</value>
            </setting>
            <setting name="GridClosedCellFontColor" serializeAs="String">
                <value>95, 95, 95</value>
            </setting>
            <setting name="TabCtrlTabForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TabCtrlTabBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TabCtrlBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PoweredBytextColor" serializeAs="String">
                <value>80, 80, 80</value>
            </setting>
            <setting name="TabCtrlUnselectedTabFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="TabCtrlOffice2007ColorScheme" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TabCtrlTabPanelBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="RibbonForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DockingManagerCtrlOffice2007MdiColorScheme" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DockingManagerCtrlOffice2007Theme" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridCtrlGridVisualStyle" serializeAs="String">
                <value>Office2007Black</value>
            </setting>
            <setting name="RibbonCtrlPanelForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
        </Teleopti.Ccc.UserTexts.Avayatheme>
        <Teleopti.Ccc.UserTexts.ThemeSettings>
            <setting name="ForecasterTemplateNaturalDayButton" serializeAs="String">
                <value>40, 255, 41</value>
            </setting>
            <setting name="XptaskBarHeaderColor" serializeAs="String">
                <value>199, 216, 237</value>
            </setting>
            <setting name="XptaskBarBackground" serializeAs="String">
                <value>216, 228, 246</value>
            </setting>
            <setting name="ChartInteriorBackColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="ChartInteriorForeColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ChartControlBackInteriorForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartControlBackInteriorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartAreaBackInteriorForeColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ChartAreaBackInteriorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ChartControlChartInteriorForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartControlChartInteriorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ChartControlBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RibbonContextTabColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="GradientPanelBackgroundColor" serializeAs="String">
                <value>216, 228, 246</value>
            </setting>
            <setting name="RibbonBaseColor" serializeAs="String">
                <value>157, 185, 235</value>
            </setting>
            <setting name="TabBackgroundColor" serializeAs="String">
                <value>216, 228, 246</value>
            </setting>
            <setting name="GridExteriorColor" serializeAs="String">
                <value>227, 235, 245</value>
            </setting>
            <setting name="GridInteriorColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StandardForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridClosedCellColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridHolidayHeaderColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="GridHolidayCellColor" serializeAs="String">
                <value>255, 243, 222</value>
            </setting>
            <setting name="StandardPanelBackgroundColor" serializeAs="String">
                <value>195, 211, 232</value>
            </setting>
            <setting name="StandardFormBackgroundColor" serializeAs="String">
                <value>190, 206, 236</value>
            </setting>
            <setting name="StandardContextMenuBackgroundColor" serializeAs="String">
                <value>232, 240, 250</value>
            </setting>
            <setting name="GridClosedCellFontColor" serializeAs="String">
                <value>95, 95, 95</value>
            </setting>
            <setting name="StandardOfficeFormBackground" serializeAs="String">
                <value>227, 239, 255</value>
            </setting>
        </Teleopti.Ccc.UserTexts.ThemeSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
